.nagarro-banner {
  margin: 2% 7%;
  padding: 2% 4%;
  background-color: #f5fcff;
  height: 478px;
  color: #6699cc;

  .information {
    padding-top: 3%;
    width: 50%;
    height: 262px;

    .title {
      color: #384181;
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 20px; 
    }

    .sub {
      margin-bottom: 55px;
    }

    .highlights {
      display: flex;
      margin-bottom: 54px;

      .highlight {
        text-align: center;
        width: 80px;
        margin-right: 30px;

        img {
          margin: 1%;
        }
      }
    }

    .button-solid {
      width: 100px;
      background: linear-gradient(to right, #384181, #346e98);
    }
  }

  .banner-image {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    img {
      width: 580px;
    }
  }

  .logo {
    position: absolute;
    width: 140px;
    right: 12%;
    top: 100px;
    z-index: 2;
  }
}
