@media all and (max-width: 1048px){
  .home-container{
    padding-left: 0;

    .input-search{
      display: block;
      margin:0 auto;
      width: 80%;
    }
  }

  .phone{
    height: auto;
    transform: none;
  }

  .home-heading{
    text-align: center;
    font-size: $font-md;
  }

  nav{
    .input-search{
      display: none;
    }
  }

  .home-column{
    display: none;
  }

  .home-img{
    margin: 0;
    left: unset;
    width: 68%;
  }
}

.testclass{
  width: 100px;
}

@media all and(max-width: 767px){
  .home-img{
    max-width: unset;
  }

  .home-row{
    margin-bottom: 20%;
  }
}

@media all and (max-width: 575px){
  .c-offerings{
    .left{
      width: 85%;
    }
  
    .right{
      width: 90px;
    }
  
    .offering-card-heading{
      margin-bottom: 15px;
    }
  }
}