@media screen and (max-width: 1200px) {
  .o-app-page {
    .button-dashed {
      font-size: $global-font-size;
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .o-app-page{
    .border-card {
      width: 100%;
    }
  }
}

@media screen and (max-width: 575px) {
  .o-app-page{
    .heading-u-red {
      margin-bottom: 20px;
    }

    .heading {
      font-size: $global-font-size;
    }

    .button-dashed {
      font-size: $card-md;
      width: 30%;
    }

    .border-card {
      width: 100%;
      padding-bottom: 90px;
      padding-top: 20px;
    }

    .button-row {
      bottom: 30px;
    }
  }
}