@media screen and (max-width: 767px){
  .c-login{
    padding: 35px 50px;
  }
}

@media screen and (max-width:  575px){
  .c-login{
    padding: 30px 30px;
    width: 90%;

    .button-solid{
      font-size: $card-md;
    }
  }
}