@media screen and (min-width: 992px) {
  .c-referral-code {
    flex-direction: row;
    justify-content: space-between;
    @include padding-s(15px, 50px);

    .coupon {
      display: flex;
      align-items: center;

      .text {
        font-size: 1.2rem;
        margin-right: 10px;
      }

      .code {
        font-size: 1.5rem;
      }
    }

    .description {
      margin-top: 0;
    }

    .shares {
      font-size: 2.5rem;
    }
  }
}