@media screen and (max-width: 1200px) {
  .card-layout {
    flex: 0 0 50% ;
    max-width: 50% ;
  }

  .o-profile {
    .details {
      @include padding-mixin(40px, 40px, 40px, 40px);
      font-size: $font-xs;
    }

    .button-circle {
      @include margin(0, 0, 20px, 0);
      @include dimensions(60px, 60px);
      font-size: $card-sm;
    }

    .round-img {
      left: 28%;
    }

    .heading-u-red {
      @include padding-mixin(0, 280px, 33px, 0);
    }

    .auth-link {
      font-size: $font-xs;
    }
  }

}

@media screen and (min-width: 632px) and (max-width: 832px) {

  .grid {
    margin: 0;
  }

  .card-layout {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-image {
    float: left;
    margin-right: 15px;
  }

  .o-profile {
    .nav-info {
      display: none;
    }

   .details {
      @include padding-mixin(25px, 10px, 25px, 10px);
      font-size: $font-xs;
    }

    .button-circle {
      @include margin(0, 0, 20px, 0);
      @include dimensions(60px, 60px);
      font-size: $card-sm;
    }

    .flex-row {
      @include padding-mixin(0, 0, 0, 0);
      font-weight: $font-medium;
    }

    .heading-u-red {
      @include padding-mixin(0, 180px, 10px, 0);
      font-size: $font-mds;
    }

    .auth-link {
      font-size: $font-xs;
    }
  }

  .card-heading {
    float: left;
    display: contents;
    overflow: hidden;
    max-width: 40%;
    font-size: 1rem;
  }

  .card-text {
    overflow: hidden;
    width: 70%;
    display: inline-block;
    font-size: 1rem;
  }

  .card-mentor {
    display: flex;
  }

  .card-mentor-image {
    padding-bottom: 16.5%;
    width: 16.5%;
    height: 0;
    margin-left: -50px;
  }

  .card-mentors {
    height: 50% !important;
    position: absolute !important;
    width: 50% !important;
  }

  .card {
    height: 45vw;
    padding-top: 40px;
  }

  .card-image {
    width: 10%;
  }

  .card-text {
    display: block;
  }
  .grid {
    .o-image-card {
      padding-top: 0;
    }
    .row {
      padding:0;
    }
  }

  .o-layout-card {
    .button-solid {
      left: 50%;
      top: -5px;
    }
  }

  .button-dashed {
    margin: 20px auto;
  }
}

@media screen and (max-width: 632px) {
  .button-dashed {
    margin: 20px auto;
  }

  .card-layout {
    flex: 0 0 100% ;
    max-width: 100% ;
  }

  .card-mentor-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    top: 1px;
  }
  
  .o-profile {
    .nav-info {
      display: none;
    }

    .links {
      @include padding-mixin (10px, 0, 10px, 0);
    }

   .details {
     @include padding-mixin(25px, 20px, 25px, 20px);
     font-size: $card-sm;
     font-weight: $font-medium;
    }

    .button-circle {
      @include margin(0, 0, 10px, 0);
      @include dimensions(30px, 30px);
      font-size: $card-xs;
    }

    .button-solid {
      font-size: $card-sms;
    }

    .heading-u-red {
      @include padding-mixin(0, 133px, 13px, 0);
      font-size: $card-md;
    }

    .auth-link {
      font-size: $card-sm;
    }

    .attributes {
      .flex-row {
        @include padding-mixin(20px, 0, 10px, 0);
        justify-content: space-between;
      }
    }

    .flex-row {
      @include padding-mixin(0, 0, 0, 0);
      font-weight: $font-medium;
    }
  } 

  .card-mentor-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
  }


  .card-price-details {
    text-align: center;
    width: 100%;
  }

}


@media screen and (max-width: 578px) {
  .o-layout-card {
    .button-solid {
      position: relative;
      margin: 4% auto;
      left: 0;
    }
  }

}
