@media screen and (max-width: 1200px) {
  .card-layout {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .o-layout-card {
    padding-top: 20px;
    padding-bottom: 20px;

    .footer {
      text-align: left;
      font-size: $global-font-size;
    }

    .card-mentor{
      margin:  0;
    }

    .card-mentors:nth-child(2) {
      z-index: 99;
      margin-left: 20px;
    }

    .rating {
      margin: 0;
    }

    .card-mentor-divider {
      margin-top: 0;
    }

    .status-circle{
      padding-bottom: 13%;
      width: 13%;
    }

    .header{
      margin-bottom: 18px;
    }

    .price-detail{
      margin:  0;
    }
  }

  .grid {
    margin: 0;

    .row {
      padding: 0;
    }
  }

  .card-layout {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-heading {
    overflow: hidden;
    max-width: 67%;
    margin-top: 10px;
  }

  .card-text {
    overflow: hidden;
    width: 67%;
    display: inline-block;
    font-size: 1rem;
  }

  .card-mentor {
    display: flex;
  }

  .card-mentor-image {
    padding-bottom: 11%;
    width: 11%;
  }

  .card-mentors {
    height: 50% !important;
    position: absolute !important;
    width: 50% !important;
    left: 0;
    top: 0;
  }
  
  .card-price-details {
    float: right;
  }

  .card-image {
    width: 10%;
  }

  .button-dashed {
    margin: 20px auto;
  }

  .card, .card-text, .card-heading {
    height: auto;
  }

  .o-image-card {
    padding-top: 0;
    padding-right: 15px;
    margin: 0;
    float: left;
    width: 11%;
    min-width: 68px;
  }

  .o-course-card {
    .card-price-details {
      float: right;
    }

    .card-price-details {
      text-align: right;
    }

    .card-heading {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .o-layout-card{
    @include padding-s(10px, 12px);

    .pos-rating, .neg-rating, .edit-rating, .footer, .card-batches, .card-batch-details,{
      font-size: $card-sms;
    }

    .status-circle{
      right: 12px;
    }
  }

  .o-course-card{
    .header{
      margin-bottom: 15px;
    }

    .difficulty-div{
      top: 13px;
    }
  }


  .grid{
    padding: 0;
  }

  .card-layout {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .card-mentor-text {
    font-size: $card-sms;
    padding-left: 0;
    top: 0;
  }

  .card-mentor-name, .footer, .card-text, .button-solid,{
    font-size: $card-sm;
  }

  .o-image-card {
    min-width: 50px
  }

  .button-dashed {
    margin: 20px auto;
  }

  .card-mentor-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rating {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .card {
    height: auto;
  }

  .card-text, .card-heading {
    height: auto;
  }

  .card-heading{
    font-size: $card-md;
    margin: 0;
  }
  
  .card-price-details {
    text-align: left;
    width: 100%;
  }

  .expert-level{
    @include dimensions(15px, 15px);
    @include border(3px, solid, $button-element-level);
  }

  .expert-text{
    font-size: $card-sms;
  }

  .button-solid{
    height: 30px;
  }

  .card-mentor-divider{
    @include margin-s(10px, 0);
  }
}
