@media screen and (max-width: 1200px) {
  .c-profile-edit {
    .round-img {
      @include dimensions(100px, 100px);
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .c-profile-edit {
    .round-img {
      @include dimensions(80px, 80px);
    }

    .button-solid {
      @include margin(0, 20px, 0, 0);
    }

    .profile-row {
      @include margin(20px, 0, 40px, 0);
    }
  }
}

@media screen and (max-width: 575px) {
  .c-profile-edit {
    .round-img {
      @include dimensions(50px, 50px);
    }

    .attributes {
      .label-input {
        width: 20%;
      }

      .detail-row {
        @include margin(0, 0, 10px, 0);
      } 
    }
    
    .profile-row {
      @include margin(10px, 0, 30px, 0);
    }
  }
}
