@media screen and (max-width: 575px){
    .c-doubt{
        .doubt-head{
            .round-img {
                @include dimensions(35px, 35px)
            }
    
            .author-name {
                margin-left: 13px;  
                font-size: $font-xs;
    
                .time {
                    font-size: $card-sm;
                    color: $navLink;
                }
            }
    
            .text {
                margin-right: 10px;
            }
    
            .reply {
                width: 8%;
                min-width: 73px;
                font-size: $card-sm;
            }
        }
    }

    .doubt-body{
        text-align: justify;
        font-size: $card-md;
    }
}

