@media all and (max-width: 490px){
  .hading-d{
    width: 63%;
  }
}

@media all and (max-width: 767px){
  .c-announcement{
    .notify-icon{
      width: 0;

      img{
        display: none;
      }
    }

    .accordian-li{
      @include padding-mixin(4%, 7%, 10%, 6%);
    }
  }
}

@media all and(max-width: 575px){
  .c-announcement{
    .main-h{
      font-size: $font-xs;
    }

    .sub-h{
      font-size: $card-sm;
    }

    .round-img{
      @include dimensions(35px, 35px);
    }

    .classroom-para{
      font-size: $card-md;
    }
  }
}