@media screen and (max-width: 767px){
  .auth-link{
    font-size: $card-md;

    .button-circle{
      font-size: $card-sms;
    }
  }
}

@media screen and (max-width: 575px){
  .auth-link{
    margin-right: 9%;
    
    .link-text{
      display: none;
    }
  }
}
