@media screen and (max-width: 1200px) {
  .card-layout {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .c-layout-card {
    padding: 0;

    .footer {
      text-align: left;
      font-size: $global-font-size;
    }

    .card-mentor{
      margin:  0;
    }

    .rating {
      margin: 0;
    }

    .status-circle{
      padding-bottom: 13%;
      width: 13%;
    }

    .header{
      margin-bottom: 4%;
    }

    .price-detail{
      margin:  0;
    }
  }

  .grid {
    margin: 0;

    .row {
      padding: 0;
    }
  }

  .card-layout {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-heading {
    overflow: hidden;
    max-width: 65%;
    margin-top: 10px;
  }

  .card-text {
    overflow: hidden;
    width: 65%;
    display: inline-block;
    font-size: 1rem;
  }

  .card-mentor {
    display: flex;
  }
  
  .card-price-details {
    float: right;
  }

  .card-image {
    width: 10%;
  }

  .card, .card-text, .card-heading {
    height: auto;
  }

  .c-image-card {
    padding-top: 0;
    padding-right: 15px;
    margin: 0;
    float: left;
    width: 11%;
    min-width: 68px;
  }

  .c-course-card {
    .card-price-details {
      float: right;
      text-align: right;
    }

    .card-heading {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 575px) {
  .c-layout-card{
    .pos-rating, .neg-rating, .edit-rating, .footer, .card-batches, .card-batch-details{
      font-size: $card-sms;
    }

    .status-circle{
      right: 12px;
    }
  }

  .c-course-card{
    .difficulty-div{
      top: 13px;
    }
  }

  .grid{
    padding: 0;
  }

  .card-layout {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .card-mentor-text {
    font-size: $card-sms;
    padding-left: 5px;
    top: 0;
  }

  .card-mentor-name, .footer, .card-text, .button-solid, .button-dashed{
    font-size: $card-sm;
  }

  .c-image-card {
    min-width: 50px
  }

  .butt n-dashed {
    margin: 20px auto;
  }

  .rating {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .card {
    height: auto;
  }

  .card-text, .card-heading {
    height: auto;
  }

  .card-heading{
    font-size: $card-md;
    margin: 0;
  }
  
  .card-price-details {
    text-align: left;
    width: 100%;
  }

  .expert-level, .beginner-level, .advanced-level{
    @include dimensions(15px, 15px);
    border-width: 3px;
  }

  .expert-text, .beginner-text, .advanced-text{
    font-size: $card-sms;
  }

  .button-solid, .button-dashed{
    padding: 5px 10px;
  }

  .card-mentor-divider{
    @include margin-s(10px, 0);
  }
}
