@media all and (max-width: 767px){
  .c-content-section{
    height: 100vh;

    .content-section{
      overflow: auto;
    }

    .dashboard{
      width: 100%;
      padding-left: 10px;
      padding-right: 0;
    }

    .button-solid{
      max-width: 170px;
    }

    .content{
      position: static;
      width: 100% !important;
      height: unset;
    }

    .section{
      @include dimensions(100%, 100%);
      height: auto;
      border-right: unset;
    }

    .main-h, .sub-h, .notify-text, .button-solid, .header{
      font-size: $global-font-size;
    }

    .video-player{
      padding: 10% 0;
    }

    .select-box{
      display: block;
      right: 46%;
      bottom: 1%;
    }

    .notify-text{
      padding-right: 20px;
      margin-left: 0;
      display: none;
    }

    .tab-nav{
      height: 75px;
    }

    .tab-items{
      display: flex;
      font-size: $font-sm;
    }

    .section-tabs{
      height: auto;
    }

    .curtains{
      flex-direction: column;

      .left, .main, .right{
        width: 100%;
      }

      .main {
        height: 50%;
      }
    }
  }
}

@media all and (max-width: 575px) {
  .c-content-section{
    margin-top: -60px;

    .header{
      height: 75px;
    }

    .notes-list{
      .list-item{
        padding-left: 0;
        padding-right: 0;
      }
    }

    .content-container{
        height: calc(100% - 75px);
    }
  }

  .section{
    .c-accordion{
      .row{
        padding-left: 3%;
      }
    }
  }
}