@media screen and (min-width: 576px) and (max-width: 767px) {
  .online-card {
    font-size: $font-xs;
  }
}

@media screen and (max-width: 575px) {
  .online-card {
    display: flex;

    .head {
      width: 45%;
      height: auto; 

      .front-text {
        @include padding-mixin (15px, 5px, 15px, 5px);

        .round-img-b {
          min-height: 40px;
          width: 40px;
          height: 40px;
        }

        .course-name {
          margin-top: 7px;
          font-size: $card-md;
        }

        .course-description {
          font-size: $card-sms;
        }
        
        .rating {
          margin-top: 6px;
          .pos-rating {
            font-size: $card-sm;
          }

          .neg-rating {
            font-size: $card-sm;
          }
        }
      }
    }

    .foot {
      width: 65%;
      @include padding-mixin (15px, 10px, 0, 10px);

      .card-mentor {
        .card-mentors {
          width: 25px;
          height: 25px;
        }

        .card-mentor-text {
          font-size: $card-sms;
        }

        .card-mentor-name {
          font-size: $card-sm;
        }
      }

      .button-row {
        margin-top: 10px;
        font-size: $card-sms;
      }
    }
  }
}
