@media screen and (max-width: 767px) {
  .c-summary {
    .classroom-para {
      display: block;
      margin-top: 8px;
    }

    .rating {
      display: inline-block;
    }
  }

  .c-buy-top {
    display: none;
  }

  .c-buy-right {
    position: relative;
    width: 100%;
    top: 0;
    margin-top: 35px;

    &.slide-right{
      transform: unset;
    }
    
    .button-dashed {
      margin: 0;
    }
  }

  .c-summary .para {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 575px) {
  .c-summary {
    height: auto;

    .classroom-para {
      font-size: 1rem;
    }
  }

  .c-buy-right {
    margin-top: 15px;
    height: auto;
  }

  .c-buy-right.slide-right {
    transform: none;
  }

  .rating {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .pos-rating {
    font-size: 1rem;
  }
  .neg-rating {
    font-size: 1rem;
  }

  .para {
    font-size: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 852px) {
  .c-buy-top {
    .button-dashed {
      margin-right: 0;
    }
  }
}
