{{> nav-bar }}
<div class="c-buy-top slide-up row no-gutters justify-content-between">
    <div class="col-6 align-self-center">
        <div class="row no-gutters">
            <div class="card-image col-2">
                <img class="round" src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
            </div>
            <div class="align-self-center white col-10 pl-4">
                <div class="font-md">
                    Competitive Programming
                </div>
                <div class="font-xs">
                    Taught By : Prateek Narang, Arnav Gupta, +2 More
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 align-self-center">
        <div class="row justify-content-end">
            <button class="button-dashed col-6">ENROLL VIA OTP</button>
            <button class="button-solid col-6">Buy Now</button>
        </div>
    </div>

</div>

<div class="container mt-5">
    <div class="c-summary row mb-5">
        <div class="col-12 col-md-7 pr-md-5">
            <div class="img-desc no-gutters mb-3">
                <div class="col-3 col-sm-2 pr-4">
                    <img class="round" src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
                </div>
                <div class="description col-9 col-sm-7 pl-3">
                    <div>
                        <h2 class="mb-2">Android App Development</h2>
                        <div class="grey font-mds mb-2">
                            Learn how to make ubercool Android Apps
                            with Java and Kotlin
                        </div>
                        <div class="font-mds bold mb-3">
                            Taught By: <span class="grey">Arnav Gupta, Harshit Dwivedi</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="d-flex badge">
                    <h3 class="white col-10 col-sm-8">
                        Get Certified & Win Goodies.
                        <br>
                        <span class="red">with this course</span>
                    </h3>
                    <img src="/images/stamp.png" alt="Coding Blocks Pvt Ltd">
                </div>

                <h3 class="mb-3 mt-5">
                    Summary
                </h3>

                <div class="para summary grey">
                    Our Android Development online course facilitates and boosts your journey right from the
                    fundamentals of UI to building
                    a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
                    and 5 live webinars,
                    covers the concepts such as UI design, firebase & push notifications, hardware sensors,
                    networking, and databases.
                    interactive applications.
                </div>

                <p class="mt-5">
                    Major Topics Covered
                </p>

                <div>
                    <span class="pill m-1">Flow Charts</span>
                    <span class="pill m-1">Conditionals and Loops</span>
                    <span class="pill m-1">Strings</span>
                    <span class="pill m-1">Operators and Patterns</span>
                    <span class="pill m-1">Operators and Patterns</span>
                    <span class="pill m-1">Functions</span>
                </div>
                {{!-- </div> --}}
            </div>

            <h3 class="mb-4">Student Feedback</h3>

            <div class="row c-rating-stats no-gutters">
                <div class="col-4 score">
                    <span class="font-lg bold">4.9</span> <span class="bold font-md">out of 5</span>

                    <div class="rating">
                        <span class="pos-rating pr-2">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="pos-rating pr-2">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="pos-rating pr-2">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="pos-rating pr-2">
                            <i class="fas fa-star"></i>
                        </span>
                        <span class="neg-rating">
                            <i class="fas fa-star"></i>
                        </span>
                    </div>

                    <div class="font-md extra-bold">
                        360 Ratings
                    </div>
                </div>
                <div class="col-8 stats">
                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <progress value="0.7"></progress>
                        </div>
                        <div class="col-5 rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <progress value="0.4"></progress>
                        </div>
                        <div class="col-5 rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <progress value="0.8"></progress>
                        </div>
                        <div class="col-5 rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <progress value="0.3"></progress>
                        </div>
                        <div class="col-5 rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <progress value="0.5"></progress>
                        </div>
                        <div class="col-5 rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-5 pr-md-0">
            <div class="c-buy-right">
                <div class="border-card">
                    <div class="card-video">
                        <iframe class="video" src="https://www.youtube.com/embed/mFbitwLUCRs" controls allowfullscreen></iframe>
                    </div>
                    <div class="button-container row justify-content-center">
                        <button class="button-solid col-5">BUY NOW TO ENROLL</button>
                        <button class="button-dashed col-5">ENROLL VIA OTP</button>
                    </div>


                    <div class="course-features">
                        <div class="row justify-content-center">
                            <div class="col-6 d-flex align-items-center mb-5">
                                <div class="col-5 pl-0">
                                    <img src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg"
                                        alt="">
                                </div>
                                <div class="col-7 align-self-center font-sm pr-0">
                                    30+ Hours Video Content
                                </div>
                            </div>

                            <div class="col-6 d-flex align-items-center mb-5">
                                <div class="col-5 pl-0">
                                    <img src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg"
                                        alt="">
                                </div>
                                <div class="col-7 align-self-center font-sm pr-0">
                                    Revise &
                                    Revisit Topics
                                </div>
                            </div>

                            <div class="col-6 d-flex align-items-center mb-5">
                                <div class="col-5 pl-0">
                                    <img src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg"
                                        alt="">
                                </div>
                                <div class="col-7 align-self-center font-sm pr-0">
                                    Certification of
                                    Completion
                                </div>
                            </div>

                            <div class="col-6 d-flex align-items-center mb-5">
                                <div class="col-5 pl-0">
                                    <img src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg"
                                        alt="">
                                </div>
                                <div class="col-7 align-self-center font-sm pr-0">
                                    24*7 Mentor
                                    Support
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="footer">
                        <img class="floating-img" src="/images/free.png" alt="free">
                        <div class="row red">
                            <div class="col-8">
                                Get a <span class="white">Wildcraft Backpack</span> and
                                lots of goodies with this course!
                            </div>
                            <div class="col-4">
                                <img src="/images/wildcraft.png" alt="wildcraft">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row rating-carousel">
        <div class="col-8 col-md-4 col-lg-3">
            <div class="border-card round c-rating-card">
                <div class="row justify-content-between no-gutters">
                    <div class="bold font-sm">Sid_90</div>
                    <div class="grey card-md">8 hours ago</div>
                </div>

                <div class="heading text-ellipses">
                    Great Experience! fantastic experience! Had a great time learning from the fantastic teachers.
                </div>

                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="neg-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>

                <div class="review grey">
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                </div>
            </div>
        </div>
        <div class="col-8 col-md-4 col-lg-3">
            <div class="border-card round c-rating-card">
                <div class="row justify-content-between no-gutters">
                    <div class="bold font-sm">Sid_90</div>
                    <div class="grey card-md">8 hours ago</div>
                </div>

                <div class="heading text-ellipses">
                    Great Experience! fantastic experience! Had a great time learning from the fantastic teachers.
                </div>

                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="neg-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>

                <div class="review grey">
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                </div>
            </div>
        </div>

        <div class="col-8 col-md-4 col-lg-3">
            <div class="border-card round c-rating-card">
                <div class="row justify-content-between no-gutters">
                    <div class="bold font-sm">Sid_90</div>
                    <div class="grey card-md">8 hours ago</div>
                </div>

                <div class="heading text-ellipses">
                    Great Experience! fantastic experience! Had a great time learning from the fantastic teachers.
                </div>

                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="neg-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>

                <div class="review grey">
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                </div>
            </div>
        </div>

        <div class="col-8 col-md-4 col-lg-3">
            <div class="border-card round c-rating-card">
                <div class="row justify-content-between no-gutters">
                    <div class="bold font-sm">Sid_90</div>
                    <div class="grey card-md">8 hours ago</div>
                </div>

                <div class="heading text-ellipses">
                    Great Experience
                </div>

                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="neg-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>

                <div class="review grey">
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                </div>
            </div>
        </div>

        <div class="col-8 col-md-4 col-lg-3">
            <div class="border-card round c-rating-card">
                <div class="row justify-content-between no-gutters">
                    <div class="bold font-sm">Sid_90</div>
                    <div class="grey card-md">8 hours ago</div>
                </div>

                <div class="heading text-ellipses">
                    Great Experience
                </div>

                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="neg-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>

                <div class="review grey">
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                    The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend
                    this
                    to start and get an idea about how Shopify works.
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-9">
            <h3 class="mb-5">What will you learn?</h3>
            <div class="border-card c-accordion-card">
                <div class="c-accordion c-about-accordion">
                    <div class="list-divided border-none">
                        <div class="list-divided border-none">
                            <div class="row no-gutters pointer">
                                <div class="li-left col-12 col-sm-8">
                                    <div class="col-1">-</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4 dsp-none-xs">
                                    <div>
                                        4 Lectures
                                    </div>
                                    <div>
                                        03:34
                                    </div>
                                </div>
                            </div>
                            <div class="pb-4 pt-4">
                                <div class="row red no-gutters pointer">
                                    <div class="li-left col-12 col-sm-8">
                                        <div class="col-1 code-icon-red content-icon"></div>
                                        <div class="col-10">
                                            Chewbacca and Number, HackerBlocks Tutorial
                                        </div>
                                    </div>
                                    <div class="li-right dsp-none-xs col-4">
                                        <div>Preview</div>
                                        <div class="grey">03:34</div>
                                    </div>
                                </div>

                                <div class="row red no-gutters pointer">
                                    <div class="li-left col-12 col-sm-8">
                                        <div class="col-1 play-icon-red content-icon"></div>
                                        <div class="col-10">
                                            Tavas and SaDDas, Codeforces 535-B
                                        </div>
                                    </div>
                                    <div class="li-right no-gutters dsp-none-xs col-4">
                                        <div class="col-6">
                                            Preview
                                        </div>
                                        <div class="grey col-6">03:34</div>
                                    </div>
                                </div>

                                <div class="row grey no-gutters pointer">
                                    <div class="li-left col-12 col-sm-8">
                                        <div class="col-1 play-icon-red content-icon"></div>
                                        <div class="col-10">
                                            Fast Exponentiation

                                        </div>
                                    </div>
                                    <div class="li-right dsp-none-xs col-4">
                                        <div class="t-align-c">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                        <div class="grey">03:34</div>
                                    </div>
                                </div>

                                <div class="row grey no-gutters pointer">
                                    <div class="li-left col-12 col-sm-8">
                                        <div class="col-1 play-icon-red content-icon"></div>
                                        <div class="col-10">
                                            Unique Number-III, Hackerblocks, Bitmasking
                                        </div>
                                    </div>
                                    <div class="li-right dsp-none-xs col-4">
                                        <div class="t-align-c">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                        <div class="grey">03:34</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-divided border-none">
                            <div class="row no-gutters pointer">
                                <div class="li-left col-12 col-sm-8">
                                    <div class="col-1">-</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4 dsp-none-xs">
                                    <div>
                                        4 Lectures
                                    </div>
                                    <div>
                                        03:34
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-divided border-none">
                            <div class="row no-gutters pointer">
                                <div class="li-left col-12 col-sm-8">
                                    <div class="col-1">-</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4 dsp-none-xs">
                                    <div>
                                        4 Lectures
                                    </div>
                                    <div>
                                        03:34
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-divided border-none">
                            <div class="row no-gutters pointer">
                                <div class="li-left col-12 col-sm-8">
                                    <div class="col-1">-</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4 dsp-none-xs">
                                    <div>
                                        4 Lectures
                                    </div>
                                    <div>
                                        03:34
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 col-md-3">
            <h3 class="mb-5">Projects</h3>
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="img-card">
                        <div class="head">
                            <img class="back-img" src="images/android.svg">
                            <div class="content white">
                                <h4>Project 1</h4>
                            </div>
                        </div>
                        <div class="foot">
                            <h4>Log Analysis</h4>
                            <div class="card-md">
                                Analyze data from the logs of a web service to answer questions such as "What is the
                                most popular page?" and "When was
                                the error rate high?" using advanced SQL queries
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="img-card">
                        <div class="head">
                            <img class="back-img" src="images/android.svg">
                            <div class="content white">
                                <h4>Project 1</h4>
                            </div>
                        </div>
                        <div class="foot">
                            <h4>Log Analysis</h4>
                            <div class="card-md">
                                Analyze data from the logs of a web service to answer questions such as "What is the
                                most popular page?" and "When was
                                the error rate high?" using advanced SQL queries
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="img-card">
                        <div class="head">
                            <img class="back-img" src="images/android.svg">
                            <div class="content white">
                                <h4>Project 1</h4>
                            </div>
                        </div>
                        <div class="foot">
                            <h4>Log Analysis</h4>
                            <div class="card-md">
                                Analyze data from the logs of a web service to answer questions such as "What is the
                                most popular page?" and "When was
                                the error rate high?" using advanced SQL queries
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="c-about-instructors mt-5">
    <div class="container">
        <h3 class="mb-5">
            About Instructors
        </h3>

            <div class="row no-gutters">
                <div class="col-12 col-md-6 mb-5">
                    <div class="img-desc row no-gutters">
                        <div class="col-3 pr-4">
                            <img class="round" src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg"
                                alt="">

                        </div>
                        <div class="description col-8">
                            <div class="heading-d">
                                <h4 class="bold">
                                    Prateek Narang
                                </h4>
                                <div class="red font-sm mb-3">
                                    Founding Member, Coding Blocks
                                </div>
                                <div class="classroom-para">
                                    Coding Blocks is pleased to bring you the ultimate competitive programming course,
                                    hand
                                    crafted Coding Blocks is pleased to bring you the ultimate competitive programming
                                    course, hand crafted
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="col-12 col-md-6">
                    <div class="img-desc row no-gutters">
                        <div class="col-3 pr-4">
                            <img class="round" src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg"
                                alt="">

                        </div>
                        <div class="description col-8">
                            <div class="heading-d">
                                <h4 class="bold">
                                    Prateek Narang
                                </h4>
                                <div class="red font-sm mb-3">
                                    Founding Member, Coding Blocks
                                </div>
                                <div class="classroom-para">
                                    Coding Blocks is pleased to bring you the ultimate competitive programming course,
                                    hand
                                    crafted Coding Blocks is pleased to bring you the ultimate competitive programming
                                    course, hand crafted
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
    </div>
</div>


<div class="c-testimonial-video">
    <div class="back-div bg-gradient-black-lr"></div>
    <h2 class="white">What our students say about us</h2>
    <h2 class="yellow semi-bold">Rashid Saifi shares his experience of Web Development Course</h2>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/h_YmJLN9IgY" frameborder="0"></iframe>
        </div>
</div>

<div class="container mt-5">
    <div class="row mb-5 pb-5">
        <div class="c-testimonial col-12 flex-col col-md-4">
            <div class="dialog mb-2">
                <div class="content">
                    I did three courses and was extremely happy with all the courses. They provide quality content, the
                    support from
                    faculty
                    and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different
                    companies.

                </div>
                <div class="footer bold">
                    Placed at:
                    <div class="img-container">
                        <img src="images/amazon-logo.svg" alt="">
                    </div>

                </div>
            </div>
            <div class="round-img mb-3 mt-4">

            </div>
            <div class="extra-bold font-sm">
                Siddharth Jain
            </div>
            <div class="semi-bold font-sm">
                Android Development
            </div>
        </div>

        <div class="c-testimonial col-12 flex-col col-md-4">
            <div class="dialog mb-2">
                <div class="content">
                    I did three courses and was extremely happy with all the courses. They provide quality content, the
                    support from
                    faculty
                    and mentors was amazing.
                </div>
                <div class="footer bold">
                    Placed at:
                    <div class="img-container">
                        <img src="images/amazon-logo.svg" alt="">
                    </div>

                </div>
            </div>
            <div class="round-img mb-3 mt-4">

            </div>
            <div class="extra-bold font-sm">
                Siddharth Jain
            </div>
            <div class="semi-bold font-sm">
                Android Development
            </div>
        </div>

        <div class="c-testimonial col-12 flex-col col-md-4">
            <div class="dialog mb-2">
                <div class="content">
                    I did three courses and was extremely happy with all the courses. They provide quality content, the
                    support from
                    faculty
                    and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different
                    companies.
                </div>
                <div class="footer bold">
                    Placed at:
                    <div class="img-container">
                        <img src="images/amazon-logo.svg" alt="">
                        </Piv>

                    </div>
                </div>
            </div>
            <div class="round-img mb-3 mt-4">

            </div>
            <div class="extra-bold font-sm">
                Siddharth Jain
            </div>
            <div class="semi-bold font-sm">
                Android Development
            </div>

        </div>
    </div>
</div>


<div class="c-batches">
    <h3 class="t-align-c">
        Choose Batches
    </h3>

    <div class="row justify-content-center">
        <div class="card-layout col-md-4 col-sm-6">
            <div class="border-card c-run-card ">
                <h3>
                    MARCH' 18
                </h3>
                <div class="d-flex mb-4">
                    <div class="font-sm">
                        <div class="grey">
                            Starts
                        </div>
                        <div class="text">
                            20th March 2018
                        </div>
                    </div>

                    <div class="divider-v bg-grey"></div>

                    <div class="font-sm">
                        <div class="grey">
                            Ends
                        </div>
                        <div class="">
                            20th March 2018
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between align-items-center">
                    <div class="col-8 align-self-center">
                        <div class="price">
                            Rs 9000
                        </div>
                        <div class="red">Enrollment ends 21th Feb. 2018 </div>
                    </div>

                    <button class="button-solid col-4">Enroll Now</button>


                </div>

                <div class="divider-h"></div>

                <div class="row justify-content-between align-items-center">
                    <div class="col-7 align-self-center">
                        You may also try our
                        free lectures:
                    </div>

                    <button class="button-dashed col-4">Start Free Trial</button>
                </div>
            </div>
        </div>
        <div class="card-layout col-md-4 col-sm-6">
            <div class="border-card c-run-card ">
                <h3>
                    MARCH' 18
                </h3>
                <div class="d-flex mb-4">
                    <div class="font-sm">
                        <div class="grey">
                            Starts
                        </div>
                        <div class="text">
                            20th March 2018
                        </div>
                    </div>

                    <div class="divider-v bg-grey"></div>

                    <div class="font-sm">
                        <div class="grey">
                            Ends
                        </div>
                        <div class="">
                            20th March 2018
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between align-items-center">
                    <div class="col-8 align-self-center">
                        <div class="price">
                            Rs 9000
                        </div>
                        <div class="red">Enrollment ends 21th Feb. 2018 </div>
                    </div>

                    <button class="button-solid col-4">Enroll Now</button>


                </div>

                <div class="divider-h"></div>

                <div class="row justify-content-between align-items-center">
                    <div class="col-7 align-self-center">
                        You may also try our
                        free lectures:
                    </div>

                    <button class="button-dashed col-4">Start Free Trial</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h3 class="t-align-c">
        Recommended Courses
    </h3>

    <div class="row pt-5">
        <div class="c-layout-card hoverable pr-md-0 col-12 col-md-6 col-lg-3">
            <div class="img-card online-card">
                <div class="head d-flex">
                    <img class="back-img" src="images/android.svg">
                    <div class="difficulty-dots dsp-none-sm">
                        <div class="pos-diff"></div>
                        <div class="pos-diff"></div>
                        <div class="neg-diff"></div>
                        <div>Medium</div>
                    </div>
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="round-img-b">
                            <img src="images/android-logo.svg">
                        </div>
                        <div class="course-name center-text">
                            Android App Development
                        </div>
                        <div class="i course-description t-align-c d-md-none">
                            Learn how to make ubercool Android Apps with Java and Kotlin
                        </div>
                        {{!-- <div class="i course-description center-text">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                  </div> --}}
                        <div class="rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="edit-rating">4.0 (50)</span>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div class="card-mentor d-md-none">
                        <!--<div class="row no-gutters">-->
                        <div class="card-mentor-image">
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        </div>
                        <div class="card-mentor-text">
                            <span>Instructors</span>
                            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="row button-row justify-content-between no-gutters align-items-center">
                        <div class="details">
                            <div class="price">
                                <span class="red extra-bold font-sm">Rs 9000</span>
                                <span class="grey card-md"><strike>Rs 12000</strike></span>
                            </div>
                            <div class="grey d-md-none">
                                Batches starting Apr 1st
                            </div>
                        </div>

                        <button class="button-solid">Explore</button>

                    </div>
                    <div class="d-md-none">
                        <div class="divider">
                            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
                        </div>
                        <div class="enrollment">
                            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <div class="pop-up"> --}}
            <div class="border-card online-card pop-up dsp-none-sm">
                <div class="round-img">
                    <img src="images/android-logo.svg">
                </div>
                <div class="course-name center-text">
                    Android App Development
                </div>
                <div class="">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                </div>


                <div class="card-mentor">
                    <!--<div class="row no-gutters">-->
                    <div class="card-mentor-image">
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="row button-row justify-content-between no-gutters align-items-center">
                    <div class="details">
                        <div class="price">
                            <span class="red font-sm extra-bold">Rs 9000</span>
                            <span class="grey card-md"><strike>Rs 12000</strike></span>
                        </div>
                        <div>Batches starting 10th August</div>
                    </div>

                    <button class="button-solid">Explore</button>

                </div>
                <div class="divider-h"></div>
                <div class="row t-align-ca card-md no-gutters">
                    <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                    <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                </div>
            </div>
            {{!-- </div> --}}
        </div>
        <div class="c-layout-card hoverable pr-md-0 col-12 col-md-6 col-lg-3">
            <div class="img-card online-card">
                <div class="head d-flex">
                    <img class="back-img" src="images/android.svg">
                    <div class="difficulty-dots dsp-none-sm">
                        <div class="pos-diff"></div>
                        <div class="pos-diff"></div>
                        <div class="neg-diff"></div>
                        <div>Medium</div>
                    </div>
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="round-img-b">
                            <img src="images/android-logo.svg">
                        </div>
                        <div class="course-name center-text">
                            Android App Development
                        </div>
                        <div class="i course-description t-align-c d-md-none">
                            Learn how to make ubercool Android Apps with Java and Kotlin
                        </div>
                        {{!-- <div class="i course-description center-text">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                  </div> --}}
                        <div class="rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="edit-rating">4.0 (50)</span>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div class="card-mentor d-md-none">
                        <!--<div class="row no-gutters">-->
                        <div class="card-mentor-image">
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        </div>
                        <div class="card-mentor-text">
                            <span>Instructors</span>
                            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="row button-row justify-content-between no-gutters align-items-center">
                        <div class="details">
                            <div class="price">
                                <span class="red extra-bold font-sm">Rs 9000</span>
                                <span class="grey card-md"><strike>Rs 12000</strike></span>
                            </div>
                            <div class="grey d-md-none">
                                Batches starting Apr 1st
                            </div>
                        </div>

                        <button class="button-solid">Explore</button>

                    </div>
                    <div class="d-md-none">
                        <div class="divider">
                            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
                        </div>
                        <div class="enrollment">
                            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <div class="pop-up"> --}}
            <div class="border-card online-card pop-up dsp-none-sm">
                <div class="round-img">
                    <img src="images/android-logo.svg">
                </div>
                <div class="course-name center-text">
                    Android App Development
                </div>
                <div class="">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                </div>


                <div class="card-mentor">
                    <!--<div class="row no-gutters">-->
                    <div class="card-mentor-image">
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="row button-row justify-content-between no-gutters align-items-center">
                    <div class="details">
                        <div class="price">
                            <span class="red font-sm extra-bold">Rs 9000</span>
                            <span class="grey card-md"><strike>Rs 12000</strike></span>
                        </div>
                        <div>Batches starting 10th August</div>
                    </div>

                    <button class="button-solid">Explore</button>

                </div>
                <div class="divider-h"></div>
                <div class="row t-align-ca card-md no-gutters">
                    <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                    <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                </div>
            </div>
            {{!-- </div> --}}
        </div>
        <div class="c-layout-card hoverable pr-md-0 col-12 col-md-6 col-lg-3">
            <div class="img-card online-card">
                <div class="head d-flex">
                    <img class="back-img" src="images/android.svg">
                    <div class="difficulty-dots dsp-none-sm">
                        <div class="pos-diff"></div>
                        <div class="pos-diff"></div>
                        <div class="neg-diff"></div>
                        <div>Medium</div>
                    </div>
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="round-img-b">
                            <img src="images/android-logo.svg">
                        </div>
                        <div class="course-name center-text">
                            Android App Development
                        </div>
                        <div class="i course-description t-align-c d-md-none">
                            Learn how to make ubercool Android Apps with Java and Kotlin
                        </div>
                        {{!-- <div class="i course-description center-text">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                  </div> --}}
                        <div class="rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="edit-rating">4.0 (50)</span>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div class="card-mentor d-md-none">
                        <!--<div class="row no-gutters">-->
                        <div class="card-mentor-image">
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        </div>
                        <div class="card-mentor-text">
                            <span>Instructors</span>
                            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="row button-row justify-content-between no-gutters align-items-center">
                        <div class="details">
                            <div class="price">
                                <span class="red extra-bold font-sm">Rs 9000</span>
                                <span class="grey card-md"><strike>Rs 12000</strike></span>
                            </div>
                            <div class="grey d-md-none">
                                Batches starting Apr 1st
                            </div>
                        </div>

                        <button class="button-solid">Explore</button>

                    </div>
                    <div class="d-md-none">
                        <div class="divider">
                            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
                        </div>
                        <div class="enrollment">
                            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <div class="pop-up"> --}}
            <div class="border-card online-card pop-up dsp-none-sm">
                <div class="round-img">
                    <img src="images/android-logo.svg">
                </div>
                <div class="course-name center-text">
                    Android App Development
                </div>
                <div class="">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                </div>


                <div class="card-mentor">
                    <!--<div class="row no-gutters">-->
                    <div class="card-mentor-image">
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="row button-row justify-content-between no-gutters align-items-center">
                    <div class="details">
                        <div class="price">
                            <span class="red font-sm extra-bold">Rs 9000</span>
                            <span class="grey card-md"><strike>Rs 12000</strike></span>
                        </div>
                        <div>Batches starting 10th August</div>
                    </div>

                    <button class="button-solid">Explore</button>

                </div>
                <div class="divider-h"></div>
                <div class="row t-align-ca card-md no-gutters">
                    <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                    <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                </div>
            </div>
            {{!-- </div> --}}
        </div>
        <div class="c-layout-card hoverable pr-md-0 col-12 col-md-6 col-lg-3">
            <div class="img-card online-card">
                <div class="head d-flex">
                    <img class="back-img" src="images/android.svg">
                    <div class="difficulty-dots dsp-none-sm">
                        <div class="pos-diff"></div>
                        <div class="pos-diff"></div>
                        <div class="neg-diff"></div>
                        <div>Medium</div>
                    </div>
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="round-img-b">
                            <img src="images/android-logo.svg">
                        </div>
                        <div class="course-name center-text">
                            Android App Development
                        </div>
                        <div class="i course-description t-align-c d-md-none">
                            Learn how to make ubercool Android Apps with Java and Kotlin
                        </div>
                        {{!-- <div class="i course-description center-text">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                  </div> --}}
                        <div class="rating">
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="edit-rating">4.0 (50)</span>
                        </div>
                    </div>
                </div>
                <div class="foot">
                    <div class="card-mentor d-md-none">
                        <!--<div class="row no-gutters">-->
                        <div class="card-mentor-image">
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                            <img class="card-mentors"
                                src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        </div>
                        <div class="card-mentor-text">
                            <span>Instructors</span>
                            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="row button-row justify-content-between no-gutters align-items-center">
                        <div class="details">
                            <div class="price">
                                <span class="red extra-bold font-sm">Rs 9000</span>
                                <span class="grey card-md"><strike>Rs 12000</strike></span>
                            </div>
                            <div class="grey d-md-none">
                                Batches starting Apr 1st
                            </div>
                        </div>

                        <button class="button-solid">Explore</button>

                    </div>
                    <div class="d-md-none">
                        <div class="divider">
                            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
                        </div>
                        <div class="enrollment">
                            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <div class="pop-up"> --}}
            <div class="border-card online-card pop-up dsp-none-sm">
                <div class="round-img">
                    <img src="images/android-logo.svg">
                </div>
                <div class="course-name center-text">
                    Android App Development
                </div>
                <div class="">
                    Learn how to make ubercool Android Apps with Java and Kotlin
                </div>


                <div class="card-mentor">
                    <!--<div class="row no-gutters">-->
                    <div class="card-mentor-image">
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                        <img class="card-mentors"
                            src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    </div>
                    <div class="card-mentor-text">
                        <span>Instructors</span>
                        <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
                    </div>
                    <!--</div>-->
                </div>
                <div class="row button-row justify-content-between no-gutters align-items-center">
                    <div class="details">
                        <div class="price">
                            <span class="red font-sm extra-bold">Rs 9000</span>
                            <span class="grey card-md"><strike>Rs 12000</strike></span>
                        </div>
                        <div>Batches starting 10th August</div>
                    </div>

                    <button class="button-solid">Explore</button>

                </div>
                <div class="divider-h"></div>
                <div class="row t-align-ca card-md no-gutters">
                    <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                    <div class="col-12 red pointer">Click here to get Free Trial Now</div>
                </div>
            </div>
            {{!-- </div> --}}
        </div>



    </div>
</div>
</div>


<script>
    var buyTop = $('.c-buy-top')[0];
    var accordion = $('.c-about-accordion');
    var accordOffsetTop = accordion.offset().top - 350;
    console.log(buyTop);
    window.onscroll = function () {
        if (window.pageYOffset >= accordOffsetTop) {
            buyTop.classList.remove('slide-up');
        } else {
            buyTop.classList.add('slide-up');
        }
    }
</script>