{{>nav-bar}}
<div class="login-signup">
    <div class="card c-signup">
        <div class="heading-u-red">
            SIGNUP
        </div>

        <form action="">
            <input type="text" class="input-text icon user-bg" placeholder="Username">

            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 first-name">
                    <input type="text" class="input-text icon lines-bg" placeholder="First Name">
                </div>
                <div class="col-sm-12 col-md-6 last-name">
                    <input type="text" class="input-text icon lines-bg" placeholder="Last Name">
                </div>
            </div>

            <input type="text" class="input-text icon mail-bg" placeholder="Email Address">

            <input type="text" class="input-text icon fingerprint-bg" placeholder="Password">

            <div class="row footer">
                <div class="button-solid">
                    <button type="submit"> LOGIN NOW</button>
                </div>

                <div class="signup d-flex flex-column justify-content-center">
                    Already have an account?
                    <button class="red">LOGIN NOW</button>
                </div>
            </div>

        </form>

    </div>
</div>