<div class="row c-arrangement">
  {{>side-nav}}
  <div class="col-md-8 c-add-address">
    <div class="card">
      <div class="heading-u-red">Edit Address</div>
      <form action="" method="POST">
        <div class="attributes">
          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">First Name</div>
              <input class="input-text col-md-8 col-sm-8" value="Siddharth" />
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Last Name</div>
              <input class="input-text col-md-8 col-sm-8" value="Jain" />
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Mobile No.</div>
              <input class="input-text col-md-8 col-sm-8" value="9999999999" />
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Email</div>
              <input class="input-text col-md-8 col-sm-8" value="sidjain2901@gmail.com" />
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Address Line</div>
              <input class="input-text col-md-8 col-sm-8" value="" />
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Landmark</div>
              <input class="input-text col-md-8 col-sm-8" value="" />
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Pincode</div>
              <input class="input-text col-md-8 col-sm-8" value="" />
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">City</div>
              <input class="input-text col-md-8 col-sm-8" value="" />
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">State</div>
              <select class="dropdown-ul input-text col-md-8 col-sm-8">
                <option class="dropdown-li">Delhi</option>
                <option class="dropdown-li">Haryana</option>
                <option class="dropdown-li">Sikkim</option>
                <option class="dropdown-li">West Bengal</option>
              </select>
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Country</div>
              <select class="dropdown-ul input-text col-md-8 col-sm-8">
                <option class="dropdown-li">India</option>
                <option class="dropdown-li">Japan</option>
                <option class="dropdown-li">America</option>
                <option class="dropdown-li">Russia</option>
                <option class="dropdown-li">China</option>
              </select>
            </div>
            <div class="row no-gutters align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Label</div>
              <input class="input-text col-md-8 col-sm-8" value="Office Address" />
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="grey reset-button">
              <button>RESET</button>
            </div>
            <div class="button-solid">
              <button>SAVE CHANGES</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>