<div class="row e-arrangement">
  {{>side-nav}}
  <div class="col-md-8 o-client-add">
    <div class="card">
      <div class="details">
        <div class="flex-row">
          <div class="heading-u-red">Add New Client</div>
        </div>
        <div class="attributes d-flex flex-column">
          <div class="row justify-content-between">
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Client Name</div>
              <input class="input-text col-md-8 col-sm-8" value="" />
            </div>
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Domain</div>
              <input class="input-text col-md-8 col-sm-8" value="" />
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">CallBack Url</div>
              <input class="input-text col-md-8 col-sm-8" value="" />
            </div>
          </div>
          <div class="row justify-content-end button-row">
            <div class="button-solid">
              <button>ADD CLIENT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
