{{>nav-account}}
<div class="row e-arrangement">
  {{>side-nav}}
  <div class="col-md-8 o-address-page">
    <div class="card">
      <div class="flex-row justify-content-between">
        <div class="heading-u-red">My Addresses</div>
        <div class="button-solid">
          <button>+ Add New Address</button>
        </div>
      </div>
      <div class="attributes">
        <div class="row justify-content-between">
          <div class="border-card">
            <div class="address-row heading red">Home</div>
            <div class="address-row heading">
              Siddharth Jain sidjain2901@gmail.com | 9560839425
            </div>
            <div class="address-row grey">
              47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337, Pitampura, New Delhi, Delhi 110034
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Address</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="address-row heading red">Home</div>
            <div class="address-row heading">
              Siddharth Jain sidjain2901@gmail.com | 9560839425
            </div>
            <div class="address-row grey">
              47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337, Pitampura, New Delhi, Delhi 110034
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Address</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="address-row heading red">Office</div>
            <div class="address-row heading">
              Siddharth Jain sidjain2901@gmail.com | 9560839425
            </div>
            <div class="address-row grey">
              47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337, Pitampura, New Delhi, Delhi 110034
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Address</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="address-row heading red">Home</div>
            <div class="address-row heading">
              Siddharth Jain sidjain2901@gmail.com | 9560839425
            </div>
            <div class="address-row grey">
              47, Nishant Kunj, 1st & 2nd Floor, Pitampura Main Road, Opposite Metro Pillar 337, Pitampura, New Delhi, Delhi 110034
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Address</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
