<div class="row e-arrangement">
  {{>side-nav}}
  <div class="col-md-8 o-app-page">
    <div class="card">
      <div class="heading-u-red">My Apps</div>
      <div class="attributes">
        <div class="row justify-content-between">
          <div class="border-card">
            <div class="app-row heading">ONLINE CODING BLOCKS</div>
            <div class="app-row">
              <span class="faded">Connected on 20/02/2017</span>
            </div>
            <div class="row justify-content-between button-row">
              <div class="grey">
                <button>Remove App</button>
              </div>
              <div class="button-dashed">
                <button>View App</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="app-row heading">ONLINE CODING BLOCKS</div>
            <div class="app-row">
              <span class="faded">Connected on 20/02/2017</span>
            </div>
            <div class="row justify-content-between button-row">
              <div class="grey">
                <button>Remove App</button>
              </div>
              <div class="button-dashed">
                <button>View App</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="app-row heading">ONLINE CODING BLOCKS</div>
            <div class="app-row">
              <span class="faded">Connected on 20/02/2017</span>
            </div>
            <div class="row justify-content-between button-row">
              <div class="grey">
                <button>Remove App</button>
              </div>
              <div class="button-dashed">
                <button>View App</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="app-row heading">ONLINE CODING BLOCKS</div>
            <div class="app-row">
              <span class="faded">Connected on 20/02/2017</span>
            </div>
            <div class="row justify-content-between button-row">
              <div class="grey">
                <button>Remove App</button>
              </div>
              <div class="button-dashed">
                <button>View App</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>