<div class="row e-arrangement">
  {{>side-nav}}
  <div class="col-md-8 o-app-page">
    <div class="card">
      <div class="details">
        <div class="flex-row">
          <div class="heading-u-red">My Apps</div>
        </div>
        <div class="attributes">
          <div class="row justify-content-between">
            <div class="border-card">
              <div class="app-detail flex-column">
                <div class="app-row heading">ONLINE CODING BLOCKS</div>
                <div class="app-row">
                  <span class="faded">Connected on 20/02/2017</span>
                </div>
              </div>
              <div class="flex-row justify-content-between">
                <div class="remove-button faded pointer">
                  Remove App
                </div>
                <div class="button-dashed">
                  <button>View App</button>
                </div>
              </div>
            </div>
            <div class="border-card">
              <div class="app-detail flex-column">
                <div class="app-row heading">ONLINE CODING BLOCKS</div>
                <div class="app-row">
                  <span class="faded">Connected on 20/02/2017</span>
                </div>
              </div>
              <div class="flex-row justify-content-between">
                <div class="remove-button faded pointer">
                  Remove App
                </div>
                <div class="button-dashed">
                  <button>View App</button>
                </div>
              </div>
            </div>
            <div class="border-card">
              <div class="app-detail flex-column">
                <div class="app-row heading">ONLINE CODING BLOCKS</div>
                <div class="app-row">
                  <span class="faded">Connected on 20/02/2017</span>
                </div>
              </div>
              <div class="flex-row justify-content-between">
                <div class="remove-button faded pointer">
                  Remove App
                </div>
                <div class="button-dashed">
                  <button>View App</button>
                </div>
              </div>
            </div>
            <div class="border-card">
              <div class="app-detail flex-column">
                <div class="app-row heading">ONLINE CODING BLOCKS</div>
                <div class="app-row">
                  <span class="faded">Connected on 20/02/2017</span>
                </div>
              </div>
              <div class="flex-row justify-content-between">
                <div class="remove-button faded pointer">
                  Remove App
                </div>
                <div class="button-dashed">
                  <button>View App</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
