<div class="a-cbm">
  <div class="slideshow-container">
    <div class="slideshow-container__slide">
      <img src="https://wallpapercave.com/wp/wp2570989.jpg" class="w-100">
      <div class="position-absolute bl w-100 px-80 pb-50 d-md-block d-none" style="z-index: 10;">
        <div class="row no-gutters justify-content-between align-items-end">
          <div class="flex-1">
            <div class="heading-5 bold white mb-30">Learn Programming from the best mentor</div>
            <div>
              <button class="button-primary">Active State</button>
              <button class="button-primary ml-20">Active State</button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-25 t-align-c d-md-none d-block">
        <div class="font-4 bold">Learn Programming from the best mentor</div>
        <div class="mt-30">
          <button class="button-primary">Active State</button>
          <button class="button-primary ml-10">Active State</button>
        </div>
      </div>
    </div>

    <div class="slideshow-container__slide">
      <img src="https://www.publicdomainpictures.net/pictures/50000/velka/nature-background-31.jpg" class="w-100">
      <div class="position-absolute bl w-100 px-80 pb-50 d-md-block d-none" style="z-index: 10;">
        <div class="row no-gutters justify-content-between align-items-end">
          <div class="flex-1">
            <div class="heading-5 bold white mb-30">Learn Programming from the best mentor</div>
            <div>
              <button class="button-primary">Active State</button>
              <button class="button-primary ml-20">Active State</button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-25 t-align-c d-md-none d-block">
        <div class="font-4 bold">Learn Programming from the best mentor</div>
        <div class="mt-30">
          <button class="button-primary">Active State</button>
          <button class="button-primary ml-10">Active State</button>
        </div>
      </div>
    </div>

    <a class="slideshow-container__prev pulse" onclick="plusSlides(-1)">
      <span>&#10094;</span>
    </a>
    <a class="slideshow-container__next pulse" onclick="plusSlides(1)">
      <span>&#10095;</span>
    </a>

    <div class="slideshow-container__navigation-dots">
      <span class="dot" onclick="currentSlide(0)"></span>
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
    </div>
  </div>
</div>