<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="https://i.pinimg.com/originals/da/d7/96/dad7967d732c8119ed35942cb8f16471.jpg" class="w-100">
  </div>

  <div class="mySlides fade">
    <img src="https://wallpapercave.com/wp/wp2570989.jpg" class="w-100">
  </div>

  <div class="mySlides fade">
    <img src="https://www.publicdomainpictures.net/pictures/50000/velka/nature-background-31.jpg" class="w-100">
  </div>

  <a class="slideshow-container__prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="slideshow-container__next" onclick="plusSlides(1)">&#10095;</a>
  
  <div class="slideshow-container__navigation-dots">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>
</div>