<div class="a-cbm">
  <div class="banner-carousel-container px-25">
    <div class="banner-carousel" aria-label="Gallery">
      <ol class="banner-carousel__viewport">
        <li id="banner-carousel__slide1" tabindex="0" class="banner-carousel__slide">
          <div class="banner-carousel__snapper">
            <a href="#banner-carousel__slide4" class="banner-carousel__prev">Go to last slide</a>
            <a href="#banner-carousel__slide2" class="banner-carousel__next">Go to next slide</a>
          </div>
        </li>
        <li id="banner-carousel__slide2" tabindex="0" class="banner-carousel__slide">
          <div class="banner-carousel__snapper">
            <a href="#banner-carousel__slide1" class="banner-carousel__prev">Go to previous slide</a>
            <a href="#banner-carousel__slide3" class="banner-carousel__next">Go to next slide</a>
          </div>
        </li>
        <li id="banner-carousel__slide3" tabindex="0" class="banner-carousel__slide">
          <div class="banner-carousel__snapper">
            <a href="#banner-carousel__slide2" class="banner-carousel__prev">Go to previous slide</a>
            <a href="#banner-carousel__slide4" class="banner-carousel__next">Go to next slide</a>
          </div>
        </li>
        <li id="banner-carousel__slide4" tabindex="0" class="banner-carousel__slide">
          <div class="banner-carousel__snapper">
            <a href="#banner-carousel__slide3" class="banner-carousel__prev">Go to previous slide</a>
            <a href="#banner-carousel__slide1" class="banner-carousel__next">Go to first slide</a>
          </div>
        </li>
      </ol>
      <div class="banner-carousel__navigation">
        <ol class="banner-carousel__navigation-list">
          <li class="banner-carousel__navigation-item">
            <a href="#banner-carousel__slide1" class="banner-carousel__navigation-button">Go to slide 1</a>
          </li>
          <li class="banner-carousel__navigation-item">
            <a href="#banner-carousel__slide2" class="banner-carousel__navigation-button">Go to slide 2</a>
          </li>
          <li class="banner-carousel__navigation-item">
            <a href="#banner-carousel__slide3" class="banner-carousel__navigation-button">Go to slide 3</a>
          </li>
          <li class="banner-carousel__navigation-item">
            <a href="#banner-carousel__slide4" class="banner-carousel__navigation-button">Go to slide 4</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>