<ul class="c-breadcrumb">
  <li class="breadcrumb-element"><a href="#">Daily Code Bytes</a></li>
  <li class="breadcrumb-element"><a href="#">Pivot of Sorted &amp; Rotated Array</a></li>
  <li class="breadcrumb-element active">Solve</li>
</ul>