<div class="c-code-window flex-col">
  <div class="d-flex white bg-dark-grey align-items-center justify-content-between py-4 w-100 top-bar tl">
    <div class="col-xl-7 col-lg-6 col-5 offset-1">
      <h2>CAST - CODERS ADMISSION &amp; SCHOLARSHIP TEST </h2>
      <div class="font-sm">This is a timed contest for 1 hour. You have just one chance to attempt this test.</div>
    </div>
    <div class="mx-3">
      <ul class="divided-list timer font-xs d-inline mr-4">
        <li class="timer-item pr-md-3 pr-2">
          <div class="list-heading font-xl bold">00</div>
          <div class="list-data">Days</div>
        </li>
        <li class="timer-item pr-md-3 pr-2">
          <div class="list-heading font-xl bold">12</div>
          <div class="list-data">Hours</div>
        </li>
        <li class="timer-item pr-md-3 pr-2">
          <div class="list-heading font-xl bold">30</div>
          <div class="list-data">Minutes</div>
        </li>
        <li class="timer-item pr-md-3 pr-2">
          <div class="list-heading font-xl bold">05</div>
          <div class="list-data">Seconds</div>
        </li>
      </ul>
      <button class="button-solid button-orange font-sm extra-bold mx-3">Submit Test</button>
    </div>
  </div>
  <div class="row no-gutters flex-1 w-100">
    <div class="col-1 bg-dark-grey side-bar bl h-100 px-0 pt-4 t-align-c">
      <div class="white pb-xl-3 pt-3 pb-5 mb-5">
        <i class="fab fa-slack fa-4x"></i>
      </div>
      <a href="#" class="white d-block v-align-ma py-4">
        <i class="fas fa-puzzle-piece mr-3 font-md"></i>
        <span class="font-xl extra-bold">01</span>
      </a>
      <a href="#" class="white d-block v-align-ma py-4 active">
        <i class="fas fa-puzzle-piece mr-3 font-md"></i>
        <span class="font-xl extra-bold">02</span>
      </a>
    </div>
    <div class="col-11 offset-1">
      <div class="row no-gutters code-area">
        <div class="col-7 px-xl-5 px-4 py-5 h-100">
          <div class="font-mds mb-4">Question 2</div>
          <div class="font-sm bold word-wrap">
            loremipsumloremipsumloremipsumloremipsumloremipsumloreremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloreremipsumloremipsum
          </div>
          <div class="bg-grey h-20 my-4"></div>
        </div>
        <div class="col-5 p-5">
          <div class="border-card h-100 px-xl-5 px-4 py-5 t-align-c overflow-visible">
            <h2>Total Questions: 50</h2>
            <div class="row all-center v-align-ma mt-4">
              <div>
                <span class="font-sm extra-bold green mx-xl-3 mx-2"><span
                    class="font-xl mr-3">&#10625;</span>Attempted</span>
              </div>
              <div>
                <span class="font-sm extra-bold mx-xl-3 mx-2"><span
                    class="font-xl mr-3">&#10625;</span>Unattempted</span>
              </div>
              <div>
                <span class="font-sm extra-bold orange mx-xl-3 mx-2"><span class="font-xl mr-3">&#10625;</span>Marked
                  for Review</span>
              </div>
            </div>
            <div class="divider-h my-4"></div>
            <div class="row col-12 mx-0 px-0">
              {{!-- <div class="d-flex justify-content-between no-gutters w-100 my-3">
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between no-gutters w-100 my-3">
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between no-gutters w-100 my-3">
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between no-gutters w-100 my-3">
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between no-gutters w-100 my-3">
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between no-gutters w-100 my-3">
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
              </div> --}}
              <div class="row no-gutters w-100 my-3">
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-black mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
                <div class="col-2">
                  <div class="s-50x50 br-50 bg-green mx-auto"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>