<div class="row p-5 bg-dark-grey position-relative">
  <img src="images/Group 1.svg" alt="" class="back-img">
  <div class="col-7">
    <div class="gradient-text-orange bold" style="font-size: 2.571rem;">
      Talent Acquisition Platform
    </div>
    <div class="font-normal white" style="font-size: 2rem;">
      We help you find the right talent for your organization.
    </div>
  </div>
  <div class="col-5">
    <div class="border-card bg-white p-5">
      
    </div>
  </div>
</div>