<div class="position-relative overflow-hidden" style="height: 640px;">
  <img src="images/Group 1.svg" alt="" class="position-absolute w-100 br">
  <div class="row mx-0 bg-dark-grey" style="padding: 3.92rem 8.57rem;">
    <div class="col-7">
      <div class="gradient-text-orange bold" style="font-size: 2.571rem;">
        Talent Acquisition Platform
      </div>
      <div class="font-normal white mt-5" style="font-size: 2rem;">
        We help you find the right talent for your organization.
      </div>
    </div>
    <div class="col-5">
      <div class="border-card p-5 bg-white p-5 t-align-c">
        <input type="text" id="addtype" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Your Name *">
        <input type="text" id="addtype" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Work Email *">
        <input type="text" id="addtype" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Company Name *">
        <input type="text" id="addtype" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Mobile Number *">
        <input type="text" id="addtype" class="underline-input font-sm w-100 pb-2 mb-5" placeholder="Hiring Position *">
        <button class="button-solid button-orange mx-auto">Send Details</button>
      </div>
    </div>
  </div>
</div>
<div style="padding: 3.92rem 8.57rem;">
  <div class="bold t-align-c mb-5" style="font-size: 1.857rem;">
    We are proud of these numbers
  </div>
  <div class="row">
    <div class="col-4 mb-5">
      <div class="border-card p-5 bg-gradient-blue">
        <div class="row align-items-center">
          <div class="col-4">
            <img src="images/Group 13.svg" alt="">
          </div>
          <div class="col-8 white">
            <div class="bold mb-2" style="font-size: 2rem;">4500+</div>
            <div class="bold font-md">Students Placed</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="border-card p-5 bg-gradient-pink">
        <div class="row align-items-center">
          <div class="col-4">
            <img src="images/Group.svg" alt="">
          </div>
          <div class="col-8 white">
            <div class="bold mb-2" style="font-size: 2rem;">12000+</div>
            <div class="bold font-md">Students Taught</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mb-5">
      <div class="border-card p-5 bg-gradient-purple">
        <div class="row align-items-center">
          <div class="col-4">
            <img src="images/Group 24.svg" alt="">
          </div>
          <div class="col-8 white">
            <div class="bold mb-2" style="font-size: 2rem;">100+</div>
            <div class="bold font-md">Hiring Partners</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bold t-align-c my-5" style="font-size: 1.857rem;">
    What makes our students stand different from others?
  </div>

  <div class="border-card p-5 bg-dark-grey">
    <div class="row mx-0">
      <div class="col-4">
        <div class="row align-items-center">
          <div class="col-3">
            <img src="images/Group 17.svg" alt="">
          </div>
          <div class="col-9">
            <div class="gradient-text-orange bold font-lg">
              Industry Readiness
            </div>
          </div>
        </div>
        <div class="divider-h bg-white w-25 my-4"></div>
        <div class="font-normal white">
          Hands on coding is an integral part of all the programs which are taught at Coding Blocks. The certificate of
          completion is provided only upon completion of 80% of the course which in itself is a very high benchmark.
        </div>
      </div>
      <div class="col-4">
        <div class="row align-items-center">
          <div class="col-3">
            <img src="images/Vector_2.svg" alt="">
          </div>
          <div class="col-9">
            <div class="gradient-text-orange bold font-lg">
              Programming Readiness
            </div>
          </div>
        </div>
        <div class="divider-h bg-white w-25 my-4"></div>
        <div class="font-normal white">
          We develop our students from scratch starting from concept development to improve problem solving skills to
          assignments and quizzes and finally a live working project. All the doubts are resolved by mentors and
          teaching assistants 24*7.
        </div>
      </div>
      <div class="col-4">
        <div class="row align-items-center">
          <div class="col-3">
            <img src="images/Vector.svg" alt="">
          </div>
          <div class="col-9">
            <div class="gradient-text-orange bold font-lg">
              Mentors from IIT, NIT, IIIT
            </div>
          </div>
        </div>
        <div class="divider-h bg-white w-25 my-4"></div>
        <div class="font-normal white">
          The backbone of any institute is the team of talented and enthusiastic mentors, and the story is no different
          for us. We take pride in the fact that we have the most talented team of mentors, who have experienced the
          education &amp; corporate industries with equal measures.
        </div>
      </div>
    </div>
    <div class="mt-5 d-flex justify-content-center">
      <img src="images/best_talent.svg" alt="" class="mx-auto">
    </div>
  </div>
  <div class="bold t-align-c mt-5 mb-3" style="font-size: 1.857rem;">Our Partners</div>
  <div class="font-md t-align-c">
    Here are some of the amazing companies that are recruiting through us to grow their teams.
  </div>
  <img src="images/partners.svg" alt="" class="w-100">
  <div class="bold t-align-c my-5" style="font-size: 1.857rem;">What our partners are saying</div>
  <div class="all-center">
    <div class="border-card p-5 t-align-c" style="background-color: #e6e6e6;">
      <div class="all-center">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"></img>
      </div>
      <h4 class="bold my-4">Rachana BA, HR Team</h4>
      <div class="font-sm font-normal grey">
        We received some really good profiles for the Software development Intern role, and we managed to finalize on a
        few good candidates. The candidates did really well in their interview rounds and were very accommodating and
        prompt in terms of their scheduled interviews. Can't wait to welcome them to the team and see what they have to
        contribute to the company!
      </div>
    </div>
  </div>
</div>