<div class="certificate-excellence">
  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/excellence-certi-overlay.svg"
    class="position-absolute tr">
  <div class="certificate-excellence__main-section white">
    <div class="certificate-excellence__main-section__right-section">
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb_white.svg">
      <div class="certificate-excellence__main-section__title1">CERTIFICATE</div>
      <div class="certificate-excellence__main-section__title2">of Excellence</div>
      <div class="font-mds" style="margin-top: 14px;">This certificate is presented for exemplary performance in</div>
      <div class="divider-h certificate-excellence__main-section__right-section__divider"></div>
      <div class="font-mds"><strong>Machine Learning</strong> course by <br />Coding Blocks.</div>
    </div>
    <div class="certificate-excellence__main-section__left-section">
      <div class="certificate-excellence__main-section__left-section__content t-align-c">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/gold+_logo.svg">
        <div class="font-mds" style="margin-top: 24px;"><strong>Machine <br />Learning</strong></div>
        <div style="margin-top: 46px;">Batch</div>
        <div class="divider-h certificate-excellence__main-section__left-section__content__divider"></div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/munna_bhaiya_sign_white.svg" style="margin-bottom: 7px;">
        <div>Manmohan Gupta<br />(Founder, Coding Blocks)</div>
      </div>
    </div>
  </div>
</div>