<div class="certificate-completion">
  <img src="images/cblogo.png" class="certificate-completion__logo">
  <div class="certificate-completion__title">
    CERTIFICATE OF COMPLETION
  </div>
  <div class="font-mdxl">This certificate is proudly presented to</div>
</div>