<div class="certificate-completion">
  <div class="certificate-completion__course-logo">
    <img src="images/cpp-white.png">
  </div>
  <img src="images/cblogo.png" class="certificate-completion__logo">
  <div class="certificate-completion__title">
    CERTIFICATE OF COMPLETION
  </div>
  <div class="font-mdxl">
    This certificate is proudly presented to<br />
    {{!-- name goes here --}}
  </div>
  <div class="certificate-completion__divider"></div>
  <div class="font-mdxl certificate-completion__description">
    for successfully completing the<br><strong>C++ Course for Beginners</strong> course.
  </div>
  <div class="certificate-completion__signature-row row no-gutters align-items-end">
    <div>
      <div class="signature-divider"></div>
      <div class="font-xl">Date</div>
    </div>

    <div style="margin-left: 162px;">
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mb_sign-white.png">
      <div class="signature-divider"></div>
      <div class="font-xl">Manmohan Gupta (Founder, Coding Blocks)</div>
    </div>
  </div>
</div>