<div class="certificate-lite border row no-gutters">
  <div class="certificate-lite__left-section">
    <img src="images/cpp-white.png">
  </div>
  <div class="certificate-lite__right-section">
    <img src="images/cblogo-black.png" class="certificate-lite__right-section__logo">
    <div class="certificate-lite__right-section__title">
      CERTIFICATE OF COMPLETION
    </div>
    <div class="font-mdxl">This certificate is proudly presented to</div>
    <div class="certificate-lite__right-section__badge">
      <div class="position-relative h-100">
        <div class="extra-bold white position-absolute t-align-c w-100">
          LIVE<br>BATCHES
        </div>
      </div>
    </div>
    <div class="font-mdxl certificate-lite__right-section__description">
      for successfully completing the<br><strong>C++ Launchpad Live Classroom</strong> course.
    </div>
    <div class="certificate-lite__right-section__signature-row row no-gutters align-items-end">
      <div>
        <div class="signature-divider"></div>
        <div class="font-xl">Date</div>
      </div>

      <div style="margin-left: 162px;">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mb_sign.svg">
        <div class="signature-divider"></div>
        <div class="font-xl">Date</div>
      </div>
    </div>
  </div>
</div>