
<div class="button-solid">
    <button type="button" data-toggle="modal" data-target="#change-dp">
        Launch demo modal
    </button>
</div>

<div class="o-changedp">
    <div class="modal fade o-modal" id="change-dp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row justify-content-between no-gutters">
                    <div class="heading">
                        Change Profile Image
                    </div>
                    <span class="pointer" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i></span>

                </div>

                <p class="red">Choose from existing avatars</p>
                
                <div class="row no-gutters">
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>
                    <div class="col-2 images">
                        <img src="images/code-green-dark.svg" alt="">
                    </div>

                </div>

                <p>OR</p>

                <p class="red">Upload Image from your computer</p>

                <input type="file">

                <div class="footer row justify-content-end no-gutters">
                    <div class="button">
                        <button type="button">RESET</button>
                    </div>

                    <div class="button-solid">
                        <button type="button">SAVE CHANGES</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>