<div class="row o-arrangement">
  {{>side-nav}}
  <div class="col-md-8 o-client-page">
    <div class="card">
      <div class="flex-row justify-content-between">
        <div class="heading-u-red">My Clients</div>
        <div class="button-solid">
          <button>+ Add New Client</button>
        </div>
      </div>
      <div class="attributes">
        <div class="row justify-content-between">
          <div class="border-card">
            <div class="client-row heading">ONLINE CODING BLOCKS</div>
            <div class="client-row">
              <span>Client Id:</span>
              <span class="grey">4127853790</span>
            </div>
            <div class="client-row">
              <span>Domain:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Callback URL:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Client Secret:</span>
              <span class="grey">A1xqs5dcv7LpReA9</span>
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Client</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="client-row heading">ONLINE CODING BLOCKS</div>
            <div class="client-row">
              <span>Client Id:</span>
              <span class="grey">4127853790</span>
            </div>
            <div class="client-row">
              <span>Domain:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Callback URL:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Client Secret:</span>
              <span class="grey">A1xqs5dcv7LpReA9</span>
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Client</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="client-row heading">ONLINE CODING BLOCKS</div>
            <div class="client-row">
              <span>Client Id:</span>
              <span class="grey">4127853790</span>
            </div>
            <div class="client-row">
              <span>Domain:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Callback URL:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Client Secret:</span>
              <span class="grey">A1xqs5dcv7LpReA9</span>
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Client</button>
              </div>
            </div>
          </div>
          <div class="border-card">
            <div class="client-row heading">ONLINE CODING BLOCKS</div>
            <div class="client-row">
              <span>Client Id:</span>
              <span class="grey">4127853790</span>
            </div>
            <div class="client-row">
              <span>Domain:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Callback URL:</span>
              <span class="grey">http://xyz</span>
            </div>
            <div class="client-row">
              <span>Client Secret:</span>
              <span class="grey">A1xqs5dcv7LpReA9</span>
            </div>
            <div class="row justify-content-end button-row">
              <div class="button-dashed">
                <button>Edit Client</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
