<div class="row">
  <div class="col-8">
    <div class="border-card code-editor p-none">  
      <div class="row">
        <div class="col-3">
          <i class="fas fa-ellipsis-h"></i>
          <span class="font-sm extra-bold">Code Editor</span>
        </div>
      </div>        
    </div>
  </div>
</div>