<div class="row white mx-0 bg-dark-grey align-items-center justify-content-between py-4 position-fixed w-100 top-bar">
  <div class="col-xl-7 col-lg-6 col-5 offset-1">
    <h2>CodSULE - May 2019</h2>
    <div class="font-sm">This is a timed contest for 1 hour. You have just one chance to attempt this test.</div>
  </div>
  <ul class="divided-list timer font-xs">
    <li class="timer-item pr-md-3 pr-2">
      <div class="list-heading font-xl bold">00</div>
      <div class="list-data">Days</div>
    </li>
    <li class="timer-item pr-md-3 pr-2">
      <div class="list-heading font-xl bold">12</div>
      <div class="list-data">Hours</div>
    </li>
    <li class="timer-item pr-md-3 pr-2">
      <div class="list-heading font-xl bold">30</div>
      <div class="list-data">Minutes</div>
    </li>
    <li class="timer-item pr-md-3 pr-2">
      <div class="list-heading font-xl bold">05</div>
      <div class="list-data">Seconds</div>
    </li>
  </ul>
  <button class="button-solid button-orange font-sm extra-bold mr-2">Submit Test</button>
</div>
<div class="row mx-0 t-align-c align-items-center">
  <div class="col-1 bg-dark-grey side-bar h-100 px-0">
    <img src="/images/hexagon.jpg" alt="" class="px-4 pt-3">
    <a href="#" class="white">
      <i class="fas fa-circle"></i>
      <i class="fas fa-code"></i>
      <span class="font-xl extra-bold">01</span>
    </a>
  </div>
</div>