<div class="border-card p-5">
  <h5 class="t-align-c">Archived CodSule Contests</h5>
  <div class="font-sm t-align-c mt-2 mb-5">These contests are already ended. You can still participate, however you will not be awarded any points for these contest.</div>
  <div class="row rating-carousel">
    <div class="col-lg-3 col-md-4 col-6">
      <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
        <div class="font-mds bold">CodSule - April 2019</div>
        <div>Ended 21 April</div>
        <ul class="divided-list my-4">
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">05</div>
            <div class="list-data">Problems</div>
          </li>
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">500</div>
            <div class="list-data">Submissions</div>
          </li>
        </ul>
        <div class="font-sm extra-bold t-align-r">
          <a href="#" class="orange">
            Participate
            <i class="fas fa-arrow-right mx-3"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
        <div class="font-mds bold">CodSule - April 2019</div>
        <div>Ended 21 April</div>
        <ul class="divided-list my-4">
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">05</div>
            <div class="list-data">Problems</div>
          </li>
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">500</div>
            <div class="list-data">Submissions</div>
          </li>
        </ul>
        <div class="font-sm extra-bold t-align-r">
          <a href="#" class="orange">
            Participate
            <i class="fas fa-arrow-right mx-3"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
        <div class="font-mds bold">CodSule - April 2019</div>
        <div>Ended 21 April</div>
        <ul class="divided-list my-4">
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">05</div>
            <div class="list-data">Problems</div>
          </li>
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">500</div>
            <div class="list-data">Submissions</div>
          </li>
        </ul>
        <div class="font-sm extra-bold t-align-r">
          <a href="#" class="orange">
            Participate
            <i class="fas fa-arrow-right mx-3"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
        <div class="font-mds bold">CodSule - April 2019</div>
        <div>Ended 21 April</div>
        <ul class="divided-list my-4">
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">05</div>
            <div class="list-data">Problems</div>
          </li>
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">500</div>
            <div class="list-data">Submissions</div>
          </li>
        </ul>
        <div class="font-sm extra-bold t-align-r">
          <a href="#" class="orange">
            Participate
            <i class="fas fa-arrow-right mx-3"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
        <div class="font-mds bold">CodSule - April 2019</div>
        <div>Ended 21 April</div>
        <ul class="divided-list my-4">
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">05</div>
            <div class="list-data">Problems</div>
          </li>
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">500</div>
            <div class="list-data">Submissions</div>
          </li>
        </ul>
        <div class="font-sm extra-bold t-align-r">
          <a href="#" class="orange">
            Participate
            <i class="fas fa-arrow-right mx-3"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
        <div class="font-mds bold">CodSule - April 2019</div>
        <div>Ended 21 April</div>
        <ul class="divided-list my-4">
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">05</div>
            <div class="list-data">Problems</div>
          </li>
          <li class="px-xl-3 px-2">
            <div class="list-heading font-mds extra-bold orange">500</div>
            <div class="list-data">Submissions</div>
          </li>
        </ul>
        <div class="font-sm extra-bold t-align-r">
          <a href="#" class="orange">
            Participate
            <i class="fas fa-arrow-right mx-3"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>