<div class="row">
  <div class="col-md-4 col-12">
    <div class="img-card c-competition-card">
      <div class="head bg-gradient-dblue-lr pt-4 all-center">
        <div class="t-align-c content">
          <img src="https://www.edplace.com/userfiles/image/rectangle(1).png" alt="Logo" class="mt-2 mb-3 mx-auto" />
        </div>
      </div>
      <div class="foot align-items-center t-align-c px-2 py-4">
        <h3 class="mt-2">CODSULE</h3>
        <div class="font-sm mb-4">Monthly coding challenge by Nagarro</div>
        <ul class="divided-list">
          <li class="px-xl-3 px-md-2 px-4 t-align-l">
            <div class="list-heading font-mds extra-bold">12</div>
            <div class="list-data">Contests</div>
          </li>
          <li class="px-xl-3 px-md-2 px-4 t-align-l">
            <div class="list-heading font-mds extra-bold">234</div>
            <div class="list-data">Participants</div>
          </li>
          <li class="px-xl-3 px-md-2 px-4 t-align-l">
            <div class="list-heading font-mds extra-bold">45</div>
            <div class="list-data">Colleges</div>
          </li>
        </ul>
        <button class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto">Solve Challenge</button>
      </div>
    </div>
  </div>
</div>