<div class="border-card py-5 px-0 mb-5 position-relative">
  <div class="px-md-5 px-4">
    <h5 class="t-align-c">Archived CodSule Contests</h5>
    <div class="font-sm t-align-c mt-2 mb-5">These contests are already ended. You can still participate, however you
      will
      not be awarded any points for these contest.</div>
  </div>
  <div class="flex-row all-center px-2">
    <span class="font-lg extra-bold"><a href="#">〈</a></span>
    <div class="row c-card-carousel pb-0 mx-sm-3 mx-1">
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
          <h5 class="bold">CodSULE - April 2019</h5>
          <div>Ended 21 April</div>
          <ul class="divided-list my-4">
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">05</div>
              <div class="list-data">Problems</div>
            </li>
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">500</div>
              <div class="list-data">Submissions</div>
            </li>
          </ul>
          <div class="font-sm extra-bold t-align-r">
            <a href="#" class="orange">
              Participate
              <i class="fas fa-arrow-right mx-3"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
          <h5 class="bold">CodSULE - April 2019</h5>
          <div>Ended 21 April</div>
          <ul class="divided-list my-4">
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">05</div>
              <div class="list-data">Problems</div>
            </li>
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">500</div>
              <div class="list-data">Submissions</div>
            </li>
          </ul>
          <div class="font-sm extra-bold t-align-r">
            <a href="#" class="orange">
              Participate
              <i class="fas fa-arrow-right mx-3"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
          <h5 class="bold">CodSULE - April 2019</h5>
          <div>Ended 21 April</div>
          <ul class="divided-list my-4">
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">05</div>
              <div class="list-data">Problems</div>
            </li>
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">500</div>
              <div class="list-data">Submissions</div>
            </li>
          </ul>
          <div class="font-sm extra-bold t-align-r">
            <a href="#" class="orange">
              Participate
              <i class="fas fa-arrow-right mx-3"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
          <h5 class="bold">CodSULE - April 2019</h5>
          <div>Ended 21 April</div>
          <ul class="divided-list my-4">
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">05</div>
              <div class="list-data">Problems</div>
            </li>
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">500</div>
              <div class="list-data">Submissions</div>
            </li>
          </ul>
          <div class="font-sm extra-bold t-align-r">
            <a href="#" class="orange">
              Participate
              <i class="fas fa-arrow-right mx-3"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
          <h5 class="bold">CodSULE - April 2019</h5>
          <div>Ended 21 April</div>
          <ul class="divided-list my-4">
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">05</div>
              <div class="list-data">Problems</div>
            </li>
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">500</div>
              <div class="list-data">Submissions</div>
            </li>
          </ul>
          <div class="font-sm extra-bold t-align-r">
            <a href="#" class="orange">
              Participate
              <i class="fas fa-arrow-right mx-3"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="border-card p-xl-4 p-3 bg-gradient-dblue white">
          <h5 class="bold">CodSULE - April 2019</h5>
          <div>Ended 21 April</div>
          <ul class="divided-list my-4">
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">05</div>
              <div class="list-data">Problems</div>
            </li>
            <li class="px-xl-2 px-sm-1 px-2">
              <div class="list-heading font-mds extra-bold orange">500</div>
              <div class="list-data">Submissions</div>
            </li>
          </ul>
          <div class="font-sm extra-bold t-align-r">
            <a href="#" class="orange">
              Participate
              <i class="fas fa-arrow-right mx-3"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <span class="font-xl bold"><a href="#">〉</a></span>
  </div>
</div>