<div class="border-card p-5">
  <h2>Compilation Error</h2>
  <div class="font-sm my-2">Check the compiler output, fix the error and try again.</div>
  <div class="divider-h my-4"></div>
  <div class="font-sm bold">Compile Message</div>
  <div class="bg-grey p-4 mt-3">
    <div class="font-sm">Solution.cpp: In function 'int countingValleys(int, std::__cxx11::string)': Solution.cpp:9:1: error: no return statement in function returning non-void [-Werror=return-type]}^cc1plus: some warnings being treated as errors</div>
  </div>
</div>