<div class="row o-review-stats justify-content-center no-gutters">
    <div class="col-1 score">
        <span class="font-lg bold">4.9</span> <span class="bold">out of 5</span> 

        <div class="rating">
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
                <i class="fas fa-star"></i>
            </span>
        </div>
        <div>
            360 Ratings
        </div>
    </div>
    <div class="col-5 stats">
        <div class="row">
            <div class="col-9">
                <progress value="0.7"></progress>
            </div>
            <div class="col-3">
                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-9">
                <progress value="0.4"></progress>
            </div>
            <div class="col-3">
                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-9">
                <progress value="0.8"></progress>
            </div>
            <div class="col-3">
                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-9">
                <progress value="0.3"></progress>
            </div>
            <div class="col-3">
                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-9">
                <progress value="0.5"></progress>
            </div>
            <div class="col-3">
                <div class="rating">
                    <span class="pos-rating">
                        <i class="fas fa-star"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="card round o-review-card">
            <div class="row justify-content-between">
                <div>Sid_90</div>
                <div class="grey font-sm i">8 hours ago</div>
            </div>

            <div class="heading">
                Great Experience
            </div>

            <div class="rating">
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                    <i class="fas fa-star"></i>
                </span>
            </div>

            <div class="review grey i">
                The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend this to start and get an idea about how Shopify works.
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <div class="card round o-review-card">
            <div class="row justify-content-between">
                <div>Sid_90</div>
                <div class="grey font-sm i">8 hours ago</div>
            </div>

            <div class="heading">
                Great Experience
            </div>

            <div class="rating">
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                    <i class="fas fa-star"></i>
                </span>
            </div>

            <div class="review grey i">
                The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend this to start and get an idea about how Shopify works.
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4 col-lg-3">
        <div class="card round o-review-card">
            <div class="row justify-content-between">
                <div>Sid_90</div>
                <div class="grey font-sm i">8 hours ago</div>
            </div>

            <div class="heading">
                Great Experience
            </div>

            <div class="rating">
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                    <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                    <i class="fas fa-star"></i>
                </span>
            </div>

            <div class="review grey i">
                The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend this to start and get an idea about how Shopify works.
                The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend this to start and get an idea about how Shopify works.
                The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend this to start and get an idea about how Shopify works.
                The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend this to start and get an idea about how Shopify works.
                The course was pretty basic but good. The teacher was clear while speakin so I definitely reccomend this to start and get an idea about how Shopify works.
            </div>
        </div>
    </div>
</div>

