    {{> nav-bar }}
    <div class="container-courses">
      <div class="heading">
        <p>My Courses</p>
      </div>


      <div class="row">
        <div class="card-layout col-md-4 col-sm-6">
          <div class="card c-layout-card c-mycourse-card">

            <div data-completed="false" class="status-circle">
              <div class="circle-back">
                <div class="circle-front">
                  <p class="progress-text">26%</p>
                </div>
              </div>
            </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>
              </div>
            <div class="row no-gutters">
                <div class="card-mentor col-12">
                <div class="card-mentor-image">
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                </div>
                <div class="card-mentor-text">
                    <span>Instructors</span>
                    <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                </div>
            </div>
            </div>
            
            <div class="card-mentor-divider"></div>
            <div class="price-detail row align-items-center no-gutters">
              <div class="col-6">
                <div class="card-batches">
                  Nov-Dec 2017
                </div>
              </div>
              <div class="button-parent col-6">

                <div class="button-solid">
                  <button>Register</button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card-layout col-md-4 col-sm-6">
          <div class="card c-layout-card c-mycourse-card">

            <div data-completed="false" class="status-circle">
              <div class="circle-back">
                <div class="circle-front">
                  <p class="progress-text">26%</p>
                </div>
              </div>
            </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>
              </div>
            <div class="row no-gutters">
                <div class="card-mentor col-12">
                <div class="card-mentor-image">
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                </div>
                <div class="card-mentor-text">
                    <span>Instructors</span>
                    <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                </div>
            </div>
            </div>
            
            <div class="card-mentor-divider"></div>
            <div class="price-detail row align-items-center no-gutters">
              <div class="col-6">
                <div class="card-batches">
                  Nov-Dec 2017
                </div>
              </div>
              <div class="button-parent col-6">

                <div class="button-solid">
                  <button>Register</button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card-layout col-md-4 col-sm-6">
          <div class="card c-layout-card c-mycourse-card">

            <div data-completed="false" class="status-circle">
              <div class="circle-back">
                <div class="circle-front">
                  <p class="progress-text">26%</p>
                </div>
              </div>
            </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>
              </div>
            <div class="row no-gutters">
                <div class="card-mentor col-12">
                <div class="card-mentor-image">
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                </div>
                <div class="card-mentor-text">
                    <span>Instructors</span>
                    <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                </div>
            </div>
            </div>
            
            <div class="card-mentor-divider"></div>
            <div class="price-detail row align-items-center no-gutters">
              <div class="col-6">
                <div class="card-batches">
                  Nov-Dec 2017
                </div>
              </div>
              <div class="button-parent col-6">

                <div class="button-solid">
                  <button>Register</button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card-layout col-md-4 col-sm-6">
          <div class="card c-layout-card c-mycourse-card">

            <div data-completed="false" class="status-circle">
              <div class="circle-back">
                <div class="circle-front">
                  <p class="progress-text">26%</p>
                </div>
              </div>
            </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>
              </div>
            <div class="row no-gutters">
                <div class="card-mentor col-12">
                <div class="card-mentor-image">
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                    <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                </div>
                <div class="card-mentor-text">
                    <span>Instructors</span>
                    <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                </div>
            </div>
            </div>
            
            <div class="card-mentor-divider"></div>
            <div class="price-detail row align-items-center no-gutters">
              <div class="col-6">
                <div class="card-batches">
                  Nov-Dec 2017
                </div>
              </div>
              <div class="button-parent col-6">

                <div class="button-solid">
                  <button>Register</button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

        <div class="recommended-container">
          <div class="short-heading">
            <p>Recommended Courses</p>
          </div>
          <div class="recommended row">
            <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
          <div class="card c-layout-card c-course-card">
              <div class="difficulty-div">
                  <div class="expert-level"></div>
                  <div class="expert-text">Expert</div>
              </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>

              </div>

              <div class="row no-gutters align-items-center ">
                  <div class="card-mentor col-9 col-md-12">
                      <!--<div class="row no-gutters">-->
                          <div class="card-mentor-image">
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                          </div>
                          <div class="card-mentor-text">
                              <span>Instructors</span>
                              <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                          </div>
                      <!--</div>-->

                  </div>

                  <div class="col-3 col-md-12 d-flex justify-content-sm-end justify-content-end justify-content-md-start">
                    <div class="rating">
                        <span class="pos-rating">
                        <i class="fas fa-star"></i>
                        </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="edit-rating">4.7</span>
                    </div>
                  </div>
              </div>
              <div class="row no-gutters">
                  <!--<div class="price-detail no-gutters">-->
                  <div class="col-md-6 col-4 col-sm-5 order-2 order-md-0">
                      <div class="card-price-details">
                          <div class="card-batches">
                              2 Batches Available
                          </div>
                          <div class="card-batch-details">
                              Starting from <span class="price">Rs 2000</span>
                          </div>
                      </div>
                  </div>
                  <div class="button-parent col-md-6 col-3 col-sm-2 order-3 order-md-1">
                      <div class="button-solid">
                          <button>Register</button>
                      </div>
                  </div>
                  <!--</div>-->

                  <div class="card-mentor-divider col-12 order-0 order-md-2"></div>

                  <div class="footer col-md-12 col-5 order-1 order-md-3">
                      <div class="red">Hurry Up!</div>
                      Enrollment ens 21st May 2018
                  </div>
              </div>


          </div>
      </div>

      <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
          <div class="card c-layout-card c-course-card">
              <div class="difficulty-div">
                  <div class="expert-level"></div>
                  <div class="expert-text">Expert</div>
              </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>

              </div>

              <div class="row no-gutters align-items-center ">
                  <div class="card-mentor col-9 col-md-12">
                      <!--<div class="row no-gutters">-->
                          <div class="card-mentor-image">
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                          </div>
                          <div class="card-mentor-text">
                              <span>Instructors</span>
                              <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                          </div>
                      <!--</div>-->

                  </div>

                  <div class="col-3 col-md-12 d-flex justify-content-sm-end justify-content-end justify-content-md-start">
                    <div class="rating">
                        <span class="pos-rating">
                        <i class="fas fa-star"></i>
                        </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="edit-rating">4.7</span>
                    </div>
                  </div>
              </div>
              <div class="row no-gutters">
                  <!--<div class="price-detail no-gutters">-->
                  <div class="col-md-6 col-4 col-sm-5 order-2 order-md-0">
                      <div class="card-price-details">
                          <div class="card-batches">
                              2 Batches Available
                          </div>
                          <div class="card-batch-details">
                              Starting from <span class="price">Rs 2000</span>
                          </div>
                      </div>
                  </div>
                  <div class="button-parent col-md-6 col-3 col-sm-2 order-3 order-md-1">
                      <div class="button-solid">
                          <button>Register</button>
                      </div>
                  </div>
                  <!--</div>-->

                  <div class="card-mentor-divider col-12 order-0 order-md-2"></div>

                  <div class="footer col-md-12 col-5 order-1 order-md-3">
                      <div class="red">Hurry Up!</div>
                      Enrollment ens 21st May 2018
                  </div>
              </div>


          </div>
      </div>

      <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
          <div class="card c-layout-card c-course-card">
              <div class="difficulty-div">
                  <div class="expert-level"></div>
                  <div class="expert-text">Expert</div>
              </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>

              </div>

              <div class="row no-gutters align-items-center ">
                  <div class="card-mentor col-9 col-md-12">
                      <!--<div class="row no-gutters">-->
                          <div class="card-mentor-image">
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                          </div>
                          <div class="card-mentor-text">
                              <span>Instructors</span>
                              <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                          </div>
                      <!--</div>-->

                  </div>

                  <div class="col-3 col-md-12 d-flex justify-content-sm-end justify-content-end justify-content-md-start">
                    <div class="rating">
                        <span class="pos-rating">
                        <i class="fas fa-star"></i>
                        </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="edit-rating">4.7</span>
                    </div>
                  </div>
              </div>
              <div class="row no-gutters">
                  <!--<div class="price-detail no-gutters">-->
                  <div class="col-md-6 col-4 col-sm-5 order-2 order-md-0">
                      <div class="card-price-details">
                          <div class="card-batches">
                              2 Batches Available
                          </div>
                          <div class="card-batch-details">
                              Starting from <span class="price">Rs 2000</span>
                          </div>
                      </div>
                  </div>
                  <div class="button-parent col-md-6 col-3 col-sm-2 order-3 order-md-1">
                      <div class="button-solid">
                          <button>Register</button>
                      </div>
                  </div>
                  <!--</div>-->

                  <div class="card-mentor-divider col-12 order-0 order-md-2"></div>

                  <div class="footer col-md-12 col-5 order-1 order-md-3">
                      <div class="red">Hurry Up!</div>
                      Enrollment ens 21st May 2018
                  </div>
              </div>


          </div>
      </div>

      <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
          <div class="card c-layout-card c-course-card">
              <div class="difficulty-div">
                  <div class="expert-level"></div>
                  <div class="expert-text">Expert</div>
              </div>

              <div class="header">
                  <div class="card-image c-image-card">
                      <img src="https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg">
                  </div>

                  <div class="card-heading c-text-card">
                      Registration Open for Launchpad online
                  </div>
                  <div class="card-text">
                      Learn data structures & algorithm in C++
                  </div>

              </div>

              <div class="row no-gutters align-items-center ">
                  <div class="card-mentor col-9 col-md-12">
                      <!--<div class="row no-gutters">-->
                          <div class="card-mentor-image">
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                          </div>
                          <div class="card-mentor-text">
                              <span>Instructors</span>
                              <div class="card-mentor-name">Prateek Narang, Arnav Gupta and 2 more</div>
                          </div>
                      <!--</div>-->

                  </div>

                  <div class="col-3 col-md-12 d-flex justify-content-sm-end justify-content-end justify-content-md-start">
                    <div class="rating">
                        <span class="pos-rating">
                        <i class="fas fa-star"></i>
                        </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="pos-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="neg-rating">
                                <i class="fas fa-star"></i>
                            </span>
                        <span class="edit-rating">4.7</span>
                    </div>
                  </div>
              </div>
              <div class="row no-gutters">
                  <!--<div class="price-detail no-gutters">-->
                  <div class="col-md-6 col-4 col-sm-5 order-2 order-md-0">
                      <div class="card-price-details">
                          <div class="card-batches">
                              2 Batches Available
                          </div>
                          <div class="card-batch-details">
                              Starting from <span class="price">Rs 2000</span>
                          </div>
                      </div>
                  </div>
                  <div class="button-parent col-md-6 col-3 col-sm-2 order-3 order-md-1">
                      <div class="button-solid">
                          <button>Register</button>
                      </div>
                  </div>
                  <!--</div>-->

                  <div class="card-mentor-divider col-12 order-0 order-md-2"></div>

                  <div class="footer col-md-12 col-5 order-1 order-md-3">
                      <div class="red">Hurry Up!</div>
                      Enrollment ens 21st May 2018
                  </div>
              </div>


          </div>
      </div>
          </div>
        </div>
      </div>
