<div class="row">
	<div class="col-4">
		<div class="border-card p-5">
			<h4>Daily Goal</h4>
			<div class="font-xs">Complete daily goal to count it as streak</div>
			<progress value="20" max="100" class="mt-4 mb-4 w-90"></progress>
			<h6 class="bold">20/100 Points Scored</h6>
		</div>
	</div>
</div>