<div class="row">
  <div class="dcb-card c-layout-card col-sm-12 col-md-7">
    <div class="img-card">
      <div class="row justify-content-center">    
        <div class="col-md-8">
          <h5>TODAY'S CODE BYTE</h5>
          <h5 class="mt-2 mb-4">Sunday, 28th April</h5>
        </div>
        <div class="col-md-4 pl-5">
          <ul class="divided-list timer">
            <li class="timer-item">
              <div class="list-heading">00</div>
              <div class="list-data">Days</div>
            </li>
            <li class="timer-item">
              <div class="list-heading">12</div>
              <div class="list-data">Hours</div>
            </li>
            <li class="timer-item">
              <div class="list-heading">30</div>
              <div class="list-data">Minutes</div>
            </li>
          </ul>
        </div>
      </div>
      <hr class="divider-h bg-white dcb-divider"/>
      <h3 class="mb-4 mt-4">PIVOT OF SORTED AND ROTATED ARRAY</h3>
      <div class="dcb-content mb-5">You are given a sorted but rotated array. You need to fine the index of the pivot element of the array where pivot is that element in the array which is greater than its next element and divides the array into two monotonically increasing halves.</div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <ul class="divided-list">
            <li class="list-item">
                <div class="list-heading">Heading</div>
                <div class="list-data">Value Here</div>
            </li>
            <li class="list-item">
                <div class="list-heading">Heading</div>
                <div class="list-data">Value Here</div>
            </li>
            <li class="list-item">
                <div class="list-heading">Heading</div>
                <div class="list-data">Value Here</div>
            </li>
            <li class="list-item">
                <div class="list-heading">Heading</div>
                <div class="list-data">Value Here</div>
            </li>
          </ul>
        </div>
        <div class="col-md-4 pl-5">
          <button class="button-solid mt-3">Solve Challenge</button>
        </div>
      </div>
    </div>
  </div>
</div>