<div class="dcb-card c-layout-card col-12 col-sm-12 col-md-8 col-lg-8">
  <div class="img-card online-card">
    <img class="back-img" src="images/android.svg">
    <div class="head d-flex">
      <div class="head-left">
        <span>TODAY'S CODE BYTE</span>
        <br>
        <span>Sunday, 28th April</span>
      </div>
    </div>
    {{!-- <hr class="divider-dcb"> --}}
    <div class="foot">
      
    </div>
  </div>
</div>
