<div class="a-hb">
    <div class="container">
        {{>nav-hb}}
        <div class="row justify-content-center">
            {{>sidenav}}
            <div class="offset-0 offset-md-1 col-11 px-5">
                <h2 class="pt-5 t-align-c">DAILY CODE BYTES (DCB’s)</h2>
                <h5 class="bold pt-2 pb-5 t-align-c">Your daily dose of programming. One question each day, to see what
                    you are made
                    of. </h5>
                <div class="row justify-content-between">
                    <div class="col-12 col-md-8">
                        <div class="c-dcb-card pb-5">
                            <div class="img-card bg-gradient-blue-lr">
                                <div class="row justify-content-between">
                                    <div class="col-md-4 col-sm-6 col-6">
                                        <h5>TODAY'S CODE BYTE</h5>
                                        <h5 class="mt-2 mb-4">Sunday, 28th April</h5>
                                    </div>
                                    <div>
                                        <ul class="divided-list timer">
                                            <li class="timer-item">
                                                <div class="list-heading white">00</div>
                                                <div class="list-data">Days</div>
                                            </li>
                                            <li class="timer-item">
                                                <div class="list-heading white">12</div>
                                                <div class="list-data">Hours</div>
                                            </li>
                                            <li class="timer-item">
                                                <div class="list-heading white">30</div>
                                                <div class="list-data">Minutes</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="divider-h bg-white dcb-divider"></div>
                                <h3 class="mb-4 mt-4">PIVOT OF SORTED AND ROTATED ARRAY</h3>
                                <div class="font-xs mb-5">You are given a sorted but rotated array. You need to fine the
                                    index of the pivot element of the array where pivot is that element in the array
                                    which
                                    is greater than its next element and divides the array into two monotonically
                                    increasing
                                    halves.</div>
                                <div class="row justify-content-between">
                                    <div class="col-sm-12 col-12 col-lg-9">
                                        <ul class="divided-list">
                                            <li class="list-item">
                                                <div class="list-heading">Hard</div>
                                                <div class="list-data">Difficulty</div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-heading">345</div>
                                                <div class="list-data">Submissions</div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-heading">200</div>
                                                <div class="list-data">Max Points</div>
                                            </li>
                                            <li class="list-item">
                                                <div class="list-heading">24</div>
                                                <div class="list-data">Time (Hours)</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <button class="button-solid-white mt-3">Solve Challenge</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-card c-previous-dcb">
                            <h4 class="mb-5">Previous DCBs</h4>
                            <div class="list-divided border-none">
                                <div class="row no-gutters pointer my-4 pb-4">
                                    <div class="li-left">
                                        <div>
                                            <h5>Birthday Cake Candle</h5>
                                            <ul class="divided-list">
                                                <li class="list-item">
                                                    <div class="list-heading">Hard</div>
                                                    <div class="list-data">Difficulty</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">345</div>
                                                    <div class="list-data">Submissions</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">200</div>
                                                    <div class="list-data">Max Points</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="li-right">
                                        <div>
                                            <button class="button-gradient-blue mt-3">Solve Challenge</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="row no-gutters pointer my-4 pb-4">
                                    <div class="li-left">
                                        <div class="">
                                            <h5>Birthday Cake Candle</h5>
                                            <ul class="divided-list">
                                                <li class="list-item">
                                                    <div class="list-heading">Hard</div>
                                                    <div class="list-data">Difficulty</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">345</div>
                                                    <div class="list-data">Submissions</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">200</div>
                                                    <div class="list-data">Max Points</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="li-right">
                                        <div>
                                            <button class="button-gradient-blue mt-3">Solve Challenge</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="row no-gutters pointer my-4 pb-4">
                                    <div class="li-left">
                                        <div class="">
                                            <h5>Birthday Cake Candle</h5>
                                            <ul class="divided-list">
                                                <li class="list-item">
                                                    <div class="list-heading">Hard</div>
                                                    <div class="list-data">Difficulty</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">345</div>
                                                    <div class="list-data">Submissions</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">200</div>
                                                    <div class="list-data">Max Points</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="li-right">
                                        <div>
                                            <button class="button-gradient-blue mt-3">Solve Challenge</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="row no-gutters pointer my-4 pb-4">
                                    <div class="li-left">
                                        <div class="">
                                            <h5>Birthday Cake Candle</h5>
                                            <ul class="divided-list">
                                                <li class="list-item">
                                                    <div class="list-heading">Hard</div>
                                                    <div class="list-data">Difficulty</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">345</div>
                                                    <div class="list-data">Submissions</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">200</div>
                                                    <div class="list-data">Max Points</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="li-right">
                                        <div>
                                            <button class="button-gradient-blue mt-3">Solve Challenge</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="row no-gutters pointer my-4 pb-4">
                                    <div class="li-left">
                                        <div class="">
                                            <h5>Birthday Cake Candle</h5>
                                            <ul class="divided-list">
                                                <li class="list-item">
                                                    <div class="list-heading">Hard</div>
                                                    <div class="list-data">Difficulty</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">345</div>
                                                    <div class="list-data">Submissions</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">200</div>
                                                    <div class="list-data">Max Points</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="li-right">
                                        <div>
                                            <button class="button-gradient-blue mt-3">Solve Challenge</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="row no-gutters pointer my-4 pb-4">
                                    <div class="li-left">
                                        <div class="">
                                            <h5>Birthday Cake Candle</h5>
                                            <ul class="divided-list">
                                                <li class="list-item">
                                                    <div class="list-heading">Hard</div>
                                                    <div class="list-data">Difficulty</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">345</div>
                                                    <div class="list-data">Submissions</div>
                                                </li>
                                                <li class="list-item">
                                                    <div class="list-heading">200</div>
                                                    <div class="list-data">Max Points</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="li-right">
                                        <div>
                                            <button class="button-gradient-blue mt-3">Solve Challenge</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4 mt-md-0 mt-5">
                        <div class="img-card c-daily-goal-card">
                            <h4>Daily Goal</h4>
                            <div class="font-xs">Complete daily goal to count it as streak</div>
                            <progress value="50" max="100" class="mt-4 mb-2"></progress>
                            <h6 class="bold">20/100 Points Scored</h6>
                            <div class="divider-h my-4"></div>
                            <h4>Unlock Badge</h4>
                            <div class="font-xs">Complete 3 more consecutive DCB’s to unlock badge</div>
                            <img src="/images/hexagon.jpg" alt="Badge Logo" class="badge mt-5 mb-3" />
                            <h5 style="color: #246db3">Streak Master</h5>
                            <progress value="50" max="100" class="mt-4 mb-2"></progress>
                            <h6 class="bold">4 of 7 DCB’s completed</h6>
                            <div class="divider-h my-4"></div>
                            <h4>My Badges</h4>
                            <div class="row badge-scroll my-4">
                                <div class="col-4 col-lg-3">
                                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
                                </div>
                                <div class="col-4 col-lg-3">
                                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
                                </div>
                                <div class="col-4 col-lg-3">
                                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
                                </div>
                                <div class="col-4 col-lg-3">
                                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
                                </div>
                                <div class="col-4 col-lg-3">
                                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
                                </div>
                                <div class="col-4 col-lg-3">
                                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
                                </div>
                                <div class="col-4 col-lg-3">
                                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
                                </div>
                            </div>
                        </div>

                        <div class="c-hb-leaderboard pt-5">
                            <div class="border-card mb-5">
                                <h4 class="mb-5 t-align-c pt-4">Leaderboard</h4>
                                <table class="w-100">
                                    <thead class="font-sm extra-bold">
                                        <td class="pb-4 t-align-c">Rank</td>
                                        <td class="pb-4">User</td>
                                        <td class="pb-4 t-align-c">Score</td>
                                    </thead>
                                    <tbody>
                                        <tr class="self">
                                            <td class="pb-4 pt-4">#40</td>
                                            <td class="pb-4 pt-4">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-4">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-4">01</td>
                                            <td class="pb-4 pt-4">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-4">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                        <tr>
                                            <td class="pb-4 pt-2">01</td>
                                            <td class="pb-4 pt-2">
                                                <div class="img-desc align-items-center">
                                                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                                    <div class="description ml-3">
                                                        Siddharth Jain
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="pb-4 pt-2">2345</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>