<div class="c-dcb-card mt-5">
	<div class="border-card p-5 bg-gradient-blue-lr">
		<div class="row justify-content-between mr-0">
			<div class="col-md-4 col-sm-6 col-6">
				<h5>TODAY'S CODE BYTE</h5>
				<h5 class="mt-2 mb-4">Sunday, 28th April</h5>
			</div>
			<div>
				<ul class="divided-list timer">
					<li class="timer-item">
						<div class="list-heading white bold">00</div>
						<div class="list-data">Days</div>
					</li>
					<li class="timer-item">
						<div class="list-heading white bold">12</div>
						<div class="list-data">Hours</div>
					</li>
					<li class="timer-item">
						<div class="list-heading white bold">30</div>
						<div class="list-data">Minutes</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="divider-h bg-white dcb-divider"></div>
		<div class="row justify-content-between align-items-center mr-0">
			<div class="col-10">
				<h3 class="mb-4 mt-4">PIVOT OF SORTED AND ROTATED ARRAY</h3>
			</div>
			<a href="#" class="white"><i class="far fa-bookmark fa-2x"></i></a>
		</div>
		<ul class="divided-list bold">
			<li class="px-3">
				<div class="list-heading">Hard</div>
				<div class="list-data">Difficulty</div>
			</li>
			<li class="px-3">
				<div class="list-heading">345</div>
				<div class="list-data">Submissions</div>
			</li>
			<li class="px-3">
				<div class="list-heading">200</div>
				<div class="list-data">Max Points</div>
			</li>
			<li class="px-3">
				<div class="list-heading">24</div>
				<div class="list-data">Time (Hours)</div>
			</li>
		</ul>
	</div>
</div>