<div class="c-dcb-card">
    <div class="img-card bg-gradient-blue-lr">
        <div class="row justify-content-between">
            <div class="col-md-4 col-sm-6 col-6">
                <h5>TODAY'S CODE BYTE</h5>
                <h5 class="mt-2 mb-4">Sunday, 28th April</h5>
            </div>
            <div>
                <ul class="divided-list timer">
                    <li class="timer-item">
                        <div class="list-heading white">00</div>
                        <div class="list-data">Days</div>
                    </li>
                    <li class="timer-item">
                        <div class="list-heading white">12</div>
                        <div class="list-data">Hours</div>
                    </li>
                    <li class="timer-item">
                        <div class="list-heading white">30</div>
                        <div class="list-data">Minutes</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="divider-h bg-white dcb-divider"></div>
        <h3 class="mb-4 mt-4">PIVOT OF SORTED AND ROTATED ARRAY</h3>
        <ul class="divided-list">
            <li class="list-item">
                <div class="list-heading">Hard</div>
                <div class="list-data">Difficulty</div>
            </li>
            <li class="list-item">
                <div class="list-heading">345</div>
                <div class="list-data">Submissions</div>
            </li>
            <li class="list-item">
                <div class="list-heading">200</div>
                <div class="list-data">Max Points</div>
            </li>
            <li class="list-item">
                <div class="list-heading">24</div>
                <div class="list-data">Time (Hours)</div>
            </li>
        </ul>
    </div>
</div>