<div class="a-hb">
	<div>
		{{>nav-hb}}
		<div class="row justify-content-center mx-0">
			{{>sidenav}}
			<div class="offset-0 offset-md-1 col-11 px-5">
				<h2 class="pt-5 t-align-c">DAILY CODE BYTES (DCB’s)</h2>
				<h5 class="bold pt-2 pb-5 t-align-c">Your daily dose of programming. One question each day, to see what
					you are made
					of. </h5>
				<div class="row justify-content-between">
					<div class="col-12 col-md-8">
						{{>dcb-card}}

						{{!-- Previous DCB Card --}}
						<div class="border-card c-problem-list px-0 mt-5">
							<h4 class="mb-4 px-5">Previous DCBs</h4>
							<div>
								<div class="row no-gutters hover-grey py-4 px-5">
									<div class="li-left">
										<div>
											<h5>Birthday Cake Candle</h5>
											<ul class="divided-list bold">
												<li class="px-3">
													<div class="list-heading">Hard</div>
													<div class="list-data">Difficulty</div>
												</li>
												<li class="px-3">
													<div class="list-heading">345</div>
													<div class="list-data">Submissions</div>
												</li>
												<li class="px-3">
													<div class="list-heading">200</div>
													<div class="list-data">Max Points</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="li-right">
										<div>
											<button class="button-dashed button-blue mt-3">Solve Challenge</button>
										</div>
									</div>
								</div>

								<div class="divider-h px-5"></div>

								<div class="row no-gutters hover-grey py-4 px-5">
									<div class="li-left">
										<div class="">
											<h5>Birthday Cake Candle</h5>
											<ul class="divided-list bold">
												<li class="px-3">
													<div class="list-heading">Hard</div>
													<div class="list-data">Difficulty</div>
												</li>
												<li class="px-3">
													<div class="list-heading">345</div>
													<div class="list-data">Submissions</div>
												</li>
												<li class="px-3">
													<div class="list-heading">200</div>
													<div class="list-data">Max Points</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="li-right">
										<div>
											<button class="button-dashed button-blue mt-3">Solve Challenge</button>
										</div>
									</div>
								</div>

								<div class="divider-h px-5"></div>

								<div class="row no-gutters hover-grey py-4 px-5">
									<div class="li-left">
										<div class="">
											<h5>Birthday Cake Candle</h5>
											<ul class="divided-list bold">
												<li class="px-3">
													<div class="list-heading">Hard</div>
													<div class="list-data">Difficulty</div>
												</li>
												<li class="px-3">
													<div class="list-heading">345</div>
													<div class="list-data">Submissions</div>
												</li>
												<li class="px-3">
													<div class="list-heading">200</div>
													<div class="list-data">Max Points</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="li-right">
										<div>
											<button class="button-dashed button-blue mt-3">Solve Challenge</button>
										</div>
									</div>
								</div>

								<div class="divider-h px-5"></div>

								<div class="row no-gutters hover-grey py-4 px-5">
									<div class="li-left">
										<div class="">
											<h5>Birthday Cake Candle</h5>
											<ul class="divided-list bold">
												<li class="px-3">
													<div class="list-heading">Hard</div>
													<div class="list-data">Difficulty</div>
												</li>
												<li class="px-3">
													<div class="list-heading">345</div>
													<div class="list-data">Submissions</div>
												</li>
												<li class="px-3">
													<div class="list-heading">200</div>
													<div class="list-data">Max Points</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="li-right">
										<div>
											<button class="button-dashed button-blue mt-3">Solve Challenge</button>
										</div>
									</div>
								</div>

								<div class="divider-h px-5"></div>

								<div class="row no-gutters hover-grey py-4 px-5">
									<div class="li-left">
										<div class="">
											<h5>Birthday Cake Candle</h5>
											<ul class="divided-list bold">
												<li class="px-3">
													<div class="list-heading">Hard</div>
													<div class="list-data">Difficulty</div>
												</li>
												<li class="px-3">
													<div class="list-heading">345</div>
													<div class="list-data">Submissions</div>
												</li>
												<li class="px-3">
													<div class="list-heading">200</div>
													<div class="list-data">Max Points</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="li-right">
										<div>
											<button class="button-dashed button-blue mt-3">Solve Challenge</button>
										</div>
									</div>
								</div>

								<div class="divider-h px-5"></div>

								<div class="row no-gutters hover-grey py-4 px-5">
									<div class="li-left">
										<div class="">
											<h5>Birthday Cake Candle</h5>
											<ul class="divided-list bold">
												<li class="px-3">
													<div class="list-heading">Hard</div>
													<div class="list-data">Difficulty</div>
												</li>
												<li class="px-3">
													<div class="list-heading">345</div>
													<div class="list-data">Submissions</div>
												</li>
												<li class="px-3">
													<div class="list-heading">200</div>
													<div class="list-data">Max Points</div>
												</li>
											</ul>
										</div>
									</div>
									<div class="li-right">
										<div>
											<button class="button-dashed button-blue mt-3">Solve Challenge</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-4 mt-md-0 mt-5">
						{{>daily-goal-card}}

						{{!-- Leaderboard --}}
						<div class="c-hb-leaderboard pt-5">
							<div class="border-card mb-5">
								<h4 class="mb-5 t-align-c pt-4">Leaderboard</h4>
								<table class="w-100">
									<thead class="font-sm extra-bold  blue">
										<td class="pb-4 t-align-c">Rank</td>
										<td class="pb-4">User</td>
										<td class="pb-4 t-align-c">Score</td>
									</thead>
									<tbody>
										<tr class="bg-gradient-blue-lr white extra-bold">
											<td class="pb-4 pt-4">#40</td>
											<td class="pb-4 pt-4">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-4">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-4">01</td>
											<td class="pb-4 pt-4">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-4">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
										<tr>
											<td class="pb-4 pt-2">01</td>
											<td class="pb-4 pt-2">
												<div class="img-desc align-items-center">
													<img class="round s-30x30" src="/images/placeholder.gif" alt="">
													<div class="description ml-3">
														Siddharth Jain
													</div>
												</div>
											</td>
											<td class="pb-4 pt-2">2345</td>
										</tr>
									</tbody>
								</table>
								<div class="divider-h w-90 mx-auto my-4"></div>
								<div class="t-align-c bold">
									<a href="#">
										<i class="fas fa-angle-left mx-2"></i>
										<span>Prev</span>
									</a>
									<span class="regular mx-3">1-20 of 245</span>
									<a href="#">
										<span>Next</span>
										<i class="fas fa-angle-right mx-2"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>