<ul class="div-list">
    <li class="div-list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
    <li class="div-list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
    <li class="div-list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
    <li class="div-list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
</ul>