<ul class="divided-list">
    <li class="list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
    <li class="list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
    <li class="list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
    <li class="list-item">
        <span class="list-heading">Heading</span>
        <br>
        <span class="list-data">Value Here.</span>
    </li>
</ul>