<ul class="divided-list">
	<li class="px-3">
		<div class="list-heading mb-2">Heading</div>
		<div class="list-data">Value Here</div>
	</li>
	<li class="px-3">
		<div class="list-heading mb-2">Heading</div>
		<div class="list-data">Value Here</div>
	</li>
	<li class="px-3">
		<div class="list-heading mb-2">Heading</div>
		<div class="list-data">Value Here</div>
	</li>
	<li class="px-3">
		<div class="list-heading mb-2">Heading</div>
		<div class="list-data">Value Here</div>
	</li>
</ul>