{{> nav-bar}}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 col-12">
      <div class="border-card br-20 bg-light-grey mb-5">
        <h5 class="mb-3">Find User</h5>
        <form action="">
          <input type="text" class="input-text mb-4">
          <button class="button-solid">Search</button>
        </form>
      </div>
      <div class="border-card mb-4">
        <h5 class="mb-3">Select User</h5>
        <div class="row">
          <div class="col-1">
            <input type="radio" name="username">
          </div>
          <div class="col-10">
            <div class="red font-sm mb-2">Username: sidjain2901-gh</div>
            <div>Firstname: Siddharth</div>
            <div>Lastname: Jain</div>
            <div>Mobile: +91-9560839425</div>
          </div>
        </div>
    
        <div class="divider-h mb-4 mt-4"></div>
    
        <button class="mb-3 font-sm extra-bold">All Payments</button>
        <br>
        <button class="red font-sm extra-bold">Start New Payment</button>
      </div>
    </div>

    <div class="col-md-9 col-12 pl-md-5 pr-md-5">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-5 mb-4">
          <div class="border-card">
          <div class="font-mds mb-3">Payment ID: #234</div>
          <h5 class="red">Payment Type: Partial</h5>
          <div class="divider-h mb-4 mt-4"></div>
          <p>
            Product Name: Web Dev March Online
          </p>
          <p>
            Total Amount: INR 5000
          </p>  
          <p>
            Amount Paid: INR 2000
          </p>
          <p>
            Balance Left: INR 3000
          </p>

          <button class="button-solid mt-3">View Transaction</button>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 mb-4">
          <div class="border-card">
          <div class="font-mds mb-3">Payment ID: #234</div>
          <h5 class="red">Payment Type: Partial</h5>
          <div class="divider-h mb-4 mt-4"></div>
          <p>
            Product Name: Web Dev March Online
          </p>
          <p>
            Total Amount: INR 5000
          </p>  
          <p>
            Amount Paid: INR 2000
          </p>
          <p>
            Balance Left: INR 3000
          </p>

          <button class="button-solid mt-3">View Transaction</button>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 mb-4">
          <div class="border-card">
          <div class="font-mds mb-3">Payment ID: #234</div>
          <h5 class="red">Payment Type: Partial</h5>
          <div class="divider-h mb-4 mt-4"></div>
          <p>
            Product Name: Web Dev March Online
          </p>
          <p>
            Total Amount: INR 5000
          </p>  
          <p>
            Amount Paid: INR 2000
          </p>
          <p>
            Balance Left: INR 3000
          </p>

          <button class="button-solid mt-3">View Transaction</button>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 mb-4">
          <div class="border-card">
          <div class="font-mds mb-3">Payment ID: #234</div>
          <h5 class="red">Payment Type: Partial</h5>
          <div class="divider-h mb-4 mt-4"></div>
          <p>
            Product Name: Web Dev March Online
          </p>
          <p>
            Total Amount: INR 5000
          </p>  
          <p>
            Amount Paid: INR 2000
          </p>
          <p>
            Balance Left: INR 3000
          </p>

          <button class="button-solid mt-3">View Transaction</button>
          </div>
        </div>
      </div>
    </div>

    <div class="offset-md-3"></div>
    <div class="col-md-9 col-12 pl-md-5 pr-md-5">
      <div class="border-card">
        <table class="w-100 t-align-l">
          <tr class="font-mds">
            <th class="pb-3">Course</th>
            <th class="pb-3">Total Amount</th>
            <th class="pb-3">Amount Left</th>
          </tr>
          <tr class="font-sm">
            <td class="pb-3">Android App Development</td>
            <td class="pb-3">12979</td>
            <td class="pb-3">6979</td>
            <td class="pb-3"><a href=""><button class="button-solid">View Details</button></a></td>
            <td class="pb-3"><a href=""><button class="button-solid">continue</button></a></td>
          </tr>
          <tr class="font-sm">
            <td class="pb-3">Android App Development</td>
            <td class="pb-3">12979</td>
            <td class="pb-3">6979</td>
            <td class="pb-3"><a href=""><button class="button-solid">View Details</button></a></td>
            <td class="pb-3"><a href=""><button class="button-solid">continue</button></a></td>
          </tr>

          <tr class="font-sm">
            <td class="pb-3">Android App Development</td>
            <td class="pb-3">12979</td>
            <td class="pb-3">6979</td>
            <td class="pb-3"><a href=""><button class="button-solid">View Details</button></a></td>
            <td class="pb-3"><a href=""><button class="button-solid">continue</button></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>