{{> nav-bar}}

<div class="container">
  
  <h3 class="mb-4 mt-4">Payment History</h3>

  <div class="tab-nav-underline mb-5">
    <div class="tab active">Completed Orders</div>
    <div class="tab">Incomplete Orders</div>
  </div>
  <div class="row justify-content-center p-4">
    <div class="border-card col-md-8 col-12 pt-4 mb-4">
      <div class="row justify-content-between align-items-center">
        <div class="img-desc col-md-7 col-12 mb-4 mb-md-0">
          <div class="col-md-3 col-4">
            <img class="round" src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
          </div>
          <div class="description justify-content-center">
            <div>
              <h4>Competitive Programming</h4>
              <div class="grey font-sm">Pitampura Center</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row no-gutters justify-content-between font-mds red extra-bold">
            <div>Order Total</div>
            <div class="font-md">Rs 500</div>
          </div>
          <div class="font-sm grey">
            Purchased on 24 February 2019
          </div>
        </div>
      </div>
      <div class="t-align-c">
        <button class="button-solid mt-4">View Invoice</button>
      </div>
    </div>

    <div class="border-card col-md-8 col-12 pt-4 mb-4">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-7 col-12">
          <div class="img-desc mb-4 mb-md-0">
            <div class="col-md-3 col-4">
              <img class="round" src="https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
            </div>
            <div class="description justify-content-center">
              <div>
                <h4>Competitive Programming</h4>
                <div class="grey font-sm">Pitampura Center</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row no-gutters justify-content-between font-mds red extra-bold">
            <div>Order Total</div>
            <div class="font-md">Rs 500</div>
          </div>
          <div class="font-sm grey">
            Purchased on 24 February 2019
          </div>
        </div>
      </div>
      
      <div class="extra-bold mt-4">
        <span class="font-mds red">Remaining Balance (Rs)</span>
        <span class="font-md ml-4">Rs 500</span>
      </div>

      <div class="row justify-content-between no-gutters mt-4">
        <div class="extra-bold row align-items-center">
          <div class="font-mds red col-7 col-md-6">Remaining Balance (Rs)</div>
          <input type="text" class="input-text font-md col-md-3 col-5">
        </div>
        <button class="button-solid">Continue Payment</button>
      </div>

      <div class="divider-h mt-4 mb-4"></div>

      <button>View All Transactions</button>
    </div>

  </div>
</div>