<div class="events-page">
  <div class="bg-black events-page__section">
    <div class="row no-gutters justify-content-between align-items-center">
      <div class="col-6 white">
        <div class="row no-gutters mb-5">
          <div class="s-80x80 bg-white mr-2 br-5">
            {{!-- Number goes here --}}
          </div>
          <div class="s-80x80 bg-white br-5">
            {{!-- Number goes here --}}
          </div>
          <div class="bold mx-3" style="font-size: 50px;">:</div>
          <div class="s-80x80 bg-white mr-2 br-5">
            {{!-- Number goes here --}}
          </div>
          <div class="s-80x80 bg-white br-5">
            {{!-- Number goes here --}}
          </div>
        </div>
        <div class="bold" style="font-size: 4.7rem;">SCHOLARSHIP TEST</div>
        <h2 class="mt-2 gradient-text-orange bold">24th march 2020</h2>
        <div class="font-md mt-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo vive
        </div>
        <button class="button-solid button-orange mt-5">Register Now</button>
      </div>
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/test.png">
    </div>
  </div>
  <div class="my-5">
    <h2 class="bold t-align-c">Events</h2>
  </div>
  {{!-- Carousel dots go here --}}
  <div class="events-page__events-carousel">
    <div class="row c-card-carousel justify-content-center overflow-hidden">
      <div class="col-10">
        <div class="br-10 events-page__event-card border">
          <div class="bg-grey events-page__event-card__head">
            <div class="events-page__event-card__head__date-tag s-100x100 round">
              <div class="t-align-c">
                <div class="font-mdxl bold gradient-text-orange">10</div>
                <div class="bold">SEPT</div>
              </div>
            </div>
          </div>
          <div class="py-4 px-md-5 px-4">
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="flex-1">
                <h2 class="bold gradient-text-orange">Interview Wednesday</h2>
                <div class="font-sm pb-3 mb-3 border-bottom" style="width: fit-content;">Get ‘FAANG’ Ready with Kartik
                  bhaiya</div>
                <div class="card-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                </div>
              </div>
              <div class="font-md">7:30 Onwards</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="br-10 events-page__event-card border">
          <div class="bg-grey events-page__event-card__head">
            <div class="events-page__event-card__head__date-tag s-100x100 round">
              <div class="t-align-c">
                <div class="font-mdxl bold gradient-text-orange">10</div>
                <div class="bold">SEPT</div>
              </div>
            </div>
          </div>
          <div class="py-4 px-md-5 px-4">
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="flex-1">
                <h2 class="bold gradient-text-orange">Interview Wednesday</h2>
                <div class="font-sm pb-3 mb-3 border-bottom" style="width: fit-content;">Get ‘FAANG’ Ready with Kartik
                  bhaiya</div>
                <div class="card-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                </div>
              </div>
              <div class="font-md">7:30 Onwards</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="br-10 events-page__event-card border">
          <div class="bg-grey events-page__event-card__head">
            <div class="events-page__event-card__head__date-tag s-100x100 round">
              <div class="t-align-c">
                <div class="font-mdxl bold gradient-text-orange">10</div>
                <div class="bold">SEPT</div>
              </div>
            </div>
          </div>
          <div class="py-4 px-md-5 px-4">
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="flex-1">
                <h2 class="bold gradient-text-orange">Interview Wednesday</h2>
                <div class="font-sm pb-3 mb-3 border-bottom" style="width: fit-content;">Get ‘FAANG’ Ready with Kartik
                  bhaiya</div>
                <div class="card-sm">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                </div>
              </div>
              <div class="font-md">7:30 Onwards</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="events-page__events-carousel__navigation events-page__events-carousel__navigation--left">
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/left.svg">
    </div>
    <div class="events-page__events-carousel__navigation events-page__events-carousel__navigation--right">
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/right.svg">
    </div>
  </div>
  <div class="events-page__section">
    <div class="row no-gutters justify-content-between align-items-center mb-5">
      <div class="flex-1">
        <h2 class="bold">Upcoming Workshops and Contests</h2>
      </div>
      <button class="button-solid button-orange">View All</button>
    </div>
    <div class="row">
      <div class="col-4 pt-5">
        <div class="br-10 label-card">
          <div class="br-10 label-card__head">
            <div class="label-card__label">
              <div class="position-relative all-center h-100">
                <div class="white bold">LIVE WEBINAR</div>
              </div>
            </div>
            <img
              src="https://previews.123rf.com/images/baranq/baranq1603/baranq160300758/53954805-businessman-portrait.jpg"
              class="label-card__head__cover">
          </div>
          <div class="br-10 label-card__foot px-md-5 px-4">
            <div class="label-card__foot__tag s-100x100">
              <div class="t-align-c">
                <div class="font-mdxl bold gradient-text-orange">10</div>
                <div class="bold">SEPT</div>
              </div>
            </div>
            <h4 class="bold">Machine Learning</h4>
            <div class="mt-1">Face Recognition</div>
            <div class="mentor-row my-4">
              <div class="mentor-row__image-container">
                <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                  alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-60x60">
                <div class="mentor-row__text-container align-self-center">
                  <div>By</div>
                  <div class="bold">Rishab Kapoor</div>
                </div>
              </div>
            </div>
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="font-sm">7:30 Onwards</div>
              <button class="button-solid button-orange">Register</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>