<div class="a-cbm">
  <div class="nagarro-landing">
    <div class="faq-section mb-20">
      <div class="card faq-card bg-grey-light-3">
        <div class="row no-gutters align-items-center">
          <div class="flex-1 pr-15">
            <div class="font-4">
              Is there a Bond?
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
        </div>
      </div>
      <div class="answer-section font-4">
        No, in case you don't join Nagarro, the fees won't be refunded. There won't be any bond upon joining this
        Bootcamp.
      </div>
    </div>
  </div>
</div>