<div class="a-cbm">
  <div class="nagarro-landing">
    <div class="faq-section mb-20">
      <input type="checkbox" id="check1">
      <label class="faq-card bold font-5" for="check1">
        Is there a Bond?
      </label>
      <div class="answer-section font-4">
        No, in case you don't join Nagarro, the fees won't be refunded. There won't be any bond upon joining this
        Bootcamp.
      </div>
    </div>
  </div>
</div>