<!-- Trigger the modal with a button -->
<div class="button-solid"> 
  <button data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="o-modal modal-dialog">
    <div class="o-feedback-modal modal-content">
      <h3>Submit Feedback</h3>
      <div class="title">
       How would you rate this course overall? 
      </div>
      <div class="rating">
        <span class="pos-rating">
          <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
          <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
          <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
          <i class="fas fa-star"></i>
        </span>
        <span class="neg-rating">
          <i class="fas fa-star"></i>
        </span>
      </div>
      <div class="title">
       How was the overall experience? 
      </div>
      <textarea class="input-textarea"></textarea>
      <div class="title">
        Write a public review. 
      </div>
      <textarea class="input-textarea" rows="5"></textarea>
      <div class="row justify-content-center">
        <div class="button-solid">
          <button data-dismiss="modal">Submit Feedback</button>
        </div> 
      </div>
    </div>
  </div>
</div>
