<div class="a-cbm">
  <div class="floating-ad">
    <div class="row no-gutters justify-content-end">
      <img src="https://minio.codingblocks.com/amoeba/wrong-close.png" class="pointer mb-2 mr-10" style="height: 12px;">
    </div>
    <div class="card bg-gradient-orange-light white">
      <div class="row no-gutters align-items-center justify-content-between">
        <div class="flex-1 pr-20">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="s-80x80 bg-white br-5 b-white border"></div>
            <div class="flex-1 pl-25">
              <div class="heading-6 bold">Gaurav Bansal</div>
              <div class="mt-1">Got placed in <strong>Amazon</strong></div>
              <div class="mt-10">Course - <strong>C++ Master Course</strong></div>
            </div>
          </div>
        </div>
        <div class="t-align-c border-left b-white pl-20">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/play-circle-white.svg" class="mb-1">
          <div class="font-1">Watch his <br />success story</div>
        </div>
      </div>
    </div>
  </div>
</div>