<!--
* Use "icon" class to show icon for input
-->

<style>
    .text-input{
        margin: 20px;
    }
</style>

<input type="text" class="text-input" placeholder="Enter Username">
<input type="text" class="text-input icon" placeholder="Enter Username">

<div class="input-btn">
    <input type="text" class="text-input" placeholder="Enter Username">
    <button class="grey">Forgot?</button>
</div>
