<!--
INPUT TEXT

* Use "icon" class to show icon for input
-->

<h3>Normal Input</h3>
<input type="text" class="input-text" placeholder="Enter Username">

<h3>Input with Icon</h3>
<input type="text" class="input-text icon fingerprint-bg" placeholder="Enter Username">

<h3>Input non rounded</h3>
<div class="right-input">
	<span class="bold font-sm dark-grey">Press Enter</span>
	<input type="text" class="input-text input-text--non-rounded" placeholder="Search problems by name">
</div>

<h3>Input with Overlay Button</h3>
<div class="input-btn">
	<input type="text" class="input-text" placeholder="Enter Username">
	<button class="grey">Forgot?</button>
</div>


<!--
INPUT CHECKBOX
-->

<h3>Checkbox</h3>

<label class="input-checkbox checkbox-tick" for="tick">
	<input type="checkbox" id="tick"> Click to Tick
	<span></span>
</label>

<label class="input-checkbox checkbox-solid" for="solid">
	<input type="checkbox" id="solid"> Click to Fill
	<span></span>
</label>

<!--
INPUT RADIO BUTTONS
-->

<h3>Radiobuttons</h3>

<div>
	<label for="radio-a" class="input-radio gradient-input d-block">
		<input type="radio" name="group-2" id="radio-a">Option1
		<span></span>
	</label>
	<label for="radio-b" class="input-radio gradient-input d-block">
		<input type="radio" name="group-2" id="radio-b">Option2
		<span></span>
	</label>
	<label for="radio-c" class="input-radio gradient-input d-block">
		<input type="radio" name="group-2" id="radio-c">Option3
		<span></span>
	</label>
</div>

<h3>Radiobuttons Checked</h3>

<div>
	<label for="radio-h" class="input-radio checked-input d-block">
		<input type="radio" name="group-5" id="radio-h">Option1
		<span></span>
	</label>
	<label for="radio-i" class="input-radio checked-input d-block">
		<input type="radio" name="group-5" id="radio-i">Option2
		<span></span>
	</label>
	<label for="radio-j" class="input-radio checked-input d-block">
		<input type="radio" name="group-5" id="radio-j">Option3
		<span></span>
	</label>


{{!-- INPUT SELECT LISTS --}}

<h3>Select Lists</h3>

<div class="d-flex">
	<div class="col-4">
		<div class="select-container">
			<select name="slct" id="slct" class="pb-4 underline-select">
				<option selected disabled hidden>Choose an option</option>
				<option value="1" class="py-2">Pure CSS</option>
				<option value="2" class="py-2">No JS</option>
				<option value="3" class="py-2">Nice!</option>
			</select>
		</div>
	</div>
</div>

<div class="d-flex my-5 a-ocb">
	<div class="col-4">
		<div class="select-container">
			<select name="slct" id="slct" class="rounded-select">
				<option selected disabled hidden>Choose an option</option>
				<option value="1" class="py-2">Pure CSS</option>
				<option value="2" class="py-2">No JS</option>
				<option value="3" class="py-2">Nice!</option>
			</select>
		</div>
	</div>
</div>