<!--
INPUT TEXT

* Use "icon" class to show icon for input
-->

<h3>Normal Input</h3>
<input type="text" class="input-text" placeholder="Enter Username">

<h3>Input with Icon</h3>
<input type="text" class="input-text icon fingerprint-bg" placeholder="Enter Username">

<h3>Input with Overlay Button</h3>
<div class="input-btn">
    <input type="text" class="input-text" placeholder="Enter Username">
    <button class="grey">Forgot?</button>
</div>



<!--
INPUT CHECKBOX
-->

<h3>Checkbox</h3>

<label class="input-checkbox checkbox-tick" for="tick">
    <input type="checkbox" id="tick"> Click to Tick
    <span></span>
</label>

<label class="input-checkbox checkbox-solid" for="solid">
    <input type="checkbox" id="solid"> Click to Fill
    <span></span>
</label>

<!--
INPUT RADIO BUTTONS
-->

<h3>Radiobuttons</h3>

<div class="pl-5">
    <div class="radio-container">
        <input type="radio" name="group1" id="radio-1">
        <label for="radio-1"><span class="radio">Coffee</span></label>
    </div>
    <div class="radio-container">
        <input type="radio" name="group1" id="radio-2">
        <label for="radio-2"><span class="radio">Tea</span></label>
    </div>
    <div class="radio-container">
        <input type="radio" name="group1" id="radio-3">
        <label for="radio-3"><span class="radio">Cappuccino</span></label>
    </div>
</div>