<!--
INPUT TEXT

* Use "icon" class to show icon for input
-->

<h3>Normal Input</h3>
<input type="text" class="input-text" placeholder="Enter Username">

<h3>Input with Icon</h3>
<input type="text" class="input-text icon fingerprint-bg" placeholder="Enter Username">

<h3>Input with Overlay Button</h3>
<div class="input-btn">
	<input type="text" class="input-text" placeholder="Enter Username">
	<button class="grey">Forgot?</button>
</div>



<!--
INPUT CHECKBOX
-->

<h3>Checkbox</h3>

<label class="input-checkbox checkbox-tick" for="tick">
	<input type="checkbox" id="tick"> Click to Tick
	<span></span>
</label>

<label class="input-checkbox checkbox-solid" for="solid">
	<input type="checkbox" id="solid"> Click to Fill
	<span></span>
</label>

<!--
INPUT RADIO BUTTONS
-->

<h3>Radiobuttons</h3>

<div>
	<label for="radio-a" class="input-radio d-block">
		<input type="radio" name="group-2" id="radio-a">Option1
		<span></span>
	</label>
	<label for="radio-b" class="input-radio d-block">
		<input type="radio" name="group-2" id="radio-b">Option2
		<span></span>
	</label>
	<label for="radio-c" class="input-radio d-block">
		<input type="radio" name="group-2" id="radio-c">Option3
		<span></span>
	</label>
</div>