<div class="row">
    <div class="col-4">
        <div class="border-card p-5 c-author-card">
            <h4 class="pb-2">About the Authors</h4>
            <div class="img-desc align-items-center font-sm pt-4">
                <img class="round s-50x50" src="/images/placeholder.gif" alt="">
                <div class="description ml-3">
                    <h5>Siddharth Jain</h5>
                    <span class="font-xs"><a href="#" class="orange">View Profile</a></span>
                </div>
            </div>
            <div class="img-desc align-items-center font-sm pt-4">
                <img class="round s-50x50" src="/images/placeholder.gif" alt="">
                <div class="description ml-3">
                    <h5>Siddharth Jain</h5>
                    <span class="font-xs"><a href="#" class="orange">View Profile</a></span>
                </div>
            </div>
        </div>
    </div>
</div>