<div class="c-hb-leaderboard">
	<div class="border-card mb-5 px-0 py-4">
		<h4 class="mb-5 t-align-c pt-4">Leaderboard</h4>
		<table class="w-100">
			<thead class="font-sm extra-bold">
				<td class="pb-4 t-align-c">Rank</td>
				<td class="pb-4">User</td>
				<td class="pb-4 t-align-c">Score</td>
			</thead>
			<tbody>
				<tr class="white extra-bold bg-gradient-blue-lr">
					<td class="pb-4 pt-4">#40</td>
					<td class="pb-4 pt-4">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-4">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-4">01</td>
					<td class="pb-4 pt-4">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-4">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
				<tr class="hover-grey">
					<td class="pb-4 pt-2">01</td>
					<td class="pb-4 pt-2">
						<div class="img-desc align-items-center">
							<img class="round s-30x30" src="/images/placeholder.gif" alt="">
							<div class="description ml-3">
								Siddharth Jain
							</div>
						</div>
					</td>
					<td class="pb-4 pt-2">2345</td>
				</tr>
			</tbody>
		</table>
		<div class="divider-h w-90 mx-auto my-4"></div>
		<div class="t-align-c bold">
			<a href="#">
				<i class="fas fa-angle-left mx-2"></i>
				<span>Prev</span>
			</a>
			<span class="regular mx-3">1-20 of 245</span>
			<a href="#">
				<span>Next</span>
				<i class="fas fa-angle-right mx-2"></i>
			</a>
		</div>
	</div>
</div>