<div class="hb-leaderboard">
    <div class="border-card mb-5">
        <h4 class="mb-5 t-align-center pt-4">Leaderboard</h4>
        <table class="w-100">
            <thead class="font-sm extra-bold">
            <td class="pb-4 t-align-center">Rank</td>
            <td class="pb-4">User</td>
            <td class="pb-4 t-align-center">Score</td>
            </thead>
            <tbody>
            <tr class="self">
                <td class="pb-4 pt-2">#40</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            <tr>
                <td class="pb-4 pt-2">01</td>
                <td class="pb-4 pt-2">
                <div class="img-desc align-items-center">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Siddharth Jain
                    </div>
                </div>
                </td>
                <td class="pb-4 pt-2">2345</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>