<div class="row">
    <div class="col-4">
        <div class="img-card p-5">
            <h4>Rate this problem?</h4>
            <div class="rating py-4">
                <span class="pos-rating orange">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating orange">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating orange">
                    <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating orange">
                    <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                    <i class="fas fa-star"></i>
                </span>
            </div>
            <textarea name="rating-msg" rows="10" cols="30" placeholder="Help us improve."></textarea>
            <button class="button-solid button-orange font-sm extra-bold my-3">Submit Feedback</button>
        </div>
    </div>
</div>