<div class="row c-topnav py-3 justify-content-between">
    <div class="col-6 offset-1">
        <ul>
            <li class="top-nav-option px-3 mt-3 d-sm-none d-md-block active">
                <a href="#online-courses">
                    <h6>Online Courses</h6>
                </a>
            </li>
            <li class="top-nav-option px-3 mt-3 d-sm-none d-md-block">
                <a href="#classroom-courses">
                    <h6>Classroom Courses</h6>
                </a>
            </li>
            <li class="top-nav-option px-3 mt-3 d-sm-none d-md-block">
                <a href="#hiring-blocks">
                    <h6>Hiring Blocks</h6>
                </a>
            </li>
        </ul>
    </div>
    <div class="align-items-center">
        <ul class="right-nav">
            <li class="top-nav-option px-3 pt-3">
                <a href="#search">
                    <i class="fas fa-search fa-lg"></i>
                </a>
            </li>
            <li class="top-nav-option px-3 pt-3">
                <a href="#notification">
                    <i class="far fa-bell fa-lg"></i>
                </a>
            </li>
            <li class="top-nav-option px-3 pt-3">
                <a href="#help">
                    <i class="far fa-question-circle fa-lg"></i>
                </a>
            </li>
            <li class="top-nav-option px-3">
                <div class="img-desc align-items-center pl-3 font-sm pt-2">
                    <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                    <div class="description ml-3">
                    Hi, Siddharth
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row justify-content-center">
<div class="c-sidenav pt-3 col-1 d-sm-none d-md-block">
    <div class="logo pb-5">
        <i class="fab fa-slack fa-3x"></i>
    </div>
    <a href="#dashboard" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-chart-pie font-xl"></i>
        <h6 class="pt-2">Dashboard</h6>
    </a>
    <a href="#daily-code" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="far fa-calendar font-xl"></i>
        <h6 class="pt-2">Daily Code</h6>
    </a>
    <a href="#contests" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-trophy font-xl"></i>
        <h6 class="pt-2">Contests</h6>
    </a>
    <a href="#practice" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-code font-xl"></i>
        <h6 class="pt-2">Practice</h6>
    </a>
    <a href="#compete" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-graduation-cap font-xl"></i>
        <h6 class="pt-2">Compete</h6>
    </a>
</div>
</div>