<div class="a-hb">
    <div class="row">
        <div class="col-8">
            <div class="border-card p-5 hb-tab-nav">
                <div class="tab-nav-underline">
                    <div class="tab active py-4">Problem</div>
                    <div class="tab py-4">Submissions</div>
                    <div class="tab py-4">Leaderboard</div>
                    <div class="tab py-4">Discuss</div>
                    <div class="tab py-4">Solution</div>
                </div>
                <div class="py-4">
                    <p>Bob runs a tile shop. He sells only square tiles. He charges $a per unit area and $b per unit
                        length of its side. Moreover, he also charges a constant amount of $c for each tile. He asks you
                        to calculate the total amount he gets after selling exactly one tile of side length x in range
                        [l,r].
                        Bob knows that his earnings is beyond your calculation, so he asks you to calculate amount
                        modulo (109+7).</p>
                    <div class="extra-bold">Input Format</div>
                    <p>First line contains number of test cases, T. Each test case contains 5 integers, a, b, c, l, r.
                    </p>
                    <div class="extra-bold">Constraints</div>
                    <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
                        <p>1
                            <=T<=10^5<br />1<=a,b,c,l,r<=10^9</p> </div> <div class="extra-bold">Output Format
                    </div>
                    <p>Output a single integer denoting answer as per the problem statement.</p>
                    <div class="extra-bold">Sample Input</div>
                    <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
                        <p>1<br />1 1 1 1 10</p>
                    </div>
                    <div class="extra-bold">Sample Output</div>
                    <div class="bg-grey br-5 w-60 px-4 py-2 my-2">
                        <p>450</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Submissions DOM --}}
    <div class="row">
        <div class="col-8">
            <div class="border-card hb-tab-nav p-5">
                <div class="tab-nav-underline">
                    <div class="tab py-4">Problem</div>
                    <div class="tab active py-4">Submissions</div>
                    <div class="tab py-4">Leaderboard</div>
                    <div class="tab py-4">Discuss</div>
                    <div class="tab py-4">Solution</div>
                </div>
                <div class="py-4">
                    <h4 class="mb-5 pt-4">My Submissions</h4>
                    <table class="w-100">
                        <thead class="font-sm extra-bold b-bottom">
                            <td class="pb-2">Result</td>
                            <td class="pb-2">Score</td>
                            <td class="pb-2">Time</td>
                            <td class="pb-2">Language</td>
                        </thead>
                        <tbody class="bold">
                            <tr>
                                <td class="pb-4 pt-4 green font-sm">
                                    <i class="fas fa-check pr-3"></i>
                                    <span>ACCEPTED</span>
                                </td>
                                <td class="pb-4 pt-4">200/200</td>
                                <td class="pb-4 pt-4">100ms</td>
                                <td class="pb-4 pt-4">C++</td>
                                <td class="pb-4 pt-4 t-align-r">
                                    <a href="#View" class="pr-3 orange">View</a>
                                    <span class="grey normal">10 mins ago</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-4 pt-2 orange font-sm">
                                    <i class="fas fa-exclamation pr-3"></i>
                                    <span>COMPILATION ERROR</span>
                                </td>
                                <td class="pb-4 pt-2">100/200</td>
                                <td class="pb-4 pt-2">200ms</td>
                                <td class="pb-4 pt-2">C</td>
                                <td class="pb-4 pt-2 t-align-r">
                                    <a href="#View" class="pr-3 orange">View</a>
                                    <span class="grey normal">10 mins ago</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-4 pt-2 red font-sm">
                                    <i class="fas fa-times pr-3"></i>
                                    <span>WRONG ANSWER</span>
                                </td>
                                <td class="pb-4 pt-2">40/200</td>
                                <td class="pb-4 pt-2">150ms</td>
                                <td class="pb-4 pt-2">Python</td>
                                <td class="pb-4 pt-2 t-align-r">
                                    <a href="#View" class="pr-3 orange">View</a>
                                    <span class="grey normal">10 mins ago</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-4 pt-2 orange font-sm">
                                    <i class="fas fa-exclamation pr-3"></i>
                                    <span>RUNTIME ERROR</span>
                                </td>
                                <td class="pb-4 pt-2">50/200</td>
                                <td class="pb-4 pt-2">150ms</td>
                                <td class="pb-4 pt-2">Python</td>
                                <td class="pb-4 pt-2 t-align-r">
                                    <a href="#View" class="pr-3 orange">View</a>
                                    <span class="grey normal">10 mins ago</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-4 pt-2 orange font-sm">
                                    <i class="fas fa-exclamation pr-3"></i>
                                    <span>TLE</span>
                                </td>
                                <td class="pb-4 pt-2">100/200</td>
                                <td class="pb-4 pt-2">150ms</td>
                                <td class="pb-4 pt-2">Python</td>
                                <td class="pb-4 pt-2 t-align-r">
                                    <a href="#View" class="pr-3 orange">View</a>
                                    <span class="grey normal">20 mins ago</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="pb-4 pt-2 orange font-sm">
                                    <i class="fas fa-exclamation pr-3"></i>
                                    <span>MLE</span>
                                </td>
                                <td class="pb-4 pt-2">200/200</td>
                                <td class="pb-4 pt-2">150ms</td>
                                <td class="pb-4 pt-2">C++</td>
                                <td class="pb-4 pt-2 t-align-r">
                                    <a href="#View" class="pr-3 orange">View</a>
                                    <span class="grey normal">40 mins ago</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{!-- Leaderboard DOM --}}
    <div class="row">
        <div class="col-8">
            <div class="border-card hb-tab-nav p-5">
                <div class="tab-nav-underline">
                    <div class="tab py-4">Problem</div>
                    <div class="tab py-4">Submissions</div>
                    <div class="tab active py-4">Leaderboard</div>
                    <div class="tab py-4">Discuss</div>
                    <div class="tab py-4">Solution</div>
                </div>
                <div class="row p-4 mt-4 align-items-center justify-content-around">
                    <div class="col-1">
                        <h6>Filter</h6>
                    </div>
                    <div class="col-4 px-4">
                        <div class="dropdown py-3 px-2">
                            <span class="font-xs">By College</span>
                        </div>
                    </div>
                    <div class="col-4 px-4">
                        <div class="dropdown py-3 px-2">
                            <span class="font-xs">By Language</span>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="button-solid button-orange font-sm extra-bold my-3">Apply Filter</button>
                    </div>
                </div>
                <div class="py-4">
                    <div class="c-hb-leaderboard">
                        <table class="w-100">
                            <thead class="font-sm extra-bold">
                                <td class="pb-4">Rank</td>
                                <td class="pb-4">User</td>
                                <td class="pb-4">College</td>
                                <td class="pb-4">Language</td>
                                <td class="pb-4">Score</td>
                            </thead>
                            <tbody>
                                <tr class="white extra-bold bg-gradient-orange">
                                    <td class="pb-4 pt-4">#40</td>
                                    <td class="pb-4 pt-4">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-4">JSS Noida</td>
                                    <td class="pb-4 pt-4">C++</td>
                                    <td class="pb-4 pt-4">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-4">01</td>
                                    <td class="pb-4 pt-4">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-4">JSS Noida</td>
                                    <td class="pb-4 pt-4">C++</td>
                                    <td class="pb-4 pt-4">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">02</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">JSS Noida</td>
                                    <td class="pb-4 pt-2">Python</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">03</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">JSS Noida</td>
                                    <td class="pb-4 pt-2">Python</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">04</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">PEC, Chandigarh</td>
                                    <td class="pb-4 pt-2">C</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">05</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">JSS Noida</td>
                                    <td class="pb-4 pt-2">Python</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">06</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">PEC, Chandigarh</td>
                                    <td class="pb-4 pt-2">C++</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">07</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">JSS Noida</td>
                                    <td class="pb-4 pt-2">Python</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">08</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">JSS Noida</td>
                                    <td class="pb-4 pt-2">C++</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                                <tr>
                                    <td class="pb-4 pt-2">09</td>
                                    <td class="pb-4 pt-2">
                                        <div class="img-desc align-items-center">
                                            <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                                            <div class="description ml-3">
                                                Siddharth Jain
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pb-4 pt-2">JSS Noida</td>
                                    <td class="pb-4 pt-2">C</td>
                                    <td class="pb-4 pt-2">2345</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="divider-h mx-auto my-4"></div>
                        <div class="t-align-c bold">
                            <i class="fas fa-angle-left mx-2"></i>
                            <span>Prev</span>
                            <span class="regular mx-3">1-20 of 245</span>
                            <span>Next</span>
                            <i class="fas fa-angle-right mx-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Solutions DOM --}}
    <div class="row">
        <div class="col-8">
            <div class="border-card p-5 hb-tab-nav t-align-c">
                <div class="tab-nav-underline">
                    <div class="tab py-4">Problem</div>
                    <div class="tab py-4">Submissions</div>
                    <div class="tab py-4">Leaderboard</div>
                    <div class="tab py-4">Discuss</div>
                    <div class="tab active py-4">Solution</div>
                </div>
                <div class="pt-5 pb-4 mt-5">
                    <i class="fas fa-unlock-alt fa-4x w-100 t-align-c"></i>
                </div>
                <h4>Editorial Locked</h4>
                <h6 class="normal">If you unlock the editorial, you will not be awarded any score for this problem</h6>
                <button class="button-solid button-orange font-sm extra-bold mt-4 mb-5">Yes, I want to unlock</button>
            </div>
        </div>
    </div>

    {{!-- Testcases DOM --}}
    <div class="row">
        <div class="col-8">
            <div class="border-card p-5 t-align-c">
                <div class="pt-5 pb-4">
                    <i class="fas fa-unlock-alt fa-4x w-100"></i>
                </div>
                <h4>Testcases Locked</h4>
                <h6 class="normal">If you unlock the testcases, you will not be awarded any score for this problem</h6>
                <button class="button-solid button-orange font-sm extra-bold mt-4 mb-5">Yes, I want to unlock</button>
            </div>

            <div class="border-card p-5 t-align-c">
                <h4 class="mb-4">Download Testcases</h4>
                <div class="row justify-content-center">
                    <div class="col-6 row">
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Input 1<i
                                class="fas fa-arrow-down ml-3"></i></button>
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Output 1<i
                                class="fas fa-arrow-down ml-3"></i></button>
                    </div>
                    <div class="col-6 row">
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Input 2<i
                                class="fas fa-arrow-down ml-3"></i></button>
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Output 2<i
                                class="fas fa-arrow-down ml-3"></i></button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 row">
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Input 3<i
                                class="fas fa-arrow-down ml-3"></i></button>
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Output 3<i
                                class="fas fa-arrow-down ml-3"></i></button>
                    </div>
                    <div class="col-6 row">
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Input 4<i
                                class="fas fa-arrow-down ml-3"></i></button>
                        <button class="button-dashed button-orange font-sm extra-bold mx-3 my-3">Output 4<i
                                class="fas fa-arrow-down ml-3"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>