{{> nav-bar}}

<section class="home-banner">
  <div class="left white">
    <h2>FIND YOUR DREAM JOB HERE</h2>
    <div class="mb-5">
      Get recruited by top multinational companies and get worldwide recongnition
    </div>
    <button class="button-solid md">Explore Jobs</button>
  </div>

  <img class="dsp-none-sm" src="/images/home_main.jpg">
</section>

<section class="container feature-set">
    <div class="t-align-c">
      <h2 class="mb-2">Be in-demand with our courses</h2>
      <div class="grey"> How our platform stands out from all other platforms </div>
    </div>
    <div class="row justify-content-around justify-content-lg-between">
      <div class="feature">
        <img src="/images/i1.png">
        <h3>Hands-on <br>Coding Experience</h3>
        <div class="grey">Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
      </div>
      <div class="feature">
        <img src="/images/i2.png">
        <h3>Work on Live Projects</h3>
        <div class="grey">Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
      </div>
      <div class="feature">
        <img src="/images/i3.png">
        <h3>Mentor <br> Support</h3>
        <div class="grey">Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
      </div>
      <div class="feature">
        <img src="/images/i4.png">
        <h3>Coding Assignments</h3>
        <div class="grey">Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
      </div>
      <div class="feature">
        <img src="/images/i5.png">
        <h3>Hackerblocks Leaderboard</h3>
        <div class="grey">Lorem Lorem ipsum dolor sit amet, cotnsectetur adipiscing elit, sed do ipsum dolor sit amet, consectetur adipiscing elit, sed do </div>
      </div>
    </div>
  </div>
</section>

<section class="container partners">
  <div class="left">
    <h2 class="mb-3">Our Partners</h2>
    <div class="grey mb-5">
      Get recruited by top multinational companies and get worldwide recongnition
    </div>
  </div>
  <img src="/images/logosheet.png" alt="Partner Logos">
</section>

<section class="container success-stories">
  <h2 class="t-align-c">Success Stories</h2>
  <div class="grey t-align-c mb-5">Our students got placed in top tech giants and have somthing to say</div>
  <div class="video">
  </div>


  <div class="row mb-5">
    <div class="col-12 flex-col col-md-4">
      <div class="dialog c-testimonial mb-2">
        <div class="content">
          I did three courses and was extremely happy with all the courses. They provide quality content, the support
          from
          faculty
          and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.
  
        </div>
        <div class="footer bold">
          Placed at:
          <div class="img-container">
            <img src="https://place-hold.it/103x21" alt="">
          </div>
  
        </div>
      </div>
      <div class="round-img mb-3 mt-4">
  
      </div>
      <div class="extra-bold font-sm">
        Siddharth Jain
      </div>
      <div class="semi-bold font-sm">
        Android Development
      </div>
    </div>
  
    <div class="col-12 flex-col col-md-4">
      <div class="dialog c-testimonial mb-2">
        <div class="content">
          I did three courses and was extremely happy with all the courses. They provide quality content, the support
          from
          faculty
          and mentors was amazing.
        </div>
        <div class="footer bold">
          Placed at:
          <div class="img-container">
            <img src="images/amazon-logo.svg" alt="">
          </div>
  
        </div>
      </div>
      <div class="round-img mb-3 mt-4">
  
      </div>
      <div class="extra-bold font-sm">
        Siddharth Jain
      </div>
      <div class="semi-bold font-sm">
        Android Development
      </div>
    </div>
  
    <div class="col-12 flex-col col-md-4">
      <div class="dialog c-testimonial mb-2">
        <div class="content">
          I did three courses and was extremely happy with all the courses. They provide quality content, the support
          from
          faculty
          and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.
        </div>
        <div class="footer bold">
          Placed at:
          <div class="img-container">
            <img src="images/amazon-logo.svg" alt="">
            </Piv>
  
          </div>
        </div>
      </div>
      <div class="round-img mb-3 mt-4">
  
      </div>
      <div class="extra-bold font-sm">
        Siddharth Jain
      </div>
      <div class="semi-bold font-sm">
        Android Development
      </div>
  
    </div>
  </div>

</section>

<section class="recommended-jobs">
  <h2 class="mb-5 t-align-c">Recommended Jobs</h2>

  <div class="job-cards mb-5 justify-content-center justify-content-lg-between">
    <div>
      <div class="border-card br-20 mb-5 mb-lg-0">
        <div class="img-desc">
          <div class="col-3 pl-0">
            <img src="/images/c++" alt="">
          </div>
          <div class="description col-9">
            <div>
              <h4>Android D</h4>
              <div class="font-mds">
                Book My Show
              </div>
            </div>
            <div class="grey">
              Posted 2 weeks ago
            </div>
          </div>
        </div>
        <div class="divider-h mt-4 mb-4"></div>
    
        <div class="d-flex font-sm mb-3">
          <div class="col-6 pl-0">
            <div class="mb-3">
              Job Location: <span class="extra-bold">Noida<span>
            </div>
            <div class="mb-3 pl-0">
              Job Type: <span class="extra-bold">Full Time</span>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              Experience: <span class="extra-bold">4+ Years</span>
            </div>
            <div>
              Stipend: <span class="extra-bold">10 - 12 LPA</span>
            </div>
          </div>
        </div>
    
        <div class="d-flex justify-content-between align-items-center">
          <span class="red">Deadline 24 March 2019</span>
          <button class="button-solid">Apply Now</button>
        </div>
      </div>
    </div>
    <div>
      <div class="border-card br-20">
        <div class="img-desc">
          <div class="col-3 pl-0">
            <img src="/images/c++" alt="">
          </div>
          <div class="description col-9">
            <div>
              <h4> Android D </h4>
              <div class="font-mds">
                Book My Show
              </div>
            </div>
            <div class="grey">
              Posted 2 weeks ago
            </div>
          </div>
        </div>
        <div class="divider-h mt-4 mb-4"></div>
    
        <div class="d-flex font-sm mb-3">
          <div class="col-6 pl-0">
            <div class="mb-3">
              Job Location: <span class="extra-bold">Noida<span>
            </div>
            <div class="mb-3 pl-0">
              Job Type: <span class="extra-bold">Full Time</span>
            </div>
          </div>
          <div class="col-6">
            <div class="mb-3">
              Experience: <span class="extra-bold">4+ Years</span>
            </div>
            <div>
              Stipend: <span class="extra-bold">10 - 12 LPA</span>
            </div>
          </div>
        </div>
    
        <div class="d-flex justify-content-between align-items-center">
          <span class="red">Deadline 24 March 2019</span>
          <button class="button-solid">Apply Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom justify-content-center justify-content-lg-between">
    <div class="">
      <h2>Get Started</h2>
      <div class="grey mb-4">
        Start applying to jobs right now
      </div>
      <button class="button-solid md">View all Jobs</button>
    </div>
    <img class="dsp-none-sm" src="/images/footer.png">
  </div>
</section>

<script src="http://localhost:35729/livereload.js"></script>
