{{> nav-bar }}
  <div class="home-container">
    <div class="home-vh">
        <div class="heading col-12 col-md-6">
          The Technology Learning Platform
        </div>
        <p class="col-12 col-md-5 font-sm">
          Keep up with technology with expert-led courses, assessments
          and tools that help you build the skills you need, when you need them.
        </p>
    
        <div class="input-search nav-search mt-5 mb-5">
          <input type="text" placeholder="Search here">
          <img src="images/searchicon.png" alt="search">
        </div>
      </div>

    <div class="home-row row mt-4 justify-content-center">
      <div class="home-column col-12 col-md-6 col-lg-6">
        <div class="card-stack">
          <div class="border-card c-layout-card ">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="word-wrap card-heading c-text-card">
              Registration Open for Launchpad online
            </div>
            <div class="word-wrap card-mds grey i">
              Learn data structures & algorithm in C++
            </div>
            <div class="button-solid">
              <button>Register</button>
            </div>
          </div>
  
          <div class="border-card c-layout-card ">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="card-heading c-text-card">
              Registration Open for Launchpad online
            </div>
            <div class="card-mds grey i">
              Learn data structures & algorithm in C++
            </div>
            <div class="button-solid">
              <button>Register</button>
            </div>
          </div>
  
          <div class="border-card c-layout-card ">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="card-heading c-text-card">
              Registration Open for Launchpad online
            </div>
            <div class="card-mds grey i">
              Learn data structures & algorithm in C++
            </div>
            <div class="button-solid">
              <button>Register</button>
            </div>
          </div>
  
          <div class="border-card c-layout-card ">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="card-heading c-text-card">
              Registration Open for Launchpad online
            </div>
            <div class="card-mds grey i">
              Learn data structures & algorithm in C++
            </div>
            <div class="button-solid">
              <button>Register</button>
            </div>
          </div>
        </div>
        <div class="card-stack-btn t-align-c">
          <a class="prev">&lt;&nbsp;&nbsp;Prev</a>
          &nbsp;&nbsp;
          <a class="next">Next &nbsp;&nbsp;&gt;</a>
        </div>
      </div>
      <div class="col-12 col-md-10 col-lg-6 fade-left">
        <div class="row">
          <div class="col-6 col-sm-4 col-lg-6">
            <div class="heading semi-bold">
              CODING BLOCKS
            </div>
            <div class="heading">
              Android Application
            </div>
            <p class="font-sm">
              Now you can enjoy our courses from comfort of your phones & tablets
            </p>
            <button class="button-solid play-store-button mt-5">
              <img src="images/google-play.png" alt="">
              <span class="text">
                GET IT ON <br /><span class="bold">GOOGLE PLAY</span>
              </span>
  
            </button>
          </div>
          <div class="col-6 col-sm-4 col-lg-6">
            <div class="phone d-flex justify-content-center">
              <img src="images/iphone.svg" class="h-100 w-100" alt="home">
              <div class="phone-content">
                <img class="h-100" src="images/holi.webp">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="heading t-align-c mb-5">
      Recommended Courses
    </div>

    <div class="row pt-md-5">
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
      <div class="c-layout-card hoverable pr-0 col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots dsp-none-sm">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="content d-flex flex-column justify-content-center">
              <div class="round-img-b">
                <img src="images/android-logo.svg">
              </div>
              <div class="course-name center-text">
                Android App Development
              </div>
              <div class="i course-description t-align-c d-md-none">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div>
              {{!-- <div class="i course-description center-text">
                Learn how to make ubercool Android Apps with Java and Kotlin
              </div> --}}
              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="card-mentor d-md-none">
              <!--<div class="row no-gutters">-->
              <div class="card-mentor-image">
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
                <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              </div>
              <div class="card-mentor-text">
                <span>Instructors</span>
                <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
              </div>
              <!--</div>-->
            </div>
            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red extra-bold font-sm">Rs 9000</span>
                  <span class="grey card-md"><strike>Rs 12000</strike></span>
                </div>
                <div class="grey d-md-none">
                    Batches starting Apr 1st
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
            <div class="d-md-none">
              <div class="divider">
                <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
              </div>
              <div class="enrollment">
                <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
                <div class="col-12 red pointer">Click here to get Free Trial Now</div>
              </div>
            </div>
          </div>
        </div>

        {{!-- <div class="pop-up"> --}}
        <div class="border-card online-card pop-up dsp-none-sm animated zoom-out">
          <div class="round-img">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>


          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red font-sm extra-bold">Rs 9000</span>
                <span class="grey card-md"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>

            <button class="button-solid">Explore</button>

          </div>
          <div class="divider-h"></div>
          <div class="row t-align-ca card-md no-gutters">
            <div class="col-12">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer">Click here to get Free Trial Now</div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>

      

    </div>
    <div class="row flex-row m-5 pt-5 justify-content-center">
      <div class="heading">
        What our Students say about us
      </div>
    </div>

    <div class="row mb-5 pb-5">
      <div class="c-testimonial col-12 flex-col col-md-4">
        <div class="dialog mb-2">
          <div class="content">
            I did three courses and was extremely happy with all the courses. They provide quality content, the support from
            faculty
            and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.

          </div>
          <div class="footer bold">
            Placed at:
            <div class="img-container">
              <img src="images/amazon-logo.svg" alt="">
            </div>

          </div>
        </div>
        <div class="round-img mb-3 mt-4">

        </div>
        <div class="extra-bold font-sm">
          Siddharth Jain
        </div>
        <div class="semi-bold font-sm">
          Android Development
        </div>
      </div>

      <div class="c-testimonial col-12 flex-col col-md-4">
        <div class="dialog mb-2">
          <div class="content">
            I did three courses and was extremely happy with all the courses. They provide quality content, the support from
            faculty
            and mentors was amazing.
          </div>
          <div class="footer bold">
            Placed at:
            <div class="img-container">
              <img src="images/amazon-logo.svg" alt="">
            </div>

          </div>
        </div>
        <div class="round-img mb-3 mt-4">

        </div>
        <div class="extra-bold font-sm">
          Siddharth Jain
        </div>
        <div class="semi-bold font-sm">
          Android Development
        </div>
      </div>

      <div class="c-testimonial col-12 flex-col col-md-4">
        <div class="dialog mb-2">
          <div class="content">
            I did three courses and was extremely happy with all the courses. They provide quality content, the support from
            faculty
            and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.
          </div>
          <div class="footer bold">
            Placed at:
            <div class="img-container">
              <img src="images/amazon-logo.svg" alt="">
              </Piv>

            </div>
          </div>
        </div>
        <div class="round-img mb-3 mt-4">

        </div>
        <div class="extra-bold font-sm">
          Siddharth Jain
        </div>
        <div class="semi-bold font-sm">
          Android Development
        </div>

      </div>
    </div>
  </div>

<div class="p-5 p-md-5 t-align-c bg-gradient-black-lr white">
  <div class="heading mb-4">
    Our Students have been placed at:
  </div>
  <img src="images/logostrip.png" alt="">
</div>


<div class="container">
  <div class="row flex-row m-5 pt-5 justify-content-center">
    <div class="heading">
      Numbers Speak Louder
    </div>
  </div>

  <div class="pt-md-5">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="border-card c-brag-card mb-4">
          <img src="/images/hpi1.png">
          <div class="gradient-red text">4500+</div>
          <h2>
            Students Placed
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="border-card c-brag-card mb-4">
          <img src="/images/hpi2.png">
          <div class="gradient-red text">12000+</div>
          <h2>
            Students Enrolled
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="border-card c-brag-card mb-4">
          <img src="/images/hpi3.png">
          <div class="gradient-red text">1800+</div>
          <h2>
            Hours of Study
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="border-card c-brag-card mb-4">
          <img src="/images/hpi1.png">
          <div class="gradient-red text">100+</div>
          <h2>
            Years of Teaching
          </h2>
        </div>
      </div>
    </div>
  </div>


  <div class="row m-5 pt-5 justify-content-center">
    <div class="heading">
      What we offer
    </div>
  </div>

  <div class="row c-offerings">
    <div class="offset-md-1"></div>
    <div class="t-align-ca col-12 col-sm-3 col-md-2 mb-5">
      <div class="border-card p-4">
        <img src="http://via.placeholder.com/130x130">
      </div>

      <div class="heading">
        Comprehensive learning
      </div>
      <div class="card-body grey">
        A TA (Teaching Assistant) gets assigned to each individual student as soon as the course starts.A TA
        (Teaching Assistant) gets assigned to each individual student as soon as the course starts.
      </div>
    </div>

    <div class="t-align-ca col-12 col-sm-3 col-md-2 mb-5">
      <div class="border-card p-4">
        <img src="http://via.placeholder.com/130x130">
      </div>
      <div class="heading">
        24 X 7 Mentor <br>
        Support
      </div>
      <div class="card-body grey">
        A TA (Teaching Assistant) gets assigned to each individual student as soon as the course starts.A TA
        (Teaching Assistant) gets assigned to each individual student as soon as the course starts.
      </div>
    </div>

    <div class="t-align-ca col-12 col-sm-3 col-md-2 mb-5">
      <div class="border-card p-4">
        <img src="http://via.placeholder.com/130x130">
      </div>
      <div class="heading">
        Live Webinars For
        Doubt Clearing
      </div>
      <div class="card-body grey">
        A TA (Teaching Assistant) gets assigned to each individual student as soon as the course starts.A TA
        (Teaching Assistant) gets assigned to each individual student as soon as the course starts.
      </div>
    </div>

    <div class="t-align-ca col-12 col-sm-3 col-md-2 mb-5">
      <div class="border-card p-4">
        <img src="http://via.placeholder.com/130x130">
      </div>
      <div class="heading">
        Revisit & <br>
        Revise
      </div>
      <div class="card-body grey">
        A TA (Teaching Assistant) gets assigned to each individual student as soon as the course starts.A TA
        (Teaching Assistant) gets assigned to each individual student as soon as the course starts.
      </div>
    </div>

    <div class="t-align-ca col-12 col-sm-3 col-md-2 mb-5">
      <div class="border-card p-4">
        <img src="http://via.placeholder.com/130x130">
      </div>
      <div class="heading">
        Evaluation &
        Certification
      </div>
      <div class="card-body grey">
        A TA (Teaching Assistant) gets assigned to each individual student as soon as the course starts.A TA
        (Teaching Assistant) gets assigned to each individual student as soon as the course starts.
      </div>
    </div>


    {{!-- <div style="margin: 0 auto;">
        <ul class="pagination">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <span class="page-link">
              2
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </div> --}}

  </div>

</div>



</div>

</div>
<!-- Card Layout -> <-- -->

<!--<div class="button-dashed">-->
<!--<button>Button</button>-->
<!--</div>-->
<!--<div class="button-solid">-->
<!--<button>Register</button>-->
<!--</div>-->
{{> footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--  <script src="JS/carousel.js" type="application/javascript"></script> -->
<script src="http://localhost:35729/livereload.js"></script>
<script type="text/javascript">
  let currentIndex = 2

  class carouselCard {


    constructor(el, cssConf = {}) {
      this.element = el
      this.translateX = 0
      this.translateY = 0
      $(this.element).css(cssConf)
    }

    setTranslateY(val) {
      this.translateY = val
    }

    addTranslateX(val) {
      this.translateX += val
    }

    setHeight(h) {
      this.height = h
    }

    apply() {
      $(this.element).css({
        height: this.height,
        transform: `translate(${this.translateX}%, ${this.translateY}%)`
      })
    }
  }

  let carouselCards = Array.from(document.querySelectorAll('.card-stack > .border-card')).map(el => {
    return new carouselCard(el, {
      transition: '0.8s'
    })
  })

  $('.card-stack-btn > a')[1].onclick = function () {
    reRender(1)
    currentIndex++
  }

  $('.card-stack-btn > a')[0].onclick = function () {
    currentIndex--
    reRender(-1)

  }

  reRender = function (factor) {

    if (currentIndex < 2) {
      currentIndex = 2
      return;
    }

    if (currentIndex >= 5) {
      currentIndex = 4
      return
    }

    for (let i = 0; i < carouselCards.length; i++) {
      let card = carouselCards[i]

      let normalize = factor == -1 ? 1 : 0
      if (i < currentIndex) {
        card.setHeight(300)
        card.setTranslateY(0)
        card.addTranslateX(-110 * factor)
      } else if (i == currentIndex - normalize) {
        card.setHeight(300)
        card.setTranslateY(0)
        card.addTranslateX(-16 * factor)
      } else if (i <= currentIndex + 1 - normalize) {
        card.setHeight(190)
        card.addTranslateX(-16 * factor)
        card.setTranslateY(20)
      } else if (i <= currentIndex + 2 - normalize) {
        card.setHeight(142)
        card.setTranslateY(45)
        card.addTranslateX(-16 * factor)
      }

      if (i <= currentIndex + 2)
        card.apply()
    }
  }


</script>