<div class="row no-gutters">
  <div class="col-4">
    <div class="border-card img-review-card p-md-5 p-4">
      <div class="author">
        <div class="img-ring s-100x100">
          <img class="round img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA">
        </div>
      </div>
      <div class="icon">
        <i class="fas fa-quote-left fa-3x orange"></i>
      </div>

      <h5 class="bold t-align-c mb-4">Yashvardhan, Jss</h5>
      <div class="review-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
        facilisis.
      </div>
    </div>
  </div>
</div>