
{{> nav-bar }}
<div class="home-vh">
	<div class="row no-gutters">
		<div class="col-sm-3 pb-4 position-relative border-right" style="height: calc(100vh - 70px); overflow-y: scroll">
			<h2 class="position-sticky bg-white p-4 tr">Views</h2>
			<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-account-address.html">n-account-address</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-account-application.html">n-account-application</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-account-client.html">n-account-client</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-account-edit.html">n-account-edit</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-account-login.html">n-account-login</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-account-organisation.html">n-account-organisation</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-account-signup.html">n-account-signup</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-accounts-card.html">n-accounts-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-add-address.html">n-add-address</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-add-organisation.html">n-add-organisation</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-edit-profile.html">n-edit-profile</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="n-profile-page.html">n-profile-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="banner-carousel-js.html">banner-carousel-js</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="banner-carousel-new.html">banner-carousel-new</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="breadcrumbs.html">breadcrumbs</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="cast-window.html">cast-window</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="landing-page-junior.html">landing-page-junior</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="cb-navbar.html">cb-navbar</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="cbhire.html">cbhire</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="certificate-completion.html">certificate-completion</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="certificate-excellence.html">certificate-excellence</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="certificate-lite.html">certificate-lite</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="code-editor.html">code-editor</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="code-window.html">code-window</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="about-us-page.html">about-us-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="accelerate-course-page.html">accelerate-course-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="accelerate-new.html">accelerate-new</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="accelerate.html">accelerate</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="buttons.html">buttons</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="cards.html">cards</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="classroom-courses.html">classroom-courses</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="courses-page.html">courses-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="events-classes-landing.html">events-classes-landing</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="events-page.html">events-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="individual-course-page.html">individual-course-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="landing-page__deleted-sections.html">landing-page__deleted-sections</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="landing-page_events.html">landing-page_events</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="landing-page_main.html">landing-page_main</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="subnav-meganav.html">subnav-meganav</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="supernav.html">supernav</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="tabs.html">tabs</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="tracks-section.html">tracks-section</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="universe.html">universe</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="competition-card.html">competition-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="competition.html">competition</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="course-card-new.html">course-card-new</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="daily-goal-card-small.html">daily-goal-card-small</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dcb-problem-card.html">dcb-problem-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="divided-list-horizontal.html">divided-list-horizontal</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="coupons-card.html">coupons-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dukaan-allpayment.html">dukaan-allpayment</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dukaan-complete-order.html">dukaan-complete-order</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dukaan-fullpayment.html">dukaan-fullpayment</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dukaan-widget.html">dukaan-widget</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="items-card.html">items-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="my-order.html">my-order</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="new-checkout.html">new-checkout</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="transaction-history.html">transaction-history</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="events-page.html">events-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="faq-section.html">faq-section</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="floating-ad.html">floating-ad</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="form-input.html">form-input</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hb-author-card.html">hb-author-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hb-rating-card.html">hb-rating-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hb-tab-nav.html">hb-tab-nav</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="404page.html">404page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="admission-contests.html">admission-contests</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="admission-home.html">admission-home</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="admission-info.html">admission-info</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="badges.html">badges</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="competition-info.html">competition-info</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="contest-page.html">contest-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="contests-home.html">contests-home</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="course-contests-home.html">course-contests-home</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dashboard.html">dashboard</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dcb-home.html">dcb-home</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hamburger-nav.html">hamburger-nav</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hb-leaderboard.html">hb-leaderboard</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hb-sidenav.html">hb-sidenav</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="landing-page.html">landing-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="practice-ds.html">practice-ds</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="practice-home.html">practice-home</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="previous-dcb.html">previous-dcb</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="profile-page.html">profile-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="submission-feedback.html">submission-feedback</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="submission-msg-cards.html">submission-msg-cards</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="submit-test.html">submit-test</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="webtest-window.html">webtest-window</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hello-intern.html">hello-intern</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="applicant-profile-editor.html">applicant-profile-editor</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="applicant-profile.html">applicant-profile</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="img-review-card.html">img-review-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="img-ring.html">img-ring</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="index.html">index</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="junior-consumption.html">junior-consumption</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="junior-course-card.html">junior-course-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="junior-dashboard-main.html">junior-dashboard-main</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="junior-resource-components.html">junior-resource-components</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="junior-resources.html">junior-resources</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="junior-search-card.html">junior-search-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="junior-upgrade-premium.html">junior-upgrade-premium</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="default.html">default</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="list.html">list</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="live-classes-course-page-new.html">live-classes-course-page-new</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="live-classes-course-page.html">live-classes-course-page</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="live-classes-original.html">live-classes-original</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="live-classes.html">live-classes</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="live-course-popup-card.html">live-course-popup-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="loader.html">loader</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="main-website-carousel.html">main-website-carousel</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="nagarro-landing.html">nagarro-landing</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="certificate-modal.html">certificate-modal</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="course-card-buycourse.html">course-card-buycourse</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="course-card-mini.html">course-card-mini</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="course-content-card.html">course-content-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="course-dashboard-progress-card.html">course-dashboard-progress-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="cricket-cup.html">cricket-cup</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dashboard-cards.html">dashboard-cards</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dashboard-carousel-cards.html">dashboard-carousel-cards</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="dashboard-stats-card.html">dashboard-stats-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="eligibility-test-modals.html">eligibility-test-modals</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="goodies-card.html">goodies-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="hiring-index.html">hiring-index</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="home.html">home</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="ipl-leaderboard.html">ipl-leaderboard</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="ipl-modal.html">ipl-modal</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="ipl.html">ipl</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="job-description.html">job-description</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="joblisting.html">joblisting</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="jobs-page-new.html">jobs-page-new</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="know-your-mentor-banners.html">know-your-mentor-banners</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="masonry-poc.html">masonry-poc</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="mentor-card.html">mentor-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="my-courses-card.html">my-courses-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="my-courses-page-new.html">my-courses-page-new</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="new-course-card.html">new-course-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="new-dashboard-cards.html">new-dashboard-cards</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="new-layout-logged-in.html">new-layout-logged-in</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="new-layout-logged-out.html">new-layout-logged-out</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="new-video-timeline.html">new-video-timeline</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="online-tiers-comparison.html">online-tiers-comparison</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="overview.html">overview</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="product-tiers-card.html">product-tiers-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="projects-card.html">projects-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="rating-card.html">rating-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="review-rating-card.html">review-rating-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="scholarship.html">scholarship</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="skeleton-card.html">skeleton-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="student-review-card.html">student-review-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="timeline-ad.html">timeline-ad</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="track-list-card.html">track-list-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="tracks.html">tracks</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="upgrade-modal-large.html">upgrade-modal-large</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="upgrade-modal-small.html">upgrade-modal-small</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="pills.html">pills</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="practice-interview-card.html">practice-interview-card</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="radial-progress.html">radial-progress</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="timer-clock.html">timer-clock</a></div>
<div class="py-2 px-4 text-ellipses"><a target="preview" class="font-sm" href="unordered-list.html">unordered-list</a></div>
		</div>
		<div class="col-sm-9 p-4">
			<h2 class="mb-4">Preview</h2>
			<div class="border">
				<iframe style="width: 100%; height: calc(100vh - 175px)" name="preview" frameborder="0"></iframe>
			</div>
		</div>
	</div>
</div>