
{{> nav-bar }}
<div class="home-vh">
<div class="row">
    <div class="col-sm-2 m-3" style="height: 800px; overflow-y: scroll">
        <h2>Views</h2>
        <div class="row p-3"><a target="preview" href="account-add-address.html">account-add-address</a></div>
<div class="row p-3"><a target="preview" href="account-add-client.html">account-add-client</a></div>
<div class="row p-3"><a target="preview" href="account-address-card.html">account-address-card</a></div>
<div class="row p-3"><a target="preview" href="account-address-page.html">account-address-page</a></div>
<div class="row p-3"><a target="preview" href="account-client-page.html">account-client-page</a></div>
<div class="row p-3"><a target="preview" href="account-login.html">account-login</a></div>
<div class="row p-3"><a target="preview" href="account-profile-page-edit.html">account-profile-page-edit</a></div>
<div class="row p-3"><a target="preview" href="account-profile-page.html">account-profile-page</a></div>
<div class="row p-3"><a target="preview" href="account-signup.html">account-signup</a></div>
<div class="row p-3"><a target="preview" href="app-page.html">app-page</a></div>
<div class="row p-3"><a target="preview" href="changedp.html">changedp</a></div>
<div class="row p-3"><a target="preview" href="checkout-card.html">checkout-card</a></div>
<div class="row p-3"><a target="preview" href="n-account-address.html">n-account-address</a></div>
<div class="row p-3"><a target="preview" href="n-account-application.html">n-account-application</a></div>
<div class="row p-3"><a target="preview" href="n-account-client.html">n-account-client</a></div>
<div class="row p-3"><a target="preview" href="n-account-edit.html">n-account-edit</a></div>
<div class="row p-3"><a target="preview" href="n-account-login.html">n-account-login</a></div>
<div class="row p-3"><a target="preview" href="n-account-organisation.html">n-account-organisation</a></div>
<div class="row p-3"><a target="preview" href="n-account-signup.html">n-account-signup</a></div>
<div class="row p-3"><a target="preview" href="n-accounts-card.html">n-accounts-card</a></div>
<div class="row p-3"><a target="preview" href="n-add-address.html">n-add-address</a></div>
<div class="row p-3"><a target="preview" href="n-add-organisation.html">n-add-organisation</a></div>
<div class="row p-3"><a target="preview" href="n-edit-profile.html">n-edit-profile</a></div>
<div class="row p-3"><a target="preview" href="n-profile-page.html">n-profile-page</a></div>
<div class="row p-3"><a target="preview" href="breadcrumbs.html">breadcrumbs</a></div>
<div class="row p-3"><a target="preview" href="cast-window.html">cast-window</a></div>
<div class="row p-3"><a target="preview" href="cb-navbar.html">cb-navbar</a></div>
<div class="row p-3"><a target="preview" href="cbhire.html">cbhire</a></div>
<div class="row p-3"><a target="preview" href="code-editor.html">code-editor</a></div>
<div class="row p-3"><a target="preview" href="code-window.html">code-window</a></div>
<div class="row p-3"><a target="preview" href="competition-banner.html">competition-banner</a></div>
<div class="row p-3"><a target="preview" href="competition-card.html">competition-card</a></div>
<div class="row p-3"><a target="preview" href="competition-carousel.html">competition-carousel</a></div>
<div class="row p-3"><a target="preview" href="competition.html">competition</a></div>
<div class="row p-3"><a target="preview" href="compile-card.html">compile-card</a></div>
<div class="row p-3"><a target="preview" href="course-card-new.html">course-card-new</a></div>
<div class="row p-3"><a target="preview" href="daily-goal-card-small.html">daily-goal-card-small</a></div>
<div class="row p-3"><a target="preview" href="daily-goal-card.html">daily-goal-card</a></div>
<div class="row p-3"><a target="preview" href="dcb-card.html">dcb-card</a></div>
<div class="row p-3"><a target="preview" href="dcb-problem-card.html">dcb-problem-card</a></div>
<div class="row p-3"><a target="preview" href="divided-list-horizontal.html">divided-list-horizontal</a></div>
<div class="row p-3"><a target="preview" href="coupons-card.html">coupons-card</a></div>
<div class="row p-3"><a target="preview" href="dukaan-allpayment.html">dukaan-allpayment</a></div>
<div class="row p-3"><a target="preview" href="dukaan-complete-order.html">dukaan-complete-order</a></div>
<div class="row p-3"><a target="preview" href="dukaan-fullpayment.html">dukaan-fullpayment</a></div>
<div class="row p-3"><a target="preview" href="dukaan-widget.html">dukaan-widget</a></div>
<div class="row p-3"><a target="preview" href="items-card.html">items-card</a></div>
<div class="row p-3"><a target="preview" href="my-order.html">my-order</a></div>
<div class="row p-3"><a target="preview" href="new-checkout.html">new-checkout</a></div>
<div class="row p-3"><a target="preview" href="form-input.html">form-input</a></div>
<div class="row p-3"><a target="preview" href="hb-author-card.html">hb-author-card</a></div>
<div class="row p-3"><a target="preview" href="hb-landing.html">hb-landing</a></div>
<div class="row p-3"><a target="preview" href="hb-rating-card.html">hb-rating-card</a></div>
<div class="row p-3"><a target="preview" href="hb-tab-nav.html">hb-tab-nav</a></div>
<div class="row p-3"><a target="preview" href="404page.html">404page</a></div>
<div class="row p-3"><a target="preview" href="admission-contests.html">admission-contests</a></div>
<div class="row p-3"><a target="preview" href="admission-home.html">admission-home</a></div>
<div class="row p-3"><a target="preview" href="admission-info.html">admission-info</a></div>
<div class="row p-3"><a target="preview" href="badges.html">badges</a></div>
<div class="row p-3"><a target="preview" href="college-contest-card.html">college-contest-card</a></div>
<div class="row p-3"><a target="preview" href="competition-info.html">competition-info</a></div>
<div class="row p-3"><a target="preview" href="contest-page.html">contest-page</a></div>
<div class="row p-3"><a target="preview" href="contests-home.html">contests-home</a></div>
<div class="row p-3"><a target="preview" href="course-contests-home.html">course-contests-home</a></div>
<div class="row p-3"><a target="preview" href="daily-goal-card.html">daily-goal-card</a></div>
<div class="row p-3"><a target="preview" href="dashboard.html">dashboard</a></div>
<div class="row p-3"><a target="preview" href="dcb-card.html">dcb-card</a></div>
<div class="row p-3"><a target="preview" href="dcb-home.html">dcb-home</a></div>
<div class="row p-3"><a target="preview" href="hamburger-nav.html">hamburger-nav</a></div>
<div class="row p-3"><a target="preview" href="hb-leaderboard.html">hb-leaderboard</a></div>
<div class="row p-3"><a target="preview" href="hb-sidenav.html">hb-sidenav</a></div>
<div class="row p-3"><a target="preview" href="landing-page.html">landing-page</a></div>
<div class="row p-3"><a target="preview" href="practice-ds.html">practice-ds</a></div>
<div class="row p-3"><a target="preview" href="practice-home.html">practice-home</a></div>
<div class="row p-3"><a target="preview" href="previous-dcb.html">previous-dcb</a></div>
<div class="row p-3"><a target="preview" href="profile-page.html">profile-page</a></div>
<div class="row p-3"><a target="preview" href="small-screen-overlay.html">small-screen-overlay</a></div>
<div class="row p-3"><a target="preview" href="submission-feedback.html">submission-feedback</a></div>
<div class="row p-3"><a target="preview" href="submission-msg-cards.html">submission-msg-cards</a></div>
<div class="row p-3"><a target="preview" href="submit-test.html">submit-test</a></div>
<div class="row p-3"><a target="preview" href="webtest-window.html">webtest-window</a></div>
<div class="row p-3"><a target="preview" href="hello-intern.html">hello-intern</a></div>
<div class="row p-3"><a target="preview" href="applicant-profile-editor.html">applicant-profile-editor</a></div>
<div class="row p-3"><a target="preview" href="applicant-profile.html">applicant-profile</a></div>
<div class="row p-3"><a target="preview" href="horizontal-border-list.html">horizontal-border-list</a></div>
<div class="row p-3"><a target="preview" href="img-review-card.html">img-review-card</a></div>
<div class="row p-3"><a target="preview" href="img-ring.html">img-ring</a></div>
<div class="row p-3"><a target="preview" href="index.html">index</a></div>
<div class="row p-3"><a target="preview" href="default.html">default</a></div>
<div class="row p-3"><a target="preview" href="list.html">list</a></div>
<div class="row p-3"><a target="preview" href="live-classes-course-page.html">live-classes-course-page</a></div>
<div class="row p-3"><a target="preview" href="live-classes-original.html">live-classes-original</a></div>
<div class="row p-3"><a target="preview" href="live-classes.html">live-classes</a></div>
<div class="row p-3"><a target="preview" href="live-course-popup-card.html">live-course-popup-card</a></div>
<div class="row p-3"><a target="preview" href="loader.html">loader</a></div>
<div class="row p-3"><a target="preview" href="about-accordion.html">about-accordion</a></div>
<div class="row p-3"><a target="preview" href="about-course.html">about-course</a></div>
<div class="row p-3"><a target="preview" href="accordion.html">accordion</a></div>
<div class="row p-3"><a target="preview" href="all-courses.html">all-courses</a></div>
<div class="row p-3"><a target="preview" href="announcements.html">announcements</a></div>
<div class="row p-3"><a target="preview" href="ask-doubts.html">ask-doubts</a></div>
<div class="row p-3"><a target="preview" href="buy-right.html">buy-right</a></div>
<div class="row p-3"><a target="preview" href="buy-top.html">buy-top</a></div>
<div class="row p-3"><a target="preview" href="classroom-layout.html">classroom-layout</a></div>
<div class="row p-3"><a target="preview" href="content-csv-modal.html">content-csv-modal</a></div>
<div class="row p-3"><a target="preview" href="content-csv.html">content-csv</a></div>
<div class="row p-3"><a target="preview" href="content-icon.html">content-icon</a></div>
<div class="row p-3"><a target="preview" href="course-card-buycourse.html">course-card-buycourse</a></div>
<div class="row p-3"><a target="preview" href="course-card-mini.html">course-card-mini</a></div>
<div class="row p-3"><a target="preview" href="course-content-card.html">course-content-card</a></div>
<div class="row p-3"><a target="preview" href="course-dashboard-progress-card.html">course-dashboard-progress-card</a></div>
<div class="row p-3"><a target="preview" href="course-review.html">course-review</a></div>
<div class="row p-3"><a target="preview" href="courses.html">courses</a></div>
<div class="row p-3"><a target="preview" href="cricket-cup.html">cricket-cup</a></div>
<div class="row p-3"><a target="preview" href="curtains.html">curtains</a></div>
<div class="row p-3"><a target="preview" href="dashboard-cards.html">dashboard-cards</a></div>
<div class="row p-3"><a target="preview" href="dashboard-carousel-cards.html">dashboard-carousel-cards</a></div>
<div class="row p-3"><a target="preview" href="dashboard-stats-card.html">dashboard-stats-card</a></div>
<div class="row p-3"><a target="preview" href="doc.html">doc</a></div>
<div class="row p-3"><a target="preview" href="doubts.html">doubts</a></div>
<div class="row p-3"><a target="preview" href="faded-cont.html">faded-cont</a></div>
<div class="row p-3"><a target="preview" href="feedback-modal.html">feedback-modal</a></div>
<div class="row p-3"><a target="preview" href="goodies-card.html">goodies-card</a></div>
<div class="row p-3"><a target="preview" href="hiring-index.html">hiring-index</a></div>
<div class="row p-3"><a target="preview" href="home.html">home</a></div>
<div class="row p-3"><a target="preview" href="job-description.html">job-description</a></div>
<div class="row p-3"><a target="preview" href="joblisting.html">joblisting</a></div>
<div class="row p-3"><a target="preview" href="jobs-page-new.html">jobs-page-new</a></div>
<div class="row p-3"><a target="preview" href="leaderboard.html">leaderboard</a></div>
<div class="row p-3"><a target="preview" href="mentor-card.html">mentor-card</a></div>
<div class="row p-3"><a target="preview" href="my-courses-card.html">my-courses-card</a></div>
<div class="row p-3"><a target="preview" href="my-courses-page-new.html">my-courses-page-new</a></div>
<div class="row p-3"><a target="preview" href="my-new-course.html">my-new-course</a></div>
<div class="row p-3"><a target="preview" href="mycourse-card.html">mycourse-card</a></div>
<div class="row p-3"><a target="preview" href="nagarro.html">nagarro</a></div>
<div class="row p-3"><a target="preview" href="new-course-card.html">new-course-card</a></div>
<div class="row p-3"><a target="preview" href="new-dashboard-cards.html">new-dashboard-cards</a></div>
<div class="row p-3"><a target="preview" href="new-layout-logged-in.html">new-layout-logged-in</a></div>
<div class="row p-3"><a target="preview" href="new-layout-logged-out.html">new-layout-logged-out</a></div>
<div class="row p-3"><a target="preview" href="new-radio-input.html">new-radio-input</a></div>
<div class="row p-3"><a target="preview" href="new-video-timeline.html">new-video-timeline</a></div>
<div class="row p-3"><a target="preview" href="notes.html">notes</a></div>
<div class="row p-3"><a target="preview" href="online-sidenav.html">online-sidenav</a></div>
<div class="row p-3"><a target="preview" href="online-tiers-comparison.html">online-tiers-comparison</a></div>
<div class="row p-3"><a target="preview" href="otp-enroll.html">otp-enroll</a></div>
<div class="row p-3"><a target="preview" href="overview.html">overview</a></div>
<div class="row p-3"><a target="preview" href="player-instructions.html">player-instructions</a></div>
<div class="row p-3"><a target="preview" href="problem-section.html">problem-section</a></div>
<div class="row p-3"><a target="preview" href="product-tiers-card.html">product-tiers-card</a></div>
<div class="row p-3"><a target="preview" href="projects-card.html">projects-card</a></div>
<div class="row p-3"><a target="preview" href="quiz-attempt.html">quiz-attempt</a></div>
<div class="row p-3"><a target="preview" href="quiz-complete.html">quiz-complete</a></div>
<div class="row p-3"><a target="preview" href="quiz-start.html">quiz-start</a></div>
<div class="row p-3"><a target="preview" href="quiz-view-attempt.html">quiz-view-attempt</a></div>
<div class="row p-3"><a target="preview" href="rating-card.html">rating-card</a></div>
<div class="row p-3"><a target="preview" href="referral-code.html">referral-code</a></div>
<div class="row p-3"><a target="preview" href="review-rating-card.html">review-rating-card</a></div>
<div class="row p-3"><a target="preview" href="scholarship.html">scholarship</a></div>
<div class="row p-3"><a target="preview" href="skeleton-card.html">skeleton-card</a></div>
<div class="row p-3"><a target="preview" href="student-review-card.html">student-review-card</a></div>
<div class="row p-3"><a target="preview" href="submissions.html">submissions</a></div>
<div class="row p-3"><a target="preview" href="timeline.html">timeline</a></div>
<div class="row p-3"><a target="preview" href="track-list-card.html">track-list-card</a></div>
<div class="row p-3"><a target="preview" href="tracks.html">tracks</a></div>
<div class="row p-3"><a target="preview" href="pills.html">pills</a></div>
<div class="row p-3"><a target="preview" href="practice-banner.html">practice-banner</a></div>
<div class="row p-3"><a target="preview" href="practice-interview-card.html">practice-interview-card</a></div>
<div class="row p-3"><a target="preview" href="progress.html">progress</a></div>
<div class="row p-3"><a target="preview" href="scrollables.html">scrollables</a></div>
<div class="row p-3"><a target="preview" href="search.html">search</a></div>
<div class="row p-3"><a target="preview" href="star.html">star</a></div>
<div class="row p-3"><a target="preview" href="tab-nav.html">tab-nav</a></div>
<div class="row p-3"><a target="preview" href="test-cases-card.html">test-cases-card</a></div>
<div class="row p-3"><a target="preview" href="timer-clock.html">timer-clock</a></div>
<div class="row p-3"><a target="preview" href="up-competition-card.html">up-competition-card</a></div>
    </div>
    <div class="col-sm-9">
        <h1>Preview</h1>
        <iframe style="width: 100%; height: 800px" name="preview" frameborder="0"></iframe>
    </div>

</div>
</div>