{{> nav-bar }}

<div class="row no-gutters">
    <div class="col-12 col-md-6">
        <div class="card o-item-card">
            <div class="row">
                <div class="item-details col-12 col-sm-12 col-md-6">
                    <div class="header row no-gutters align-items-center">
                        <div class="item-img col-3">
                            <img src="images/c++" alt="">
                        </div>
                        <div class="heading-d col-9">
                            <div class="main-h">Product Name here</div>
                            <div class="sub-h black">Any meta information</div>
                        </div>
                    </div>

                    <div class="row align-items-center">
                        <span class="price">Rs 5000</span>
                        <span>+18% Tax</span>
                    </div>
                    <div class="fake-price">Rs 8000</div>

                    <div class="footer black pointer">X Remove from product Cart</div>
                </div>

                <div class="quantity-details col-12 col-sm-12 col-md-6">
                    <div class="item-quantity row justify-content-between">
                        <span>Quantity</span>
                        <span> <span class="inc">+</span> 5 <span class="dec">-</span></span>
                    </div>

                    <div class="item-quantity row justify-content-between">
                        <span>Tax</span>
                        <span>Rs 800</span>
                    </div>

                    <div class="item-quantity row justify-content-between">
                        <span>Final Amount</span>
                        <span>Rs 4000</span>
                    </div>

                    <div class="footer row align-items-center no-gutters">
                        <div class="promo-img col-2">
                            <img src="images/c++" alt="">
                        </div>
                        <div class="promo red col-7">
                            <p>FLAT20</p>
                            <p>Applied Successfully</p>
                        </div>
                        <div class="no-promo pointer col-3">Remove</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
