{{> nav-bar}}

<div class="row p-0 no-gutters mt-5">
  <div class="col-12 col-md-8 pr-4">
    <div class="border-card p-5 mb-5">
      <div class="row p-0 no-gutters">
        <div class="col-12 col-md-6">
          <div class="img-desc b-right">
            <div class="col-3 pl-0">
              <img src="/images/c++" alt="">
            </div>
            <div class="description col-9">
              <div>
                <div class="heading">
                  Android Developer
                </div>
                <div class="font-mds">
                  Book My Show
                </div>
              </div>
              <div class="grey">
                Posted 2 weeks ago
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="d-flex font-sm">
            <div class="col-6">
              <div class="mb-3">
                Job Location: <span class="extra-bold">Noida</span>
              </div>
              <div class="mb-3">
                Job Type: <span class="extra-bold">Full Time</span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                Experience: <span class="extra-bold">4+ Years</span>
              </div>
              <div>
                Stipend: <span class="extra-bold">10 - 12 LPA</span>
              </div>
            </div>
          </div>
          <div class="red pl-3">
            Deadline: 24 March 2019
          </div>
        </div>
      </div>
    </div>
    <div class="border-card p-5">
      <div class="font-md extra-bold mb-4">
        Job Description
      </div>
      <div class="w-50 divider-h mb-4"></div>

      <div class="font-sm">
        <p>
          UI/UX Designer responsibilities include gathering user requirements, designing graphics elements and building
          navigation
          components. To be successful in this role, you should have experience with design software and wireframe
          tools. If you
          also have a portfolio of professional design projects that include work with web/mobile applications, we- d
          like to meet
          you.
        </p>

        <div class="extra-bold">
          Responsibilities
        </div>

        <p>
          Gather and evaluate user requirements in collaboration with product managers and engineers
          Illustrate design ideas using storyboards, process flows and sitemaps
          Design graphics user interfaces elements, like menus, tabs, and widgets
          Build page navigation buttons and search fields
          Develop UI mockups and prototypes that clearly illustrate how sites function and look like
          Create original graphic designs (e.g. images, sketches, and tables)
        </p>

        <div class="extra-bold">
          Requirements:
        </div>

        <p>
          Proven work experience as a UI/UX Designer or similar role
          Portfolio of design projects
          Knowledge of wireframe tools (e.g. sketch, XD)
        </p>
      </div>

      <div class="font-md extra-bold mt-5 mb-4">
        About the Company
      </div>
      <div class="w-50 divider-h"></div>

      <div class="font-sm">
        <p>
          Bookmyshow is India's largest entertainment ticketing portal today, launched in Aug 2007 as India's first
          ticketing
          aggregator. From movies to events, plays & concerts to sports, we are proud to bring them all to you. Our
          primary focus
          has always been delivering the very best entertainment experience to our dedicated customers.
        </p>

        <p>
          The best in cinema often trace their roots to theatre. We at BookMyShow have had a long tradition in
          supporting the
          theatrical arts. By selling tickets for plays and stand-up acts, we have sought to bring culture closer to the
          masses.
          In the grand scheme of things, we feel that there is nothing like watching the curtain go and watching the
          show. After
          all, the show must go on...
        </p>

        <p>
          We are special in the way we provide innovative e-ticketing products/solutions and superb customer service
          with ease to
          make our user's experience surprisingly simple, fast and pain free.)
        </p>

        <div class="extra-bold">
          Benefits at BookMyShow
        </div>

        <p>
          Competitive salaries • Medical Insurance • Flexible leave policy • Cafeteria
        </p>

        <div class="extra-bold">
          Quick Facts
        </div>

        <p>
          Founded in 2000 • More than 1000 employees • Headquartered in Noida
        </p>

      </div>


    </div>
  </div>
  <div class="col-12 col-md-4 pl-4">
    <div class="position-relative br-10 overflow-hidden">
      <div class="position-absolute tl z-neg bg-grey br-10 w-100 h-75"></div>
      
      <div class="gradient-black-bt p-5">
        <div class="d-flex justify-content-between white mb-2 font-sm">
          Eligibility: <span class="extra-bold">Android Development</span>
        </div>
        <div class="d-flex justify-content-between green mb-2">
          Status: <span class="extra-bold">Eligible</span>
        </div>
        <button class="button-solid card-md mt-4 mx-auto display-block">Apply to this Job</button>
      </div>

      <div class="p-5">
        <div class="t-align-c mb-5">
          <div class="extra-bold font-sm">
            Recommended Courses
          </div>
          <div>
            Based on the industry trends, we recommend you to complete these courses
          </div>
        </div>

        <div class="img-card online-card mb-5">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="head-content d-flex flex-column justify-content-center">
              <div class="course-name center-text">
                Android App Development
              </div>

              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>

            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red">Rs 9000</span>
                  <span class="grey"><strike>Rs 12000</strike></span>
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
          </div>
        </div>

        <div class="img-card online-card">
          <div class="head d-flex">
            <img class="back-img" src="images/android.svg">
            <div class="difficulty-dots">
              <div class="pos-diff"></div>
              <div class="pos-diff"></div>
              <div class="neg-diff"></div>
              <div>Medium</div>
            </div>
            <div class="head-content d-flex flex-column justify-content-center">
              <div class="course-name center-text">
                Android App Development
              </div>

              <div class="rating">
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="pos-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="neg-rating">
                  <i class="fas fa-star"></i>
                </span>
                <span class="edit-rating">4.0 (50)</span>
              </div>
            </div>
          </div>
          <div class="foot">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>

            <div class="row button-row justify-content-between no-gutters align-items-center">
              <div class="details">
                <div class="price">
                  <span class="red">Rs 9000</span>
                  <span class="grey"><strike>Rs 12000</strike></span>
                </div>
              </div>

              <button class="button-solid">Explore</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </dic>
  </div>
</div>

<div class="heading mb-5 mt-5">
  What our students say about us
</div>

<div class="row mb-5">
  <div class="col-12 flex-col col-md-4">
    <div class="dialog c-testimonial mb-2">
      <div class="content">
        I did three courses and was extremely happy with all the courses. They provide quality content, the support from
        faculty
        and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.

      </div>
      <div class="footer bold">
        Placed at:
        <div class="img-container">
          <img src="images/amazon-logo.svg" alt="">
        </div>

      </div>
    </div>
    <div class="round-img mb-3 mt-4">

    </div>
    <div class="extra-bold font-sm">
      Siddharth Jain
    </div>
    <div class="semi-bold font-sm">
      Android Development
    </div>
  </div>

  <div class="col-12 flex-col col-md-4">
    <div class="dialog c-testimonial mb-2">
      <div class="content">
        I did three courses and was extremely happy with all the courses. They provide quality content, the support from
        faculty
        and mentors was amazing.
      </div>
      <div class="footer bold">
        Placed at:
        <div class="img-container">
          <img src="images/amazon-logo.svg" alt="">
        </div>

      </div>
    </div>
    <div class="round-img mb-3 mt-4">

    </div>
    <div class="extra-bold font-sm">
      Siddharth Jain
    </div>
    <div class="semi-bold font-sm">
      Android Development
    </div>
  </div>

  <div class="col-12 flex-col col-md-4">
    <div class="dialog c-testimonial mb-2">
      <div class="content">
        I did three courses and was extremely happy with all the courses. They provide quality content, the support from
        faculty
        and mentors was amazing. It helped me a lot in preparing for my interview rounds for the different companies.
      </div>
      <div class="footer bold">
        Placed at:
        <div class="img-container">
          <img src="images/amazon-logo.svg" alt="">
          </Piv>

        </div>
      </div>
    </div>
    <div class="round-img mb-3 mt-4">

    </div>
    <div class="extra-bold font-sm">
      Siddharth Jain
    </div>
    <div class="semi-bold font-sm">
      Android Development
    </div>

  </div>
</div>


{{> footer}}