{{> nav-bar}}

<div class="row">
  <div class="col-12 col-md-3">
    <div class="border-card white bg-black">
      <div class="heading">Jobs Status</div>
      <div class="font-mds">
        <input type="checkbox" id="">
        <label for="">All Jobs (12)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Eligible Jobs (4)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Applied Jobs (23)</label>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-5 mt-5">
      <span class="font-lg">Filter Jobs</span>
      <button class="red">Reset all</button>
    </div>

    <div class="border-card mb-5">
      <div class="heading">Filter by Location</div>

      <div class="font-mds">
        <input type="checkbox" id="">
        <label for="">All (12)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Gurgaon (4)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Delhi (23)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Mumbai (4)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Noida (23)</label>
      </div>
    </div>
    <div class="border-card mb-5">
      <div class="heading">Filter by Job Type</div>

      <div class="font-mds">
        <input type="checkbox" id="">
        <label for="">Full Time (12)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Part Time (4)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">Internship (23)</label>
      </div>
    </div>
    <div class="border-card mb-5">
      <div class="heading">Filter by CTC</div>

      <div class="font-mds">
        <input type="checkbox" id="">
        <label for="">3 - 5 lpa (12)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">5 - 10 lpa (4)</label>
        <br>
        <input type="checkbox" id="">
        <label for="">10+ lpa (23)</label>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-9">
    <div class="t-align-ca mb-5">
      <div class="bold font-lg">Eligible Jobs</div> 
      <div class="font-md grey">
        Based on your courses completed, you are eligible for t jobs
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 mb-5">
        <div class="border-card br-20">
          <div class="img-desc">
            <div class="col-3 pl-0">
              <img src="/images/c++" alt="">
            </div>
            <div class="description col-9">
              <div>
                <div class="heading">
                  Android D
                </div>
                <div class="font-mds">
                  Book My Show
                </div>
              </div>
              <div class="grey">
                Posted 2 weeks ago
              </div>
            </div>
          </div>
          <div class="divider mt-4 mb-4"></div>

          <div class="d-flex font-sm mb-3">
            <div class="col-6 pl-0">
              <div class="mb-3">
                Job Location: <span class="extra-bold">Noida<span>
              </div>
              <div class="mb-3 pl-0">
                Job Type: <span class="extra-bold">Full Time</span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                Experience: <span class="extra-bold">4+ Years</span>
              </div>
              <div>
                Stipend: <span class="extra-bold">10 - 12 LPA</span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="red">Deadline 24 March 2019</span>
            <button class="button-solid">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <div class="border-card br-20">
          <div class="img-desc">
            <div class="col-3 pl-0">
              <img src="/images/c++" alt="">
            </div>
            <div class="description col-9">
              <div>
                <div class="heading">
                  Android D
                </div>
                <div class="font-mds">
                  Book My Show
                </div>
              </div>
              <div class="grey">
                Posted 2 weeks ago
              </div>
            </div>
          </div>
          <div class="divider mt-4 mb-4"></div>

          <div class="d-flex font-sm mb-3">
            <div class="col-6 pl-0">
              <div class="mb-3">
                Job Location: <span class="extra-bold">Noida<span>
              </div>
              <div class="mb-3 pl-0">
                Job Type: <span class="extra-bold">Full Time</span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                Experience: <span class="extra-bold">4+ Years</span>
              </div>
              <div>
                Stipend: <span class="extra-bold">10 - 12 LPA</span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="red">Deadline 24 March 2019</span>
            <button class="button-solid">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <div class="border-card br-20">
          <div class="img-desc">
            <div class="col-3 pl-0">
              <img src="/images/c++" alt="">
            </div>
            <div class="description col-9">
              <div>
                <div class="heading">
                  Android D
                </div>
                <div class="font-mds">
                  Book My Show
                </div>
              </div>
              <div class="grey">
                Posted 2 weeks ago
              </div>
            </div>
          </div>
          <div class="divider mt-4 mb-4"></div>

          <div class="d-flex font-sm mb-3">
            <div class="col-6 pl-0">
              <div class="mb-3">
                Job Location: <span class="extra-bold">Noida<span>
              </div>
              <div class="mb-3 pl-0">
                Job Type: <span class="extra-bold">Full Time</span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                Experience: <span class="extra-bold">4+ Years</span>
              </div>
              <div>
                Stipend: <span class="extra-bold">10 - 12 LPA</span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="red">Deadline 24 March 2019</span>
            <button class="button-solid">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <div class="border-card br-20">
          <div class="img-desc">
            <div class="col-3 pl-0">
              <img src="/images/c++" alt="">
            </div>
            <div class="description col-9">
              <div>
                <div class="heading">
                  Android D
                </div>
                <div class="font-mds">
                  Book My Show
                </div>
              </div>
              <div class="grey">
                Posted 2 weeks ago
              </div>
            </div>
          </div>
          <div class="divider mt-4 mb-4"></div>

          <div class="d-flex font-sm mb-3">
            <div class="col-6 pl-0">
              <div class="mb-3">
                Job Location: <span class="extra-bold">Noida<span>
              </div>
              <div class="mb-3 pl-0">
                Job Type: <span class="extra-bold">Full Time</span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                Experience: <span class="extra-bold">4+ Years</span>
              </div>
              <div>
                Stipend: <span class="extra-bold">10 - 12 LPA</span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="red">Deadline 24 March 2019</span>
            <button class="button-solid">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <div class="border-card br-20">
          <div class="img-desc">
            <div class="col-3 pl-0">
              <img src="/images/c++" alt="">
            </div>
            <div class="description col-9">
              <div>
                <div class="heading">
                  Android D
                </div>
                <div class="font-mds">
                  Book My Show
                </div>
              </div>
              <div class="grey">
                Posted 2 weeks ago
              </div>
            </div>
          </div>
          <div class="divider mt-4 mb-4"></div>

          <div class="d-flex font-sm mb-3">
            <div class="col-6 pl-0">
              <div class="mb-3">
                Job Location: <span class="extra-bold">Noida<span>
              </div>
              <div class="mb-3 pl-0">
                Job Type: <span class="extra-bold">Full Time</span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                Experience: <span class="extra-bold">4+ Years</span>
              </div>
              <div>
                Stipend: <span class="extra-bold">10 - 12 LPA</span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="red">Deadline 24 March 2019</span>
            <button class="button-solid">Apply Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mb-5">
        <div class="border-card br-20">
          <div class="img-desc">
            <div class="col-3 pl-0">
              <img src="/images/c++" alt="">
            </div>
            <div class="description col-9">
              <div>
                <div class="heading">
                  Android D
                </div>
                <div class="font-mds">
                  Book My Show
                </div>
              </div>
              <div class="grey">
                Posted 2 weeks ago
              </div>
            </div>
          </div>
          <div class="divider mt-4 mb-4"></div>

          <div class="d-flex font-sm mb-3">
            <div class="col-6 pl-0">
              <div class="mb-3">
                Job Location: <span class="extra-bold">Noida<span>
              </div>
              <div class="mb-3 pl-0">
                Job Type: <span class="extra-bold">Full Time</span>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                Experience: <span class="extra-bold">4+ Years</span>
              </div>
              <div>
                Stipend: <span class="extra-bold">10 - 12 LPA</span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <span class="red">Deadline 24 March 2019</span>
            <button class="button-solid">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}