{{> nav-bar}}

<section class="home-banner mb-md-5">
  <div class="left white">
    <h1 class="semi-bold">WE HAVE JOBS</h1>
    <h2 class="semi-bold mb-5">
      Get recruited by top multinational companies and get worldwide recongnition
    </h2>
    {{!-- <button class="button-solid md">Explore Jobs</button> --}}
  </div>

  <img class="dsp-none-sm" src="/images/home_main.jpg">
</section>

<div class="gradient-violet-lr mb-5 p-3 d-lg-none">
  <button class="white">Apply Filters</button>
  <button class="yellow">Apply</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-5 col-lg-3 pr-md-5">
      <div class="border-card white gradient-violet-lr">
        <h4 class="mb-3">Jobs Status</h4>
        <div class="font-mds">
          <label class="mb-2" for=""><input type="checkbox" id=""> All Jobs (12)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Eligible Jobs (4)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Applied Jobs (23)</label>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-5 mt-5">
        <span class="font-lg">Filter Jobs</span>
        <button class="red">Reset all</button>
      </div>

      <div class="border-card mb-5">
        <h4 class="mb-3">Filter by Location</h4>

        <div class="font-mds">
          <label class="mb-2" for=""><input type="checkbox" id=""> All (12)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Gurgaon (4)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Delhi (23)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Mumbai (4)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Noida (23)</label>
        </div>
      </div>
      <div class="border-card mb-5">
        <h4 class="mb-3">Filter by Job Type</h4>

        <div class="font-mds">
          <label class="mb-2" for=""><input type="checkbox" id=""> Full Time (12)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Part Time (4)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> Internship (23)</label>
        </div>
      </div>
      <div class="border-card mb-5">
        <h4 class="mb-3">Filter by CTC</h4>

        <div class="font-mds">
          <label class="mb-2" for=""><input type="checkbox" id=""> 3 - 5 lpa (12)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> 5 - 10 lpa (4)</label>
          <br>
          <label class="mb-2" for=""><input type="checkbox" id=""> 10+ lpa (23)</label>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7 col-lg-9">
      <div class="t-align-ca mb-5">
        <div class="bold font-lg">Eligible Jobs</div>
        <div class="font-md grey">
          Based on your courses completed, you are eligible for t jobs
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-5">
          <div class="border-card br-20">
            <div class="img-desc">
              <div class="col-3 pl-0">
                <img src="/https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
              </div>
              <div class="description col-9">
                <div>
                  <h4>
                    Android D
                  </h4>
                  <div class="font-mds">
                    Book My Show
                  </div>
                </div>
                <div class="grey">
                  Posted 2 weeks ago
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">Noida<span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">Full Time</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">4+ Years</span>
                </div>
                <div>
                  Stipend: <span class="extra-bold">10 - 12 LPA</span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <span class="red">Deadline 24 March 2019</span>
              <button class="button-solid">Apply Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
          <div class="border-card br-20">
            <div class="img-desc">
              <div class="col-3 pl-0">
                <img src="/https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
              </div>
              <div class="description col-9">
                <div>
                  <h4>
                    Android D
                  </h4>
                  <div class="font-mds">
                    Book My Show
                  </div>
                </div>
                <div class="grey">
                  Posted 2 weeks ago
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">Noida<span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">Full Time</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">4+ Years</span>
                </div>
                <div>
                  Stipend: <span class="extra-bold">10 - 12 LPA</span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <span class="red">Deadline 24 March 2019</span>
              <button class="button-solid">Apply Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
          <div class="border-card br-20">
            <div class="img-desc">
              <div class="col-3 pl-0">
                <img src="/https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
              </div>
              <div class="description col-9">
                <div>
                  <h4>
                    Android D
                  </h4>
                  <div class="font-mds">
                    Book My Show
                  </div>
                </div>
                <div class="grey">
                  Posted 2 weeks ago
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">Noida<span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">Full Time</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">4+ Years</span>
                </div>
                <div>
                  Stipend: <span class="extra-bold">10 - 12 LPA</span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <span class="red">Deadline 24 March 2019</span>
              <button class="button-solid">Apply Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
          <div class="border-card br-20">
            <div class="img-desc">
              <div class="col-3 pl-0">
                <img src="/https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
              </div>
              <div class="description col-9">
                <div>
                  <h4>
                    Android D
                  </h4>
                  <div class="font-mds">
                    Book My Show
                  </div>
                </div>
                <div class="grey">
                  Posted 2 weeks ago
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">Noida<span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">Full Time</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">4+ Years</span>
                </div>
                <div>
                  Stipend: <span class="extra-bold">10 - 12 LPA</span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <span class="red">Deadline 24 March 2019</span>
              <button class="button-solid">Apply Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
          <div class="border-card br-20">
            <div class="img-desc">
              <div class="col-3 pl-0">
                <img src="/https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
              </div>
              <div class="description col-9">
                <div>
                  <h4>
                    Android D
                  </h4>
                  <div class="font-mds">
                    Book My Show
                  </div>
                </div>
                <div class="grey">
                  Posted 2 weeks ago
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">Noida<span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">Full Time</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">4+ Years</span>
                </div>
                <div>
                  Stipend: <span class="extra-bold">10 - 12 LPA</span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <span class="red">Deadline 24 March 2019</span>
              <button class="button-solid">Apply Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-5">
          <div class="border-card br-20">
            <div class="img-desc">
              <div class="col-3 pl-0">
                <img src="/https://minio.cb.lk/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
              </div>
              <div class="description col-9">
                <div>
                  <h4>
                    Android D
                  </h4>
                  <div class="font-mds">
                    Book My Show
                  </div>
                </div>
                <div class="grey">
                  Posted 2 weeks ago
                </div>
              </div>
            </div>
            <div class="divider-h mt-4 mb-4"></div>

            <div class="d-flex font-sm mb-3">
              <div class="col-6 pl-0">
                <div class="mb-3">
                  Job Location: <span class="extra-bold">Noida<span>
                </div>
                <div class="mb-3 pl-0">
                  Job Type: <span class="extra-bold">Full Time</span>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  Experience: <span class="extra-bold">4+ Years</span>
                </div>
                <div>
                  Stipend: <span class="extra-bold">10 - 12 LPA</span>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <span class="red">Deadline 24 March 2019</span>
              <button class="button-solid">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> footer}}