<div class="a-cbm">
  <div class="a-cbj">
    <div class="position-relative">
      <div class="bg-grey-light-1 py-30 px-30 position-sticky tl">
        <div class="row no-gutters align-items-center">
          
        </div>
      </div>
    </div>
  </div>
</div>