<div class="a-cbm">
  <div class="a-cbj">
    <div class="position-relative">
      <div class="bg-grey-light-3 py-30 px-30 position-sticky tl mb-30">
        <div class="row no-gutters align-items-center">
          <div class="flex-1 pr-20">
            <h5 class="bold">Expand the horizons of your knowledge!</h5>
            <div class="font-5 mt-20">Explore an extensive set of resources.</div>
          </div>
          <div class="col-6">
            <div class="search-bar bg-white">
              <input placeholder="What are you searching for?" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="card notes-card">
              <div class="t-align-r">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/folder-yellow.svg" style="height: 45px;">
              </div>
              <div class="side-tag mt-1">
                <div class="font-5 bold">PDF Notes</div>
                <div class="font-4 mt-1">PDF Name goes here</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>