<div class="a-cbm">
  <div class="a-cbj">
    <div class="row no-gutters">
      <div class="col-5">
        <div class="card bg-gradient-pink-dark white">
          <div class="row no-gutters align-items-center">
            <div class="col-7">
              <div class="row no-gutters align-items-center mb-30">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python_white.svg" style="width: 45px;">
                <div class="flex-1 pl-25">
                  <div>RECOMMENDED FOR 4-6</div>
                  <div class="heading-5 bold">Python for kids</div>
                </div>
              </div>
              <div class="mb-30">
                Python is a great programming language with which to start learning to code.
              </div>
              <ul class="divided-list">
                <li class="px-25">
                  <div class="heading-5 bold">12+</div>
                  <div class="font-4 mt-5">Projects</div>
                </li>
                <li class="px-25">
                  <div class="heading-5 bold">40+</div>
                  <div class="font-4 mt-5">PDF Notes</div>
                </li>
                <li class="px-25">
                  <div class="heading-5 bold">25+</div>
                  <div class="font-4 mt-5">Quizzes</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>