<div class="a-cbm">
  <div class="a-cbj">
    <div class="position-relative">
      <div class="bg-grey-light-3 py-30 px-30 position-sticky tl mb-30">
        <div class="row no-gutters align-items-center">
          <div class="flex-1 pr-20">
            <h5 class="bold">Expand the horizons of your knowledge!</h5>
            <div class="font-5 mt-20">Explore an extensive set of resources.</div>
          </div>
          <div class="col-6">
            <div class="search-bar bg-white">
              <input placeholder="What are you searching for?" type="text">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>