<div class="a-cbm">
  <div class="a-cbj">
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="row no-gutters align-items-center">
            <div class="flex-1">
              <div class="heading-6 bold">Create your own color theme</div>
            </div>
            <button class="button-primary">Download PDF</button>
          </div>
          <div class="mt-30 font-4 word-wrap">
            <strong>Goal</strong>
            <br /><br />
            In Class 22, you learned how to use the themes and color palette features in App Lab.
            In this project, you will have to practice and apply what you learned in the class and design an app to
            create your own color
            theme.

            <br /><br />
            <strong>Story</strong>
            <br /><br />
            Eva recently learned designed an app on App Lab. However, it wasn’t very appealing in its
            design and color theme.. She has been exploring App Lab to understand how to add color to the screen. She
            also wants to know how to add design elements on the screen. But she has forgotten how to do so and is
            struggling.
            Can you help Eva design the app?

            <br />
            <ol>
              <li>Login to code.org</li>
              <li>Click on the following link: Project Template</li>
              <li>Click on “View code”.</li>
              <li>Click on “Remix” to.</li>
              <li>Rename the project to Project 22 and click on Save</li>
              <li>CREATE YOUR OWN COLOR THEME</li>
              <li>Specific Tasks to Complete the Project::</li>
            </ol>
          </div>
        </div>

        <div class="card mb-50">
          <div>
            <div class="tab-nav-underline">
              <div class="tab active py-4">Problem</div>
              <div class="tab py-4">Submissions</div>
              <div class="tab py-4">Leaderboard</div>
              <div class="tab py-4">Discuss</div>
              <div class="tab py-4">Solution</div>
            </div>
            <div class="py-4">
              <p>Bob runs a tile shop. He sells only square tiles. He charges $a per unit area and $b per unit
                length of its side. Moreover, he also charges a constant amount of $c for each tile. He asks you
                to calculate the total amount he gets after selling exactly one tile of side length x in range
                [l,r].
                Bob knows that his earnings is beyond your calculation, so he asks you to calculate amount
                modulo (109+7).</p>
              <div class="extra-bold">Input Format</div>
              <p>First line contains number of test cases, T. Each test case contains 5 integers, a, b, c, l, r.
              </p>
              <div class="extra-bold">Constraints</div>
              <div class="bg-grey-light-2 br-5 w-60 px-4 py-2 my-2">
                <p>1
                  <=T<=10^5<br />1<=a,b,c,l,r<=10^9< /p>
              </div>
              <div class="extra-bold">Output Format
              </div>
              <p>Output a single integer denoting answer as per the problem statement.</p>
              <div class="extra-bold">Sample Input</div>
              <div class="bg-grey-light-2 br-5 w-60 px-4 py-2 my-2">
                <p>1<br />1 1 1 1 10</p>
              </div>
              <div class="extra-bold">Sample Output</div>
              <div class="bg-grey-light-2 br-5 w-60 px-4 py-2 my-2">
                <p>450</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>