<div class="a-cbm">
  <div class="a-cbj">
    <div class="container">
      <div class="card bg-gradient-purple white">
        <div class="row no-gutters align-items-center">
          <div class="flex-1 side-tag side-tag--wide">
            <div class="row no-gutters align-items-center">
              <div class="br-10 bg-white all-center p-15">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python-purple.svg" style="height: 65px;" />
              </div>
              <div class="flex-1 pl-30">
                <div class="heading-5 bold">Upgrade to</div>
                <div class="mt-10 gradient-text-orange" style='font-size: 72px; font-family: "BebasNeue", sans-serif !important;'>
                  PREMIUM BATCH
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>