<div class="a-cbm">
  <div class="a-cbj">
    <div class="row">
      <div class="col-lg-8">
        <div class="heading-5 bold mb-40">My enrolled courses</div>
        <div class="card bg-gradient-purple white">
          <div class="row no-gutters align-items-center mb-40">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python_white.svg" style="width: 55px;">
            <div class="flex-1 pl-25">
              <div class="font-4">RECOMMENDED FOR 4-6</div>
              <div class="heading-4 bold">Python Fundamentals</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>