<div class="a-cbm">
  <div class="a-cbj">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="heading-5 bold mb-40">My enrolled courses</div>
          <div class="card bg-gradient-purple white mb-50">
            <div class="row no-gutters align-items-center mb-40">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python_white.svg" style="width: 55px;">
              <div class="flex-1 pl-25">
                <div class="font-4">RECOMMENDED FOR 4-6</div>
                <div class="heading-4 bold mt-10">Python Fundamentals</div>
              </div>
            </div>
            <div class="row no-gutters align-items-center justify-content-between">
              <div class="col-md-8">
                <div class="row align-items-center">
                  <div class="col-7 border-right b-white">
                    <div class="row no-gutters align-items-center">
                      <div class="s-50x50">
                        <svg class="radial-progress yellow" data-progress="75" x="0px" y="0px" viewBox="0 0 80 80">
                          <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                          <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        </svg>
                      </div>
                      <div class="flex-1 pl-sm-20 pl-10">
                        <div>RESOURCES</div>
                        <div class="bold mt-10">75% content covered</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div>REGULAR</div>
                    <div class="bold mt-10">4/10 lectures completed</div>
                  </div>
                </div>
              </div>
              <button class="button-primary mt-md-none mt-30">Go to classroom</button>
            </div>
          </div>
          <div class="card bg-gradient-blue white mb-50">
            <div class="row no-gutters align-items-center mb-40">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python_white.svg" style="width: 55px;">
              <div class="flex-1 pl-25">
                <div class="font-4">RECOMMENDED FOR 4-6</div>
                <div class="heading-4 bold mt-10">Python Fundamentals</div>
              </div>
            </div>
            <div class="row no-gutters align-items-center justify-content-between">
              <div class="col-md-8">
                <div class="row align-items-center">
                  <div class="col-7 border-right b-white">
                    <div class="row no-gutters align-items-center">
                      <div class="s-50x50">
                        <svg class="radial-progress yellow" data-progress="75" x="0px" y="0px" viewBox="0 0 80 80">
                          <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                          <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        </svg>
                      </div>
                      <div class="flex-1 pl-sm-20 pl-10">
                        <div>RESOURCES</div>
                        <div class="bold mt-10">75% content covered</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-5">
                    <div>REGULAR</div>
                    <div class="bold mt-10">4/10 lectures completed</div>
                  </div>
                </div>
              </div>
              <button class="button-primary mt-md-none mt-30">Go to classroom</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card bg-grey-light-3 mb-50">
            <div class="row no-gutters align-items-center">
              <div class="round s-70x70">
                <img src="https://minio.codingblocks.com/amoeba/jatin-min.webp">
              </div>
              <div class="flex-1 pl-20">
                <div class="heading-5 bold">Hi, Jatin</div>
                <div class="mt-10 font-5">You have 3 lectures to attend today</div>
              </div>
            </div>
          </div>
          <div class="card mb-50" style="background: rgba(37, 142, 232,0.1);">
            <div class="heading-5 bold mb-30">Upcoming Lectures</div>
            <div class="card mb-30">
              <div class="side-tag side-tag--rounded side-tag--purple">
                <div class="font-4 bold mb-10">
                  Wednesday, Oct 20, 3:00PM
                </div>
                <div class="font-4 text-grey-light-1">
                  Lecture 6: Python | Classes & Objects
                </div>
              </div>
            </div>
            <div class="card mb-30">
              <div class="side-tag side-tag--rounded side-tag--blue">
                <div class="font-4 bold mb-10">
                  Wednesday, Oct 20, 3:00PM
                </div>
                <div class="font-4 text-grey-light-1">
                  Lecture 6: Python | Classes & Objects
                </div>
              </div>
            </div>
            <div class="card mb-30">
              <div class="side-tag side-tag--rounded side-tag--blue">
                <div class="font-4 bold mb-10">
                  Wednesday, Oct 20, 3:00PM
                </div>
                <div class="font-4 text-grey-light-1">
                  Lecture 6: Python | Classes & Objects
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>