<div class="a-cbm">
  <div class="a-cbj">
    <div class="position-relative">
      <div class="bg-grey-light-3 py-30 px-30 position-sticky tl mb-40">
        <div class="row no-gutters align-items-center">
          <div class="flex-1 pr-20">
            <h5 class="bold">Expand the horizons of your knowledge!</h5>
            <div class="font-5 mt-20">Explore an extensive set of resources.</div>
          </div>
          <div class="col-6">
            <div class="search-bar bg-white">
              <input placeholder="What are you searching for?" type="text">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row no-guttersa align-items-center mb-40">
          <h6 class="bold">Notes</h6>
          <div class="bg-grey-light-3 flex-1 mx-20" style="height: 2px;"></div>
          <a href="#" class="font-4 bold orange">View All</a>
        </div>
        <div class="row">
          <div class="col-3 mb-30">
            <div class="card notes-card">
              <div class="t-align-r">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/folder-yellow.svg" style="height: 45px;">
              </div>
              <div class="side-tag side-tag--rounded mt-1">
                <div class="font-5 bold">PDF Notes</div>
                <div class="font-4 mt-1">PDF name goes here</div>
              </div>
            </div>
          </div>
          <div class="col-3 mb-30">
            <div class="card code-card">
              <div class="t-align-r">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/calender-green.svg" style="height: 45px;">
              </div>
              <div class="side-tag side-tag--rounded mt-1">
                <div class="font-5 bold">Code Problem</div>
                <div class="font-4 mt-1">Code problem goes here</div>
              </div>
            </div>
          </div>
          <div class="col-3 mb-30">
            <div class="card video-card">
              <div class="t-align-r">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/play-red.svg" style="height: 45px;">
              </div>
              <div class="side-tag side-tag--rounded mt-1">
                <div class="font-5 bold">Video Lecture</div>
                <div class="font-4 mt-1">Video title goes here</div>
              </div>
            </div>
          </div>
          <div class="col-3 mb-30">
            <div class="card quiz-card">
              <div class="t-align-r">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/stats-blue.svg" style="height: 45px;">
              </div>
              <div class="side-tag side-tag--rounded mt-1">
                <div class="font-5 bold">Quiz</div>
                <div class="font-4 mt-1">Quiz name goes here</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>