<div class="a-cbm">
  <div class="a-cbj">
    <div class="container">
      {{!-- Breadcrumbs go here --}}

      <div class="row">
        <div class="col-8 h-inherit mb-40">
          <div class="card h-100 p-none">
            <div class="flex-col h-100">
              <div class="flex-1 w-100">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/varun-bhaiya-python.svg"
                  class="br-20 w-100">
                <div class="lecture-tag">Lecture 1</div>
              </div>
              <div class="p-sm-40 p-25 w-100">
                <div class="row no-gutters align-items-center">
                  <div class="flex-1 pr-20">
                    <div class="heading-5 bold">Lecture 6: Python | Classes & Objects</div>
                    <div class="font-5 mt-10 text-grey">MENTOR: <strong>VARUN KOHLI</strong></div>
                  </div>
                  <div class="round s-70x70">
                    <img src="https://minio.codingblocks.com/img/pulkit-min.webp">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 h-inherit mb-40">
          <div class="card h-100">
            <div class="flex-col h-100 justify-content-between">
              <div class="tab-nav-underline mb-25 w-100">
                <div class="tab active">Resources</div>
                <div class="tab">Homework</div>
              </div>
              <div class="br-10 p-20 w-100 pointer mb-25" style="background-color: rgba(85, 194, 92, 0.1);">
                <div class="row no-gutters align-items-center">
                  <div class="mr-20">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/calender-green.svg"
                      style="height: 50px;">
                  </div>
                  <div class="flex-1">
                    <div class="font-5 bold">Code Problem</div>
                    <div class="text-grey">Problem name goes here</div>
                  </div>
                </div>
              </div>
              <div class="br-10 p-20 w-100 pointer mb-25" style="background-color: #e9f0fc">
                <div class="row no-gutters align-items-center">
                  <div class="mr-20">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/stats-blue.svg" style="height: 50px;">
                  </div>
                  <div class="flex-1">
                    <div class="font-5 bold">Quiz</div>
                    <div class="text-grey">Problem name goes here</div>
                  </div>
                </div>
              </div>
              <div class="br-10 p-20 w-100 pointer mb-25" style="background-color: #f9e9f0">
                <div class="row no-gutters align-items-center">
                  <div class="mr-20">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/play-red.svg" style="height: 50px;">
                  </div>
                  <div class="flex-1">
                    <div class="font-5 bold">Video Lecture</div>
                    <div class="text-grey">Problem name goes here</div>
                  </div>
                </div>
              </div>
              <div class="br-10 p-20 w-100 pointer" style="background-color: #e9f0fc">
                <div class="row no-gutters align-items-center">
                  <div class="mr-20">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/stats-blue.svg" style="height: 50px;">
                  </div>
                  <div class="flex-1">
                    <div class="font-5 bold">Quiz</div>
                    <div class="text-grey">Problem name goes here</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 mb-40">
          <div class="card pt-none" style="height: 750px;">
            <div class="flex-col h-100">
              <div class="w-100 bg-white mb-10 pt-30">
                <div class="heading-6 bold mb-20">Take Notes</div>
                <div class="bg-grey-light-3 card">
                  <div class="row no-gutters align-items-center">
                    <div class="flex-1 pr-20">
                      <div class="row no-gutters align-items-center">
                        <div class="round s-40x40 mr-20">
                          <img src="https://minio.codingblocks.com/img/pulkit-min.webp">
                        </div>
                        <div class="flex-1">
                          <textarea placeholder="Add a Note" class="underline-input w-100" spellcheck="false"
                            style="background-color: transparent;"></textarea>
                        </div>
                      </div>
                    </div>
                    <button class="button-primary">Save Note</button>
                  </div>
                </div>
              </div>
              <div class="overflow-y-auto flex-1 w-100">
                <div class="py-30 border-bottom">
                  <div class="row no-gutters align-items-center justify-content-between">
                    <div class="font-5 bold text-orange">14:08</div>
                    <div>
                      <a href="#" class="text-grey-light-1 mr-25">Delete</a>
                      <a href="#" class="text-grey-light-1">Edit</a>
                    </div>
                  </div>
                  <div class="mt-20 text-grey">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to...more
                  </div>
                </div>
                <div class="py-30 border-bottom">
                  <div class="row no-gutters align-items-center justify-content-between">
                    <div class="font-5 bold text-orange">14:08</div>
                    <div>
                      <a href="#" class="text-grey-light-1 mr-25">Delete</a>
                      <a href="#" class="text-grey-light-1">Edit</a>
                    </div>
                  </div>
                  <div class="mt-20 text-grey">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to...more
                  </div>
                </div>
                <div class="py-30 border-bottom">
                  <div class="row no-gutters align-items-center justify-content-between">
                    <div class="font-5 bold text-orange">14:08</div>
                    <div>
                      <a href="#" class="text-grey-light-1 mr-25">Delete</a>
                      <a href="#" class="text-grey-light-1">Edit</a>
                    </div>
                  </div>
                  <div class="mt-20 text-grey">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to...more
                  </div>
                </div>
                <div class="py-30 border-bottom">
                  <div class="row no-gutters align-items-center justify-content-between">
                    <div class="font-5 bold text-orange">14:08</div>
                    <div>
                      <a href="#" class="text-grey-light-1 mr-25">Delete</a>
                      <a href="#" class="text-grey-light-1">Edit</a>
                    </div>
                  </div>
                  <div class="mt-20 text-grey">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to...more
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 mb-40">
          <div class="card" style="height: 750px;">
            <div class="flex-col h-100">
              <div class="heading-6 bold w-100 mb-30">Other Lectures</div>
              <div class="flex-1  overflow-y-auto w-100">
                <div class="row no-gutters align-items-center mb-25">
                  <div class="col-6">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/varun-bhaiya-python.svg"
                      class="br-20 w-100">
                  </div>
                  <div class="flex-1 pl-20">
                    <div class="heading-6 bold">Python Basics</div>
                    <div class="text-grey-light-1 font-5 mt-10">67 mins</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>