<div class="a-cbm">
  <div class="a-cbj">
    <div class="container">
      <div class="card bg-gradient-purple white">
        <div class="row no-gutters align-items-center">
          <div class="col-md-6 side-tag side-tag--wide mb-50">
            <div class="row no-gutters align-items-center">
              <div class="br-10 bg-white all-center p-15">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python-purple.svg" style="height: 65px;" />
              </div>
              <div class="flex-1 pl-30 d-sm-block d-none" style="margin-bottom: -15px;">
                <div class="heading-5 bold">Upgrade to</div>
                <div class="gradient-text-yellow"
                  style='font-size: 72px; font-family: "BebasNeue", sans-serif !important;'>
                  PREMIUM BATCH
                </div>
              </div>
              <div class="col-12 mt-25 d-sm-none d-block">
                <div class="heading-5 bold">Upgrade to</div>
                <div class="gradient-text-yellow"
                  style='font-size: 60px; font-family: "BebasNeue", sans-serif !important;'>
                  PREMIUM BATCH
                </div>
              </div>
            </div>
          </div>
          <div class="flex-1 pl-md-30">
            <div class="row mb-25">
              <div class="col-xl-3 col-md-6 col-sm-3 col-6 mb-25">
                <div class="card bg-grey" style="height: 50px;"></div>
              </div>
              <div class="col-xl-3 col-md-6 col-sm-3 col-6 mb-25">
                <div class="card bg-grey" style="height: 50px;"></div>
              </div>
              <div class="col-xl-3 col-md-6 col-sm-3 col-6 mb-25">
                <div class="card bg-grey" style="height: 50px;"></div>
              </div>
              <div class="col-xl-3 col-md-6 col-sm-3 col-6 mb-25">
                <div class="card bg-grey" style="height: 50px;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters justify-content-between align-items-center">
          <div class="col-md-6 col-12 mb-md-none mb-25">
            <div class="heading-4 bold mb-10">Introduction to Python</div>
            <div class="heading-6">Language: Hindi | Size: 01</div>
          </div>
          <div class="v-align-ma flex-1 t-align-r">
            <span class="text-orange bold heading-5">Rs 149 / Class</span>
            <button class="button-primary ml-30">Upgrade Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>