<div class="a-cbm">
  <div class="a-cbj">
    <div class="container">
      {{!-- Breadcrumbs go here --}}

      <div class="row">
        <div class="col-8 h-inherit">
          <div class="card h-100">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>