<div class="a-cbm">
  <div class="a-cbj">
    <div class="row no-gutters">
      <div class="col-md-5 col-sm-8">
        <div class="card bg-gradient-pink-dark white">
          <div class="row align-items-center">
            <div class="col-xl-7">
              <div class="row no-gutters align-items-center mb-30">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python_white.svg" style="width: 45px;">
                <div class="flex-1 pl-25">
                  <div>RECOMMENDED FOR 4-6</div>
                  <div class="heading-5 bold">Python for kids</div>
                </div>
              </div>
              <div class="mb-30">
                Python is a great programming language with which to start learning to code.
              </div>
              <ul class="divided-list">
                <li class="px-25">
                  <div class="heading-6 bold">12+</div>
                  <div class="font-3 mt-5">Projects</div>
                </li>
                <li class="px-25">
                  <div class="heading-6 bold">40+</div>
                  <div class="font-3 mt-5">PDF Notes</div>
                </li>
                <li class="px-25">
                  <div class="heading-6 bold">25+</div>
                  <div class="font-3 mt-5">Quizzes</div>
                </li>
              </ul>
            </div>
            <div class="col-xl-5 mt-xl-none mt-40">
              <div class="floating-video-pane" style="height: 170px;"></div>
            </div>
          </div>
          <div class="my-40 divider-h"></div>
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="flex-1">
              <div class="row no-gutters align-items-center">
                <div class="round s-30x30 border b-white">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python_white.svg">
                </div>
                <div class="flex-1 pl-15">
                  <div class="font-4 bold">John Doe</div>
                  <div>...Great course. Excellent content.</div>
                </div>
              </div>
            </div>
            <div class="button-primary button-primary--white">View Course</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>