<div class="c-content-section">
    <div class="content-section">
        <div class="content collapse">
            <div class="header flex-row">

                <div class="dashboard row no-gutters justify-content-between">
                    <div class="flex-row white pointer dsp-none-sm" onclick="sectionToggler()">
                        <i class="fas fa-bars fa-2x"></i>
                    </div>
                    <div class="col-5 heading-d align-self-center">
                        <div class="main-h">
                            Fast Exponentiation
                        </div>
                        <div class="sub-h">
                            Mathematics
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row justify-content-end">
                            <div class="col-md-4 notify-type align-self-center">
                                <div class="notify-text">
                                    <span class="notify-dot new"></span>
                                    Solve Doubts
                                </div>
                            </div>

                            <div class="button-solid col-12 col-md-4 align-self-center">
                                <button>&lt; Go to Dashboard</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="content-container">
                <div class="c-pb">
                    <!-- problem-->
                    <div class="pb-desk">
                        <div class="tab-nav">
                            <div class="tab-items active">Problem</div>
                            <div class="tab-items">Submissions</div>
                            <div class="tab-items">Leaderboard</div>
                        </div>
                
                        <div class="c-pb-leaderboard">
                            <div class="badge">
                                <img src="images/badge.png" alt="">
                            </div>
                
                            <div class="heading">
                                Siddharth Jain
                            </div>
                
                            <div class="para">
                                Score: 100 | Language: C++
                            </div>
                
                
                            <div class="t-head row">
                                <div class="t-data col-2">Rank</div>
                                <div class="t-data col-5">User</div>
                                <div class="t-data col-2">Score</div>
                                <div class="t-data col-3">Language</div>
                            </div>
                
                            <div class="t-row row">
                                <div class="t-data col-2">2</div>
                                <div class="t-data col-5">Ashu Deshwal</div>
                                <div class="t-data col-2">100</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">3</div>
                                <div class="t-data col-5">Anshul Garg</div>
                                <div class="t-data col-2">70</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">4</div>
                                <div class="t-data col-5">Chirag Gupta</div>
                                <div class="t-data col-2">70</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">5</div>
                                <div class="t-data col-5">Arun Nair</div>
                                <div class="t-data col-2">50</div>
                                <div class="t-data col-3">C</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">6</div>
                                <div class="t-data col-5">Arnav Gupta</div>
                                <div class="t-data col-2">50</div>
                                <div class="t-data col-3">Python</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">7</div>
                                <div class="t-data col-5">Abhishek Gupta</div>
                                <div class="t-data col-2">40</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">8</div>
                                <div class="t-data col-5">Arun Nair</div>
                                <div class="t-data col-2">100</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                
                            <div class="t-row row">
                                <div class="t-data col-2">4</div>
                                <div class="t-data col-5">Chirag Gupta</div>
                                <div class="t-data col-2">70</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">5</div>
                                <div class="t-data col-5">Arun Nair</div>
                                <div class="t-data col-2">50</div>
                                <div class="t-data col-3">C</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">6</div>
                                <div class="t-data col-5">Arnav Gupta</div>
                                <div class="t-data col-2">50</div>
                                <div class="t-data col-3">Python</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">7</div>
                                <div class="t-data col-5">Abhishek Gupta</div>
                                <div class="t-data col-2">40</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">8</div>
                                <div class="t-data col-5">Arun Nair</div>
                                <div class="t-data col-2">100</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">6</div>
                                <div class="t-data col-5">Arnav Gupta</div>
                                <div class="t-data col-2">50</div>
                                <div class="t-data col-3">Python</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">7</div>
                                <div class="t-data col-5">Abhishek Gupta</div>
                                <div class="t-data col-2">40</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">8</div>
                                <div class="t-data col-5">Arun Nair</div>
                                <div class="t-data col-2">100</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                
                            <div class="t-row row">
                                <div class="t-data col-2">4</div>
                                <div class="t-data col-5">Chirag Gupta</div>
                                <div class="t-data col-2">70</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">5</div>
                                <div class="t-data col-5">Arun Nair</div>
                                <div class="t-data col-2">50</div>
                                <div class="t-data col-3">C</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">6</div>
                                <div class="t-data col-5">Arnav Gupta</div>
                                <div class="t-data col-2">50</div>
                                <div class="t-data col-3">Python</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">7</div>
                                <div class="t-data col-5">Abhishek Gupta</div>
                                <div class="t-data col-2">40</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                            <div class="t-row row">
                                <div class="t-data col-2">8</div>
                                <div class="t-data col-5">Arun Nair</div>
                                <div class="t-data col-2">100</div>
                                <div class="t-data col-3">C++</div>
                            </div>
                
                
                        </div>
                    </div>
                
                    <div id="dragger-ps-ce"></div><!-- problem-section | code-editor-->
                
                    <div class="c-code-editor">
                        <div id="editor"></div>
                
                        <div id="dragger-ce-rs"></div><!-- code-editor -- result-->
                
                        <div>
                            <div class="editor-options row justify-content-between">
                                <div class="select-list align-self-center">
                                    <div class="select-box">
                                        Choose Language <span>&gt</span>
                                    </div>
                                    <div class="open-select-box">
                                        <ul>
                                            <li>
                                                C++
                                            </li>
                                            <li>
                                                Python
                                            </li>
                                            <li>
                                                Java
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                
                                <div class="align-self-center">
                                    <div class="button-solid">
                                        <button>Submit Code</button>
                                    </div>
                                </div>
                            </div>
                
                            <div class="result">
                                <div class="row">
                                    <div class="input col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="heading col-md-6">
                                                <p>Custom Input</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="button-solid">
                                                    <button>Run Code</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-box col-md-12">
                                                GSDEGD WDJGHEDB YUWDGQWUYD YUQWGDFQYWD
                                            </div>
                                        </div>
                                    </div>
                                    <div class="output  col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="heading col-md-6">
                                                <p>
                                                    Output : &nbsp;
                                                    <span>
                                                        Compilation Error
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-box col-md-12">
                                                <code>GSDEGD WDJGHEDB YUWDGQWUYD YUQWGDFQYWD</code>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>

        </div>

        <div class="section">
            <div class="tab-nav">
                <div class="tab-items">Table Of Content</div>
                <div class="tab-items active">Notes(08)</div>
            </div>

            <div class="section-tabs">
                <div class="notes-list list-shaded spaced invert">
                    <div class="list-item">
                        <div class="row">
                            <div class="li-left col-8 font-sm">
                                Very Important Concept
                            </div>
                            <div class="li-right col-4 col-sm-3 col-md-4 no-gutters">
                                <div class="red col-6 bold"><button class="t-align-r">Delete</button></div>
                                <div class="red col-6 bold"><button class="t-align-r">Edit</button></div>
                            </div>
                        </div>
                        <div class="row green i mb-2">
                            <div class="li-left col-8">
                                1.1 Chewbacca and Number
                            </div>
                            <div class="li-right col-4">
                                00:46
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="row">
                            <div class="col-12">
                                <textarea class="invert font-sm">Edit mode Edit mode Edit mode Edit mode Edit mode Edit mode</textarea>
                            </div>
                        </div>
                        <div class="row green i mb-2">
                            <div class="li-left col-8">
                                1.1 Chewbacca and Number
                            </div>
                            <div class="li-right col-4">
                                00:46
                            </div>
                        </div>

                        <div class="row red">
                            <div class="li-right col-4 col-sm-3 col-md-4 no-gutters">
                                <div class="red col-6 bold"><button class="t-align-r">Cancel</button></div>
                                <div class="red col-6 bold"><button class="t-align-r">Save</button></div>
                            </div>
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="row justify-content-center">
                            Note Deleted
                            <span class="ml-3">
                                <button class="red t-align-r">Undo</button>
                            </span>

                        </div>
                    </div>

                    <div class="footer">
                        <div class="list-item">
                            <div class="row">
                                <div class="li-left col-9">
                                    <textarea class="invert font-sm" placeholder="Add a Note"></textarea>
                                </div>
                                <div class="li-right col-3 align-self-start">
                                    <div class="button-solid card-md">
                                        <button>Save Note</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





<script>
    function sectionToggler() {
        var section = document.getElementsByClassName('section')[0];
        var contentMedia = document.getElementsByClassName('content')[0];
        section.classList.toggle('collapse');
        contentMedia.classList.toggle('collapse');

    }
</script>

<script src="JS/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="JS/code-editor.js" type="text/javascript"></script>