<div class="row">
  <div class="col-12 col-md-6">
    <div class="heading">List Normal</div>
    <ul class="list-divided">
      <li class="list-item">Chewbacca and Number, HackerBlocks Tutorial</li>
      <li class="list-item">Tavas and SaDDas, Codeforces 535-B</li>
      <li class="list-item">Fast Exponentiation</li>
      <li class="list-item">Unique Number-III, Hackerblocks, Bitmasking</li>
    </ul>
  </div>

  <div class="col-12 col-md-6">
    <div class="heading">List Inverted</div>
    <ul class="list-divided invert">
      <li class="list-item">Chewbacca and Number, HackerBlocks Tutorial</li>
      <li class="list-item">Tavas and SaDDas, Codeforces 535-B</li>
      <li class="list-item">Fast Exponentiation</li>
      <li class="list-item">Unique Number-III, Hackerblocks, Bitmasking</li>
    </ul>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="heading">List Shaded Normal</div>
    <ul class="list-shaded spaced">
      <li class="list-item">Chewbacca and Number, HackerBlocks Tutorial</li>
      <li class="list-item">Tavas and SaDDas, Codeforces 535-B</li>
      <li class="list-item">Fast Exponentiation</li>
      <li class="list-item">Unique Number-III, Hackerblocks, Bitmasking</li>
    </ul>
  </div>

  <div class="col-12 col-md-6">
    <div class="heading">List Shaded Inverted</div>
    <ul class="list-shaded spaced invert">
      <li class="list-item">Chewbacca and Number, HackerBlocks Tutorial</li>
      <li class="list-item">Tavas and SaDDas, Codeforces 535-B</li>
      <li class="list-item">Fast Exponentiation</li>
      <li class="list-item">Unique Number-III, Hackerblocks, Bitmasking</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="heading">List Shaded Inverted</div>
    <div class="list-shaded spaced invert">
      <div class="list-item">
        <div class="row">
          <div class="li-left col-8">
            Very Important Concept
          </div>
          <div class="li-right col-4">
            <div class="red col-6 col-md-4 bold pointer">Delete</div>
            <div class="red col-6 col-md-4 bold pointer">Edit</div>
          </div>
        </div>
        <div class="row green">
          <div class="li-left col-8">
            1.1 Chewbacca and Number, HackerBlocks Tutorial
          </div>
          <div class="li-right col-4">
            00:46
          </div>
        </div>
      </div>
      <div class="list-item">
        <div class="row">
          <div class="col-12">
            <textarea class="invert" placeholder="What do you want to note?"></textarea>
          </div>
        </div>
        <div class="row green">
          <div class="li-left col-8">
            1.1 Chewbacca and Number, HackerBlocks Tutorial
          </div>
          <div class="li-right col-4">
            00:46
          </div>
        </div>

        <div class="row red">
          <div class="li-right col-4">
            <div class="red col-6 col-md-4 bold pointer">Delete</div>
            <div class="red col-6 col-md-4 bold pointer">Edit</div>
          </div>
        </div>
      </div>
      <li class="list-item">Fast Exponentiation</li>
      <li class="list-item">Unique Number-III, Hackerblocks, Bitmasking</li>
    </div>
  </div>
</div>