<div class="px-md-5 px-4 live-courses">
  <div class="border-card p-md-5 p-4 bg-gradient-cyan coursepage-card white">
    <div class="bold" style="font-size: 2.85rem;">Master DS and Algo with C++</div>
    <div class="mt-4 font-lg">Start from Basics, become a C++ Master!</div>
    <div class="my-5">
      <div class="mentor-row d-flex align-items-center">
        <div class="mentor-row__image-container">
          <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
            alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-60x60">
          <img src="https://minio.codingblocks.com/amoeba/27d05ebd-4820-4abf-a5f5-0846676bac48"
            alt="photo ofGarima Chhikara" class="mentor-row__image-container__mentor-image s-60x60"></div>
        <div class="pl-3">
          <div class="card-md font-normal">Instructors</div>
          <div class="bold">Rishab Kapoor, Garima Chhikara</div>
        </div>
      </div>
    </div>
    <div class="row no-gutters align-items-center justify-content-between">
      <h4 class="bold">Batch Starts 1st June 2020</h4>
    </div>
  </div>
</div>