<div class="live-courses">
  <div class="border-card pt-5 live-classes-popup-card p-0">
    <div class="row justify-content-center position-relative mb-4 mx-lg-5 mx-4">
      <a href="#" class="position-absolute tr">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/document.png">
      </a>

      <div class="p-4 round all-center live-classes-popup-card__logo">
        <img src="https://image.flaticon.com/icons/svg/61/61120.svg">
      </div>
    </div>

    <div class="t-align-c px-lg-5 px-4 mb-md-0 mb-4">
      <h2 class="bold">DS and Algo in C++</h2>
      <h5 class="mt-1 gradient-text-orange bold">Mon Tue Wed Fri | 7PM - 10PM</h5>
    </div>


    <div class="card-mentor mb-4 px-lg-5 px-4 d-flex">
      <div class="card-mentor-image">
        <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
          alt="photo ofRishab Kapoor" class="card-mentors">
        <img src="https://minio.codingblocks.com/amoeba/27d05ebd-4820-4abf-a5f5-0846676bac48"
          alt="photo ofGarima Chhikara" class="card-mentors"></div>
      <div class="pl-3">
        <div class="card-md font-normal">Instructors</div>
        <div class="bold">Rishab Kapoor, Garima Chhikara</div>
      </div>
    </div>


    <h2 class="gradient-text-orange t-align-c px-lg-5 px-4 mb-4">&#8377; 15999</h2>

    <a href="#" class="bg-gradient-orange px-lg-5 px-4 py-4 d-block">
      <h5 class="white t-align-c">Explore More</h5>
    </a>
  </div>
</div>