<div class="px-md-5 px-4 live-courses mb-5">
  <div class="border-card p-md-5 p-4 bg-gradient-cyan white mb-5">
    <div class="row no-gutters justify-content-between">
      <div class="col-sm-8 order-sm-1 order-2">
        <div class="bold" style="font-size: 2.85rem;">Master DS and Algo with C++</div>
        <div class="mt-4 font-lg">Start from Basics, become a C++ Master!</div>
        <div class="my-5">
          <div class="mentor-row d-flex align-items-center">
            <div class="mentor-row__image-container">
              <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-60x60">
              <img src="https://minio.codingblocks.com/amoeba/27d05ebd-4820-4abf-a5f5-0846676bac48"
                alt="photo ofGarima Chhikara" class="mentor-row__image-container__mentor-image s-60x60"></div>
            <div class="mentor-row__text-container">
              <div class="font-md">Instructors</div>
              <h4 class="bold">Rishab Kapoor, Garima Chhikara</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="order-sm-2 order-1 mb-sm-0 mb-3">
        <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png"
          class="round border b-white border-2 s-130x130">
      </div>
    </div>
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-xl-8 col-sm-6">
        <div class="bold backdrop font-mds v-align-ma mb-xl-0 mb-5">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/user-white.svg" class="mr-2tea">
          Enrollment through Selection process only
        </div>
        <div class="bold backdrop font-mds v-align-ma ml-xl-5 mb-md-0 mb-5">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/group-white.svg" class="mr-2">
          50 Students
        </div>
      </div>
      <div class="d-inline-flex align-items-center">
        <span class="font-mdxl bold">&#8377;&nbsp;12499</span>
        <span class="font-xl bold del-text-grey pl-3"><del>&#8377;&nbsp;18999</del></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mb-lg-0 mb-5">
      <div class="border-card p-md-5 p-4 mb-5">
        <div class="font-md">
          <strong>Summary</strong>
          <br /><br />
          First of its kind, our C++ Live course for beginners is a uniquely designed course in Data Structures and
          Algorithms to aid your journey right from the beginning to the very end in becoming the most skilled software
          engineers across the globe.Through these Live classes, the students will not only become more efficient with
          their solutions by optimizing space and time but will also provide them a firm base to excel in all their
          programming interviews. The core focus of these C++ classes is to maintain an equilibrium between theory and
          practical, thus providing the programmers with an ample amount of practice of questions based on Sorting,
          Searching, Greedy Algorithms, Divide and Conquer Algorithms and more.
          <br /><br />
          <strong>Highlights</strong>
          <br /><br />
          <ul class="list-style-gradient-bullet my-0">
            <li>Extensive Data Structures &amp; Algorithmic Coverage</li>
            <li>500+ Video Lectures and Code Challenges</li>
            <li>Hint Videos for Complex Problems</li>
            <li>Lifetime Assignment Access</li>
            <li>Basics &amp; Advanced Coding Topics for Interviews</li>
            <li>Expert Doubt Support</li>
          </ul>
          <br />
          <strong>Pre-requisites</strong>
          <br /><br />
          There are no pre-requisites to join this course.
          </pre>
        </div>
      </div>
      <div class="border-card p-0 mb-5">
        <div class="px-md-5 px-4 py-4 bg-grey">
          <div class="row no-gutters align-items-center justify-content-between">
            <h2 class="bold flex-1">Lecture Schedule</h2>
            <div class="t-align-r">
              <h5 class="bold">Mon Tue Wed Fri</h5>
              <div class="bold gradient-text-orange mt-1">7 PM - 10 PM</div>
            </div>
          </div>
        </div>
        <div class="py-4 overflow-y-auto gradient-orange-scroll" style="max-height: 450px;">
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
          <div class="row no-gutters align-items-center justify-content-between py-3 hover-grey px-md-5 px-4">
            <div class="col-5">
              <h5 class="bold">Lecture 1</h5>
            </div>
            <h5 class="bold gradient-text-orange flex-1 pl-4">Introduction to Data Structures &amp; Algorithms</h5>
          </div>
          <div class="divider-h px-md-5 px-4 content-divider"></div>
        </div>
      </div>
      <div class="border-card bg-grey p-md-5 p-4">
        <div class="font-md bold mb-5">About Mentors</div>
        <div class="row no-gutters instructor-row">
          <img src="https://minio.codingblocks.com/amoeba/ebd9bd9b-5cfc-45da-bee2-1b4b95dbe5d9" class="s-50x50 round">
          <div class="ml-3 flex-1">
            <div class="font-mds bold">Prateek Narang</div>
            <a href="mailto:prateek@codingblocks.com" class="med-grey mb-2">prateek@codingblocks.com</a>
            <div class="t-align-j">
              <div class="markdown-body">
                <p>Currently doing his Masters in Machine Learning from IIT Delhi, Prateek is an ace programmer who has
                  worked with SanDisk and HackerEarth in the past. He has also won prestigious hackathons including
                  Google’s Code For India and Smart City Hackathon. A Computer Science Graduate from DTU, he is highly
                  popular among students for his teaching methods. His interactive CV (<a
                    href="http://www.prateeknarang.com">www.prateeknarang.com</a>) is also well known in 120+ countries.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-lg-0 mb-5">
      <div class="border-card p-lg-5 p-4 bg-gradient-orange white position-relative">
        <div class="font-md bold">Selection Tests</div>
        <div class="card-md mt-1">Choose your preffered Test Date</div>
        <div class="mt-5">
          <button class="button-dashed button-white">25th July</button>
          <button class="button-solid orange button-white mr-3">31st July</button>
        </div>
      </div>
      <div class="border-card p-lg-5 p-4 bg-gradient-orange mb-5 white">
        <div class="row no-gutters align-items-center justify-content-between pb-3 border-bottom">
          <div class="font-md bold">Selection Test</div>
          <div>
            <div class="bold" style="font-size: 2rem;">01</div>
            <div class="font-sm bold">
              AUG
            </div>
          </div>
        </div>
        <div class="py-4 border-bottom">
          <div class="card-md">
            This amount will be reduced from the total course price upon your successful enrollment.
          </div>
          <div class="card-md mt-3">
            All the non selected students will get a refund of Rs 1000
          </div>
        </div>
        <div class="mt-4">
          <div class="row no-gutters justify-content-between align-items-center">
            <div class="font-mds bold">1000</div>
            <div class="button-solid button-white orange">Pre Book Now</div>
          </div>
        </div>
      </div>
      <div class="border-card p-lg-5 p-4 b-orange mb-5">
        <div class="font-mds bold">
          Timeline
        </div>
        <div class="border-left mt-5" style="padding-left: 1.5rem;">
          <div class="position-relative mb-4">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative mb-4">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
          <div class="position-relative">
            <div class="card-md">
              Pre Booking Starts on
              <br />
              <strong>25th July</strong>
            </div>
            <div class="indicator">&#8226;</div>
          </div>
        </div>
      </div>
      <div class="border-card b-orange p-4 mb-4">
        <div class="row justify-content-between align-items-center no-gutters">
          <div class="flex-1 pr-3">
            <h5 class="bold">Take Demo Class</h5>
            <div class="card-md dark-grey">A Glimpse of what we have in store for you!</div>
          </div>
          <a href="#" class="button-solid button-orange free-trial-button">Try it for free!</a>
        </div>
      </div>

      <div class="border-card bg-gradient-orange white p-4 mb-4">
        <div class="row justify-content-between align-items-center no-gutters">
          <div class="flex-1 pr-3">
            <h5 class="bold">Get Started</h5>
            <div class="card-md">Get all the benefits of the Classroom right at your home!</div>
          </div>
          <a href="#" class="button-solid button-white orange">Register Now</a>
        </div>
      </div>

      <div class="border-card bg-grey p-4 mb-5">
        <div class="row justify-content-between align-items-center no-gutters">
          <div class="flex-1 pr-3">
            <h5 class="bold">Download Syllabus PDF</h5>
          </div>
          <a href="#" class="button-solid button-white orange"><i class="fas fa-download mx-4 px-3 fa-lg"></i></a>
        </div>
      </div>

      <div class="border-card p-md-5 p-4 mb-5">
        <div class="row no-gutters align-items-center justify-content-between">
          <h5 class="bold flex-1">Opportunities for Students</h5>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/unlock.svg">
        </div>
        <div class="mt-2 mb-4 card-md">
          Designed to bridge the gap between theoretical knowledge and industry-specific coding skills. Programmers will
          be well preparde for the interview processes of various big-wigs.Excel all your programming interviews by
          developing an efficient approach to find optimized solutions.Get placed at companies like Amazon, Google,
          Microsoft, Directi etc.
        </div>
        <div class="row no-gutters align-items-center justify-content-between">
          <h5 class="bold flex-1">Hands on Projects and Problems</h5>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/puzzle.svg">
        </div>
        <div class="mt-2 mb-4 card-md">
          In-depth Discussion on Important Computer Science Topics Like OS, DBMS etc.Extensive Data Structures &
          Algorithmic Coverage. Assignments on the questions asked in Google and other BigWigs.
        </div>
        <div class="row no-gutters align-items-center justify-content-between">
          <h5 class="bold flex-1">Why Choose CB Live</h5>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/question-mark.svg">
        </div>
        <div class="mt-2 mb-4 card-md">
          Two-Way Interaction: Share screen with your mentor for any doubt resolution 24*7.Placement Support: From
          Interview recommendations to placement, we are there for you at every step.Get into Bigwigs: Our expert will
          help you crack interviews for Amazon, Microsoft, Apple, Google, and Facebook.
        </div>
        <div class="row no-gutters align-items-center justify-content-between">
          <h5 class="bold flex-1">Certificate Course</h5>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/scroll.svg">
        </div>
        <div class="mt-2 mb-4 card-md">
          Learners will get Course certificate from Coding Blocks upon completion of the program. Both e-certificate and
          physical copies of the certificate are provided and can be used on LinkedIn profiles and resumes.
        </div>
      </div>

      <div class="border-card bg-gradient-purple white p-md-5 p-4">
        <h2 class="bold">Land your dream job</h2>
        <div class="mb-4 font-sm">Making you ready for grade A companies</div>
        {{!-- Comapany logos vector goes here --}}
      </div>
    </div>

    {{!-- rest of the markup is redundant - All of that goes here after the row --}}
  </div>