{{>nav-bar}}
<div class="login-signup">
    <div class="card o-login">
        <div class="heading-u-red">
            LOGIN NOW TO GET STARTED
        </div>

        <form action="">
            <div class="input-btn">
                <input type="text" class="input-text icon user-bg" placeholder="Enter Username">
                <button class="grey">Forgot?</button>
            </div>

            <div class="input-btn">
                <input type="text" class="input-text icon fingerprint-bg" placeholder="Enter Password">
                <button class="grey">Forgot?</button>
            </div>

            <input type="checkbox" id="remember" class="input-checkbox">
            <label for="remember"> Remember me</label>

            <div class="row">
                <div class="button-solid">
                    <button type="submit"> LOGIN NOW</button>
                </div>

                <div class="signup d-flex flex-column justify-content-center">
                    New to Coding Blocks?
                    <button class="red">SIGN UP NOW</button>
                </div>
            </div>

            <div class="divider row align-items-center">
                OR <span class="bg-black"></span>
            </div>

            <p class="link-heading">You may also try login with:</p>

            <div class="links flex-row">
                <div class="auth-link">
                    <button class="button-circle facebook">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </button>
                    <div class="link-text">FACEBOOK</div>
                </div>
                <div class="auth-link">
                    <button class="button-circle google">
                        <i class="fab fa-google-plus-g fa-2x"></i>
                    </button>
                    <div class="link-text">GOOGLE</div>
                </div>
                <div class="auth-link">
                    <button class="button-circle twitter">
                        <i class="fab fa-twitter fa-2x"></i>
                    </button>
                    <div class="link-text">TWITTER</div>
                </div>
                <div class="auth-link">
                    <button class="button-circle github">
                        <i class="fab fa-github fa-2x"></i>
                    </button >
                    <div class="link-text">GITHUB</div>
                </div>
            </div>


        </form>


    </div>
</div>
