<div class="a-cbm">
  <div class="bg-grey-dark-2 position-relative">
    {{!-- This height can be removed when theres an actual image here --}}
    <img src="https://www.vyond.com/wp-content/uploads/2013/03/6-best-free-banner-maker-tools.png" class="w-100">
    <div class="position-absolute bl w-100 px-80 pb-50" style="z-index: 10;">
      <div class="row no-gutters justify-content-between align-items-end">
        <div class="flex-1">
          <div class="heading-5 bold white mb-30">Learn Programming from the best mentor</div>
          <div>
            <button class="button-primary">Active State</button>
            <button class="button-primary ml-20">Active State</button>
          </div>
        </div>
        {{!-- Carousel Dot Navigation goes here  --}}
      </div>
    </div>
  </div>
</div>