<div class="grid row">
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-layout col-12 col-sm-12   col-md-6 col-lg-4">
    <div class="card online-card my-course-card">
      <div class="head">
        <div class="row justify-content-center course-image">
          <img src="images/android-logo.svg">
        </div>
        <div class="course-name center-text">
          Android App Development Online
        </div>
        <div class="i course-description center-text">
          Learn how to make ubercool Android Apps<br> with Java and Kotlin
        </div>
        <div class="row justify-content-center rating">
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
          <span class="edit-rating">4.7</span>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row justify-content-between align-items-center">
            <progress value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row align-items-center justify-content-between">
          <div class="no-gutters">
            Nov-Dec 2018              
          </div>
          <div class="button-solid no-gutters">
            <button><i class="fas fa-play"></i>Resume Learning</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

