<div class="grid row">
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="footer">
          <div class="no-gutters">
            Nov-Dec 2018         
            <div class="red">
              Batch Ends 12-Jul-19
            </div>
          </div>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="footer t-align-l">
          <div class="no-gutters">
            Nov-Dec 2018         
            <div class="red">
              Batch Ends 12-Jul-19
            </div>
          </div>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="footer t-align-l">
          <div class="no-gutters">
            Nov-Dec 2018         
            <div class="red">
              Batch Ends 12-Jul-19
            </div>
          </div>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="footer t-align-l">
          <div class="no-gutters">
            Nov-Dec 2018         
            <div class="red">
              Batch Ends 12-Jul-19
            </div>
          </div>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="footer t-align-l">
          <div class="no-gutters">
            Nov-Dec 2018         
            <div class="red">
              Batch Ends 12-Jul-19
            </div>
          </div>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="footer t-align-l">
          <div class="no-gutters">
            Nov-Dec 2018         
            <div class="red">
              Batch Ends 12-Jul-19
            </div>
          </div>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="footer t-align-l">
          <div class="no-gutters">
            Nov-Dec 2018         
            <div class="red">
              Batch Ends 12-Jul-19
            </div>
          </div>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div class="c-layout-card col-12 col-sm-12 col-md-6 col-lg-3">
    <div class="img-card online-card my-course-card">
      <div class="head d-flex">
        <img class="back-img" src="images/android.svg">
        <div class="difficulty-dots dsp-none-sm">
          <div class="pos-diff"></div>
          <div class="pos-diff"></div>
          <div class="neg-diff"></div>
          <div>Medium</div>
        </div>
        <div class="content d-flex flex-column justify-content-center">
          <div class="round-img-b">
            <img src="images/android-logo.svg">
          </div>
          <div class="course-name center-text">
            Android App Development
          </div>
          <div class="i course-description t-align-c d-md-none">
            Learn how to make ubercool Android Apps with Java and Kotlin
          </div>
          {{!-- <div class="i course-description center-text">
                  Learn how to make ubercool Android Apps with Java and Kotlin
                </div> --}}
          <div class="rating">
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
              <i class="fas fa-star"></i>
            </span>
            <span class="edit-rating">4.0 (50)</span>
          </div>
        </div>
      </div>
      <div class="foot">
        <div class="course-progress">
          <label>Course Progress</label>
          <div class="row no-gutters justify-content-between align-items-center">
            <progress class="red" value="26" max="100"></progress>
            <span>26%</span>
          </div>
        </div>
        <div class="card-mentor">
          <!--<div class="row no-gutters">-->
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="card-mentor-text">
            <span>Instructors</span>
            <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
          </div>
          <!--</div>-->
        </div>
        <div class="row button-row no-gutters align-items-center justify-content-end">
          <button class="red pr-3">Buy Now</button>
          <button class="button-solid">Resume</button>
        </div>
      </div>
    </div>
  </div>
</div>

