{{> nav-bar }}

<div class="item-heading row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-6 heading-u">
                My Orders
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="header row no-gutters align-items-center">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>

                            </div>

                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="detail-row row justify-content-between">
                                <span>Order Total</span>
                                <span>Rs 25000</span>
                                <span class="no-promo">Purchased on 21th Aug, 2018</span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <div class=" col-12 col-sm-12 col-md-7 d-flex justify-content-around">

                            <div class="button-parent" style="width: 40%;">
                                <div class="button-dashed">
                                    <button>View Invoice</button>
                                </div>
                            </div>

                            <div class="button-parent" style="width: 36%;">
                                <div class="button-solid">
                                    <button>Buy Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="header row no-gutters align-items-center">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>

                            </div>

                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="detail-row row justify-content-between">
                                <span>Order Total</span>
                                <span>Rs 25000</span>
                                <span class="no-promo">Purchased on 21th Aug, 2018</span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <div class=" col-12 col-sm-12 col-md-7 d-flex justify-content-around">

                            <div class="button-parent" style="width: 40%;">
                                <div class="button-dashed">
                                    <button>View Invoice</button>
                                </div>
                            </div>

                            <div class="button-parent" style="width: 36%;">
                                <div class="button-solid">
                                    <button>Buy Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="header row no-gutters align-items-center">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>

                            </div>

                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="detail-row row justify-content-between">
                                <span>Order Total</span>
                                <span>Rs 25000</span>
                                <span class="no-promo">Purchased on 21th Aug, 2018</span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <div class=" col-12 col-sm-12 col-md-7 d-flex justify-content-around">

                            <div class="button-parent" style="width: 40%;">
                                <div class="button-dashed">
                                    <button>View Invoice</button>
                                </div>
                            </div>

                            <div class="button-parent" style="width: 36%;">
                                <div class="button-solid">
                                    <button>Buy Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="header row no-gutters align-items-center">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>

                            </div>

                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="detail-row row justify-content-between">
                                <span>Order Total</span>
                                <span>Rs 25000</span>
                                <span class="no-promo">Purchased on 21th Aug, 2018</span>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <div class=" col-12 col-sm-12 col-md-7 d-flex justify-content-around">

                            <div class="button-parent" style="width: 40%;">
                                <div class="button-dashed">
                                    <button>View Invoice</button>
                                </div>
                            </div>

                            <div class="button-parent" style="width: 36%;">
                                <div class="button-solid">
                                    <button>Buy Again</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

