{{> nav-bar }}

<div class="item-heading row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-6 heading-u">
                My Orders
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row header align-items-center mb-3">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="row no-gutters align-items-center mb-2">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>

                            </div>

                        </div>

                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="font-sm row justify-content-between no-gutters">
                                <div class="col-6 bold">Order Total</div>
                                <div class="col-6 bold t-align-r">Rs 25000</div>
                                <div class="no-promo font-xs">Purchased on 21th Aug, 2018</div>
                            </div>

                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-sm-3 col-md-4 col-lg-3">
                            <div class="button-dashed">
                                <button>View Invoice</button>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="button-solid">
                                <button>Buy Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row header align-items-center mb-3">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="row no-gutters align-items-center mb-2">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>
            
                            </div>
            
                        </div>
            
                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="font-sm row justify-content-between no-gutters">
                                <div class="col-6 bold">Order Total</div>
                                <div class="col-6 bold t-align-r">Rs 25000</div>
                                <div class="no-promo font-xs">Purchased on 21th Aug, 2018</div>
                            </div>
            
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-sm-3 col-md-4 col-lg-3">
                            <div class="button-dashed">
                                <button>View Invoice</button>
                            </div>
                        </div>
            
                        <div class="col-4">
                            <div class="button-solid">
                                <button>Buy Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row header align-items-center mb-3">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="row no-gutters align-items-center mb-2">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>
            
                            </div>
            
                        </div>
            
                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="font-sm row justify-content-between no-gutters">
                                <div class="col-6 bold">Order Total</div>
                                <div class="col-6 bold t-align-r">Rs 25000</div>
                                <div class="no-promo font-xs">Purchased on 21th Aug, 2018</div>
                            </div>
            
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-sm-3 col-md-4 col-lg-3">
                            <div class="button-dashed">
                                <button>View Invoice</button>
                            </div>
                        </div>
            
                        <div class="col-4">
                            <div class="button-solid">
                                <button>Buy Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row header align-items-center mb-3">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="row no-gutters align-items-center mb-2">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>
            
                            </div>
            
                        </div>
            
                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="font-sm row justify-content-between no-gutters">
                                <div class="col-6 bold">Order Total</div>
                                <div class="col-6 bold t-align-r">Rs 25000</div>
                                <div class="no-promo font-xs">Purchased on 21th Aug, 2018</div>
                            </div>
            
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-sm-3 col-md-4 col-lg-3">
                            <div class="button-dashed">
                                <button>View Invoice</button>
                            </div>
                        </div>
            
                        <div class="col-4">
                            <div class="button-solid">
                                <button>Buy Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card c-item-card mr-4">
                    <div class="row header align-items-center mb-3">
                        <div class=" col-12 col-sm-12 col-md-6">
                            <div class="row no-gutters align-items-center mb-2">
                                <div class="item-img col-3">
                                    <img src="images/c++" alt="">
                                </div>
                                <div class="heading-d col-9">
                                    <div class="main-h">Product Name here</div>
                                    <div class="sub-h black">Any meta information</div>
                                </div>
            
                            </div>
            
                        </div>
            
                        <div class="quantity-details col-12 col-sm-12 col-md-6">
                            <div class="font-sm row justify-content-between no-gutters">
                                <div class="col-6 bold">Order Total</div>
                                <div class="col-6 bold t-align-r">Rs 25000</div>
                                <div class="no-promo font-xs">Purchased on 21th Aug, 2018</div>
                            </div>
            
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-sm-3 col-md-4 col-lg-3">
                            <div class="button-dashed">
                                <button>View Invoice</button>
                            </div>
                        </div>
            
                        <div class="col-4">
                            <div class="button-solid">
                                <button>Buy Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           

        </div>


    </div>
</div>

