{{> nav-bar }}
<div class="grid row">
    <div class="card-layout col-md-4 col-sm-6">
        <div class="card c-run-card">
            <div class="card-heading c-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            
            <div class="my-course-enroll row no-gutters">
                <div class="col-8">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>
                <div class="font-sm">Major topics covered</div>

                <div class="tag-container">
                    <div class="pill">
                        Flow Charts
                    </div>
                    <div class="pill">
                        Conditionals and Loops
                    </div>
                    <div class="pill">
                        Functions
                    </div>
                    <div class="pill">
                        Strings
                    </div>
                    <div class="pill">
                        2D Arrays
                    </div>
                    <div class="pill">
                        Operators and Patterns
                    </div>
                    <div class="pill">
                        Arrays
                    </div>

                </div>
            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-md-4 col-sm-6">
        <div class="card c-run-card">
            <div class="card-heading c-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-md-4 col-sm-6">
        <div class="card c-run-card">
            <div class="card-heading c-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-md-4 col-sm-6">
        <div class="card c-run-card">
            <div class="card-heading c-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4 align-self-center">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-layout col-md-4 col-sm-6">
        <div class="card c-run-card">
            <div class="card-heading c-text-card">
                MARCH' 18
            </div>
            <div class="row">
                <div class="batch">
                    <div class="card-text grey">
                        Batch Starts
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>

                <div class="divider-v"></div>

                <div class="batch">
                    <div class="card-text grey">
                        Batch Ends
                    </div>
                    <div class="card-text">
                        20th March 2018
                    </div>
                </div>
            </div>

            <div class="price">
                Rs 9000
            </div>
            <div class="my-course-enroll row no-gutters">
                <div class="col-8">
                    <div>HURRY UP!</div>
                    <div class="red">Enrollment ends 21th Feb. 2018 </div>
                </div>

                <div class="button-parent col-4">
                    <div class="button-solid">
                        <button>Enroll Now</button>
                    </div>
                </div>

            </div>

            <div class="card-mentor-divider"></div>

            <div class="row no-gutters">
                <div class="col-8 align-self-center">
                    You may also try our
                    free lectures:
                </div>
                <div class="button-parent col-4 align-self-center">
                    <div class="button-dashed">
                        <button>Start Free Trial</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
