<div class="a-cbm">
  <div class="nagarro-landing">
    <div class="p-100">
      <div class="row no-gutters">
        <div class="col-5">
          <img src="images/cblogo-black.png" style="height: 51px;" class="mb-80">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" class="d-block mb-20">
          <div class="bold" style="font-size: 48px;">
            is looking for
            <span class="cyan-underline d-inline-block">Developers</span>
          </div>
          <div class="heading-4 bold mt-20 mb-30">
            Garuntee your seat with Coding Blocks
          </div>
          <div class="font-5">
            <span class="cyan">Nagarro</span> in association with <span class="cyan">Coding Blocks</span> is conducting
            a special batch of Advanced Training to recruit the Finest developers for their company!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>