<div class="row certificate-nagarro">
    <div class="col-9">

        <h1 class="heading">CERTIFICATE</h1>
        <p class="subheading">OF ACHIEVEMENT</p>
        <div class="presented">This certificate is presented to</div>
        <h1 class="person">John Doe</h1>
        <div class="description">in recognition for successfully completing <b>NAGARRO CAREER BOOTCAMP - java</b><br>
            held by Coding Blocks</div>

        <div class="sign d-flex justify-content-between">
            <img style="height: 300px;" src="images/varun-sign.svg" alt="">
            <p class="date">Date : 10/12/2021</p>
        </div>
    </div>
    <div class="col-3">
        <img src="images/nagarro-bootcamp-certi.svg" alt="">
    </div>
</div>