<div class="a-cbm">
  <div class="nagarro-landing">
    <div class="p-lg-100 p-md-75 p-sm-40 p-sm-20 position-relative overflow-hidden">
      <div class="row no-gutters">
        <div class="col-5">
          <img src="images/cblogo-black.png" style="height: 51px;" class="mb-80">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" class="d-block mb-20">
          <div class="bold" style="font-size: 48px;">
            is looking for
            <span class="cyan-underline d-inline-block">Developers</span>
          </div>
          <div class="heading-4 bold mt-20">
            Garuntee your seat with Coding Blocks
          </div>
          <div class="font-5 my-30">
            <span class="cyan">Nagarro</span> in association with <span class="cyan">Coding Blocks</span> is conducting
            a special batch of Advanced Training to recruit the Finest developers for their company!
          </div>
          <a href="#" class="cyan font-5 bold">Learn How</a>
        </div>
      </div>
      <div class="position-absolute tr cyan-backdrop"></div>
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hero-1.svg" class="position-absolute h-90" style="right: 0; bottom: 0;">
    </div>
    <div class="p-lg-100 p-md-75 p-sm-40 p-sm-20 pt-50">
      <div class="t-align-c">
        <div class="heading-2 bold v-align-ma">
          Simple step to get you job ready at
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nagarro.svg" style="height: 36px;" class="ml-10">
        </div>
      </div>
      <div class="row mt-40 mb-60">
        <div class="col-4 h-inherit">
          <div class="card bg-cyan position-relative t-align-c h-100 pb-50">
            <div class="heading-6 mb-35 bold">Enroll in the Bootcamp</div>
            <div class="font-4">
              The bootcamp comprises of 4 months of Live Classes on the most widely used programming language i.e C++
              and Java. Students will be taught by the finest teachers, the course is filled with exlusive resources on
              your chosen subject
            </div>
            <button class="button-primary button-grey position-absolute"
              style="bottom: -23px; left: calc(50% - 67px);">Enroll Now</button>
          </div>
        </div>
        <div class="col-4 h-inherit">
          <div class="card bg-cyan position-relative t-align-c h-100">
            <div class="heading-6 mb-35 bold">Get trained by us</div>
            <div class="font-4">
              This program equips students with necessary skills in Coding, Data structures, Algorithms and the like,
              simultaneously preparing them for the Final placement rounds of Nagarro.
            </div>
          </div>
        </div>
        <div class="col-4 h-inherit">
          <div class="card bg-cyan position-relative t-align-c h-100">
            <div class="heading-6 mb-35 bold">Get Placed at Nagarro</div>
            <div class="font-4">
              Voila! One done with the course, you will be among the finest candidates to appear for the Placement. With
              a special lookout for CB trained candidates you get the highest chance of getting recruited!
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters t-align-c justify-content-center">
        <div class="col-xl-4 col-lg-6 col-md-10">
          <div class="heading-5 bold">What's More</div>
          <div class="heading-4 cyan bold mt-10 mb-30">
            The Entire Program is Sponsered by Nagarro and Coding Blocks
          </div>
          <div class="font-4">
            We believe that money should never be a barrier when it comes to finding the right talent so, candidates
            enrolling for the bootcamp will get a scholarship of 5,000/- from Nagarro and 5,000/- from Coding Blocks.
            Making it a total of 10,000/-
          </div>
        </div>
      </div>
      <div class="row no-gutters mt-75">
        <div class="col-6">
          <div class="heading-2 bold">
            With the effective fees reduced by 10,000, it makes it a
            <span class="cyan-underline d-inline-block">once in a life time opportunity!</span>
          </div>
          <div class="row no-gutters align-items-center my-50">
            <div class="col-7">
              <div class="card bg-cyan all-center">
                <div class="t-align-c">
                  <div class="heading-6 bold mb-10">Also,</div>
                  <div class="font-4">
                    Upon the successful joining of a candidate like you, Nagarro will even return the minimal fees
                    invested by you!
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-1 pl-20 heading-2 bold">
              ZERO EFFECTIVE FEES
            </div>
          </div>
          <div class="font-1 cyan mb-10">General Question</div>
          <div class="font-4 mb-25">Why take fees if you’ll return all of it!</div>
          <div class="font-2 text-grey-light-1">
            We have tried to educate students from resources that are mainly free, but from our experience, we have
            found that people don't respect things that are free. So, we have kept very small fees (INR 5000+taxes) for
            this program which would be refunded once you join Nagarro.
          </div>
          <button class="button-grey button-primary mt-50">Enroll Now</button>
        </div>
      </div>
    </div>
  </div>
</div>