{{> nav-bar }}

<div class="nagarro-banner row">
  <img class="logo" src="/images/naggaro-logo.png" alt="nagarro-logo">

  <div class="information col-12 col-lg-6">
    <div class="title">The destination for workplace learning</div>
    <div class="sub">Keep up with technology with expert-led courses, assessments and tools that 
help you build the skills you need, when you need them.</div>
    <div class="highlights">
      <div class="highlight">
        <img src="/images/ng-icon-1.png">
        <div> Learn latest technologies </div>
      </div>
      <div class="highlight">
        <img src="/images/ng-icon-2.png">
        <div> Learn latest technologies </div>
      </div>
      <div class="highlight">
        <img src="/images/ng-icon-3.png">
        <div> Learn latest technologies </div>
      </div>
    </div>
    
    <button class="button-solid">Explore</button>
  </div>
  
  <div class="col-12 col-lg-6 banner-image">
    <img src="/images/bannerimage.jpg" alt="nagarro-banner-image">
  </div>
</div>


<div class="grid-background">
  <div class="custom-heading row justify-content-between no-gutters">
    <div class="col-8">
      <div class="heading-u">
        Recommended Courses
      </div>
    </div>

    <div class="col-4">
      <div class="button-dashed align-self-center">
        <button>View All Courses</button>
      </div>
    </div>

  </div>
  <div class="grid row">
    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="neg-diff"></div>
            <div class="neg-diff"></div>
            <div>Beginner</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div class="neg-diff"></div>
            <div>Medium</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div class="neg-diff"></div>
            <div>Medium</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div class="neg-diff"></div>
            <div>Medium</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div>Advanced</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div class="neg-diff"></div>
            <div>Medium</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div class="neg-diff"></div>
            <div>Medium</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      <div class="card online-card home-card">
        <div class="head d-flex justify-content-center">
          <img class="back-img" src="images/android.svg">
          <div class="difficulty-dots">
            <div class="pos-diff"></div>
            <div class="pos-diff"></div>
            <div class="neg-diff"></div>
            <div>Medium</div>
          </div>
          <div class="front-text flex-col align-item-center">
            <div class="round-img-b">
              <img src="images/android-logo.svg">
            </div>
            <div class="course-name center-text">
              Android App Development Online
            </div>
            <div class="i course-description center-text">
              Learn how to make ubercool Android Apps with Java and Kotlin
            </div>
            <div class="rating">
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="edit-rating">4.7</span>
            </div>
          </div>
        </div>
        <div class="foot">
          <div class="card-mentor">
            <!--<div class="row no-gutters">-->
            <div class="card-mentor-image">
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
              <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            </div>
            <div class="card-mentor-text">
              <span>Instructors</span>
              <div class="card-mentor-name">Prateek Narang, Arnav Gupta +2 more</div>
            </div>
            <!--</div>-->
          </div>
          <div class="row button-row justify-content-between no-gutters align-items-center">
            <div class="details">
              <div class="price">
                <span class="red">Rs 9000</span>
                <span class="grey"><strike>Rs 12000</strike></span>
              </div>
              <div>Batches starting 10th August</div>
            </div>
            <div class="button-solid">
              <button>Explore</button>
            </div>
          </div>
          <div class="divider">
            <div class="card-mentor-divider col-12 order-0 order-md-2"></div>
          </div>
          <div class="row justify-content-center enrollment no-gutters">
            <div class="col-12 center-text">Hurry Up! Enrollment ends 21st May 2018</div>
            <div class="col-12 red pointer center-text">Click here to get Free Trial Now</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<footer>
  <div class="row justify-content-center height-100">
    <div class="col-8">
      <div class="row justify-content-center logo-row">
        <img src="images/online-logo.png" alt="online-logo" class="nav-logo pointer">
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-around links">
        <span class="link">About Us</span>
        <span class="link">|</span>
        <a class="link" href="#">Contact Us</a>
        <span class="link">|</span>
        <a class="link" href="#">Hackerblocks</a>
        <span class="link">|</span>
        <a class="link" href="#">privacy policy</a>
        <span class="link">|</span>
        <a class="link" href="#">terms and conditions</a>
      </div>
      <div class="d-flex flex-row justify-content-center links">
        <span class="link shadow">
          <i class="fab fa-facebook-f"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-twitter"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-youtube"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-github"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-linkedin-in"></i>
        </span>
      </div>
      <div class="row justify-content-center links text-center">
        Copyright 2018 - Coding Blocks Pvt Ltd
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--  <script src="JS/carousel.js" type="application/javascript"></script> -->
<script src="http://localhost:35729/livereload.js"></script>
