<div class="heading row">Small Pills</div>
<div class="row">
        <div class="pill-sm">
            Pill Default
        </div>

        <div class="pill-sm bg-green">
            Pill Green
        </div>

        <div class="pill-sm bg-red">
            Pill Red
        </div>
</div>


<div class="heading row">Default Pills</div>
<div class="row">
        <div class="pill">
            Pill Default
        </div>
        <div class="pill bg-green">
            Pill Green
        </div>


        <div class="pill bg-red">
            Pill Red
        </div>
</div>

<div class="heading row">Large Pills</div>
<div class="row">
        <div class="pill-lg">
            Pill Default
        </div>

        <div class="pill-lg bg-green">
            Pill Green
        </div>

        <div class="pill-lg bg-red">
            Pill Red
        </div>
</div>


<br>


<div class="heading">Manage pill size by parent</div>

<div class="row small">
    <div class="pill">
        Parent class=small
    </div>

    <div class="pill bg-green">
        Parent class=small
    </div>

    <div class="pill bg-red">
        Parent class=small
    </div>
</div>

<div class="row large">
    <div class="pill">
        Parent class=large
    </div>

    <div class="pill bg-green">
        Parent class=large
    </div>

    <div class="pill bg-red">
        Parent class=large
    </div>
</div>


