<div class="c-player-modal modal-overlays">
    <div class="card card-text">
    <div class="row">
        <img src="\images\player-control.png">
        <div class="justify-content-center">
            <h3 class="red">Up/Down: Change Video Speed</h3>
            <h3 class="red">Left/Right: Seeks 5 seconds Backward/Forward</h3>
        </div>
    </div>
    <div class="footer row justify-content-end no-gutters">
        <label class="red"><input type="checkbox">Don't show again</label>
        <div class="button-solid">
            <button>Close</button>
        </div>
    </div>
    </div>
</div>