<div class="a-hb">
  <div class="row">
    <div class="col-md-8 col-12">
      <div class="border-card p-4 bg-gradient-purple white">
        <div class="row mx-0 align-items-center">
          <div class="col-xl-10 col-md-9 col-9">
            <div class="img-desc align-items-center justify-content-center">
              <div class="col-2">
                <img src="/images/stack" alt="" class="">
              </div>
              <div class="description t-align-l col-10">
                <h2>Unlock Badge</h2>
                <span class="font-sm mt-1">Arrays | LinkedList | Stacks | Queues | Trees | Graphs</span>
              </div>
            </div>
          </div>
          <div>
            <div style="font-size: 2.58rem" class="extra-bold">250+</div>
            <div class="font-sm">PROBLEMS</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <div class="border-card p-5 bg-gradient-purple white">
        <div class="row align-items-center justify-content-between">

          <div class="row no-gutters col-md-7 col-12">
            <div class="col-12 col-lg-4 font-lg extra-bold">
              BIRTHDAY CAKE CANDLE
            </div>
            <div class="col-lg-8 col-12 my-lg-0 my-4">
              <ul class="divided-list my-0">
                <li class="px-3">
                  <div class="list-heading font-mds extra-bold mb-2 yellow">Hard</div>
                  <div class="list-data font-mds">Difficulty</div>
                </li>
                <li class="px-3">
                  <div class="list-heading font-mds extra-bold mb-2 yellow">345</div>
                  <div class="list-data font-mds">Submissions</div>
                </li>
                <li class="px-3">
                  <div class="list-heading font-mds extra-bold mb-2 yellow">200</div>
                  <div class="list-data font-mds">Max Points</div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-12">
            <h4 class="d-inline-block mr-2">Status:</h4>
            <h4 class="yellow d-inline-block">Partially Solved</h4>
            <div class="row mx-0 justify-content-start">
              <div class="col-6 px-0">
                <progress value="50" max="100" class="mt-3 d-inline-block"></progress>
              </div>
              <div class="col-6 px-0">
                <h5 class="d-inline-block mt-2 pl-3">20/100 Points</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>