<div class="a-hb">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="border-card p-5 bg-dark-grey white">
        <div class="row mx-0 align-items-center">
          <div class="col-10 pr-5 pl-0">
            <h3>INTERVIEW PREPARATION TRACKS</h3>
            <div class="mt-3">
              This kit is a track based learning kit. You need to complete one level to unlock the next one. We have
              carefully curated these challenges to help you prepare in the most comprehensive way possible. Also,
              Challenges are organised around core concepts commonly tested during Interviews.
            </div>
          </div>
          <div class="col-2 px-0">
            <img src="/images/stack" alt="Logo" class="mt-2 mb-3 mx-auto" />
          </div>
        </div>
        <div class="divider-h my-4"></div>
        <div class="row mx-0 align-items-center justify-content-between">
          <div class="col-lg-8 col-md-12 col-8 px-0">
            <ul class="divided-list mt-4">
              <li class="pr-3">
                <div class="list-heading font-mds extra-bold mb-2 orange">Hard</div>
                <div class="list-data font-mds">Difficulty</div>
              </li>
              <li class="px-3">
                <div class="list-heading font-mds extra-bold mb-2 orange">345</div>
                <div class="list-data font-mds">Submissions</div>
              </li>
              <li class="px-3">
                <div class="list-heading font-mds extra-bold mb-2 orange">200</div>
                <div class="list-data font-mds">Max Points</div>
              </li>
            </ul>
          </div>
          <div class="px-0">
            <button class="button-solid button-orange font-sm extra-bold mt-3">View Challenges</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>