<div class="a-hb">
  <div class="row">
    <div class="col-12 col-md-3 my-5">
      <div class="border-card p-0">
        {{!-- <div class="row justify-content-center t-align-c"> --}}
        <div class="col-12 mx-0 t-align-c px-0">
          <div class="bg-grey py-4 white">
            <img src="/images/hexagon.jpg" alt="Logo" class="my-4 mx-auto w-30" />
            <h3>Data Structures</h3>
            <div>Arrays | LinkedList | Stacks | Queues</div>
            <button class="button-solid button-white bold mt-3">Solve Challenge</button>
          </div>
          <div class="my-3 font-sm bold">
            <span>Current Level : </span>
            <span class="orange">Level 0</span>
            <i class="fas fa-crown"></i>
          </div>
          <div class="divider-h w-80 mx-auto my-3"></div>
          <div class="img-desc align-items-center font-sm pt-2 justify-content-center mb-4">
            <img class="round s-80x80" src="/images/placeholder.gif" alt="">
            <div class="description ml-3 t-align-l">
              <h5>Siddharth Jain</h5>
              <span class="font-xs"><a href="#" class="orange">View Profile</a></span>
              <progress value="50" max="100" class="my-2"></progress>
            </div>
          </div>
        </div>
        {{!-- </div> --}}
      </div>
    </div>




    <div class="col-12 col-md-3 my-5">
      <div class="img-card">
        <div class="head d-flex bg-grey py-4 px-3 px-md-2">
          {{!-- <img class="back-img" src="images/android.svg"> --}}
          <div class="d-flex flex-column t-align-c">
            <img src="/images/hexagon.jpg" alt="Logo" class="my-4 mx-auto w-30" />
            <h3>Data Structures</h3>
            <div>Arrays | LinkedList | Stacks | Queues</div>
            <button class="button-solid button-white bold mt-3 mx-auto">Solve Challenge</button>
          </div>
        </div>
        <div class="foot t-align-c p-2 p-lg-3 align-items-center">
          <div class="font-sm bold">
            <span>Current Level : </span>
            <span class="orange">Level 0</span>
            <i class="fas fa-crown"></i>
          </div>
          <div class="divider-h w-80 mx-auto my-3"></div>
          <div class="img-desc align-items-center font-sm pt-2 justify-content-center mb-3 px-lg-5 px-3">
            <div class="pr-0 col-3 col-lg-4 pl-2">
              <img src="/images/hexagon.jpg" alt="">
            </div>
            <div class="description ml-3 t-align-l col-lg-8 col-9 pl-0">
              <h5>Siddharth Jain</h5>
              <span class="font-xs"><a href="#" class="orange">View Profile</a></span>
              <progress value="50" max="100" class="mb-2 mt-3"></progress>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>