<div class="row o-arrangement">
  {{>side-nav}}
  <div class="col-md-8 o-profile">
    <div class="card">
        <div class="flex-row justify-content-between">
          <div class="heading-u-red">My Profile</div>
          <div class="button-solid">
            <button>EDIT PROFILE</button>
          </div>
        </div>
        <div class="attributes">
          <div class="flex-row">
            <div>UserID</div>
            <div><span class="faded">8769</span></div>
          </div>
          <div class="flex-row">
            <div>Username</div>
            <div><span class="faded">lazyGod</span></div>
          </div>
          <div class="flex-row">
            <div>Firstname</div>
            <div><span class="faded">Darsh</span></div>
          </div>
          <div class="flex-row">
            <div>Lastname</div>
            <div><span class="faded">Pratap</span></div>
          </div>
          <div class="flex-row">
            <div>Email Address</div>
            <div><span class="faded">lazyGod@gmail.com</span></div>
          </div>
          <div class="flex-row">
            <div>College</div>
            <div><span class="faded">College Name</span></div>
          </div>
          <div class="flex-row">
            <div>Branch</div>
            <div><span class="faded">Branch Name</span></div>
          </div>
          <div class="flex-row">
            You may also connect to:
          </div>
        </div>
        <div>
          <div class="links row">
            <div class="auth-link">
              <button class="button-circle facebook">
                <i class="fab fa-facebook-f fa-2x"></i>
              </button>
              <div class="link-text">FACEBOOK</div>
            </div>
            <div class="auth-link">
              <button class="button-circle google">
                <i class="fab fa-google-plus-g fa-2x"></i>
              </button>
              <div class="link-text">GOOGLE</div>
            </div>
            <div class="auth-link">
              <button class="button-circle twitter">
                <i class="fab fa-twitter fa-2x"></i>
              </button>
              <div class="link-text">TWITTER</div>
            </div>
            <div class="auth-link">
              <button class="button-circle github">
                <i class="fab fa-github fa-2x"></i>
              </button>
              <div class="link-text">GITHUB</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
