<div class="row o-profile">
  <div class="col-md-3">
    <div class="card">
      <div class="info">
        <img  class="profile-image" src="https://cdn.theatlantic.com/assets/media/img/photo/2015/11/images-from-the-2016-sony-world-pho/s01_130921474920553591/main_1200.jpg?1448476701"/>
        <p>Hi, Darsh</p>
      </div>
    </div>
    <div>
      <div class="flex-row profile-heading">
        MY PROFILE
      </div>
      <hr class="separator"/>
      <div class="flex-row profile-heading">
        MY ADDRESSES
      </div>
      <hr class="separator"/>
      <div class="flex-row profile-heading">
        MY APPS
      </div>
      <hr class="separator"/>
      <div class="flex-row profile-heading">
        MY CLIENTS
      </div>
      <hr class="separator"/>
      <div class="flex-row profile-heading">
        LOGOUT
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="details">
        <div class="flex-row">
          <div class="heading-u-red">My Profile</div>
          <div class="profile-button">
            <button>EDIT PROFILE</button>
          </div>
        </div>
        <div class="attributes flex-col">
          <div class="flex-row">
            <div>UserID</div>
            <div><span class="faded">8769</span></div>
          </div>
          <div class="flex-row">
            <div>Username</div>
            <div><span class="faded">lazyGod</span></div>
          </div>
          <div class="flex-row">
            <div>Firstname</div>
            <div><span class="faded">Darsh</span></div>
          </div>
          <div class="flex-row">
            <div>Lastname</div>
            <div><span class="faded">Pratap</span></div>
          </div>
          <div class="flex-row">
            <div>Email Address</div>
            <div><span class="faded">lazyGod@gmail.com</span></div>
          </div>
          <div class="flex-row">
            You may also connect to:
          </div>
        </div>
        <div>
          <div class="profile-links row">
            <div class="auth-links">
              <button class="button-circle facebook">
                <i class="fab fa-facebook-f fa-2x"></i>
              </button>
              <div>FACEBOOK</div>
            </div>
            <div class="auth-links">
              <button class="button-circle google">
                <i class="fab fa-google-plus-g fa-2x"></i>
              </button>
              <div>GOOGLE</div>
            </div>
            <div class="auth-links">
              <button class="button-circle twitter">
                <i class="fab fa-twitter fa-2x"></i>
              </button>
              <div>TWITTER</div>
            </div>
            <div class="auth-links">
              <button class="button-circle github">
                <i class="fab fa-github fa-2x"></i>
              </button>
              <div>GITHUB</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>