<div class="row o-profile-edit">
  {{>side-nav}}
  <div class="col-md-8">
    <div class="card">
      <div class="details">
        <div class="flex-row">
          <div class="heading-u-red">Edit Profile</div>
        </div>
        <div class="attributes d-flex flex-column">
          <div class="row">
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">UserID</div>
              <input class="input-text col-md-8 col-sm-8" disabled value="8769" />
            </div>
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Username</div>
              <input class="input-text col-md-8 col-sm-8" disabled value="lazyGod" />
            </div>
          </div>
          <div class="row">
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Firstname</div>
              <input class="input-text col-md-8 col-sm-8" value="Darsh" />
            </div>
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Lastname</div>
              <input class="input-text col-md-8 col-sm-8" value="Pratap" />
            </div>
          </div>
          <div class="row align-items-center justify-content-between detail-row">
            <div class="label-input col-md-4 col-sm-3">Email</div>
            <input class="input-text col-md-8 col-sm-8" value="lazyGod@gmail.com" />
          </div>
          <div class="row">
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Password</div>
              <input class="input-text col-md-8 col-sm-8" value="" placeholder="Enter Password" />
            </div>
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Re-Enter</div>
              <input class="input-text col-md-8 col-sm-8" value="" placeholder="Re-Enter Password" />
            </div>
          </div>
          <div class="row">
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">College</div>
              <input class="input-text col-md-8 col-sm-8" value="College Name" />
            </div>
            <div class="row align-items-center justify-content-between detail-row">
              <div class="label-input col-md-4 col-sm-3">Branch</div>
              <input class="input-text col-md-8 col-sm-8" value="Branch Name" />
            </div>
          </div>
          <div class="flex-row justify-content-end button-div">
            <div class="faded reset-button">
              <button>RESET</button>
            </div>
            <div class="button-solid">
              <button>SAVE CHANGES</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
