<div class="row c-arrangement">
  {{>side-nav}}
    <div class="col-md-8 c-profile-edit">
      <div class="card">
          <div class="heading-u-red">Edit Profile</div>
          <form action="" method="POST">
            <div class="row justify-content-between align-items-center profile-row">
              <div class="round-img">
                <img src="http://logo.clearbit.com/codingblocks.com" />
              </div>  
              <div class="button-solid">
                <button>CHANGE PROFILE IMAGE</button>
              </div>  
            </div>
            <div class="attributes">
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">UserID</div>
                  <input class="input-text col-9" disabled value="8769" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Username</div>
                  <input class="input-text col-9" disabled value="lazyGod" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Firstname</div>
                  <input class="input-text col-9" value="Darsh" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Lastname</div>
                  <input class="input-text col-9" value="Pratap" />
                </div>
              <div class="row no-gutters align-items-center justify-content-between detail-row">
                <div class="label-input col-2">Email</div>
                <input class="input-text col-9" value="lazyGod@gmail.com" />
              </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Password</div>
                  <input class="input-text col-9" value="" placeholder="Enter Password" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Re-Enter</div>
                  <input class="input-text col-9" value="" placeholder="Re-Enter Password" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">College</div>
                  <select class="dropdown-ul input-text col-9">
                    <option class="dropdown-li">college-name-1</option>
                    <option class="dropdown-li">college-name-2</option>
                    <option class="dropdown-li">college-name-3</option>
                    <option class="dropdown-li">college-name-4</option>
                  </select>
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Branch</div>
                  <select class="dropdown-ul input-text col-9">
                    <option class="dropdown-li">branch-name-1</option>
                    <option class="dropdown-li">branch-name-2</option>
                    <option class="dropdown-li">branch-name-3</option>
                    <option class="dropdown-li">branch-name-4</option>
                    <option class="dropdown-li">branch-name-5</option>
                  </select>
                </div>
              <div class="flex-row justify-content-end button-div">
                <div class="faded reset-button">
                  <button>RESET</button>
                </div>
                <div class="button-solid">
                  <button>SAVE CHANGES</button>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
</div>
