<div class="row o-profile">
  <div class="nav-info col-md-3">
    <div class="profile-pic">
      <img  class="round-img" src="https://cdn.theatlantic.com/assets/media/img/photo/2015/11/images-from-the-2016-sony-world-pho/s01_130921474920553591/main_1200.jpg?1448476701"/>
      <div class="card">
          <div class="info">
            <p>Hi, Darsh</p>
          </div>  
      </div>
    </div>
    <div>
      <div class="flex-row">
        <span class="pointer">MY PROFILE</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <span class="pointer">MY ADDRESSES</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <span class="pointer">MY APPS</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <span class="pointer">MY CLIENTS</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row faded">
        <span class="pointer">LOGOUT</span>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="details">
        <div class="flex-row">
          <div class="heading-u-red">My Profile</div>
          <div class="button-solid">
            <button>EDIT PROFILE</button>
          </div>
        </div>
        <div class="attributes">
          <div class="flex-row">
            <div>UserID</div>
            <div><span class="faded">8769</span></div>
          </div>
          <div class="flex-row">
            <div>Username</div>
            <div><span class="faded">lazyGod</span></div>
          </div>
          <div class="flex-row">
            <div>Firstname</div>
            <div><span class="faded">Darsh</span></div>
          </div>
          <div class="flex-row">
            <div>Lastname</div>
            <div><span class="faded">Pratap</span></div>
          </div>
          <div class="flex-row">
            <div>Email Address</div>
            <div><span class="faded">lazyGod@gmail.com</span></div>
          </div>
          <div class="flex-row">
            You may also connect to:
          </div>
        </div>
        <div>
          <div class="links row">
            <div class="auth-link">
              <button class="button-circle facebook">
                <i class="fab fa-facebook-f fa-2x"></i>
              </button>
              <div>Facebook</div>
            </div>
            <div class="auth-link">
              <button class="button-circle google">
                <i class="fab fa-google-plus-g fa-2x"></i>
              </button>
              <div>Google</div>
            </div>
            <div class="auth-link">
              <button class="button-circle twitter">
                <i class="fab fa-twitter fa-2x"></i>
              </button>
              <div>Twitter</div>
            </div>
            <div class="auth-link">
              <button class="button-circle github">
                <i class="fab fa-github fa-2x"></i>
              </button>
              <div>Github</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
