<div style="background-color: #333333;">
  <div id="wrapper" class="center">
    <svg class="progress blue noselect" data-progress="50" x="0px" y="0px" viewBox="0 0 80 80">
      <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
      <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
    </svg>
  </div>
</div>