<html>

<head>
</head>

<body class="card-lg p-5">
  <div class="t-align-c">
    <img src="https://marketing-image-production.s3.amazonaws.com/uploads/0ba295b66f676a965ba15303344f9e553b9e5f54381820d3752eee997e0c5d97cec5dbd68de0edd07b62c69b5d6b11ed15dd4655fef05607afd6a9deab3e1cc1.png" alt="">
  </div>
  <p class="red">
    Dear {{name}},
  </p>
  <p class="bold">
    Congratulations!
  </p>
  <p>
    Based on your performance in the <strong>Coders Admission and Scholarship Test</strong> (CAST) by Coding
    Blocks held on <strong>11<sup>th</sup> May, 2019</strong>, we are pleased
    to offer you a Scholarship of <strong>{{scholarship}}%</strong> on the Total fees on any <strong>Foundation
      Courses</strong> (in
    C++, Java or Python) at any Coding
    Blocks centers.
  </p>
  <p>
    To avail the Scholarship and enrol for the courses at Coding Blocks, you
    need to follow the undermentioned steps:
  </p>
  <ul>
    <li>
      Please visit any of the Coding Blocks centers from<strong>10AM – 6PM</strong> till <strong>19<sup>th</sup> May,
        2019</strong>. The various Coding Blocks
      centers and its contact details are listed below
    </li>
  </ul>
  <p>
    <strong>List of various Coding Blocks centers </strong>
  </p>
  <p>
    <strong></strong>
    <br>
  </p>
<table cellspacing="0" cellpadding="0" class="w-100">
  <tbody>
    <tr class="bg-red p-4">
      <td valign="middle">
        Center
      </td>
      <td valign="middle">

        Address

      </td>
      <td valign="middle">

        Contact

      </td>
    </tr>
    <tr>
      <td valign="middle">

        Pitampura


        (Kohat Enclave)

      </td>
      <td valign="middle">

        1st Floor,


        47, Nishant Kunj,


        Near Kohat Enclave Metro,


        (Opposite Metro Pillar 337)


        New Delhi

      </td>
      <td valign="middle">

        1800 274 4504


        9599586446


        9643339705


        011-47052584

      </td>
    </tr>
    <tr class="bg-grey">
      <td valign="middle">

        Dwarka

      </td>
      <td valign="middle">

        2nd Floor,


        Plot No. 3,


        Sector 11, Dwarka,


        (Near Dwarka Sec-11 Metro)


        New Delhi

      </td>
      <td valign="middle">

        1800 274 4504


        9811228053


        8588801217

      </td>
    </tr>
    <tr>
      <td valign="middle">

        Noida

      </td>
      <td valign="middle">

        1<sup>st</sup> Floor


        Sanfran Square,


        A-73, Sector-2, Noida


        Near Noida Sec-15 Metro Station


        Uttar Pradesh

      </td>
      <td valign="middle">

        1800 274 4504


        9999579111


        9999579222

      </td>
    </tr>
    <tr class="bg-grey">
      <td valign="middle">

        Dehradun

      </td>
      <td valign="middle">

        2<sup>nd</sup> Floor, Suvidha Supermarket,


        220/105, Saharanpur Road


        Patel Nagar, Dehradun

      </td>
      <td valign="middle">

        1800 274 4504


        9990511422

      </td>
    </tr>
  </tbody>
</table>
  <ul>
    <li>
      Please bring this Result cum Offer letter when you come for admission.
      Other things which you need to get are:
    </li>
  </ul>
  <ul>
    <li>
      One recent Passport sized photos
    </li>
    <li>
      Cheques/DD/Cash/Credit or Debit Card for the amount payable for the
      course (Cheque in favour of “<strong>Coding Blocks Pvt. Ltd</strong>.”)
    </li>
  </ul>
  <ul>
    <li>
      Amount payable by you for the various <strong>classroom</strong>
      programs is listed below:
    </li>
  </ul>

  <br>
  <br>
  <br>
  <br>
  <table cellspacing="0" cellpadding="0">
    <tbody>
      <tr class="bg-red p-4">
        <td valign="middle">
          
            Course
          
        </td>
        <td valign="middle">
          
            Fee
          
          
            (in INR)
          
        </td>
        <td valign="middle">
          
            Scholarship
          
          
            (in INR)
          
        </td>
        <td valign="middle">
          
            Payable
          
          
            Fee
          
        </td>
        <td valign="middle">
          
            Tax on Fee
          
          
            (18% GST)
          
        </td>
        <td valign="middle">
          
            Total Payable Fee (in INR)
          
        </td>
      </tr>
      <tr>
        <td valign="middle">
          
            LaunchPad (C++)
          
        </td>
        <td valign="middle">
          
            17,000
          
        </td>
        <td valign="middle">
          
            16,150
          
        </td>
        <td valign="middle">
          
            850
          
        </td>
        <td valign="middle">
          
            153
          
        </td>
        <td valign="middle">
          
            1,003
          
        </td>
      </tr>
      <tr class="bg-grey">
        <td valign="middle">
          
            Crux (Java)
          
        </td>
        <td valign="middle">
          
            17,000
          
        </td>
        <td valign="middle">
          
            16,150
          
        </td>
        <td valign="middle">
          
            850
          
        </td>
        <td valign="middle">
          
            153
          
        </td>
        <td valign="middle">
          
            1,003
          
        </td>
      </tr>
      <tr>
        <td valign="middle">
          
            Python with App Dev
          
        </td>
        <td valign="middle">
          
            12,000
          
        </td>
        <td valign="middle">
          
            11,400
          
        </td>
        <td valign="middle">
          
            600
          
        </td>
        <td valign="middle">
          
            108
          
        </td>
        <td valign="middle">
          
            708
          
        </td>
      </tr>
      <tr class="bg-grey">
        <td colspan="6" valign="middle">
          
            <em>
              Please note that the Scholarship offered to you is
              limited to the Foundation courses offered by Coding
              Blocks at its various centers and it is valid till
            </em>
            <em>19<sup>th</sup> May, 2019 </em>
            <em>only.</em>
          
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    <em></em>
    <br>
  </p>
  <p>
    <em></em>
    <br>
  </p>
  <ul>
    <li>
      <strong>IMPORTANT</strong>
    </li>
  </ul>
  <p>
    The Admission to the Foundation courses in various centers through CAST is
    limited by the number of seats left in a particular center for the course.
    Seats will be offered on <strong>First come First served basis</strong>.
    This means there is a high probability that the program you want to opt for
    in a particular center might be filled if you opt to enrol later. Hence you
    are advised to come to your nearest Coding Blocks center at the earliest
    for admission.
  </p>
  <ul>
    <li>
      You have to go to your nearest Coding Blocks center to avail the
      scholarship and take admission. However, you can go to any Coding
      Blocks center and take admission into a different center.
    </li>
  </ul>
  <p>
    <strong>
      <em>
        Please note that if you are availing Scholarship offered through
        CAST then you cannot club any other discount/concession in the fee.
      </em>
    </strong>
  </p>
  <p>
    <strong><em></em></strong>
    <br>
  </p>
  <p>
    <strong><em></em></strong>
    <br>
  </p>
  <p>
    For any clarification on the procedure for admission, please feel free to
    call our Toll free number 1800-274-4504 or any of the Contact numbers
    listed for the centers. You can even drop an email at
    admissions@codingblocks.com for any assistance.
  </p>
  <p>
    Wishing you lots of success and achievements in the time to come.
  </p>
  <p>
    Cheers
  </p>
  <p>
    Team Coding Blocks
  </p>
</body>

</html>