<div class="bg-black overflow-y-auto white" style="height: 20vh;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend ex et euismod lobortis. Suspendisse vestibulum
  risus at nunc pellentesque, et efficitur massa finibus. In hac habitasse platea dictumst. Aliquam quis ante iaculis,
  convallis diam sit amet, mollis felis. Quisque ut fermentum ex, ac dignissim augue. Maecenas rhoncus enim vel quam
  iaculis, a ultricies nisl consequat. Fusce sodales et justo ut pretium. Integer sapien mauris, faucibus ut consectetur
  eu, hendrerit non diam. Cras viverra sollicitudin lobortis. Suspendisse eget ligula eget libero suscipit sollicitudin
  ac vitae magna. Donec congue interdum sapien ac pellentesque. Ut purus sapien, gravida pulvinar semper in,
  sollicitudin eget dolor.

  Mauris nec ullamcorper metus. Aliquam imperdiet fermentum nisl non imperdiet. Etiam eget odio pharetra, egestas massa
  sit amet, euismod tortor. Donec sed elementum ante. Praesent condimentum lectus sit amet lectus pulvinar maximus.
  Vestibulum nec ex tincidunt, sagittis velit ut, fermentum lorem. Vestibulum ante ipsum primis in faucibus orci luctus
  et ultrices posuere cubilia curae; Nullam et mi et turpis suscipit fermentum ut id dui.

  Nulla et consequat lectus. Pellentesque justo quam, faucibus non ornare eget, aliquam in tellus. Suspendisse tristique
  tempus diam id cursus. Etiam semper eros massa, sit amet faucibus mauris fermentum nec. Donec viverra tristique
  rutrum. Proin in mi erat. Nulla non auctor dui. Donec sodales, elit eget finibus blandit, quam quam facilisis nisl,
  hendrerit accumsan orci nisi ac augue. Duis maximus tortor id pretium varius. Nam molestie massa dolor, eget lacinia
  mi lobortis sit amet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis accumsan turpis in tristique
  feugiat. Nullam vel urna vulputate lorem tempus posuere in non nibh.

  Aenean ipsum urna, tristique a lectus at, venenatis imperdiet sapien. Aliquam ac orci tincidunt, auctor felis
  bibendum, semper urna. Suspendisse eros nibh, rhoncus ut orci non, viverra pharetra ante. Donec aliquet consequat
  purus. Quisque blandit lacus non urna ornare sollicitudin. Ut ac justo non velit consequat molestie. Nullam a
  porttitor massa.

  Nunc eros arcu, tincidunt id metus ac, tempus ultricies lectus. Suspendisse potenti. Nulla sed lacus in metus dictum
  laoreet. Aenean luctus viverra urna eu pulvinar. Pellentesque lacinia bibendum tortor, sed lacinia massa volutpat at.
  Nunc ornare est eu urna porta porta vel fermentum erat. Sed pulvinar tortor vel nisi viverra aliquam. Vestibulum
  aliquam in ex convallis vulputate. Quisque posuere elit sapien, sed gravida dolor volutpat vel. Duis at finibus lorem.
  Etiam at interdum mauris. Phasellus enim ante, maximus ac sem feugiat, cursus suscipit libero. Fusce volutpat accumsan
  velit, non varius sem venenatis in. Pellentesque nec dui vulputate, porta ligula sed, maximus libero. Sed vulputate
  eros vitae vehicula tempus. Nulla ultrices sapien ac purus tempus, non vestibulum purus viverra.
</div>