{{> nav-bar}}

<div class="container">
  <div class="scrollables mt-5">
    <div class="row">
      <div class="col-4 position-sticky">
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
      </div>
      <div class="col-4">
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
      </div>
      <div class="col-4">
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
        <div class="border-card">
          Our Android Development online course facilitates and boosts your journey right from the
          fundamentals of UI to building
          a full-fledged Android app. This online course by Coding Blocks with over 100 recorded videos
          and 5 live webinars,
          covers the concepts such as UI design, firebase & push notifications, hardware sensors,
          networking, and databases.
          interactive applications.
        </div>
      </div>
    </div>
  </div>
</div>