<div class="tab-nav">
    <div class="tab-items active">Overview</div>
    <div class="tab-icons active"><img src="/images/menu-white.svg" alt=""></div>
    <div class="tab-items">Course Content</div>
    <div class="tab-icons"><img src="/images/docs-white.svg" alt=""></div>
    <div class="tab-items">Announcements</div>
    <div class="tab-icons"><img src="/images/announcement-white.svg" alt=""></div>
    <div class="tab-items">Solve Your Doubts</div>
    <div class="tab-icons"><img src="/images/support-white.svg" alt=""></div>
</div>