<div class="border-card p-0 test-cases-card">
  <div class="row no-gutters">
    <div class="col-md-2 col-4 bg-grey">
      <h5 class="p-4 test-cases-card__grey-heading">Test Cases</h5>
      <ul class="font-mds extra-bold mt-0">
        <li class="p-4 d-flex align-items-center">
          <a href="#" class="gradient-text-green">Test Case 0</a>
          <img src="\images\tick_g.png" alt="" class="d-inline test-cases-card__icon ml-4">
        </li>
        <li class="py-4 px-4 d-flex align-items-center test-cases-card__active">
          <a href="#" class="gradient-text-pink">Test Case 1</a>
          <img src="\images\wrong_r.png" alt="" class="d-inline test-cases-card__icon ml-4">
        </li>
        <li class="py-4 px-4 d-flex align-items-center">
          <a href="#" class="gradient-text-green">Test Case 2</a>
          <img src="\images\tick_g.png" alt="" class="d-inline test-cases-card__icon ml-4">
        </li>
        <li class="py-4 px-4 d-flex align-items-center">
          <a href="#" class="gradient-text-orange">Test Case 3</a>
          <img src="\images\error_o.png" alt="" class="d-inline test-cases-card__icon ml-4">
        </li>
      </ul>
    </div>
    <div class="col-md-10 col-8 b-left">
      <h5 class="py-4 px-5 test-cases-card__grey-heading">Result</h5>
      <div class="py-5 px-5">
        <h6 class="bold">Compile Message</h6>
        <div class="bg-grey p-4 mt-3 mb-5">
          <div class="font-sm">Success</div>
        </div>
        <div class="row no-gutters justify-content-between align-items-center my-4">
          <div class="col-6">
            <h6 class="bold">Input</h6>
          </div>
          <div><a href="#" class="orange">Download</a></div>
        </div>
        <div class="bg-grey p-4 mt-3 mb-5">
          <div class="font-sm">4 3 2 1 0</div>
        </div>
        <div class="row no-gutters justify-content-between align-items-center my-4">
          <div class="col-6">
            <h6 class="bold">Input</h6>
          </div>
          <div><a href="#" class="orange">Download</a></div>
        </div>
        <div class="bg-grey p-4 mt-3">
          <div class="font-sm">4 3 2 1 0</div>
        </div>
      </div>
    </div>
  </div>
</div>