<ul class="divided-list timer">
    <li class="timer-item">
        <div class="list-heading">00</div>
        <div class="list-data">Days</div>
    </li>
    <li class="timer-item">
        <div class="list-heading">12</div>
        <div class="list-data">Hours</div>
    </li>
    <li class="timer-item">
        <div class="list-heading">30</div>
        <div class="list-data">Minutes</div>
    </li>
    <li class="timer-item">
        <div>
            <i class="fas fa-clock fa-2x"></i>
        </div>
    </li>
</ul>