<div class="c-content-section">
    <div class="content-section">
        <div class="content collapse">
            <div class="header flex-row">

                <div class="dashboard row no-gutters justify-content-between">
                    <div class="flex-row white pointer dsp-none-xs" onclick="sectionToggler()">
                        <i class="fas fa-bars fa-2x"></i>
                    </div>
                    <div class="col-5 heading-d align-self-center">
                        <div class="main-h">
                            Fast Exponentiation
                        </div>
                        <div class="sub-h">
                            Mathematics
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="row justify-content-end">
                            <div class="col-md-4 notify-type align-self-center">
                                <div class="notify-text">
                                    <span class="notify-dot new"></span>
                                    Solve Doubts
                                </div>
                            </div>

                            <div class="button-solid col-12 col-md-4 align-self-center">
                                <button>&lt Go to Dashboard</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="content-container">
                <div class="video-player">
                    <div class="feed-overlay">
                    </div>
                            <div class="feed-box collapsed" style="bottom: 290px;">
                                <img src="images/love.svg" alt="" class="love-ico">
                            </div>
                            <div class="feed-box expanded" style="bottom: 220px;">
                                <div class="feed-text">Did you like the video?</div>
                                <form>
                                    <input type="radio" name="gender" value="male" checked> Yes
                                    <input type="radio" name="gender" value="female"> No
                                </form>
                                <img src="images/love.svg" alt="" class="love-ico">
                            </div>
                            <div class="feed-box">
                                <div class="feed-text">Feedback Submitted</div>
                                <img src="images/love.svg" alt="" class="love-ico">
                            </div>
                    {{!-- </div> --}}
                    <iframe src="https://www.youtube.com/embed/mFbitwLUCRs" controls allowfullscreen></iframe>
                    {{!-- <video controls src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                        poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                
                    </video> --}}
                
                
                    <div class="select-box">
                        <div class="open-select-box">
                            <ul>
                                <li>
                                    0.5x
                                </li>
                                <li>
                                    1x
                                </li>
                                <li>
                                    1.5x
                                </li>
                            </ul>
                        </div>
                        1x
                    </div>
                </div>
            </div>
           
        </div>

        <div class="section">
                <div class="tab-nav">
                    <div class="tab-items active">Table Of Content</div>
                    <div class="tab-items">Notes(08)</div>
                </div>

            <div class="section-tabs">
                <div class="c-accordian">
                    <div class="list-shaded invert">
                        <div>
                            <div class="row no-gutters pointer">
                                <div class="li-left col-8">
                                    <div class="col-1">-</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4">
                                    <div class="d-flex flex-column align-items-end">
                                        <div>2/6 Lectures Completed</div>
                                        <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bellows pb-4 pt-4">
                                <div class="row green no-gutters pointer">
                                    <div class="li-left col-10">
                                        <div class="col-1 code-icon-green-dark content-icon"></div>
                                        <div class="col-10">
                                            Chewbacca and Number, HackerBlocks Tutorial
                                        </div>
                                    </div>
                                    <div class="li-right  col-2">
                                        <div class="status-circle">
                                            <div class="circle-back"></div>
                                            <div class="circle-front"></div>
                                        </div>
                
                                    </div>
                                </div>
                
                                <div class="row green no-gutters pointer">
                                    <div class="li-left col-10">
                                        <div class="col-1 play-icon-green-dark content-icon"></div>
                                        <div class="col-10">
                                            Tavas and SaDDas, Codeforces 535-B
                                        </div>
                                    </div>
                                    <div class="li-right  col-2">
                                        <div class="status-circle">
                                            <div class="circle-back"></div>
                                            <div class="circle-front"></div>
                                        </div>
                
                                    </div>
                                </div>
                
                                <div class="row no-gutters pointer">
                                    <div class="li-left col-10">
                                        <div class="col-1 play-icon-red-dark content-icon"></div>
                                        <div class="col-10">
                                            Fast Exponentiation
                
                                        </div>
                                    </div>
                                    <div class="li-right  col-2">
                                        <div class="status-circle">
                                            <div class="circle-back"></div>
                                            <div class="circle-front"></div>
                                        </div>
                
                                    </div>
                                </div>
                
                                <div class="row no-gutters pointer">
                                    <div class="li-left col-10">
                                        <div class="col-1 play-icon-red-dark content-icon"></div>
                                        <div class="col-10">
                                            Unique Number-III, Hackerblocks, Bitmasking
                                        </div>
                                    </div>
                                    <div class="li-right  col-2">
                                        <div class="status-circle">
                                            <div class="circle-back"></div>
                                            <div class="circle-front"></div>
                                        </div>
                
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div>
                            <div class="row no-gutters pointer">
                                <div class="li-left col-8">
                                    <div class="col-1">+</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4">
                                    <div class="d-flex flex-column align-items-end">
                                        <div>2/6 Lectures Completed</div>
                                        <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div>
                            <div class="row no-gutters pointer">
                                <div class="li-left col-8">
                                    <div class="col-1">+</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4">
                                    <div class="d-flex flex-column align-items-end">
                                        <div>2/6 Lectures Completed</div>
                                        <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div>
                            <div class="row no-gutters pointer">
                                <div class="li-left col-8">
                                    <div class="col-1">+</div>
                                    <div class="col-10">
                                        Mathematics 1.0
                                    </div>
                                </div>
                                <div class="li-right col-4">
                                    <div class="d-flex flex-column align-items-end">
                                        <div>2/6 Lectures Completed</div>
                                        <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

<script>
    function sectionToggler() {
        var section = document.getElementsByClassName('section')[0];
        var contentMedia = document.getElementsByClassName('content')[0];
        section.classList.toggle('collapse');
        contentMedia.classList.toggle('collapse');

    }
</script>