<div class="container">
  <div class="tree">
    <div class="level row">
      <div class="branch-lines col-8"></div>
      <div class="row justify-content-between">
        <div class="col-4 mb-4">
          {{>online-card}}
        </div>
        <div class="col-4 mb-4">
          {{>online-card}}
        </div>
        <div class="col-4 mb-4">
          {{>online-card}}
        </div>
        <div class="col-4 mb-4">
          {{>online-card}}
        </div>
        <div class="col-4 mb-4">
          {{>online-card}}
        </div>
      </div>
    </div>
  </div>
</div>