.universe {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  &__star,
  &__orbit {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
  }

  &__orbit {
    &__planet {
      border-radius: 50%;
      background: $gradient-orange-light;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &--1 {
      height: 215px;
      width: 215px;
      border: 1px solid $orange;

      .universe__orbit__planet {
        height: 60px;
        width: 60px;
        margin: -30px;
      }
    }

    &--2 {
      height: 330px;
      width: 330px;
      border: 1px solid rgba($color: $orange, $alpha: 0.6);

      .universe__orbit__planet {
        height: 50px;
        width: 50px;
        margin: -25px;
      }
    }

    &--3 {
      height: 445px;
      width: 445px;
      border: 1px solid rgba($color: $orange, $alpha: 0.2);

      .universe__orbit__planet {
        height: 40px;
        width: 40px;
        margin: -20px;
      }
    }
  }

  &__star {
    height: 100px;
    width: 100px;
    background: $grey-light-3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.15);
  }
}
