.c-signup {
  @include dimensions(90%, auto);
  @include padding-mixin(60px, 65px, 55px, 60px);
  max-width: 811px;
  margin: 40px auto;

  .input-text {
    margin-bottom: 25px;
    height: 70px;
  }
}

@media screen and (max-width: 767px){
  .c-signup{
    .first-name, .last-name{
      padding: 0;
    }
  }
}

@media screen and (max-width: 575px){
  .c-signup{
    @include padding-s(35px, 25px);

    .heading-u-red{
      margin-bottom: 30px;
    }

    .input-text{
      height: 50px;
      margin-bottom: 15px;
    }

    .button-solid{
      @include dimensions(30%, 45px);
      font-size: $card-md;
    }

    .signup{
      font-size: $font-xs;
    }

    .footer{
      margin-top: 15px;
    }
  }
}
