.c-signup {
  @include dimensions(90%, auto);
  @include padding-mixin(60px, 65px, 55px, 60px);
  max-width: 811px;
  margin: 40px auto;

  .input-text {
    margin-bottom: 25px;
    height: 70px;
  }
}
