{{> nav-bar}}

<div class="row mt-5">
  <div class="col-12 col-lg-4 mb-4">
    <div class="font-md mb-4">
      1. Verify Order Details
    </div>
    <div class="border-card mt-5">
      <div class="img-desc pb-3">
        <div class="col-3 col-sm-2 col-lg-3 pl-0">
          <img class="round" src="/https://minio.codingblocks.com/amoeba/1008db10-135f-4b2b-a65a-5eee36be2171.svg" alt="">
        </div>
        <div class="description">
          <div>
            <div class="font-md extra-bold">
              Competitive Programming
            </div>
            <div class="font-sm grey">
              March 2019
            </div>
          </div>
          <div>
            <span class="extra-bold font-xl">Rs 5000</span>
            <strike class="grey pl-2 pr-2">Rs 8000</strike>
            <span class="bold font-sm">+ 18% Tax</span> 
          </div>
        </div>
      </div>

      <div class="divider-h mt-4 mb-4"></div>

      <div class="row justify-content-between font-md">
        <div>Quantity</div>
        <div class="bold">01</div>
      </div>
      <div class="row justify-content-between font-md">
        <div>Tax</div>
        <div class="bold">Rs 800</div>
      </div>
      <div class="row justify-content-between font-md">
        <div>Final Amount</div>
        <div class="bold">Rs 25000</div>
      </div>

      <div class="divider-h mt-4 mb-4"></div>
      <div class="t-align-c">
        <button class="red">X Remove Product</button>
      </div>
      
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-4">
    <div class="font-md mb-4">
      2. Verify Personal Details
    </div>
    <div class="border-card mt-5 mb-4 font-mds">
      <div class="red">
        Select Shipping Address
      </div>

      <div class="mt-5 mb-5">
        OR
      </div>

      <div class="d-flex no-gutters align-items-center mb-4">
        <div class="col-6">
          Select Country *
        </div>
        <div class="col-6">
          <select class="input-text" name="country" id="">
            <option value="india">India</option>
            <option value="usa">USA</option>
          </select>
        </div>
      </div>

      <div class="d-flex no-gutters align-items-center mb-4">
        <div class="col-6">
          Select State *
        </div>
        <div class="col-6">
          <select class="input-text" name="country" id="">
            <option value="delhi">Delhi</option>
            <option value="odissa">Odissa</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 mb-4">
    <div class="font-md mb-4">
      3. Review & Pay
    </div>
    <div class="border-card mt-5 mb-4 font-mds">
      <div class="flex-row">
        <div class="img-desc col-11">
          <div class="img-container pl-0 col-2">
            <img src="https://minio.codingblocks.com/motley/wallet.svg" alt="">
          </div>
          <div class="description">
            <div class="font-md bold">
              Use Wallet Balance
            </div>
            <div class="extra-bold font-md red">
              Rs 500
            </div>
          </div>
        </div>
        <input type="checkbox" class="input-checkbox">
      </div>
      
      <div class="divider-h mt-4 mb-4"></div>
    
      <div class="d-flex justify-content-between mb-4 pb-3">
        <div>Total Items</div>
        <div class="bold font-md">01</div>
      </div>
      <div class="d-flex justify-content-between red mb-4 pb-3">
        <div>Discount</div>
        <div class="bold font-md">Rs 500</div>
      </div>
      <div class="d-flex justify-content-between mb-4 pb-3">
        <div>Net Amount to be Paid</div>
        <div class="bold font-md">Rs 25000</div>
      </div>
    
      <div class="divider-h mt-4 mb-4"></div>
      <div class="row justify-content-between">
        <div>
          Coupon Code
          <br>
          <span class="font-xs bold">Applied Successfully</span>
        </div>
        <div class="col-4 t-align-r p-0">
          <input type="text" class="input-text bold">
          <button class="red font-xs">Apply/Remove</button>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <button class="button-solid lg">Proceed to Pay</button>
      </div>
    
    </div>
  </div>
</div>