<div class="row">
  <div class="col-md-8 col-12">
    <div class="border-card py-5 px-0">
      <div class="font-mdxl pb-4 px-sm-5 px-4">Transaction History</div>
      <div
        class="row py-5 no-gutters justify-content-md-between justify-content-end align-items-center hover-grey px-sm-5 px-4">
        <div class="col-md-9 col-12 mb-md-0 mb-4">
          <div class="v-align-ma">
            <div class="font-xl bold d-inline-block pr-4">Credits added</div>
            <div class="bg-green p-2 white d-inline-block br-5 bold">ACTIVE</div>
          </div>
          <div class="pt-4">
            <div class="font-mds dark-grey">Cashback from Spin n Win</div>
            <div class="mt-2 font-sm med-grey">27 Sep 2020, 5:50PM</div>
          </div>
        </div>
        <div class="t-align-r">
          <div class="bold green mb-1" style="font-size: 36px;">+124</div>
          <div class="font-mds bold">CREDITS</div>
        </div>
      </div>
      <div class="divider-h content-divider px-sm-5 px-4"></div>
      <div
        class="row py-5 no-gutters justify-content-md-between justify-content-end align-items-center hover-grey px-sm-5 px-4"
        style="opacity: 0.4;">
        <div class="col-md-9 col-12 mb-md-0 mb-4">
          <div class="v-align-ma">
            <div class="font-xl bold d-inline-block pr-4">Credits added</div>
            <div class="bg-salmon p-2 white d-inline-block br-5 bold">EXPIRED</div>
          </div>
          <div class="pt-4">
            <div class="font-mds dark-grey">Cashback from Spin n Win</div>
            <div class="mt-2 font-sm med-grey">27 Sep 2020, 5:50PM</div>
          </div>
        </div>
        <div class="t-align-r">
          <div class="bold green mb-1" style="font-size: 36px;">+124</div>
          <div class="font-mds bold">CREDITS</div>
        </div>
      </div>
      <div class="divider-h content-divider px-sm-5 px-4"></div>
      <div
        class="row py-5 no-gutters justify-content-md-between justify-content-end align-items-center hover-grey px-sm-5 px-4">
        <div class="col-md-9 col-12 mb-md-0 mb-4">
          <div class="v-align-ma">
            <div class="font-xl bold d-inline-block pr-4">Credits debited</div>
            <div class="b-red border p-2 d-inline-block br-5 bold salmon">COMPLETELY USED</div>
          </div>
          <div class="pt-4">
            <div class="font-mds dark-grey">
              For order ID
              <span class="underline">#874590HIWR</span>
            </div>
            <div class="mt-2 font-sm med-grey">27 Sep 2020, 5:50PM</div>
          </div>
        </div>
        <div class="t-align-r">
          <div class="bold salmon mb-1" style="font-size: 36px;">-1024</div>
          <div class="font-mds bold">CREDITS</div>
        </div>
      </div>
      <div class="divider-h content-divider px-sm-5 px-4"></div>
    </div>
  </div>
  <div class="col-md-4 col-12 mt-md-0 mt-5">
    <div class="border-card p-sm-5 p-4">
      <div class="t-align-r mb-4">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/wallet-black.svg">
      </div>
      <div class="bold" style="font-size: 36px;">&#8377; 3488</div>
      <div class="font-mdxl">Your wallet balance</div>
    </div>
  </div>
</div>