.my-course-card {
  .button-solid {
    max-width: 166px;
    width: 166px;
    font-size: $font-sm;

    .fas {
      margin-right: 10px;
    }
  }

  .course-progress {
    @include padding-mixin (30px, 30px, 0, 30px);

    .row {
      padding: 0;
      margin-top: 10px;
    }

    label {
      font-size: $font-sm;
    }

    progress {
      width: 86%;
    }

    @include progress(7px, $color-button-primary);
  }
}
