.expand-search {
  padding-right: 0;
  width: 100%;
  background-color: unset;

  .search-box {
    @include border-radius(10px);
    background-color: $expand-search-result-bg !important;
    color: $white !important;
    top: 60px;
    z-index: 110;
  }

  hr {
    opacity: 0.3;
    width: 90%;
  }

  & > input {
    @include border-radius(28px);
    @include dimensions(55px, 100%);
    color: transparent;
    background: $expand-search-bg url("/images/searchicon-w.png") no-repeat;
    background-size: 23px;
    background-position: center;
    padding: 12px 10px 12px 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    left: unset;
    &:focus {
      width: 100%;
      padding-left: 45px;
      background: $expand-search-bg url("/images/searchicon-w.png") no-repeat;
      background-size: 23px;
      background-position: center;
      border: solid 1px;
      color: $white;
      background-position-x: 15px;
      border-color: $fail-red;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
}

@media (max-width: 767px) {
  .expand-search {
    input {
      width: 100%;
      padding-left: 45px;
      background: $expand-search-bg url("/images/searchicon-w.png") no-repeat;
      background-size: 23px;
      background-position: center;
      background-position-x: 15px;
      color: $white;
      &:-moz-placeholder {
        color: $expand-search-placeholder-color;
      }
      &::-webkit-input-placeholder {
        color: $expand-search-placeholder-color;
      }
    }
  }
  .search-cont {
    order: 3;
    padding-right: 10px !important;
  }
}
