$black: #08090C;
$dark-grey: #191D24;
$med-grey: #2A2F3C;
$grey: #3B4254;
$light-grey: #CCCCCC;
$lighter-grey: #E0E0E0;
$lightest-grey: #F5F5F5;

$dark-green: #26A87C;
$med-green: #55C25C;
$green: #6CCE4B;
$light-green: #83DB3B;

$dark-blue: #1C40DE;
$med-blue: #2167E3;
$blue: #258EE8;
$light-blue: #2AB5ED;