// PALETTE SOLIDS

// Neutral colors
$black: #08090C;
$grey-dark-2: #191D24;
$grey-dark-1: #2A2F3C;
$grey: #3B4254;
$grey-light-1: #CCCCCC;
$grey-light-2: #E0E0E0;
$grey-light-3: #F5F5F5;

// Greens
$green-dark-2: #26A87C;
$green-dark-1: #55C25C;
$green: #6CCE4B;
$green-light-1: #83DB3B;

// Blues
$blue-dark-2: #1C40DE;
$blue-dark-1: #2167E3;
$blue: #258EE8;
$blue-light-1: #2AB5ED;

// Reds
$red: #E74E4B;
$orange-dark-1: #F26A3E;
$orange: #FB8133;
$yellow: #FFBA08;

// Purples
$purple-dark-2: #3A30D6;
$purple-dark-1: #4F33DA;
$purple: #6536DE;
$purple-light-1: #8F3CE5;

// Pinks
$pink-dark-2: #A6076C;
$pink-dark-1: #BF1F68;
$pink: #D93764;
$pink-light-1: #F24F60;


// PALETTE GRADIENTS

$gradient-orange-dark: linear-gradient(90deg, #E74E4B, #F26A3E);
$gradient-orange: linear-gradient(90deg, #F26A3E, #FB8133);
$gradient-orange-light: linear-gradient(90deg, #FB8133, #FFBA08);

$gradient-green-dark: linear-gradient(90deg, #26A87C, #55C25C);
$gradient-green: linear-gradient(90deg, #55C25C, #6CCE4B);
$gradient-green-light: linear-gradient(90deg, #6CCE4B, #83DB3B);

$gradient-blue-dark: linear-gradient(90deg, #1C40DE, #2167E3);
$gradient-blue: linear-gradient(90deg, #2167E3, #258EE8);
$gradient-blue-light: linear-gradient(90deg, #258EE8, #2AB5ED);



// BUTTON GRADIENTS

$button-gradient-orange: linear-gradient(90deg, #FB8133, #FFBA08, #FB8133)
