{{> nav-bar }}

<div class="card accordion-card">
    <div class="c-accordion c-content-accordion">
        <div class="list-divided border-none">
            <div class="list-divided">
                <div class="row no-gutters pointer">
                    <div class="li-left col-8">
                        <div class="col-1">-</div>
                        <div class="col-10">
                            Mathematics 1.0
                        </div>
                    </div>
                    <div class="li-right col-4">
                        <div class="d-flex flex-column align-items-end">
                            <div>2/6 Lectures Completed</div>
                            <div class="red font-xs mt-2">Deadline: 24-Aug-18</div>
                        </div>
                    </div>
                </div>
                <div class="pb-4 pt-4">
                    <div class="row green no-gutters pointer">
                        <div class="li-left col-10 col-sm-8">
                            <div class="col-1 code-icon-green content-icon"></div>
                            <div class="col-10">
                                Chewbacca and Number, HackerBlocks Tutorial
                            </div>
                        </div>
                        <div class="li-right col-2 col-sm-4">
                            <div class="dsp-none-xs">03:34</div>
                            <div class="status-circle">
                                <div class="circle-back"></div>
                                <div class="circle-front"></div>
                            </div>
        
                        </div>
                    </div>
        
                    <div class="row no-gutters pointer">
                        <div class="li-left col-10 col-sm-8">
                            <div class="col-1 play-icon-red content-icon"></div>
                            <div class="red col-10">
                                Tavas and SaDDas, Codeforces 535-B
                            </div>
                        </div>
                        <div class="li-right col-2 col-sm-4">
                            <div class="grey dsp-none-xs">03:34</div>
                            <div class="status-circle">
                                <div class="circle-back"></div>
                                <div class="circle-front"></div>
                            </div>
        
                        </div>
                    </div>
        
                    <div class="row no-gutters pointer">
                            <div class="li-left col-10 col-sm-8">
                            <div class="col-1 play-icon-red content-icon"></div>
                            <div class="red col-10">
                                Fast Exponentiation
                            </div>
                    </div>
                        <div class="li-right col-2 col-sm-4">
                            <div class="grey dsp-none-xs">03:34</div>
                            <div class="status-circle">
                                <div class="circle-back"></div>
                                <div class="circle-front"></div>
                            </div>
        
                        </div>
                    </div>
        
                    <div class="row no-gutters pointer">
                        <div class="li-left col-10 col-sm-8">
                            <div class="col-1 play-icon-red content-icon"></div>
                            <div class="red col-10">
                                Unique Number-III, Hackerblocks, Bitmasking
                            </div>
                        </div>
                        <div class="li-right col-2 col-sm-4">
                            <div class="grey dsp-none-xs">03:34</div>
                            <div class="status-circle">
                                <div class="circle-back"></div>
                                <div class="circle-front"></div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
            
        
            <div class="list-divided">
                <div class="row no-gutters pointer">
                    <div class="li-left col-8">
                        <div class="col-1">+</div>
                        <div class="col-10">
                            Mathematics 1.0
                        </div>
                    </div>
                    <div class="li-right col-4">
                        <div class="d-flex flex-column align-items-end">
                            <div>2/6 Lectures Completed</div>
                            <div class="red font-xs mt-2">Deadline: 24-Aug-18</div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="list-divided">
                <div class="row no-gutters pointer">
                    <div class="li-left col-8">
                        <div class="col-1">+</div>
                        <div class="col-10">
                            Mathematics 1.0
                        </div>
                    </div>
                    <div class="li-right col-4">
                        <div class="d-flex flex-column align-items-end">
                            <div>2/6 Lectures Completed</div>
                            <div class="red font-xs mt-2">Deadline: 24-Aug-18</div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="list-divided border-none">
                <div class="row no-gutters pointer">
                    <div class="li-left col-8">
                        <div class="col-1">+</div>
                        <div class="col-10">
                            Mathematics 1.0
                        </div>
                    </div>
                    <div class="li-right col-4">
                        <div class="d-flex flex-column align-items-end">
                            <div>2/6 Lectures Completed</div>
                            <div class="red font-xs mt-2">Deadline: 24-Aug-18</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

