<div style="background: linear-gradient(90deg, #00205B 0%, #84358E 100%)">
  <div class="container p-4">
    <div class="row">
      <div class="col-12 col-md-4 t-align-c t-align-md-l my-auto">
        <div class="font-md " style="color:white">Land your dream job</div>
        <div class="font-sm" style="color: white;">Our alumi work at</div>
      </div>
      <div class="col-12 col-md-8">
        <div style="color: white;">
          <img src="http://via.placeholder.com/900x60?text=CompanyStrip" alt="">
        </div>
      </div>
    </div>
  </div>
</div>