<style>
  body {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal-fake {
    margin: 0 auto;
    width: 33%;
    background: white;
  }
</style>
<div class="modal-fake">
  <div class="c-csv-submissions">
    <h4 class="mb-5 semi-bold">SUBMISSIONS</h4>
    <div class="submissions">
      <div class="submission">
        <div class="large-font green bold">54%</div>
        <div class="font-mds d-flex">
          <span class="li-left">Your Answer’s Accuracy</span>
          <span class="li-right red card-md">4 days ago</span>
        </div>
      </div>
      <div class="divider-h w-60 my-4"></div>

      <div class="submission">
        <div class="large-font green bold">54%</div>
        <div class="font-mds d-flex">
          <span class="li-left">Your Answer’s Accuracy</span>
          <span class="li-right red card-md">4 days ago</span>
        </div>
      </div>
      <div class="divider-h w-60 my-4"></div>

      <div class="submission">
        <div class="large-font green bold">48%</div>
        <div class="font-mds d-flex">
          <span class="li-left">Your Answer’s Accuracy</span>
          <span class="li-right red card-md">4 days ago</span>
        </div>
      </div>
      <div class="divider-h w-60 my-4"></div>

      <div class="submission">
        <div class="large-font green bold">51%</div>
        <div class="font-mds d-flex">
          <span class="li-left">Your Answer’s Accuracy</span>
          <span class="li-right red card-md">4 days ago</span>
        </div>
      </div>
      <div class="divider-h w-60 my-4"></div>
    </div>
  </div>
</div>

<div class="m-5"></div>

<div class="modal-fake">
  <div class="c-csv-submission">
    <h2 class="mb-3 semi-bold">PROBLEM TITLE</h2>
    <div class="divider-h mb-4 w-80"></div>
    <h2 class="green">54%</h2>
    <div class="mb-4 font-mds">Your Answer’s Accuracy</div>
    <div> 
      <button class="button-solid">View Old Submissions</button>
    </div>
  </div>
</div>

<script src="http://localhost:35729/livereload.js"></script>
