<div class="a-ocb">
  <div class="border-card p-sm-5 p-4">
    <div class="row no-gutters align-items-center">
      <div class="col-sm-8 col-7">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">C++ Master Course</h5>
            <div class="font-normal mt-2">Mentor: Prateek Narang</div>
          </div>
        </div>
      </div>
      <div class="t-align-r col-sm-4 col-5">
        <div class="font-normal">Leave a rating</div>
        <div class="mt-2">
          <span class="pos-rating orange">
            <i class="fas fa-star pr-sm-2 pr-1"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-sm-2 pr-1"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-sm-2 pr-1"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-sm-2 pr-1"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="divider-h mt-4 mb-5"></div>
    <div class="bold">Course Progress</div>

    <div class="mt-4 pt-2">
      <div class="row no-gutters align-items-center justify-content-between position-relative">
        <progress value="70" max="100" class="d-inline-block w-90 progress-orange"></progress>

        <div class="progress-lock progress-lock--50">
          <div class="bg-grey br-25 card-sm font-normal p-2 progress-lock__bubble">Complete 50% to claim goodies</div>
          <i class="fas fa-lock-open fa-2x gradient-text-green mt-2"></i>
        </div>

        <div class="progress-lock progress-lock--90">
          <div class="bg-grey br-25 card-sm font-normal p-2 progress-lock__bubble">Complete 90% to get certified</div>
          <i class="fas fa-lock fa-2x gradient-text-pink mt-2"></i>
        </div>
        <viv class="bold">30%
      </div>
    </div>

    <a href="#" class="card-md font-normal salmon mt-3 d-block">
      <i class="fas fa-exclamation-triangle mr-2"></i>
      Reset Progress
    </a>

    <div class="divider-h my-5"></div>

    <div class="row no-gutters justify-content-between align-items-center">
      <div class="col-sm-6 col-12 mb-sm-0 mb-3">
        <div class="font-normal salmon">Your free trial expires in 2 days</div>
      </div>
      <div>
        <button class="button-dashed button-orange mr-4">Resume</button>
        <button class="button-solid button-orange">Buy Now</button>
      </div>
    </div>
  </div>
</div>