<div class="row no-gutters">
  <div class="col-lg-4 col-md-5 col-8">
    <div class="br-10 overflow-hidden">
      <div class="row no-gutters justify-content-between align-items-center bg-gradient-pink py-4 px-lg-5 px-4">
        <div class="flex-1 pr-4 white" style="max-width: calc(100% - 75px);">
          <div class="card-xs chars-spaced">BEGINNERS COURSE</div>
          <h5 class="bold mt-1 text-ellipses">Android App Dev.</h5>
          <div class="row no-gutters align-items-center mt-2">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/neg-rating-small.svg" class="mr-1">
            <div class="flex-1 card-md ml-1 d-sm-flex d-none">
              <strong>4.8/5.0,</strong>
              &nbsp;435&nbsp;ratings
            </div>
            <div class="col-12 card-md mt-2 d-sm-none">
              <strong>4.8/5.0,</strong>
              &nbsp;435&nbsp;ratings
            </div>
          </div>
          <div class="divider-h my-4 bg-med-grey"></div>
          <div class="card-sm bold">Starting from</div>
          <div class="v-align-ma">
            <span class="mr-sm-4 mr-2 font-lg bold">&#8377;&nbsp;3499</span>
            <span class="font-sm bold med-grey"><del>&#8377;&nbsp;12999</del></span>
          </div>
        </div>
        <div class="s-70x70 round border p-2 all-center border-2 border-white bg-inherit">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/android.svg">
        </div>
      </div>
      <div class="row no-gutters align-items-center justify-content-between py-3 px-lg-5 px-4">
        <div class="flex-1 pr-3 orange card-sm">
          Apply this coupon and get 25% discount
        </div>
        <div class="py-2 px-3 border b-orange dashed-border card-sm bold pointer">
          EQUIZIOJ5U90I
        </div>
      </div>
    </div>
  </div>
</div>