<div class="border-card p-5">
  <h5 class="bold">Course Content</h5>
  <div class="divider-h my-4"></div>

  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <div class="d-flex align-items-center">
          <h6 class="bold d-inline-block mr-5">Networks, Protocols and Hardware</h6>
          <div class="pill bg-gradient-orange white card-md font-normal">Free</div>
        </div>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-up fa-lg"></i>
      </div>
    </div>
  </a>
  <div class="divider-h my-4"></div>
  <div class="d-flex justify-content-between align-items-center">
    <a href="#" class="orange">
      <i class="fas fa-play-circle fa-lg mr-3"></i>
      <span class="font-normal">IP 2.1 Networking and Internet</span>
    </a>
    <div>
      <a href="#" class="card-md font-normal orange d-inline-block mr-3">Preview</a>
      <span class="card-md font-normal orange">10 min</span>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <a href="#">
      <i class="fas fa-play-circle fa-lg mr-3"></i>
      <span class="font-normal">IP 2.2 History of Internet</span>
    </a>
    <div>
      <a href="#" class="card-md font-normal d-inline-block mr-3">
        <i class="fas fa-lock fa-md"></i>
      </a>
      <span class="card-md font-normal">10 min</span>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <a href="#">
      <i class="fas fa-play-circle fa-lg mr-3"></i>
      <span class="font-normal">IP 2.2 History of Internet</span>
    </a>
    <div>
      <a href="#" class="card-md font-normal d-inline-block mr-3">
        <i class="fas fa-lock fa-md"></i>
      </a>
      <span class="card-md font-normal">10 min</span>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <a href="#">
      <i class="fas fa-play-circle fa-lg mr-3"></i>
      <span class="font-normal">IP 2.2 History of Internet</span>
    </a>
    <div>
      <a href="#" class="card-md font-normal d-inline-block mr-3">
        <i class="fas fa-lock fa-md"></i>
      </a>
      <span class="card-md font-normal">10 min</span>
    </div>
  </div>

  <div class="divider-h my-4"></div>
  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <h6 class="bold">Networks, Protocols and Hardware</h6>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
    </div>
  </a>
  <div class="divider-h my-4"></div>
  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <h6 class="bold">Networks, Protocols and Hardware</h6>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
    </div>
  </a>
  <div class="divider-h my-4"></div>
  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <h6 class="bold">Networks, Protocols and Hardware</h6>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
    </div>
  </a>
</div>