<div class="border-card p-5 spaced-list-3">
  <h5 class="bold">Course Content</h5>
  <div class="divider-h my-4"></div>

  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <div class="d-flex align-items-center">
          <h6 class="bold d-inline-block mr-5">Networks, Protocols and Hardware</h6>
          <div class="pill bg-gradient-orange white card-md font-normal">Free</div>
        </div>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-up fa-lg"></i>
      </div>
    </div>
  </a>
  <div class="divider-h my-4"></div>
  <div class="row no-gutters justify-content-between my-3"> 
    <a href="#" class="orange col-6 col-md-7 d-flex align-items-center">
      <i class="fas fa-play-circle s-20x20 font-md mr-3"></i>
      <div class="font-normal">IP 2.1 Networking and Internet</div>
    </a>
    <div class="offset-1 col-2 col-md-1 t-align-c">
      <a href="#" class="card-md font-normal orange d-inline-block">Preview</a>
    </div>
    <div class="col-2 col-md-1 card-md font-normal orange t-align-r">10 min</div>
  </div>

  <div class="row no-gutters justify-content-between my-3"> 
    <a href="#" class="orange col-6 col-md-7 d-flex align-items-center">
      <i class="fas fa-play-circle s-20x20 font-md mr-3"></i>
      <div class="font-normal">IP 2.1 Networking and Internet</div>
    </a>
    <div class="col-2 col-md-1 t-align-c">
      <a href="#" class="card-md font-normal d-inline-block">
        <i class="fas fa-lock fa-md"></i>
      </a>
    </div>
    <div class="col-2 col-md-1 card-md font-normal orange t-align-r">10 min</div>
  </div>
  
  <div class="row no-gutters justify-content-between my-3"> 
    <a href="#" class="orange col-6 col-md-7 d-flex align-items-center">
      <i class="fas fa-play-circle s-20x20 font-md mr-3"></i>
      <div class="font-normal">IP 2.1 Networking and Internet</div>
    </a>
    <div class="col-2 col-md-1 t-align-c">
      <a href="#" class="card-md font-normal d-inline-block">
        <i class="fas fa-lock fa-md"></i>
      </a>
    </div>
    <div class="col-2 col-md-1 card-md font-normal orange t-align-r">10 min</div>
  </div>
  <div class="row no-gutters justify-content-between my-3"> 
    <a href="#" class="orange col-6 col-md-7 d-flex align-items-center">
      <i class="fas fa-play-circle s-20x20 font-md mr-3"></i>
      <div class="font-normal">IP 2.1 Networking and Internet</div>
    </a>
    <div class="col-2 col-md-1 t-align-c">
      <a href="#" class="card-md font-normal d-inline-block">
        <i class="fas fa-lock fa-md"></i>
      </a>
    </div>
    <div class="col-2 col-md-1 card-md font-normal orange t-align-r">10 min</div>
  </div>

  <div class="divider-h my-4"></div>
  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <h6 class="bold">Networks, Protocols and Hardware</h6>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
    </div>
  </a>
  <div class="divider-h my-4"></div>
  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <h6 class="bold">Networks, Protocols and Hardware</h6>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
    </div>
  </a>
  <div class="divider-h my-4"></div>
  <a href="#" class="black">
    <div class="row mx-0 align-items-center justify-content-between">
      <div>
        <h6 class="bold">Networks, Protocols and Hardware</h6>
        <div class="card-md font-normal mt-1">15 Items | Duration : 60 minutes</div>
      </div>
      <div>
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
    </div>
  </a>
</div>