<div class="row">
  <div class="col-8">
    <div class="position-relative">
      <div class="border-card white">
        <img src="https://minio.codingblocks.com/amoeba/eb421dea-03f2-4253-b780-cb1f86d665c2.svg" alt=""
          class="back-img" />
        <div class="row justify-content-between align-items-center position-relative no-gutters">
          <div class="col-lg-10 col-sm-9 col-8">
            <div>
              <span class="bold font-xl">Develop Web Backends with NodeJS</span>
              <span class="ml-4">
                <a href="#" class="white">
                  <i class="far fa-lg fa-heart"></i>
                </a>
                <a href="#" class="white">
                  <i class="fas fa-lg fa-share-alt ml-2"></i>
                </a>
              </span>
            </div>
            <div class="font-normal mt-2 font-sm">
              Learn building servers with NodeJS including MySQL, MongoDB, OAuth and WebSockets
            </div>
          </div>
          <div>
            <img src="https://minio.codingblocks.com/amoeba/b617f889-a5e7-493c-b49b-1a02d08e43b0.svg"
              alt="Develop Web Backends with NodeJS" class="s-70x70 round course-info-card-logo">
          </div>
        </div>
        <div class="my-4 d-flex align-items-center position-relative">
          <span class="pos-rating orange mr-2">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg">
          </span>
          <span class="pos-rating orange mr-2">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg">
          </span>
          <span class="pos-rating orange mr-2">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg">
          </span>
          <span class="pos-rating orange mr-2">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg">
          </span>
          <span class="pos-rating orange mr-2">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg">
          </span>
          <span class="ml-3">
            <b>4.47/5.0,</b> 211 ratings
          </span>
        </div>
        <div class="row course-info-row">
          <div class="col-md-6 mb-3 mb-md-0">
            <div class="card-mentor-image w-20">
              <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff"
                alt="photo ofArnav Gupta" class="card-mentors">
            </div>
            <div class="info-item" style="padding-left: 5rem;">
              <div>Instructors</div>
              <div>Arnav Gupta</div>
            </div>
          </div>
          <div class="col-6 col-md-3">
            <div class="info-item">
              <div>Course Language</div>
              <div> English </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>