<div class="row">
  <div class="col-8">
    <div class="border-card p-5 bg-gradient-dpink white buy-course-card">
      <div class="row no-gutters justify-content-between align-items-center">
        <div>
          <div>
            <span class="bold font-lg">Web Development(NodeJS)</span>
            <span class="ml-4">
              <a href="#" class="white">
                <i class="far fa-lg fa-heart"></i>
              </a>
              <a href="#" class="white">
                <i class="fas fa-lg fa-share-alt ml-2"></i>
              </a>
            </span>
          </div>
          <div class="font-normal mt-3">
            Learn full-stack web development using JavaScript &amp; NodeJS
          </div>
        </div>
        <div class="course-logo">
          <img src="https://cdn.freebiesupply.com/logos/large/2x/cyclejs-logo-black-and-white.png" alt="Logo">
        </div>
      </div>
      <div class="rating my-5">
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg pl-2"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg pl-2"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg pl-2"></i>
        </span>
        <span class="neg-rating">
          <i class="fas fa-star fa-lg pl-2"></i>
        </span>
        <span class="card-md font-normal ml-3">
          4/5, 435 ratings
        </span>
      </div>
    </div>
  </div>
</div>