<div class="row mx-0 a-ocb">
  <div class="col-8">
    <div class="border-card p-5">
      <div class="row no-gutters align-items-center">
        <div class="col-md-6 col-12">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img src="images/c++" alt="C++">
            </div>
            <div class="col-9">
              <h5 class="bold">C++ Master Course</h5>
              <div class="font-normal mt-2">Mentor: Prateek Narang</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="font-normal">Course Progress</div>
          <div class="mt-4">
            <progress value="30" max="100" class="d-inline-block w-80 progress-orange"></progress>
            <span class="bold ml-3">30%</span>
          </div>
        </div>
      </div>
      <div class="divider-h my-5"></div>
      <div class="row mx-0 align-items-center">
        <div class="col-md-6 col-12">
          <div class="row mx-0 align-items-center">
            <div class="col-3">
              <i class="fas fa-trophy fa-4x orange"></i>
            </div>
            <div class="col-9">
              <h6 class="bold">Average</h6>
              <div class="font-normal grey mt-2">Your Performance</div>
            </div>
          </div>
          <div class="row mx-0 align-items-center mt-5">
            <div class="col-3">
              <i class="fas fa-signal fa-4x orange"></i>
            </div>
            <div class="col-9">
              <h6 class="bold">235/450</h6>
              <div class="font-normal grey mt-2">Leaderboard Ranking</div>
            </div>
          </div>
          <div class="row mx-0 align-items-center mt-5">
            <div class="col-3">
              <i class="fas fa-users fa-4x orange"></i>
            </div>
            <div class="col-9">
              <h6 class="bold">67</h6>
              <div class="font-normal grey mt-2">Percentile</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="bold mb-2">Course Progress vs Percentile</div>
          {{!-- <div class="">Place Graph here</div> --}}
        </div>
      </div>
      <div class="divider-h my-5"></div>
      <div class="row no-gutters justify-content-between align-items-center">
        <div>
          <span class="mr-3 font-normal">Leave a Rating</span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2 fa-lg"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2 fa-lg"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2 fa-lg"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2 fa-lg"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star pr-2 fa-lg"></i>
          </span>
        </div>
        <button class="button-solid button-orange">Resume Now</button>
      </div>
    </div>
  </div>
</div>