<div class="row a-ocb">
  {{!-- Carousel Card --}}
  <div class="col-4">
    <div class="border-card p-5 bg-gradient-purple white">
      <div class="mb-4">
        <i class="fas fa-fire fa-lg orange mr-2"></i>
        <span class="bold gradient-text-yellow">Trending</span>
      </div>
      <div class="mb-4">
        {{!-- <img src="" alt=""> --}}
        {{!-- Place image in this div --}}
      </div>
      <h3 class="bold mb-4">Become a Certified Data Scientist</h3>
      <div class="font-normal mb-4">
        Average Salary of a Data Scientist is 15LPA
      </div>
      <button class="button-white button-solid purple">View Tracks</button>
    </div>
  </div>

  {{!-- Hackerblocks Card --}}
  <div class="col-4">
    <div class="border-card p-5 b-orange">
      <h3 class="bold mb-3">Hacker Blocks Report</h3>
      <div class="font-normal">Improve your coding skills</div>
      <div class="divider-h my-4"></div>
      <div class="font-normal">Current Rank</div>
      <div class="mt-3 d-flex align-items-center">
        <span class="font-md bold">450</span>
        <span class="salmon ml-4">
          <i class="fas fa-caret-down"></i>
          <span class="ml-1">40 ranks</span>
        </span>
      </div>
      <div class="font-normal mt-5">Current Rank</div>
      <div class="mt-3 d-flex align-items-center">
        <span class="font-md bold">200 Points</span>
        <span class="salmon ml-4">
          <i class="fas fa-caret-down"></i>
          <span class="ml-1">500 points</span>
        </span>
      </div>

      <button class="button-solid button-orange mt-4">Continue</button>
    </div>
  </div>
</div>