<div class="row">
  <div class="col-4">
    <div class="border-card bg-gradient-purple">
      <div class="t-align-c">
        <i class="fas fa-gift fa-2x gradient-text-orange mr-2"></i>
        <span class="bold gradient-text-orange font-md">Claim Goodies</span>
      </div>
      <div class="font-normal white my-4">
        Complete 70% of your course
        to unlock and claim goodies
      </div>
      <div class="divider-h bg-white"></div>
      <div class="row no-gutters align-items-center my-5">
        <div class="s-30x30 bg-white br-25 mr-4"></div>
        <div class="bold white word-wrap">Threshold Completion: 70%+</div>
      </div>
      <button class="button-solid disabled">
        <i class="fas fa-lock fa-lg mr-2"></i>
        Request
      </button>
    </div>
  </div>

  <div class="col-4">
    
  </div>
</div>