<div class="row no-gutters a-ocb">
  {{!-- First Modal --}}
  <div class="col-lg-8">
    <div class="br-10 overflow-hidden border">
      <div class="bg-gradient-dpink px-md-5 px-4 py-5 position-relative"
        style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <div class="row no-gutters align-items-center white">
          <div class="border round border-white all-center s-100x100">
            <img src="https://minio.codingblocks.com/amoeba/e2c13faa-f538-48d4-8ca1-88728a07c51a.svg">
          </div>
          <div class="flex-1 pl-4">
            <div style="font-size: 2rem;">Skill Assessment Test</div>
            <div class="mt-1 bold" style="font-size: 2rem;">Frontend Development</div>
          </div>
        </div>
      </div>
      <div class="bg-white p-md-5 p-4">
        <div class="font-md bold">
          Are you a beginner or expert? Are you eligible for this course?
        </div>
        <div class="font-md mt-1">Find out by answering 10 MCQ questions!</div>
        <div class="my-5 pt-2 font-mds">WHAT TO KNOW BEFORE YOU BEGIN:</div>
        <div class="row pb-5 border-bottom mb-5">
          <div class="col-4">
            <div class="font-mds bold mb-3 v-align-ma">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/clock-small.svg" class="mr-2">
              <span>Timed</span>
            </div>
            <div class="font-sm med-grey">
              The questions are timed, you will get 30 seconds for one question.
            </div>
          </div>
          <div class="col-4">
            <div class="font-mds bold mb-3 v-align-ma">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/files-small.svg" class="mr-2">
              <span>Questions</span>
            </div>
            <div class="font-sm med-grey">
              There will be 10 skill based MCQ questions.
            </div>
          </div>
          <div class="col-4">
            <div class="font-mds bold mb-3 v-align-ma">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/repeat-small.svg" class="mr-2">
              <span>Retake</span>
            </div>
            <div class="font-sm med-grey">
              Not happy with the results? Retake to improve your scores.
            </div>
          </div>
        </div>
        <div class="t-align-c">
          <button class="button-solid button-orange">Start the assessment</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- Test Passed Modal --}}
  <div class="col-lg-8 mt-5">
    <div class="br-10 overflow-hidden border">
      <div class="bg-gradient-dpink px-md-5 px-4 py-5 position-relative"
        style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <div class="row no-gutters align-items-center white">
          <div class="border round border-white all-center s-100x100">
            <img src="https://minio.codingblocks.com/amoeba/e2c13faa-f538-48d4-8ca1-88728a07c51a.svg">
          </div>
          <div class="flex-1 pl-4">
            <div style="font-size: 2rem;">Skill Assessment Report</div>
            <div class="mt-1 bold" style="font-size: 2rem;">Frontend Development</div>
          </div>
        </div>
      </div>
      <div class="bg-white p-md-5 p-4">
        <div class="row no-gutters align-items-center justify-content-between pb-5 mb-5 border-bottom">
          <div class="flex-1">
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/tick_solid.svg">
              <div class="flex-1 pl-4">
                <div class="font-mdxl green bold">Congratulations</div>
                <div class="font-md mt-2">You are eligible for this course</div>
              </div>
            </div>
          </div>
          <div>
            <ul class="divided-list">
              <li class="px-5">
                <div class="font-mdxl green bold mb-2">10</div>
                <div class="font-md">Questions</div>
              </li>
              <li class="px-5">
                <div class="font-mdxl green bold mb-2">07</div>
                <div class="font-md">Correct</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="t-align-c">
          <button class="button-dashed button-orange">Take free trial</button>
          <button class="button-solid button-orange ml-4">Buy this course</button>
        </div>
      </div>
    </div>
  </div>

  {{!-- Test Failed Modal --}}
  <div class="col-lg-8 mt-5">
    <div class="br-10 overflow-hidden border">
      <div class="bg-gradient-dpink px-md-5 px-4 py-5 position-relative"
        style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
        <div class="row no-gutters align-items-center white">
          <div class="border round border-white all-center s-100x100">
            <img src="https://minio.codingblocks.com/amoeba/e2c13faa-f538-48d4-8ca1-88728a07c51a.svg">
          </div>
          <div class="flex-1 pl-4">
            <div style="font-size: 2rem;">Skill Assessment Report</div>
            <div class="mt-1 bold" style="font-size: 2rem;">Frontend Development</div>
          </div>
        </div>
      </div>
      <div class="bg-white p-md-5 p-4">
        <div class="row no-gutters align-items-center justify-content-between pb-5 mb-5 border-bottom">
          <div class="flex-1">
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/tick_solid.svg">
              <div class="flex-1 pl-4">
                <div class="font-mdxl green bold">Congratulations</div>
                <div class="font-md mt-2">You are eligible for this course</div>
              </div>
            </div>
          </div>
          <div>
            <ul class="divided-list">
              <li class="px-5">
                <div class="font-mdxl green bold mb-2">10</div>
                <div class="font-md">Questions</div>
              </li>
              <li class="px-5">
                <div class="font-mdxl green bold mb-2">07</div>
                <div class="font-md">Correct</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="mb-5">
          <div class="font-mds med-grey">BASED ON YOUR TEST RESULTS</div>
          <div class="font-mds mt-1 bold">We recommend you these courses instead!</div>
        </div>

        <div class="row c-card-carousel">
          <div class="col-5">
            <div class="br-10 overflow-hidden">
              <div class="row no-gutters justify-content-between align-items-center bg-gradient-pink py-4 px-lg-5 px-4">
                <div class="flex-1 pr-4 white" style="max-width: calc(100% - 75px);">
                  <div class="card-xs chars-spaced">BEGINNERS COURSE</div>
                  <h5 class="bold mt-1 text-ellipses">Android App Dev.</h5>
                  <div class="row no-gutters align-items-center mt-2">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/neg-rating-small.svg" class="mr-1">
                    <div class="flex-1 card-md ml-1 d-sm-flex d-none">
                      <strong>4.8/5.0,</strong>
                      &nbsp;435&nbsp;ratings
                    </div>
                    <div class="col-12 card-md mt-2 d-sm-none">
                      <strong>4.8/5.0,</strong>
                      &nbsp;435&nbsp;ratings
                    </div>
                  </div>
                  <div class="divider-h my-4 bg-med-grey"></div>
                  <div class="card-sm bold">Starting from</div>
                  <div class="v-align-ma">
                    <span class="mr-sm-4 mr-2 font-lg bold">&#8377;&nbsp;3499</span>
                    <span class="font-sm bold med-grey"><del>&#8377;&nbsp;12999</del></span>
                  </div>
                </div>
                <div class="s-70x70 round border p-2 all-center border-2 border-white bg-inherit">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/android.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="br-10 overflow-hidden">
              <div class="row no-gutters justify-content-between align-items-center bg-gradient-pink py-4 px-lg-5 px-4">
                <div class="flex-1 pr-4 white" style="max-width: calc(100% - 75px);">
                  <div class="card-xs chars-spaced">BEGINNERS COURSE</div>
                  <h5 class="bold mt-1 text-ellipses">Android App Dev.</h5>
                  <div class="row no-gutters align-items-center mt-2">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/neg-rating-small.svg" class="mr-1">
                    <div class="flex-1 card-md ml-1 d-sm-flex d-none">
                      <strong>4.8/5.0,</strong>
                      &nbsp;435&nbsp;ratings
                    </div>
                    <div class="col-12 card-md mt-2 d-sm-none">
                      <strong>4.8/5.0,</strong>
                      &nbsp;435&nbsp;ratings
                    </div>
                  </div>
                  <div class="divider-h my-4 bg-med-grey"></div>
                  <div class="card-sm bold">Starting from</div>
                  <div class="v-align-ma">
                    <span class="mr-sm-4 mr-2 font-lg bold">&#8377;&nbsp;3499</span>
                    <span class="font-sm bold med-grey"><del>&#8377;&nbsp;12999</del></span>
                  </div>
                </div>
                <div class="s-70x70 round border p-2 all-center border-2 border-white bg-inherit">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/android.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="br-10 overflow-hidden">
              <div class="row no-gutters justify-content-between align-items-center bg-gradient-pink py-4 px-lg-5 px-4">
                <div class="flex-1 pr-4 white" style="max-width: calc(100% - 75px);">
                  <div class="card-xs chars-spaced">BEGINNERS COURSE</div>
                  <h5 class="bold mt-1 text-ellipses">Android App Dev.</h5>
                  <div class="row no-gutters align-items-center mt-2">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/pos-rating-small.svg" class="mr-1">
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/neg-rating-small.svg" class="mr-1">
                    <div class="flex-1 card-md ml-1 d-sm-flex d-none">
                      <strong>4.8/5.0,</strong>
                      &nbsp;435&nbsp;ratings
                    </div>
                    <div class="col-12 card-md mt-2 d-sm-none">
                      <strong>4.8/5.0,</strong>
                      &nbsp;435&nbsp;ratings
                    </div>
                  </div>
                  <div class="divider-h my-4 bg-med-grey"></div>
                  <div class="card-sm bold">Starting from</div>
                  <div class="v-align-ma">
                    <span class="mr-sm-4 mr-2 font-lg bold">&#8377;&nbsp;3499</span>
                    <span class="font-sm bold med-grey"><del>&#8377;&nbsp;12999</del></span>
                  </div>
                </div>
                <div class="s-70x70 round border p-2 all-center border-2 border-white bg-inherit">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/android.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- MCQ TEST Modal --}}
  <div class="col-lg-8 mt-5">
    <div class="br-10 p-lg-5 p-4 border">
      <div class="font-sm mb-5 pb-5 border-bottom">
        Skill Assessment Test: Frontend Developement
      </div>
      <div class="row no-gutters align-items-center justify-content-between mb-5">
        <div class="flex-1">
          <div class="font-md bold">
            Q1. What is the preferred way for adding a background color in HTML?
          </div>
        </div>
        <div class="s-60x60 border b-pink all-center round">
          <div class="t-align-c pink">
            <h2 class="bold">30</h2>
            <div class="font-sm">SEC</div>
          </div>
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>

      <div class="row no-gutters justify-content-between align-items-center mt-5">
        <div class="col-8">
          <div class="med-grey font-sm">8 Questions Remaining</div>
          <div class="mt-4">
            <progress value="40" max="100"></progress>
          </div>
        </div>
        <button class="button-solid button-orange">Next Question</button>
      </div>
    </div>
  </div>

  {{!-- MCQ TEST Modal - Various Answer States --}}
  <div class="col-lg-8 mt-5">
    <div class="br-10 p-lg-5 p-4 border">
      <div class="font-sm mb-5 pb-5 border-bottom">
        Skill Assessment Test: Frontend Developement
      </div>
      <div class="row no-gutters align-items-center justify-content-between mb-5">
        <div class="flex-1">
          <div class="font-md bold">
            Q1. What is the preferred way for adding a background color in HTML?
          </div>
        </div>
        <div class="s-60x60 border b-pink all-center round">
          <div class="t-align-c pink">
            <h2 class="bold">30</h2>
            <div class="font-sm">SEC</div>
          </div>
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>
      <div
        class="border-card py-3 px-4 mb-4 hover-grey pointer row no-gutters align-items-center justify-content-between">
        <div class="font-md">
          some random option
        </div>
      </div>

      <div class="row no-gutters justify-content-between align-items-center mt-5">
        <div class="col-8">
          <div class="med-grey font-sm">8 Questions Remaining</div>
          <div class="mt-4">
            <progress value="40" max="100"></progress>
          </div>
        </div>
        <button class="button-solid button-orange">Next Question</button>
      </div>
    </div>
  </div>
</div>