<div class="row">
  <div class="col-4">
    <div class="border-card p-5 bg-black white goodies-card">
      <div class="position-absolute free-tag">
        <img src="images/fire.png" alt="fire">
      </div>
      <img src="images/wildcraft1.png" alt="wildcraft" class="my-4">
      <div class="font-mds font-normal">
        Get a <span class="bold gradient-text-orange">Wildcraft Backpack</span> and lots of goodies with this course!
      </div>
    </div>
  </div>
</div>