<div class="a-ocb">
  <div class="row no-gutters">
    <div class="col-4">
      <div class="position-relative br-5 overflow-hidden white">
        <div class="position-sticky tr p-5 br-5" style="color: #1C40DE; border: solid 1px #1C40DE;">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="flex-1 row no-gutters">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/wickets.svg" class="mr-4">
              <div class="font-md bold flex-1">DAILY WINNERS</div>
            </div>
            <div class="p-2 br-5 font-sm" style="border: solid 1px #1C40DE;">
              456 Predictions
            </div>
          </div>
        </div>
        <div class="p-5 overflow-scroll" style="background: linear-gradient(90deg, #1C40DE 0%, #2167E3 100%);">
          
        </div>
      </div>
    </div>
  </div>
</div>