<div class="a-ocb">
  <div class="row no-gutters">
    <div class="col-4">
      <div class="position-relative br-10 overflow-hidden white">
        <div class="position-sticky tr px-5 py-4 br-10 bg-white z-pos" style="color: #1C40DE; border: solid 1px #1C40DE;">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="flex-1 row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/wickets-blue.svg" class="mr-4">
              <div class="font-md bold flex-1">DAILY WINNERS</div>
            </div>
            <div class="round p-2 s-100x100 all-center font-sm bold t-align-c white" style="background: linear-gradient(90deg, #1C40DE 0%, #2167E3 100%);">
              456
              <br />
              Predictions
            </div>
          </div>
        </div>
        <div class="p-5 overflow-auto" style="background: linear-gradient(90deg, #1C40DE 0%, #2167E3 100%); margin-top: -10px;">

        </div>
      </div>
    </div>
  </div>
</div>