<div class="a-ocb">
  <div class="row no-gutters">
    <div class="col-md-4 col-11">
      <div class="position-relative br-10 overflow-hidden white">
        <div class="position-sticky tr px-xl-5 px-4 py-4 br-10 bg-white z-pos"
          style="color: #1C40DE; border: solid 1px #1C40DE;">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="flex-1 row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/wickets-blue.svg" class="mr-4">
              <div class="font-md bold flex-1">DAILY WINNERS</div>
            </div>
            <div class="round p-2 s-100x100 all-center font-sm bold t-align-c white"
              style="background: linear-gradient(90deg, #1C40DE 0%, #2167E3 100%);">
              456
              <br />
              Predictions
            </div>
          </div>
        </div>
        <div class="py-5 px-xl-5 px-4 overflow-auto transparent-scroll"
          style="background: linear-gradient(90deg, #1C40DE 0%, #2167E3 100%); margin-top: -10px; max-height: 650px;">
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
          <div class="row no-gutters align-items-center justify-content-between mb-5">
            <div class="flex-1 pr-4">
              <div class="row no-gutters justiify-content-between align-items-center">
                <div class="s-50x50 round border border-2 b-white">
                  <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
                </div>
                <div class="flex-1 pl-3 font-sm bold d-lg-block d-md-none d-sm-block d-none">
                  Siddharth Jain
                </div>
                <div class="col-12 mt-2 font-sm bold d-lg-none d-md-block d-sm-none d-block">
                  Siddharth Jain
                </div>
              </div>
            </div>
            <div class="border b-white dashed-border py-2 px-3 br-5 copy-code font-sm">
              75% Discount
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>