<div class="a-ocb">
  <div class="row no-gutters">
    <div class="col-md-7 col-11">
      <div class="position-relative br-10 overflow-hidden">
        <div class="position-sticky tr px-xl-5 px-4 py-4 br-10 bg-gradient-dpink z-pos white">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="s-80x80 round border border-2 b-white">
              <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
            </div>
            <div class="flex-1 t-align-c px-4">
              <div class="font-mds">YOUR WINNINGS</div>
              <div class="mt-1 font-md extra-bold">14 Coupons Won</div>
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/wickets.svg">
          </div>
        </div>
        <div class="pb-5 px-xl-5 px-4 overflow-auto transparent-scroll" style="margin-top: -10px; max-height: 650px;">
          <div class="row no-gutters align-items-center justify-content-between py-5 border-bottom">
            <div class="flex-1">
              <div class="row no-gutters alien-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/csk.svg" style="max-width: 110px !important;">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mumbai_indians.svg" style="max-width: 110px !important;">
              </div>
            </div>
            <div class="t-align-r">
              <div class="card-md med-grey">Thursday, 19 Sept</div>
              <div class="my-2 font-mds extra-bold">70% OFF COUPON</div>
              <div class="py-2 px-3 br-5 copy-code font-sm"
                style="width: fit-content; border: 1px dashed #1C40DE; color: #1C40DE;">
                CBONLINEIPL55
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>