<div class="a-ocb">
  <div class="horizontal-quiz-card">
    <div class="row no-gutters">
      <div class="flex-1 border-right horizontal-quiz-card__left-pane">
        <div class="font-md bold">MAKE YOUR PREDICTIONS</div>
        <div class="med-grey mt-3 font-mds">Thursday, 19 Spetember 7:30PM</div>
        <div class="row no-gutters align-items-center" style="margin-top: 75px;">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/csk.svg">
          <div class="font-xl bold" style="padding: 0 30px;">VS</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mumbai_indians.svg">
        </div>
      </div>
      <div class="horizontal-quiz-card__right-pane">

      </div>
    </div>
  </div>
</div>