<div class="a-ocb">
  <div class="horizontal-quiz-card">
    <div class="row no-gutters">
      <div class="border-right horizontal-quiz-card__left-pane d-md-block d-none">
        <div class="font-md bold">MAKE YOUR PREDICTIONS</div>
        <div class="med-grey mt-3 font-mds">Thursday, 19 Spetember 7:30PM</div>
        <div class="row no-gutters align-items-center" style="margin-top: 75px;">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/csk.svg">
          <div class="font-xl bold px-xl-5 px-3">VS</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mumbai_indians.svg">
        </div>
      </div>
      <div class="col-12 border-bottom pb-5 mb-5 horizontal-quiz-card__left-pane d-md-none d-block t-align-c">
        <div class="font-md bold">MAKE YOUR PREDICTIONS</div>
        <div class="med-grey mt-3 font-mds">Thursday, 19 Spetember 7:30PM</div>
        <div class="row no-gutters align-items-center justify-content-center mt-5">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/csk.svg" class="horizontal-quiz-card__logo">
          <div class="font-xl bold px-xl-5 px-3">VS</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mumbai_indians.svg"
            class="horizontal-quiz-card__logo">
        </div>
      </div>
      <div class="horizontal-quiz-card__right-pane flex-1">
        <div class="font-mds med-grey mb-5">
          Q1. Who will win this match?
        </div>
        <div class="row horizontal-quiz-card__options-row">
          <div class="col-6">
            <label for="option-1" class="input-radio gradient-checked-input d-block">
              <input type="radio" id="option-1" name="group-1">
              <span class="font-md bold">Chennai Super Kings</span>
            </label>
          </div>
          <div class="col-6">
            <label for="option-2" class="input-radio gradient-checked-input d-block mt-4">
              <input type="radio" id="option-2" name="group-1">
              <span class="font-md bold">Mumbai Indians</span>
            </label>
          </div>
        </div>

        <div
          class="horizontal-quiz-card__right-pane__navigation row no-gutters align-items-center justify-content-between">
          <div class="font-mds bold disabled">
            PREV
          </div>
          <div class="font-mds bold">
            NEXT
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider-h my-5"></div>

  <div class="horizontal-quiz-card">
    <div class="row no-gutters">
      <div class="border-right horizontal-quiz-card__left-pane d-md-block d-none">
        <div class="font-md bold">MAKE YOUR PREDICTIONS</div>
        <div class="med-grey mt-3 font-mds">Thursday, 19 Spetember 7:30PM</div>
        <div class="row no-gutters align-items-center" style="margin-top: 75px;">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/csk.svg">
          <div class="font-xl bold px-xl-5 px-3">VS</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mumbai_indians.svg">
        </div>
      </div>
      <div class="col-12 border-bottom pb-5 mb-5 horizontal-quiz-card__left-pane d-md-none d-block t-align-c">
        <div class="font-md bold">MAKE YOUR PREDICTIONS</div>
        <div class="med-grey mt-3 font-mds">Thursday, 19 Spetember 7:30PM</div>
        <div class="row no-gutters align-items-center justify-content-center mt-5">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/csk.svg" class="horizontal-quiz-card__logo">
          <div class="font-xl bold px-xl-5 px-3">VS</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/mumbai_indians.svg"
            class="horizontal-quiz-card__logo">
        </div>
      </div>
      <div class="horizontal-quiz-card__right-pane flex-1">
        <div class="font-mds med-grey mb-5">
          Q2. How many six hits in the match?
        </div>
        <div class="row horizontal-quiz-card__options-row">
          <div class="col-6">
            <label for="option-1" class="input-radio gradient-checked-input d-block">
              <input type="radio" id="option-1" name="group-1">
              <span class="font-md bold">0-5</span>
            </label>
          </div>
          <div class="col-6">
            <label for="option-2" class="input-radio gradient-checked-input d-block">
              <input type="radio" id="option-2" name="group-1">
              <span class="font-md bold">5-10</span>
            </label>
          </div>
          <div class="col-6 mt-4">
            <label for="option-3" class="input-radio gradient-checked-input d-block">
              <input type="radio" id="option-3" name="group-1">
              <span class="font-md bold">10-15</span>
            </label>
          </div>
          <div class="col-6 mt-4">
            <label for="option-4" class="input-radio gradient-checked-input d-block">
              <input type="radio" id="option-4" name="group-1">
              <span class="font-md bold">15+</span>
            </label>
          </div>
        </div>

        <div
          class="horizontal-quiz-card__right-pane__navigation row no-gutters align-items-center justify-content-between">
          <div class="font-mds bold disabled">
            PREV
          </div>
          <div class="font-mds bold">
            NEXT
          </div>
        </div>
      </div>
    </div>
  </div>
</div>