<div class="a-ocb">
  <div>
    <div class="tab-nav-underline justify-content-start mb-5">
      <div class="tab active">All Jobs</div>
      <div class="tab">Eligible Jobs</div>
      <div class="tab">Applied Jobs</div>
    </div>
    <div class="row align-items-center"></div>
    <div class="divider-h my-5"></div>
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">Full Stack Developer</h5>
            <div class="font-normal mt-2 grey"><span class="black">Amazon &#8226;</span> Posted 2 months ago</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-6 mt-sm-0 mt-3">
        <div class="font-normal">Experience: <span class="bold">2-3 Years</span></div>
        <div class="font-normal mt-2">CTC: <span class="bold">10 LPA</span></div>
      </div>
      <div class="col-md-2 col-sm-3 col-6 mt-sm-0 mt-3">
        <div class="font-normal">Type: <span class="bold">Full Time</span></div>
        <div class="font-normal mt-2">Location: <span class="bold">Gurgaon</span></div>
      </div>
      <div class="d-md-block d-none">
        <button class="button-solid button-orange">View Details</button>
      </div>
      <div class="d-md-none d-block d-flex justify-content-center w-100 mt-3">
        <button class="button-solid button-orange">View Details</button>
      </div>
    </div>
    <div class="divider-h my-4"></div>
    <div class="row no-gutters align-items-center justify-content-between">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">Full Stack Developer</h5>
            <div class="font-normal mt-2 grey"><span class="black">Amazon &#8226;</span> Posted 2 months ago</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 col-6 mt-sm-0 mt-3">
        <div class="font-normal">Experience: <span class="bold">2-3 Years</span></div>
        <div class="font-normal mt-2">CTC: <span class="bold">10 LPA</span></div>
      </div>
      <div class="col-md-2 col-sm-3 col-6 mt-sm-0 mt-3">
        <div class="font-normal">Type: <span class="bold">Full Time</span></div>
        <div class="font-normal mt-2">Location: <span class="bold">Gurgaon</span></div>
      </div>
      <div class="d-md-block d-none">
        <button class="button-solid button-orange">View Details</button>
      </div>
      <div class="d-md-none d-block d-flex justify-content-center w-100 mt-3">
        <button class="button-solid button-orange">View Details</button>
      </div>
    </div>
  </div>
</div>