<div class="a-ocb">
  <div class="px-lg-5 px-md-4 px-sm-5 px-4 py-5 bg-dark-grey br-10 white know-your-mentor">
    <div class="know-your-mentor__tag font-mds">
      HOW TO PLAY?
    </div>
    <div class="row no-gutters align-items-center">
      <div class="d-sm-block d-none pr-5" style="border-right: solid 1px #D69D72;">
        <h2 class="light beige">know your</h2>
        <div class="extra-bold" style="font-size: 36px;">MENTOR</div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-mentor.svg">
      </div>
      <div class="col-12 d-sm-none d-block pb-4 mb-4" style="border-bottom: solid 1px #D69D72;">
        <h2 class="light beige">know your</h2>
        <div class="extra-bold" style="font-size: 36px;">MENTOR</div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-mentor.svg">
      </div>
      <div class="flex-1 pl-sm-5 pl-0">
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="col-md-3 col-12">
            <div class="row no-gutters align-items-center justify-content-between">
              <h2 class="beige col-md-12 col-sm-4 col-3">STEP 1</h2>
              <div class="mt-md-3 font-sm flex-1 pl-md-0 pl-4">
                Click
                <strong class="v-align-ma">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/thunder-button.svg" class="pr-1">
                  <span class="underline">Explore</span>
                </strong>
                button on course cards!
              </div>
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/right-arrow-beige.svg"
            class="px-4 d-md-block d-none">
          <div class="col-md-3 col-12 mt-md-0 mt-4">
            <div class="row no-gutters justify-content-between align-items-center">
              <h2 class="beige col-md-12 col-sm-4 col-3">STEP 2</h2>
              <div class="mt-md-3 font-sm flex-1 pl-md-0 pl-4">
                Click on
                <strong class="underline">play now</strong>
                button to start the quiz!
              </div>
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/right-arrow-beige.svg"
            class="px-4 d-md-block d-none">
          <div class="col-md-3 col-12 mt-md-0 mt-4">
            <div class="row no-gutters justify-content-between align-items-center">
              <h2 class="beige col-md-12 col-sm-4 col-3">STEP 3</h2>
              <div class="mt-md-3 font-sm flex-1 pl-md-0 pl-4">
                Answer 4 questions about the mentor &
                <strong class="underline">
                  get 70% off!!
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-h my-5"></div>
  <div class="px-lg-5 px-md-4 px-sm-5 px-4 py-5 bg-dark-grey br-10 white know-your-mentor">
    <div class="know-your-mentor__tag font-mds" style="left: calc(50% - 160px);">
      TEACHER'S DAY SPECIAL
    </div>
    <div class="row no-gutters align-items-center">
      <div class="d-md-block d-none pr-5" style="border-right: solid 1px #D69D72;">
        <h2 class="light beige">know your</h2>
        <div class="extra-bold" style="font-size: 36px;">MENTOR</div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-mentor.svg">
      </div>
      <div class="col-12 d-md-none d-block pb-4 mb-4" style="border-bottom: solid 1px #D69D72;">
        <h2 class="light beige">know your</h2>
        <div class="extra-bold" style="font-size: 36px;">MENTOR</div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-mentor.svg">
      </div>
      {{!-- <div class="mb-5 d-sm-none d-block">
        <h2 class="beige">Do you think you know your mentor?</h2>
      </div> --}}
      <div class="flex-1 pl-md-5 pl-0">
        <div class="row no-gutters justify-content-between align-items-center">
          <div class="flex-1" style="padding-right: 150px;">
            <h2 class="beige">Do you think you know your mentor?</h2>
            <div class="mt-sm-3 mt-4 font-sm">
              Answer 4 simple questions about them and
              <strong class="underline">get 70% off</strong>
              on online courses!!
            </div>
            <div class="d-md-none d-block">
              <div class="button-solid button-white dark-grey mt-5">Play Now</div>
            </div>
            <div class="know-your-mentor__teacher">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/teacher.svg">
            </div>
          </div>
          <div class="d-md-block d-none">
            <div class="button-solid button-white dark-grey ml-5">Play Now</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider-h my-5"></div>
  <button class="button-solid bg-dark-grey animated-icon-button">
    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/thunder-button.svg" class="mr-2">
    Explore
  </button>
  <div class="divider-h my-5"></div>
  <div class="bg-dark-grey br-10 white know-your-mentor">
    <div class="know-your-mentor__tag font-mds" style="left: calc(50% - 160px);">
      TEACHER'S DAY SPECIAL
    </div>
    <div class="row no-gutters align-items-center">
      <div class="col-md-6 col-sm-7 col-12 pl-lg-5 pl-md-4 pl-sm-5 pl-4 py-5 position-static">
        <div class="h-100">
          <div class="know-your-mentor__teacher know-your-mentor__teacher--left">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/teacher.svg">
          </div>
          <div class="flex-1" style="padding-left: 150px;">
            <h2 class="light beige">know your</h2>
            <div class="extra-bold" style="font-size: 36px;">MENTOR</div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-mentor.svg">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-5 col-12">
        <div class="know-your-mentor__skewed-container h-100 pr-lg-5 pr-md-4 pr-sm-5 pr-4 py-5">
          <div class="row no-gutters align-items-end justify-content-end">
            <div class="flex-1 t-align-r pr-5 d-md-block d-none">
              <div class="font-mds beige">Mentor Quiz</div>
              <h2>Arnav Gupta</h2>
            </div>
            <div class="round s-100x100" style="border: solid 2px #D69D72;">
              <img src="https://minio.codingblocks.com/amoeba/a961f745-e3d1-4788-8057-1b27f72d42ff">
            </div>
            <div class="col-12 t-align-r d-md-none d-block mt-4">
              <div>
                <div class="font-mds beige">Mentor Quiz</div>
                <h2>Arnav Gupta</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>