<div class="border">
  <div class="container-fluid no-gutters">
    <div class="row my-3">
      <div class="col-4 my-3">
        CodingBlocks|ONLINE
      </div>
      <div class="col-8 navbar-expand justify-content-between">
        <a href="#" class="mr-5 navlink">Learning Tracks</a>
        <a href="#" class="mr-5">Explore Courses</a>
        <a href="#" class="mr-5">Hiring Blocks</a>
        <button class="button-solid button-orange font-sm extra-bold ml-md-4 ml-2">Get Started</button>
      </div>
    </div>

    <div class="container-fluid border">
      <div class="row justify-content-end py-3 mr-2 border-top">
        <a href="#" class="mr-1">
          Courses
          <i class="ml-1 fas fa-chevron-up"></i>
        </a>
        <a href="#" class="mr-5">Products</a>
        <a href="#" class="mr-5">About Us</a>
        <a href="#" class="mr-5">Resources</a>
        <a href="#" class="mr-5">Campus Ambassadors</a>
        <a href="#">Contact Us</a>
      </div>
    </div>

  </div>
</div>

<div class="d-md-flex justify-content-between align-items-center position-relative">
  <div class="col-xl-7 col-md-6 col-4 px-0 z-pos">
    <div class="extra-bold font-mdxl gradient-text-orange mt-2 ml-5 p-4">
      Uplift your career with us!
    </div>
    <div class="font-md m-3 ml-5">
      <span class="bold">We will help you build skills & land your dream job </span>
    </div>
    <div class="font-normal m-3 ml-5">Let's get to know your preference first</div>
    {{!-- <div class="divider-h w-10 my-lg-5 my-4"></div> --}}

    <div class="d-flex align-items-start flex-column bd-highlight m-5 border">

      <div class="p-5 bd-highlight">

        I am a
        <button class="button-solid button-orange font-sm extra-bold ml-md-4 ml-2">Student</button>
        <button class="button-solid button-white">Professional</button>
      </div>
      <div class="p-2 pl-5 pd-5 bd-highlight">
        i want to become a
        <button class="button-solid button-white">Choose track</button>

      </div>

      {{!-- <div class="-2">

          </div> --}}


    </div>
  </div>
  <div class="col-5">
    <img src="/images/404image.png" alt="Vector" class="d-md-block d-none">
  </div>
</div>