<div class="container a-ocb pl-3 learning-track-banner">
  <div class="border-card bg-gradient-black-lr b-card" style="position: relative;">
    <div class="white row font-lg p-3" style="font-family: Gilroy-Bold">
      Introducing: Learning Tracks
      <div class="button-dashed button-white d-none d-md-block" style="position: absolute; right: 27px; top:20px">
        Newly Launched
      </div>
    </div>
    <div class="white row p-3 font-mg" style="font-family: Gilroy-Medium;">
      We understand that sometimes you need more than one course to achieve your learning goals.
      We're here to help. Tracks arrange courses on a topic in sequenc, saving you the effort of
      going through our courses to find out which ones fit well together, and in what order. Our
      tracks are carefully vetted and arranged to maximize your learning experience.
      <br>
      <br>
      Happy learning!
    </div>
  </div>
</div>