<div class="a-ocb container">
  <div class="grid-container">
    <div class="grid-item grid-item--primary">
      <div data-v-5f907d4f="" class="position-relative">
        <div data-v-5f907d4f="" class="border-card white">
          <img data-v-5f907d4f="" src="https://minio.codingblocks.com/amoeba/3ccd9936-3698-4d79-a461-42c0a14b5feb.svg"
            alt="" class="back-img tl" />
          <div data-v-5f907d4f="" class="row justify-content-between align-items-center position-relative no-gutters">
            <div data-v-5f907d4f="" class="col-lg-10 col-sm-9 col-8">
              <div data-v-5f907d4f="">
                <span data-v-5f907d4f="" class="bold font-xl">Web Development with Python-Django</span>
                <span data-v-5f907d4f="" class="ml-4"><a data-v-5f907d4f="" href="#" class="white"><i data-v-5f907d4f=""
                      class="far fa-lg fa-heart"></i></a>
                  <a data-v-5f907d4f="" href="#" class="white"><i data-v-5f907d4f=""
                      class="fas fa-lg fa-share-alt ml-2"></i></a></span>
              </div>
              <div data-v-5f907d4f="" class="font-normal mt-2 font-sm">
                Create web apps quickly and efficiently with less code!
              </div>
            </div>
            <div data-v-5f907d4f="">
              <img data-v-5f907d4f=""
                src="https://minio.codingblocks.com/amoeba/24833e09-c299-4265-a41a-af7f63a98e17.svg"
                alt="Web Development with Python-Django" class="s-70x70 round course-info-card-logo" />
            </div>
          </div>
          <div data-v-4482dcad="" data-v-5f907d4f="" class="my-4 d-flex align-items-center position-relative">
            <span data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span><span
              data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span><span
              data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span><span
              data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span>
            <span data-v-4482dcad="" class="neg-rating mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_unfilled.svg" /></span>
            <span data-v-5f907d4f="" data-v-4482dcad="" class="ml-3"><b data-v-5f907d4f=""
                data-v-4482dcad="">4.29/5.0,</b> 234
              ratings
            </span>
          </div>
          <div data-v-5f907d4f="" class="row course-info-row">
            <div data-v-5f907d4f="" class="col-md-6 mb-3 mb-md-0">
              <div data-v-5f907d4f="" class="card-mentor-image w-20">
                <img data-v-5f907d4f="" src="https://minio.codingblocks.com/amoeba/7196aedf-f3f5-4617-8e38-1390bf53cc48"
                  alt="photo ofJatin Katyal" class="card-mentors" />
              </div>
              <div data-v-5f907d4f="" class="info-item" style="padding-left: 5rem">
                <div data-v-5f907d4f="">Instructors</div>
                <div data-v-5f907d4f="">Jatin Katyal</div>
              </div>
            </div>
            <div data-v-5f907d4f="" class="col-6 col-md-3">
              <div data-v-5f907d4f="" class="info-item">
                <div data-v-5f907d4f="">Course Language</div>
                <div data-v-5f907d4f="">English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <iframe data-v-76a00bc8="" src="https://www.youtube.com/embed/ui30CAYPPns" frameborder="0" controls="controls"
        allowfullscreen="allowfullscreen" class="h-100 w-100 br-10"></iframe>
    </div>
    <div class="grid-item grid-item--primary">
      <div data-v-4605aee6="" class="border-card">
        <h2 data-v-4605aee6="" class="font-md">Summary</h2>
        <div data-v-4605aee6="" class="markdown-body course-summary">
          <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design.
            Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on
            writing your app without needing to reinvent the wheel. It’s free and open source. Django was designed to
            help developers take applications from concept to completion as quickly as possible. It takes security
            seriously and helps developers avoid many common security mistakes. The most important advantage is its
            scalability. Some of the busiest sites on the Web leverage Django’s ability to quickly and flexibly scale.
          </p>
          <p>This course takes you on an exciting journey of building Web Apps using Python-Django. Starting from Python
            basics, it introduces you to web terminologies covering all aspects of Django Framework in great detail. You
            master these skills by building 5 uber cool projects.</p>
          <h2 id="highlights">Highlights</h2>
          <ul>
            <li>• Extensive coverage of framework components</li>
            <li>• Project-Based Learning Approach</li>
            <li>• Lessons on Deploying your Application</li>
            <li>• Basics &amp; Advanced Topics for Interviews</li>
            <li>• Expert Doubt Support for 6 months<em>(only for Premium version)</em><br></li>
          </ul>
          <h3 id="courses-comparison">Courses Comparison</h3>
          <p>A comparison with our related offerings.</p>
          <table>
            <thead>
              <tr>
                <th>Topics/Courses</th>
                <th>Python Fundamentals</th>
                <th>Python for Data Science</th>
                <th>Python Django</th>
                <th>Python for Developers Master</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Python Basics</td>
                <td>✅</td>
                <td>❌</td>
                <td>✅</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Async Programming in Python</td>
                <td>✅</td>
                <td>✅</td>
                <td>✅</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Intermediate Python</td>
                <td>✅</td>
                <td>✅</td>
                <td>✅</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Data Science Libraries</td>
                <td>❌</td>
                <td>✅</td>
                <td>❌</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Python for Web (BS, Requests, Flask)</td>
                <td>❌</td>
                <td>✅</td>
                <td>❌</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Python Chatbots</td>
                <td>❌</td>
                <td>✅</td>
                <td>❌</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Python Automation</td>
                <td>❌</td>
                <td>❌</td>
                <td>❌</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Machine Learning Introduction</td>
                <td>❌</td>
                <td>✅</td>
                <td>❌</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Web Apps in Flask</td>
                <td>❌</td>
                <td>✅</td>
                <td>❌</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Git/Github</td>
                <td>✅</td>
                <td>❌</td>
                <td>✅</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Backend Development</td>
                <td>❌</td>
                <td>❌</td>
                <td>✅</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Deploying ML Models</td>
                <td>❌</td>
                <td>✅ (Flask)</td>
                <td>✅ (Django)</td>
                <td>✅ (Flask+Django)</td>
              </tr>
              <tr>
                <td>REST API's</td>
                <td>❌</td>
                <td>❌</td>
                <td>✅</td>
                <td>✅</td>
              </tr>
              <tr>
                <td>Projects</td>
                <td>❌</td>
                <td>4 Mini Projects</td>
                <td>5 Django Projects</td>
                <td>10 Mini Projects</td>
              </tr>
              <tr>
                <td>Capstone Project</td>
                <td>Python Game</td>
                <td>Face Recogntion</td>
                <td>Social Media Platform</td>
                <td>Social Media Platform</td>
              </tr>
              <tr>
                <td>Pre-requsites</td>
                <td>-</td>
                <td>Python Basics</td>
                <td>Programming in C++/Java</td>
                <td>Programming in C++/Java</td>
              </tr>
              <tr>
                <td>Addons</td>
                <td>Practice Problems</td>
                <td>Data Science Challenges</td>
                <td>Coming Soon</td>
                <td>Coming Soon</td>
              </tr>
            </tbody>
          </table>
          <h2 id="pre-requisites">Pre-requisites</h2>
          <p>Basic Knowledge of Programming concepts is required. We recommend these courses <a
              href="https://online.codingblocks.com/courses/c-plus-plus-online-course-for-beginners"> Launchpad (C++)
            </a> or <a href="https://online.codingblocks.com/courses/complete-java-course-online"> Crux (JAVA) </a></p>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div data-v-569a8cb7="" class="border-card border-orange">
        <div data-v-569a8cb7="" class="row justify-content-between align-items-center px-4">
          <div data-v-569a8cb7="">
            <h5 data-v-569a8cb7="" class="bold">Take Free Trial</h5>
            <div data-v-569a8cb7="">Preview this course for free</div>
          </div>
          <div data-v-569a8cb7=""><a data-v-569a8cb7="" href="/app/classroom/course/53/run/1057"
              class="button-solid button-orange free-trial-button">Try it for free!</a></div>
        </div>
      </div>
      <div data-v-569a8cb7="" id="choose-batch" class="border-card px-0 pb-0 mt-4">
        <div data-v-569a8cb7="" class="row no-gutters justify-content-between align-items-center px-4 mb-4">
          <h5 data-v-569a8cb7="" class="bold">Choose Batch</h5> <a data-v-569a8cb7="" href=""
            class="bold gradient-text-orange mr-3 v-align-ma"><img data-v-569a8cb7=""
              src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/compare.png" class="mr-1">
            Compare
          </a>
        </div>
        <div data-v-569a8cb7="" class="tab-nav-underline px-4">
          <div data-v-569a8cb7="" class="tab mr-xl-5 mr-lg-4 mr-md-2 mr-5 active">
            Oct 20
          </div>
          <div data-v-569a8cb7="" class="tab mr-xl-5 mr-lg-4 mr-md-2 mr-5">
            Nov 20
          </div>
        </div>
        <!---->
        <div data-v-569a8cb7="">
          <div data-v-4545ea77="" data-v-569a8cb7="" index="0">
            <div data-v-4545ea77="" class="hover-indicator p-4">
              <div data-v-1e9d0532="" data-v-4545ea77="">
                <div data-v-4545ea77="" data-v-1e9d0532=""
                  class="pointer row no-gutters justify-content-between align-items-center">
                  <div data-v-4545ea77="" data-v-1e9d0532="" class="v-align-ma"><img data-v-4545ea77=""
                      data-v-1e9d0532="" src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/lite.png" class="mr-1">
                    <h4 data-v-4545ea77="" data-v-1e9d0532="" class="tier-name gradient-text-orange d-inline-block">LITE
                    </h4> <img data-v-4545ea77="" data-v-1e9d0532=""
                      src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/gradient-down.png"
                      class="ml-1 accordion-icon">
                  </div>
                  <div data-v-4545ea77="" data-v-1e9d0532=""
                    class="d-lg-block d-md-none d-block flex-1 card-md dark-grey ml-2 t-align-r">
                    Batch starting 01 Oct, Thu
                  </div>
                </div>
                <div data-v-4545ea77="" data-v-1e9d0532="" class="divider-h mt-4 mb-3"></div>
                <div data-v-1e9d0532="" class="body" style="display: none;">
                  <div data-v-4545ea77="" class="row no-gutters hiding-section">
                    <div class="col-lg-6 col-md-12 col-6 pr-lg-2 pr-md-0 pr-2">
                      <div class="mb-2 v-align-ma"><img
                          src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/content.png" class="mr-2"> <span
                          class="dark-grey card-md">Course Content</span></div>
                      <div class="mb-2 v-align-ma"><img
                          src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/placeholder.png" class="mr-2"> <span
                          class="dark-grey card-md">Quizzes</span></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 pr-lg-2 pr-md-0 pr-2">
                      <div class="mb-2 v-align-ma"><img
                          src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/challenge.png" class="mr-2"> <span
                          class="dark-grey card-md">Challenges</span></div>
                      <div class="mb-2 v-align-ma"><img
                          src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/certification.png" class="mr-2"> <span
                          class="dark-grey card-md">Certification</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-4545ea77="" class="row no-gutters justify-content-between align-items-center">
                <div data-v-4545ea77="" class="flex-1 pr-1">
                  <div data-v-4545ea77="">
                    <h5 data-v-4545ea77="" class="bold d-inline-block mr-2">₹ 4499</h5> <span data-v-4545ea77=""
                      class="extra-bold dark-grey d-xl-inline d-md-block d-inline mt-xl-0 mt-md-2 mt-0"><del
                        data-v-4545ea77="">₹
                        4499
                      </del></span>
                  </div>
                  <div data-v-4545ea77="" class="card-md mt-1 dark-grey">Valid for 6 Months</div>
                </div>
                <div data-v-4545ea77=""><a data-v-4545ea77="" target="_blank"
                    href="https://dukaan.codingblocks.com/buy?productId=3460&amp;oneauthId=27931"
                    class="buy-now-button button-dashed button-orange">
                    Buy Now
                  </a></div>
              </div>
            </div>
          </div>
          <div data-v-4545ea77="" data-v-569a8cb7="" index="1">
            <div data-v-4545ea77="" class="hover-indicator p-4">
              <div data-v-1e9d0532="" data-v-4545ea77="">
                <div data-v-4545ea77="" data-v-1e9d0532=""
                  class="pointer row no-gutters justify-content-between align-items-center">
                  <div data-v-4545ea77="" data-v-1e9d0532="" class="v-align-ma"><img data-v-4545ea77=""
                      data-v-1e9d0532="" src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/premium.png"
                      class="mr-1">
                    <h4 data-v-4545ea77="" data-v-1e9d0532="" class="tier-name gradient-text-orange d-inline-block">
                      PREMIUM</h4> <img data-v-4545ea77="" data-v-1e9d0532=""
                      src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/gradient-down.png"
                      class="ml-1 accordion-icon">
                  </div>
                  <div data-v-4545ea77="" data-v-1e9d0532=""
                    class="d-lg-block d-md-none d-block flex-1 card-md dark-grey ml-2 t-align-r">
                    Batch starting 01 Oct, Thu
                  </div>
                </div>
                <div data-v-4545ea77="" data-v-1e9d0532="" class="divider-h mt-4 mb-3"></div>
                <div data-v-1e9d0532="" class="body" style="display: none;">
                  <div data-v-4545ea77="" class="row no-gutters hiding-section">
                    <div class="col-lg-6 col-md-12 col-6 pr-lg-2 pr-md-0 pr-2">
                      <div class="mb-2 v-align-ma"><img
                          src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/circle-tick.png" class="mr-2"> <span
                          class="dark-grey card-md">All LITE features</span></div>
                      <div class="mb-2 v-align-ma"><img
                          src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/placeholder.png" class="mr-2"> <span
                          class="dark-grey card-md">Placement Support</span></div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-6 pr-lg-2 pr-md-0 pr-2">
                      <div class="mb-2 v-align-ma"><img
                          src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/goodies.png" class="mr-2"> <span
                          class="dark-grey card-md">CB Goodies</span></div>
                      <div class="mb-2 v-align-ma"><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/msg.png"
                          class="mr-2"> <span class="dark-grey card-md">TA Support</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-v-4545ea77="" class="row no-gutters justify-content-between align-items-center">
                <div data-v-4545ea77="" class="flex-1 pr-1">
                  <div data-v-4545ea77="">
                    <h5 data-v-4545ea77="" class="bold d-inline-block mr-2">₹ 7999</h5> <span data-v-4545ea77=""
                      class="extra-bold dark-grey d-xl-inline d-md-block d-inline mt-xl-0 mt-md-2 mt-0"><del
                        data-v-4545ea77="">₹
                        7999
                      </del></span>
                  </div>
                  <div data-v-4545ea77="" class="card-md mt-1 dark-grey">Valid for 6 Months</div>
                </div>
                <div data-v-4545ea77=""><a data-v-4545ea77="" target="_blank"
                    href="https://dukaan.codingblocks.com/buy?productId=3375&amp;oneauthId=27931"
                    class="buy-now-button button-dashed button-orange">
                    Buy Now
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>