<div class="a-ocb container">
  <div class="grid-container">
    <div class="grid-item" style="grid-column-start: 1; grid-colum-end: 3;">
      <div data-v-5f907d4f="" class="position-relative">
        <div data-v-5f907d4f="" class="border-card white">
          <img data-v-5f907d4f="" src="https://minio.codingblocks.com/amoeba/3ccd9936-3698-4d79-a461-42c0a14b5feb.svg"
            alt="" class="back-img tl" />
          <div data-v-5f907d4f="" class="row justify-content-between align-items-center position-relative no-gutters">
            <div data-v-5f907d4f="" class="col-lg-10 col-sm-9 col-8">
              <div data-v-5f907d4f="">
                <span data-v-5f907d4f="" class="bold font-xl">Web Development with Python-Django</span>
                <span data-v-5f907d4f="" class="ml-4"><a data-v-5f907d4f="" href="#" class="white"><i data-v-5f907d4f=""
                      class="far fa-lg fa-heart"></i></a>
                  <a data-v-5f907d4f="" href="#" class="white"><i data-v-5f907d4f=""
                      class="fas fa-lg fa-share-alt ml-2"></i></a></span>
              </div>
              <div data-v-5f907d4f="" class="font-normal mt-2 font-sm">
                Create web apps quickly and efficiently with less code!
              </div>
            </div>
            <div data-v-5f907d4f="">
              <img data-v-5f907d4f=""
                src="https://minio.codingblocks.com/amoeba/24833e09-c299-4265-a41a-af7f63a98e17.svg"
                alt="Web Development with Python-Django" class="s-70x70 round course-info-card-logo" />
            </div>
          </div>
          <div data-v-4482dcad="" data-v-5f907d4f="" class="my-4 d-flex align-items-center position-relative">
            <span data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span><span
              data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span><span
              data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span><span
              data-v-4482dcad="" class="pos-rating orange mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" /></span>
            <span data-v-4482dcad="" class="neg-rating mr-2"><img data-v-4482dcad=""
                src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_unfilled.svg" /></span>
            <span data-v-5f907d4f="" data-v-4482dcad="" class="ml-3"><b data-v-5f907d4f=""
                data-v-4482dcad="">4.29/5.0,</b> 234
              ratings
            </span>
          </div>
          <div data-v-5f907d4f="" class="row course-info-row">
            <div data-v-5f907d4f="" class="col-md-6 mb-3 mb-md-0">
              <div data-v-5f907d4f="" class="card-mentor-image w-20">
                <img data-v-5f907d4f="" src="https://minio.codingblocks.com/amoeba/7196aedf-f3f5-4617-8e38-1390bf53cc48"
                  alt="photo ofJatin Katyal" class="card-mentors" />
              </div>
              <div data-v-5f907d4f="" class="info-item" style="padding-left: 5rem">
                <div data-v-5f907d4f="">Instructors</div>
                <div data-v-5f907d4f="">Jatin Katyal</div>
              </div>
            </div>
            <div data-v-5f907d4f="" class="col-6 col-md-3">
              <div data-v-5f907d4f="" class="info-item">
                <div data-v-5f907d4f="">Course Language</div>
                <div data-v-5f907d4f="">English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <iframe data-v-76a00bc8="" src="https://www.youtube.com/embed/ui30CAYPPns" frameborder="0" controls="controls"
        allowfullscreen="allowfullscreen" class="h-100 w-100 br-10"></iframe>
    </div>
  </div>
</div>