<div class="row">
  <div class="col-4">
    <div class="border-card p-5 bg-grey">
      <h5 class="bold mb-5">About Mentors</h5>

      <div class="row no-gutters align-items-center mb-4">
        <div class="s-50x50 br-25 bg-white mr-4 overflow-hidden">
          {{!-- <img src="" alt=""> --}}
        </div>
        <div>
          <h5 class="bold">Arnav Gupta</h5>
          <div class="font-normal mt-1">arnav@cb.lk</div>
        </div>
      </div>
      <span class="card-md font-normal">
        Arnav Gupta, also popular as ChampionSwimmer, is an acclaimed Android developer and two timer GSoC-er. He has
        presented at large conferences... <a href="#" class="card-sm d-inline-block">View More</a>
      </span>
      <div class="row no-gutters align-items-center my-4">
        <div class="s-50x50 br-25 bg-white mr-4 overflow-hidden">
          {{!-- <img src="" alt=""> --}}
        </div>
        <div>
          <h5 class="bold">Arnav Gupta</h5>
          <div class="font-normal mt-1">arnav@cb.lk</div>
        </div>
      </div>
      <span class="card-md font-normal">
        Arnav Gupta, also popular as ChampionSwimmer, is an acclaimed Android developer and two timer GSoC-er. He has
        presented at large conferences... <a href="#" class="card-sm d-inline-block">View More</a>
      </span>
    </div>
  </div>
</div>