<div class="a-ocb">
  {{!-- Recently Accessed --}}
  <div class="mb-5">
    <div class="tab-nav-underline justify-content-start mb-5">
      <div class="tab active">Recently Accessed</div>
      <div class="tab">All Courses</div>
      <div class="tab">Wishlisted</div>
      <div class="tab">Tracks</div>
      <div class="tab">Expired Courses</div>
    </div>
    <div class="row no-gutters align-items-center mt-4">
      <div class="col-md-4 col-6">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">C++ Master Course</h5>
            <div class="font-normal mt-2">Mentor: Prateek Narang</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-6">
        <div class="font-normal">Course Progress</div>
        <div class="mt-3">
          <progress value="30" max="100" class="d-inline-block w-80 progress-orange"></progress>
          <span class="bold ml-3">30%</span>
        </div>
      </div>
      <div class="col-md-3 col-12 mt-md-0 mt-3">
        <div class="row no-gutters justify-content-around align-items-center">
          <a href="#" class="font-normal dark-orange">Ongoing</a>
          <button class="button-orange button-solid">Resume Course</button>
        </div>
      </div>
    </div>
    <div class="divider-h mt-4"></div>
    <div class="row no-gutters align-items-center mt-4">
      <div class="col-md-4 col-6">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">C++ Master Course</h5>
            <div class="font-normal mt-2">Mentor: Prateek Narang</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-6">
        <div class="font-normal">Course Progress</div>
        <div class="mt-3">
          <progress value="100" max="100" class="d-inline-block w-80 progress-green"></progress>
          <span class="bold ml-3">100%</span>
        </div>
      </div>
      <div class="col-md-3 col-12 mt-md-0 mt-3">
        <div class="row no-gutters justify-content-around align-items-center">
          <a href="#" class="font-normal green">Ongoing</a>
          <button class="button-green button-solid">Get Certificate</button>
        </div>
      </div>
    </div>
    <div class="divider-h mt-4"></div>
    <div class="row no-gutters align-items-center mt-4">
      <div class="col-md-4 col-6">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">C++ Master Course</h5>
            <div class="font-normal mt-2">Mentor: Prateek Narang</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-6">
        <div class="font-normal">Course Progress</div>
        <div class="mt-3">
          <progress value="30" max="100" class="d-inline-block w-80 progress-orange"></progress>
          <span class="bold ml-3">30%</span>
        </div>
      </div>
      <div class="col-md-3 col-12 mt-md-0 mt-3">
        <div class="row no-gutters justify-content-around align-items-center">
          <a href="#" class="font-normal">Not Started</a>
          <button class="button-orange button-solid">Start Learning</button>
        </div>
      </div>
    </div>
    <div class="divider-h mt-4"></div>
  </div>

  {{!-- Wishlisted --}}
  <div class="mb-5">
    <div class="tab-nav-underline justify-content-start mb-5">
      <div class="tab">Recently Accessed</div>
      <div class="tab">All Courses</div>
      <div class="tab active">Wishlisted</div>
      <div class="tab">Tracks</div>
      <div class="tab">Expired Courses</div>
    </div>
    <div class="row no-gutters align-items-center mt-4">
      <div class="col-md-4 col-6">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">C++ Master Course</h5>
            <div class="font-normal mt-2">Mentor: Prateek Narang</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="font-normal">User Ratings</div>
        <div class="mt-3">
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="card-md font-normal ml-2">
            4/5, 435 ratings
          </span>
        </div>
      </div>
      <div class="col-md-4 col-12 mt-md-0 mt-3">
        <div class="row no-gutters justify-content-around align-items-center">
          <button class="button-dashed button-orange">Start Free Trial</button>
          <button class="button-orange button-solid">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="divider-h mt-4"></div>
  </div>

  {{!-- Expired --}}
  <div class="mb-5">
    <div class="tab-nav-underline justify-content-start mb-5">
      <div class="tab">Recently Accessed</div>
      <div class="tab">All Courses</div>
      <div class="tab">Wishlisted</div>
      <div class="tab">Tracks</div>
      <div class="tab active">Expired Courses</div>
    </div>
    <div class="row no-gutters align-items-center mt-4 justify-content-between">
      <div class="col-md-4 col-6">
        <div class="row no-gutters align-items-center">
          <div class="col-3">
            <img src="images/c++" alt="C++">
          </div>
          <div class="col-9">
            <h5 class="bold">C++ Master Course</h5>
            <div class="font-normal mt-2">Mentor: Prateek Narang</div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-6">
        <div class="font-normal">Your Progress</div>
        <div class="mt-3">
          <progress value="30" max="100" class="d-inline-block w-80 progress-orange"></progress>
          <span class="bold ml-3">30%</span>
        </div>
      </div>
      <div class="col-md-3 col-12 mt-md-0 mt-3">
        <div class="d-flex justify-content-end">
          <button class="button-solid button-orange">Buy Extension</button>
        </div>
      </div>
    </div>
    <div class="divider-h mt-4"></div>
  </div>

  {{!-- Tracks  --}}
  <div class="mb-5">
    <div class="tab-nav-underline justify-content-start mb-5">
      <div class="tab">Recently Accessed</div>
      <div class="tab">All Courses</div>
      <div class="tab">Wishlisted</div>
      <div class="tab active">Tracks</div>
      <div class="tab">Expired Courses</div>
    </div>
    <div>
      <div class="row no-gutters align-items-center justify-content-between mt-4">
        <div class="col-sm-8 col-6">
          <div class="row no-gutters align-items-center">
            <div class="col-3">
              <img src="images/c++" alt="C++">
            </div>
            <div class="col-9">
              <h5 class="bold">Become a C++ Master</h5>
              <div class="font-normal mt-2">Mentor: Prateek Narang</div>
            </div>
          </div>
        </div>
        <a href="#">
          <span class="font-sm bold">1/4 Courses Completed</span>
          <i class="fas fa-angle-up fa-lg ml-3"></i>
        </a>
      </div>
      <div class="tracks-container">
        <div class="b-left">
          <div class="p-5 position-relative">
            <div class="track-indicator complete">&#8226;</div>
            <div class="row no-gutters align-items-center justify-content-between">
              <div class="col-md-6 col-12 mb-md-0 mb-3">
                <div class="row no-gutters align-items-center">
                  <div class="col-3">
                    <img src="images/c++" alt="C++">
                  </div>
                  <div class="col-9">
                    <h5 class="bold">C++ Master Course</h5>
                    <div class="font-normal mt-2">Mentor: Prateek Narang</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="font-normal">Your Progress</div>
                <div class="mt-3">
                  <progress value="30" max="100" class="d-inline-block w-80 progress-orange"></progress>
                  <span class="bold ml-3">30%</span>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="d-flex justify-content-end">
                  <button class="button-dashed button-orange">Resume</button>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-h content-divider pl-4"></div>
          <div class="p-5 position-relative">
            <div class="track-indicator">&#8226;</div>
            <div class="row no-gutters align-items-center">
              <div class="col-md-6 col-12 mb-md-0 mb-3">
                <div class="row no-gutters align-items-center">
                  <div class="col-3">
                    <img src="images/c++" alt="C++">
                  </div>
                  <div class="col-9">
                    <h5 class="bold">C++ Master Course</h5>
                    <div class="font-normal mt-2">Mentor: Prateek Narang</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="normal">User Ratings</div>
                <div class="mt-3">
                  <span class="pos-rating orange">
                    <i class="fas fa-star pr-2"></i>
                  </span>
                  <span class="pos-rating orange">
                    <i class="fas fa-star pr-2"></i>
                  </span>
                  <span class="pos-rating orange">
                    <i class="fas fa-star pr-2"></i>
                  </span>
                  <span class="pos-rating orange">
                    <i class="fas fa-star pr-2"></i>
                  </span>
                  <span class="neg-rating">
                    <i class="fas fa-star pr-2"></i>
                  </span>
                  <span class="card-md font-normal ml-2">
                    4/5, 435 ratings
                  </span>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="row no-gutters justify-content-end align-items-center">
                  <a href="#">
                    <i class="far fa-heart mr-3 fa-lg"></i>
                  </a>
                  <button class="button-orange button-solid">Explore</button>
                </div>
              </div>
            </div>
          </div>
          <div class="divider-h content-divider pl-4"></div>
        </div>
      </div>
    </div>
  </div>