{{> nav-bar }}
<div class="container mt-5">
  <div class="c-nagarro-banner br-20 mb-5 p-5">
    <div class="row">
      <img class="logo" src="/images/naggaro-logo.png" alt="nagarro-logo">

      <div class="ol-12 col-lg-6">
        <h3 class="bold mb-3 gradient-blue">The destination for workplace learning</h3>
        <div class="mb-5">Keep up with technology with expert-led courses, assessments and tools that
          help you build the skills you need, when you need them.</div>
        <div class="row mb-5">
          <div class="col-4 col-md-3 t-align-c">
            <img src="/images/ng-icon-1.png">
            <div> Learn latest technologies </div>
          </div>
          <div class="col-4 col-md-3 t-align-c">
            <img src="/images/ng-icon-2.png">
            <div> Work on live
              projects</div>
          </div>
          <div class="col-4 col-md-3 t-align-c">
            <img src="/images/ng-icon-3.png">
            <div> Scale your
              company's learning </div>
          </div>
        </div>

        <button class="button-solid">Explore</button>
      </div>

      <div class="col-12 col-lg-6 banner-image">
        <img src="/images/bannerimage.jpg" alt="nagarro-banner-image">
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-between mb-4">
    <div class="col-8">
      <h2>
        Recommended Courses
      </h2>
    </div>

    <button class="button-dashed">View All Courses</button>

  </div>
  <div class="grid row">
    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

    <div class="c-layout-card col-12 col-sm-12   col-md-6 col-lg-4">
      {{>online-card}}
    </div>

  </div>
</div>


<footer>
  <div class="row justify-content-center height-100">
    <div class="col-8">
      <div class="row justify-content-center logo-row">
        <img src="images/online-logo.png" alt="online-logo" class="nav-logo pointer">
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-around links">
        <span class="link">About Us</span>
        <span class="link">|</span>
        <a class="link" href="#">Contact Us</a>
        <span class="link">|</span>
        <a class="link" href="#">Hackerblocks</a>
        <span class="link">|</span>
        <a class="link" href="#">privacy policy</a>
        <span class="link">|</span>
        <a class="link" href="#">terms and conditions</a>
      </div>
      <div class="d-flex flex-row justify-content-center links">
        <span class="link shadow">
          <i class="fab fa-facebook-f"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-twitter"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-youtube"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-github"></i>
        </span>
        <span class="link shadow">
          <i class="fab fa-linkedin-in"></i>
        </span>
      </div>
      <div class="row justify-content-center links text-center">
        Copyright 2018 - Coding Blocks Pvt Ltd
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--  <script src="JS/carousel.js" type="application/javascript"></script> -->
<script src="http://localhost:35729/livereload.js"></script>