<div class="a-ocb">
  <div class="overflow-y-auto no-scrollbar code-window__question-area">
    <div class="font-mds mb-4">Question 2</div>
    <div class="font-sm bold word-wrap">
      loremipsumloremipsumloremipsumloremipsumloremipsumloreremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumloreremipsumloremipsum
    </div>
    <div class="bg-grey h-20 my-4 br-5"></div>
    <div class="mt-5">
      <div class="input-radio gradient-input">
        <input type="radio" name="group-2" id="radio-a" checked="true">
        <label for="radio-a">
          <div class="ml-3">
            <p>
              something
            </p>
          </div>
        </label>
      </div>
      <div class="input-radio gradient-input">
        <input type="radio" name="group-2" id="radio-b">
        <label for="radio-b">something</label>
      </div>
    </div>
  </div>
</div>