<div class="row a-ocb">
  <div class="col-4">
    <div class="img-card">
      <div class="head p-lg-5 p-4 bg-gradient-pink">
        <div class="t-align-r">
          <span class="font-lg pl-1 orange">&#8226;</span>
          <span class="font-lg pl-1 grey">&#8226;</span>
          <span class="font-lg pl-1 grey">&#8226;</span>
          <div class="card-sms">Beginner</div>
        </div>
        <div class="head__course-logo">
          <img src="images/hb_white.png" alt="logo">
        </div>
        <h5 class="bold mt-3">Web Development</h5>
        <div class="mt-2">
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="pos-rating orange">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="neg-rating">
            <i class="fas fa-star pr-2"></i>
          </span>
          <span class="card-md font-normal ml-2">
            4/5, 435 ratings
          </span>
        </div>
      </div>
      <div class="p-lg-5 p-4">
        <div class="card-mentor mb-5">
          <div class="card-mentor-image">
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
            <img class="card-mentors" src="https://avatars0.githubusercontent.com/u/1327050?s=460&v=4"></img>
          </div>
          <div class="pl-4">
            <div class="card-md font-normal">Instructors</div>
            <div class="bold">Arnav Gupta, Ayush Arora</div>
          </div>
        </div>
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="col-lg-8 col-6">
            <div>
              <span class="bold orange font-sm">&#x20b9; 9499</span>
              <span class="card-md bold grey pl-lg-3 pl-1">&#x20b9; <del>12999<del></span>
            </div>
            <div class="card-md mt-1">Batches starting Dec 1st</div>
          </div>
          <button class="button-solid button-orange">Explore</button>
        </div>
        <div class="divider-h my-4"></div>
        <a href="#" class="orange t-align-c d-block card-md font-normal">Try it for Free!</a>
      </div>
    </div>
  </div>
</div>