<div class="a-ocb a-cbm">
  <div class="timeline timeline--theme-light">
    <div class="timeline__top-bar row no-gutters align-items-center justify-content-between">
      <div class="col-3 pr-20">
        <div class="row no-gutters justify-content-between align-items-center">
          <div>
            <a href="#">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cross-black.svg">
            </a>
          </div>
          <div class="flex-1 px-15">
            <div class="font-mds bold text-ellipses video-title">Section 1.4: Optimization</div>
          </div>
          <div>
            <a href="#">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bookmark-black.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="flex-1 px-15">
        <div class="search-bar position-relative">
          <input type="text" placeholder="Search Here">
          <i class="fas fa-search icon"></i>
        </div>
      </div>
      <div class="flex-1 px-15">
        <div class="d-flex align-items-center justify-content-between">
          <span class="font-normal mr-3">Course Progress</span>
          <div class="flex-1">
            <progress value="30" max="100" class="progress-blue"></progress>
          </div>
          <span class="bold ml-3">100%</span>
        </div>
      </div>
      <button class="button-solid button-blue">Exit Class</button>
    </div>
    <div class="row no-gutters timeline__main-area">
      <div class="col-lg-3 col-12 timeline__main-area__content-bar no-scrollbar order-2">

        <div class="position-sticky d-lg-block d-none timeline__main-area__content-bar__title heading-4 bold">
          <div class="bold">
            Course Content
          </div>
        </div>


        <div class="d-lg-none timeline__main-area__content-bar__title--phone">
          <a href="#">
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="col-10">
                <h6 class="bold gradient-text-orange">Section 1.4: Optimization</h6>
                <div class="normal mt-1">Introduction to Python</div>
              </div>
              <i class="far fa-bookmark fa-lg"></i>
            </div>
          </a>
        </div>

        <div class="collapsible-content collapsible-content--hidden">
          <div class="d-lg-none pt-4">
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-normal mr-3">Course Progress</span>
              <div class="flex-1">
                <progress value="30" max="100" class="progress-orange"></progress>
              </div>
              <span class="bold ml-3">100%</span>
            </div>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold gradient-text-orange">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-up fa-lg"></i>
              </div>
            </a>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal gradient-text-yellow">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-12 timeline__main-area__video-area no-scrollbar order-lg-12 order-1">
        <div>
          <div class="overflow-y-auto no-scrollbar bg-white main-card">
           
          </div>
          <div class="row no-gutters align-items-center justify-content-between doubt-card">
            <div class="col-8">
              <h4 class="bold gradient-text-orange">Get 24*7 Doubt &amp; Mentor Support</h4>
              <div class="normal mt-1">Have any queries? Ask a Doubt</div>
            </div>
            <button class="button-solid button-orange">Ask Doubt</button>
          </div>
        </div>

        {{!-- Other Cards Here --}}
      </div>
    </div>
  </div>
</div>