<div class="a-ocb">
  <div class="timeline">
    <div class="timeline__top-bar row mx-0 align-items-center">
      <div class="col-3 white">
        <i class="fas fa-times fa-lg mr-2"></i>
        <span class="font-mds bold">Section 1.4: Optimization</span>
        <i class="far fa-bookmark fa-lg ml-2"></i>
      </div>
      <div class="col-3">
        <div class="input-search nav-search">
          <input type="text" placeholder="Search Course Content">
          <img src="images/searchicon.png" alt="Search">
        </div>
      </div>
    </div>
  </div>
</div>