<div class="a-ocb">
  <div class="timeline">
    <div class="timeline__top-bar row no-gutters align-items-center justify-content-between">
      <div class="col-xl-11 col-10">
        <div class="row no-gutters align-items-center">
          <div class="col-xl-4 col-lg-5 col-6">
            <i class="fas fa-times fa-lg mr-2"></i>
            <span class="font-mds bold">Section 1.4: Optimization</span>
            <i class="far fa-bookmark fa-lg ml-2"></i>
          </div>
          <div class="col-xl-4 col-lg-3 col-6 pr-lg-4">
            <div class="search-bar search-bar--inverted">
              <input type="text" placeholder="Search Here">
              <i class="fas fa-search icon"></i>
            </div>
          </div>
          <div class="col-lg-4 col-12 mt-lg-0 mt-3">
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-normal mr-3">Course Progress</span>
              <div class="flex-1">
                <progress value="30" max="100" class="progress-orange"></progress>
              </div>
              <span class="bold ml-3">100%</span>
            </div>
          </div>
        </div>
      </div>
      <button class="button-solid button-orange">Exit Class</button>
    </div>
    <div class="row no-gutters">
      
    </div>
  </div>
</div>