<div class="a-ocb">
  <div class="timeline">
    <div class="timeline__top-bar row no-gutters align-items-center justify-content-between">
      <div class="col-xl-11 col-10">
        <div class="row no-gutters align-items-center">
          <div class="col-xl-4 col-5">
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="col-1">
                <a href="#" class="white">
                  <i class="fas fa-times fa-lg mr-2"></i>
                </a>
              </div>
              <div class="flex-1">
                <div class="font-mds bold text-ellipses video-title">Section 1.4: Optimization</div>
              </div>
              <div class="col-1">
                <a href="#" class="white">
                  <i class="far fa-bookmark fa-lg ml-2"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-3 pr-4">
            <div class="search-bar search-bar--inverted">
              <input type="text" placeholder="Search Here">
              <i class="fas fa-search icon"></i>
            </div>
          </div>
          <div class="col-4">
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-normal mr-3">Course Progress</span>
              <div class="flex-1">
                <progress value="30" max="100" class="progress-orange"></progress>
              </div>
              <span class="bold ml-3">100%</span>
            </div>
          </div>
        </div>
      </div>
      <button class="button-solid button-orange">Exit Class</button>
    </div>
    <div class="row no-gutters timeline__main-area">
      <div class="col-lg-3 col-12 timeline__main-area__content-bar no-scrollbar order-2">

        <div class="position-sticky d-lg-block d-none">
          <h4 class="bold">
            Course Content
          </h4>
          <div class="divider-h"></div>
        </div>
        <div class="d-lg-none timeline__main-area__content-bar__title--phone">
          <a href="#" class="white">
            <div class="row no-gutters justify-content-between align-items-center">
              <div class="col-10">
                <h6 class="bold gradient-text-orange">Section 1.4: Optimization</h6>
                <div class="normal mt-1">Introduction to Python</div>
              </div>
              <i class="far fa-bookmark fa-lg"></i>
            </div>
          </a>
        </div>

        <div class="collapsible-content collapsible-content--hidden">
          <div class="d-lg-none pt-4">
            <div class="d-flex align-items-center justify-content-between">
              <span class="font-normal mr-3">Course Progress</span>
              <div class="flex-1">
                <progress value="30" max="100" class="progress-orange"></progress>
              </div>
              <span class="bold ml-3">100%</span>
            </div>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold gradient-text-orange">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-up fa-lg"></i>
              </div>
            </a>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10 white">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10 white">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10 white">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
            <div class="row no-gutters justify-content-between align-items-center py-3">
              <a href="#" class="col-10 white">
                <i class="fas fa-play-circle fa-lg mr-4"></i>
                <span class="normal gradient-text-yellow">Introduction to DP</span>
              </a>
              <img src="images/tick_g.png" alt="right" class="video-indicator">
            </div>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
          <div class="timeline__main-area__content-bar__section">
            <a href="#" class="white">
              <div class="row no-gutters justify-content-between align-items-center py-4">
                <div class="col-10">
                  <h6 class="bold">Dynamic Programming</h6>
                  <div class="card-md normal mt-1">5/12 | Due Date: 5 Oct 2019</div>
                </div>
                <i class="fas fa-angle-down fa-lg"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-12 timeline__main-area__video-area no-scrollbar order-lg-12 order-1">
        <div>
          <div class="overflow-y-auto no-scrollbar bg-white main-card">
            {{!-- Content-Here --}}

            {{!-- <h4 class="mb-5 t-align-c pt-4">Leaderboard</h4>
            <table class="w-100">
              <thead class="font-sm extra-bold">
                <td class="pb-4 t-align-c">Rank</td>
                <td class="pb-4">User</td>
                <td class="pb-4 t-align-c">Score</td>
              </thead>
              <tbody>
                <tr class="white extra-bold bg-gradient-blue-lr">
                  <td class="pb-4 pt-4">#40</td>
                  <td class="pb-4 pt-4">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-4">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-4">01</td>
                  <td class="pb-4 pt-4">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-4">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
                <tr class="hover-grey">
                  <td class="pb-4 pt-2">01</td>
                  <td class="pb-4 pt-2">
                    <div class="img-desc align-items-center">
                      <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                      <div class="description ml-3">
                        Siddharth Jain
                      </div>
                    </div>
                  </td>
                  <td class="pb-4 pt-2">2345</td>
                </tr>
              </tbody>
            </table> --}}
          </div>
          <div class="row no-gutters align-items-center justify-content-between doubt-card">
            <div class="col-8">
              <h4 class="bold gradient-text-orange">Get 24*7 Doubt &amp; Mentor Support</h4>
              <div class="normal mt-1">Have any queries? Ask a Doubt</div>
            </div>
            <button class="button-solid button-orange">Ask Doubt</button>
          </div>
        </div>

        {{!-- Other Cards Here --}}
      </div>
    </div>
  </div>
</div>