<div class="c-sidenav bottom-nav">
  <div class="logo pb-5 pt-4 d-md-block d-none">
    <a href="/app/" id="ember282" class="ember-view">
      <img src="/app/images/logo_white.png" alt="Logo">
    </a>
  </div>

  <div class="row all-center">
    <div class="col-2 col-md-12">
      <a href="/app/dashboard" id="ember289" class="active ember-view nav-element py-4 px-2">
        <i id="ember290" class="fas fa-chart-pie fa-2x ember-view"></i>
        <h6 class="pt-2 d-none d-md-block font-sm">Dashboard</h6>
      </a>
    </div>
    <div class="col-2 col-md-12">
      <a href="#" class="nav-element py-4 px-2">
        <i id="ember291" class="fas fa-search fa-2x ember-view"></i>
        <h6 class="pt-2 d-none d-md-block font-sm">Buy Courses</h6>
      </a>
    </div>
    <div class="col-2 col-md-12">
      <a href="#" class="nav-element py-4 px-2">
        <i id="ember292" class="fas fa-graduation-cap fa-2x ember-view"></i>
        <h6 class="pt-2 d-none d-md-block font-sm">Tracks</h6>
      </a>
    </div>
    <div class="col-2 col-md-12">
      <a href="/app/classroom" id="ember293" class="ember-view nav-element py-4 px-2">
        <i id="ember295" class="fas fa-video fa-2x ember-view"></i>
        <h6 class="pt-2 d-none d-md-block font-sm">My Courses</h6>
      </a>
    </div>
    <div class="col-2 col-md-12">
      <a href="/app/jobs" id="ember296" class="ember-view nav-element py-4 px-2">
        <i id="ember297" class="fas fa-suitcase fa-2x ember-view"></i>
        <h6 class="pt-2 d-none d-md-block font-sm">Hiring Blocks</h6>
      </a>
    </div>
    <div class="col-2 col-md-12">
      <a href="#" class="nav-element py-4 px-2">
        <i id="ember298" class="fas fa-shopping-cart fa-2x ember-view"></i>
        <h6 class="pt-2 d-none d-md-block font-sm">My Orders</h6>
      </a>
    </div>
  </div>
</div>

<div class="ml-sidenav">
  Content goes here
</div>