<div class="a-ocb">
  <div class="border-card">
    <div class="horizontal-scrolling-table">
      <table class="comparison-table w-100">
        <thead>
          <tr>
            <td class="v-align-ma">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/compare-med.png" class="mr-3 d-inline-block">
              <span class="bold font-xl">Compare Batches</span>
            </td>
            <td>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/lite-med.png">
              <div class="font-mds extra-bold mt-3">LITE</div>
            </td>
            <td>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/premium-med.png">
              <div class="font-mds extra-bold mt-3 gradient-text-orange">PREMIUM</div>
            </td>
            <td>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live-med.png">
              <div class="font-mds extra-bold mt-3 gradient-text-orange">LIVE</div>
            </td>
            <td>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/classroom-med.png">
              <div class="font-mds extra-bold mt-3 gradient-text-orange">CLASSROOM</div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-1.png" class="mr-3">
                <span>Recorded Videos</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-2.png" class="mr-3">
                <span>Quizzes/Assignments & Projects</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-3.png" class="mr-3">
                <span>Certificate of Completion</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-3.png" class="mr-3">
                <span>Certificate of Achievement/Verified-Skill</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-4.png" class="mr-3">
                <span>Instant Doubt Resolution (TA Support)</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-5.png" class="mr-3">
                <span>Placement Support (via Hiring Blocks)</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-6.png" class="mr-3">
                <span>Goodies & Swags</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-7.png" class="mr-3">
                <span>Live Mentor Sessions - Projects & Doubts</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-8.png" class="mr-3">
                <span>Live Doubt Resolution Sessions (by TA)</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/c-9.png" class="mr-3">
                <span>Offline Classroom Sessions</span>
              </div>
            </td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/red-cross.png"></td>
            <td><img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/green-tick.png"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>