<div class="container">
  <div class="row justify-content-between">
    <div class="my-2 col-md-5 col-lg-2 p-0">
      <div class="border-card p-0">
        <div class="row">
          <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center justify-content-md-start">
            <img src="http://via.placeholder.com/50x50?text=B" alt="" class="mx-4 my-lg-4">
          </div>

          <div class="my-auto py-3 col-8 col-lg-12 bg-grey">
            <div class="mx-4">
              <div class="mt-4 mt-md-0 bold font-lg gradient-text-hi-orange">4500+</div>
              <div>Students Placed</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-2 col-md-5 col-lg-2 p-0">
      <div class="border-card p-0">
        <div class="row">
          <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center justify-content-md-start">
            <img src="http://via.placeholder.com/50x50?text=B" alt="" class="mx-4 my-lg-4">
          </div>

          <div class="my-auto py-3 col-8 col-lg-12 bg-grey">
            <div class="mx-4">
              <div class="mt-4 mt-md-0 bold font-lg gradient-text-hi-orange">12000+</div>
              <div class=" mb-2">Students Taught</div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="my-2 col-md-5 col-lg-2 p-0">
      <div class="border-card p-0">
        <div class="row">
          <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center justify-content-md-start">
            <img src="http://via.placeholder.com/50x50?text=B" alt="" class="mx-4 my-lg-4">
          </div>

          <div class="my-auto py-3 col-8 col-lg-12 bg-grey">
            <div class="mx-4">
              <div class="mt-4 mt-md-0 bold font-lg gradient-text-hi-orange">18000+</div>
              <div class="mb-2">Hours of Study</div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="my-2 col-md-5 col-lg-2 p-0">
      <div class="border-card p-0">
        <div class="row">
          <div class="col-4 col-lg-12 d-flex align-items-center justify-content-center justify-content-md-start">
            <img src="http://via.placeholder.com/50x50?text=B" alt="" class="mx-4 my-lg-4">
          </div>

          <div class="my-auto py-3 col-8 col-lg-12 bg-grey">
            <div class="mx-4">
              <div class="mt-4 mt-md-0 bold font-lg gradient-text-hi-orange">100+ </div>
              <div class="mb-2">Years of Teaching</div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>