<div class="container">
  <div class="row justify-content-between">
    <div class="my-2 col-md-5 col-lg-2 p-0" style="border: 1px solid #F3F3F3;border-radius: 0px 0px 10px 10px;">
      <div class="my-2" style="padding-top: 32px; padding-left: 32px; padding-bottom: 15px;">
        <img src="http://via.placeholder.com/50x50?text=S" alt="suitcase">
      </div>

      <div style="background: #F3F3F3; padding-bottom:14px;
      border-radius: 0px 0px 10px 10px; padding-left: 32px;
      padding-top:17px; padding-bottom: 23px">
        <div class="bold font-lg gradient-text-hi-orange">4500+</div>
        <div>Students Placed</div>
      </div>
    </div>
    <div class="my-2 col-md-5 col-lg-2 p-0" style="border: 1px solid #F3F3F3;border-radius: 0px 0px 10px 10px;">
      <div class="my-2" style="padding-top: 32px; padding-left: 32px; padding-bottom: 15px;">
        <img src="http://via.placeholder.com/50x50?text=H" alt="">
      </div>

      <div style="background: #F3F3F3; padding-bottom:14px;
      border-radius: 0px 0px 10px 10px; padding-left: 32px;
      padding-top:17px; padding-bottom: 23px">
        <div class="bold font-lg gradient-text-hi-orange">12000+</div>
        <div>Students Taught</div>
      </div>
    </div>
    <div class="my-2 col-md-5 col-lg-2 p-0" style="border: 1px solid #F3F3F3;border-radius: 0px 0px 10px 10px;">
      <div class="my-2" style="padding-top: 32px; padding-left: 32px; padding-bottom: 15px;">
        <img src="http://via.placeholder.com/50x50?text=B" alt="">
      </div>
      <div style="background: #F3F3F3; padding-bottom:14px;
      border-radius: 0px 0px 10px 10px; padding-left: 32px;
      padding-top:17px; padding-bottom: 23px">
        <div class="bold font-lg gradient-text-hi-orange">18000+</div>
        <div>Hours of Study</div>
      </div>
    </div>
    <div class="my-2 col-md-5 col-lg-2 p-0" style="border: 1px solid #F3F3F3;border-radius: 0px 0px 10px 10px;">
      <div class="my-2" style="padding-top: 32px; padding-left: 32px; padding-bottom: 15px;">
        <img src="http://via.placeholder.com/50x50?text=R" alt="">
      </div>
      <div style="background: #F3F3F3; padding-bottom:14px;
      border-radius: 0px 0px 10px 10px; padding-left: 32px;
      padding-top:17px; padding-bottom: 23px">
        <div class="bold font-lg gradient-text-hi-orange">100+ </div>
        <div>Years of Teaching</div>
      </div>
    </div>
  </div>
</div>