<div class="c-content-section">
  <div class="content-section">
    <div class="content collapse">
      <div class="header flex-row">
        <div class="dashboard row no-gutters justify-content-between">
          <div onclick="sectionToggler()" class="flex-row white pointer dsp-none-sm font-lg" data-ember-action="" data-ember-action-2222="2222">
            <i class="far fa-times-circle"></i>
          </div>
          <div class="col-4 heading-d align-self-center">
            <h4 class="white">
              💡 Generate Parentheses
            </h4>
          </div>


          <div class="col-3 col-md-3 col-lg-3 align-self-center content-search-container">

            <div class="input-search nav-search dsp-none-sm">
              <input placeholder="Search Contents.." id="ember2234" class="ember-text-field ember-view" type="text">
              <img src="/images/searchicon-06d8faf96de7c883b5440b6594e39eda.png" alt="search">

              <!---->
            </div>

          </div>


          <div class="col-4 pr-5">
            <div class="row justify-content-end">
              <button class="button-solid" data-ember-action="" data-ember-action-2235="2235"> &lt;
                Dashboard</button>
              <button class="red ml-3 dsp-none-sm" data-ember-action="" data-ember-action-2236="2236">
                <!----> Ask Doubts
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="content-container">
        <div class="c-pb">
          <!-- problem-->
          <div class="pb-desk">
            <div class="tab-nav">
              <div class="tab-items active">Problem</div>
              <div class="tab-items">Submissions</div>
              <div class="tab-items">Leaderboard</div>
            </div>

            <div class="c-pb-statement">
              <div class="heading-U">birthday paradox</div>
              <div class="para">
                Your task is simple, determine the minimum number of people required in the room so
                that two have
                same birthday with probability greater than or equal to 'p'. (Assume there are 365 days
                in every year)
              </div>

              <div class="para">
                Your task is simple, determine the minimum number of people required in the room so
                that two have
                same birthday with probability greater than or equal to 'p'. (Assume there are 365 days
                in every year)
              </div>

              <div class="heading">Input Format:</div>
              <div class="para">
                Single line containing the given probability.
              </div>

              <div class="heading">Contraints:</div>
              <div class="faded-cont">
                0&lt; p&lt;=1 </div>
              <div class="heading"> output format</div>
              <div class="para">
                Print an integral value denoting minimum number of people.
              </div>

              <div class="heading">sample input</div>
              <div class="faded-cont">
                0&lt; p &lt;=1 </div>
            </div>
          </div>
          <div id="dragger-ps-ce">
          </div><!-- problem-section | code-editor-->

          <div class="c-code-editor">
            <div id="editor">
            </div>
            <div id="dragger-ce-rs"></div>

            <!---->
            <!-- code-editor -- result-->
            <div class="options-result">
              <div class="editor-options d-flex justify-content-between p-2">
                <div class="li-left">
                  {{!-- <div class="select-list align-self-center pl-3"> --}}
                    <div class="select-box pointer d-flex justify-content-between p-2">
                      C++
                      <span>
                        <i class="fas fa-angle-down"></i>
                      </span>
                    </div>
                    <div class="open-select-box ">
                      <ul>
                        <li class="pointer" data-ember-action="" data-ember-action-2249="2249">
                          C++
                        </li>
                        <li class="pointer" data-ember-action="" data-ember-action-2251="2251">
                          C
                        </li>
                        <li class="pointer" data-ember-action="" data-ember-action-2253="2253">
                          Python 2.7
                        </li>
                        <li class="pointer" data-ember-action="" data-ember-action-2255="2255">
                          Python 3
                        </li>
                        <li class="pointer" data-ember-action="" data-ember-action-2257="2257">
                          Node
                        </li>
                        <li class="pointer" data-ember-action="" data-ember-action-2259="2259">
                          Java 8
                        </li>
                        <li class="pointer" data-ember-action="" data-ember-action-2261="2261">
                          C#
                        </li>
                      </ul>
                    </div>
                  {{!-- </div> --}}
                  <button class="white pl-2" data-ember-action="" data-ember-action-2262="2262">
                    <i class="fas fa-arrow-down"></i>
                    Download Testcases
                  </button>
                </div>
                <div class="li-right">
                  <button class="red" data-ember-action="" data-ember-action-2263="2263">
                    <i class="fas fa-book-open"></i>View Editorial
                  </button>
                  <div>
                    <button class="button-solid">Submit Code</button>
                  </div>
                
                </div>
              </div>
              <div class="result">
                <div class="row no-gutters">
                  <div class="input p-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                      <div class="heading col-md-6">
                        <p>
                          Custom Input
                        </p>
                      </div>
                      <div class="col-md-6">                  
                        <button class="button-solid ">
                          Run Code
                        </button>                        
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-box col-md-12" contenteditable="true"></div>
                    </div>
                  </div>
                  <div class="output p-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                      <div class="heading col-12">
                        <p>
                          Output :
                          <span>

                          </span>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-box col-md-12">
                        <!---->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="section">
      <div class="tab-nav">
        <div class="tab-items">Table Of Content</div>
        <div class="tab-items active">Notes(08)</div>
      </div>

      <div class="section-tabs">
        <div class="notes-list list-shaded spaced invert">
          <div class="list-item">
            <div class="row">
              <div class="li-left col-8 font-sm">
                Very Important Concept
              </div>
              <div class="li-right col-4 col-sm-3 col-md-4 no-gutters">
                <div class="red col-6 bold"><button class="t-align-r">Delete</button></div>
                <div class="red col-6 bold"><button class="t-align-r">Edit</button></div>
              </div>
            </div>
            <div class="row green i mb-2">
              <div class="li-left col-8">
                1.1 Chewbacca and Number
              </div>
              <div class="li-right col-4">
                00:46
              </div>
            </div>
          </div>
          <div class="list-item">
            <div class="row">
              <div class="col-12">
                <textarea class="invert font-sm">Edit mode Edit mode Edit mode Edit mode Edit mode Edit mode</textarea>
              </div>
            </div>
            <div class="row green i mb-2">
              <div class="li-left col-8">
                1.1 Chewbacca and Number
              </div>
              <div class="li-right col-4">
                00:46
              </div>
            </div>

            <div class="row red">
              <div class="li-right col-4 col-sm-3 col-md-4 no-gutters">
                <div class="red col-6 bold"><button class="t-align-r">Cancel</button></div>
                <div class="red col-6 bold"><button class="t-align-r">Save</button></div>
              </div>
            </div>
          </div>

          <div class="list-item">
            <div class="row justify-content-center">
              Note Deleted
              <span class="ml-3">
                <button class="red t-align-r">Undo</button>
              </span>

            </div>
          </div>
        </div>

        <div id="dragger-ps-ce"></div><!-- problem-section | code-editor-->

        <div class="c-code-editor">
          <div id="editor"></div>

          <div id="dragger-ce-rs"></div><!-- code-editor -- result-->

          <div class="options-result">
            <div class="editor-options row justify-content-between">
              <div class="select-list align-self-center">
                <div class="select-box">
                  Choose Language <span>&gt</span>
                </div>
                <div class="open-select-box">
                  <ul class="list-style-circle">
                    <li>
                      C++
                    </li>
                    <li>
                      Python
                    </li>
                    <li>
                      Java
                    </li>
                    <li>
                      C++
                    </li>
                    <li>
                      Python
                    </li>
                    <li>
                      Java
                    </li>
                    <li>
                      C++
                    </li>
                    <li>
                      Python
                    </li>
                    <li>
                      Java
                    </li>
                  </ul>
                </div>
              </div>

              <div class="align-self-center">
                <div class="button-solid">
                  <button>Submit Code</button>
                </div>
              </div>
            </div>

            <div class="footer">
              <div class="list-item">
                <div class="row">
                  <div class="li-left col-9">
                    <textarea class="invert font-sm" placeholder="Add a Note"></textarea>
                  </div>
                  <div class="li-right col-3 align-self-start">
                    <div class="button-solid card-md">
                      <button>Save Note</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>





  <script>
    function sectionToggler() {
      var section = document.getElementsByClassName('section')[0];
      var contentMedia = document.getElementsByClassName('content')[0];
      section.classList.toggle('collapse');
      contentMedia.classList.toggle('collapse');

    }
  </script>