<div class="border-card p-5">
  <h5 class="bold">Projects</h5>
  <div class="divider-h my-4"></div>

  <h6 class="bold orange">Todo List App</h6>
  <div class="card-md font-normal mt-2">
    A task manager with features like 'mark as done', 'cear done tasks' and sorting tasks by their status.
  </div>
  <div class="divider-h my-4"></div>
  <h6 class="bold orange">Todo List App</h6>
  <div class="card-md font-normal mt-2">
    A task manager with features like 'mark as done', 'cear done tasks' and sorting tasks by their status.
  </div>
  <div class="divider-h my-4"></div>
  <h6 class="bold orange">Todo List App</h6>
  <div class="card-md font-normal mt-2">
    A task manager with features like 'mark as done', 'cear done tasks' and sorting tasks by their status.
  </div>
</div>