<div class="c-content-section">
  <div class="curtains">
    <div class="left-curtain">
      <div class="tab-nav">
        <div class="tab-items active">Table Of Content</div>
        <div class="tab-items">Notes(08)</div>
      </div>

      <div class="section-tabs">
        <div class="c-accordion">
          <div class="list-shaded invert">
            <div>
              <div class="row no-gutters pointer">
                <div class="li-left col-8">
                  <div class="col-1">-</div>
                  <div class="col-10">
                    Mathematics 1.0
                  </div>
                </div>
                <div class="li-right col-4">
                  <div class="d-flex flex-column align-items-end">
                    <div>2/6 Lectures Completed</div>
                    <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                  </div>
                </div>
              </div>
              <div class="bellows pb-4 pt-4">
                <div class="row green no-gutters pointer">
                  <div class="li-left col-10">
                    <div class="col-1 code-icon-green-dark content-icon"></div>
                    <div class="col-10">
                      Chewbacca and Number, HackerBlocks Tutorial
                    </div>
                  </div>
                  <div class="li-right  col-2">
                    <div class="status-circle">
                      <div class="circle-back"></div>
                      <div class="circle-front"></div>
                    </div>

                  </div>
                </div>

                <div class="row green no-gutters pointer">
                  <div class="li-left col-10">
                    <div class="col-1 play-icon-green-dark content-icon"></div>
                    <div class="col-10">
                      Tavas and SaDDas, Codeforces 535-B
                    </div>
                  </div>
                  <div class="li-right  col-2">
                    <div class="status-circle">
                      <div class="circle-back"></div>
                      <div class="circle-front"></div>
                    </div>

                  </div>
                </div>

                <div class="row no-gutters pointer">
                  <div class="li-left col-10">
                    <div class="col-1 play-icon-red-dark content-icon"></div>
                    <div class="col-10">
                      Fast Exponentiation

                    </div>
                  </div>
                  <div class="li-right  col-2">
                    <div class="status-circle">
                      <div class="circle-back"></div>
                      <div class="circle-front"></div>
                    </div>

                  </div>
                </div>

                <div class="row no-gutters pointer">
                  <div class="li-left col-10">
                    <div class="col-1 play-icon-red-dark content-icon"></div>
                    <div class="col-10">
                      Unique Number-III, Hackerblocks, Bitmasking
                    </div>
                  </div>
                  <div class="li-right  col-2">
                    <div class="status-circle">
                      <div class="circle-back"></div>
                      <div class="circle-front"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="row no-gutters pointer">
                <div class="li-left col-8">
                  <div class="col-1">+</div>
                  <div class="col-10">
                    Mathematics 1.0
                  </div>
                </div>
                <div class="li-right col-4">
                  <div class="d-flex flex-column align-items-end">
                    <div>2/6 Lectures Completed</div>
                    <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="row no-gutters pointer">
                <div class="li-left col-8">
                  <div class="col-1">+</div>
                  <div class="col-10">
                    Mathematics 1.0
                  </div>
                </div>
                <div class="li-right col-4">
                  <div class="d-flex flex-column align-items-end">
                    <div>2/6 Lectures Completed</div>
                    <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="row no-gutters pointer">
                <div class="li-left col-8">
                  <div class="col-1">+</div>
                  <div class="col-10">
                    Mathematics 1.0
                  </div>
                </div>
                <div class="li-right col-4">
                  <div class="d-flex flex-column align-items-end">
                    <div>2/6 Lectures Completed</div>
                    <div class="red deadline mt-2"><span class="dsp-none-xs">Deadline:</span> 24-Aug-18</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="header flex-row">
        <div class="dashboard row no-gutters justify-content-between">
          <div class="flex-row white pointer dsp-none-xs">
            <i class="fas fa-bars fa-2x" data-target="left"></i>
          </div>
          <div class="col-5 heading-d align-self-center">
            <div class="main-h">
              Fast Exponentiation
            </div>
            <div class="sub-h">
              Mathematics
            </div>
          </div>

          <div class="col-6">
            <div class="row justify-content-end">
              <div class="col-md-4 notify-type align-self-center">
                <div class="notify-text">
                  <span class="notify-dot new"></span>
                  Solve Doubts
                </div>
              </div>

              <div class="button-solid col-12 col-md-4 align-self-center">
                <button>&lt Go to Dashboard</button>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="content-container">
        <div class="c-qna-attempt">
          <div class="quiz-content col-9">
            <h2 class="p-4">
              Quiz - Assignment: Mathematics 2.0
            </h2>
        
            <div class="question p-4">
              <span class="bold">Q1.</span>
              <span class="semi-bold">
                loremipsumloremipsumloremipsumloremipsumloremipsumloreremipsumloremipsum
              </span>
            </div>
        
            <div class="choices p-4">
              <div class="choice mb-3 d-flex marked">              
                <span class="round s-30x30 pointer"></span>
                <div class="pl-3">
                  loremipsumloremipsumloremipsum
                </div>
              </div>
              <div class="choice mb-3 d-flex">              
                <span class="round s-30x30"></span>
                <div class="pl-3">
                  loremipsumloremipsumloremipsum
                </div>
              </div>
              <div class="choice mb-3 d-flex">              
                <span class="round s-30x30"></span>
                <div class="pl-3">
                  loremipsumloremipsumloremipsum
                </div>
              </div>
              <div class="choice mb-3 d-flex">              
                <span class="round s-30x30"></span>
                <div class="pl-3">
                  loremipsumloremipsumloremipsum
                </div>
              </div>
              
            </div>
        
            <div class="t-align-c bold">
              <a href="#">Previous</a>
              |
              <a href="#">Next</a>
            </div>
          </div>
          <div class="quiz-status col-3">
            <div class="row t-align-c">
              <div class="col-4 d-flex align-items-center">
                <div>
                  <div class="font-md">01</div>
                  <div class="red">Hours</div>
                </div>
                <span class="bold pl-3">:</span>
              </div>
              <div class="col-4">
                <div class="font-md">45</div>
                <div class="red">Minutes</div>
              </div>
              <div class="col-4">
                <div class="font-md">54</div>
                <div class="red">Seconds</div>
              </div>
            </div>
            <div class="c-review-pad">
              <div class="title">
                Review Questions
              </div>
              <div class="options">
                <div class="circle bg-green">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle bg-green">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle bg-green">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle bg-green">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle bg-green">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle bg-green">
                  1
                </div>
                <div class="circle">
                  1
                </div>
                <div class="circle">
                  1
                </div>
              </div>
            </div>
        
            <div class="d-flex justify-content-center">
              <div class="button-solid">
                <button>Submit Quiz</button>
              </div>
        
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-curtain collapse">
      {{>doubts-view}}
    </div>



    <script>

      $(".curtains").click((e) => {
        targetCurtain = e.target.attributes['data-target'].nodeValue;

        switch (targetCurtain) {
          case 'left': $(e.currentTarget.children[0]).toggleClass('collapse').siblings().addClass('collapse');
            break;
          case 'right': $(e.currentTarget.children[2]).toggleClass('collapse').siblings().addClass('collapse');
            break;
        }

      })
    </script>