<div class="row no-gutters">
  <div class="col-sm-4 col-12 mb-sm-0 mb-3">
    <div class="bold" style="font-size: 3.571rem;">4.9</div>
    <div class="rating my-2">
      <span class="pos-rating orange">
        <i class="fas fa-star fa-lg"></i>
      </span>
      <span class="pos-rating orange pl-2">
        <i class="fas fa-star fa-lg"></i>
      </span>
      <span class="pos-rating orange pl-2">
        <i class="fas fa-star fa-lg"></i>
      </span>
      <span class="pos-rating orange pl-2">
        <i class="fas fa-star fa-lg"></i>
      </span>
      <span class="neg-rating pl-2">
        <i class="fas fa-star fa-lg"></i>
      </span>
    </div>
    <div class="card-md bold">360 Ratings</div>
  </div>

  <div class="col-sm-8 col-12">
    <div class="row align-items-center mb-2">
      <div class="col-12 col-sm-7">
        <progress value="0.7"></progress>
      </div>
      <div class="col-12 col-sm-5 mt-sm-0 mt-2 rating">
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
      </div>
    </div>
    <div class="row align-items-center mb-2">
      <div class="col-12 col-sm-7">
        <progress value="0.7"></progress>
      </div>
      <div class="col-12 col-sm-5 mt-sm-0 mt-2 rating">
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
      </div>
    </div>
    <div class="row align-items-center mb-2">
      <div class="col-12 col-sm-7">
        <progress value="0.7"></progress>
      </div>
      <div class="col-12 col-sm-5 mt-sm-0 mt-2 rating">
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
      </div>
    </div>
    <div class="row align-items-center mb-2">
      <div class="col-12 col-sm-7">
        <progress value="0.7"></progress>
      </div>
      <div class="col-12 col-sm-5 mt-sm-0 mt-2 rating">
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
      </div>
    </div>
    <div class="row align-items-center mb-2">
      <div class="col-12 col-sm-7">
        <progress value="0.7"></progress>
      </div>
      <div class="col-12 col-sm-5 mt-sm-0 mt-2 rating">
        <span class="pos-rating orange">
          <i class="fas fa-star fa-lg"></i>
        </span>
      </div>
    </div>
  </div>
</div>