<div class="row no-gutters">
  <div class="col-7">
    <div class="border-card">
      <div class="font-md bold mb-5">Student Feedback</div>
      <div class="row no-gutters align-items-center mb-3">
        <div class="col-lg-7">
          <div class="row no-gutters align-items-center">
            <div class="col-sm-6">
              <div class="bold" style="font-size: 3.571rem;">5 / 5.0</div>
              <div class="my-3">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-2">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-2">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-2">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-2">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-2">
              </div>
              <div class="font-sm bold">200 Ratings</div>
            </div>
            <div class="col-sm-6 mt-sm-0 mt-4">
              <div class="d-flex mb-3 align-items-center">
                <progress class="progress-yellow flex-1 mr-2" value="1.02"></progress>
                <span class="card-sm bold mr-1">5</span>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                  style="max-width: 10px !important;">
              </div>
              <div class="d-flex mb-3 align-items-center">
                <progress class="progress-yellow flex-1 mr-2" value="1.02"></progress>
                <span class="card-sm bold mr-1">4</span>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                  style="max-width: 10px !important;">
              </div>
              <div class="d-flex mb-3 align-items-center">
                <progress class="progress-yellow flex-1 mr-2" value="1.02"></progress>
                <span class="card-sm bold mr-1">3</span>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                  style="max-width: 10px !important;">
              </div>
              <div class="d-flex mb-3 align-items-center">
                <progress class="progress-yellow flex-1 mr-2" value="1.02"></progress>
                <span class="card-sm bold mr-1">2</span>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                  style="max-width: 10px !important;">
              </div>
              <div class="d-flex mb-3 align-items-center">
                <progress class="progress-yellow flex-1 mr-2" value="1.02"></progress>
                <span class="card-sm bold mr-1">1</span>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                  style="max-width: 10px !important;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 pl-lg-4 mt-lg-0 mt-5">
          <div class="row no-gutters align-items-center mb-3">
            <div class="s-40x40 br-25 bg-grey mr-2"></div>
            <div class="col-8">
              <div class="card-md bold">John Doe</div>
              <div class="text-ellipses card-md">This is a great course with some excellent content.</div>
            </div>
          </div>
          <div class="row no-gutters align-items-center mb-3">
            <div class="s-40x40 br-25 bg-grey mr-2"></div>
            <div class="col-8">
              <div class="card-md bold">John Doe</div>
              <div class="text-ellipses card-md">This is a great course with some excellent content.</div>
            </div>
          </div>
          <div class="row no-gutters align-items-center mb-3">
            <div class="s-40x40 br-25 bg-grey mr-2"></div>
            <div class="col-8">
              <div class="card-md bold">John Doe</div>
              <div class="text-ellipses card-md">This is a great course with some excellent content.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>