<div class="row no-gutters">
  <div class="col-4">
    <div class="border-card p-5">
      <div class="row no-gutters align-items-center">
        <div class="s-50x50 br-25 bg-grey mr-4"></div>
        <div>
          <h6 class="bold">Shivam Agarwal</h6>
          <div class="card-md font-normal mt-1">Android App Dev</div>
        </div>
      </div>
      <div class="mt-4 font-normal">
        Coding Blocks helped in gaining enough experience to get internships at giants like Google and Rubrik.
      </div>
      <div class="d-flex justify-content-between align-items-center mt-5">
        <div class="extra-bold">Placed at Google</div>
        <img src="/images/feather-award.svg" alt="feather">
      </div>
    </div>
  </div>
</div>