<div class="row no-gutters a-ocb">
  <div class="col-lg-7">
    <div class="bg-dark-grey">
      <div class="p-5">
        <h3 class="bold white mb-5">Recommended Course</h3>
        <div class="row">
          <div class="col-7">
            <div class="border-card p-md-5 p-4 bg-gradient-dpink">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>