<div class="row no-gutters">
  <div class="col-md-3 col-12">
    <div class="border-card bg-gradient-purple white">
      <div class="side-tag">
        <div class="card-sm light" style="letter-spacing: 0.2rem;">THIS COURSE IS A PART OF</div>
        <h4 class="bold gradient-text-yellow">Web Developer Track</h4>
        <div class="normal"> Other courses in this track</div>
      </div>
      <div class="row no-gutters align-items-center my-4">
        <div class="col-lg-3 col-md-12 col-2">
          <img src="https://minio.codingblocks.com/amoeba/24833e09-c299-4265-a41a-af7f63a98e17.svg" class="pr-3"
            style="max-width: 60px !important;">
        </div>
        <div class="flex-1">
          <h6 class="bold">Front-end Development</h6>
          <div class="mt-1">
            <div>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="card-md">
                <strong>4.2/5.0, </strong>
                32 Ratings
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-h"></div>
      <div class="row no-gutters align-items-center my-4">
        <div class="col-lg-3 col-md-12 col-2">
          <img src="https://minio.codingblocks.com/amoeba/24833e09-c299-4265-a41a-af7f63a98e17.svg" class="pr-3"
            style="max-width: 60px !important;">
        </div>
        <div class="flex-1">
          <h6 class="bold">Front-end Development</h6>
          <div class="mt-1">
            <div>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="pos-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="neg-rating">
                <i class="fas fa-star"></i>
              </span>
              <span class="card-md">
                <strong>4.2/5.0, </strong>
                32 Ratings
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <a href="#" class="gradient-text-yellow v-align-ma">
          <span>View Full Track</span>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/arrow_right_orange.svg" class="ml-2">
        </a>
      </div>
    </div>
  </div>
</div>