<div class="a-cbm a-ocb">
  <div class="timeline timeline--theme-light">
    <div class="card overflow-hidden p-0">
      <div class="p-30">
        <div
          class="row no-gutters align-items-center justify-content-between mb-30"
        >
          <div class="flex-1 pr-20">
            <div class="heading-4 bold">Pathway Name</div>
            <div class="text-grey-light-1 mt-10">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,
            </div>
          </div>
          <button class="button-solid button-orange">Continue</button>
        </div>
        <div class="divider-h highlighted-container mb-20"></div>
        <div>Progress:&nbsp;<strong>37% Completed</strong></div>
      </div>
      <div class="row no-gutters align-items-center c-card-carousel mb-30">
        <div class="pathway-card-wrapper pb-40">
          <div class="path-before"></div>
          <div class="card p-10 pathway-card">
            <div class="row no-gutters align-items-center">
              <img
                src="https://images.codingblocks.com/img/newcourse_logo/graph_withbg.png"
                class="s-60x60"
              />
              <div class="flex-1 pl-15">Python for App Development</div>
            </div>
          </div>
          <div class="path-after"></div>
        </div>
        <div class="pathway-card-wrapper pb-40">
          <div class="path-before"></div>
          <div class="card p-10 pathway-card">
            <div class="row no-gutters align-items-center">
              <img
                src="https://images.codingblocks.com/img/newcourse_logo/graph_withbg.png"
                class="s-60x60"
              />
              <div class="flex-1 pl-15">Python for App Development</div>
            </div>
          </div>
          <div class="path-after"></div>
        </div>
        <div class="pathway-card-wrapper pb-40">
          <div class="path-before"></div>
          <div class="card p-10 pathway-card">
            <div class="row no-gutters align-items-center">
              <img
                src="https://images.codingblocks.com/img/newcourse_logo/graph_withbg.png"
                class="s-60x60"
              />
              <div class="flex-1 pl-15">Python for App Development</div>
            </div>
          </div>
          <div class="path-after"></div>
        </div>
        <div class="pathway-card-wrapper pb-40">
          <div class="path-before"></div>
          <div class="card p-10 pathway-card">
            <div class="row no-gutters align-items-center">
              <img
                src="https://images.codingblocks.com/img/newcourse_logo/graph_withbg.png"
                class="s-60x60"
              />
              <div class="flex-1 pl-15">Python for App Development</div>
            </div>
          </div>
          <div class="path-after"></div>
        </div>
        <div class="pathway-card-wrapper pb-40">
          <div class="path-before"></div>
          <div class="card p-10 pathway-card">
            <div class="row no-gutters align-items-center">
              <img
                src="https://images.codingblocks.com/img/newcourse_logo/graph_withbg.png"
                class="s-60x60"
              />
              <div class="flex-1 pl-15">Python for App Development</div>
            </div>
          </div>
          <div class="path-after"></div>
        </div>
        <div class="pathway-card-wrapper pb-40">
          <div class="path-before"></div>
          <div class="card p-10 pathway-card">
            <div class="row no-gutters align-items-center">
              <img
                src="https://images.codingblocks.com/img/newcourse_logo/graph_withbg.png"
                class="s-60x60"
              />
              <div class="flex-1 pl-15">Python for App Development</div>
            </div>
          </div>
          <div class="path-after"></div>
        </div>
      </div>
    </div>
  </div>
</div>
