<div class="row no-gutters">
  <div class="col-lg-8">
    <div class="upgrade-modal">
      <div class="bg-gradient-dpurple px-md-5 px-4 py-md-5 py-4 position-relative">
        <div class="row no-gutters align-items-center">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/upgrade.svg">
          <div class="flex-1 pl-4">
            <div class="font-xxl bold gradient-text-green">Upgrade Now</div>
            <div class="font-md white mt-1">Upgrade now and get access to premimum features!</div>
          </div>
        </div>
      </div>
      <div class="row no-gutters px-md-5 px-4">
        <div class="col-sm-4">
          <div class="flex-col justify-content-between h-100 feature-list">
            <div class="w-100">
              <div class="py-4 border-bottom pr-4">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/premium.svg" class="mr-2">
                <span class="font-md bold gradient-text-orange">Premium</span>
              </div>
              <div class="pt-4 pr-4">
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/certification-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Certificate of Achievement, Verified-Skill</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/briefcase-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Placement Support (via Hiring Blocks)</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/person-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Instant Doubt Resolution (TA Support)</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/goodies-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Goodies &amp; Swags</div>
                </div>
              </div>
              <a href="#" class="gradient-text orange d-block mt-5">view all</a>
            </div>
            <div
              class="row no-gutters align-items-center justify-content-md-between justify-content-center mt-5 mb-4 pt-3 w-100 pr-4">
              <div class="flex-1 d-md-block d-sm-none d-block">
                <div>
                  <span class="font-xl bold gradient-text-orange mr-3">&#8377;&nbsp;2999</span>
                  <span class="med-grey font-md extra-bold"><del>&#8377;&nbsp;5999</del></span>
                </div>
                <div class="gradient-text-orange mt-1">30% Discount</div>
              </div>
              <div class="col-12 mb-3 d-md-none d-sm-block d-none">
                <div>
                  <span class="font-xl bold gradient-text-orange mr-3">&#8377;&nbsp;2999</span>
                  <span class="med-grey font-md extra-bold"><del>&#8377;&nbsp;5999</del></span>
                </div>
                <div class="gradient-text-orange mt-1">30% Discount</div>
              </div>
              <div class="button-solid button-orange">Upgrade</div>
            </div>
          </div>
        </div>
        <div class="divider-h d-sm-none d-block"></div>
        <div class="col-sm-4">
          <div class="flex-col justify-content-between h-100 feature-list">
            <div class="w-100">
              <div class="py-4 border-bottom px-4">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live.svg" class="mr-2">
                <span class="font-md bold gradient-text-orange">Live</span>
              </div>
              <div class="pt-4 px-4">
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/certification-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Certificate of Achievement, Verified-Skill</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/briefcase-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Placement Support (via Hiring Blocks)</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/person-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Instant Doubt Resolution (TA Support)</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/goodies-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Goodies &amp; Swags</div>
                </div>
              </div>
            </div>
            <div
              class="row no-gutters align-items-center justify-content-md-between justify-content-center mt-5 mb-4 pt-3 w-100 px-4">
              <div class="flex-1 d-md-block d-sm-none d-block">
                <div>
                  <span class="font-xl bold gradient-text-orange mr-3">&#8377;&nbsp;2999</span>
                  <span class="med-grey font-md extra-bold"><del>&#8377;&nbsp;5999</del></span>
                </div>
                <div class="gradient-text-orange mt-1">30% Discount</div>
              </div>
              <div class="col-12 mb-3 d-md-none d-sm-block d-none">
                <div>
                  <span class="font-xl bold gradient-text-orange mr-3">&#8377;&nbsp;2999</span>
                  <span class="med-grey font-md extra-bold"><del>&#8377;&nbsp;5999</del></span>
                </div>
                <div class="gradient-text-orange mt-1">30% Discount</div>
              </div>
              <div class="button-solid button-orange">Upgrade</div>
            </div>
          </div>
        </div>
        <div class="divider-h d-sm-none d-block"></div>
        <div class="col-sm-4">
          <div class="flex-col justify-content-between h-100">
            <div class="w-100">
              <div class="py-4 border-bottom pl-4">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/classroom.svg" class="mr-2">
                <span class="font-md bold gradient-text-orange">Classroom</span>
              </div>
              <div class="pt-4 pl-4">
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/certification-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Certificate of Achievement, Verified-Skill</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/briefcase-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Placement Support (via Hiring Blocks)</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/person-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Instant Doubt Resolution (TA Support)</div>
                </div>
                <div class="row no-gutters align-items-center mb-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/goodies-med.svg" class="mr-4">
                  <div class="flex-1 med-grey">Goodies &amp; Swags</div>
                </div>
              </div>
            </div>
            <div
              class="row no-gutters align-items-center justify-content-md-between justify-content-center mt-5 mb-4 pt-3 w-100 pl-4">
              <div class="flex-1 d-md-block d-sm-none d-block">
                <div>
                  <span class="font-xl bold gradient-text-orange mr-3">&#8377;&nbsp;2999</span>
                  <span class="med-grey font-md extra-bold"><del>&#8377;&nbsp;5999</del></span>
                </div>
                <div class="gradient-text-orange mt-1">30% Discount</div>
              </div>
              <div class="col-12 mb-3 d-md-none d-sm-block d-none">
                <div>
                  <span class="font-xl bold gradient-text-orange mr-3">&#8377;&nbsp;2999</span>
                  <span class="med-grey font-md extra-bold"><del>&#8377;&nbsp;5999</del></span>
                </div>
                <div class="gradient-text-orange mt-1">30% Discount</div>
              </div>
              <div class="button-solid button-orange">Upgrade</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>