@each $name, $type in (fingerprint, svg), (user, svg), (mail, svg), (lines, svg) {
  .#{$name}-bg {
    background-image: url("https://minio.codingblocks.com/motley/#{$name}.#{$type}");
  }
}

.bg-none {
  background: transparent !important;
}

.hover-grey {
  &:hover {
    background: $hover-grey;
  }
}

.hover-indicator {
  &:hover {
    background: $hover-grey;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 60%;
      width: 1.25%;
      top: 20%;
      left: 0;
      background: $gradient-orange;
    }
  }
}
