$list:  (red, $fail-red)
        (black, $global-font-text-color)
        (white, $white )
        (grey, $nav-border)
        (green, $font-complete)
        (incorrect, $font-sub-heading);

@each $type, $color in $list {
  .bg-#{$type}{
    background-color: $color  !important;
  }
}

.invert{
  background-color: $invert;
  color: $white;
}