.border-none {
  border: none !important;
}

// BORDERS DIRECTIONS
.border {
  border: solid 1px $search-box-color;
}

@each $direction in ('top', 'right', 'bottom', 'left') {
  .border-#{$direction} {
    border-#{$direction}: solid 1px $search-box-color;
  }
}

// BORDER COLOR
@each $type, $color in
  ('red', $salmon),
  ('green', $light-green),
  ('black', $black),
  ('orange', $orange) {
  .b-#{$type} {
    border-color: $color !important;
  }
}

//BORDER RADIUS
@each $value in
  (5),
  (10),
  (15),
  (20),
  (25),
  (50) {
  .br-#{$value} {
    border-radius: #{$value}px !important;
  }
}

.br-none {
  border-radius: 0 !important;
}

.dashed-border {
  border: 1px dashed #c5c5c5;
}
