// COLORS

@each $abbrev, $color in $text-color-list {
  .#{$abbrev} {
    color: $color !important;
  }
}

@each $abbrev, $color in $gradient-text-color-list {
  .gradient-#{$abbrev} {
    background-image: $color;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

//BACKGROUND COLORS

@each $abbrev, $color in $bg-color-list {
  .bg-#{$abbrev} {
    background-color: $color !important;
  }
}

.invert {
  background-color: $invert;
  color: $white;
}

// GRADIENTS

$gradient-list: (black, "lr", linear-gradient(30deg, #333333, #000000)),
  (black, "bt", linear-gradient(30deg, #333333, #000000));

// @each $type, $direction, $value in $gradient-list {
//   .gradient-#{$type}-#{$direction}{
//     background-image: linear-gradient(30deg, #333333, #000000)  !important;
//   }
// }

// Gradient Backgrounds
@each $label, $gradient in $gradient-map {
  .bg-gradient-#{$label} {
    background: $gradient;
  }
}
