// COLORS

$color-list:  (red, $button-element-level)
        (black, $global-font-text-color)
        (white, $white )
        (grey, $navLink)
        (green, $font-complete)
        (yellow, $yellow);

@each $type, $color in $color-list {
  .#{$type}{
      color: $color  !important;
  }
}

.gradient-red{
  background-image: linear-gradient(to top, #ed798c, #f48c81);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}


// BACKGROUND COLORS

$background-list:  (red, $fail-red)
        (black, $global-font-text-color)
        (white, $white )
        (grey, $search-box-color)
        (green, $font-complete)
        (incorrect, $font-sub-heading)
        (light-grey, $nav-border);

@each $type, $color in $background-list {
  .bg-#{$type}{
    background-color: $color  !important;
  }
}

.invert{
  background-color: $invert;
  color: $white;
}

// GRADIENTS

$gradient-list: (black, 'lr', linear-gradient(30deg, #333333, #000000)),
(black, 'bt', linear-gradient(30deg, #333333, #000000))
;

// @each $type, $direction, $value in $gradient-list {
//   .gradient-#{$type}-#{$direction}{
//     background-image: linear-gradient(30deg, #333333, #000000)  !important;
//   }
// }

.bg-gradient-black-lr{
  background-image: linear-gradient(30deg, #333333, #000000);
}
.bg-gradient-black-bt{
  background-image: linear-gradient(to top, #333333, #000000);
}

.bg-gradient-violet-lr{
  background-image: linear-gradient(to right, #692fdc, #452ba3);
}

.bg-gradient-violet-bt{
  background-image: linear-gradient(to top, #692fdc, #452ba3);
}

.bg-gradient-red-lr{
  background-image: linear-gradient(to right, #ed788d 0%, #ec837a);
}

.bg-gradient-blue-lr{
  background-image: linear-gradient(to right, #193b84, #2675bb);
}

.bg-gradient-blue-bt{
  background-image: linear-gradient(to top, #193b84, #2675bb);
}