// FONT SIZE

$list: (font-xs, $font-xs)
	   (font-sm, $font-sm)
	   (font-mds, $font-mds)
	   (font-md, $font-md)
	   (font-lg, $font-lg)
		 (font-xl, $font-xl)
		 (font-mdxl, $font-mdxl)
	   (font-xxl, $font-xxl)
	   (card-md, $card-md)
	   (card-mds, $card-mds)
	   (card-sm, $card-sm)
	   (card-sms, $card-sms)
	   (card-xs, $card-xs);

@each $type, $size in $list {
  .#{$type}{
    font-size: $size  !important;
  }
}


// FONT STYLE

.i{
    font-style: italic !important;
}

.bold{
    font-weight: $font-medium !important;
}

.normal{
    font-weight: $font-normal !important;
}


// FONT WEIGHT

.regular{
  font-weight: $regular !important;
}

.semi-bold{
  font-weight: $semi-bold !important;
}

.bold{
  font-weight: $bold !important;
}

.extra-bold{
  font-weight: $extra-bold !important;
}
