// Font Size
@each $type, $size in $text-size-list {
  .#{$type} {
    font-size: $size !important;
  }
}

// Font Weight
@each $type, $weight in $text-weight-list {
  .#{$type} {
    font-weight: $weight !important;
  }
}

// Font Style
.i {
  font-style: italic !important;
}
