// Font Size
@each $type, $size in $text-size-list {
  .#{$type} {
    font-size: $size !important;
  }
}

// Font Weight
@each $type, $weight in $text-weight-list {
  .#{$type} {
    font-weight: $weight !important;
  }
}

// Font Style
.i {
  font-style: italic !important;
}

.stroke-font {
  text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4),
    -1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4),
    0 -1px 0 rgba(255, 255, 255, 0.4), 0.5px 0.5px rgba(255, 255, 255, 0.4),
    -0.5px -0.5px 0 rgba(255, 255, 255, 0.4),
    0.5px -0.5px 0 rgba(255, 255, 255, 0.4),
    -0.5px 0.5px 0 rgba(255, 255, 255, 0.4);
}

.text-clamp-ellipses {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  &--2 {
    -webkit-line-clamp: 2;
  }

  &--3 {
    -webkit-line-clamp: 3;
  }
}
