// FONT SIZE

$list: (font-xs, $font-xs) (font-sm, $font-sm) (font-mds, $font-mds) (font-md, $font-md) (font-lg, $font-lg)
  (font-xl, $font-xl) (font-mdxl, $font-mdxl) (font-xxl, $font-xxl) (card-md, $card-md) (card-mds, $card-mds)
  (card-sm, $card-sm) (card-sms, $card-sms) (card-xs, $card-xs);

@each $type, $size in $list {
  .#{$type} {
    font-size: $size !important;
  }
}

// FONT STYLE

.i {
  font-style: italic !important;
}

.normal {
  font-weight: $font-normal !important;
}

// FONT WEIGHT
.light {
  font-weight: $light !important;
}

.regular {
  font-weight: $regular !important;
}

.semi-bold {
  font-weight: $semi-bold !important;
}

.bold {
  font-weight: $bold !important;
}

.extra-bold {
  font-weight: $extra-bold !important;
}

.gradient-text-orange {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $gradient-orange;
}

.gradient-text-green {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $gradient-lgreen;
}

.gradient-text-pink {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: $gradient-pink;
}
