@each $type in ("static") ("relative") ("absolute") ("sticky") ("fixed") {
  .position-#{$type} {
    position: #{$type};
  }
}

.tl,
.tr {
  top: 0;
}

.tl {
  left: 0;
}

.tr {
  right: 0;
}

.bl,
.br {
  bottom: 0;
}

.bl {
  left: 0;
}

.br {
  right: 0;
}

.z-neg {
  z-index: -1;
}

.z-pos {
  z-index: 1;
}

.mt-neg-70 {
  margin-top: -70px;
}
