::-webkit-scrollbar {
  background-color: $white;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: $white;

  &:hover {
    background-color: $scrollbar-color;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $dark-grey-list;
  border-radius: 12px;
  border: 3px solid $white;

  &:hover {
    border: 2px solid $scrollbar-color;
  }
}
