::-webkit-scrollbar {
  background-color: $white;
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: $white;

  &:hover {
    background-color: $scrollbar-color;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $dark-grey-list;
  border-radius: 12px;
  border: 3px solid $white;

  &:hover {
    border: 2px solid $scrollbar-color;
  }
}

.gradient-orange-scroll {
  &::-webkit-scrollbar-thumb {
    &:hover {
      background: $gradient-orange;
    }
  }
}

.transparent-scroll {
  overflow: overlay;

  &::-webkit-scrollbar {
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  
    &:hover {
      background-color: unset;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #fff, $alpha: 0.5);
    border-radius: 12px;
    border: unset;
  
    &:hover {
      border: unset;
    }
  }
}
