@mixin selector ($value) {
  -webkit-user-select: $value;  
  -moz-user-select: $value;     
  -ms-user-select: $value;      
  user-select: $value;          
}

.a-selectable{
  @include selector(none);
}