$text-align: (
  "r": right,
  "l": left,
  "c": center,
  "j": justify
);

$vertical-align: (
  "m": middle,
  "t": top,
  "b": bottom
);

@each $abbrev, $value in $text-align {
  .t-align-#{$abbrev} {
    text-align: $value !important;
  }

  //align all nested
  .t-align-#{$abbrev}a {
    * {
      text-align: $value !important;
    }
  }
}

@each $abbrev, $value in $vertical-align {
  .v-align-#{$abbrev} {
    vertical-align: $value !important;
  }

  //align all nested
  .v-align-#{$abbrev}a {
    * {
      vertical-align: $value !important;
    }
  }
}

.text-ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// responsive versions of text-aligns;
// works similarly as boostrap 4

@each $size, $label in (576px, sm), (768px, md), (992px, lg) {
  @media screen and(min-width: $size) {
    .t-align-#{$label}-r {
      text-align: right !important;
    }

    .t-align-#{$label}-l {
      text-align: left !important;
    }

    .t-align-#{$label}-c {
      text-align: center !important;
    }

    .t-align-#{$label}-j {
      text-align: justify !important;
    }
  }
}

@each $size, $label in (576px, sm), (768px, md), (992px, lg) {
  @media screen and (min-width: $size) {
    .v-align-#{$label}-t {
      vertical-align: top !important;
    }

    .v-align-#{$label}-m {
      vertical-align: middle !important;
    }

    .v-align-#{$label}-b {
      vertical-align: bottom !important;
    }
  }
}

.word-wrap {
  word-wrap: break-word;
}

.circle-list {
  list-style: disc;
}
