language: node_js
node_js:
  - "stable"
sudo: required
before_install: 
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version version-number
  - export PATH="$HOME/.yarn/bin:$PATH"
cache:
  yarn: true
  directories:
    - "node_modules"
install: yarn install
before_script: grunt build
script: 
    - sh create-dir.sh
    - yarn test  
deploy: 
  local-dir: motley-gh
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: travs
