@import "./components/difficulty-dots";
@import "./components/nav-layout";
@import "./components/carousel";
@import "./components/classroom-layout";
@import "./components/dashboard";
@import "./components/homepage";
@import "./components/about-course/buy-top";
@import "./components/about-course/buy-right";
@import "./components/about-course/accordion";
@import "./components/about-course/about-course";
@import "./components/content/content";
@import "./components/content/timeline";
@import "./components/content/problem";
@import "./components/content/video";
@import "./components/content/pb-statement";
@import "./components/content/pb-leaderboard";
@import "./components/content/pb-submissions";
@import "./components/content/document.scss";
@import "./components/content/code-editor";
@import "./components/sidebar";
@import "./components/run-card";
@import "./components/otp-enroll";
@import "./components/offerings.scss";
@import "./components/notification";
@import "./components/qna";
@import "./components/player-modal";
@import "./components/rating-card";
@import "./components/rating-stats";
@import "./components/feedback-modal";
@import "./components/online-card";
@import "./components/my-course-card";
@import "./components/referral-code";
@import "./components/nagarro-banner";
@import "./components/csv/csv";
@import "./components/testimonial";
@import "./components/job-description";
@import "./components/cricket-cup";
@import "./components/hiring-banner.scss";
@import "./components/doubts";
@import "./components/course-card.scss";
@import "./components/course-card-buy.scss";
@import "./components/goodies-card.scss";
@import "./components/sidenav.scss";
@import "./components/tracks.scss";
