.horizontal-quiz-card {
  padding: 60px 100px;
  border-radius: 5px;
  border: 1px solid $hover-grey;

  &__logo {
    max-width: 150px !important;
  }

  &__left-pane {
    padding-right: 100px;
  }

  &__right-pane {
    padding-left: 100px;

    &__navigation {
      margin-top: 65px;

      & > div {
        color: #1f4fe0;
        cursor: pointer;

        &.disabled {
          color: #dcdcdc;
        }
      }
    }
  }

  &__options-row {
    div:first-child:nth-last-child(2),
    div:first-child:nth-last-child(2) ~ div {
      width: 100% !important;
      max-width: 100% !important;
      flex: 0 0 100%;
    }
  }

  @media screen and (max-width: 1199px) {
    padding: 45px 75px;

    &__left-pane {
      padding-right: 75px;
    }

    &__right-pane {
      padding-left: 75px;
    }
  }

  @media screen and (max-width: 991px) {
    padding: 40px 40px;

    &__left-pane {
      padding-right: 40px;
    }

    &__right-pane {
      padding-left: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 40px 40px;

    &__left-pane {
      padding-right: 0;
    }

    &__right-pane {
      padding-left: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 575px) {
    padding: 40px 20px;

    &__logo {
      max-width: 100px !important;
    }

    &__left-pane {
      padding-right: 0;
    }

    &__right-pane {
      padding-left: 0;
      width: 100%;
    }
  }
}
