.know-your-mentor {
  position: relative;

  .beige {
    color: #d69d72;
  }

  &__tag {
    background: #d69d72;
    position: absolute;
    letter-spacing: 3px;
    padding: 9px 25px;
    border-radius: 40px;
    line-height: 22px;
    top: -20px;
    width: fit-content;
    left: calc(50% - 105px);
    z-index: 10;
  }

  &__teacher {
    position: absolute;
    bottom: -4px;
    right: 15%;

    img {
      height: 190px;
    }

    @media screen and (max-width: 767px) {
      right: 0;

      img {
        height: 250px;
      }
    }
  }

  &__skewed-container {
    background: #2A2E37;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 10px;
  }
}
