.tab-nav-underline {
  border-bottom: solid 1px $search-box-color;

  &.inverted {
    border-bottom: solid 1px $border-grey;
  }

  & .tab {
    bottom: -1px;

    &:hover {
      color: $orange;
    }

    &.active {
      border-bottom: solid 1px $orange;
      color: $orange;
      font-weight: $bold;
    }

    margin-right: 3rem;
    font-size: $font-sm;
    font-weight: $font-normal;
    padding-left: 0;
    padding-right: 0;
  }
}