.o-layout-card  {
  display: block;
  padding: 20px 25px;
  position: relative;

  .button-solid {
    position: absolute;
    position: absolute;
    right: 0;
  }

  .button-parent {
    position: relative;
    height: 30px;
  }

  .price-detail {
    margin-top: 25px;
  }

  .pos-rating, .neg-rating, .edit-rating{
    font-size: $global-font-size;
  }

  .rating{
    margin: 23px 0;
  }

  .edit-rating{
    border: none;
  }

  .header{
    margin-bottom: 25px;
  }

  .footer{
    text-align: center;
    font-size: $card-md;
  }

  .card-mentor{
    margin-bottom: 15px;
  }

  .row{
    padding: 0;
  }
}

.grid {
  margin: 0;
  padding:32px;
}

.o-image-card {
  margin-bottom: 20px;
  padding-top: 40px;
}

.o-text-card {
  margin-bottom: 5px;
}

.difficulty-div {
  position: absolute;
  right: 6%;
  top: 30px;
}