.o-qna {
  height: 100%;
  background-color: white;
  padding: 2.5rem;
  overflow: auto;

  .info {
    padding-top: 2.5rem;

    .heading {
      padding: 1rem 0;
    }

    table {
      margin-top: 20px;
    }

    td {
      padding-right: 2rem;
    }
  }

  .attempts {
    margin-top: 20px;

    .card {
      height: auto;
      padding: 2rem;
      display: inline-block;

      td {
        padding: 1.2rem;
      }

      thead {
        font-weight: bold;
      }
    }
  }

  .result-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    height: 500px;

    &:before {
      content: '';
      width: 30px;
      height: 30px;
      border: 1px solid $font-complete;
      border-radius: 50%;
      padding: 2rem;
      background: url('/images/right.svg') no-repeat center;
      background-size: 30px;
    }

    .title {
      margin: 1rem;
    }

    .score-card {
      display: flex;
      width: 40%;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      height: 200px;

      .circle-back {
        position: absolute;
      }

      .circle-container {
        width: 65px;
        margin: 2rem;
        
        .progress-text {
          font-size: 1.3rem;
        }
        
        .sub {
          font-size: 1rem;
          text-align: center;
          margin-top: 0.5rem;
        }

        &.color-green {
          .circle-back {
            opacity: 0.3;
            background: $font-complete;
          }
          .circle-front {
            background: linear-gradient(to top, #8dbf75, #96e6a1);
          }
        }

        &.color-black {
          .circle-back {
            opacity: 0.3;
            background: $global-font-text-color;
          }
          .circle-front {
            background: linear-gradient(to top, #7a7a7a, #414141);
          }
        }
      }
    }
  }

}

.o-qna-attempt {
  display: flex;
  justify-content: space-between;
  height: 100%;
  background-color: white;

  .left {
    .choice {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      cursor: pointer;

      .circle {
        width: 2.2rem;
        height: 2.2rem;  
        border-radius: 50%;
        display: inline-block;
        background-color: $default-border;
      }
      .text {
        padding: 0 1rem;
        display: inline-block;
        margin-right: auto;
      }

      &.marked {
        .circle {
          background-image: linear-gradient(to top, #ed719c, #ec8a6d);
        }
      }

      &.incorrect {
        color: $font-sub-heading;
        font-weight: bold;
        cursor: default;

        .circle {
          background-image: linear-gradient(to top, #ed719c, #ec8a6d);
        }

        &:after {
          content: '';
          width: 20px;
          height: 20px;
          background-image: url('/images/wrong.svg')
        }
      }

      &.correct {
        color: $font-complete;

        .circle {
          background-color: $font-complete;
        }

        &:after {
          content: '';
          width: 20px;
          height: 20px;
          background-image: url('/images/right.svg')
        }
      }
    }

    .navigation {
      display: flex;
      justify-content: center;
      font-weight: 600;
      font-size: 1.2rem;
      padding: 2rem;

      &>a:nth-child(1):after {
        content: '|';
        padding: 0.5rem;
        cursor: default;
      }
    }
  }

  .right {
    background-color: #f7f7f7;
    overflow: auto;
    padding: 1rem 0;
    
  }
}


