.c-doubts {
  background-color: #111;
  color: $white;
  overflow-y: auto;

  .position-sticky {
    background-color: #111;
  }

  input {
    margin: 15px 0;
    background-color: #272727;
  }

  .stars {
    display: flex;
    width: 70%;
    justify-content: space-between;

    i {
      font-size: 1.5rem;
    }
  }

  .tab-nav-underline {
    background-color: $black;
  }

  &.resolved {
    div {
      display: flex;
      justify-content: center;
      padding: 5px 30px;

      &:last-child {
        padding: 5px 60px 40px;
        text-align: center;
        font-style: italic;
        color: whitesmoke;
        opacity: 0.5;
      }
    }
  }

  input,
  textarea {
    background-color: #111;
    padding: 6px;
    border-bottom: 1px solid grey;
    color: grey;
    max-height: 80px;
  }

  textarea:placeholder {
    color: #999;
  }

  p {
    margin: 0.1rem 0;
  }
}
