.c-feedback-modal {
  @include padding-mixin (5%, 10%, 10%, 10%);
  
  .title {
    margin: 30px 0;
  }
  
  .button-solid {
    margin-top: 50px;
  }

  .input-textarea {
    border-radius: 10px;
    resize: none;
  }
}
