.home-container {
  margin-top: 50px;
  padding: 0 4rem;

  .input-search {
    display: none;
    float: none;
  }
}

.home-row {
  min-height: 320px;
  position: relative;
  margin-bottom: 8%;

  .home-column {
    position: relative;
    overflow-x: hidden;
  }
}

.custom-heading {
  .button-dashed {
    float: right;
  }
}

.c-brag-card {
  text-align: center;

  .text {
    font-size: 2.428rem;
    font-weight: $extra-bold;
  }
}

.phone {
  @include dimensions(100%, 555px);

  max-width: 292px;
  z-index: 200;
  position: absolute;
  transform: translate(0%, -20%);
}

.c-phone-content {
  @include dimensions(84%, 95%);

  z-index: -100;
  position: absolute;
  top: 2%;
}

@media all and (max-width: 1048px) {
  .home-container {
    padding: 0;

    .input-search {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  .phone {
    height: auto;
    transform: none;
    max-width: 150px;
  }

  nav {
    .input-search {
      display: none;
    }
  }

  .home-column {
    display: none;
  }
}

@media all and(max-width: 767px) {
  .home-img {
    max-width: unset;
  }
}
