.c-nagarro-banner {
  background-color: #f5fcff;
  color: #69c;

  .title {
    color: #384181;
  }

  .button-solid {
    background: linear-gradient(to right, #384181, #346e98);
  }

  .logo {
    position: absolute;
    width: 140px;
    right: 12%;
    top: 100px;
    z-index: 2;
  }
}

@media screen and (max-width: 992px) {
  .c-nagarro-banner {
    .button-solid {
      margin: 0 auto;
    }

    .logo {
      width: 80px;
      right: 0;
      top: 50px;
    }
  }
}
