.c-offerings {
  .heading {
    margin-bottom: 35px;
    margin-top: 40px;
    font-size: $font-mds;
    font-weight: $bold;
  }

  .border-card {
    max-width: 205px;
    margin: 0 auto;
  }
}

@media all and (max-width: 575px) {
  .c-offerings {
    .offering-card-heading {
      margin-bottom: 15px;
    }
  }
}
