.c-qna {
  height: 100%;
  background-color: white;
  padding: 2.5rem;
  overflow: auto;

  .result-box {
    @include flexbox(column, center, center);

    .circle-back {
      position: absolute;
      opacity: 0.3;
    }

    .circle-front {
      transform: translate(16.5%, 16.5%);
    }

    .color-green {
      .circle-back {
        background: $font-complete;
      }

      .circle-front {
        background: linear-gradient(to top, #8dbf75, #96e6a1);
      }
    }

    .color-black {
      .circle-back {
        background: $global-font-text-color;
      }

      .circle-front {
        background: linear-gradient(to top, #7a7a7a, #414141);
      }
    }
  }
}

.c-qna-attempt {
  height: 100%;
  background-color: $white;
  display: flex;

  .quiz-content {
    overflow: auto;

    .choice {
      align-items: center;

      .round {
        background-color: $default-border;
      }

      &.marked {
        .round {
          background-image: linear-gradient(to top, #ed719c, #ec8a6d);
        }
      }

      &.incorrect {
        color: $font-sub-heading;

        .round {
          background-image: linear-gradient(to top, #ed719c, #ec8a6d);
        }

        &::after {
          content: "";

          @include dimensions(20px, 20px);

          background-image: url("/images/wrong.svg");
          margin-left: 30px;
        }
      }

      &.correct {
        color: $font-complete;

        .round {
          background-color: $font-complete;
        }

        &::after {
          content: "";

          @include dimensions(20px, 20px);

          background-image: url("/images/right.svg");
          margin-left: 30px;
        }
      }
    }
  }

  .quiz-status {
    background-color: $grey-choices;
    overflow: auto;
    padding: 1rem 0;
  }
}
