.c-qna {

  .circle-back {
    position: absolute;
    opacity: 0.3;
  }

  .circle-front {
    transform: translate(16.5%, 16.5%);
  }
}

.c-qna-attempt {
  height: 100%;
  background-color: $white;
  display: flex;

  .quiz-content {
    overflow: auto;
  }

  .quiz-status {
    background-color: $grey-choices;
    overflow: auto;
    padding: 1rem 0;
  }
}
