.c-testimonial{
  .dialog {
    height: 206px;

    .content{
      height: 80px;
      overflow: auto;
      margin-bottom: 10px;
      font-size: $font-xs;
    }

    .footer{
      @include flexbox(column, false, flex-end);
      text-align: right;
    }

    .img-container{
      max-height: 30px;
      width: 25%;
      overflow: hidden;
    }
  } 
}

.c-testimonial-video{
  text-align: center;
  position: relative;
  padding-top: 70px;

  .back-div{
    height: 65%;
  }

  .video-container{
    @include dimensions(85%, 425px);
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
  }

  iframe{
    @include dimensions(100%, 100%);
  }
}