.track-indicator {
  position: absolute;
  top: 2.5rem;
  left: -7px;
  font-size: $font-xl;
  color: $hover-grey;

  &.complete {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-yellow;
  }
}
