.track-indicator {
  position: absolute;
  top: 2rem;
  left: -8px;
  font-size: 2.2rem;
  color: $hover-grey;

  &.complete {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-yellow;
  }
}

.tracks-container {
  padding-left: 7.325%;

  .track-indicator {
    top: 45%;
  }
}
