.c-doubts {
  background-color: #181818;
  color: $white;

  .top {
    position: fixed;
    width: 30%;
    background-color: #181818;
    z-index: 1000;
  }

  .bottom {
    padding-top: 315px;
  }
  
  .new-doubt {
    padding: 30px;
    padding-bottom: 0px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .input-group {
      height: 160px;
      width: 100%;
      margin-top: 20px;

      input {
        margin: 10px 0px;
      }
    }
  }
  
  .nav {
    background-color: #141414;
    display: flex;
    align-content: center;

    .tab {
      padding: 25px 0px;
      text-align: center;
      width: 50%;
      font-size: 1.1rem;
      cursor: pointer;

      &.active {
        color: $salmon;
        border-bottom: 1px solid $salmon
      }
    }
  }

  .doubt-card {
    background-color: #272727;
    
    .body {
      padding: 30px;
      padding-bottom: 20px;
      color: whitesmoke;

      .title {
        font-size: 1.2rem;
      }

      .text {
        font-style: italic;
        color: whitesmoke;
        opacity: 0.5;
        font-size: 1.1rem;
      }

      .comment-toggle {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 1.1rem;
        cursor: pointer;

        i {
          padding-left: 7px;
          font-size: 1.4rem;
        }
      }

      input {
        margin: 15px 0px;
        background-color: #272727
      }
    }

    .threads {
      padding: 22px 12%;
      background-color: #181818;

      .thread {
        padding-left: 6%;
        padding-bottom: 20px;
        border-left: 1px solid gray;

        .time {
          color: whitesmoke;
          opacity: 0.5;
          font-size: 0.9rem;
        }

        .title {
          font-size: 1.1rem;
        }

        .text {
          font-style: italic;
          color: whitesmoke
        }

        .horizontal-half {
          padding-top: 0px;
        }
      }

      .thread:after {
        content: '';
        height: 1px;
        background-color: grey;
        margin-top: 10px;
        display: block;
        opacity: 0.6;
      }

      .thread:last-child:after {
        display: none
      }
    }

    .horizontal-half {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $salmon;
      padding: 13px 0;
    }

    &.resolved {

      div {
        display: flex;
        justify-content: center;
        padding: 5px 30px;
      }

      div:last-child {
        padding: 5px 60px;
        padding-bottom: 40px;
        text-align: center;
        font-style: italic;
        color: whitesmoke;
        opacity: 0.5;
      }
    }
  }

  .doubt-card:after {
    content: '';
    background-color: #141414;
    display: block;
    height: 5px;
  }
  

  .button-solid {
    @include dimensions(115px, 35px);
    font-size: 1rem;
  }

  input, textarea {
    background-color: #181818;
    padding: 6px;
    border-bottom: 1px solid grey;
    color: grey;
    font-size: 1rem;
    max-height: 80px;
  }
  
  textarea:placeholder {
    color: #999;
  }
    
   
}