.c-run-card {
  padding: 8% 7%;
  height: auto;

  .card-heading{
    margin-bottom: 20px;
    font-size: $font-sm;
    max-width: unset;
  }

  .card-text {
    @include dimensions(auto, auto);
    font-size: $card-md;
    display: block;
  }

  .batch {
    margin-bottom: 25px;
  }

  .grey {
    color: $navLink;
  }

  .red {
    color: $button-element-level;
  }

  .price {
    font-size: $font-sm;
    color: $button-element-level;
  }

  .price-detail {
    padding: 0;
  }

  .my-course-enroll{
    font-size: $card-md;
    margin-top: 15px;
    position: relative;
  }

  .button-parent{
    height: 40px;
  }

  .button-solid{
    max-width: 121px;
    top: 3px;
    right: 0;
    left: unset;
  }

  .button-dashed{
    @include border(solid, 1.5px, $button-element-level);
    position: absolute;
    right: 0;
    top: 3px;
    margin: 0;
    // font-size: $card-md;
  }

  .card{
    max-width: 540px;
  }

  .divider-v{
    @include dimensions(1px, 35px);
    margin: 0 3%;
    background: $global-font-text-color;
  }

  .card-mentor-divider{
    margin: 15px 0;
    // margin: 20px 0;
  }

  .tag-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .pill, .pill-sm{
    @include margin(3px, 6px, 3px, 0);
  }

  .font-sm{
    font-size: $card-md;
  }

  .row{
    padding: 0;
  }
}