.c-run-card {
  padding: 8% 7%;

  .price {
    font-size: $font-xl;
    color: $button-element-level;
  }

  h3{
    margin-bottom: 1.5rem;
  }

  .my-course-enroll{
    font-size: $card-md;
  }

  .divider-v{
    @include dimensions(1px, 35px);
    margin: 0 3%;
  }

  .divider-h{
    margin: 2rem 0;
  }
}