.links{
  @include margin(50px, 0, 0, 0);
}

.auth-link{
  @include flexbox(column, true);
  width: 100%;
  padding-bottom: 100%;
  font-size: $font-xs;
  font-weight: 600;
  text-align: center;
  position: relative;

  .button-circle {
    @include margin(0, 0, 30px, 0);
    @include dimensions(100%, 100%);
    text-align: center;
    font-size: $font-xs;
    font-weight: 600;
    max-width: 50px;
    max-height: 50px;
    min-width: 30px;
    min-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .link-text{
    position: absolute;
    bottom: -25px;
    left: 0;
  }
}

.facebook{
  background: $facebook;
}

.google{
  background: $google;
}

.twitter{
  background: $twitter;
}

.github{
  background: $global-font-text-color;
}

.linkedin{
  background: $linkedin;
}