.banner-carousel-container {
  @keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }

  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }

  *::-webkit-scrollbar {
    width: 0;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

  * {
    -ms-overflow-style: none;
  }

  ol,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .banner-carousel {
    position: relative;
    height: 75vh;
  }

  .banner-carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .banner-carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #3f3f3f;
    background-size: cover !important;
  }

  .banner-carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

  @media (hover: hover) {
    .banner-carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }

    .banner-carousel__slide:last-child .banner-carousel__snapper {
      animation-name: tostart, snap;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .banner-carousel__snapper {
      animation-name: none;
    }
  }

  .banner-carousel:hover .banner-carousel__snapper,
  .banner-carousel:focus-within .banner-carousel__snapper {
    animation-name: none;
  }

  .banner-carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
    text-align: center;
  }

  .banner-carousel__navigation-list,
  .banner-carousel__navigation-item {
    display: inline-block;
  }

  .banner-carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }

  .banner-carousel__navigation-button:active,
  .banner-carousel__navigation-button:hover {
    background-color: #fff;
  }

  .banner-carousel::before,
  .banner-carousel::after,
  .banner-carousel__prev,
  .banner-carousel__next {
    position: absolute;
    top: calc(50% - 2rem);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }

  .banner-carousel::before,
  .banner-carousel__prev {
    left: -1rem;
  }

  .banner-carousel::after,
  .banner-carousel__next {
    right: -1rem;
  }

  .banner-carousel::before,
  .banner-carousel::after {
    content: "";
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }

  .banner-carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }

  .banner-carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }
}

.slideshow-container {
  position: relative;
  height: 75vh;
  overflow: hidden;

  &__slide {
    display: none;
  }

  &__prev,
  &__next {
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    top: 0;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  &__next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  &__navigation-dots {
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #6a6a6a;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;

      &:hover {
        background-color: $white;
      }
    }
  }

  .active {
    background-color: $white;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px) {
    height: auto;
  }
}
