%border-card{
    @include dimensions(100%, auto);
    border-radius: 15px;
    border: solid 1px $border-card-border-color;
    background-color: $white;
    overflow: hidden;
}

.border-card {
    @extend %border-card;
    padding: 2.1428rem;
}