%border-card{
    @include dimensions(100%, auto);
    border-radius: 15px;
    border: solid 1px #e8e8e8;
    background-color: $white;
}

.border-card {
    @extend %border-card;
    padding: 30px;
}