%border-card {
  @include dimensions(100%, auto);

  border-radius: 15px;
  border: solid 1px $border-card-border-color;
  background-color: $white;
  overflow: hidden;
}

.border-card {
  @extend %border-card;

  padding: 2.1428rem;
}

.card-tag {
  position: absolute;
  right: 0;
  border-right: solid 3px salmon;
}
