.breadcrumbs {
  .active {
    color: unset;
  }

  & > * {
    display: inline-block;
    position: relative;

    &::after {
      content: "\232a";
      display: block;
      position: absolute;
      left: -3px;
      top: 0;
    }

    &:first-of-type::after {
      display: none;
    }

    &:last-child {
      font-weight: $regular;
    }

    &:first-child {
      padding-left: 0 !important;
    }
  }
}
