%button-text {
  @include font($global-font-family, $font-xs, inherit);
}

@each $type, $width, $height, $border-radius, $background, $color, $font-weight, $padding-top-bottom,
  $padding-right-left
    in (
      dashed,
      $dashed-button-width,
      $dashed-button-height,
      $dashed-border-radius,
      $dashed-button-background,
      $dashed-button-color,
      $dashed-button-weight,
      10px,
      15px
    ),
  (
    solid,
    $solid-button-width,
    $solid-button-height,
    $solid-button-border-radius,
    $button-gradient,
    $solid-button-color,
    $solid-button-weight,
    10px,
    15px
  ),
  (
    circle,
    $circle-button-width,
    $circle-button-height,
    $circle-button-border-radius,
    $circle-button-background,
    $circle-button-color,
    0,
    0
  )
{
  .button-#{$type} {
    @extend %button-text;

    @include border-radius($border-radius);
    display: inline-block;

    background-color: $background;
    color: $color;
    padding: $padding-top-bottom $padding-right-left;
    font-weight: $font-weight;

    &.lg {
      padding: 15px 30px;
      border-radius: 30px;
    }

    &.md {
      padding: 10px 25px;
    }

    transition: 0.3s;
  }
}

.button-solid {
  background-image: $button-gradient;
  background-size: 200%;

  &:hover {
    background-position: right center;
  }

  &.button-pink-orange {
    background-image: $hi-gradient-pink-orange-lr;
    background-size: 100%;
  }

  &.button-orange {
    background-image: $button-gradient-orange;
  }

  &.button-green {
    background-image: $button-gradient-green;
  }

  &.button-white {
    background: $white !important;
    color: $black;
  }

  &.disabled,
  &:disabled {
    cursor: auto;
    background: $button-gradient-disabled;
  }
}

.button-solid:active {
  transform: translate (1px, -1px);
  box-shadow: 2px 1px 5px rgba(236, 131, 122, 0.8);
}

.button-dashed {
  border: 1px solid;

  &:hover {
    color: $white !important;
  }

  &.button-pink-orange {
    border: solid 1px $hello-intern-pink;
    color: $hello-intern-pink;

    &:hover {
      background-image: $hi-gradient-pink-orange-lr;
    }
  }

  &.button-orange {
    border: solid 1px $orange;
    color: $orange;

    &:hover {
      background-image: $gradient-orange;
    }
  }

  &.button-green {
    border: solid 1px $green;
    color: $green;

    &:hover {
      background-image: $gradient-green;
    }
  }

  &.button-white {
    border: solid 1px $white;
    color: $white;

    &:hover {
      background: $white;
      color: $dark-grey !important;
    }
  }

  &.disabled,
  &:disabled {
    border-color: $faded-text !important;
    color: $faded-text !important;
    cursor: auto;

    &:hover {
      background: $button-gradient-disabled !important;
      color: $white !important;
    }
  }
}

@media screen and (max-width: 575px) {
  .button-align-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
