#mentors {
  @include border-radius(50%);

  position: absolute;
  display: inline-block;
  background-color: $card-mentor;
}

.card-mentor-image {
  position: relative;
  width: 16%;
  height: 0;
  float: left;
  padding-bottom: 10.5%;
  border-radius: 35%;
}

.card-mentors {
  @include dimensions(66%, 100%);

  max-width: 40px !important;
  max-height: 40px;
}

@for $i from 0 through 2 {
  .card-mentors:nth-child(#{$i + 1}) {
    @extend #mentors;

    z-index: 100 - $i;
    -ms-transform: translateX(multiply-px($i, 63%));
    -webkit-transform: translateX(multiply-px($i, 63%));
    transform: translateX(multiply-px($i, 63%));
  }
}

.card-mentor-text {
  padding-left: 5px;
  font-size: $card-md;
  position: relative;
  float: left;
  width: 84%;
}

.card-mentor-name {
  overflow: hidden;
  font-size: $font-sm;
}

.card-mentor-divider {
  border: 0.5px solid $card-mentor;
  margin: 10px 0;
}

.card-mentor {
  margin: {
    top: 30px;
    bottom: 15px;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  .card-mentor-text {
    font-size: $card-md;
    padding-left: 15px;
  }

  .card-mentor-name {
    font-weight: $semi-bold;
  }

  @media screen and (max-width: 767px) {
    margin-top: 0;
    display: flex;
  }

  @media screen and (max-width: 575px) {
    .card-mentor-text {
      font-size: $card-sms;
      padding-left: 5px;
      top: 0;
    }

    .card-mentor-name {
      font-size: $card-sm;
    }
  }
}

.mentor-row {
  display: flex;
  align-items: center;

  &__image-container {
    display: flex;

    &__mentor-image {
      border-radius: 50%;
      background-color: $card-mentor;
      border: 1px solid $white;

      @for $i from 0 through 2 {
        &:nth-child(#{$i + 1}) {

          z-index: 100 - $i;
          -ms-transform: translateX(multiply-px($i, -37%));
          -webkit-transform: translateX(multiply-px($i, -37%));
          transform: translateX(multiply-px($i, -37%));
        }
      }
    }
  }
}
