.c-card-carousel {
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  justify-content: flex-start;
  align-items: stretch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card {
  @include border-radius(15px);
  padding: 30px;
  box-shadow: 0 20px 57px 0 $card-box-shadow;
  background: $white;
}

.card-image {
  width: 17%;
}

@media screen and (max-width: 767px) {
  .c-card-carousel-small {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    justify-content: flex-start;
    align-items: stretch;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
