#mentors {
  @include border-radius(50%);
  position: absolute;
  display: inline-block;
  background-color: $card-mentor;
}

.card-mentor-image {
  position: relative;
  width: 16%;
  height: 0;
  float: left;
  padding-bottom: 10.5%;
  border-radius: 500px;
}

.card-mentors{
  @include dimensions(66%, 100%);
  max-width: 40px !important;
  max-height: 40px;
}

@for $i from 0 through 2 {
  .card-mentors:nth-child(#{$i+1}) {
    @extend #mentors;
    z-index: 100 - $i;
    -ms-transform: translateX(multiply-px($i,63%)) ;
    -webkit-transform: translateX(multiply-px($i,63%)) ;
    transform: translateX(multiply-px($i,63%)) ;
  }
}

.card-mentor-text {
  padding-left: 5px;
  font-size: $card-md;
  position: relative;
  float: left;
  width: 84%
}

.card-mentor-name {
  overflow: hidden;
  font-size: $font-sm;
}

.card-mentor-divider {
  border: .5px solid $card-mentor;
  margin: 10px 0;
}