@font-face {
  font-family: "BebasNeue";
  src: url("https://minio.codingblocks.com/public/Bebas_Neue.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("https://minio.codingblocks.com/motley/Gilroy.ttf");
}

@font-face {
  font-family: "GreatVibes";
  src: url("https://minio.codingblocks.com/public/GreatVibes-Regular.ttf");
}

.certificate-lite {
  height: 839px;
  width: 1381px;
  background: $white;
  font-family: "Gilroy", sans-serif;

  &__left-section {
    width: 220px;
    height: 100%;
    position: relative;
    background: linear-gradient(0deg, #19316c, #01b3c9);

    img {
      position: absolute;
      bottom: 48px;
      left: 48px;
    }
  }

  &__right-section {
    flex: 1;
    padding: 80px 0 0 100px;
    position: relative;

    &__logo {
      height: 80px !important;
    }

    &__title {
      margin-top: 36px;
      font-size: 82px;
      font-family: "BebasNeue", sans-serif !important;
      margin-bottom: 37px;
    }

    &__badge {
      position: absolute;
      background: linear-gradient(0deg, #19316c, #01b3c9);
      top: 0;
      right: 68px;
      width: 235px;
      height: 220px;
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);

      .position-relative {
        .extra-bold {
          bottom: 25%;
          font-size: 37px;
        }
      }
    }

    &__description {
      margin-top: 136px;
    }

    &__signature-row {
      margin-top: 38px;

      .signature-divider {
        height: 1px;
        width: 169px;
        background: #646464;
        margin-bottom: 17px;
      }

      div:nth-child(2) {
        .signature-divider {
          margin-top: 21px;
        }
      }
    }
  }
}

.certificate-excellence {
  height: 485px;
  width: 1000px;
  background: #16171c;
  position: relative;
  border-radius: 10px;
  font-family: "Gilroy", sans-serif;

  &__main-section {
    padding: 44px 183px 44px 75px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    &__right-section {
      width: 377px !important;

      &__divider {
        opacity: 0.5;
        margin: 42px 0 25px 0;
      }
    }

    &__left-section {
      width: 313px !important;
      border-radius: 10px;
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(
        90deg,
        #ffda82 2.25%,
        #bf8442 13.23%,
        #dbae63 42.19%,
        #b38a4b 53.2%,
        #b67f36 64.66%,
        #855929 77.64%,
        #ffdc83 87.62%,
        #d69c51 98.11%
      );

      &::after {
        content: "";
        background: #16171c;
        position: absolute;
        border-radius: 10px;
        width: 309px;
        height: calc(100% - 4px);
        z-index: 0;
      }

      &__content {
        padding: 30px 31px 30px 31px;
        z-index: 1;
        width: 100%;

        &__divider {
          opacity: 0.5;
          margin: 24px 0 19px 0;
        }
      }
    }

    &__title1 {
      font-family: "BebasNeue", sans-serif;
      font-size: 80px;
      margin-top: 18px;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: linear-gradient(
        90deg,
        #ffda82 2.25%,
        #bf8442 13.23%,
        #dbae63 42.19%,
        #b38a4b 53.2%,
        #b67f36 64.66%,
        #855929 77.64%,
        #ffdc83 87.62%,
        #d69c51 98.11%
      );
    }

    &__title2 {
      font-family: "GreatVibes";
      font-size: 64px;
      margin-top: -28px;
    }
  }
}

.certificate-completion {
  height: 840px;
  width: 1150px;
  position: relative;
  font-family: "Gilroy", sans-serif;
  background: linear-gradient(293.4deg, #19316c -4.31%, #01b3c9 98.54%);
  padding: 70px 0 70px 135px;
  color: $white;

  &__title {
    margin-top: 36px;
    font-size: 82px;
    font-family: "BebasNeue", sans-serif !important;
    margin-bottom: 37px;
  }

  &__logo {
    height: 80px;
  }

  &__course-logo {
    height: 150px;
    width: 150px;
    top: 60px;
    right: 92px;
    position: absolute;
    border-radius: 50%;
    background: inherit;
    border: 5px solid $white;
    padding: 30px;
  }

  &__divider {
    height: 1px;
    width: 225px;
    // margin-top: 38px;
    background: rgba(255, 255, 255, 0.5);
  }

  &__description {
    margin-top: 96px;
  }

  &__signature-row {
    margin-top: 38px;

    .signature-divider {
      height: 1px;
      width: 169px;
      background: $white;
      margin-bottom: 17px;
    }

    div:nth-child(2) {
      .signature-divider {
        margin-top: 21px;
      }
    }
  }
}



.certificate-nagarro{
  height: 1414px;
  width: 2000px;
  .heading{
    margin-top: 70px;
    margin-left: 149px;
    font-size: 130px;
    color: rgba(53, 75, 91, 1);
  }
  .subheading{
    font-size: 40px;
    margin-left: 149px;
    padding-top:15px;
    font-weight: 600;
    color: #ED7235;    
  }
  .presented{
    font-size: 30px;
    padding-top: 80px;
    margin-left: 149px;
  }
  .person{
    font-size:80px;
    padding-top: 60px;
    margin-left: 149px;
    letter-spacing: 0.02em;
    color: rgba(19, 41, 75, 1);
  }
  .description{
    padding-top: 40px;
    margin-left: 149px;
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
  }
  .sign{
    margin-left: 94px;
    width: 600;
  }

  .date{
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    padding-top: 210px;
    padding-right:229px ;
  }

}