.dcb-card{
    color: $white;
    margin: 0;

    .img-card{
        padding: 40px 45px 40px 40px;
        background-image:linear-gradient(to right, #193b84, #2675bb);
    }

    .float-left{
        float: left;
    }

    .float-right{
        float: right;
    }
    
    .dcb-heading{
        font-size: $font-mds;
        font-weight: $extra-bold;
        margin-bottom: 15px;
    }

    .dcb-subheading{
        font-size: $font-mds;
        font-weight: bold;
    }

    .scale-large{
        transform: scale(1.5)
    }

    .dcb-content{
        font-size: $font-xs;
    }

    .dcb-divider{
        height: 1px;
    }

    .button-solid{
        background-image: linear-gradient($white, $white);
        font-size: $font-sm;
        color: #246db3;
        font-weight: $bold;
    }

    .button-solid:hover {
        box-shadow:  0 0px 20px 0 $white;
    }
}