.divided-list{
    list-style: none;

    .list-item{
        float: left;
        padding: 0 15px;
        display: inline-block;

        &:not(:last-child){
            border-right: solid 1px $white;
        }

        &:first-child{
            padding: 0 15px 0 0;
        }
    }

    .list-heading{
        font-size: $font-sm;
        font-weight: $extra-bold;
    }

    .list-data{
        font-size: $font-sm;
        color: $white;
        font-weight: $bold;
    }
}

// @media screen and (max-width: 576px){
//     .divided-list{
//         .list-item{
//             .list-heading{
//                 font-size: $font-xs;
//             }

//             .list-data{
//                 font-size: $font-xs;
//             }
//         }
//     }
// }

// @media screen and (max-width: 492px){
//     .divided-list{
//         .list-item{
//             .list-heading{
//                 font-size: $card-sm;
//             }

//             .list-data{
//                 font-size: $card-sm;
//             }
//         }
//     }
// }

// @media screen and (max-width: 418px){
//     .divided-list{
//         .list-item{
//             .list-heading{
//                 font-size: $card-xs;
//             }

//             .list-data{
//                 font-size: $card-xs;
//             }
//         }
//     }
// }
