//<hr> divider horizontal
.divider-h {
  @include dimensions(100%, 1px);

  background: $border-divider;

  &.content-divider {
    background-clip: content-box !important;
  }
}

//<hr> divider vertical
.divider-v {
  @include dimensions(1px, 100%);

  background: $border-divider;
}
