.divided-list{
    list-style: none;

    .list-item{
        float: left;
        padding: 5px 15px 5px 15px;
        display: inline-block;

        &:not(:last-child){
            border-right: solid 2px $white;
        }
    }

    .list-heading{
        font-size: 1.143rem;
        color: #ffcc66;
        font-weight: 800;
    }

    .list-data{
        font-size: 1.143rem;
        color: $white;
    }
}

