%fade {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: $white;
  display: block;
  z-index: 100;
}

.fade-left::before {
  @extend %fade;

  left: 0;
  width: 10px;
  box-shadow: 6px 0 5px $white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fade-right::after {
  @extend %fade;

  right: -1px;
  width: 10px;
  box-shadow: -6px 0 5px $white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
