/*--------------------------INPUT TEXT---------------------------*/
.input-text {
  @include dimensions(100%, 47px);
  font-size: $font-mds;
  padding: 0 20px;
  background-color: $card-mentor;
  border: none;
  border-radius: 10px;

  &.icon {
    background-size: 25px;
    padding-left: 80px;
    background-color: $nav-border;
    background-repeat: no-repeat;
    background-position-x: 30px;
    background-position-y: center;
  }
}

.input-btn {
  position: relative;

  input {
    padding-right: 95px;
  }

  button {
    @include dimensions(auto, auto);
    position: absolute;
    right: 30px;
    top: 35%;
  }
}

.input-text[disabled] {
  background: $disabled-input;
}

/*--------------------------INPUT CHECKBOX---------------------------*/
.input-checkbox {
  position: relative;

  & > input {
    visibility: hidden;
    margin-right: 10px;
  }

  &.checkbox-tick > input:checked ~ span::before,
  &.checkbox-tick > input:checked + span::before {
    width: 4px;
    height: 10px;
    border: solid 1px #333333;
    content: "";
    position: absolute;
    z-index: 101;
    left: 6px;
    top: 4px;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }

  &.checkbox-solid > input:checked ~ span::before,
  &.checkbox-solid > input:checked + span::before {
    content: "";
    @include dimensions(16px, 16px);
    position: absolute;
    z-index: 101;
    left: 0;
    top: 2px;
    background: $checkbox-solid;
  }

  & > input ~ span::after,
  & > input + span::after {
    content: "";
    @include dimensions(16px, 16px);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 2px;
    background: $nav-border;
    visibility: visible;
    cursor: pointer;
  }
}

// @each $abbrev, $color in $checkbox-solid{
//   .input-checkbox.checkbox-solid.#{$abbrev} > input:checked ~ span::before,
//   .input-checkbox.checkbox-solid.#{$abbrev} > input:checked + span::before {
//     background: $color;
//   }
// }

.input-textarea {
  @include dimensions(100%, auto);
  @include padding-mixin(20px, 20px, 20px, 20px);
  background: $nav-border;
  border: none;
}

