/* --------------------------INPUT TEXT--------------------------- */
.right-input {
  position: relative;

  span {
    position: absolute;
    right: 3%;
    bottom: 28%;
  }

  .input-text {
    height: 50px;
  }
}

.input-text {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: $card-mentor;
  border: none;
  width: 100%;

  &.icon {
    background-size: 25px;
    padding-left: 5.7142rem;
    background-repeat: no-repeat;
    background-position: 2.1428rem center;
  }

  &--non-rounded {
    border-radius: 0;
  }
}

.input-btn {
  position: relative;

  input {
    padding-right: 6.7857rem;
  }

  a {
    position: absolute;
    right: 2.1428rem;
    top: 35%;
  }

  button {
    position: absolute;
    right: 2.1428rem;
    top: 25%;

    &.centered {
      top: 35%;
    }
  }
}

/* --------------------------INPUT CHECKBOX--------------------------- */
.input-checkbox {
  position: relative;

  & > input {
    visibility: hidden;
    margin-right: 10px;
  }

  &.checkbox-tick > input:checked ~ span::before,
  &.checkbox-tick > input:checked + span::before {
    width: 4px;
    height: 10px;
    border: solid 1px #333;
    content: "";
    position: absolute;
    z-index: 101;
    left: 6px;
    top: 4px;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }

  &.checkbox-solid > input:checked ~ span::before,
  &.checkbox-solid > input:checked + span::before {
    content: "";

    @include dimensions(16px, 16px);

    position: absolute;
    z-index: 101;
    left: 0;
    top: 2px;
    background: $checkbox-solid;
  }

  &.checkbox-solid > input:checked ~ span.salmon-gradient::before,
  &.checkbox-solid > input:checked + span.salmon-gradient::before {
    background: $button-gradient;
  }

  & > input ~ span::after,
  & > input + span::after {
    content: "";

    @include dimensions(16px, 16px);

    position: absolute;
    z-index: 100;
    left: 0;
    top: 2px;
    background: $nav-border;
    visibility: visible;
    cursor: pointer;
  }
}

// @each $abbrev, $color in $checkbox-solid{
//   .input-checkbox.checkbox-solid.#{$abbrev} > input:checked ~ span::before,
//   .input-checkbox.checkbox-solid.#{$abbrev} > input:checked + span::before {
//     background: $color;
//   }
// }

.input-textarea {
  @include dimensions(100%, auto);
  @include padding-mixin(20px, 20px, 20px, 20px);

  background: $nav-border;
  border: none;
}

@media screen and (max-width: 575px) {
  .input-text {
    height: 40px;
    padding-left: 25px;

    &.icon {
      padding-left: 40px;
      background-size: 15px;
      background-position-x: 10px;
    }
  }

  .input-btn {
    input {
      padding-right: 70px;
    }

    button {
      right: 10px;
    }
  }
}

/* -----------------------RADIO BUTTONS------------------------ */

label.input-radio {
  position: relative;
  line-height: 25px;
  padding-left: 25px;

  input {
    visibility: hidden;
  }

  & > span:last-child {
    &::after {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      margin: auto;
      width: 25px;
      height: 25px;
      background-color: $t-heading-border;
      border-radius: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  input:checked ~ span:last-child::after {
    background: $gradient-orange-lr;
  }
}

// CSS FOR SELECT LIST

select.underline-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  color: $dark-grey;
  flex: 1;
  cursor: pointer;
  background: $white;
  padding-bottom: 1.25rem;

  &::-ms-expand {
    display: none;
  }

  &:active {
    background: $white;
  }
}

.select-container {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $hover-grey;

  &::after {
    content: "\003E";
    position: absolute;
    color: $dark-grey;
    top: 25%;
    right: 0;
    transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
    cursor: pointer;
    pointer-events: none;
    transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
    opacity: 0.6;
  }

  &:hover::after {
    opacity: 1;
  }

  &:active::after {
    transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
  }
}
