/*--------------------------INPUT TEXT---------------------------*/
.input-text {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: $card-mentor;
  border: none;
  width: 100%;

  &.icon {
    background-size: 25px;
    padding-left: 5.7142rem;
    background-repeat: no-repeat;
    background-position: 2.1428rem center;
  }
}

.input-btn {
  position: relative;

  input{
    padding-right: 6.7857rem;
  }

  button{
    position: absolute;
    right: 2.1428rem;
    top: 25%;
  }
}

/*--------------------------INPUT CHECKBOX---------------------------*/
.input-checkbox {
  position: relative;

  & > input {
    visibility: hidden;
    margin-right: 10px;
  }

  &.checkbox-tick > input:checked ~ span::before,
  &.checkbox-tick > input:checked + span::before {
    width: 4px;
    height: 10px;
    border: solid 1px #333333;
    content: "";
    position: absolute;
    z-index: 101;
    left: 6px;
    top: 4px;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }

  &.checkbox-solid > input:checked ~ span::before,
  &.checkbox-solid > input:checked + span::before {
    content: "";
    @include dimensions(16px, 16px);
    position: absolute;
    z-index: 101;
    left: 0;
    top: 2px;
    background: $checkbox-solid;
  }

  & > input ~ span::after,
  & > input + span::after {
    content: "";
    @include dimensions(16px, 16px);
    position: absolute;
    z-index: 100;
    left: 0;
    top: 2px;
    background: $nav-border;
    visibility: visible;
    cursor: pointer;
  }
}

// @each $abbrev, $color in $checkbox-solid{
//   .input-checkbox.checkbox-solid.#{$abbrev} > input:checked ~ span::before,
//   .input-checkbox.checkbox-solid.#{$abbrev} > input:checked + span::before {
//     background: $color;
//   }
// }

.input-textarea {
  @include dimensions(100%, auto);
  @include padding-mixin(20px, 20px, 20px, 20px);
  background: $nav-border;
  border: none;
}

@media screen and (max-width: 575px){
  .input-text{
    height: 40px;
    padding-left: 25px;

    &.icon{
      padding-left: 40px;
      background-size: 15px;
      background-position-x: 10px;
    }
  }

  .input-btn{
    input{
      padding-right: 70px;
    }

    button{
      right: 10px;
    }
  }
}
