.hb-leaderboard{
    color: #333333;
    
    .border-card{
        padding: 20px 0;
    }

    table{
        thead{
            color: $hb-blue;
        }

        tbody{
            color: $global-font-text-color;
            text-align: center;

            .self{
                background-image: $bg-gradient-blue-lr;
                color: $white;
                font-weight: $extra-bold;
            }
        }
    }
}