.input-search {
  @include border-radius(28px);

  position: relative;
  border: none;
  background-color: transparent;
  font-size: $font-sm;
}

.input-search > img {
  width: 18px;
  height: 18px;
  top: 30%;
  left: 89%;
  position: absolute;
}
