.img-card{
  @extend %border-card;
  overflow: hidden;

  .head {
    color: white;
    position: relative;
    transition: all 0.35s ease;

    .back-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      @include padding-mixin (25px, 25px, 46px, 25px);
      @include dimensions(100%, 100%);
      position: relative;
    }
  }


  .foot{
    padding: 20px 30px;
    position: relative;
  }

  .round-img-b {
      @include dimensions (86px, 86px);
      min-height: 86px;
      position: absolute;
      bottom: -43px;
      left: 30px;
  }
  
}

@media screen and (max-width: 767px){
  .img-card{
    .round-img-b{
      position: static;
    }
  }
}