.img-card {
  @extend %border-card;

  .head {
    color: white;
    position: relative;
    transition: all 0.35s ease;

    .content {
      @include dimensions(100%, 100%);
      padding: 1.8rem;
      position: relative;
    }
  }

  .foot {
    padding: 20px 30px;
    position: relative;
  }

  .round-img-b {
    @include dimensions(86px, 86px);
    min-height: 86px;
    position: absolute;
    bottom: -43px;
    left: 30px;
  }
}

.back-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

@media screen and (max-width: 767px) {
  .img-card {
    display: flex;
    font-size: $font-xs;

    .round-img-b {
      position: static;
    }

    .head {
      @include dimensions(45%, auto);
    }

    .foot {
      width: 55%;
    }
  }
}
