%list-item{
  padding: 15px 20px;
  
  .row{
    width: 100%;
    padding: 0;
  }

  & > .row:not(:last-child){
    padding-bottom: 10px;
  }
}

.list-divided{
  @include border(solid, 1px, $border);
  @include border-radius(5px);

  & > *:not(:last-child){
    border-bottom: solid 1px $border; 
  }

  .list-item{
    @extend %list-item;
  }
}

.list-shaded{
  & > *:not(:last-child){
    margin-bottom: 6px;
  }

  > *{
    background-color: $light-filter;
  }

  &.invert{
    background-color: $spaced-black;

    > *{
      background-color: $dark-filter;
    }
  }

  .list-item{
    @extend %list-item;
  }
}

.li-left{
  @include flexbox(row, flex-start, center);
  margin-right: auto;
  text-align: left;

  & > *{
    padding-left: 0;
    text-align: left;
    flex: 0 0 auto;
  }
}

.li-right{
  @include flexbox(row, flex-end, center);
  margin-left: auto;
  text-align: right;

  & > * {
    padding-right: 0;
    text-align: right;
    flex: 0 0 auto;
  }
}

@include li-left-right-padding(left, 5%);
@include li-left-right-padding(right, 5%);

.list-style-circle{
  list-style: circle !important;

  *{
    list-style-type: circle !important;
  }
}

.list-style-disc{
  list-style: disc !important;

  *{
    list-style-type: disc !important;
  }
}

.list-style-square{
  list-style: square !important;
  
  *{
    list-style-type: square !important;
  }
}