.main-nav {
  border-bottom: 1px solid $nav-border;
  padding: 20px;
  position: fixed;
  top:0;
  background: $white;
  width: 100%;
  height: 70px;
  max-height:70px;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  margin:  0;
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-items {
  @include font($global-font-family, $font-sm, $global-font-weight);
  display: inline-block;
  @include margin(null, null, null, 40px);
  position: relative;
}

.nav-items:hover {
  color: $button-gradient;
}

.nav-search{
  width: 350px;
}

.nav-logo {
  height: 43px;
}

.pointer {
  cursor: pointer;
}

.pointer {
  .notify-dot {
    position: absolute;   
  }
}

.active {
  color: $button-element-level;
}

.nav-right, .nav-left{
  display: flex;
  align-items: center;
}

@media all and (max-width: 875px) {
  .main-nav{
    .hamburger-parent {
      display: inline-block;
      opacity: .4;
      font-size: $font-md;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  .menu-icon {
    display: inline-block;
    @include dimensions(50px, 50px);
    background-size: 50px ;
    background-image: url("/images/menu-icon.png");
  }
}

@media all and(max-width: 575px){
  .nav-logo{
    height: 30px;
    margin: 0;
  }

  .logo-link{
    min-width: unset;
  }

  .main-nav{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;

    .hamburger-parent{
      font-size: $font-xs;
    }

    .card{
      @include padding-s(5px, 25px);
      width: 240px;
    }

    .nav-info{
      font-size: $card-md;

      .flex-row{
        @include padding-s(20px, 0);
      }
    }

    .round-img{
      @include dimensions(40px, 40px);
    }
  }

}
