%pill {
  @include width-fit();
  @include border-radius(25px);
  @include selector(none);

  display: inline-block;
  background-color: $otp-input-bg;
  cursor: default;
}

.pill-sm {
  @extend %pill;

  padding: 0.4285rem, 0.8571rem;
  font-size: $card-sms;
}

.pill {
  @extend %pill;

  padding: 0.7142rem 1.4285rem;

  &.pill-dashed {
    background: unset;
    border: solid 1px $orange;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: $gradient-orange;
  }
}

.pill-lg {
  @extend %pill;

  padding: 1rem 2.1428rem;

  @include border-radius(30px);

  font-size: $font-sm;
}
