%pill{
  @include width-fit();
  @include border-radius(25px);
  @include selector(none);
  display: inline-block;
  background-color: $otp-input-bg;
  cursor: default;
}

.pill-sm{
  @extend %pill;
  @include padding-s(6px, 12px);

  font-size: $card-sms;
}

.pill{
  @extend %pill;
  @include padding-s(10px, 20px);
}

.pill-lg{
  @extend %pill;
  @include padding-s(15px, 30px);
  @include border-radius(30px);

  font-size: $font-sm;
}

