.previous-dcb{
    padding: 40px;

    .list-divided{
        & > *:not(:last-child){
            border-bottom: unset; 
          }        
    }
    h4{
        color: #111f31;
    }

    .divided-list{
        .list-item{
            .list-heading{
                color: #246db3;
                font-size: $font-xs;
            }
            
            .list-data{
                color: #111f31;
                font-size: $font-xs;
            }

            &:not(:last-child){
                border-right: solid 1px #999999;
            }
        }
    }

    .button-solid-white{
        color: #246db3;
        font-weight: $bold;
        border: solid 1px #246db3;
    }

    @media screen and (max-width: 575px){
        .divided-list{
            .list-item{
                .list-heading{
                    font-size: $card-md;
                }

                .list-data{
                    font-size: $card-md;
                }
            }
        }
    }
}