.radial-progress{
	width: 100px;
	height: 100px;
}

.radial-progress .track, .radial-progress .fill{
	fill: rgba(0, 0, 0, 0);
	stroke-width: 10;
	transform: rotate(90deg)translate(0px, -80px);
}

.radial-progress .track{
	stroke: rgba(255,255,255,0.2);
}

.radial-progress .fill {
	stroke: rgb(255, 255, 255);
	stroke-dasharray: 219.99078369140625;
	stroke-dashoffset: -219.99078369140625;
	transition: stroke-dashoffset 1s;
}

.radial-progress.blue .fill {
	stroke: rgb(104, 214, 198);
}

