%round-img{
  @include border-radius(50%);
  display: inline-block;
  background-color: $nav-border;
  overflow: hidden;
}

.round-img{
  @include dimensions(99px, 99px);
  @extend %round-img;
  img{
    max-width: 100%;
  }
}


//round-img with border
.round-img-b{
  @extend %round-img;
  @include border(solid, 4px, white);
}

.round{
  @include border-radius(50%);
}