.tab-nav{
  @include dimensions(100%, 75px);
  @include flexbox(row);
  background-color: $global-font-heading-color;
  color: $white;
  font-size: $font-md;
  font-weight: $font-medium;
  justify-content: space-around;
  .active{
    border-bottom: solid 4px $button-element-level;
  }
}

.tab-icons, .tab-items{
  cursor: pointer;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.tab-items{
  display: flex;

  &:hover{
    color: $button-element-level;
  }
}

.tab-icons{
  display: none;
  padding: 0 9%;
}

.tab-nav-underline {
  justify-content: space-around;
  display: flex;
  align-items: center;
  border-bottom: solid 2px $search-box-color;
  font-size: $font-sm;
  bottom: -2px;

  & .tab {
    padding: 15px 5%;
    font-weight: $extra-bold;
    color: #333;
    position: relative;
    cursor: pointer;
    bottom: -2px;

    &.active {
      border-bottom: solid 3px $salmon;
      color: $salmon;
    }
  }
}

@media all and (max-width: 767px){
  .tab-items {
    display: none;
  }
  .tab-icons {
    display: flex;
  }
}

@media all and (max-width: 575px){
  .tab-nav{
    height: 50px;
  }
}
