.tag{
  @include border-radius(10px);
  @include selector(none);
  padding: 3px 12px;
  background-color: $nav-border;

  &.red{
    color: white !important;
    background-image: $button-gradient;
  }
}