.timer{
    .timer-item{
        float: left;
        padding: 5px 15px 5px 15px;
        display: inline-block;
        width: 50px;

        .list-heading{
            font-size: 1.428rem !important;
            font-weight: 800 !important;
            color: $white !important;
            width: 50px;
            text-align: center;
        }
    
        .list-data{
            font-size: 0.875rem !important;
            width: 50px;
            text-align: center;
            transform: translateY(-12px)
        }
        
        .fa-clock{
            color: $white;
            text-align: center;
            width: 40px;
            transform: translateY(8px)
        }
    }
}