.timer {
  margin: 0;

  .timer-item {
    padding: 0 15px 0 0;
    float: left;
    display: inline-block;

    .list-heading {
      font-size: $font-md;
      text-align: center;
    }

    .list-data {
      font-size: $card-md;
      text-align: center;
    }
  }
}

ul.divided-list.timer > *:not(:last-child) {
  border-right: unset;
}
