.address-card {
  
  .button-solid {
    font-size: $font-md;
    max-width: 100%;
  }
}
.heading-bar {
  font-size: $font-md;
  .heading {
    font-size: $font-xl;
    font-weight: normal;
  }
}
.heading {
  margin-bottom: 14px;
}
.select-card {
  @include border(solid, 2px, $button-element-level);
}
.c-address-card{
  height: auto;
  padding: 40px 30px;
  margin-bottom: 30px;

  .heading{
    font-size: $font-mds;
    margin-bottom: 15px;
  }

  .row{
    padding: 0;
    width: 100%;
  }
  
  .para{
    height: 108px;
    overflow: auto;
    margin-bottom: 0px;

    &::-webkit-scrollbar{
      background: transparent;
    }
  }

  .button-dashed{
    @include dimensions(49%, 50px);
    @include border-radius(63px);
    font-size: $font-mds;
    max-width: 178px;
  }

  .button{
    font-size: $font-sm;

    button{
      padding: 0;
    }
  }
}
