//Theme for CricketCup

.main-nav,
.sidebar {
  %red-blue-gradient {
    background-image: linear-gradient(to right, #e9414d, #2d2982);
  }

  .button-dashed {
    @extend %red-blue-gradient;

    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: 2px solid $cricket-cup;
  }
}
