<div class="container">
  <div class="border-card p-5">
    <div class="d-flex mb-5">
      <div class="li-left">
        <div>
          <h2>
            Hi, Siddharth
          </h2>
          <div class="font-mds">
            Start building your profile now
          </div>
        </div>
      </div>
      <div class="li-right font-sm">
        <button class="button-dashed lg button-orange">&lt; Back</button>
        <button class="button-solid lg button-orange">Save & Continue &gt;</button>
      </div>
    </div>

    <div class="profile-timeline">
      <div class="profile-timeline__event">
        <div class="s-60x60 bg-gradient-green round"></div>
        <div class="profile-timeline__event__tag font-sm">
          Intrduction
        </div>
      </div>
      <div class="profile-timeline__event">
        <div class="s-60x60 bg-gradient-green round"></div>
        <div class="profile-timeline__event__tag font-sm">
          Experience
        </div>
      </div>
      <div class="profile-timeline__event">
        <div class="s-60x60 bg-gradient-green round"></div>
        <div class="profile-timeline__event__tag font-sm">
          Skill Set
        </div>
      </div>
      <div class="profile-timeline__event">
        <div class="s-60x60 bg-gradient-green round"></div>
        <div class="profile-timeline__event__tag font-sm">
          Others
        </div>
      </div>
    </div>
  </div>
</div>