<div class="container">
  <div class="border-card p-5">
    <div class="row">
      <div class="col-12 col-md-3 border-right">
        <div class="s-120x120 mb-5">
          <img class="round wh-100" src="https://www.templatebeats.com/files/images/profile_user.jpg" alt="">
        </div>

        <ul class="mb-5">
          <li class="mb-3">
            <i class="fab fa-linkedin-in font-mds mr-3"></i>
            www.linkedin.com/sidjain
          </li>
          <li class="mb-3">
            <i class="fab fa-github font-mds mr-3"></i>
            www.gihub.com/sidjain2901
          </li>
          <li class="mb-3">
            <i class="fab fa-stack-overflow font-mds mr-3"></i>
            www.stackoveflow.com/sid
          </li>
        </ul>

        <button class="button-solid lg button-orange lg font-sm">
          Share Profile
          <i class="fas fa-share-alt ml-1"></i>
        </button>
      </div>
      <div class="col-12 col-md-9 pl-md-5">
        <div class="d-flex">
          <div class="li-left">
            <div>
              <h2 class="mb-3">
                Siddharth Jain
                <span class="tag tag-orange ml-3">Awaiting Verification</span>
              </h2>
              <div class="bold orange">
                <span>Experience: 3+Years</span>
                <span>Experience: 3+Years</span>
              </div>
            </div>
          </div>
          <div class="li-right">
            <div>
              <button class="button-dashed lg button-orange regular">&lt; Edit</button>
            </div>
            <div>
              <button class="button-solid lg button-orange">Download as PDF</button>
            </div>
          </div>
        </div>

        <div class="divider-h my-4"></div>

        <div class="d-flex">
          <ul class="mr-4">
            <li class="mb-4">
              Current Location: <span class="bold">Noida</span>
            </li>
            <li class="mb-4">
              Current CTC: <span class="bold">12 LPA</span>
            </li>
          </ul>
          <ul class="mr-4">
            <li class="mb-4">
              Preferred Location: <span class="bold">Noida, Delhi, Pune</span>
            </li>
            <li class="mb-4">
              Earliest Joining Date: <span class="bold">January 2020</span>
            </li>
          </ul>
        </div>

        <div class="divider-h mb-4"></div>

        <div class="mb-4">
          Interested Roles
          <span class="mx-2"></span>
          <span class="pill-dashed">Software Development</span>
          <span class="pill-dashed">Dev Ops</span>
        </div>
        
        <p class="pt-2">
          In 2000 I co-founded Fog Creek Software, where we created lots of cool things like the FogBugz bug tracker, Trello, and
          Glitch. I also worked with Jeff Atwood to create Stack Overflow and served as CEO of Stack Overflow from 2010-2019.
          
          Today I serve as the chairman of the board for Stack Overflow, Glitch, and HASH.

        </p>

      </div>
    </div>

  </div>
</div>