.badge-container {
  position: relative;

  .badge-number {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 25%;
    background-color: $white;
    border-radius: 50%;
    top: 10%;
    right: -8%;
    border: 2px solid #6fd9fc;
    color: #6fd9fc;
    font-size: 0.7vw;

    @media screen and (max-width: 767px) {
      font-size: 2vw;
    }
  }

  .badge-number--blue {
    border-color: #6fd9fc;
    color: #6fd9fc;
  }

  .badge-number--orange {
    border-color: #f46e3c;
    color: #f46e3c;
  }

  .badge-number--red {
    border-color: #b81a69;
    color: #b81a69;
  }

  .badge-number--yellow {
    border-color: #f8c332;
    color: #f8c332;
  }
}
