.c-code-window {
  margin-top: -70px;
  height: 100vh;

  .top-bar {
    z-index: 100;
    flex: 1;
  }

  .side-bar {
    z-index: 500;
    position: fixed;

    .active {
      background: $white;

      * {
        color: $orange;
      }
    }
  }

  .tab-nav-underline {
    top: 0;

    & .tab {
      &.active {
        border-bottom: solid 2px $navLink;
      }
    }
  }

  .flex-col {
    align-items: unset;
  }

  .code-area {
    height: calc(100vh - 118px);
  }

  .question-card{
    overflow-y: auto;
    height: calc(100vh - 202px);
    position: relative;
  }

  .options {
    grid-template-columns: repeat(4, 1fr);

    .circle {
      @include dimensions(50px, 50px);
      background-color: $interview-grey;
    }
  }
}
