.code-window {
  margin-top: -70px;

  &__logo {
    height: 120px;
  }

  &__top-bar {
    z-index: 100;
  }

  &__side-bar {
    z-index: 500;
    position: fixed;

    .active {
      background: $white;

      * {
        color: $orange;
      }
    }
  }

  &__input-div {
    textarea {
      max-height: 200px;
    }
  }

  .tab-nav-underline {
    top: 0;
    z-index: 1;

    & .tab {
      &.active {
        border-bottom: solid 2px $navLink;
      }
    }
  }

  .flex-col {
    align-items: unset;
  }

  &__question-card {
    overflow-y: auto;
    height: calc(100vh - 202px);
    position: relative;
  }

  .options {
    grid-template-columns: repeat(4, 1fr);

    .circle {
      @include dimensions(50px, 50px);
      background-color: $interview-grey;
    }
  }

  @media screen and (min-width: 768px) {
    height: 100vh;

    &__code-area {
      height: calc(100vh - 120px);
    }

    &__top-bar {
      height: 120px;
    }
  }

  &__question-card--phone {
    transition: margin 0.5s;
    z-index: 1;

    .questions {
      height: 250px;
    }
  }

  &__question-card--phone--hidden {
    margin-bottom: -250px;
  }

  &--mb-45 {
    margin-bottom: 45px;
  }
}

.cast-window {
  @media screen and (min-width: 768px) {
    .code-window__question-area {
      height: calc(100% - 66px);
    }

    &__logo {
      height: 128px;
      flex-basis: 118px;
    }
  }
}
