.c-code-window {
  margin-top: -70px;

  .logo {
    height: 118px;
  }

  .top-bar {
    height: 128px;
    z-index: 100;
    flex-basis: 118px;
  }

  .side-bar {
    z-index: 500;
    position: fixed;

    .active {
      background: $white;

      * {
        color: $orange;
      }
    }
  }

  .tab-nav-underline {
    top: 0;
    z-index: 1;

    & .tab {
      &.active {
        border-bottom: solid 2px $navLink;
      }
    }
  }

  .flex-col {
    align-items: unset;
  }

  .question-card {
    overflow-y: auto;
    height: calc(100vh - 202px);
    position: relative;
  }

  .options {
    grid-template-columns: repeat(4, 1fr);

    .circle {
      @include dimensions(50px, 50px);
      background-color: $interview-grey;
    }
  }

  @media screen and (min-width: 769px) {
    height: 100vh;

    .code-area {
      height: calc(100vh - 118px);
    }
  }
}

.c-cast-window {
  .code-area {
    height: calc(100vh - 128px);
  }

  .question-area {
    height: calc(100% - 66px);
  }

  .logo {
    height: 128px;
    flex-basis: 118px;
  }
}
