.contest-card {
  background: transparent;

  .head {
    padding-bottom: 75px !important;
    height: 180px;
  }

  .foot {
    padding-top: 75px !important;
  }

  .img-head {
    height: 210px;

    .back-img {
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .header-img {
    height: 60%;
    right: 5%;
    bottom: 0;
  }

  .course-logo {
    left: 10%;
    bottom: -50px;
    background: inherit;
  }
}
