.c-daily-goal-card {
  text-align: center;

  .divider-h {
    background-clip: content-box;
  }

  @include progress(10px, $gradient-blue-lr);
}

@media screen and (max-width: 1200px) {
  .c-daily-goal-card {
    padding: 30px;
  }
}

@media screen and (max-width: 992px) {
  .c-daily-goal-card {
    padding: 20px;
  }
}