.dashboard {
  .divided-list {
    & > * {
      &:not(:last-child) {
        border-right: solid 1px $light-grey-list;
      }
    }
  }

  .banner {
    height: 215px;
  }

  .mt-neg-10 {
    margin-top: -10px;
  }

  .c-hb-leaderboard {
    table {
      td:last-child {
        text-align: center;
      }
    }
  }

  .white-underline {
    border-bottom: solid 1px white;
  }

  .banner-nav {
    @include flexbox(column, center, center);
    z-index: 1;
    height: 100%;
    width: 10%;
    position: absolute;
    cursor: pointer;

    span {
      font-size: 50px;
    }

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: $interview-grey;
      opacity: 0.5;
      z-index: -1;
    }
  }
}

.profile-page,
.dashboard {
  .divider-h {
    background-clip: content-box;
  }

  .large-font {
    font-size: 2.571rem;
    line-height: 36px;
  }

  .bookmark {
    .divided-list {
      & > * {
        &:not(:last-child) {
          border-right: solid 1px $dark-grey-list;
        }
      }
    }
  }

  .border-orange {
    border-color: $orange;
  }
}
