.dashboard {
  .divided-list {
    & > * {
      &:not(:last-child) {
        border-right: solid 1px $hover-grey;
      }
    }
  }

  .banner{
    height: 215px;
  }

  .mt-neg-10{
    margin-top: -10px;
  }

  .border-orange{
    border-color: $orange; 
  }

  .divider-h{
    background-clip: content-box;
  }

  .c-hb-leaderboard{
    table{
      td:last-child{
        text-align: center;
      }
    }  
  }

  .large-font{
    font-size: 2.571rem;
    line-height: 36px;
  }

  .white-underline {
    border-bottom: solid 1px white;
  }
  // h-100 w-10 position-absolute tl flex-col all-center pointer
  .banner-nav {
    @include flexbox(column, center, center);
    z-index: 1;
    height: 100%;
    width: 10%;
    position: absolute;
    cursor: pointer;

    span{
      font-size: 50px;
    }

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: $interview-grey;
      opacity: 0.5;
      z-index: -1;
    }
  }
}
