.divided-list {
  list-style: none;
  display: flex;

  .list-heading {
    font-size: $font-sm;
  }

  .list-data {
    font-size: $font-sm;
  }

  & > * {
    display: inline-block;

    &:not(:last-child) {
      border-right: solid 1px $faded-text;
    }

    &:first-child {
      padding-left: 0 !important;
    }

    &:last-child {
        padding-right: 0 !important;
      }
  }
}