.c-hb-leaderboard{
    .border-card{
        padding: 20px 0;
    }

    table.blue{
        thead{
            color: $hb-blue;
        }

        tbody{
            text-align: center;
        }
    }
}