.c-csv-submissions {
  padding: 2.5rem 1.5rem;

  .submission {
    .large-font {
      font-size: 2rem;
    }
  }
}

.c-csv-submission {
  padding: 2.5rem 3rem;

  * {
    display: flex;
    justify-content: center;
  }

  button {
    max-width: unset;
  }
}
