.c-summary{
  .badge{
    position: relative;
    padding: 1rem 2rem;
    overflow: hidden;
    background-image: $gradient-black;
    align-items: center;
    border-radius: 15px;

    img{
      position: absolute;
      right: 0;
      width: 15%;
    }
  }
}

.c-rating-carousel{
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 20px;
}

.c-about-instructors{
  background-color: $nav-border;
  padding-top: 3rem;
  
  img{
    border: solid 2px $default-border;
  }
}