.c-summary{
  .badge{
    position: relative;
    padding: 1rem 2rem;
    overflow: hidden;
    background-image: $gradient-black;
    align-items: center;
    border-radius: 15px;

    img{
      position: absolute;
      right: 0;
      width: 15%;
    }
  }
}

.rating-carousel{
  flex-wrap: nowrap;
  overflow-x: auto;
  position: relative;
  padding-bottom: 20px;
}

.c-about-instructors{
  background-color: #f6f6f6;
  padding-top: 3rem;
  
  img{
    border: solid 2px $default-border;
  }
}

.fade-right{
  position: relative;
}

.fade-left{
  position: relative;
}

.fade-right::after{
  content: '';
  position: absolute;
  right: 0%;
  height: 100%;
  width: 2%;
  background-color: $white;
  display: block;
  box-shadow: -15px 0 15px $white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fade-left::before{
  content: '';
  position: absolute;
  left: 0%;
  height: 100%;
  width: 2%;
  background-color: $white;
  display: block;
  box-shadow: 15px 0 15px $white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 100;
}