.c-buy-right{
  @include dimensions(100%, auto);

  .border-card{
    @include dimensions(100%, 100%);
    padding: 0;
    overflow: hidden;
  }

  .button-container{
    margin: 4rem 0;
  }

  .button-solid{
    margin-right: 4%;
  }

  .course-features{
    padding: 0 3.6rem;
    margin-bottom: 2rem;
  }
  
  .video{
    @include dimensions(100%, 300px);
    border: none;
  }

  .footer{
    padding: 5rem 2.5rem 2rem 3.6rem;
    font-size: $font-mds;
    font-weight: $extra-bold;
    background-image: linear-gradient(30deg, #333333, #000000);
    position: relative;

    .floating-img{
      max-width: 80px !important;
      position: absolute;
      top: -23%;
    }
  }
}