%button-config{
  @include dimensions(100%, 42px);
  @include border-radius(40px);
  font-size: $font-xs;
  font-weight: $font-medium;
  max-width: 190px;
}

.c-buy-top{
  @include dimensions(100%, auto);
  position: fixed;
  top: 70px;
  z-index: 300;
  padding: 10px 4%;
  background-color: $vp-background;
  transition: all 0.35s ease;

  .card-image{
    margin: 0;
    max-width: 70px;
    min-width: 60px;
  }

  .heading-d{
    margin: 0;
    padding-left: 3%;
  }

  .main-h, .sub-h{
    color: $white;
    font-weight: $font-normal;
  }

  .main-h{
    font-size: $font-md;
  }

  .sub-h{
    font-size: $font-xs;
  }

  .button-solid{
    @extend %button-config;
    margin-right: 3%;
  }

  .button-dashed{
    @extend %button-config;
  }

  &.slide-up{
    transform: translateY(-350px);
  }

  .row{
    padding: 0;
  }
  }
  