<ul class="breadcrumbs font-xs bold">
   <li><a href="#" class="px-3">Home</a></li>
   <li><a href="#" class="px-3">About</a></li>
   <li><a href="#" class="px-3">Clients</a></li>
   <li><a href="#" class="px-3">Contact Us</a></li>
</ul>