<ul class="breadcrumbs font-xs bold">
   <li class="px-3"><a href="#">Home</a></li>
   <li class="px-3"><a href="#">About</a></li>
   <li class="px-3"><a href="#">Clients</a></li>
   <li class="px-3"><a href="#">Contact Us</a></li>
</ul>
