<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">About</a></li>
    <li class="breadcrumb-item"><a href="#">Clients</li>
    <li class="breadcrumb-item"><a href="#">Contact Us</a></li>
  </ol>
</nav>
