<div class="border-card px-5 pb-0 pt-5 bg-gradient-dblue white">
  <div class="divider-h mt-4"></div>
  <h5 class="mt-4 mb-3">About CodSule</h5>
  <div class="word-wrap mb-4">
    loremipsumloremipsumloremipsumloremipsumloremipsumloremipsemfvmkdmkfmkvfkvmfkvfloremipsumloremipsumloremipsumloremipsumloremipsumloremipsumlfmkdkmdkmfkmdkfmkmfkdk
  </div>
  <div class="row my-4">
    <div class="col-md-5 col-12">
      <h5 class="mb-4">Top Colleges</h5>
      <div class="img-desc justify-content-center orange my-4">
        <div class="col-1 pl-0">
          <h2>#1</h2>
        </div>
        <div class="description t-align-l col-11">
          <div class="font-sm bold">Bharati Vidyapeeth College of Engineering</div>
          <span>43000 Points</span>
        </div>
      </div>
      <div class="img-desc justify-content-center my-4">
        <div class="col-1 pl-0">
          <h2>#2</h2>
        </div>
        <div class="description t-align-l col-11">
          <div class="font-sm bold">Gurunank Dev University</div>
          <span>42000 Points</span>
        </div>
      </div>
      <div class="img-desc justify-content-center my-4">
        <div class="col-1 pl-0">
          <h2>#3</h2>
        </div>
        <div class="description t-align-l col-11">
          <div class="font-sm bold">Maharaja Agresen Institute Of Technology</div>
          <span>40000 Points</span>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-12">
      <h5 class="mb-4">Top Students</h5>
      <div class="img-desc align-items-center orange my-4">
        <div>
          <h2>#1</h2>
        </div>
        <div class="pl-xl-2 pl-3">
          <div class="img-ring s-50x50">
            <img class="round w-100 h-100"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
              alt="">
          </div>
        </div>
        <div class="description pl-xl-2 pl-3">
          <div class="font-mds bold">Siddharth Jain<span class="font-xs regular"> (4300 Points)</span></div>
          <div>Bharati Vidyapeeth College of Engineering</div>
        </div>
      </div>
      <div class="img-desc align-items-center my-4">
        <div>
          <h2>#2</h2>
        </div>
        <div class="pl-xl-2 pl-3">
          <div class="img-ring s-50x50">
            <img class="round w-100 h-100"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
              alt="">
          </div>
        </div>
        <div class="description pl-xl-2 pl-3">
          <div class="font-mds bold">Siddharth Jain<span class="font-xs regular"> (4000 Points)</span></div>
          <div>Bharati Vidyapeeth College of Engineering</div>
        </div>
      </div>
      <div class="img-desc align-items-center my-4">
        <div>
          <h2>#3</h2>
        </div>
        <div class="pl-xl-2 pl-3">
          <div class="img-ring s-50x50">
            <img class="round w-100 h-100"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
              alt="">
          </div>
        </div>
        <div class="description pl-xl-2 pl-3">
          <div class="font-mds bold">Siddharth Jain<span class="font-xs regular"> (3900 Points)</span></div>
          <div>Maharaja Agrasen Institute of Technology</div>
        </div>
      </div>
    </div>
  </div>
</div>