<div class="border-card px-0 c-daily-goal-card py-5">
	<div class="px-md-5 px-4">
		<h4>Daily Goal</h4>
		<div class="font-xs">Complete daily goal to count it as streak</div>
	</div>
	<progress value="50" max="100" class="mt-4 mb-2 mx-auto w-70"></progress>
	<h6 class="bold px-md-5 px-4">20/100 Points Scored</h6>
	<div class="divider-h my-4 px-5"></div>
	<h4 class="px-md-5 px-4">Unlock Badge</h4>
	<div class="font-xs px-md-5 px-4">Complete 3 more consecutive DCB’s to unlock badge</div>
	<div class="d-flex justify-content-center mt-5 mb-3">
		<div class="col-lg-4 col-md-6 col-4">
			<div class="badge-container">
				<img src="/images/algo_badge.png" alt="Badge Logo">
				<div class="badge-number--blue extra-bold">02</div>
			</div>
		</div>
	</div>
	<h5 style="color: #246db3">Streak Master</h5>
	<progress value="50" max="100" class="mt-4 mb-2 mx-auto w-70"></progress>
	<h6 class="bold px-md-5 px-4">4 of 7 DCB’s completed</h6>
	<div class="divider-h my-4 px-5"></div>
	<h4 class="mb-4 px-md-5 px-4">My Badges</h4>
	<div class="flex-row align-items-center px-2">
		<span class="font-lg bold"><a href="#">〈</a></span>
		<div class="row c-card-carousel mx-3">
			<div class="col-lg-4 col-md-6 col-3 col-xl-3 px-lg-2 px-md-1 px-2">
				<div class="badge-container">
					<img src="/images/ds_badge.png" alt="Badge Logo" class="v-align-m">
					<div class="badge-number--orange extra-bold">02</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-3 col-xl-3 px-lg-2 px-md-1 px-2">
				<div class="badge-container">
					<img src="/images/dcb_badge.png" alt="Badge Logo" class="v-align-m">
					<div class="badge-number--red extra-bold">02</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-3 col-xl-3 px-lg-2 px-md-1 px-2">
				<div class="badge-container">
					<img src="/images/algo_badge.png" alt="Badge Logo" class="v-align-m">
					<div class="badge-number--blue extra-bold">02</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-3 col-xl-3 px-lg-2 px-md-1 px-2">
				<div class="badge-container">
					<img src="/images/algo_badge.png" alt="Badge Logo" class="v-align-m">
					<div class="badge-number--blue extra-bold">02</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-3 col-xl-3 px-lg-2 px-md-1 px-2">
				<div class="badge-container">
					<img src="/images/algo_badge.png" alt="Badge Logo" class="v-align-m">
					<div class="badge-number--blue extra-bold">02</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-3 col-xl-3 px-lg-2 px-md-1 px-2">
				<div class="badge-container">
					<img src="/images/algo_badge.png" alt="Badge Logo" class="v-align-m">
					<div class="badge-number--blue extra-bold">02</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-3 col-xl-3 px-lg-2 px-md-1 px-2">
				<div class="badge-container">
					<img src="/images/algo_badge.png" alt="Badge Logo" class="v-align-m">
					<div class="badge-number--blue extra-bold">02</div>
				</div>
			</div>
		</div>
		<span class="font-xl bold"><a href="#">〉</a></span>
	</div>
</div>