<div class="border-card px-0 c-daily-goal-card py-5">
	<div class="px-md-5 px-4">
		<h4>Daily Goal</h4>
		<div class="font-xs">Complete daily goal to count it as streak</div>
	</div>
	<progress value="50" max="100" class="mt-4 mb-2 mx-auto w-70"></progress>
	<h6 class="bold px-md-5 px-4">20/100 Points Scored</h6>
	<div class="divider-h my-4 px-5"></div>
	<h4 class="px-md-5 px-4">Unlock Badge</h4>
	<div class="font-xs px-md-5 px-4">Complete 3 more consecutive DCB’s to unlock badge</div>
	<img src="/images/hexagon.jpg" alt="Badge Logo" class="badge mt-5 mb-3 mx-auto w-30 px-3">
	<h5 style="color: #246db3">Streak Master</h5>
	<progress value="50" max="100" class="mt-4 mb-2 mx-auto w-70"></progress>
	<h6 class="bold px-md-5 px-4">4 of 7 DCB’s completed</h6>
	<div class="divider-h my-4 px-5"></div>
	<h4 class="mb-4 px-md-5 px-4">My Badges</h4>
	<div class="flex-row align-items-center px-2">
		<span class="font-lg bold"><a href="#">〈</a></span>
		<div class="row card-scroll mx-3">
			<div class="col-md-4 col-3 col-lg-3 px-2">
				<img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m">
			</div>
			<div class="col-md-4 col-3 col-lg-3 px-2">
				<img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m">
			</div>
			<div class="col-md-4 col-3 col-lg-3 px-2">
				<img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m">
			</div>
			<div class="col-md-4 col-3 col-lg-3 px-2">
				<img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m">
			</div>
			<div class="col-md-4 col-3 col-lg-3 px-2">
				<img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m">
			</div>
			<div class="col-md-4 col-3 col-lg-3 px-2">
				<img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m">
			</div>
			<div class="col-md-4 col-3 col-lg-3 px-2">
				<img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m">
			</div>
		</div>
		<span class="font-xl bold"><a href="#">〉</a></span>
	</div>
</div>