<div class="c-hb-leaderboard">
  <div class="border-card mb-5 px-0 py-5">
    <div class="pb-5 px-xl-5 px-md-3 px-5">
      <h4 class="mb-5 pt-2">Overall Leaderboard</h4>
      <div class="d-flex align-items-center my-4 justify-content-between">
        <div class="row no-gutters align-items-center">
          <div class="col-4">
            <div class="img-ring s-70x70">
              <img class="round w-100 h-100"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
                alt="">
            </div>
          </div>
          <div class="pl-xl-3 pl-4 col-8">
            <div class="font-mds extra-bold mb-2">Siddharth Jain</div>
            <div>43000 Points</div>
          </div>
        </div>
        <div class="font-mdxl extra-bold">#1</div>
      </div>
      <div class="divider-h"></div>
      <div class="d-flex align-items-center my-4 justify-content-between">
        <div class="row no-gutters align-items-center">
          <div class="col-4">
            <div class="img-ring s-70x70">
              <img class="round w-100 h-100"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
                alt="">
            </div>
          </div>
          <div class="pl-xl-3 pl-4 col-8">
            <div class="font-mds extra-bold mb-2">Honey Singh</div>
            <div>40000 Points</div>
          </div>
        </div>
        <div class="font-mdxl extra-bold">#2</div>
      </div>
      <div class="divider-h"></div>
      <div class="d-flex align-items-center my-4 justify-content-between">
        <div class="row no-gutters align-items-center">
          <div class="col-4">
            <div class="img-ring s-70x70">
              <img class="round w-100 h-100"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
                alt="">
            </div>
          </div>
          <div class="pl-xl-3 pl-4 col-8">
            <div class="font-mds extra-bold mb-2">Honey Singh</div>
            <div>40000 Points</div>
          </div>
        </div>
        <div class="font-mdxl extra-bold">#3</div>
      </div>
    </div>
    <table class="w-100">
      <thead class="font-sm extra-bold orange">
        <td class="pb-4 t-align-c">Rank</td>
        <td class="pb-4">User</td>
        <td class="pb-4">Score</td>
      </thead>
      <tbody>
        <tr class="bg-gradient-orange white extra-bold">
          <td class="pb-4 pt-4">#40</td>
          <td class="pb-4 pt-4">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-4">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-4">01</td>
          <td class="pb-4 pt-4">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-4">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
        <tr class="hover-grey">
          <td class="pb-4 pt-2">01</td>
          <td class="pb-4 pt-2">
            <div class="img-desc align-items-center">
              <img class="round s-30x30" src="/images/placeholder.gif" alt="">
              <div class="description ml-3">
                Siddharth Jain
              </div>
            </div>
          </td>
          <td class="pb-4 pt-2">2345</td>
        </tr>
      </tbody>
    </table>
    <div class="divider-h w-90 mx-auto my-4"></div>
    <div class="t-align-c bold mb-2">
      <a href="#">
        <i class="fas fa-angle-left mx-2"></i>
        <span>Prev</span>
      </a>
      <span class="regular mx-3">1-20 of 245</span>
      <a href="#">
        <span>Next</span>
        <i class="fas fa-angle-right mx-2"></i>
      </a>
    </div>
  </div>
</div>