{{!-- <div class="border-card py-5 px-4">
  <ul class="divided-list t-align-c">
    <li class="pr-xl-3 pr-2 t-align-l">
      <h4 class="mb-3">All Time Best</h4>
      <div class="font-mdxl extra-bold orange">#32</div>
      <div class="extra-bold">Achieved on 18 May 2018</div>
    </li>
    <li class="px-xl-3 px-2 t-align-l">
      <h4 class="mb-3">Current Ranking</h4>
      <div class="font-mdxl extra-bold">4300</div>
      <div class="extra-bold green v-align-ma"><i class="fas fa-caret-up mr-2 fa-2x"></i>20 Ranks from last month</div>
    </li>
    <li class="pl-xl-3 pl-2 t-align-l">
      <h4 class="mb-3">Performance</h4>
      <div class="font-mdxl extra-bold">34000 Points</div>
      <div class="extra-bold red v-align-ma"><i class="fas fa-caret-down mr-2 fa-2x"></i>200 Points from last month</div>
    </li>
  </ul>
</div> --}}

<div class="border-card py-5 px-4">
  <div class="row mx-0 justify-content-center">
    <div class="col-4 b-right">
      <div class="mx-auto">
        <h4 class="mb-3">All Time Best</h4>
        <div class="font-mdxl extra-bold orange">#32</div>
        <div class="extra-bold">Achieved on 18 May 2018</div>
      </div>
    </div>
    <div class="col-4 b-right">
      <h4 class="mb-3">Current Ranking</h4>
      <div class="font-mdxl extra-bold">4300</div>
      <div class="extra-bold green v-align-ma"><i class="fas fa-caret-up mr-2 fa-2x"></i>20 Ranks from last month</div>
    </div>
    <div class="col-4">
      <h4 class="mb-3">Performance</h4>
      <div class="font-mdxl extra-bold">34000 Points</div>
      <div class="extra-bold red v-align-ma"><i class="fas fa-caret-down mr-2 fa-2x"></i>200 Points from last month
      </div>
    </div>
  </div>
</div>