<div class="border-card p-0 h-100">
  <div class="bg-gradient-blue-lr py-5 px-xl-5 px-4 all-center white">
    <div class="w-100">
      <div class="row justify-content-between align-items-center no-gutters">
        <h3>Daily Code Bytes</h3>
        <a href="#" class="white"><i class="fas fa-info-circle fa-2x"></i></a>
      </div>
      <div class="divider-h bg-white my-3"></div>
      <h3 class="bold mt-3">Birthday Candle</h3>
      <ul class="divided-list">
        <li class="pr-xl-2 pr-lg-1 pr-3">
          <div class="list-heading font-mds extra-bold yellow">Hard</div>
          <div class="list-data">Dificulty</div>
        </li>
        <li class="px-xl-2 px-lg-1 px-3">
          <div class="list-heading font-mds extra-bold yellow">345</div>
          <div class="list-data">Submissions</div>
        </li>
        <li class="pl-xl-2 pl-lg-1 pl-3">
          <div class="list-heading font-mds extra-bold yellow">200</div>
          <div class="list-data">Max Pts</div>
        </li>
      </ul>
      <button class="button-solid button-white mt-3 float-right extra-bold">Continue</button>
    </div>
  </div>
  <div class="align-items-center t-align-c px-xl-4 px-3 py-5">
    <div class="font-mds mb-4">Earn your First Badge</div>
    <div class="img-desc font-sm pt-2 all-center px-md-3 px-2 mt-4 mb-2">
      <div class="pr-0 col-2 col-lg-3 pl-2">
        <img src="/images/hexagon.jpg" alt="">
      </div>
      <div class="description ml-3 t-align-l col-lg-9 col-10 pl-0">
        <div class="row justify-content-between align-items-center no-gutters">
          <h3>Streak Master</h3>
          <a href="#" class="white"><i class="fas fa-info-circle fa-lg blue"></i></a>
        </div>
        <span class="Font-sm mt-1">Solve 4 more DCB’s</span>
        <div class="row mx-0">
          <div class="col-10 px-0">
            <progress value="35" max="100" class="my-3 w-90 d-inline-block"></progress>
          </div>
          <div class="col-2 px-0">
            <span class="card-md bold float-right mt-2 pt-1">3/7</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>