<div class="border-card py-5 px-xl-5 px-4">
  <div class="row no-gutters justify-content-between align-items-center">
    <div class="col-xl-8 col-7">
      <h4>Bookmarked Challenges</h4>
    </div>
    <div>
      <button class="button-solid button-orange font-sm extra-bold">View All</button>
    </div>
  </div>
  <div class="mt-3 py-4">
    <div class="row no-gutters align-items-center justify-content-between">
      <h5 class="bold">Birthday Cake Candle</h5>
      <h6><a href="#" class="orange">Solve<i class="fas fa-arrow-right ml-2"></i></a></h6>
    </div>
    <ul class="divided-list mt-3">
      <li class="pr-xl-2 pr-md-1 pr-2">
        <div class="list-heading extra-bold orange">Hard</div>
        <div class="list-data">Dificulty</div>
      </li>
      <li class="px-xl-2 px-md-1 px-2">
        <div class="list-heading extra-bold orange">345</div>
        <div class="list-data">Submissions</div>
      </li>
      <li class="pl-xl-2 pl-md-1 pl-2">
        <div class="list-heading extra-bold orange">200</div>
        <div class="list-data">Max Pts</div>
      </li>
    </ul>
  </div>
  <div class="divider-h"></div>
  <div class="py-4">
    <div class="row no-gutters align-items-center justify-content-between">
      <h5 class="bold">Birthday Cake Candle</h5>
      <h6><a href="#" class="orange">Solve<i class="fas fa-arrow-right ml-2"></i></a></h6>
    </div>
    <ul class="divided-list mt-3">
      <li class="pr-xl-2 pr-md-1 pr-2">
        <div class="list-heading extra-bold orange">Hard</div>
        <div class="list-data">Dificulty</div>
      </li>
      <li class="px-xl-2 px-md-1 px-2">
        <div class="list-heading extra-bold orange">345</div>
        <div class="list-data">Submissions</div>
      </li>
      <li class="pl-xl-2 pl-md-1 pl-2">
        <div class="list-heading extra-bold orange">200</div>
        <div class="list-data">Max Pts</div>
      </li>
    </ul>
  </div>
  <div class="divider-h"></div>
  <div class="py-4">
    <div class="row no-gutters align-items-center justify-content-between">
      <h5 class="bold">Birthday Cake Candle</h5>
      <h6><a href="#" class="orange">Solve<i class="fas fa-arrow-right ml-2"></i></a></h6>
    </div>
    <ul class="divided-list mt-3">
      <li class="pr-xl-2 pr-md-1 pr-2">
        <div class="list-heading extra-bold orange">Hard</div>
        <div class="list-data">Dificulty</div>
      </li>
      <li class="px-xl-2 px-md-1 px-2">
        <div class="list-heading extra-bold orange">345</div>
        <div class="list-data">Submissions</div>
      </li>
      <li class="pl-xl-2 pl-md-1 pl-2">
        <div class="list-heading extra-bold orange">200</div>
        <div class="list-data">Max Pts</div>
      </li>
    </ul>
  </div>
</div>