<div class="border-card p-5 t-align-c">
  <h4 class="mb-5 mt-2">Badges Earned</h4>
  <div class="flex-row align-items-center px-2">
    <span class="font-lg bold"><a href="#">〈</a></span>
    <div class="row c-card-carousel mx-3">
      <div class="col-sm-4 col-6 px-2">
        <div>
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
        <div class="mt-4">
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
      </div>
      <div class="col-sm-4 col-6 px-2">
        <div>
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
        <div class="mt-4">
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
      </div>
      <div class="col-sm-4 col-6 px-2">
        <div>
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
        <div class="mt-4">
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
      </div>
      <div class="col-sm-4 col-6 px-2">
        <div>
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
        <div class="mt-4">
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
      </div>
      <div class="col-sm-4 col-6 px-2">
        <div>
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
        <div class="mt-4">
          <img src="/images/hexagon.jpg" alt="Badge Logo" class="v-align-m w-30">
          <h5 class="mt-3">Data Structure</h5>
          <div class="card-md">Completed 10 DS Challenges</div>
          <div class="card-mds mt-2 grey">20 Feb 2018</div>
        </div>
      </div>
    </div>
    <span class="font-xl bold"><a href="#">〉</a></span>
  </div>
</div>