<div class="row mx-0 dashboard">
  <div class="col-md-8 col-12">
    <div class="border-card py-5 px-0">
      <div class="row justify-content-between align-items-center mx-0 px-sm-5 px-4">
        <h3 class="mb-4 mt-4">Registered Contests</h3>
        <button class="button-solid button-orange font-sm my-3">View All</button>
      </div>
      <div class="row no-gutters justify-content-between align-items-center hover-grey py-4 px-sm-5 px-4">
        <div class="col-lg-8 col-sm-8 col-7">
          <div class="row mx-0 align-items-center">
            <div class="px-0 col-4 col-xl-2">
              <div class="border-card pt-2 pb-3 px-4 flex-col all-center orange border-orange">
                <div class="extra-bold" style="font-size: 36px;">26</div>
                <div class="font-sm bold mt-neg-10">JUNE</div>
              </div>
            </div>
            <div class="col-8 col-xl-10 pl-lg-5 pl-4">
              <h5 class="bold mb-1">Amazon Hiring Challenge</h5>
              <div>Hiring Contest</div>
            </div>
          </div>
        </div>
        <div class="t-align-r">
          <div>
            <div><a href="#">Remind Me</a></div>
            <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
            </h6>
          </div>
        </div>
      </div>

      <div class="divider-h px-sm-5 px-4"></div>

      <div class="row no-gutters justify-content-between align-items-center hover-grey py-4 px-sm-5 px-4">
        <div class="col-lg-8 col-sm-8 col-7">
          <div class="row mx-0 align-items-center">
            <div class="px-0 col-4 col-xl-2">
              <div class="border-card pt-2 pb-3 px-4 flex-col all-center orange border-orange">
                <div class="extra-bold" style="font-size: 36px;">26</div>
                <div class="font-sm bold mt-neg-10">JUNE</div>
              </div>
            </div>
            <div class="col-8 col-xl-10 pl-lg-5 pl-4">
              <h5 class="bold mb-1">APAT June 2019</h5>
              <div>Admission Contest</div>
            </div>
          </div>
        </div>
        <div class="t-align-r">
          <div>
            <div><a href="#">Remind Me</a></div>
            <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
            </h6>
          </div>
        </div>
      </div>

      <div class="divider-h px-sm-5 px-4"></div>

      <div class="row no-gutters justify-content-between align-items-center hover-grey py-4 px-sm-5 px-4">
        <div class="col-lg-8 col-sm-8 col-7">
          <div class="row mx-0 align-items-center">
            <div class="px-0 col-4 col-xl-2">
              <div class="border-card pt-2 pb-3 px-4 flex-col all-center orange border-orange">
                <div class="extra-bold" style="font-size: 36px;">24</div>
                <div class="font-sm bold mt-neg-10">JUNE</div>
              </div>
            </div>
            <div class="col-8 col-xl-10 pl-lg-5 pl-4">
              <h5 class="bold mb-1">Amazon Hiring Challenge</h5>
              <div>Hiring Contest</div>
            </div>
          </div>
        </div>
        <div class="t-align-r">
          <div>
            <div><a href="#">Remind Me</a></div>
            <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
            </h6>
          </div>
        </div>
      </div>

      <div class="divider-h px-sm-5 px-4"></div>

      <div class="row no-gutters justify-content-between align-items-center hover-grey py-4 px-sm-5 px-4">
        <div class="col-lg-8 col-sm-8 col-7">
          <div class="row mx-0 align-items-center">
            <div class="px-0 col-4 col-xl-2">
              <div class="border-card pt-2 pb-3 px-4 flex-col all-center orange border-orange">
                <div class="extra-bold" style="font-size: 36px;">26</div>
                <div class="font-sm bold mt-neg-10">JUNE</div>
              </div>
            </div>
            <div class="col-8 col-xl-10 pl-lg-5 pl-4">
              <h5 class="bold mb-1">Amazon Hiring Challenge</h5>
              <div>Hiring Contest</div>
            </div>
          </div>
        </div>
        <div class="t-align-r">
          <div>
            <div><a href="#">Remind Me</a></div>
            <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
            </h6>
          </div>
        </div>
      </div>

      <div class="divider-h px-sm-5 px-4"></div>

      <div class="row no-gutters justify-content-between align-items-center hover-grey py-4 px-sm-5 px-4">
        <div class="col-lg-8 col-sm-8 col-7">
          <div class="row mx-0 align-items-center">
            <div class="px-0 col-4 col-xl-2">
              <div class="border-card pt-2 pb-3 px-4 flex-col all-center orange border-orange">
                <div class="extra-bold" style="font-size: 36px;">24</div>
                <div class="font-sm bold mt-neg-10">JUNE</div>
              </div>
            </div>
            <div class="col-8 col-xl-10 pl-lg-5 pl-4">
              <h5 class="bold mb-1">APAT June 2019</h5>
              <div>Admission Contest</div>
            </div>
          </div>
        </div>
        <div class="t-align-r">
          <div>
            <div><a href="#">Remind Me</a></div>
            <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
            </h6>
          </div>
        </div>
      </div>

      <div class="divider-h px-sm-5 px-4"></div>
    </div>
  </div>
</div>