<div class="border-card p-0">
  <div class="bg-gradient-purple py-5 px-xl-5 px-md-3 px-4 all-center white">
    <div>
      <div class="row justify-content-between no-gutters align-items-center">
        <div class="col-lg-10 col-md-9 col-10">
          <div>
            <h3 class="white-underline d-inline-block pb-3">Data Structures</h3>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-2">
          <img src="/images/stack" alt="Logo" class="" />
        </div>
      </div>
      <h4 class="bold mt-3">Birthday Candle</h4>
      <ul class="divided-list">
        <li class="pr-xl-3 pr-md-2 pr-3">
          <div class="list-heading extra-bold yellow">Hard</div>
          <div class="list-data">Dificulty</div>
        </li>
        <li class="px-xl-3 px-md-2 px-3">
          <div class="list-heading extra-bold yellow">345</div>
          <div class="list-data">Submissions</div>
        </li>
        <li class="pl-xl-3 pl-md-2 pl-3">
          <div class="list-heading extra-bold yellow">200</div>
          <div class="list-data">Max Pts</div>
        </li>
      </ul>
      <button class="button-solid button-white purple mt-3 float-right extra-bold">Continue</button>
    </div>
  </div>
  <div class="align-items-center t-align-c px-xl-5 px-3 py-4">
    <div class="font-mds bold">
      <span>Current Level : </span>
      <span class="orange">Level 0</span>
    </div>
    <div class="divider-h my-4"></div>
    <div class="img-desc font-sm pt-2 all-center mt-4 mb-2">
      <div class="pr-0 col-2 col-lg-3 pl-2">
        <img src="/images/hexagon.jpg" alt="">
      </div>
      <div class="description ml-3 t-align-l col-lg-9 col-10 pl-0">
        <h3>Streak Master</h3>
        <span class="Font-sm mt-1">Solve 4 more DCB’s</span>
        <div class="row mx-0 mt-1">
          <div class="col-10 px-0">
            <progress value="35" max="100" class="w-90 d-inline-block"></progress>
          </div>
          <div class="col-2 px-0">
            <span class="extra-bold float-right">3/7</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>