<div class="border-card py-5 px-0 mt-5">
  <div class="row justify-content-between align-items-center mx-0 px-sm-5 px-4">
    <h3 class="mb-4 mt-4">Registered Contests</h3>
    <button class="button-solid button-orange font-sm my-3">View All</button>
  </div>
  <div class="row no-gutters hover-grey py-4 px-sm-5 px-4">
    <div class="li-left">
      <div>
        <div class="border-card py-3 px-4 t-align-c orange border-orange">
          <div class="extra-bold large-font">26</div>
          <div class="font-sm bold">JUNE</div>
        </div>
      </div>
      <div class="">
        <h5 class="bold mb-1">APAT June 2019</h5>
        <div>Admission Contest</div>
      </div>
      <div class="row mx-0 align-items-center"></div>
    </div>
    <div class="t-align-r li-right">
      <div>
        <div><a href="#">Remind Me</a></div>
        <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
        </h6>
      </div>
    </div>
  </div>

  <div class="divider-h px-sm-5 px-4"></div>

  <div class="row no-gutters hover-grey py-4 px-sm-5 px-4">
    <div class="li-left">
      <div class="">
        <div class="border-card py-3 px-4 t-align-c orange border-orange">
          <div class="extra-bold large-font">26</div>
          <div class="font-sm bold">JUNE</div>
        </div>
      </div>
      <div class="">
        <h5 class="bold mb-1">APAT June 2019</h5>
        <div>Admission Contest</div>
      </div>
      <div class="row mx-0 align-items-center"></div>
    </div>
    <div class="t-align-r li-right">
      <div>
        <div><a href="#">Remind Me</a></div>
        <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
        </h6>
      </div>
    </div>
  </div>

  <div class="divider-h px-sm-5 px-4"></div>

  <div class="row no-gutters hover-grey py-4 px-sm-5 px-4">
    <div class="li-left">
      <div class="">
        <div class="border-card py-3 px-4 t-align-c orange border-orange">
          <div class="extra-bold large-font">26</div>
          <div class="font-sm bold">JUNE</div>
        </div>
      </div>
      <div class="">
        <h5 class="bold mb-1">APAT June 2019</h5>
        <div>Admission Contest</div>
      </div>
      <div class="row mx-0 align-items-center"></div>
    </div>
    <div class="t-align-r li-right">
      <div>
        <div><a href="#">Remind Me</a></div>
        <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
        </h6>
      </div>
    </div>
  </div>

  <div class="divider-h px-sm-5 px-4"></div>

  <div class="row no-gutters hover-grey py-4 px-sm-5 px-4">
    <div class="li-left">
      <div class="">
        <div class="border-card py-3 px-4 t-align-c orange border-orange">
          <div class="extra-bold large-font">26</div>
          <div class="font-sm bold">JUNE</div>
        </div>
      </div>
      <div class="">
        <h5 class="bold mb-1">APAT June 2019</h5>
        <div>Admission Contest</div>
      </div>
      <div class="row mx-0 align-items-center"></div>
    </div>
    <div class="t-align-r li-right">
      <div>
        <div><a href="#">Remind Me</a></div>
        <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
        </h6>
      </div>
    </div>
  </div>

  <div class="divider-h px-sm-5 px-4"></div>

  <div class="row no-gutters hover-grey py-4 px-sm-5 px-4">
    <div class="li-left">
      <div class="">
        <div class="border-card py-3 px-4 t-align-c orange border-orange">
          <div class="extra-bold large-font">26</div>
          <div class="font-sm bold">JUNE</div>
        </div>
      </div>
      <div class="">
        <h5 class="bold mb-1">APAT June 2019</h5>
        <div>Admission Contest</div>
      </div>
      <div class="row mx-0 align-items-center"></div>
    </div>
    <div class="t-align-r li-right">
      <div>
        <div><a href="#">Remind Me</a></div>
        <h6 class="mt-2"><a href="#" class="orange">View Contest<i class="fas fa-arrow-right ml-2"></i></a>
        </h6>
      </div>
    </div>
  </div>
</div>