<div class="border-card mb-5">
  <h5 class="mb-4">FAQ's</h5>

  <div class="faq-card">
    <div class="bold">
      When do I complete an Assignment?
    </div>
    <p class="card-md mb-4">
      You complete an assignment when you have attempted at least 80% of MCQ problems and you score an average of at
      least
      80%
      in code problems, within an assignment.
    </p>

    <div class="bold">
      When do I complete a Lecture?
    </div>
    <p class="card-md mb-4">
      You complete a lecture when you have attempted at least 80% of objective problems, have scored at least 80% in
      each
      code
      problems, and have seen at least 80% of the total videos, within a lecture.
    </p>

    <div class="bold">
      When do I complete a Test?
    </div>
    <p class="card-md mb-4">
      You complete a test when you have submitted the test.
    </p>

    <div class="bold">
      When do I complete an Assignment?
    </div>
    <p class="card-md mb-4">
      You complete an assignment when you have attempted at least 80% of MCQ problems and you score an average of at
      least
      80%
      in code problems, within an assignment.
    </p>


    <div class="bold">
      When do I complete an Assignment?
    </div>
    <p class="card-md mb-4">
      You complete an assignment when you have attempted at least 80% of MCQ problems and you score an average of at
      least
      80%
      in code problems, within an assignment.
    </p>

    <div class="bold">
      When do I complete an Assignment?
    </div>
    <p class="card-md mb-4">
      You complete an assignment when you have attempted at least 80% of MCQ problems and you score an average of at
      least
      80%
      in code problems, within an assignment.
    </p>

    <div class="bold">
      When do I complete an Assignment?
    </div>
    <p class="card-md mb-4">
      You complete an assignment when you have attempted at least 80% of MCQ problems and you score an average of at
      least
      80%
      in code problems, within an assignment.
    </p>

    <div class="bold">
      When do I complete an Assignment?
    </div>
    <p class="card-md mb-4">
      You complete an assignment when you have attempted at least 80% of MCQ problems and you score an average of at
      least
      80%
      in code problems, within an assignment.
    </p>
  </div>
</div>