<div class="border-card p-lg-5 p-4">
  <div class="row no-gutters align-items-center justify-content-between">
    <div class="col-8 ">
      <h4>FILTER PROBLEMS</h4>
    </div>
    <div class="col-4 col-lg-3 ">
      <button class="button-solid button-orange font-sm extra-bold">Apply</button>
    </div>
  </div>
  <div class="font-mds bold my-4">Status</div>
  <div class="row no-gutters mb-3">
    <div class="col-6">
      <label class="input-checkbox checkbox-solid" for="solid">
        <input type="checkbox" id="solid1"> Click to Fill
        <span></span>
      </label>
    </div>
    <div class="col-6">
      <label class="input-checkbox checkbox-solid" for="solid">
        <input type="checkbox" id="solid1"> Click to Fill
        <span></span>
      </label>
    </div>
  </div>
  <div class="row no-gutters mb-3">
    <div class="col-6">
      <label class="input-checkbox checkbox-solid" for="solid">
        <input type="checkbox" id="solid1"> Click to Fill
        <span></span>
      </label>
    </div>
    <div class="col-6">
      <label class="input-checkbox checkbox-solid" for="solid">
        <input type="checkbox" id="solid1"> Click to Fill
        <span></span>
      </label>
    </div>
  </div>
  <div class="font-mds bold mt-5 mb-4">Difficulty</div>
  <div class="row no-gutters mb-3">
    <div class="col-4">
      <label class="input-checkbox checkbox-solid" for="solid">
        <input type="checkbox" id="solid1">Easy
        <span></span>
      </label>
    </div>
    <div class="col-4">
      <label class="input-checkbox checkbox-solid" for="solid">
        <input type="checkbox" id="solid1">Medium
        <span></span>
      </label>
    </div>
    <div class="col-4">
      <label class="input-checkbox checkbox-solid" for="solid">
        <input type="checkbox" id="solid1">Hard
        <span></span>
      </label>
    </div>
  </div>
</div>