<div class="border-card p-4 bg-gradient-purple white">
  <div class="row mx-0 align-items-center">
    <div class="col-xl-10 col-md-9 col-9">
      <div class="img-desc align-items-center justify-content-center">
        <div class="col-2">
          <img src="/images/stack" alt="" class="">
        </div>
        <div class="description t-align-l col-10">
          <h2>Unlock Badge</h2>
          <span class="font-sm mt-1">Arrays | LinkedList | Stacks | Queues | Trees | Graphs</span>
        </div>
      </div>
    </div>
    <div>
      <div style="font-size: 2.58rem" class="extra-bold">250+</div>
      <div class="font-sm">PROBLEMS</div>
    </div>
  </div>
</div>