<div class="img-card">
  <div class="head d-flex bg-gradient-purple py-4 px-3 px-md-2 justify-content-center">
    <div class="d-flex flex-column t-align-c">
      <img src="/images/stack" alt="Logo" class="mt-2 mb-3 mx-auto w-30" />
      <h3>Data Structures</h3>
      <ul class="divided-list d-block">
        <li class="px-2">
          <div class="list-data">Arrays</div>
        </li>
        <li class="px-2">
          <div class="list-data">LinkedList</div>
        </li>
        <li class="px-2">
          <div class="list-data">Stacks</div>
        </li>
        <li class="px-2">
          <div class="list-data">Queues</div>
        </li>
      </ul>
      <button class="button-solid button-white purple bold mt-4 mb-2 mx-auto">Solve Challenge</button>
    </div>
  </div>
  <div class="foot t-align-c p-md-2 p-lg-3 p-5 align-items-center">
    <div class="font-sm bold p-md-0 py-4 my-2">
      <span>Current Level : </span>
      <span class="orange">Level 0</span>
      <i class="fas fa-crown"></i>
    </div>
    <div class="divider-h w-80 mx-auto my-4"></div>
    <div class="img-desc font-sm pt-2 all-center px-md-3 px-2 mt-4 mb-2">
      <div class="pr-0 col-3 col-lg-4 pl-2">
        <img src="/images/hexagon.jpg" alt="">
      </div>
      <div class="description ml-3 t-align-l col-lg-8 col-9 pl-0">
        <h5>Unlock Badge</h5>
        <span class="card-md mt-1">5 more problems to Level-1</span>
        <div class="row mx-0">
          <div class="col-10 px-0">
            <progress value="50" max="100" class="my-3 w-90 d-inline-block"></progress>
          </div>
          <div class="col-2 px-0">
            <span class="card-md bold float-right mt-2 pt-1">5/10</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>