<div class="border-card p-5 w-20">
  <a href="#" class="py-2 d-block">Profile</a>
  <a href="#" class="py-2 d-block">Bookmarks</a>
  <a href="#" class="py-2 d-block">Invite Friends</a>
  <a href="#" class="py-2 d-block bold">Become HB Author</a>
  <div class="divider-h my-4"></div>
  <a href="#"><div class="grey">Logout</div></a>
</div>