<div class="a-hb">
  <div class="c-hb-leaderboard profile">
    <table class="w-100 ml-4">
      <thead class="font-sm extra-bold orange">
        <td class="pb-4">Problem</td>
        <td class="pb-4">Score</td>
        <td class="pb-4">Language</td>
        <td class="pb-4">Time</td>
        <td class="pb-4">Result</td>
      </thead>
      <tbody>
        <tr>
          <td class="pb-4 pt-4">Birthday Cake Candle</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
        <tr>
          <td class="pb-4 pt-4">Course Set Bits</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
        <tr>
          <td class="pb-4 pt-4">Magic Squares</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
        <tr>
          <td class="pb-4 pt-4">Octal to Binary</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
        <tr>
          <td class="pb-4 pt-4">Birthday Cake Candle</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
        <tr>
          <td class="pb-4 pt-4">Course Set Bits</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
        <tr>
          <td class="pb-4 pt-4">Magic Squares</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
        <tr>
          <td class="pb-4 pt-4">Octal to Binary</td>
          <td class="pb-4 pt-4">100</td>
          <td class="pb-4 pt-4">C++</td>
          <td class="pb-4 pt-4">2 mins ago</td>
          <td class="pb-4 pt-4"><a href="#" class="orange">View</a></td>
        </tr>
      </tbody>
    </table>
    <div class="divider-h mx-auto my-4"></div>
    <div class="t-align-c bold">
      <i class="fas fa-angle-left mx-2"></i>
      <span>Prev</span>
      <span class="regular mx-3">1-20 of 245</span>
      <span>Next</span>
      <i class="fas fa-angle-right mx-2"></i>
    </div>
  </div>
</div>