<div class="border-card p-0">
  <div class="row m-0">
    <div>
      <ul class="font-mds extra-bold py-5 pl-4 pr-3 mt-0">
        <li class="pb-3"><a href="#" class="orange">Test Case 0<i class="fas fa-check mx-3"></i></a></li>
        <li class="py-3"><a href="#">Test Case 1<i class="fas fa-check mx-3"></i></a></li>
        <li class="py-3"><a href="#">Test Case 2<i class="fas fa-check mx-3"></i></a></li>
        <li class="py-3"><a href="#">Test Case 3<i class="fas fa-check mx-3"></i></a></li>
        <li class="py-3"><a href="#">Test Case 4<i class="fas fa-check mx-3"></i></a></li>
        <li class="py-3"><a href="#">Test Case 5<i class="fas fa-check mx-3"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-8 col-6 py-5 b-left pl-5">
      <h6 class="bold">Compile Message</h6>
      <div class="bg-grey p-4 mt-3 mb-5">
        <div class="font-sm">Success</div>
      </div>
      <div class="row no-gutters justify-content-between align-items-center my-4">
        <div class="col-6">
          <h6 class="bold">Input</h6>
        </div>
        <div><a href="#" class="orange">Download</a></div>
      </div>
      <div class="bg-grey p-4 mt-3 mb-5">
        <div class="font-sm">4 3 2 1 0</div>
      </div>
      <div class="row no-gutters justify-content-between align-items-center my-4">
        <div class="col-6">
          <h6 class="bold">Input</h6>
        </div>
        <div><a href="#" class="orange">Download</a></div>
      </div>
      <div class="bg-grey p-4 mt-3">
        <div class="font-sm">4 3 2 1 0</div>
      </div>
    </div>
  </div>
</div>