<div class="img-card c-competition-card">
  <div class="head bg-gradient-dblue-lr py-4 px-3 all-center">
    <div>
      <div class="font-mds">Upcoming Contest</div>
      <h2>CodSule - June 2019</h2>
      <ul class="divided-list">
        <li class="px-xl-3 px-2">
          <div class="list-heading font-mds extra-bold orange">12</div>
          <div class="list-data">Contests</div>
        </li>
        <li class="px-xl-3 px-2">
          <div class="list-heading font-mds extra-bold orange">234</div>
          <div class="list-data">Participants</div>
        </li>
        <li class="px-xl-3 px-2">
          <div class="list-heading font-mds extra-bold orange">45</div>
          <div class="list-data">Colleges</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="foot align-items-center t-align-c px-2 py-4">
    <div class="font-sm mb-4">STARTS IN</div>
    <ul class="divided-list timer d-inline-block">
      <li class="timer-item pr-2">
        <div class="list-heading font-lg extra-bold">00</div>
        <div class="list-data">Days</div>
      </li>
      <li class="timer-item pr-2">
        <div class="list-heading font-lg extra-bold">12</div>
        <div class="list-data">Hours</div>
      </li>
      <li class="timer-item pr-2">
        <div class="list-heading font-lg extra-bold">30</div>
        <div class="list-data">Minutes</div>
      </li>
      <li class="timer-item">
        <div class="list-heading font-lg extra-bold">25</div>
        <div class="list-data">Seconds</div>
      </li>
    </ul>
    <button class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto d-block">Solve Challenge</button>
  </div>
</div>