<!DOCTYPE html>
<html>
  <head>
      {{!-- <link href="stylesheets/style.css" rel="stylesheet"> --}}
      <link href="stylesheets/dukaan.css" rel="stylesheet">
      <link href="stylesheets/online-cb.css" rel="stylesheet">
      <link href="stylesheets/account.css" rel="stylesheet">
      <link href="stylesheets/hb.css" rel="stylesheet">
      <link href="stylesheets/hiringblocks.css" rel="stylesheet">
      <link href="stylesheets/coding-blocks.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800" rel="stylesheet">
      <link href="https://minio.codingblocks.com/motley/Gilroy.ttf" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="JS/bootstrap.min.js"></script>
      <script src="JS/radial-progress.js"></script>
      <script src="JS/universe.js"></script>
      <script src="JS/banner-carousel.js"></script>
      <script type="text/javascript" src="JS/curtain.js"></script>
  </head>

<body>
	{{{body}}}
</body>

</html>