%padding{
  @include padding-mixin(55px, 5%, 80px, 5%);
}

%grid-row{
  .grid{
    margin: 0;
  }

  .row{
    padding: 0;
  }
}

.o-summary{
  padding: 2% 5%;
  min-height: calc(100vh - 70px);

  .classroom-container{
    margin: 25px 0;
    padding: 0;
  }

  .classroom-header-box{
    padding: 0;
  }

  .classroom-image{
    max-width: 95px;
  }

  .classroom-header-box{
    border: none;
  }

  .heading-u{
    @include margin(30px, 0, 25px, 0);
  }

  .key{
    font-weight: $font-medium;
  }

  .o-rating-stats{
    margin-bottom: 30px;
  }

  .summary{
    min-height: 20vh;
  }
  
}

.o-instructor{
  @extend %padding;
}

.o-batches{
  @extend %padding;
  @extend %grid-row;
  background-color: $nav-border;
}

.rating-carousel{
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100vw;
  position: relative;
  left: -5.6%;
  padding-bottom: 20px;
}

.o-recommended{
  @extend %padding;
  @extend %grid-row;

  .heading-u{
    margin: 0;
  }

  .custom-heading{
    margin-bottom: 40px;
  }
}