.card-layout {
  margin-top: 22.5px;
}

.card {
  @include dimensions(403px, 503px);
  box-shadow: 0 20px 57px 0 $card-box-shadow;
  border: solid .5px $card-box-border;
  background: $white;
}

.card-text {
  @include dimensions(296px,53px);
  @include font(Effra-Regular, 17.1px, 300);
  color: $global-font-text-color;
}

.card-heading {
  @include dimensions(209px, 48px);
  @include font(Effra-Regular, 22.6px, 300);
  color: $global-font-heading-color;

}

.card-image {
  @include dimensions(81px, 91px);
}
