.status-circle {
    @include dimensions(51px, 51px);   
}

.circle-back{
    @include dimensions(51px, 51px);
    @include border-radius(50%);
    background-color: $status-back-complete;
}
.circle-front{
    @include dimensions(39px, 39px);
    @include border-radius(50%);
    background-color: $status-front-complete;
    margin: 0 auto;
    transform: translateY(14%);
}

.status-circle[data-completed= "true"]{
    
}

.status-circle[data-completed= "false"]{
    
}

