progress{    
    @include dimensions(100%, 10px);
    @include border-radius(7px);
    display: block;
    background-color: $nav-border;  
}

progress::-moz-progress-bar{
    @include border-radius(7px);
    display: block;
    background-color: $faded-cont;
}

progress::-webkit-progress-bar{
    @include dimensions(100%, 10px);
    @include border-radius(7px);
    display: block;
    background-color: $nav-border;
}

progress::-ms-fill{
    @include dimensions(100%, 10px);
    @include border-radius(7px);
    display: block;
    background-color: $faded-cont;
}

progress::-webkit-progress-value{
    @include dimensions(100%, 10px);
    @include border-radius(7px);
    display: block;
    background-color: $faded-cont;
}
