progress {
  @include dimensions(100%, 10px);
  @include border-radius(7px);

  display: block;
  background-color: $nav-border;
}

progress::-moz-progress-bar {
  @include border-radius(7px);

  display: block;
  background-color: $faded-cont;
}

progress::-webkit-progress-bar {
  @include dimensions(100%, 10px);
  @include border-radius(7px);

  display: block;
  background-color: $nav-border;
}

progress::-ms-fill {
  @include dimensions(100%, 10px);
  @include border-radius(7px);

  display: block;
  background-color: $faded-cont;
}

progress::-webkit-progress-value {
  @include border-radius(7px);

  display: block;
  background-color: $faded-cont;
}

.progress-lock {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 5%;

  &__bubble {
    display: none;
    max-width: 110px;
    text-align: center;
  }

  &:hover > &__bubble {
    display: block;
  }
}
