.side-tag {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    left: -2.1428rem;
    bottom: 0;
    width: 4px;
    height: 100%;
    background: $gradient-yellow;
  }

  &--wide {
    &::after {
      width: 8px;
    }
  }

  &--orange {
    &::after {
      background: $gradient-orange !important;
    }
  }

  &--blue {
    &::after {
      background: $gradient-blue !important;
    }
  }

  &--purple {
    &::after {
      background: $gradient-purple !important;
    }
  }

  &--std {
    &::after {
      left: -3rem;

      @media screen and (max-width: 767px){
        left: -1.5rem;
      }
    }
  }
}