.o-profile {
  justify-content: space-evenly;
  font-size: $font-sm;
  
  .card {
    @include dimensions(100%, auto);
    @include margin(0, 0, 30px, 0);
    box-shadow: 0 14px 41px 0 rgba(51, 51, 51, 0.1);
    border: none;
  }

  .profile-pic {
    @include padding-mixin(60px, 0, 0, 0);
  }

  .info {
    @include padding-mixin(90px, 0, 50px, 0);
    text-align: center;    
  }

  .details {
      @include padding-mixin(40px, 60px, 40px, 60px);
  } 

  p {
    @include margin(0, 0, 0, 0);
  }

  .profile-container {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .separator {
    width: 167px;
    height: 1px;
    opacity: 0.3;
    background-color: #cccccc;
  }

  .heading-u-red {
    @include padding-mixin(0, 380px, 33px, 0);
    @include margin(0, 0, 0, 0);
    font-size: $font-mds;
  }

  .round-img {
    @include dimensions(120px, 120px);
    margin-right: 28px;
  }

  .edit {
    @include margin(0, 0, 60px, 0);
    justify-content: space-between;
  }

  .attributes {
    @include margin(0, 0, 10px, 0);
    height: fit-content;
    justify-content: space-between;
    font-weight: $font-normal;
    .flex-row {
      @include padding-mixin(40px, 0, 20px, 0);
      justify-content: space-between;
    }
  }

  .button-solid {
    width: 30%;
    max-width: 162px;
    font-size: $font-xs;
    font-weight: $font-medium;
  }

  .faded {
    color: $default-accordian-font;
  }

  .auth-link {
    @include margin(0, 10%, 0, 0);
    text-align: center;
  }

  .button-circle {
    @include margin(0, 0, 30px, 0);
    @include dimensions(70px, 70px);
    text-align: center;
    font-size: $font-sm;
    font-weight: 600;
  }

  .links {
    @include padding-mixin (30px, 0, 20px, 0);
  }

  .flex-row {
    @include padding-mixin(30px, 0, 30px, 0);
    display: flex;
    width: 100%;
    font-weight: $font-medium;
    justify-content: space-between;
  }

}
