.o-profile {
  justify-content: space-evenly;
  font-size: 22px;

  .card {
    @include dimensions(100%, fit-content);
    @include dimensions(100%, -moz-fit-content);
    @include margin(0, 0, 50px, 0);
    box-shadow: 0 14px 41px 0 rgba(51, 51, 51, 0.1);
    border: none; 
  }

  .info {
      @include padding-mixin(15px, 0, 35px, 0);
      text-align: center;
  }

  .details {
      @include padding-mixin(50px, 100px, 50px, 100px);
  } 

  .separator {
    float: left;
    height: 2px;
    width: 200px;
    @include margin(0, 0, 0, 0);
    background: #D3D3D3; 
  }

  .heading-u-red {
    @include margin(0, 0, 0, 0);
    @include padding-mixin(0, 20px, 25px, 0);
  }

  .round-img {
    @include dimensions(151px, 151px);
  }

  .edit {
    @include margin(0, 0, 60px, 0);
    justify-content: space-between;
  }

  .attributes {
    @include margin(0, 0, 10px, 0);
    height: fit-content;
    justify-content: space-between;
    font-weight: $font-normal;
    .flex-row {
      @include padding-mixin(20px, 0, 10px, 0);
      justify-content: space-between;
    }
  }

  .faded {
    color: $default-accordian-font;
  }

  .button-circle {
    @include margin(0, 0, 23px, 0);
    text-align: center;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    @include padding-mixin(20px, 0, 10px, 0);
    justify-content: space-between;
  }

}
