<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
</head>
<body>
<header>
    <nav>
           <span>
                  <img src="images/online-logo.png" alt="online-logo" class="nav-logo">
           </span>
        <ul class="nav-list">
            <li class="nav-items">
                About us
            </li>
            <li class="nav-items">
                All Courses
            </li>
            <li class="nav-items">
                Contact us
            </li>
            <li class="nav-items">
                <div class="button-solid">
                    <button>Login</button>
                </div>
            </li>
        </ul>
    </nav>
</header>

  <div class="container o-accordian">
        <div class="accordian-ul row" data-show="true">
            <div class="accordian-head">
                <div class="li-left">
                    <div class="accordian-collapsar">
                        -
                    </div>
                    <div class="accordian-heading">
                        Mathematics 1.0
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-status">
                        <span class="completed">2</span>/ 6 Lectures Completed
                    </div>
                </div>
            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                </div>


            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                </div>


            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                        <div class="circle-back">
                            <div class="circle-front"></div>
                        </div>
                </div>


            </div>

      
        </div>

        <div class="accordian-ul row" data-show="false">
            <div class="accordian-head">
                <div class="li-left">
                    <div class="accordian-collapsar">
                        -
                    </div>
                    <div class="accordian-heading">
                        Mathematics 1.0
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-status">
                        <span class="completed">2</span>/ 6 Lectures Completed
                    </div>
                </div>
            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                    <div class="circle-back">
                        <div class="circle-front"></div>
                    </div>
                </div>


            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>
                    <div class="circle-back">
                        <div class="circle-front"></div>
                    </div>
                </div>


            </div>

      
        </div>

        <div class="accordian-ul row" data-show="true">
            <div class="accordian-head">
                <div class="li-left">
                    <div class="accordian-collapsar">
                        -
                    </div>
                    <div class="accordian-heading">
                        Mathematics 1.0
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-status">
                        <span class="completed">2</span>/ 6 Lectures Completed
                    </div>
                </div>
            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>

                    <div class="circle-back">
                        <div class="circle-front"></div>
                    </div>

                </div>


            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>

                    <div class="circle-back">
                        <div class="circle-front"></div>
                    </div>

                </div>


            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>

                    <div class="circle-back">
                        <div class="circle-front"></div>
                    </div>

                </div>


            </div>

            <div data-completed="true" class="accordian-li">
                <div class="li-left">
                    <div class="accordian-li-type"></div>
                    <div class="accordian-li-heading">
                        Chewback and numbers system
                    </div>
                </div>

                <div class="li-right">
                    <div class="accordian-li-duration">
                        03:34
                    </div>

                    <div class="circle-back">
                        <div class="circle-front"></div>
                    </div>

                </div>


            </div>

      
        </div>
  </div>
  
</body>
</html>