<!DOCTYPE html>
<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10"></div>
    </div>

    <script src="https://localhost:35729/livereload.js"></script>
  </body>
</html>