<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<header>
    <nav>
           <span>
                  <img src="images/online-logo.png" alt="online-logo" class="nav-logo">
           </span>
        <ul class="nav-list">
            <li class="nav-items">
                About us
            </li>
            <li class="nav-items">
                All Courses
            </li>
            <li class="nav-items">
                Contact us
            </li>
            <li class="nav-items">
                <div class="button-solid">
                    <button>Login</button>
                </div>
            </li>
        </ul>
    </nav>
</header>
  <div class="row">
      <div class="classroom-header-box col-md-6 col-sm-6 col-xs-6">
          <div class="classroom-header row">
              <div class="classroom-image col-md-2">
                  <img src="images/c++">
              </div>
              <div class="classroom-text col-md-10">
                  Competitive Programming
              </div>
          </div>
          <p class="classroom-text">
              Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challengessuch as Google CodeJam,
              Google Kickstart, ACM-ICPC, and more.
          </p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">

      </div>
  </div>
</body>
</html>