<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
           <span>
                  <img src="images/online-logo.png" alt="online-logo" class="nav-logo">
           </span>
        <ul class="nav-list">
            <li class="nav-items">
                About us
            </li>
            <li class="nav-items">
                All Courses
            </li>
            <li class="nav-items">
                Contact us
            </li>
            <li class="nav-items">
                <div class="button-solid">
                    <button>Login</button>
                </div>
            </li>
        </ul>
    </nav>
</header>
<div class="classroom-container row">
    <div class="classroom-header-box col-md-6 col-sm-12 col-xs-12">
        <div class="classroom-header row">
            <div class="classroom-image col-md-2 col-xs-2 col-sm-2">
                <img src="images/c++">
            </div>
            <div class="classroom-text col-md-10 col-xs-10 col-sm-10">
                Competitive Programming
            </div>
        </div>
        <p class="classroom-para">
            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challengessuch as Google CodeJam,
            Google Kickstart, ACM-ICPC, and more.
        </p>
        <div class="rating">
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="pos-rating">
                <i class="fas fa-star"></i>
            </span>
            <span class="neg-rating">
                <i class="fas fa-star"></i>
            </span>

        </div>
    </div>
    <div class="course-progress-box col-md-6 col-sm-12 col-xs-12">
        <div class="course-progress-2">
            <p class="course-progress-heading">Course Progress</p>
            <div data-completed="false" class="status-circle col-md-2">
                <div class="circle-back">
                    <div class="circle-front">
                        <p class="progress-text">26%</p>
                    </div>
                </div>
            </div>
            <div class="course-progress-detail col-md-10">
                <p class="lectures-completed">12 of 46 Lectures completed</p>
                <p class="reset-progress">Reset Progress</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-6 col-md-5">
                <div class="button-solid">
                    <button>Resume Learning</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-nav">
    <div class="tab-list">
<<<<<<< HEAD
        <div class="tab-items active">Overview</div>
        <div class="tab-items">Course Content</div>
=======
        <div class="tab-items">Overview</div>
        <div class="tab-items active">Course Content</div>
>>>>>>> f4cf194815a47d4251bc2068b8e29f89b474c15a
        <div class="tab-items">Announcements</div>
        <div class="tab-items">Solve Your Doubts</div>
    </div>
</div>

<div class="overview-container">
    <!-------------------------------------------Recent Activity----------------------------------->
    <div class="heading-u">
        Recent Activity
    </div>

    <div class="o-overview-recent flex-row">
        <div class="card">
            <div class="card-heading">Recent Doubts</div>
            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot new"></span>
                        <img src="images/doubt.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    Varun asked a doubt "<span class="faded">sample text sa...</span>"
                </div>

            </div>
            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot new"></span>
                        <img src="images/doubt.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    Sid asked a doubt "<span class="faded">sample text sa...</span>"
                </div>
            </div>
            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot"></span>
                        <img src="images/doubt.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    Varun asked a doubt "<span class="faded">sample text sa...</span>"
                </div>
            </div>

            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot"></span>
                        <img src="images/doubt.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    Varun asked a doubt "<span class="faded">sample text sa...</span>"
                </div>
            </div>

            <div class="pull-right">
                Browse All
            </div>
        </div>

        <div class="card">
            <div class="card-heading">Announcements</div>
            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot new"></span>
                        <img src="images/announcement.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    UPDATE: UI animation on Flinto
                </div>

            </div>

            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot new"></span>
                        <img src="images/announcement.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    UPDATE: UI animation on Flinto
                </div>

            </div>

            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot"></span>
                        <img src="images/announcement.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    UPDATE: UI animation on Flinto
                </div>

            </div>

            <div class="flex-row">
                <div class="notify-type">
                    <div class="notify-icon">
                        <span class="notify-dot"></span>
                        <img src="images/announcement.png" alt="">
                    </div>
                </div>
                <div class="card-text">
                    UPDATE: UI animation on Flinto
                </div>

            </div>

            <div class="pull-right">
                Browse All
            </div>
        </div>
    </div>

    <!-------------------------------------------About this course----------------------------------->
    <div class="heading-u">
        About This Course
    </div>

    <div class="o-overview-course flex-row">
        <div class="about-left">
            <div class="flex-row">
                <div class="img-desc flex-row">
                    <div class="round-img">
                        <img src="" alt="">
                    </div>
                    <div class="classroom-para">
                        30+ Hours Video Content
                    </div>
                </div>

                <div class="img-desc flex-row">
                    <div class="round-img">
                        <img src="" alt="">
                    </div>
                    <div class="classroom-para">
                        Full Lifetime Access
                    </div>
                </div>
            </div>

            <div class="flex-row">
                <div class="img-desc flex-row">
                    <div class="round-img">
                        <img src="" alt="">
                    </div>
                    <div class="classroom-para">
                        Certification of Completion
                    </div>
                </div>

                <div class="img-desc flex-row">
                    <div class="round-img">
                        <img src="" alt="">
                    </div>
                    <div class="classroom-para">
                        Supplemental Resources
                    </div>
                </div>
            </div>
        </div>

        <div class="classroom-para">
            Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted to ensure your success in challenges such as Google CodeJam, Google Kickstart, ACM-ICPC, and more. This 8 week programme will kickstart your foray in to the exciting world of competitive coding. You will master commonly used problem solving techniques, hone your mathematical analysis skills, and push the boundaries of your reasoning abilities. The course will cover Advanced Data Structures like Segment Trees, Binary Index / Fenwick Trees.
        </div>
    </div>

    <!-------------------------------------------About Instructors----------------------------------->
    <div class="heading-u">
        About Instructors
    </div>

    <div class="o-about-instructors">

        <div class="flex-row">
            <div class="img-desc flex-row">
                <div class="round-img">
                    <img src="" alt="">
                </div>
                <div class="flex-col">
                    <div class="heading-d">
                        <div class="main-h">
                            Prateek Narang
                        </div>
                        <div class="sub-h">
                            Founding Member, Coding Blocks
                        </div>
                    </div>

                    <div class="classroom-para">
                        Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                    </div>
                </div>
            </div>

            <div class="img-desc flex-row">
                <div class="round-img">
                    <img src="" alt="">
                </div>
                <div class="flex-col">
                    <div class="heading-d">
                        <div class="main-h">
                            Prateek Narang
                        </div>
                        <div class="sub-h">
                            Founding Member, Coding Blocks
                        </div>
                    </div>

                    <div class="classroom-para">
                        Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-row">
            <div class="img-desc flex-row">
                <div class="round-img">
                    <img src="" alt="">
                </div>
                <div class="flex-col">
                    <div class="heading-d">
                        <div class="main-h">
                            Prateek Narang
                        </div>
                        <div class="sub-h">
                            Founding Member, Coding Blocks
                        </div>
                    </div>

                    <div class="classroom-para">
                        Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                    </div>
                </div>
            </div>

            <div class="img-desc flex-row">
                <div class="round-img">
                    <img src="" alt="">
                </div>
                <div class="flex-col">
                    <div class="heading-d">
                        <div class="main-h">
                            Prateek Narang
                        </div>
                        <div class="sub-h">
                            Founding Member, Coding Blocks
                        </div>
                    </div>

                    <div class="classroom-para">
                        Coding Blocks is pleased to bring you the ultimate competitive programming course, hand crafted
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




</body>
</html>