<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
</head>
<body>
<div class="rating">
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="pos-rating">
            <i class="fas fa-star"></i>
        </span>
        <span class="neg-rating">
            <i class="fas fa-star"></i>
        </span>

</div>
</body>
</html>