<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <header>
            <nav>
                   <span>
                          <img src="images/online-logo.png" alt="online-logo" class="nav-logo">
                   </span>
                <ul class="nav-list">
                    <li class="nav-items">
                        About us
                    </li>
                    <li class="nav-items">
                        All Courses
                    </li>
                    <li class="nav-items">
                        Contact us
                    </li>
                    <li class="nav-items">
                        <div class="button-solid">
                            <button>Login</button>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="tab-nav">
            <ul class="tab-list">
                <li class="tab-items">Overview</li>
                <li class="tab-items">Course Content</li>
                <li class="tab-items">Announcements</li>
                <li class="tab-items">Solve Your Doubts</li>
            </ul>
        </div>


    </body>
</html>