.c-course-card {
  border-radius: 15px;
  overflow: hidden;
  height: auto;

  .head {
    color: white;
    background: url('/images/android.svg');
    background-repeat: no-repeat;
    background-size: cover;

    .difficulty-dots {
      right: 50px;
      top: 25px;
      z-index: 100;
    }

    .course-image {
      width: 100%;
      padding-top: 20px;

      img {
        @include dimensions (85px, 85px);
        border: 2px solid white;
        border-radius: 50%;
      }
    }

    .course-name {
      @include margin (10px, 0px, 5px, 0px);
      font-size: $font-mds;
    }

    .rating {
      @include margin (10px, 0, 0, 0);
      padding-bottom: 15px;
    }
  }

  .foot {
    .card-mentor {
      @include padding-mixin (0, 30px, 0, 30px);
      margin-top: 15px;
    }

    .card-mentor-divider {
      margin: 0;
    }
    
    .price-explore {
      @include padding-mixin (20px, 40px, 0, 40px);
      margin-bottom: 20px;

      .price {
        font-size: $font-sm;
      }
    }

    .divider {
      @include padding-mixin (0, 20px, 0, 20px);
    }

    .enrollment {
      padding-bottom: 15px;
    }
  }

  .no-gutters {
    margin: 0;
    padding: 0;
  }

  .center-text {
    text-align: center;
  }
}