<div class="c-doubts">
  <div class="position-sticky tl">
    <div class="p-5">
      <div class="d-flex">
        <div class="li-left font-sm">Ask a Doubt</div>
        <div class="li-right">
          <div>
            <button class="button-solid">Post a Doubt</button>
          </div>
        </div>
      </div>

      <input class="w-100" type="text" placeholder="Title">
      <textarea class="w-100" type="text" placeholder="Description" rows="2"></textarea>
    </div>

    <div class="tab-nav-underline white">
      <div class="tab active">Unresolved (10)</div>
      <div class="tab">Resolved (12)</div>
    </div>
  </div>

  <div class="list-shaded invert">
    <div>
      <div class="px-5 pt-3 pb-4">
        <div class="mb-1">
          When will be my decision tree evaluated?
        </div>
        <p class="i grey">
          I have submitted my decision tree project 1 week ago, and
          it is still not evaluated .
        </p>

        <div class="red card-md my-2">
          Section 1.1 - Fast Exponentiation
        </div>

        <input class="w-100" type="text" placeholder="Comment Now (Press enter to post)">

        <div class="d-flex">
          <div class="li-left">
            <button class="green"><i class="fas fa-check"></i> Mark Resolved</button>
          </div>
          <div class="li-right">
            <button>Chat with TA</button>
          </div>
        </div>
      </div>


      <div class="threads invert px-5 pt-2">
        <div class="t-align-c mt-2 mb-3">
          <button class="card-mds mx-auto">
            Hide 3 Comments
            <i class="fas fa-caret-up"></i>
          </button>
        </div>

        <div class="thread">
          <div class="d-flex mb-1">
            <div class="li-left red">Siddharth Jain</div>
            <div class="li-right card-mds grey">10 Hours ago</div>
          </div>

          <p>
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </p>
        </div>
        <div class="thread">
          <div class="d-flex mb-1">
            <div class="li-left red">Siddharth Jain</div>
            <div class="li-right card-mds grey">10 Hours ago</div>
          </div>

          <p>
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </p>
        </div>
        <div class="thread">
          <div class="d-flex mb-1">
            <div class="li-left red">Siddharth Jain</div>
            <div class="li-right card-mds grey">10 Hours ago</div>
          </div>

          <p>
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </p>
        </div>
      </div>

    </div>
    <div>
      <div class="px-5 pt-3 pb-4">
        <div class="mb-1">
          When will be my decision tree evaluated?
        </div>
        <p class="i grey">
          I have submitted my decision tree project 1 week ago, and
          it is still not evaluated .
        </p>

        <div class="red card-md my-2">
          Section 1.1 - Fast Exponentiation
        </div>

        <input class="w-100" type="text" placeholder="Comment Now (Press enter to post)">

        <div class="d-flex">
          <div class="li-left">
            <button class="green"><i class="fas fa-check"></i> Mark Resolved</button>
          </div>
          <div class="li-right">
            <button>Chat with TA</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>