.c-arrangement {
  justify-content: space-evenly;
  font-size: $font-sm;
  padding: 30px 8%;

  .nav-info {
    position: fixed;
    top: 100px;
    left: 9%;
  }

  .card {
    @include dimensions(100%, auto);
    @include margin(0, 0, 30px, 0);
    @include padding-mixin(40px, 60px, 40px, 60px);
  }

  .heading-u-red {
    @include padding-mixin(0, 160px, 15px, 0);
    @include margin(0, 0, 20px, 0);
    font-size: $font-mds;
  }

  .button-solid {
    font-size: $font-xs;
    font-weight: $font-medium;
  }

  .row {
    @include padding-mixin(0, 0, 0, 0);
  }

  .attributes {
    height: auto;
    justify-content: space-between;
    font-weight: $font-normal;

    .flex-row {
      @include padding-mixin(15px, 0, 15px, 0);
      justify-content: space-between;
    }

    .detail-row {
      @include margin(0, 0, 20px, 0);
    }
  }
}
