.o-feedback-modal {
  font-size: $font-xs;
  overflow-y: auto;
  @include padding-mixin (5%, 10%, 10%, 0%);
  
  .title {
    @include margin (30px, 0, 30px, 0);
  }
  
  .button-solid {
    @include margin (50px, 0, 0, 0);
    max-width: 400px;
  }

  .input-textarea {
    border-radius: 10px;
    resize: none;
  }
}
