$grey: #f3f3f3;
$code-editor-grey: #1e1e1e;

//Background Colors
$bg-color-list: map-merge(
  $bg-color-list,
  (
    "grey": $grey
  )
);

//Text Colors
$text-color-list: map-merge(
  $text-color-list,
  (
    "grey": $grey,
    "dark-grey": $dark-grey
  )
);

//Border card
$border-card-border-color: #f3f3f3;
