.o-recent-card{
  //@include flexbox(row);
  justify-content: center;
  flex-wrap: wrap;
  .card{
    @include dimensions(599px, 578px);
    @include padding-mixin(46px, 51px, 45px, 51px);
    @include margin(0, 32px, 32px, 0);
    position: relative;
    box-shadow: 0px 20px 57px 0 rgba(51, 51, 51, 0.1);
    border: none;
    flex: none;



  }

  .card-heading{
    @include font($global-font-family, 30px, 500);
    height: 24px;
  }

  .card-text{
    flex:none;
    font-size: 25px;
    font-weight:500;
    width: 86%;
    height: 24px;
  }

  .pull-right{
    @include margin(0, 49px, 45px, 0px);
    position: absolute;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
    color: $button-element-level;
    font-size: 25px;
  }

  .faded{
    color: $faded-text;
  }

  .notify-type{
    @include margin(0, 32px, 0, 0);
  }

  .flex-row{
    justify-content: flex-start;
    align-items: center;
    @include margin(62px, 0, 0, 0);
    @include padding-mixin(0,0,0,0);
  }

  [class*="col"]{
    @include padding-mixin(0,0,0,0);
  }

  .card-text{
    padding-top: 2%;
  }


}