.breadcrumbs {
  li {
    display: inline-block;
    position: relative;

    &::after {
      content: ">";
      display: block;
      position: absolute;
      left: -3px;
      top: 0;
    }

    &:first-of-type::after{
      display: none;
    }

    &:last-child a{
      font-weight: $regular;
    }
  }
}