.breadcrumbs li {
  display: inline-block;
  position: relative;
}

.breadcrumbs li::after {
  content: ">";
  display: block;
  position: absolute;
  left: -3px;
  top: 0;
}

.breadcrumbs li:first-of-type::after {
  display: none;
}

.breadcrumbs li:last-child a {
  font-weight: $regular;
}
