.code-window {
  .top-bar {
    top: 0;
    left: 0;
    z-index: 100;
  }

  .side-bar {
    bottom: 0;
    left: 0;
    z-index: 500;
    position: fixed;

    .active {
      background: $white;

      * {
        color: $orange;
      }
    }
  }

  .tab-nav-underline {
    top: 0;

    & .tab {
      &.active {
        border-bottom: solid 2px $navLink;
      }
    }
  }

  .flex-col {
    align-items: unset;
  }

  .input-div{
    height: 230px;
  }
}
