.conc-circle{
  border-radius: 50%;
  background-clip: content-box;
  padding: 40px;
  border: 40px solid $orange;
  background: $hb-blue;

  // &::after{
  //   content: "";
  //   position: absolute;
  //   // top: 0;
  //   // left: 0;
  //   height: inherit;
  //   width: inherit;
  //   z-index: 100;
  //   background: $orange;
  //   border-radius: 50%;
  // }


}