.c-daily-goal-card{
    text-align: center;

    .badge-scroll{
        flex-wrap: nowrap;
        overflow-x: auto;
        position: relative;
    }

    @include progress(10px, $gradient-blue-lr)
}

@media screen and (max-width: 1200px){
    .c-daily-goal-card{
        padding: 30px;
    }
}

@media screen and (max-width: 992px){
    .c-daily-goal-card{
        padding: 20px;
    }
}