.divided-list {
  list-style: none;

  .list-heading {
    font-size: $font-sm;
  }

  .list-data {
    font-size: $font-sm;
  }
}

.divided-list > * {
  display: inline-block;
}

.divided-list > *:not(:last-child) {
  border-right: solid 1px $faded-text;
}
