.divided-list{
    list-style: none;

    .list-item{
        float: left;
        padding: 0 15px;
        display: inline-block;

        &:not(:last-child){
            border-right: solid 1px $faded-text;
        }

        &:first-child{
            padding: 0 15px 0 0;
        }
    }

    .list-heading{
        font-size: $font-sm;
        font-weight: $extra-bold;
    }

    .list-data{
        font-size: $font-sm;
        color: $white;
        font-weight: $bold;
    }
}