.c-hb-leaderboard{
    .border-card{
        padding: 20px 0;
    }

    table{
        .self{
            color: $white;
            font-weight: $extra-bold;
        }
    }

    table.blue{
        thead{
            color: $hb-blue;
        }

        tbody{
            text-align: center;
        }

        .self{
            background-image: $gradient-blue-lr;
        }
    }
}