.c-testimonial{
  height: 206px;

  .content{
    height: 80px;
    overflow: auto;
    margin-bottom: 10px;
  }

  .footer{
    float: right; 
    text-align: right;

  }

  .img-container{
    max-height: 30px;
    overflow: hidden;
  }
}