.c-testimonial{
  .dialog {
    height: 206px;

    .content{
      height: 80px;
      overflow: auto;
      margin-bottom: 10px;
      font-size: $font-xs;
    }

    .footer{
      @include flexbox(column, false, flex-end);
      text-align: right;
    }

    .img-container{
      max-height: 30px;
      width: 25%;
      overflow: hidden;
    }
  } 
}