.c-topnav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  margin: {
    right: 0;
    left: 0;
  }
  border-bottom: solid 1px #eee;
  z-index: 998;

  ul {
    margin: unset;
  }

  .logo {
    text-align: left;
  }

  .top-nav-option {
    text-align: center;
    float: left;
  }

  .top-nav-option:hover {
    a {
      h6 {
        color: #f19633;
      }
    }
  }

  .top-nav-option.active {
    a {
      h6 {
        color: #f19633;
      }
    }
  }

  h6 {
    font-weight: $bold;
  }

  .right-nav {
    margin: unset;
    display: flex;
    align-items: center;

    a {
      &:hover {
        color: $orange;
      }
    }
  }

  //Media Queries
  @media screen and (max-width: 1200px) {
    .top-nav-option {
      h6 {
        font-size: $font-xs;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .top-nav-option {
      h6 {
        font-size: $card-sm;
      }
    }
  }
}

//Hamburger CSS
.hamburger-menu {
  display: inline-block;

  span {
    display: block;
    background: $black;
    border-radius: 2px;
  }

  .ham-toggle {
    width: 25px;
    position: relative;
    cursor: pointer;

    .hamburger {
      span {
        height: 3px;
        margin: 5px 0;
      }
    }
  }
}
