.online-card {
  overflow: hidden;
  height: auto;
  background-color: $white;

   .difficulty-dots {
    right: 25px;
    top: 20px;
    text-align: center;
  }

  
  .course-name {
    margin-top: 14px;
    font-size: $font-mds;
    font-weight: $extra-bold;
  }

  .course-description {
    font-size: $card-md;
  }

  .rating {
    @include margin (10px, 0, 0, 0);
    padding: 0;
  }

  .foot {
    .button-row {
      margin-top: 3%;
      width: 100%;
      font-size: $font-xs; 
    }
  }

  .card-mentor {
    margin: 30px 0;

    .card-mentor-text {
      font-size: $card-md;
      padding-left: 15px;
    }

    .card-mentor-name {
      font-size: $font-xs;
    }
  }

  .divider-h{
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .no-gutters {
    margin: 0;
    padding: 0;
  }

  .details{
    flex: 1;
  }

//css for popup online-card
  &.pop-up{
    width: 144%;
    left: -23%;
    top: -12%;
    @include padding-mixin (40px, 40px, 24px, 40px);

    .round-img{
      @include dimensions(85px, 85px);
    }
  }
}

