.online-card {
  border-radius: 15px;
  overflow: hidden;
  height: auto;

  .head {
    color: white;
    background: url('/images/android.svg');
    background-repeat: no-repeat;
    background-size: cover;

    .course-image {
      @include padding-mixin (30px, 0, 0, 0);
      width: 100%;

      img {
        @include dimensions (87px, 87px);
        border: 4px solid white;
        border-radius: 50%;
      }
    }

    .course-name {
      @include margin (14px, 0px, 5px, 0px);
      font-size: $font-mds;
    }

    .course-description {
      font-size: $card-md;
    }

    .rating {
      @include margin (12px, 0, 0, 0);
      padding-bottom: 46px;
      padding-top: 0;
    }
  }

  .foot {
    .card-mentor {
      @include padding-mixin (0, 30px, 0, 30px);
      margin-top: 25px;

      .card-mentors {
        height: 40px;
        width: 40px;
      }

      .card-mentor-text {
        font-size: $card-mds;
        padding-left: 18px;
      }

      .card-mentor-name {
        font-size: $font-xs;
      }
    }

    .card-mentor-divider {
      margin: 0;
    }

    .button-row {
      @include padding-mixin (28px, 30px, 0, 30px);
      margin-bottom: 38px;
      width: 100%;
      font-size: $font-xs; 
    }
 }

  .no-gutters {
    margin: 0;
    padding: 0;
  }

  .center-text {
    text-align: center;
  }
}
