.o-content-container{
    background-color: $vp-background;
    margin-top: -54px;
    height: calc(100vh - 111px);//set according to height of navbar;

    .content-header{
        @include dimensions(100%, 100%);
        max-height: 101px;
    }

    .desk-toggler{
        @include dimensions(20%, 101px);
        min-width: 20%;
        justify-content: center;
        border-right: 1px solid $vp-border;
    }

    .content-dashboard{
        @include padding-mixin(0, 27px, 0, 44px);
        @include dimensions(80%, auto);
        justify-content: space-between;
    }

    .button-dashed{
        @include dimensions(239px, 54px);
        @include border-radius(27px);
        background-color: $vp-background;
        color: $white;
        text-align: center;
    }

    .heading-d{
        @include margin(0,0,0,0);
        flex: none;
    }

    .main-h, .sub-h{
        font-size: $font-xs;
        font-weight: $font-normal;
    }

    .main-h{
        @include margin(0,0,0,0);
        color: $white;
    }

    .sub-h{
        color: $faded-text;
    }

    .button-solid{
        @include dimensions(233px, 61px);
        @include margin(0, 0, 0, 33px);
        text-align: center;
        font-size: $font-sm;
    }

    .notify-text{
        cursor: pointer;
    }

    .new{
        @include dimensions(8px, 8px);
    }

    .content{
        position: relative;
        height: calc(100% - 101px);//set according to .lecture-header;
    }

    .content-desk{
        @include dimensions(20%, 100%);
        overflow-y: auto;
        border-right: solid 1px $vp-border;
        background-color: $vp-background;
        transition: all 0.35s ease;

        &.collapse {
            transform: translateX(-40%);
        }

        &::-webkit-scrollbar{
            display: none;
        }
    }

    .content-media{
        @include dimensions(100%, 100%);
        position: absolute;
        top: 0%;
        right: 0%;
        background: $vp-background;
        transition: all 0.35s ease;

        &.collapse{
            right: 0%;
            width: 80%;
        }
    }

}