.o-review-pad {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .title {
    font-size: $font-md;
    padding: 2rem 0;
  }

  .options {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    place-items: center;

    .circle {
      background-color: #666666;
      @include dimensions(40px,40px);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      margin: 10px 0;
      cursor: pointer;

      &.incorrect {
        background-color: $font-sub-heading;
      }
    }
    
  }
}