.topbar {
  height: 80px;
}

.work-area {
  height: calc(100vh - 80px);

  &__side-menu {
    width: max-content;
  }

  &__main-area {
    padding-left: 5.5rem !important;
    padding-right: 5.5rem !important;

    @media screen and (max-width: 1199px) {
      padding-left: 4rem !important;
      padding-right: 4rem !important;
    }

    @media screen and (max-width: 991px) {
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
    }

    @media screen and (max-width: 555px) {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  }
}
