.cb-navbar-side {
  border-right: 1px solid $search-box-color;
}
.cb-navbar-side > div:nth-child(even) {
  border-top: 1px solid $search-box-color;
  border-bottom: 1px solid $search-box-color;
}

.cb-navbar-side > div:last-child {
  border-bottom: 1px solid $search-box-color;
}

.cb-navbar-side > div:first-child {
  padding: 4.5rem 0;
}

// show hover effect on clickables
.cb-navbar-side > div:not(:first-child):hover {
  cursor: pointer;
}

.cb-navbar-side > div.selected {
  position: relative;
}

.cb-navbar-side > div.selected:after {
  content: '';
  width: 3px;
  height: 100%;
  display: block;
  position: absolute;
  background-image: linear-gradient(30deg, #ec6333, #f19633);
  top: 0;
  right: 0;
}



.cb-navbar-expanded {
  box-shadow: 0px 17px 54px 6px rgba(51, 51, 51, 0.04);
}