.section{
  color: $white;
  .c-accordian{
    padding-top: 0px;
    font-size: $font-sm;
    
    @include li-left-right-padding(left, 15%);

    .bellows{
      background-color: $bellow-black;
    }

    .row{
      padding-left: 8%;
    }
  }

  .deadline{
    font-size: $card-md;
  }

  .main-h{
    font-size: $font-md;
  }

  .circle-front{
    @include dimensions(25px, 25px);
  }

  .circle-back{
    @include dimensions(32px, 32px);
    opacity: 0.56;
    background: $white;
  }

  .li-left{
    width: 80%;
  }

}
.feed-overlay {
  z-index: 10;
  position: absolute;
  @include dimensions(100%, 100%);
  background-color: rgba(0,0,0,0.5);
}

.video-player {
  .feed-box {
    z-index: 15;
    align-items: center;
    display: flex;
    @include dimensions(208px, 54px);
    border-radius: 10px;
    background-color: white;
    position:absolute;
    bottom: 54%;
    right:0;
    &.collapsed {
      width: 56px;
    }

    &.expanded {
      width: 301px;
    }
  }

  .feed-text {
    padding-left: 20px;
    font-size: 15px;
  }

  .love-ico {
    padding-left: 10px;
    width: 40px;
  }
  form {
    padding-left: 10px;
  }
}