.section{
  color: $white;
  .c-accordian{
    padding-top: 0px;
  }

  .accordian-li, .accordian-status, .accordian-head{
      color: $white;
  }

  .accordian-head{
    @include padding-mixin(0, 19px, 0, 5px);
    background-color: $vp-acc-head;
    border-bottom: solid 1px $vp-border;
  }

  .accordian-collapsar{
    @include dimensions(0px, 39px);
    flex-grow: 1;
    @include margin(0, 12px, 0, 0);
  }

  .accordian-ul{
    border: none;
    margin: 0 0;
    max-width: 100%;
  }

  .accordian-li{
    @include padding-mixin(10px, 14px, 10px, 5px);
    border-bottom: solid 1px $vp-border;
    background-color: $vp-background;
  }

  .accordian-li-type{
    margin-right: 12px;
  }

  .accordian-heading, .accordian-status, .main-h, .sub-h{
    // font-size: $font-xs;
  }

  .accordian-heading {
    width: 0;
    flex-grow: 10;
  }

  .circle-front{
    @include dimensions(29px, 29px);
    transform: translateY(13%);
  }

  .circle-back{
    @include dimensions(37px, 37px);
    margin-left: 20px;
  }

  .li-left{
    width: 80%;
  }

}
.feed-overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  .feed-box {
    align-items: center;
    display: flex;
    width: 208px;
    height: 54px;
    border-radius: 10px;
    background-color: white;
    position:absolute;
    bottom:50px;
    right:0;
    margin: 10px;
    margin-right: -7px;
    &.collapsed {
      width: 56px;
    }

    &.expanded {
      width: 301px;
    }
  }

  .feed-text {
    padding-left: 20px;
    
    font-size: 15px;
  }

  .love-ico {
    padding-left: 10px;
    width: 40px;
  }
  form {
    padding-left: 10px;
  }
}