
@import "components/component.font-style";
@import "components/component.card.text";
@import "components/component.buttons.scss";
@import "components/component.carousel";
@import "components/component.level";
@import "components/component.card.price";
@import "components/component.para";
@import "components/component.star";
@import "components/component.status-circle";
@import "components/component.tab-nav";
@import "components/component.notify-type";
@import "components/component.flexbox";
@import "components/component.round-image";
@import "components/component.auth-links";
@import "components/component.video-player";
@import "components/component.faded-cont";
@import "components/component.headings";
@import "components/component.icon";
@import "components/component.fader";
@import "components/element.loader";
@import "components/component.dropdown";
@import "components/component.color";
@import "components/component.bg-color";
@import "components/component.divider";
@import "components/component.form-input";
@import "components/component.pagination";
@import "components/component.background";
@import "components/component.pill";
@import "componentss/component.skeleton";