@import "components/modal/modal";
@import "components/card-layout/card";
@import "components/nav-layout/nav-layout";
@import "components/carousel/carousel";
@import "components/classroom-layout/classroom-layout";
@import "components/accordion-layout/accordion-layout";
@import "components/announcement/announcement";
@import "components/content/content";
@import "components/content/timeline";
@import "components/overview-recent/overview-recent";
@import "components/overview-course/overview-course";
@import "components/overview-container/overview-container";
@import "components/about-course/buy-top";
@import "components/about-course/buy-right";
@import "components/homepage-layout/homepage";
@import "components/content/problem";
@import "components/content/pb-statement";
@import "components/content/pb-leaderboard";
@import "components/content/pb-submissions";
@import "components/courses/courses";
@import "components/content/code-editor";
@import "components/sidebar/sidebar";
@import "components/about-course/accordion";
@import "components/run-card/run-card";
@import "components/about-course/about-course";
@import "components/content/document.scss";
@import "components/footer/footer.scss";
@import "components/doubt/doubt.scss";
@import "components/otp-enroll/otp-enroll";
@import "components/offerings/offerings.scss";
@import "components/notification/notification";
@import "components/video-player/video-player";
@import "components/item-card/item-card";
@import "components/checkout-card/checkout-card";
@import "components/address-card/address-card";
@import "components/login/login";
@import "components/course-card/course-card";
@import "components/arrangement/arrangement";
@import "components/profile-page/profile-page";
@import "components/profile-page-edit/profile-page-edit";
@import "components/edit-profile/edit-profile";
@import "components/app-page/app-page";
@import "components/add-address/add-address";
@import "components/address-page/address-page";
@import "components/client-add/client-add";
@import "components/client-page/client-page";
@import "components/signup/signup";
@import "components/changedp/changedp";
@import "components/side-nav/side-nav";
@import "components/skeleton/skeleton-card";
@import "components/qna/qna";
@import "components/clock/clock";
@import "components/review-pad/review-pad";
@import "components/player-modal/player-modal";
@import "components/course-rating/rating-card";
@import "components/course-rating/rating-stats";
@import "components/mycourse-card/mycourse-card";
@import "components/feedback-modal/feedback-modal";
@import "components/online-card/online-card";
@import "components/my-course-card/my-course-card";
@import "components/home-card/home-card";
@import "components/referral-code/referral-code";
@import "components/certificate/certificate";
@import "components/overview-leaderboard/overview-leaderboard";
@import "components/nagarro-banner/nagarro-banner";
@import "components/doubts/doubts";
@import "components/csv/csv";
@import "components/testimonial";
@import "components/grid";
@import "components/job-description";

@import "components/divided-list-horizontal.scss";
@import "components/dcb-card.scss";
@import "components/previous-dcb.scss";
@import "components/sidenav.scss";
@import "components/topnav.scss";
@import "components/daily-goal-card.scss";
@import "components/dcb-home.scss";
@import "components/hb-leaderboard.scss";