@import "settings/settings.color";
@import "settings/settings.global";
@import "settings/settings.font";


@import "_tools.scss";

@import "generic/normalize";
@import "generic/reset";
@import "_utilities.scss";

@import "_animations.scss";

@import "_elements";
@import "_objects";

//TODO: OPTION TO SELECT THEME AND INSERT THAT THEME HERE
@import "_themes";

@import "_components";
@import "_media-query";
@import "trumps";

