.button-solid {
  font-weight: $bold;
  display: inline-block;

  &.button-grey {
    background: $light-grey;
    color: #666666;
  }
}

.button-dashed {
  font-weight: $bold;
  display: inline-block;
}