.video-container{
  @include dimensions(100%, 100%);
  position: absolute;
  top: 0px;
  right: 0px;
  background: $vp-background;
  transition: all 0.35s ease;

  &.collapse{
    right: 0px;
    width: 80%;
  }
}

