<div class="a-cbm">
  <div class="junior-landing">
    <div class="p-100">
      <div class="row no-gutters align-items-center">
        <div class="col-6">
          <div class="heading-1 bold">
            Coding is for every
            <span class="extra-bold orange">child.</span>
          </div>
          <div class="mt-30 grey heading-5">
            Live 1:1 coding classes to introduce you to the world of coding.
          </div>
          <div class="mt-40">
            <button class="button-primary">Get Started</button>
            <button class="ml-30 button-secondary button-secondary--light">Book counselling session</button>
          </div>
        </div>
      </div>
    </div>

    <div class="p-100 br-20 position-relative white"
      style="background: linear-gradient(76.34deg, #4A00E0 8.9%, #8E2DE2 87.68%);">
      <div class="row no-gutters align-items-center">
        <div class="col-7">
          <div class="row no-gutters align-items-center">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python-white-big.svg">
            <div class="flex-1 pl-30">
              <div class="font-5">RECOMMENDED FOR 7-9</div>
              <div class="mt-5 white heading-2 bold">Introduction to Python</div>
            </div>
          </div>
          <div class="font-5 mt-40">
            Python is a great programming language with which to start learning to code. Short, colorful apps and games
            you & your child can program right away!
          </div>
          <div class="heading-6 bold mt-40">What will you learn?</div>
          <div class="mt-40 row no-gutters align-items-center">
            <div class="pill-tag mr-20 mb-20">Introduction to Python</div>
            <div class="pill-tag mr-20 mb-20">Animations</div>
            <div class="pill-tag mr-20 mb-20">Desktop Games</div>
            <div class="pill-tag mr-20 mb-20">Introduction to AI</div>
            <div class="pill-tag mr-20 mb-20">Falana Dhimaka</div>
          </div>
          <div class="mt-30 heading-6 bold">Projects you will build</div>
          <div class="mt-30 row c-card-carousel">

          </div>
        </div>
        <div class="col-5">
          <div class="br-20 position-relative mb-20 mx-auto" style="max-width: 450px;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/varun-bhaiya-python.svg" class="br-20 w-100">
            <button class="button-primary w-75 position-absolute justify-content-center"
              style="left: 12.5%; bottom: -20px;">
              Start Learning
            </button>
          </div>
          <div class="mt-70">
            <div class="heading-5 bold">What you will get!</div>
            <ul class="divided-list mt-30">
              <li class="px-30">
                <div class="row no-gutters align-items-center">
                  <div class="flex-1">
                    <div class="heading-5 bold">12+</div>
                    <div class="font-4 mt-5">Projects</div>
                  </div>
                </div>
              </li>
              <li class="px-30">
                <div class="row no-gutters align-items-center">
                  <div class="flex-1">
                    <div class="heading-5 bold">12+</div>
                    <div class="font-4 mt-5">Projects</div>
                  </div>
                </div>
              </li>
              <li class="px-30">
                <div class="row no-gutters align-items-center">
                  <div class="flex-1">
                    <div class="heading-5 bold">12+</div>
                    <div class="font-4 mt-5">Projects</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>