.c-arrangement {
  justify-content: space-evenly;
  font-size: $font-sm;
  padding: 30px 8%;

  .nav-info {
    position: fixed;
    top: 100px;
    left: 9%;
  }

  .card {
    @include dimensions(100%, auto);
    @include margin(0, 0, 30px, 0);
    @include padding-mixin(40px, 60px, 40px, 60px);
  }

  .heading-u-red {
    @include padding-mixin(0, 160px, 15px, 0);
    @include margin(0, 0, 20px, 0);
    font-size: $font-mds;
  }

  .button-solid {
    font-size: $font-xs;
    font-weight: $font-medium;
  }

  .row {
    @include padding-mixin(0, 0, 0, 0);
  }

  .attributes {
    height: auto;
    justify-content: space-between;
    font-weight: $font-normal;

    .flex-row {
      @include padding-mixin(15px, 0, 15px, 0);
      justify-content: space-between;
    }

    .detail-row {
      @include margin(0, 0, 20px, 0);
    }
  }
}

@media screen and (max-width: 1200px) {
  .c-arrangement {
    .card {
      padding: 40px;
    }

    .nav-info {
      .card {
        padding: 90px 0 50px 0;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .c-arrangement{
    .nav-info {
      display: none;
    }

    .card {
      padding: 55px 30px 25px 30px;
    }

    .input-text{
      height: 50px;
    }

    .border-card{
      width: 100%;
    }
  }
}

@media screen and (max-width: 575px) {
  .c-arrangement {
    padding: 0;

    .nav-info {
      display: none;
    }

    .card {
      padding: 25px 20px 25px 20px;
      font-weight: $font-medium;
    }

    .attributes {
      .input-text {
        height: 40px;
        width: 70%;
      }
    }

    .border-card {
      width: 100%;
      padding-bottom: 90px;
      padding-top: 20px;
    }

    .button-row {
      bottom: 30px;
    }
  }
}
