.classroom-container {
  margin: 40px 0;

  .classroom-header-box {
    padding: 0 44px;
    border-right: 1px solid $classroom-border;
  }
  .classroom-header {
    padding: 0;
    .classroom-image {
      display: inline-block;
    }

  }

  .classroom-text {
    font-size: $font-xl;
  }

  .classroom-image {
    position: relative;
    padding-left: 0;
  }

  .classroom-para {
    font-size: $font-sm;
    @include textalign(left);
    word-wrap: break-word;
    margin-top: 30px;
  }
}

.progress-text {
  font-size: $font-xl;
  text-align: center;
}

.lectures-completed {
  font-size: $font-md;
  padding: 0;
  margin: 0;
}

.reset-progress {
  color: $reset-progress;
  font-weight: 500;
  font-size: $font-sm;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

.course-progress-detail{
  transform: translateX(-4%);
}

.row {
  padding: 10px;
}

.course-progress-heading {
  font-size: $font-md;
  margin-bottom: 40px;
  padding: 0;
}

.progress{
  padding: 0;
}

.course-progress-box {
  padding: 0 44px;

  .button-solid, .button-dashed {
    @include dimensions(100%, 55px);
    @include border-radius(30px);
    max-width: 190px;
    font-size: $font-md;
  }

  .status-circle {
    @include dimensions(100%, 25%);
    float: left;
  }

  .circle-back{
    @include dimensions(100%, 100%);
    position: absolute;
    top: 0;
  }

  .circle-front{
    top: 12.5%;
    left: 12.5%;
    margin: 0 auto;
  }
  
  .divider-h{
    display: none;
  }

  @include progress(10px, $color-button-primary);
}

.rating{
  &.mob{
    display: none;
  }
}

.heading-mob{
  display: none;
}

.edit-rating{
  font-size: $font-sm;
  border-bottom: solid 1px $global-font-text-color;
  cursor: pointer;
  padding-left: 4px;
}