<div class="a-hb">
  <div>
    {{>nav-hb}}
    <div class="row justify-content-center mx-0">
      {{>sidenav}}
      <div class="offset-0 offset-md-1 col-11 px-md-5 px-0 py-5">
        <div class="all-center h-100">
          <div class="w-60 t-align-c">
            <div class="extra-bold font-superlarge">404</div>
            <div class="light subheading">Sorry, Page not found</div>

            <img src="\images\404image.png" alt="404" class="mt-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>