<div class="a-hb">
  {{>nav-hb}}
  {{>sidenav}}

  <div class="hb-container">
    <div class="container">
      <div class="t-align-c">
        <h2>ADMISSION CONTESTS</h2>
        <h5 class="bold mt-1 mb-2">Participate in admission test and win scholarships upto 95% on classrooom &amp;
          online courses</h5>
      </div>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Rectangle%28Red_wide%29.svg/1280px-Rectangle%28Red_wide%29.svg.png"
        alt="img" class="w-100 my-4" />
      <div class="row no-gutters">
        <div class="col-md-6 col-12 pr-md-3 pr-none">
          <div class="border-card p-5">
            <div class="font-mdxl extra-bold">CAST</div>
            <h5 class="bold mt-1 mb-4">Coders Admission &amp; Scholarship Test</h5>
            <div class="font-sm my-4 t-align-j">
              Coding Blocks is pleased to announce the date for Coders' Admission &amp; Scholarship Test
              (CAST) for our foundation courses, starting this Summer. Students appearing for CAST can win scholarships
              of up to a whopping 95% off the entire course fees of our foundation courses in basic C++, Java, and
              Python (Online &amp; Classroom courses) at all centers.
            </div>
            <button class="button-solid button-orange font-sm extra-bold mt-3">View Contests</button>
          </div>
        </div>
        <div class="col-md-6 col-12 pl-md-3 pl-none">
          <div class="border-card p-5">
            <div class="font-mdxl extra-bold">APAT</div>
            <h5 class="bold mb-4 mt-1">Advanced Program Admission &amp; Scholarship Test</h5>
            <div class="font-sm my-4 t-align-j">
              Coding Blocks is pleased to announce the date for Advanced Programs Admission (and Scholarship) Test
              (APAT) for our advanced batches starting this June. The admission cum scholarship test will be for all our
              development and advanced courses namely Web Dev, Android Dev, Competitive Programming, Algo++, Algo.Java,
              Machine Learning.
            </div>
            <button class="button-solid button-orange font-sm extra-bold mt-3">View Contests</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>