<div class="a-hb" style="background: black;">
  <div class="row">
    <div class="col-2">
      <div class="badge-container">
        <img src="\images\algo_badge.png" alt="Badge">
        <div class="badge-number">
          <div class="extra-bold font-lg">02</div>
        </div>
      </div>
    </div>
  </div>
</div>