<div class="row a-hb">
  <div class="col-4">
    <div>
      <div class="bg-black p-5 t-align-c white position-relative">
        <img src="\images\confetti.png" alt="Confetti" class="position-absolute w-100 tl">
        <img src="\images\cong.png" alt="Congratulations" class="mt-4">
        <div class="divider-h bg-white w-20 my-3 mx-auto" style="height: 4px;"></div>
        <h2 class="bold">You have earned a new badge</h2>
        <div class="d-flex mt-5 mb-4 justify-content-center">
          <div class="col-lg-4 col-md-6 col-4">
            <img src="\images\ds_badge.png" alt="Badge">
          </div>
        </div>
        <h2>Mathematics</h2>
        <h2 class="mt-1">Level 2</h2>
      </div>
      <div class="p-5 t-align-c">
        <h2>Keep up the good work!</h2>
        <div class="font-mds mt-2">Solve 10 more problems to unlock Level 3</div>
        <div class="button-solid button-orange mt-4 display-inline-block">Continue Solving</div>
      </div>
    </div>
  </div>
</div>