<div class="a-hb">
  <div>
    {{>nav-hb}}
    <div class="row justify-content-center mx-0">
      {{>sidenav}}
      <div class="offset-0 offset-md-1 col-11 px-lg-5 px-md-4 px-0 py-5">
        <div class="t-align-c mb-5">
          <h2>CONTESTS</h2>
          <h5 class="bold mt-3">Participate and improve your coding skills</h5>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card">
              <div class="p-xl-5 p-3 white position-relative"
                style="background: linear-gradient(30deg, #f24f5f, #a3076c);">
                <h2>College<br />Contests</h2>
                <div class="bold mt-4">45 Contests</div>
                <img src="https://png.pngtree.com/svg/20161129/9b35e4a79d.png" alt="" class="position-absolute header-img">
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c">
                <div>
                  meta information about college contests. What? Why? When
                </div>
                <button class="button-solid button-orange font-sm mt-4">View Contests</button>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card">
              <div class="p-xl-5 p-3 white position-relative"
                style="background: linear-gradient(30deg, #8108da, #350ed8);">
                <h2>Course<br />Contests</h2>
                <div class="bold mt-4">45 Contests</div>
                <img src="https://png.pngtree.com/svg/20161129/9b35e4a79d.png" alt="" class="position-absolute header-img">
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c">
                <div>
                  meta information about college contests. What? Why? When
                </div>
                <button class="button-solid button-orange font-sm mt-4">View Contests</button>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card">
              <div class="p-xl-5 p-3 white position-relative"
                style="background: linear-gradient(30deg, #1b40de, #2cb4ed);">
                <h2>Admission<br />Contests</h2>
                <div class="bold mt-4">45 Contests</div>
                <img src="https://png.pngtree.com/svg/20161129/9b35e4a79d.png" alt="" class="position-absolute header-img">
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c">
                <div>
                  meta information about college contests. What? Why? When
                </div>
                <button class="button-solid button-orange font-sm mt-4">View Contests</button>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mt-lg-0 mt-5">
              <div class="p-xl-5 p-3 white position-relative"
                style="background: linear-gradient(30deg, #82da3b, #27a87c);">
                <h2>Hiring<br />Contests</h2>
                <div class="bold mt-4">45 Contests</div>
                <img src="https://png.pngtree.com/svg/20161129/9b35e4a79d.png" alt="" class="position-absolute header-img">
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c">
                <div>
                  meta information about college contests. What? Why? When
                </div>
                <button class="button-solid button-orange font-sm mt-4">View Contests</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>