<div class="row a-hb">
  <div class="col-4">
    <div class="border-card p-0">
      <div class="py-5 px-lg-5 px-4 white position-relative" style="background: linear-gradient(30deg, #f24f5f, #a3076c);">
        <h2>College<br/>Contests</h2>
        <div class="bold mt-4">45 Contests</div>
        <img src="https://png.pngtree.com/svg/20161129/9b35e4a79d.png" alt="" class="position-absolute" style="height:60%; right:5%; bottom:0;">
      </div>
      <div class="py-5 px-lg-5 px-4 t-align-c">
        <div>
          meta information about college contests. What? Why? When
        </div>
        <button class="button-solid button-orange font-sm mt-4">View Contests</button>
      </div>
    </div>
  </div>
</div>