<div class="a-hb">
  <div>
    {{>nav-hb}}
    <div class="d-flex justify-content-center">
      {{>sidenav}}
      <div class="offset-0 offset-md-1 col-11 px-lg-5 px-md-4 px-0 py-5">
        <div class="t-align-c mb-5">
          <h2>COURSE CONTESTS</h2>
          <h5 class="bold mt-2">Compete with your peers and boast your rank</h5>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-pink">
                <h3>Complete C++ (Launchpad)</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-blue">
                <h3>Complete Java (Crux)</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-cyan">
                <h3>Python App Development</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-dpink">
                <h3>Android App Development</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-purple-blue">
                <h3>Full Stack Web Development</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-dpurple">
                <h3>Interview Preparation</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-yellow">
                <h3>Algo++</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-4">
            <div class="border-card p-0 contest-card mb-5">
              <div class="px-xl-5 px-4 pt-5 white position-relative head bg-gradient-lgreen">
                <h3>Machine Learning Master</h3>
                <div class="position-absolute all-center contest-card__course-logo p-4 s-100x100 br-50">
                  <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
                </div>
              </div>
              <div class="py-5 px-lg-5 px-4 t-align-c foot">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="bold">15 Contests</div>
                  <button class="button-solid button-orange font-sm">View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>