<div class="row a-hb">
  <div class="col-3">
    <div class="border-card p-0 contest-card">
      <div class="p-xl-5 p-3 white position-relative head"
        style="background: linear-gradient(30deg, #f24f5f, #a3076c);">
        <h3>Complete C++ (Launchpad)</h3>
        <div class="position-absolute all-center course-logo p-4 s-100x100 br-50">
          <img src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png" alt="C++">
        </div>
      </div>
      <div class="py-5 px-lg-5 px-4 t-align-c foot">
        <div class="row justify-content-between mx-0 align-items-center">
          <div class="bold">15 Contests</div>
          <button class="button-solid button-orange font-sm">View</button>
        </div>
      </div>
    </div>
  </div>
</div>