<div class="row">
    <div class="col-4">
        <div class="img-card c-daily-goal-card">
            <h4>Daily Goal</h4>
            <div class="font-xs">Complete daily goal to count it as streak</div>
            <progress value="50" max="100" class="mt-4 mb-2"></progress>
            <h6 class="bold">20/100 Points Scored</h6>
            <div class="divider-h my-4"></div>
            <h4>Unlock Badge</h4>
            <div class="font-xs">Complete 3 more consecutive DCB’s to unlock badge</div>
            <img src="/images/hexagon.jpg" alt="Badge Logo" class="badge mt-5 mb-3"/>
            <h5 style="color: #246db3">Streak Master</h5>
            <progress value="50" max="100" class="mt-4 mb-2"></progress>
            <h6 class="bold">4 of 7 DCB’s completed</h6>
            <div class="divider-h my-4"></div>
            <h4>My Badges</h4>
            <div class="row card-scroll my-4">
                <div class="col-4 col-lg-3">
                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge"/>
                </div>
                <div class="col-4 col-lg-3">
                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge"/>
                </div>
                <div class="col-4 col-lg-3">
                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge"/>
                </div>
                <div class="col-4 col-lg-3">
                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge"/>
                </div>
                <div class="col-4 col-lg-3">
                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge"/>
                </div>
                <div class="col-4 col-lg-3">
                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge"/>
                </div>
                <div class="col-4 col-lg-3">
                    <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge"/>
                </div>
            </div>
        </div>
    </div>
</div>