<div class="a-hb">
  <div>
    {{>nav-hb}}
    <div class="row justify-content-center mx-0">
      {{>sidenav}}
      <div class="offset-0 offset-md-1 col-11 px-5 dashboard">
        <div class="position-relative">
          <div class="banner-nav h-100 w-10 position-absolute tl flex-col all-center pointer">
            <span style="font-size: 50px;"><a href="#" class="white extra-bold">&lang;</a></span>
          </div>
          <img src="https://www.mymaldives.com.au/wp-content/uploads/sites/11/2016/12/Beach-Banner.jpg" alt="BannerImage" class="w-100">
          <div class="banner-nav h-100 w-10 position-absolute tr flex-col all-center pointer">
            <span style="font-size: 50px;"><a href="#" class="white extra-bold">&rang;</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>