<div class="landing-page">
  <div class="d-flex justify-content-between align-items-center position-relative p-5">
    <div>
      <div class="extra-bold" style="font-size: 36px;">Home to
        <span class="gradient-text"> 30K+ Talented Developers</span>
      </div>
      <h2 class="light" style="font-weight: 300;">Practice coding, prepare for interviews, and get prizes.</h2>
    </div>
    <img src="http://www.idoneustalent.com/wp-content/uploads/2018/11/8231fcb54e6f5071cfd7cf18f79cba67.jpg"
      alt="Vector">
  </div>
  <div class="bg-gradient-pink p-5 row align-items-center white">
    <div class="col-6">
      <div class="bg-white mb-5" style="width: 10%; height: 8px; border-radius: 4px;"></div>
      <div class="extra-bold mb-4" style="font-size: 36px;">For Developers, By Developers</div>
      <div class="font-mds mb-5" style="font-weight: 300;">
        We take pride in the fact that we have the most talented team of
        developers and mentors.<br /><br />

        All the coding challenges at our platform have been set by well performing students at the best of colleges,
        have worked at industry giants such as Sony, Cyanogen, SanDisk, Facebook, Barclays, Practo, Harman, DRDO,
        Cadence, American Express, Nagarro and many more
      </div>
      <h3>Meet our Team<i class="fas fa-arrow-right ml-3 v-align-m"></i></h3>
    </div>
    <div class="col-6">
      <div class="row mb-4">
        <div class="col-6">
          <img src="\images\docs-white.svg" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Code Challenges</h2>
          <div class="font-mds" style="font-weight: 300;">50K+ Coding Challenges covering major topics</div>
        </div>
        <div class="col-6">
          <img src="\images\docs-white.svg" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Code Challenges</h2>
          <div class="font-mds" style="font-weight: 300;">50K+ Coding Challenges covering major topics</div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="\images\docs-white.svg" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Code Challenges</h2>
          <div class="font-mds" style="font-weight: 300;">50K+ Coding Challenges covering major topics</div>
        </div>
        <div class="col-6">
          <img src="\images\docs-white.svg" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Code Challenges</h2>
          <div class="font-mds" style="font-weight: 300;">50K+ Coding Challenges covering major topics</div>
        </div>
      </div>
    </div>
  </div>
</div>