<div class="a-hb">
  <div class="landing-page">
    {{!-- Section - 1 greater than MD --}}
    <div
      class="d-md-flex d-none justify-content-between align-items-center position-relative landing-page__section landing-page__section--450">
      <div class="col-xl-8 col-md-6 col-12 px-0 z-pos">
        <div class="extra-bold font-36">Home to
          <span class="gradient-text"> 30K+ Talented Developers</span>
        </div>
        <h2 class="light">Practice coding, prepare for interviews, and get prizes.</h2>
      </div>
      <img src="/images/maingif.gif" alt="Vector" class="landing-page__vector-img1 d-md-block d-none">
    </div>

    {{!-- Section - 1 less than MD   --}}
    <div class="d-md-none d-flex all-center landing-page__section">
      <div class="t-align-c">
        <div class="extra-bold font-36">Home to
          <span class="gradient-text"> 30K+ Talented Developers</span>
        </div>
        <h2 class="mt-2 light">Practice coding, prepare for interviews, and get prizes.</h2>
        <button class="button-solid button-orange font-xl p-3 mt-5">Sign Up &amp; Code</button>
      </div>
    </div>

    {{!-- Section - 2 --}}
    <div
      class="row no-gutters align-items-center white bg-gradient-pink position-relative justify-content-between landing-page__section">
      <img src="\images\bg_redpink.png" class="back-img tl">
      <div class="col-md-5 col-12">
        <div class="bg-white mb-5 landing-page__white-div"></div>
        <div class="extra-bold mb-4 font-36">For Developers, By Developers</div>
        <div class="font-mds mb-5 light">
          We take pride in the fact that we have the most talented team of
          developers and mentors.<br /><br />

          All the coding challenges at our platform have been set by well performing students at the best of colleges,
          have worked at industry giants such as Sony, Cyanogen, SanDisk, Facebook, Barclays, Practo, Harman, DRDO,
          Cadence, American Express, Nagarro and many more
        </div>
        <a href="#" class="white">
          <h3>Meet our Team<i class="fas fa-arrow-right ml-3 v-align-m"></i></h3>
        </a>
      </div>
      <div class="col-md-6 col-12 mt-md-0 mt-5">
        <div class="row mb-5">
          <div class="col-6">
            <img src="\images\icon1.png" alt="Icon" class="w-20 mb-md-5 mb-1">
            <h2 class="mb-2">Code Challenges</h2>
            <div class="font-mds light">50K+ Coding Challenges covering major topics</div>
          </div>
          <div class="col-6">
            <img src="\images\icon2.png" alt="Icon" class="w-20 mb-md-5 mb-1">
            <h2 class="mb-2">Interview Preparation</h2>
            <div class="font-mds light">Interview Preparation</div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <img src="\images\icon3.png" alt="Icon" class="w-20 mb-md-5 mb-1">
            <h2 class="mb-2">Editorials and Tutorials</h2>
            <div class="font-mds light">Download editorials and learn from tutorials if stuck</div>
          </div>
          <div class="col-6">
            <img src="\images\icon4.png" alt="Icon" class="w-20 mb-md-5 mb-1">
            <h2 class="mb-2">Badges and Certifications</h2>
            <div class="font-mds light">Earn Badges &amp; Show off your profile in your groups</div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Section - 3 --}}
    <div class="landing-page__section">
      <div class="mb-5">
        <div class="extra-bold font-36">
          Looking to make a significant impact with your code ?
        </div>
        <h2 class="mt-1 light">
          Join our community of talented developers and start building your tech skills
        </h2>
      </div>
      <div class="row">
        <div class="col-md-4 col-6 mb-4">
          <div class="border-card p-lg-5 p-4 h-100">
            <img src="\images\contests.svg" alt="contests" class="w-40 mb-3">
            <div class="extra-bold mb-2 light">Amazing Contests</div>
            <div class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="border-card p-lg-5 p-4 h-100">
            <img src="\images\interview.svg" alt="contests" class="w-40 mb-3">
            <div class="extra-bold mb-2 light">Get Hired</div>
            <div class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="border-card p-lg-5 p-4 h-100">
            <img src="\images\dcb.svg" alt="contests" class="w-40 mb-3">
            <div class="extra-bold mb-2 light">Daily Code Bytes</div>
            <div class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="border-card p-lg-5 p-4 h-100">
            <img src="\images\profile.svg" alt="contests" class="w-40 mb-3">
            <div class="extra-bold mb-2 light">Profile Building</div>
            <div class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="border-card p-lg-5 p-4 h-100">
            <img src="\images\competition.svg" alt="contests" class="w-40 mb-3">
            <div class="extra-bold mb-2 light">Competitions</div>
            <div class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
          <div class="border-card p-lg-5 p-4 h-100">
            <img src="\images\certificate.svg" alt="contests" class="w-40 mb-3">
            <div class="extra-bold mb-2 light">Certifications and Prizes</div>
            <div class="light">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Section - 4 --}}
    <div class="row no-gutters align-items-center landing-page__section landing-page__section--padding-bleed">
      <div class="d-md-none d-block t-align-c mb-5 mx-auto">
        <div class="extra-bold font-36">Upcoming Events</div>
        <div class="mt-1"><a href="#" class="orange font-lg light">View All Events</a></div>
      </div>
      <div class="col-3 d-md-block d-none">
        <div>
          <i class="far fa-calendar-check orange fa-3x"></i>
          <div class="extra-bold mt-4 font-36">Upcoming Events</div>
          <h2 class="light" class="mb-5">Participate &amp; Win Prizes</h2>
          <a href="#" class="orange">
            <div class="font-mds mt-5 light">View All Events</div>
          </a>
        </div>
      </div>
      <div class="col-md-9 col-12 px-0">
        <div class="flex-row all-center px-md-2 px-0">
          <span class="font-lg extra-bold d-md-inline d-none"><a href="#">〈</a></span>
          <div class="row c-card-carousel pb-0 mx-md-3 mx-0 w-100">
            <div class="col-lg-6 col-md-8 col-sm-6 col-8">
              <div class="border-card p-0">
                <div class="bg-gradient-black-lr py-5 px-4 all-center white t-align-c">
                  <div>
                    <h3>APAT | April 2019</h3>
                    <span class="font-xl orange v-align-m mr-1">&#10625;</span>
                    <span class="light">Registrations open till 2 March 2019</span>
                    <ul class="divided-list justify-content-center mt-4 mb-0">
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">12</div>
                        <div class="list-data font-mds">Problems</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">234</div>
                        <div class="list-data font-mds">Participants</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">1 hr</div>
                        <div class="list-data font-mds">Time</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="align-items-center t-align-c px-2 py-4">
                  <div class="font-sm mb-4">STARTS IN</div>
                  <ul class="divided-list timer d-inline-block">
                    <li class="timer-item pr-xl-2 pr-1">
                      <div class="list-heading font-lg extra-bold">00</div>
                      <div class="list-data">Days</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">12</div>
                      <div class="list-data">Hours</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">30</div>
                      <div class="list-data">Minutes</div>
                    </li>
                    <li class="timer-item pl-xl-2 pl-1">
                      <div class="list-heading font-lg extra-bold">25</div>
                      <div class="list-data">Seconds</div>
                    </li>
                  </ul>
                  <button class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto d-block">Register</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-8">
              <div class="border-card p-0">
                <div class="bg-gradient-black-lr py-5 px-4 all-center white t-align-c">
                  <div>
                    <h3>APAT | April 2019</h3>
                    <span class="font-xl orange v-align-m mr-1">&#10625;</span>
                    <span class="light">Registrations open till 2 March 2019</span>
                    <ul class="divided-list justify-content-center mt-4 mb-0">
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">12</div>
                        <div class="list-data font-mds">Problems</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">234</div>
                        <div class="list-data font-mds">Participants</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">1 hr</div>
                        <div class="list-data font-mds">Time</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="align-items-center t-align-c px-2 py-4">
                  <div class="font-sm mb-4">STARTS IN</div>
                  <ul class="divided-list timer d-inline-block">
                    <li class="timer-item pr-xl-2 pr-1">
                      <div class="list-heading font-lg extra-bold">00</div>
                      <div class="list-data">Days</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">12</div>
                      <div class="list-data">Hours</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">30</div>
                      <div class="list-data">Minutes</div>
                    </li>
                    <li class="timer-item pl-xl-2 pl-1">
                      <div class="list-heading font-lg extra-bold">25</div>
                      <div class="list-data">Seconds</div>
                    </li>
                  </ul>
                  <button class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto d-block">Register</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-8">
              <div class="border-card p-0">
                <div class="bg-gradient-black-lr py-5 px-4 all-center white t-align-c">
                  <div>
                    <h3>APAT | April 2019</h3>
                    <span class="font-xl orange v-align-m mr-1">&#10625;</span>
                    <span class="light">Registrations open till 2 March 2019</span>
                    <ul class="divided-list justify-content-center mt-4 mb-0">
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">12</div>
                        <div class="list-data font-mds">Problems</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">234</div>
                        <div class="list-data font-mds">Participants</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">1 hr</div>
                        <div class="list-data font-mds">Time</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="align-items-center t-align-c px-2 py-4">
                  <div class="font-sm mb-4">STARTS IN</div>
                  <ul class="divided-list timer d-inline-block">
                    <li class="timer-item pr-xl-2 pr-1">
                      <div class="list-heading font-lg extra-bold">00</div>
                      <div class="list-data">Days</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">12</div>
                      <div class="list-data">Hours</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">30</div>
                      <div class="list-data">Minutes</div>
                    </li>
                    <li class="timer-item pl-xl-2 pl-1">
                      <div class="list-heading font-lg extra-bold">25</div>
                      <div class="list-data">Seconds</div>
                    </li>
                  </ul>
                  <button class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto d-block">Register</button>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-6 col-8">
              <div class="border-card p-0">
                <div class="bg-gradient-black-lr py-5 px-4 all-center white t-align-c">
                  <div>
                    <h3>APAT | April 2019</h3>
                    <span class="font-xl orange v-align-m mr-1">&#10625;</span>
                    <span class="light">Registrations open till 2 March 2019</span>
                    <ul class="divided-list justify-content-center mt-4 mb-0">
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">12</div>
                        <div class="list-data font-mds">Problems</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">234</div>
                        <div class="list-data font-mds">Participants</div>
                      </li>
                      <li class="px-xl-2 px-1 t-align-l">
                        <div class="list-heading font-md extra-bold orange">1 hr</div>
                        <div class="list-data font-mds">Time</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="align-items-center t-align-c px-2 py-4">
                  <div class="font-sm mb-4">STARTS IN</div>
                  <ul class="divided-list timer d-inline-block">
                    <li class="timer-item pr-xl-2 pr-1">
                      <div class="list-heading font-lg extra-bold">00</div>
                      <div class="list-data">Days</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">12</div>
                      <div class="list-data">Hours</div>
                    </li>
                    <li class="timer-item px-xl-2 px-1">
                      <div class="list-heading font-lg extra-bold">30</div>
                      <div class="list-data">Minutes</div>
                    </li>
                    <li class="timer-item pl-xl-2 pl-1">
                      <div class="list-heading font-lg extra-bold">25</div>
                      <div class="list-data">Seconds</div>
                    </li>
                  </ul>
                  <button class="button-solid button-orange extra-bold mt-4 mb-2 mx-auto d-block">Register</button>
                </div>
              </div>
            </div>
          </div>
          <span class="font-xl bold d-md-inline d-none"><a href="#">〉</a></span>
        </div>
      </div>
    </div>

    {{!-- Section - 5 --}}
    <div class="position-relative landing-page__section">
      <div class="bg-gradient-purple-blue p-5 back-div h-60"></div>
      <div>
        <div class="row mx-0 white align-items-center">
          <div class="col-lg-4 col-md-5 col-12">
            <div class="row no-gutters align-items-center justify-content-center">
              <div class="col-md-3 col-2">
                <img src="\images\journey.png" alt="journey" class="w-80">
              </div>
              <div class="col-md-9 col-sm-6 col-8">
                <div class="extra-bold font-super">JOURNEY</div>
                <div class="light font-45 mt-neg-15">TILL NOW</div>
              </div>
            </div>
            <h2 class="light d-md-block d-none" class="mt-3">So far we have witnessed...</h2>
          </div>
          <div class="col-lg-8 col-md-7 col-12 pl-md-5 pl-0 mt-md-0 mt-5">
            <div class="row mx-0">
              <div class="col-xl-3 col-6 mb-5 mb-xl-0">
                <div class="extra-bold font-super">45K+</div>
                <div class="bg-white w-25 my-3 landing-page__section__separator-5"></div>
                <h3 class="light">Programming Challenges</h3>
              </div>
              <div class="col-xl-3 col-6 mb-5 mb-xl-0">
                <div class="extra-bold font-super">1.2K+</div>
                <div class="bg-white w-25 my-3 landing-page__section__separator-5"></div>
                <h3 class="light">Programming Challenges</h3>
              </div>
              <div class="col-xl-3 col-6">
                <div class="extra-bold font-super">58M+</div>
                <div class="bg-white w-25 my-3 landing-page__section__separator-5"></div>
                <h3 class="light">Code Submissions</h3>
              </div>
              <div class="col-xl-3 col-6">
                <div class="extra-bold font-super">50K+</div>
                <div class="bg-white w-25 my-3 landing-page__section__separator-5"></div>
                <h3 class="light">Interview Prep Challenges</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-card p-5 mx-auto mb-5 landing-page__hb-info">
        <div class="t-align-c mb-md-4 mb-5">
          <div class="extra-bold font-36">Say Hello to Hackerblocks 2.0</div>
          <h2 class="light">What's in it for you?</h2>
        </div>
        <div class="row">
          <div class="col-6 mb-5 pr-5">
            <div class="row no-gutters align-items-center">
              <div class="col-md-4 col-12">
                <img src="\images\profile.svg" alt="badges" class="landing-page__hb-info__info-img">
              </div>
              <div class="col-md-8 col-12">
                <h2 class="mb-4">Earn Badges</h2>
                <div class="light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mb-5 pl-5">
            <div class="row no-gutters align-items-center">
              <div class="col-md-4 col-12">
                <img src="\images\bookmark.svg" alt="badges" class="landing-page__hb-info__info-img">
              </div>
              <div class="col-md-8 col-12">
                <h2 class="mb-4">Bookmark Challenges</h2>
                <div class="light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mb-5 pr-5">
            <div class="row no-gutters align-items-center">
              <div class="col-md-4 col-12">
                <img src="\images\strategy.svg" alt="badges" class="landing-page__hb-info__info-img">
              </div>
              <div class="col-md-8 col-12">
                <h2 class="mb-4">Guided Learning</h2>
                <div class="light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mb-5 pl-5">
            <div class="row no-gutters align-items-center">
              <div class="col-md-4 col-12">
                <img src="\images\dcb2.svg" alt="badges" class="landing-page__hb-info__info-img">
              </div>
              <div class="col-md-8 col-12">
                <h2 class="mb-4">Daily Code Bytes</h2>
                <div class="light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mb-5 pr-5">
            <div class="row no-gutters align-items-center">
              <div class="col-md-4 col-12">
                <img src="\images\profile.svg" alt="badges" class="landing-page__hb-info__info-img">
              </div>
              <div class="col-md-8 col-12">
                <h2 class="mb-4">Build your Profile</h2>
                <div class="light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mb-5 pl-5">
            <div class="row no-gutters align-items-center">
              <div class="col-md-4 col-12">
                <img src="\images\certificate2.svg" alt="badges" class="landing-page__hb-info__info-img">
              </div>
              <div class="col-md-8 col-12">
                <h2 class="mb-4">Get Certificates</h2>
                <div class="light">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
                  lacus vel facilisis.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Section - 6 --}}
    <div class="bg-gradient-blue white landing-page__section">
      <div class="t-align-c mb-5">
        <div class="extra-bold font-36">Land your Dream Job</div>
        <h2 class="light">
          Our mission is to help you improve your technical skills and crack interviews
        </h2>
      </div>
      <img src="\images\companies.png" alt="companies" class="mt-md-5 mt-4 w-100">
    </div>

    {{!-- Section - 7 --}}
    <div class="landing-page__section position-relative overflow-hidden">
      <div class="extra-bold font-36">Beginner in Programming</div>
      <h2 class="light">This is the right place for you to develop your skills and crack top tech interviews
      </h2>
      <div class="row no-gutters mt-5">
        <div class="col-5 d-lg-block d-none">
          <img src="\images\beginner.gif" alt="beginner" class="landing-page__vector-img2">
        </div>
        <div class="col-lg-7 col-12">
          <div class="row align-items-center no-gutters mb-5">
            <div class="col-2 pr-md-5 pr-4">
              <img src="\images\dcb-beg.svg" alt="certificate">
            </div>
            <div class="col-10">
              <div class="extra-bold light">Daily Code Bytes</div>
              <div class="font-md light">
                Solve a problem daily for 7 days to make daily streaks and
                earn badges.
              </div>
              <div class="divider-h mt-5 d-lg-block d-none"></div>
            </div>
          </div>
          <div class="divider-h my-5 d-lg-none d-block"></div>
          <div class="row align-items-center no-gutters mb-5">
            <div class="col-2 pr-md-5 pr-4">
              <img src="\images\interview-beg.svg" alt="interview">
            </div>
            <div class="col-10">
              <div class="extra-bold light">Interview Preparation Tracks</div>
              <div class="font-md light">
                Prepare for tech interviews from beginner to advanced level
                with tutorilas &amp; challenges
              </div>
              <div class="divider-h mt-5 d-lg-block d-none"></div>
            </div>
          </div>
          <div class="divider-h my-5 d-lg-none d-block"></div>
          <div class="row align-items-center no-gutters mb-5">
            <div class="col-2 pr-md-5 pr-4">
              <img src="\images\competition_beg.svg" alt="competition">
            </div>
            <div class="col-10">
              <div class="extra-bold light">Contests and Competitions</div>
              <div class="font-md light">
                Participate in ongoing contests &amp; competitions to see
                where you stand amongst other developers
              </div>
            </div>
          </div>
          <div class="divider-h mb-lg-5 mb-0"></div>
          <div class="d-lg-flex d-none justify-content-between align-items-center">
            <h2>Take a leap in your career</h2>
            <a href="#">
              <h3 class="orange">Join Now<i class="fas fa-arrow-right ml-2"></i></h3>
            </a>
          </div>
        </div>
      </div>
      <div class="d-flex d-lg-none align-items-center position-relative">
        <div class="col-7">
          <img src="\images\beginner.gif" alt="beginner" class="w-90 mb-neg-15">
        </div>
        <div class="col-5">
          <h2>Take a leap in your career</h2>
          <a href="#">
            <h3 class="orange">Join Now<i class="fas fa-arrow-right ml-2"></i></h3>
          </a>
        </div>
      </div>
    </div>

    {{!-- Section - 8 --}}
    <div class="bg-grey all-center landing-page__section">
      <div class="t-align-c landing-page__section__review-card">
        <div class="extra-bold mb-5 font-36">
          What developers say about HackerBlocks
        </div>
        <div class="bg-white border-card p-5">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
            class="round s-100x100"></img>
          <div class="font-mds my-3 light">
            The coding problems are divided into categories, which makes it very easy to prepare for any job interview.
            Moreover, they are extensive and cover almost all the general/most important questions asked by companies.
            Programming problems are maintained and extremely up to date.
          </div>
          <h2>John Doe</h2>
        </div>
        <div class="mt-4">
          <span class="font-xl landing-page__owl-carousel">&#10625;</span>
          <span class="font-xl black landing-page__owl-carousel mx-2">&#10625;</span>
          <span class="font-xl landing-page__owl-carousel">&#10625;</span>
        </div>
      </div>
    </div>

    {{!-- Section - 9 --}}
    <div class="landing-page__section landing-page__section--padding-bleed--lg">
      <div class="t-align-c">
        <div class="extra-bold font-36">Latest from the blog</div>
        <div class="font-mds"><a href="#" class="orange mt-2">View All Blogs</a></div>
      </div>
      <div class="row mt-5 c-card-carousel mx-0">
        <div class="col-md-6 col-8">
          <div class="border-card p-0 h-100">
            <div class="position-relative landing-page__blog-card--vertical">
              <img
                src="https://image.cnbcfm.com/api/v1/image/105225154-GettyImages-522833378.jpg?v=1558349953&w=1400&h=950"
                alt="" class="back-img">
            </div>
            <div class="p-5">
              <h2>My Flipkart Interview Experience</h2>
              <div class="font-sm mt-3"><a href="#" class="orange">Read Story</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-8 d-lg-none d-block">
          <div class="border-card p-0 h-100">
            <div class="position-relative landing-page__blog-card--vertical">
              <img
                src="https://image.cnbcfm.com/api/v1/image/105225154-GettyImages-522833378.jpg?v=1558349953&w=1400&h=950"
                alt="" class="back-img">
            </div>
            <div class="p-5">
              <h2>My Flipkart Interview Experience</h2>
              <div class="font-sm mt-3"><a href="#" class="orange">Read Story</a></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-8 d-lg-none d-block">
          <div class="border-card p-0 h-100">
            <div class="position-relative landing-page__blog-card--vertical">
              <img
                src="https://image.cnbcfm.com/api/v1/image/105225154-GettyImages-522833378.jpg?v=1558349953&w=1400&h=950"
                alt="" class="back-img">
            </div>
            <div class="p-5">
              <h2>My Flipkart Interview Experience</h2>
              <div class="font-sm mt-3"><a href="#" class="orange">Read Story</a></div>
            </div>
          </div>
        </div>


        <div class="col-6 d-lg-block d-none">
          <div class="border-card p-0 mb-5 landing-page__blog-card--horizontal">
            <div class="d-flex align-items-center h-100">
              <div class="w-40 h-100 position-relative">
                <img
                  src="https://image.cnbcfm.com/api/v1/image/105225154-GettyImages-522833378.jpg?v=1558349953&w=1400&h=950"
                  alt="" class="back-img">
              </div>
              <div class="p-5">
                <h2>My Flipkart Interview Experience</h2>
                <div class="font-sm mt-3"><a href="#" class="orange">Read Story</a></div>
              </div>
            </div>
          </div>
          <div class="border-card p-0 landing-page__blog-card--horizontal">
            <div class="d-flex align-items-center h-100">
              <div class="w-40 h-100 position-relative">
                <img
                  src="https://image.cnbcfm.com/api/v1/image/105225154-GettyImages-522833378.jpg?v=1558349953&w=1400&h=950"
                  alt="" class="back-img">
              </div>
              <div class="p-5">
                <h2>My Flipkart Interview Experience</h2>
                <div class="font-sm mt-3"><a href="#" class="orange">Read Story</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Section - 10 --}}
    <div class="bg-dark-grey white landing-page__footer">
      <div>
        <div class="row no-gutters align-items-center">
          <div class="col-lg-2 col-12">
            <img src="\images\online-logo.png" alt="logo" class="landing-page__footer__logo">
          </div>
          <div class="col-lg-10 col-12 mt-lg-0 mt-5">
            <div class="font-mds pl-lg-5 pl-0 light">
              Coding Blocks was founded in 2014 with a mission to create skilled Software Engineers for our country and
              the world. We are here to bridge the gap between the quality of skills demanded by industry and the
              quality
              of skills imparted by conventional institutes. At Coding Blocks, we strive to increase student interest by
              providing hands on practical training on every concept taught in the classroom.
            </div>
          </div>
        </div>
        <div class="row mt-5 justify-content-between">
          <div class="col-lg-2 col-md-3 col-6">
            <h5 class="mb-5">Classroom Courses</h5>
            <div class="font-mds light">
              <div>
                <div class="extra-bold orange my-2">Beginner Courses</div>
                <div class="my-2"><a href="#" class="white">C++ For Beginners</a></div>
                <div class="my-2"><a href="#" class="white">JAVA For Beginners</a></div>
                <div class="my-2"><a href="#" class="white">Python App Development</a></div>
              </div>
              <div class="mt-4">
                <div class="extra-bold orange my-2">Development Courses</div>
                <div class="my-2"><a href="#" class="white">Android App Dev</a></div>
                <div class="my-2"><a href="#" class="white">Python Django</a></div>
                <div class="my-2"><a href="#" class="white">Unity Game Development</a></div>
                <div class="my-2"><a href="#" class="white">Full Stack Web Dev</a></div>
              </div>
              <div class="mt-4">
                <div class="extra-bold orange my-2">Advanced Courses</div>
                <div class="my-2"><a href="#" class="white">Algo++</a></div>
                <div class="my-2"><a href="#" class="white">Algo.JAVA</a></div>
                <div class="my-2"><a href="#" class="white">Competitive Programming</a></div>
                <div class="my-2"><a href="#" class="white">Machine Learning</a></div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6">
            <h5 class="mb-5">Online Courses</h5>
            <div class="font-mds light">
              <div class="my-3"><a href="#" class="white">C++ For Beginners</a></div>
              <div class="my-3"><a href="#" class="white">Java For Beginners</a></div>
              <div class="my-3"><a href="#" class="white">Python App Development</a></div>
              <div class="my-3"><a href="#" class="white">Android App Dev</a></div>
              <div class="my-3"><a href="#" class="white">Full Stack Web Dev</a></div>
              <div class="my-3"><a href="#" class="white">Python Django</a></div>
              <div class="my-3"><a href="#" class="white">Unity Game Development</a></div>
              <div class="my-3"><a href="#" class="white">Algo++</a></div>
              <div class="my-3"><a href="#" class="white">Algo.JAVA</a></div>
              <div class="my-3"><a href="#" class="white">Competitive Programming</a></div>
              <div class="my-3"><a href="#" class="white">Machine Learning</a></div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6 mt-md-0 mt-5">
            <h5 class="mb-5">Products</h5>
            <div class="font-mds light">
              <div class="my-3"><a href="#" class="white">Hacker Blocks</a></div>
              <div class="my-3"><a href="#" class="white">Online Coding Blocks</a></div>
              <div class="my-3"><a href="#" class="white">BOSS</a></div>
              <div class="my-3"><a href="#" class="white">Online IDE</a></div>
              <div class="my-3"><a href="#" class="white">Accounts</a></div>
              <div class="my-3"><a href="#" class="white">Dukaan</a></div>
              <div class="my-3"><a href="#" class="white">Blog</a></div>
              <div class="my-3"><a href="#" class="white">URL Shortener</a></div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-6">
            <h5 class="mb-5">Company</h5>
            <div class="my-3"><a href="#" class="white">Introduction</a></div>
            <div class="my-3"><a href="#" class="white">Why Coding Blocks</a></div>
            <div class="my-3"><a href="#" class="white">Reviews</a></div>
            <div class="my-3"><a href="#" class="white">Our Team</a></div>
            <div class="my-3"><a href="#" class="white">Brochure</a></div>
            <div class="my-3"><a href="#" class="white">Hall of Fame</a></div>
            <div class="my-3"><a href="#" class="white">Newsletter</a></div>
            <div class="my-3"><a href="#" class="white">Events</a></div>
            <div class="my-3"><a href="#" class="white">Alumini Portal</a></div>
            <div class="my-3"><a href="#" class="white">Contact</a></div>
          </div>

          <div class="divider-h bg-white d-lg-none d-block my-5"></div>
          <div class="col-lg-2 col-12 word-wrap">
            <h5 class="mb-lg-5 mb-4">Contact Us</h5>
            <div class="font-mds light row no-gutters">
              <div class="col-lg-12 col-6">
                <div class="extra-bold orange my-2">Technical Support</div>
                <div class="my-2">support@codingblocks.com</div>
                <div class="my-2">+1800 274 4504</div>
              </div>
              <div class="mt-lg-4 mt-0 col-lg-12 col-6">
                <div class="extra-bold orange my-2">Classroom Courses Enquiry</div>
                <div class="my-2">admissions@codingblocks.com</div>
                <div class="my-2">+1800 274 4504</div>
              </div>
              <div class="mt-4 col-12">
                <div class="extra-bold orange my-2">Online Courses Enquiry</div>
                <div class="my-2">admissions@codingblocks.com</div>
                <div class="my-2">+1800 274 4504</div>
              </div>
              <div class="mt-5 col-12">
                <a href="#" class="grey"><i class="fab fa-twitter fa-lg px-2"></i></a>
                <a href="#" class="grey"><i class="fab fa-facebook-f fa-lg px-2"></i></a>
                <a href="#" class="grey"><i class="fab fa-instagram fa-lg px-2"></i></a>
                <a href="#" class="grey"><i class="fab fa-linkedin-in fa-lg px-2"></i></a>
                <a href="#" class="grey"><i class="fab fa-youtube fa-lg px-2"></i></a>
                <a href="#" class="grey"><i class="fab fa-github fa-lg px-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black-grey py-4 white landing-page__footer">
    <div class="d-md-flex d-none">
      <div class="li-left">
        <ul class="divided-list font-mds">
          <li class="pr-3">Policy</li>
          <li class="pl-3">Terms of Service</li>
        </ul>
      </div>
      <div class="li-right">
        <div class="font-mds">Copyright 2019 - Coding Blocks Pvt. Ltd.</div>
      </div>
    </div>
    <div class="t-align-c d-md-none d-block">
      <ul class="divided-list font-mds d-block my-0">
        <li class="pr-3">Policy</li>
        <li class="pl-3">Terms of Service</li>
      </ul>
      <div class="font-mds mt-2">Copyright 2019 - Coding Blocks Pvt. Ltd.</div>
    </div>
  </div>
</div>
</div>