<div class="landing-page a-hb">
  <div class="d-flex justify-content-between align-items-center position-relative p-5" style="height: 450px;">
    <div class="col-xl-8 col-lg-6 col-4" style="z-index: 10;">
      <div class="extra-bold" style="font-size: 36px;">Home to
        <span class="gradient-text"> 30K+ Talented Developers</span>
      </div>
      <h2 class="light" style="font-weight: 300;">Practice coding, prepare for interviews, and get prizes.</h2>
    </div>
    <img src="/images/comp5.gif" alt="Vector" class="landing-page__vector-img">
  </div>
  <div class="p-5 row no-gutters align-items-center white bg-gradient-pink position-relative justify-content-between">
    <img src="\images\bg_redpink.png" class="back-img tl">
    <div class="col-5">
      <div class="bg-white mb-5" style="width: 10%; height: 8px; border-radius: 4px;"></div>
      <div class="extra-bold mb-4" style="font-size: 36px;">For Developers, By Developers</div>
      <div class="font-mds mb-5" style="font-weight: 300;">
        We take pride in the fact that we have the most talented team of
        developers and mentors.<br /><br />

        All the coding challenges at our platform have been set by well performing students at the best of colleges,
        have worked at industry giants such as Sony, Cyanogen, SanDisk, Facebook, Barclays, Practo, Harman, DRDO,
        Cadence, American Express, Nagarro and many more
      </div>
      <a href="#" class="white">
        <h3>Meet our Team<i class="fas fa-arrow-right ml-3 v-align-m"></i></h3>
      </a>
    </div>
    <div class="col-6">
      <div class="row mb-5">
        <div class="col-6">
          <img src="\images\icon1.png" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Code Challenges</h2>
          <div class="font-mds" style="font-weight: 300;">50K+ Coding Challenges covering major topics</div>
        </div>
        <div class="col-6">
          <img src="\images\icon2.png" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Interview Preparation</h2>
          <div class="font-mds" style="font-weight: 300;">Interview Preparation</div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="\images\icon3.png" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Editorials and Tutorials</h2>
          <div class="font-mds" style="font-weight: 300;">Download editorials and learn from tutorials if stuck</div>
        </div>
        <div class="col-6">
          <img src="\images\icon4.png" alt="Icon" class="w-20 mb-5">
          <h2 class="mb-2">Badges and Certifications</h2>
          <div class="font-mds" style="font-weight: 300;">Earn Badges &amp; Show off your profile in your groups</div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5">
    <div class="mb-5">
      <div class="extra-bold" style="font-size: 36px;">
        Looking to make a significant impact with your code ?
      </div>
      <h2 class="mt-1" style="font-weight: 300;">
        Join our community of talented developers and start building your tech skills
      </h2>
    </div>
    <div class="row mx-0">
      <div class="col-4 mb-4">
        <div class="border-card p-5">
          <img src="\images\contests.svg" alt="contests" class="w-40 mb-3">
          <div class="extra-bold mb-2" style="font-size: 26px;">Amazing Contests</div>
          <div style="font-weight: 300;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
          </div>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div class="border-card p-5">
          <img src="\images\interview.svg" alt="contests" class="w-40 mb-3">
          <div class="extra-bold mb-2" style="font-size: 26px;">Get Hired</div>
          <div style="font-weight: 300;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
          </div>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div class="border-card p-5">
          <img src="\images\dcb.svg" alt="contests" class="w-40 mb-3">
          <div class="extra-bold mb-2" style="font-size: 26px;">Daily Code Bytes</div>
          <div style="font-weight: 300;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
          </div>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div class="border-card p-5">
          <img src="\images\profile.svg" alt="contests" class="w-40 mb-3">
          <div class="extra-bold mb-2" style="font-size: 26px;">Profile Building</div>
          <div style="font-weight: 300;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
          </div>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div class="border-card p-5">
          <img src="\images\competition.svg" alt="contests" class="w-40 mb-3">
          <div class="extra-bold mb-2" style="font-size: 26px;">Competitions</div>
          <div style="font-weight: 300;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
          </div>
        </div>
      </div>
      <div class="col-4 mb-4">
        <div class="border-card p-5">
          <img src="\images\certificate.svg" alt="contests" class="w-40 mb-3">
          <div class="extra-bold mb-2" style="font-size: 26px;">Certifications and Prizes</div>
          <div style="font-weight: 300;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-5 row no-gutters align-items-center ">
    <div class="col-3">
      <div>
        <i class="far fa-calendar-check orange fa-3x"></i>
        <div class="extra-bold mt-3" style="font-size: 36px;">Upcoming Events</div>
        <h2 style="font-weight: 300;" class="mb-5">Participate &amp; Win Prizes</h2>
        <a href="#" class="orange">
          <div class="font-mds" style="font-weight:300;">View All Events</div>
        </a>
      </div>
    </div>
  </div>
</div>