<div class="a-hb">
  {{>nav-hb}}
  {{>sidenav}}

  <div class="hb-container">
    <div class="container my-5">
      <div class="row">
        <div class="col-12 col-md-8">
          {{>practice-banner}}

          {{!-- Practice Problems --}}
          <div class="border-card c-previous-dcb my-5">
            <div class="row no-gutters justify-content-between">
              <div class="col-6">
                <h4>Practice Problems</h4>
                <div class="orange bold mb-5">Filter Applied!</div>
              </div>
              <div>
                <button class="button-solid button-orange font-xs bold py-2">Easy X</button>
                <button class="button-solid button-orange font-xs bold py-2">Solved X</button>
              </div>
            </div>
            <div class="list-divided border-none bold">
              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div>
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>



              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>



              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>



              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>



              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>



              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>


              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>


              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>


              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>


              <div class="row no-gutters pointer my-4 pb-4">
                <div class="li-left">
                  <div class="">
                    <h5>Birthday Cake Candle</h5>
                    <ul class="divided-list">
                      <li class="px-3">
                        <div class="list-heading purple">Hard</div>
                        <div class="list-data">Difficulty</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">345</div>
                        <div class="list-data">Submissions</div>
                      </li>
                      <li class="px-3">
                        <div class="list-heading purple">200</div>
                        <div class="list-data">Max Points</div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="li-right">
                  <div>
                    <button class="button-dashed button-purple mt-3">Solve Challenge</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider-h mx-auto my-4"></div>
            <div class="t-align-c bold">
              <i class="fas fa-angle-left mx-2"></i>
              <span>Prev</span>
              <span class="regular mx-3">1-20 of 245</span>
              <span>Next</span>
              <i class="fas fa-angle-right mx-2"></i>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          {{!-- {{>daily-goal-card}} --}}
          <div class="border-card p-md-5 p-4 c-daily-goal-card mb-5">
            <h4>Current Level</h4>
            <div class="font-sm orange bold">Level 0<i class="fas fa-crown pl-2"></i></div>
            <div class="divider-h my-4"></div>
            <h4>My Badges</h4>
            <div class="row badge-scroll my-4">
              <div class="col-4">
                <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
              </div>
              <div class="col-4">
                <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
              </div>
              <div class="col-4">
                <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
              </div>
              <div class="col-4">
                <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
              </div>
              <div class="col-4">
                <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
              </div>
              <div class="col-4">
                <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
              </div>
              <div class="col-4">
                <img src="/images/hexagon.jpg" alt="Badge Logo" class="mybadge" />
              </div>
            </div>
            <div class="divider-h my-4"></div>
            <h4>Unlock Badge</h4>
            <div class="font-xs">Complete 3 more consecutive DCB’s to unlock badge</div>
            <img src="/images/hexagon.jpg" alt="Badge Logo" class="badge mt-5 mb-3 mx-auto w-30" />
            <h5 class="purple">Data Structure Level 1</h5>
            <progress value="50" max="100" class="mt-4 mb-2 mx-auto w-90"></progress>
            <h6 class="bold">4 of 10 challenges completed</h6>
          </div>

          {{>filter-card}}

          <div class="c-hb-leaderboard pt-5">
            <div class="border-card mb-5">
              <h4 class="mb-5 t-align-c pt-4">Leaderboard</h4>
              <table class="w-100">
                <thead class="font-sm extra-bold">
                  <td class="pb-4 t-align-c purple">Rank</td>
                  <td class="pb-4 purple">User</td>
                  <td class="pb-4 purple">Score</td>
                </thead>
                <tbody>
                  <tr class="bg-gradient-purple white extra-bold">
                    <td class="pb-4 pt-4">#40</td>
                    <td class="pb-4 pt-4">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-4">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-4">01</td>
                    <td class="pb-4 pt-4">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-4">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                  <tr>
                    <td class="pb-4 pt-2">01</td>
                    <td class="pb-4 pt-2">
                      <div class="img-desc align-items-center">
                        <img class="round s-30x30" src="/images/placeholder.gif" alt="">
                        <div class="description ml-3">
                          Siddharth Jain
                        </div>
                      </div>
                    </td>
                    <td class="pb-4 pt-2">2345</td>
                  </tr>
                </tbody>
              </table>
              <div class="divider-h w-90 mx-auto my-4"></div>
              <div class="t-align-c bold">
                <i class="fas fa-angle-left mx-2"></i>
                <span>Prev</span>
                <span class="regular mx-3">1-20 of 245</span>
                <span>Next</span>
                <i class="fas fa-angle-right mx-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>