<div class="border-card c-previous-dcb">
  <h4 class="mb-5">Previous DCBs</h4>
	<div class="list-divided border-none">
		<div class="row no-gutters pointer my-4 pb-4">
			<div class="li-left">
				<div>
					<h5>Birthday Cake Candle</h5>
					<ul class="divided-list">
						<li class="px-3">
								<div class="list-heading">Hard</div>
								<div class="list-data">Difficulty</div>
						</li>
						<li class="px-3">
								<div class="list-heading">345</div>
								<div class="list-data">Submissions</div>
						</li>
						<li class="px-3">
								<div class="list-heading">200</div>
								<div class="list-data">Max Points</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="li-right">
				<div>
					<button class="button-dashed button-blue mt-3">Solve Challenge</button>
				</div>
			</div>
		</div>

		

		<div class="row no-gutters pointer my-4 pb-4">
			<div class="li-left">
				<div class="">
					<h5>Birthday Cake Candle</h5>
					<ul class="divided-list">
						<li class="px-3">
								<div class="list-heading">Hard</div>
								<div class="list-data">Difficulty</div>
						</li>
						<li class="px-3">
								<div class="list-heading">345</div>
								<div class="list-data">Submissions</div>
						</li>
						<li class="px-3">
								<div class="list-heading">200</div>
								<div class="list-data">Max Points</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="li-right">
				<div>
					<button class="button-dashed button-blue mt-3">Solve Challenge</button>
				</div>
			</div>
		</div>

		

		<div class="row no-gutters pointer my-4 pb-4">
			<div class="li-left">
				<div class="">
					<h5>Birthday Cake Candle</h5>
					<ul class="divided-list">
						<li class="px-3">
								<div class="list-heading">Hard</div>
								<div class="list-data">Difficulty</div>
						</li>
						<li class="px-3">
								<div class="list-heading">345</div>
								<div class="list-data">Submissions</div>
						</li>
						<li class="px-3">
								<div class="list-heading">200</div>
								<div class="list-data">Max Points</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="li-right">
				<div>
					<button class="button-dashed button-blue mt-3">Solve Challenge</button>
				</div>
			</div>
		</div>

		

		<div class="row no-gutters pointer my-4 pb-4">
			<div class="li-left">
				<div class="">
					<h5>Birthday Cake Candle</h5>
					<ul class="divided-list">
						<li class="px-3">
								<div class="list-heading">Hard</div>
								<div class="list-data">Difficulty</div>
						</li>
						<li class="px-3">
								<div class="list-heading">345</div>
								<div class="list-data">Submissions</div>
						</li>
						<li class="px-3">
								<div class="list-heading">200</div>
								<div class="list-data">Max Points</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="li-right">
				<div>
					<button class="button-dashed button-blue mt-3">Solve Challenge</button>
				</div>
			</div>
		</div>

		

		<div class="row no-gutters pointer my-4 pb-4">
			<div class="li-left">
				<div class="">
					<h5>Birthday Cake Candle</h5>
					<ul class="divided-list">
						<li class="px-3">
								<div class="list-heading">Hard</div>
								<div class="list-data">Difficulty</div>
						</li>
						<li class="px-3">
								<div class="list-heading">345</div>
								<div class="list-data">Submissions</div>
						</li>
						<li class="px-3">
								<div class="list-heading">200</div>
								<div class="list-data">Max Points</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="li-right">
				<div>
					<button class="button-dashed button-blue mt-3">Solve Challenge</button>
				</div>
			</div>
		</div>

		

		<div class="row no-gutters pointer my-4 pb-4">
			<div class="li-left">
				<div class="">
					<h5>Birthday Cake Candle</h5>
					<ul class="divided-list">
						<li class="px-3">
								<div class="list-heading">Hard</div>
								<div class="list-data">Difficulty</div>
						</li>
						<li class="px-3">
								<div class="list-heading">345</div>
								<div class="list-data">Submissions</div>
						</li>
						<li class="px-3">
								<div class="list-heading">200</div>
								<div class="list-data">Max Points</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="li-right">
				<div>
					<button class="button-dashed button-blue mt-3">Solve Challenge</button>
				</div>
			</div>
		</div>
	</div>
</div>
