{{!-- Should take up 40% of the total width --}}
<div class="row mx-0 all-center screen-height margin-70">
  <div class="col-xl-5 col-lg-7 col-md-9 col-11">
    <div class="br-15 overflow-hidden p-0 bg-white t-align-c">
      <div class="bg-grey py-4">
        <h5>SUBMIT TEST</h5>
      </div>
      <div class="p-5">
        <div>Once submitted, you can no longer view or modify this test. Are you sure you are done, and want to close
          the
          test?</div>
        <div class="row justify-content-center mt-4">
          <button class="button-dashed button-orange font-sm extra-bold mr-2">
            <i class="fas fa-arrow-left mr-3"></i>
            <span class="d-sm-inline d-none">Take me back</span>
            <span class="d-sm-none d-inline">Back</span>
          </button>
          <button class="button-solid button-orange font-sm extra-bold ml-2">
            <span class="d-sm-inline d-none">Yes, I am done with my test</span>
            <span class="d-inline d-sm-none">Submit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>