<div class="d-flex all-center screen-height mt-neg-70">
  <div class="col-lg-5 col-md-7 col-10">
    <div class="t-align-c">
      <div class="s-80x80 bg-gradient-green br-50 p-4 mx-auto">
        <i class="fas fa-check white mt-sm-1 mt-2 fa-2x"></i>
      </div>
      <div class="my-5">
        <div class="font-xl bold">CodSule - May 2019</div>
        <div class="font-md">Your test has been successfully submitted</div>
      </div>
      <div class="border-card p-5">
        <h3>Rate your experience</h3>
        <div class="rating py-3">
          <span class="pos-rating orange px-2">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating orange px-2">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating orange px-2">
            <i class="fas fa-star"></i>
          </span>
          <span class="pos-rating orange px-2">
            <i class="fas fa-star"></i>
          </span>
          <span class="neg-rating px-2">
            <i class="fas fa-star"></i>
          </span>
        </div>
        <textarea name="rating-msg" rows="5" cols="30" placeholder="What can we do to improve your experience?"
          class="w-100"></textarea>
        <div class="row all-center">
          <button class="button-solid button-orange font-sm extra-bold my-3">Submit Feedback</button>
          <div class="font-xs extra-bold"><a href="#" class="orange ml-4">Skip</a></div>
        </div>
      </div>
    </div>
  </div>
</div>