<div class="a-hb">
  {{!-- Success --}}
  <div class="border-card p-5 bg-gradient-neon white">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="col-sm-8 col-12 pl-0">
        <div class="font-mdxl extra-bold">Congratulations!</div>
        <div class="card-md bold">
          You solved this challenge. Share it with your friends &amp; challenge them to solve it!
        </div>
      </div>
      <button class="button-solid button-white mt-sm-0 mt-4 green">Next Challenge</button>
    </div>
  </div>

  <div class="border-card p-5 bg-gradient-pink white">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="col-sm-8 col-12 pl-0">
        <div class="font-mdxl extra-bold">Wrong Answer!</div>
        <div class="card-md bold">
          Sorry Mate! You missed it this time.
        </div>
      </div>
      <button class="button-solid button-white mt-sm-0 mt-4 pink">Try Again</button>
    </div>
  </div>

  <div class="border-card p-5 bg-gradient-orange white">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="col-sm-8 col-12 pl-0">
        <div class="font-mdxl extra-bold">Damn! That’s an error!</div>
        <div class="card-md bold">
          You were close! Inspect your code again.
        </div>
      </div>
      <button class="button-solid button-white mt-sm-0 mt-4 orange">Try Again</button>
    </div>
  </div>

  <div class="border-card p-5 bg-gradient-dpink white">
    <div class="row mx-0 justify-content-between align-items-center">
      <div class="col-sm-8 col-12 pl-0">
        <div class="font-mdxl extra-bold">Judgement Delay!</div>
        <div class="card-md bold">
          Our online judge seems to be hung up! Please check submissions tab in a while.
        </div>
      </div>
      <button class="button-solid button-white mt-sm-0 mt-4 pink">Next Challenge</button>
    </div>
  </div>
</div>