.c-certificate {

  a:hover {
    text-decoration: underline;
  }

  a {
    color: blue;
  }

  .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 70px;
    }

    .right {
      margin-left: 1.5rem;

      .heading {
        margin-bottom: 10px;
      }

      .text {
        display: flex;
        align-items: center;
        color: $button-element-level;

        img {
          width: 27px;
          height: 27px;
          margin-right: 10px;
        }
      }
    }
  }

  .checklist {
    margin: 4rem 0;

    .option {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      margin: 30px 0;

      &:before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 15px;
        background: url('/images/radio-white.svg')
      }
    }

    .option.correct {
      color: $font-complete;

      &:before {
        content: '';
        background: url('/images/radio-green.svg')
      }
    }
  }

  .cta {
    display: flex;
    font-size: 1.2rem;

    .button-solid {
      min-width: 160px;
    }
  }

  &.locked {
    height: 100%;
    @include flexbox(column, true);

    img {
      width: 130px;
    }
  
    .text {
      margin-top: 20px;
      max-width: 330px;
      color: $navLink;
      text-align: center;
      font-size: 1.16rem;
      font-style: italic;
    }

    .title {
      margin-top: 30px;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}