.c-announcement{
  .img-desc{
    width: 93%;
  }

  .round-img{
    @include dimensions(50px, 50px);
    margin-right: 2%;
  }

  .heading-d{
    margin-bottom: 0;
    width: 80%;
  }

  .main-h{
    color: $global-font-text-color;
    font-weight: $font-normal;
    font-size: $font-md;
    margin-bottom: 2px ;
  }

  .sub-h{
    color: $default-accordion-font;
    font-size: $font-sm;
    font-weight: $font-normal;
  }

  .classroom-para{
    @include margin(0,0,0,0);
    font-size: $font-mds;
    text-align: justify;
  }

  .notify-icon{
    width: 30px;
    .notify-dot {
      width: 8px;
      height: 8px;
    }
    img {
      width: 41px;
    }
  }

  .button-dashed{
    @include dimensions(152px, 48px);
    @include margin(60px, auto, 0, auto);
    font-size: $font-xs;
    border-radius: 24px;
  }

}