.c-rating-card{
    @include padding-s(25px, 18px);
    @include border-radius(15px);

    height: 225px;  
    margin-bottom: 30px;

    .heading{
        font-size: $font-sm;
        margin-top: 15px;
        font-weight: $semi-bold;
    }

    .rating{
        @include margin(8px, 0, 15px, 0);
    }

    .review{
        height: 82px;
        overflow-y: auto;
    }

    .pos-rating, .neg-rating{
        font-size: $font-xs;
    }

    .font-sm{
        font-size: $card-sm;
    }

    .row{
        padding:  0;
    }
}