.c-rating-stats{
    padding: 0;
    margin-bottom: 30px;

    progress{
        margin-bottom: 15px;
    }

    .score{
        min-width: 131px;
        transform: translateY(-10px);

        .rating{
            @include margin(3px, 0, 10px, 0);
        }

        .pos-rating, .neg-rating{
            font-size: $font-xl;
        }
    }

    .stats{
        .rating{
            transform: translateY(-6px);
        }

        .pos-rating, .neg-rating{
            font-size: $font-sm;
        }
    }

    .font-lg{
        font-size: 4.7143rem !important;
    }
}