@import './submissions.scss';

.c-csv {
  height: 100%;
  background-color: white;
  overflow: auto;

  .top {
    padding: 2.5rem;
    padding-bottom: 65px;
    .description {
      color: #666;
      font-size: 1.1rem;
    }
  }
  

  .bottom {
    position: sticky;
    flex-wrap: wrap;
    bottom: 0;
    @include dimensions(100%, 65px);
    background-color: white;
    padding: 0 1.7rem;
    box-shadow: 0px -2px 12px 0px rgba(0,0,0,0.1);

    .testcase {
      span {
        color: $salmon;
        margin: 0 1rem;
      }
    }

    .submission {
      span {
        margin: 0 1rem;
      }
    }

    .center-flex {
      display: flex;
      align-items: center;
      margin: 10px 0;
    }
  } 
}