.c-csv-submissions {
  padding: 2.5rem 1.5rem;

  .submission {
    margin: 20px 0;

    .percentage {
      color: #8dbf75;
      font-size: 2rem;
    }
    .sub {
      display: flex;
      justify-content: space-between;

      .time {
        font-size: 0.8rem;
        color: $salmon;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 60%;
      height: 1px;
      background-color:rgba(0, 0, 0, 0.2);
      margin-top: 15px;
    }

    &:last-child:after {
      display: none;
    }
  }


}

.c-csv-submission {
  padding: 2.5rem 3rem;

  * {
    display: flex;
    justify-content: center;
  }

  button {
    max-width: unset;
  }
}