.skeleton-card {
  height: auto;
  position: relative;
  @include padding-mixin(5px, 5px, 20px, 5px);

  .img-component {
    margin: 60px 20px;

    .rod-component {
      margin: 0;
      width: 100%;
    }
  }

  .round-img {
    width: 70px;
    height: 70px;
  }

  .round-img-sm {
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    margin-right: 15px;
    background-color: #fff
  }
}

.rod-component {
  margin-top: 30px;
}

.rod-component-small {
  margin-top: 10px;

  .skeleton-lg {
    margin: 5px 5px;
  }
  
  .skeleton-md {
    margin: 5px 5px;
  }
  
  .skeleton-sm{
    margin: 5px 5px;
  }
}

.skeleton-lg {
  margin: 5px 10px;
}

.skeleton-md {
  margin: 5px 10px;
}

.skeleton-sm{
  margin: 5px 10px;
}

.right{
  position: absolute;
  bottom: 20px;
  right: 20px;
}