<div data-completed="{{completed}}" class="accordian-li">
    <div class="li-left flex-row">
        <div class="accordian-li-type">
            <div class="content-icon play-icon-green"></div>
        </div>
        <div class="accordian-li-heading">
            {{accordian-li-heading}}
        </div>
    </div>

    <div class="flex-row">
        <div class="accordian-li-duration">
            {{accordian-li-duration}}
        </div>
            <div class="circle-back">
                <div class="circle-front"></div>
            </div>
    </div>
</div>