<div class="accordian-ul" data-show="true">
    <div class="accordian-head">
        <div class="li-left flex-row">
            <div class="accordian-collapsar">
                -
            </div>
            <div class="accordian-heading">
                {{arrordian-heading}}
            </div>
        </div>

        <div class="flex-row">
            <div class="accordian-status">
                <span class="completed">{{accordian-lectures-completed}}</span>/ {{lectures-total}} Lectures Completed
            </div>
        </div>
    </div>

    {{each accordian-item}}
        {{> accordian-item}}
    {{/each}}
</div>