<div class="border">
  <div class="container">
    <div class="row justify-content-end py-3">
      <a href="#" class="mr-5">
        Courses
        <i class="ml-1 fas fa-chevron-up"></i>
      </a>
      <a href="#" class="mr-5">Products</a>
      <a href="#" class="mr-5">About Us</a>
      <a href="#" class="mr-5">Resources</a>
      <a href="#" class="mr-5">Campus Ambassadors</a>
      <a href="#">Contact Us</a>
    </div>
  </div>
</div>

<div class="row no-gutters cb-navbar-expanded" style="overflow: hidden">
  <div class="cb-navbar-side col-3">
    <div class="font-lg offset-3">Our Courses</div>
    <div class="py-4 font-md bold selected">
      <div class="offset-3">
        <div>Classroom Courses</div>
        <div class="font-mds orange"> 
          Explore all 
        </div>
      </div>
    </div>
    <div class="py-4 font-md bold ">
      <div class="offset-3">
        <div>Online Courses</div>
        <div class="font-mds orange"> Explore all </div>
      </div>
    </div>
    
  </div>
  <div class="col-9 font-mds">
    <div class="row justify-content-around m-5">

    {{!-- <div class="row justify-content-center my-5"> --}}
      <ul class="col-4">
        <li class="bold">Beginner Courses</li>
        <li>C++ For Beginners</li>
        <li>Java For Beginners</li>
        <li>Python App Development</li>
      </ul>
      <ul class="col-4">
        <li class="bold">Development Courses</li>
        <li>Android App Dev</li>
        <li>Full Stack Web Dev</li>
        <li>Python Django</li>
        <li>Unity Game Development</li>
      </ul>
      <ul class="col-4">
        <li class="bold">Advanced Courses</li>
        <li>Algo++</li>
        <li>Algo.Java</li>
        <li>Competitive Programming</li>
        <li>Machine Learning</li>
      </ul>
    {{!-- </div> --}}
    {{!-- <div class="row justify-content-center"> --}}
      <ul class="col-4">
        <li class="bold">Junior Courses</li>
        <li>Code 4 Kids</li>
        <li>Maths Geek</li>
      </ul>
      <ul class="col-4">
        <li class="bold">Bootcamps</li>
        <li>React JS</li>
        <li>Blockchain</li>
        <li>Interview Preparation</li>
        <li>Game Dev</li>
        <li>Chatbot</li>
      </ul>
      <ul class="col-4">
        <li class="bold">Industrial Training</li>
      </ul>
    {{!-- </div> --}}
    </div>
  </div>
</div>