<div class="c-certificate locked">
  <img src="/images/certification-i.svg" alt="">
  <div class="title">Unlock Certificate</div>
  <div class="text">Complete 90% of  your course to unlock and 
generate the certificate</div>
</div>