<div class="c-certificate">
  <div class="top-row">
    <img src="/images/certification-i.svg" alt="">
    <div class="right">
      <div class="heading">Generate Certificate</div>
      <div class="text">
        <img src="/images/warning.svg" alt="">
        Generate only when you are satisfied with your
        current score. You are not allowed to regenerate it.
      </div>
    </div>
  </div>

  <div class="checklist">
    <div class="option correct">Course Completion: 90%+</div>
    <div class="option">Mentor Approval</div>
    <div class="option">Any Extra Check</div>
  </div>

  <div class="cta justify-content-center justify-content-md-end">
    <div class="button-solid">
      <button>Generate Now!</button>
    </div>
  </div>
</div>