<div class="c-doubts">
  <div class="top">
    <div class="new-doubt">
      <div class="head">
        <span>Ask a Doubt</span>
        <div class="button-solid">
          <button>Post a Doubt</button>
        </div>
      </div>

      <div class="input-group">
        <input type="text" placeholder="Title">
        <textarea type="text" placeholder="Description" rows="2"></textarea>
      </div>
    </div>

    <div class="nav">
      <div class="tab active">Unresolved(10)</div>
      <div class="tab">Resolved(12)</div>
    </div>
  </div>

  <div class="bottom">
    <div class="doubt-card">
      <div class="body">
        <div class="title">
          When will be my decision tree evaluated?
        </div>
        <div class="text">
          I have submitted my decision tree project 1 week ago, and
          it is still not evaluated .
        </div>

        <div class="horizontal-half">
          <div>
            Section 1.1 - Fast Exponentiation
          </div>
          <div>
            10 Hours ago
          </div>
        </div>

        <input type="text" placeholder="Comment Now (Press enter to post)">

        <div class="horizontal-half">
          <div class="green">
            <i class="fas fa-check"></i> Mark Resolved
          </div>
          <div class="button-solid">
            <button>Chat with TA</button>
          </div>
        </div>

        <div class="comment-toggle">
          Hide 3 Comments
          <i class="fas fa-caret-up"></i>
        </div>
      </div>

      <div class="threads">

        <div class="thread">
          <div class="horizontal-half">
            <div class="title">TA Name</div>
            <div class="time">10 Hours ago</div>
          </div>

          <div class="text">
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </div>
        </div>

        <div class="thread">
          <div class="horizontal-half">
            <div class="title">TA Name</div>
            <div class="time">10 Hours ago</div>
          </div>

          <div class="text">
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </div>
        </div>

        <div class="thread">
          <div class="horizontal-half">
            <div class="title">TA Name</div>
            <div class="time">10 Hours ago</div>
          </div>

          <div class="text">
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </div>
        </div>
      </div>
    </div>

    <div class="doubt-card">
      <div class="body">
        <div class="title">
          When will be my decision tree evaluated?
        </div>
        <div class="text">
          I have submitted my decision tree project 1 week ago, and
          it is still not evaluated .
        </div>

        <div class="horizontal-half">
          <div>
            Section 1.1 - Fast Exponentiation
          </div>
          <div>
            10 Hours ago
          </div>
        </div>

        <input type="text" placeholder="Comment Now (Press enter to post)">

        <div class="horizontal-half">
          <div class="green">
            <i class="fas fa-check"></i> Mark Resolved
          </div>
          <div class="button-solid">
            <button>Chat with TA</button>
          </div>
        </div>

        <div class="comment-toggle">
          Hide 3 Comments
          <i class="fas fa-caret-up"></i>
        </div>
      </div>

      <div class="threads">

        <div class="thread">
          <div class="horizontal-half">
            <div class="title">TA Name</div>
            <div class="time">10 Hours ago</div>
          </div>

          <div class="text">
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </div>
        </div>

        <div class="thread">
          <div class="horizontal-half">
            <div class="title">TA Name</div>
            <div class="time">10 Hours ago</div>
          </div>

          <div class="text">
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </div>
        </div>

        <div class="thread">
          <div class="horizontal-half">
            <div class="title">TA Name</div>
            <div class="time">10 Hours ago</div>
          </div>

          <div class="text">
            I have submitted my decision tree project 1 week ago, and
            it is still not evaluated
          </div>
        </div>
      </div>
    </div>

    <div class="doubt-card">
      <div class="body">
        <div class="title">
          When will be my decision tree evaluated?
        </div>
        <div class="text">
          I have submitted my decision tree project 1 week ago, and
          it is still not evaluated .
        </div>

        <div class="horizontal-half">
          <div>
            Section 1.1 - Fast Exponentiation
          </div>
          <div>
            10 Hours ago
          </div>
        </div>

        <input type="text" placeholder="Comment Now (Press enter to post)">

        <div class="horizontal-half">
          <div class="green">
            <i class="fas fa-check"></i> Mark Resolved
          </div>
          <div class="button-solid">
            <button>Chat with TA</button>
          </div>
        </div>

        <div class="comment-toggle">
          Hide 3 Comments
          <i class="fas fa-caret-up"></i>
        </div>
      </div>

    </div>

    <div class="doubt-card">
      <div class="body">
        <img class="mb-3" src="https://place-hold.it/33x33" alt="doubt resolved">

        <div class="title yellow">
          Your doubt has been resolved.
        </div>
        <div class="text">
           Rate to help us improve!
        </div>

        <div class="stars my-3">
          <span class="neg-rating" role="button">
            <i class="fas fa-star"></i>
          </span>
           <span class="neg-rating" role="button">
            <i class="fas fa-star"></i>
          </span>
           <span class="neg-rating" role="button">
            <i class="fas fa-star"></i>
          </span>
           <span class="neg-rating" role="button">
            <i class="fas fa-star"></i>
          </span>
           <span class="neg-rating" role="button">
            <i class="fas fa-star"></i>
          </span>
        </div>

        <div class="d-flex">
          <input type="text" placeholder="Please leave your feedback"> 
          <button class="ml-2 red">Submit</button>
        </div>
       

      </div>

    </div>

    <div class="doubt-card resolved">
      <div>
        <img src="images/green.svg" width="50px" height="50px">
      </div>
      <div class="green">
        You doubt has been resolved
      </div>
      <div>You can reopen your doubt anytime, if you have
        any queries regarding it.</div>
    </div>
  </div>


</div>