<header>
    <nav class="main-nav">
        <div class="nav-left">
            <span class="hamburger-parent">
                <i class="hamburger fas fa-bars"></i>
            </span>
            <span class="logo-parent">
                <a class="logo-link" href="/">
                    <img src="/images/online-logo.png" alt="online-logo" class="nav-logo pointer">
                </a>
            </span>
        </div>
        
        <div class="nav-right">
            <div class="dsp-none-sm">
                <ul class="nav-list">
                    <a href="https://codingblocks.com/classroom-courses">
                        <li class="nav-items pointer">
                            CLASSROOM COURSES
                        </li>
                    </a>

                    <a href="https://online.codingblocks.com/">
                        <li class="nav-items pointer">
                            ONLINE COURSES
                        </li>
                    </a>

                    <a href="https://hack.codingblocks.com/">
                        <li class="nav-items pointer">
                            HACKER BLOCKS
                        </li>
                    </a>
                </ul>
            </div>

            <div class="round-img">
                <img src="/images/code-red.svg" alt="">
            </div>

            <div class="card">
                <div class="top-offset"></div>
                <div class="nav-info">
                    <div class="flex-row justify-content-end">
                        <span class="pointer red">MY PROFILE</span>
                    </div>
                    <div class="separator"></div>

                    <div class="flex-row justify-content-end">
                        <span class="pointer">MY ADDRESSES</span>
                    </div>

                    <div class="separator"></div>

                    <div class="flex-row justify-content-end">
                        <span class="pointer">MY APPS</span>
                    </div>

                    <div class="separator"></div>
                    <div class="flex-row justify-content-end">
                        <span class="pointer">MY CLIENTS</span>
                    </div>
                    <div class="separator"></div>
                    <div class="flex-row justify-content-end faded">
                        <span class="pointer">LOGOUT</span>
                    </div>
                </div>
            </div>
        
        </div>


       
        
        
    </nav>

    <div class="sidebar sidebar-none">
        <i class="close fas fa-times"></i>
        <div class="upper-half">
            <div class="round-img">
                <img src="img/user.svg" alt="profile-pic">
            </div>
            <p>
                Hi, User
            </p>
            <a href="/logout">
                <div class="button-solid">
                    <button>Logout</button>
                </div>
            </a>
        </div>
        <div class="lower-half">
            <a href="https://codingblocks.com/classroom-courses">
                <div class="para">
                    CLASSROOM COURSES
                </div>
            </a>

            <a href="https://online.codingblocks.com/">
                <div class="para">
                    ONLINE COURSES
                </div>
            </a>

            <a href="https://hack.codingblocks.com/">
                <div class="para">
                    HACKER BLOCKS
                </div>
            </a>
        </div>
    </div>
</header>

