<div class="nav-info col-md-3">
    <div class="profile-pic">
      <div class="d-flex justify-content-center profile-container">
        <img  class="round-img" src="https://cdn.theatlantic.com/assets/media/img/photo/2015/11/images-from-the-2016-sony-world-pho/s01_130921474920553591/main_1200.jpg?1448476701"/>
      </div>
      <div class="card">
        <p>Hi, Darsh</p>
      </div>
    </div>
    <div>
      <div class="flex-row">
        <span class="pointer red">MY PROFILE</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <span class="pointer">MY ADDRESSES</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <span class="pointer">MY APPS</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row">
        <span class="pointer">MY CLIENTS</span>
      </div>
      <div class="separator"></div>
      <div class="flex-row faded">
        <span class="pointer">LOGOUT</span>
      </div>
    </div>
  </div>