<div class="c-sidenav bottom-nav pt-3">
    <div class="logo pb-5 dsp-none-md">
        <i class="fab fa-slack fa-3x"></i>
    </div>
    <div class="row">
        <div class="offset-1 d-md-none"></div>
        <div class="col-2 col-md-12">
            <a href="#dashboard" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
                <i class="fas fa-chart-pie font-xl"></i>
                <h6 class="pt-2">Dashboard</h6>
            </a>
        </div>
        <div class="col-2 col-md-12">
            <a href="#daily-code" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2 active">
                <i class="far fa-calendar font-xl"></i>
                <h6 class="pt-2">Daily Code</h6>
            </a>
        </div>
        <div class="col-2 col-md-12">
            <a href="#contests" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
                <i class="fas fa-trophy font-xl"></i>
                <h6 class="pt-2">Contests</h6>
            </a>
        </div>
        <div class="col-2 col-md-12">
            <a href="#practice" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
                <i class="fas fa-code font-xl"></i>
                <h6 class="pt-2">Practice</h6>
            </a>
        </div>
        <div class="col-2 col-md-12">
            <a href="#compete" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
                <i class="fas fa-graduation-cap font-xl"></i>
                <h6 class="pt-2">Compete</h6>
            </a>
        </div>
    </div>
</div>