<div class="c-sidenav pt-3 col-1 d-sm-none d-md-block">
    <div class="logo pb-5">
        <i class="fab fa-slack fa-3x"></i>
    </div>
    <a href="#dashboard" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-chart-pie font-xl"></i>
        <h6 class="pt-2">Dashboard</h6>
    </a>
    <a href="#daily-code" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2 active">
        <i class="far fa-calendar font-xl"></i>
        <h6 class="pt-2">Daily Code</h6>
    </a>
    <a href="#contests" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-trophy font-xl"></i>
        <h6 class="pt-2">Contests</h6>
    </a>
    <a href="#practice" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-code font-xl"></i>
        <h6 class="pt-2">Practice</h6>
    </a>
    <a href="#compete" class="nav-element p-lg-4 py-md-3 px-md-2 p-sm-2">
        <i class="fas fa-graduation-cap font-xl"></i>
        <h6 class="pt-2">Compete</h6>
    </a>
</div>