@import "../../settings/settings.color";
@import "../../settings/settings.global";
@import "../../settings/settings.font";

@import "settings";


@import "../../tools";

@import "../../generic/normalize";
@import "../../generic/reset";
@import "../../utilities";

@import "../../animations";

@import "../../elements";
@import "../../objects";
@import "../../components";
@import "../../media-query";

//TODO: OPTION TO SELECT THEME AND INSERT THAT THEME HERE
@import "../../themes";
@import "application";
@import "components";

@import "../../trumps";
