.button-solid {
  &.button-blue {
    background-image: $button-gradient-blue;
  }
}

.button-dashed {
  font-weight: $bold;

  &.button-blue {
    border: solid 1px $hb-blue;
    color: $hb-blue;

    &:hover {
      background-image: $gradient-blue;
    }
  }

  &.button-purple {
    border: solid 1px $purple;
    color: $purple;

    &:hover {
      background-image: $gradient-dpurple;
    }
  }
}
