.button-solid.button-orange{
	background-image: $gradient-orange-lr;
}

.button-gradient-blue.button-orange{
	border: solid 1px $orange;
	font-weight: $bold;
	color: $orange;

	&:hover{
	background-image: $gradient-orange-lr;
	color: $white;
	}
}