.button-solid{
	&.button-orange{
		background-image: $gradient-orange;
	}

	&.button-blue{
		background-image: $button-gradient-blue;
	}

	&.button-white{
		background: $white;
		color: $hb-blue;
	}
}

.button-dashed{
	font-weight: $bold;

	&.button-blue{
		border: solid 1px $hb-blue;
		color: $hb-blue;

		&:hover{
			background-image: $button-gradient-blue;
			color: $white;
		}
	}

	&.button-orange{
		border: solid 1px $orange;
		color: $orange;

		&:hover{
			background-image: $gradient-orange;
			color: $white;
		}
	}

	&.button-purple{
		border: solid 1px $purple;
		color: $purple;

		&:hover{
			background-image: $gradient-purple;
			color: $white;
		}
	}
}