progress::-moz-progress-bar {
  background-image: $gradient-orange;
}

progress::-ms-fill {
  background-image: $gradient-orange;
}

progress::-webkit-progress-value {
  background-image: $gradient-orange;
}
