.c-hb-leaderboard{
  table{
    td:first-child{
      text-align: center;
    }
  }  
  thead{
    color: $orange;
  }

  tbody{
    text-align: left;
    font-weight: $semi-bold;

    .self {
      background-image: $gradient-orange-lr;
    }
  }
}

.submissions-table{
  thead{
    border-bottom: solid 1px $t-heading-border;
  }
  
  .accepted, .error, .wrong{
    font-size: $font-sm;
  }

  .accepted{
    color: #64bb5c;
  }

  .error{
    color: $orange;
  }

  .wrong{
    color: $salmon;
  }
}
