.c-hb-leaderboard {
  table {
    td:first-child {
      text-align: center;
    }
  }
  thead {
    color: $orange;
  }

  tbody {
    text-align: left;
  }

  &.profile {
    table{
      td:first-child{
        font-weight: $bold;
        font-size: $font-sm;
        text-align: left;
      }

      tbody {
        td{
          font-weight: $semi-bold;
        }
      }
    } 
  }
}


table.hover {
  tr:hover {
    background-color: $hover-grey;
  }
}