.tab-nav-underline{
	& .tab{
		&:hover{
			border-bottom: unset;
			color: $orange;
		}
		&.active{
			border-bottom: solid 2px $orange;
			color: $orange;
		}
	}
}

.code-box{
	width: 60%;
	word-wrap: break-word;
	background-color: $nav-border;
	border-radius: 5px;
}