

@mixin dimensions($width: $global-container-width, $height: $global-container-height) {
  width: $width;
  height: $height;
}

@mixin width-fit($moz: true){
  width: fit-content;
  @if($moz)       {width: -moz-fit-content}
}