.home-container {
  margin-top: 50px;
  padding: 0 4rem;
  
  .input-search{
    display: none;
    float: none;
  }
}

.home-heading {
  font-size: $font-xl;
  color: $button-element-level;
  margin-bottom: 30px;
}

.home-img {
  position: relative;
  margin-top: -190px;
  width: 75%;
  max-width: 600px !important;
  left: 65px;
}

.prev {
  padding-right: 20px;
  border-right: 1px solid;
  margin-top: 20px;
}

.home-row {
  min-height: 320px;
  position: relative;
  margin-bottom: 8%;

  .home-column {
    position: static;
    overflow-x: hidden;
  }
  
}

.custom-heading{
  .heading-u{
    margin-bottom: 5px;
  }

  .button-dashed{
    float: right;
  }
}

.c-brag-card{
  text-align: center;
  .text{
    font-size: 2.428rem;
    font-weight: $extra-bold;
  }
}

.phone{
  @include dimensions(100%, 555px);
  max-width: 292px;
  z-index: 200;
  position: absolute;
  transform: translate(0%, -20%);
}

.phone-content{
  @include dimensions(84%, 95%);
  z-index: -100;
  position: absolute;
  top: 2%
}


.fade-right-overflow::after{
  content: '';
  position: absolute;
  right: -1%;
  height: 100%;
  width: 3%;
  background-color: $white;
  display: block;
  box-shadow: 8px 0 5px $white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fade-left-overflow::before{
  content: '';
  position: absolute;
  left: -1%;
  height: 100%;
  width: 3%;
  background-color: $white;
  display: block;
  box-shadow: -8px 0 5px $white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 100;
}