.home-container {
  margin-top: 50px;
  padding: 0 4rem;
  
  .input-search{
    display: none;
    float: none;
  }
}

.home-heading {
  font-size: $font-xl;
  color: $button-element-level;
  margin-bottom: 30px;
}

.home-img {
  position: relative;
  margin-top: -190px;
  width: 75%;
  max-width: 600px !important;
  left: 65px;
}

.prev {
  padding-right: 20px;
  border-right: 1px solid;
  margin-top: 20px;
}

.home-row {
  min-height: 320px;
  position: relative;
  margin-bottom: 8%;

  .home-column {
    position: relative;
    overflow-x: hidden;
  }
  
}

.custom-heading{
  .heading-u{
    margin-bottom: 5px;
  }

  .button-dashed{
    float: right;
  }
}

.c-brag-card{
  text-align: center;
  .text{
    font-size: 2.428rem;
    font-weight: $extra-bold;
  }
}

.phone{
  @include dimensions(100%, 555px);
  max-width: 292px;
  z-index: 200;
  position: absolute;
  transform: translate(0%, -20%);
}

.phone-content{
  @include dimensions(84%, 95%);
  z-index: -100;
  position: absolute;
  top: 2%
}