
$global-line-height: 24px !default;
$global-border-radius: 50% !default;

//button
$global-button-border-radius: 42.5px !default;
$global-transition: all 300ms ease-in-out !default;

//Font
$global-font-family: Effra;
$global-font-style: normal !default;
$global-font-weight: normal !default;
$global-font-src: local('Effra'), url('../../../public/fonts/Effra_Std_Rg.ttf') format('ttf');

$global-container-width: 551px;
$global-container-height: 106px;

