//Weight
$light: 300;
$font-normal: 500;
$font-medium: 600;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Size

$font-xs: 1rem;       // 14px
$font-sm: 1.143rem;   // 16px
$font-mds: 1.286rem;  // 18px
$font-md: 1.428rem;   // 20px
$font-lg: 1.57rem;    // 22px
$font-xl: 1.713rem;   // 24px
$font-mdxl: 2.286rem; // 32px

$font-xxl: 3.214rem;  // 45px

$card-md: 0.875rem;   // 12px
$card-mds: 0.812rem;  // 11px
$card-sm: 0.75rem;    // 10px
$card-sms: 0.625rem;  // 9px
$card-xs: 0.5rem;     // 7px

// @font-face {
//   font-family: "Gilroy";
//   font-style: $global-font-style;
//   font-weight: $regular;
//   src: local("Gilroy"), url('https://minio.codingblocks.com/motley/Gilroy.ttf') format("truetype");
// }


@font-face {
  font-family: 'Gilroy';
  src: url('https://cb-amoeba-dev.s3.ap-south-1.amazonaws.com/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('https://cb-amoeba-dev.s3.ap-south-1.amazonaws.com/fonts/Gilroy-Bold.woff');
}
