
$global-font-size: 16px;
@font-face {
  font-family: $global-font-family;
  font-style: $global-font-style;
  font-weight: $global-font-weight;
}

//Weight
$font-normal: 500;
$font-medium: 600;

//Size
$font-xs: 1.125rem;   //18
$font-sm: 1.25rem;    //20
$font-md: 1.5rem;     //24
$font-lg: 1.875rem;   //26
$font-xl: 2rem;       //28
