//Weight
$light: 300;
$font-normal: 500;
$font-medium: 600;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

//Size
$font-xs: 1rem; // 14px
$font-sm: 1.143rem; // 16px
$font-mds: 1.286rem; // 18px
$font-md: 1.428rem; // 20px
$font-lg: 1.57rem; // 22px
$font-xl: 1.713rem; // 24px
$font-mdxl: 2.286rem; // 32px

$font-xxl: 3.214rem; // 45px

$card-md: 0.875rem; // 12px
$card-mds: 0.812rem; // 11px
$card-sm: 0.75rem; // 10px
$card-sms: 0.625rem; // 9px
$card-xs: 0.5rem; // 7px

@font-face {
  font-family: "Muli";
  src: url("https://unpkg.com/@coding-blocks/motley@1.0.1/dist/font/Muli.ttf");
}

@font-face {
  font-family: "Muli";
  font-style: italic;
  src: url("https://unpkg.com/@coding-blocks/motley@1.0.1/dist/font/Muli-Italic.ttf");
}

// @font-face {
//   font-family: "Muli";
//   src: url("/fonts/Muli-Black.ttf");
// }

// @font-face {
//   font-family: "Muli";
//   font-style: italic;
//   src: url("/fonts/Muli-BlackItalic.ttf");
// }

// @font-face {
//   font-family: "Muli";
//   src: url("/fonts/Muli-Bold.ttf");
// }

// @font-face {
//   font-family: "Muli";
//   font-style: italic;
//   src: url("/fonts/Muli-BoldItalic.ttf");
// }

// @font-face {
//   font-family: "Muli";
//   src: url("/fonts/Muli-Regular.ttf");
// }

$text-size-list: (
  "font-xs": $font-xs,
  "font-sm": $font-sm,
  "font-mds": $font-mds,
  "font-md": $font-md,
  "font-lg": $font-lg,
  "font-xl": $font-xl,
  "font-mdxl": $font-mdxl,
  "font-xxl": $font-xxl,
  "card-md": $card-md,
  "card-mds": $card-mds,
  "card-sm": $card-sm,
  "card-sms": $card-sms,
  "card-xs": $card-xs,
);

$text-weight-list: (
  "light": $light,
  "normal": $font-normal,
  "medium": $font-medium,
  "regular": $regular,
  "semi-bold": $semi-bold,
  "bold": $bold,
  "extra-bold": $extra-bold,
);