/**
~~~~~~~~~~~~~~~~~~~~~~~~~~
    Colors config file
~~~~~~~~~~~~~~~~~~~~~~~~~~

File contains color configuration for below listed objects and utilities:-
- Objects
  - Button Solid
  - Button Dashed
  - Tab Nav
  - Checkbox
  - Divided List
  - Border Card

- Utilities
  - Text Colors
  - Background Colors
  - Hover Colors
**/

$black: #000;
$white: #fff;
$salmon: #f66;
$green: #8dbf75;
$light-green: #b1d792;
$yellow: #fc6;
$blue: #246db3;
$orange: #f19633;
$grey: #a2a4a8;
$purple: #271147;
$dark-grey: #666;

$facebook: #3b5998;
$google: #f4695a;
$twitter: #03a9f4;
$linkedin: #007bb6;

$global-font-text-color: #333;
$global-font-heading-color: #333;
$font-complete: #8dbf75;
$font-sub-heading: #f6776f;

$color-button-primary: #ed8080;
$button-element-level: #f66;

$card-box-border: #e8e8e8;
$default-border: #ccc;
$nav-border: #f6f6f6;
$vp-border: #676767;
$border: rgba(225, 225, 225, 0.75);

$vp-background: #252525;
$editor-background: #2e2e2e;
$otp-input-bg: #ebebeb;
$hover-bg: #fafafa;
$content-search-box-bg: #3b3838;
$nav-info-bg: #fcfcfc;

$card-mentor: #e9e9e9;
$card-box-shadow: rgba(51, 51, 51, 0.1);

$button-element-level: #f66;
$classroom-border: #ccc;
$nav-border: #f6f6f6;
$t-heading-border: #f3f3f3;
$rating-star: #fce298;
$reset-progress: #fc4f4f;
$faded-text: #999;
$intermediate-level: #fecc6e;
$accordion-li: #fdfdfd;
$status-back-complete: #d7f1d3;
$status-front-complete: #82d073;
$status-back-incomplete: #bebebe;
$default-accordion-font: #666;
$navLink: #666;
$transparent: transparent;
$disabled-input: #ececec;

$vp-acc-head: #4c4c4c;
$search-box-color: #f2f2f2;
$faded-cont: #e4e4e4;
$editor-line-number: #202020;
$input-code-editor: #2a2a2a;
$modal-fader: #111;
$fail-red: #e8685d;
$dropdown-divider: #f4f4f4;
$vp-select-box: #262626;
$grey-choices: #f7f7f7;
$skeleton: #f8f8f8;
$content-search-box: #4c4b4b;
$search-box-placeholder: #a0a0a0;
$search-box-input: #d5d5d5;
$invert: #272727;
$spaced-black: #222;
$light-filter: rgba(255, 255, 255, 0.9);
$dark-filter: rgba(80, 80, 80, 0.1);
$bellow-black: #181818;
$cricket-cup: #84114b;

$hb-blue: #246db3;
$code-editor: #171717;
$interview-grey: #1b1e26;
$purple: #271147;
$black-grey: #14161c;
$dcb-pink: #e54461;
$hello-intern-pink: #f24f60;

//threads
$threads-separator: #666;
$threads-invert: #191919;

//lists
$list-shaded-invert: #111;
$list-shaded-background: rgba(255, 255, 255, 0.9);

//Gradients
$bg-gradient-blue-lr: linear-gradient(to right, #193b84, #2675bb);
$gradient-orange-lr: linear-gradient(to right, #ec6333, #f19633);
$gradient-orange-30-deg: linear-gradient(30deg, #ec6333, #f19633);
$gradient-black: linear-gradient(30deg, #333, #000);
$button-gradient: linear-gradient(to right, rgb(237, 114, 152), rgb(236, 136, 113), rgb(237, 114, 152));
$course-progress-circle-front: linear-gradient(to right, rgba(237, 114, 152, 0.4), rgba(236, 136, 113, 0.4));
$button-gradient-disabled: linear-gradient(to right, rgb(119, 131, 120), rgb(160, 160, 160));
$gradient-blue-30-deg: linear-gradient(30deg, #384282, #34729a);
$gradient-red-blue: linear-gradient(to right, #e9414d, #2d2982);
$button-gradient-blue: linear-gradient(to right, #193b84, #2675bb);

$gradient-orange: linear-gradient(30deg, #ec6333, #f19633);
$gradient-purple: linear-gradient(30deg, #271147, #553180);
$gradient-navy: linear-gradient(30deg, #133155, #122a42);
$gradient-dblue-lr: linear-gradient(to right, #0b024e, #003);
$gradient-green-lr: linear-gradient(to right, #56aa4e, #7eda75);
$gradient-lblue-lr: linear-gradient(to right, #0b024e, #174e79);
$gradient-blue-lr: linear-gradient(to right, #193b84, #2675bb);
$gradient-orange-lr: linear-gradient(to right, #ec6333, #f19633);
$gradient-black-bt: linear-gradient(to top, #1b1d27, #07080b);

//Hello - Intern
$hi-gradient-pink-orange-lr: linear-gradient(to right, #f24f60, #f19f33);
$hi-gradient-dpink-lr: linear-gradient(to right, #a5066c, #f24f60);
$hi-gradient-blue-lr: linear-gradient(to right, #1c40de, #2ab5ed);
$hi-gradient-purple-lr: linear-gradient(to right, #8008db, #430cd7);

//Palette Colors
$gradient-orange: linear-gradient(30deg, #e74e4b, #fb8133);
$gradient-purple: linear-gradient(30deg, #271147, #553180);
$gradient-purple-blue: linear-gradient(30deg, #8108da, #350ed8);
$gradient-blue: linear-gradient(30deg, #1b40de, #2cb4ed);
$gradient-cyan: linear-gradient(30deg, #39ddbf, #1770ae);
$gradient-dpink: linear-gradient(30deg, #e64b51, #d02ebd);
$gradient-yellow: linear-gradient(30deg, #fb8732, #f8c332);
$gradient-lgreen: linear-gradient(30deg, #82da3b, #27a87c);
$gradient-pink: linear-gradient(30deg, #f24f5f, #a3076c);
$gradient-wblue: linear-gradient(30deg, #475ef6, #6fd9fc);

//Checkbox
// $checkbox-solid: (
//   orange: $gradient-orange
// );
$checkbox-solid: $gradient-orange;

// Hover Colors
$hover-grey: #f3f3f3;

// Divided List Colors
$dark-grey-list: #999;
$light-grey-list: #f3f3f3;
$white-list: #fff;

//Background Colors
$bg-color-list: (
  "orange": $orange,
  "green": $green,
  "black": $black,
  "red": $salmon,
  "salmon": $salmon,
  "blue": $blue,
  "white": $white,
  "yellow": $yellow,
  "grey": $grey,
  "dark-grey": $interview-grey,
  "black-grey": $black-grey
);

//Text Colors
$text-color-list: (
  "orange": $orange,
  "green": $green,
  "black": $black,
  "red": $salmon,
  "salmon": $salmon,
  "blue": $blue,
  "white": $white,
  "yellow": $yellow,
  "grey": $grey,
  "purple": $purple,
  "pink": $dcb-pink
);

//Gradient Text Colors
$gradient-text-color-list: (
  "red": $button-gradient,
  "blue": $gradient-blue-lr
);

$gradient-map: (
  black-lr: linear-gradient(30deg, #333, #000),
  black-bt: linear-gradient(to top, #333, #000),
  violet-lr: linear-gradient(to right, #692fdc, #452ba3),
  violet-bt: linear-gradient(to top, #692fdc, #452ba3),
  red-lr: linear-gradient(to right, #ed788d 0%, #ec837a),
  orange: $gradient-orange,
  purple: $gradient-purple,
  purple-blue: $gradient-purple-blue,
  blue: $gradient-blue,
  cyan: $gradient-cyan,
  dpink: $gradient-dpink,
  yellow: $gradient-yellow,
  lgreen: $gradient-lgreen,
  pink: $gradient-pink,
  wblue: $gradient-wblue,
  hi-pink-orange: $hi-gradient-pink-orange-lr,
  hi-dpink: $hi-gradient-dpink-lr,
  hi-blue: $hi-gradient-blue-lr,
  hi-purple: $hi-gradient-purple-lr,
);

//Checkbox
// $checkbox-solid: (
//   orange: $gradient-orange-30-deg
// );
$checkbox-solid: $gradient-orange-30-deg;

//Border Card
$border-card-border-color: #e8e8e8;
