/**
~~~~~~~~~~~~~~~~~~~~~~~~~~
    Colors config file
~~~~~~~~~~~~~~~~~~~~~~~~~~

File contains color configuration for below listed objects and utilities:-
- Objects
  - Button Solid
  - Button Dashed
  - Tab Nav
  - Checkbox
  - Divided List
  - Border Card
  - Tags
  - Pills
  - Form Input

- Utilities
  - Text Colors
  - Background Colors
  - Hover Colors
**/

$black: #000;
$white: #fff;
$salmon: #f66;
$green: #8dbf75;
$light-green: #b1d792;
$yellow: #fc6;
$blue: #246db3;
$orange: #f2734c;
$purple: #271147;
$light-grey: #f3f3f3;
$grey: #a2a4a8;
$dark-grey: #666;
$border-grey: #2b2f37;
$del-text-grey: #e7dddd;
$pink: #f24f60;

$facebook: #3b5998;
$google: #f4695a;
$twitter: #03a9f4;
$linkedin: #007bb6;

$global-font-text-color: #333;
$global-font-heading-color: #333;
$font-complete: #8dbf75;
$font-sub-heading: #f6776f;

$scrollbar-color: #efefef;

$color-button-primary: #ed8080;
$button-element-level: #f66;

$card-box-border: #e8e8e8;
$default-border: #ccc;
$nav-border: #f6f6f6;
$vp-border: #676767;
$border: rgba(225, 225, 225, 0.75);

$vp-background: #252525;
$editor-background: #2e2e2e;
$otp-input-bg: #ebebeb;
$hover-bg: #fafafa;
$content-search-box-bg: #3b3838;
$nav-info-bg: #fcfcfc;

$card-mentor: #e9e9e9;
$card-box-shadow: rgba(51, 51, 51, 0.1);

$button-element-level: #f66;
$classroom-border: #ccc;
$nav-border: #f6f6f6;
$t-heading-border: #f3f3f3;
$rating-star: #fce298;
$reset-progress: #fc4f4f;
$faded-text: #999;
$intermediate-level: #fecc6e;
$accordion-li: #fdfdfd;
$status-back-complete: #d7f1d3;
$status-front-complete: #82d073;
$status-back-incomplete: #bebebe;
$default-accordion-font: #666;
$navLink: #666;
$transparent: transparent;
$disabled-input: #ececec;

$vp-acc-head: #4c4c4c;
$search-box-color: #f2f2f2;
$faded-cont: #e4e4e4;
$editor-line-number: #202020;
$input-code-editor: #2a2a2a;
$modal-fader: #111;
$fail-red: #e8685d;
$dropdown-divider: #f4f4f4;
$vp-select-box: #262626;
$grey-choices: #f7f7f7;
$skeleton: #f8f8f8;
$content-search-box: #4c4b4b;
$search-box-placeholder: #a0a0a0;
$search-box-input: #d5d5d5;
$invert: #272727;
$spaced-black: #222;
$light-filter: rgba(255, 255, 255, 0.9);
$dark-filter: rgba(80, 80, 80, 0.1);
$bellow-black: #181818;
$cricket-cup: #84114b;

$hb-blue: #246db3;
$code-editor: #171717;
$interview-grey: #1b1e26;
$purple: #271147;
$black-grey: #14161c;
$dcb-pink: #e54461;
$hello-intern-pink: #f24f60;

$timeline-grey: #292c33;

//threads
$threads-separator: #666;
$threads-invert: #191919;

//lists
$list-shaded-invert: #111;
$list-shaded-background: rgba(255, 255, 255, 0.9);

//Gradient Palette
$gradient-orange: linear-gradient(to right, #e74e4b, #fb8133);
$gradient-blue: linear-gradient(to right, #1c40de, #2ab5ed);
$gradient-cyan: linear-gradient(to right, #39dec0, #1d87b1);
$gradient-pink: linear-gradient(to right, #e74b50, #d12ebd);
$gradient-dpink: linear-gradient(to right, #f24f60, #a5066c);
$gradient-yellow: linear-gradient(to right, #fa8733, #f7c332);
$gradient-green: linear-gradient(to right, #83db3b, #26a87c);
$gradient-purple: linear-gradient(to right, #8008db, #430cd7);
$gradient-lpurple: linear-gradient(to right, #8F3CE5, #3A30D6);
$gradient-lblue: linear-gradient(to right, #475ff5, #6ed9fc);
$gradient-dcyan: linear-gradient(to right, #19316c, #01b3c9);
$gradient-dblue: linear-gradient(to right, #0467f6, #0800a3);
$gradient-dpurple: linear-gradient(to right, #00205b, #84358e);
$gradient-black: linear-gradient(to right, #1b1d27, #07080b);

//Button Gradients
$button-gradient: linear-gradient(to right, rgb(237, 114, 152), rgb(236, 136, 113), rgb(237, 114, 152));
$button-gradient-green: linear-gradient(to right, #83db3b, #26a87c, #83db3b);
$button-gradient-orange: linear-gradient(to right, #e74e4b, #fb8133, #e74e4b);
$button-gradient-blue: linear-gradient(to right, #1c40de, #2ab5ed, #1c40de);
$button-gradient-disabled: linear-gradient(to right, rgb(119, 131, 120), rgb(160, 160, 160));

//Hello - Intern
$hi-gradient-pink-orange-lr: linear-gradient(to right, #f24f60, #f19f33);
$hi-gradient-dpink-lr: linear-gradient(to right, #a5066c, #f24f60);
$hi-gradient-blue-lr: linear-gradient(to right, #1c40de, #2ab5ed);
$hi-gradient-purple-lr: linear-gradient(to right, #8008db, #430cd7);

//Special Gradients
$gradient-red-blue: linear-gradient(to right, #e9414d, #2d2982);

//Non Linear Gradients
$gradient-orange-angle: linear-gradient(30deg, #e74e4b, #fb8133);
$gradient-black-bt: linear-gradient(to top, #1b1d27, #07080b);

// Hover Colors
$hover-grey: #f3f3f3;

// Divided List Colors
$dark-grey-list: #999;
$light-grey-list: #f3f3f3;
$white-list: #fff;

//Border Card
$border-card-border-color: #e8e8e8;

//Tags
$tag-dashed-border-color: $salmon;
$tag-dashed-text-color: $salmon;

//Pills
$pill-dashed-border-color: $salmon;
$pill-dashed-text-color: $salmon;

//Form Input
$input-text-background-color: $hover-grey;

//Background Colors
$bg-color-list: (
  "orange": $orange,
  "green": $green,
  "black": $black,
  "red": $salmon,
  "salmon": $salmon,
  "blue": $blue,
  "white": $white,
  "yellow": $yellow,
  "pink": $pink,
  "grey": $grey,
  "light-grey": $light-grey,
  "dark-grey": $interview-grey,
  "med-grey": $timeline-grey,
  "black-grey": $black-grey,
);

//Text Colors
$text-color-list: (
  "orange": $orange,
  "green": $green,
  "black": $black,
  "red": $salmon,
  "salmon": $salmon,
  "blue": $blue,
  "white": $white,
  "yellow": $yellow,
  "grey": $grey,
  "purple": $purple,
  "pink": $pink,
  "med-grey": $faded-text,
  "dark-grey": $interview-grey,
  "del-text-grey": $del-text-grey,
);

//Gradient Text Colors
$gradient-text-color-list: (
  "red": $button-gradient,
  "blue": $gradient-blue,
  "orange": $gradient-orange,
  "green": $gradient-green,
  "pink": $gradient-pink,
  "yellow": $gradient-yellow,
);

$gradient-map: (
  orange: $gradient-orange,
  blue: $gradient-blue,
  cyan: $gradient-cyan,
  pink: $gradient-pink,
  dpink: $gradient-dpink,
  yellow: $gradient-yellow,
  green: $gradient-green,
  purple: $gradient-purple,
  lpurple: $gradient-lpurple,
  lblue: $gradient-lblue,
  dcyan: $gradient-dcyan,
  dblue: $gradient-dblue,
  dpurple: $gradient-dpurple,
  black: $gradient-black,
  black-bt: $gradient-black-bt,
  hi-pink-orange: $hi-gradient-pink-orange-lr,
  hi-dpink: $hi-gradient-dpink-lr,
  hi-blue: $hi-gradient-blue-lr,
  hi-purple: $hi-gradient-purple-lr,
  violet-bt: linear-gradient(to top, #692fdc, #452ba3),
);
