/**
~~~~~~~~~~~~~~~~~~~~~~~~~~
    Colors config file   
~~~~~~~~~~~~~~~~~~~~~~~~~~

File contains color configuration for below listed objects and utilities:-
- Objects
  - Button Solid
  - Button Dashed
  - Tab Nav
  - Checkbox
  - Divided List

- Utilities
  - Text Colors
  - Background Colors
  - Hover Colors
**/

$black: #000000;
$white: #ffffff;
$salmon: #ff6666;
$green: #8dbf75;
$light-green: #b1d792;
$yellow: #ffcc66;
$blue: #246db3;
$orange: #f19633;

$facebook: #3b5998;
$google: #f4695a;
$twitter: #03a9f4;
$linkedin: #007BB6;

$global-font-text-color: #333333;
$global-font-heading-color: #333333;
$font-complete: #8dbf75;
$font-sub-heading: #f6776f;

$color-button-primary: #ed8080;
$button-element-level: #ff6666;

$card-box-border: #e8e8e8;
$default-border: #cccccc;
$nav-border: #f6f6f6;
$vp-border: #676767;
$border: rgba(225, 225, 225, 0.75);

$vp-background: #252525;
$editor-background: #2e2e2e;
$otp-input-bg: #ebebeb;
$hover-bg: #fafafa;
$content-search-box-bg: #3b3838;
$nav-info-bg: #fcfcfc;

$card-mentor: #e9e9e9;
$card-box-shadow: rgba(51, 51, 51, 0.1);

$button-element-level: #ff6666;
$classroom-border: #cccccc;
$nav-border: #f6f6f6;
$t-heading-border: #f3f3f3;
$rating-star: #fce298;
$reset-progress: #fc4f4f;
$faded-text: #999999;
$intermediate-level: #fecc6e;
$accordion-li: #fdfdfd;
$status-back-complete: #d7f1d3;
$status-front-complete: #82d073;
$status-back-incomplete: #bebebe;
$default-accordion-font: #666666;
$navLink: #666666;
$transparent: transparent;
$disabled-input: #ececec;

$vp-acc-head: #4c4c4c;
$search-box-color: #f2f2f2;
$faded-cont: #e4e4e4;
$editor-line-number: #202020;
$input-code-editor: #2a2a2a;
$modal-fader: #111111;
$fail-red: #e8685d;
$dropdown-divider: #f4f4f4;
$vp-select-box: #262626;
$grey-choices: #f7f7f7;
$skeleton: #f8f8f8;
$content-search-box: #4c4b4b;
$search-box-placeholder: #a0a0a0;
$search-box-input: #d5d5d5;
$invert: #272727;
$spaced-black: #222222;
$light-filter: rgba(255, 255, 255, 0.9);
$dark-filter: rgba(80, 80, 80, 0.1);
$bellow-black: #181818;
$cricket-cup: #84114b;

$hb-blue: #246db3;
$grey: #a2a4a8;
$dark-grey: #1e1e1e;
$code-editor: #171717;
$interview-grey: #1b1e26;
$purple: #271147;



//threads
$threads-separator: #666666;
$threads-invert: #191919;

//lists
$list-shaded-invert: #111111;
$list-shaded-background: rgba(255, 255, 255, 0.9);

//Gradients
$gradient-black: linear-gradient(30deg, #333333, #000000);
$button-gradient: linear-gradient(to right, rgb(237, 114, 152), rgb(236, 136, 113), rgb(237, 114, 152));
$course-progress-circle-front: linear-gradient(to right, rgba(237, 114, 152, 0.4), rgba(236, 136, 113, 0.4));
$button-gradient-disabled: linear-gradient(to right, rgb(119, 131, 120), rgb(160, 160, 160));
$gradient-blue-30-deg: linear-gradient(30deg, #384282, #34729a);
$gradient-red-blue: linear-gradient(to right, #e9414d, #2d2982);
$button-gradient-blue: linear-gradient(to right, #193b84, #2675bb);

$gradient-orange: linear-gradient(30deg, #ec6333, #f19633);
$gradient-purple: linear-gradient(30deg, #271147, #553180);
$gradient-navy: linear-gradient(30deg, #133155, #122a42);
$gradient-dblue-lr: linear-gradient(to right, #0b024e, #000033);
$gradient-green-lr: linear-gradient(to right, #56aa4e, #7eda75);
$gradient-lblue-lr: linear-gradient(to right, #0b024e, #174e79);
$gradient-blue-lr: linear-gradient(to right, #193b84, #2675bb);
$gradient-orange-lr: linear-gradient(to right, #ec6333, #f19633);
$gradient-black-bt: linear-gradient(to top, #1b1d27, #07080b);


//Checkbox
// $checkbox-solid: (
//   orange: $gradient-orange
// );
$checkbox-solid: $gradient-orange;

// Hover Colors
$hover-grey: #f3f3f3;

// Divided List Colors
$dark-grey-list: #999999;
$light-grey-list: #f3f3f3;
$white-list: #ffffff;