.a-cbm {
  @import "buttons.scss";
  @import "heading.scss";
  @import "font.scss";
  @import "color.scss";
  @import "landing-page.scss";
  @import "events-page-landing.scss";
  @import "padding.scss";
  @import "margin.scss";
  @import "tabs.scss";
  @import "cb-junior.scss";
  @import "classroom-courses.scss";
  @import "super-navbar.scss";
  @import "hamburger-nav.scss";
  @import "wakanda.scss";
}
