.a-cbj {
  .card {
    border-radius: 20px;
  }

  .floating-video-pane {
    background: rgba($color: #fff, $alpha: 0.4);
    margin-right: -30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pill-tag {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 200px;
    padding: 10px 20px;

    &--hoverable {
      border: 1px solid $grey-light-1;
      color: $grey;
      font-weight: bold;
      cursor: pointer;

      &:hover,
      &:active,
      &.active {
        border: 1px solid $orange;
      }

      &:active,
      &.active {
        color: $orange;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .floating-video-pane {
      margin-right: 0;
      border-radius: 20px;
    }
  }

  @media screen and (max-width: 567px) {
    .pill-tag {
      padding: 10px 15px;
    }
  }
}
