.landing-page {
  color: #292f3d;
  z-index: 0;
  font-family: "Mulish", sans-serif;
  // font-family: "Rubik", sans-serif;

  &__section {
    padding: 7.142rem;
    position: relative;
    overflow: hidden;

    &:nth-child(2n-1) {
      background: $white;
    }

    &:nth-child(2n) {
      background: $grey-light-3;
    }

    &--divided-section {
      &__left-section,
      &__right-section {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__left-section {
        border-right: 1px solid $grey-light-1;
        padding-right: 3.57rem;
      }

      &__right-section {
        padding-left: 7.142rem;
      }
    }

    &--footer {
      &__main-section {
        border-right: 1px solid $grey-light-1;
      }
    }

    &__vector {
      position: absolute;
      right: 6rem;
      bottom: 0;
      width: 45%;
    }

    &.anomaly-section {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .course-section {
    &__option {
      border-top: 1px solid $grey-light-1;
      border-bottom: 1px solid $grey-light-1;
      cursor: pointer;
      align-items: center;

      &:hover,
      &.active {
        background: $white;
        color: $orange;
      }
    }

    &__cards {
      padding-left: 75px;
    }
  }

  .side-tag {
    &::after {
      background: $orange;
    }
  }

  .success-story {
    &__image {
      height: 250px;
      width: 250px;
      border-radius: 50%;
      margin-right: 6rem;
    }
  }

  .blog-post {
    height: inherit;

    &:nth-child(1) {
      padding-right: 4.5rem;
    }

    &:nth-child(2) {
      padding-right: 2.25rem;
      padding-left: 2.25rem;
    }

    &:nth-child(3) {
      padding-left: 4.5rem;
    }
  }

  .divider-h {
    background: $grey-light-1;
  }

  .heading-font {
    font-size: 4.142rem;
    font-weight: $extra-bold;
  }

  .underline-highlight {
    &--gradient-orange {
      &::after {
        background: $gradient-orange-light;
      }
    }
  }

  .mini-banner {
    &__tag {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      padding: 5px 10px;
      right: 60px;
      color: white;
      background: $gradient-orange-light;
      border-radius: 2px;
    }
  }

  .slideshow-container {
    max-height: unset;

    &__navigation-dots {
      width: fit-content;
      left: 100px;

      .dot {
        margin: 0 10px 0 0;
      }
    }
  }

  .big-photo {
    height: 225px;
    width: 225px;
    border-radius: 50%;
  }

  .journey-track {
    width: 60px;
    height: -webkit-fill-available;
    position: absolute;
    top: 0;
    right: 0;
    background: #eeeeee;
    margin-top: -7.142rem;
    margin-bottom: -7.142rem;

    &:after {
      content: "";
      height: inherit;
      width: 0px;
      border-left: 1px dashed #4b4b4b;
      position: absolute;
      top: 0;
      left: 29px;
    }
  }

  .journey-element {
    position: relative;

    &:nth-child(2n-1) {
      padding-right: 500px;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: calc(50% - 1px);
        height: 2px;
        width: 450px;
        background: $gradient-orange;
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: $gradient-orange;
      right: -68px;
      top: calc(50% - 8px);
      z-index: 10;
    }
  }

  .subject-course-button {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border: solid 1px $white;
    height: 100px;
    width: 100px;
    margin-right: 25px;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba($color: $white, $alpha: 0.75);
      transition: height 0.25s;
    }

    &:hover,
    &:active,
    &.active {
      &::after {
        height: 0;
      }
    }
  }

  .track-button {
    cursor: pointer;
    overflow: hidden;
    position: relative;

    // &:not(:last-child) {
    //   border-bottom: 1px solid $grey-light-1;
    // }

    border: 5px solid $grey-light-3;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba($color: $white, $alpha: 0.75);
      transition: height 0.25s;
      top: 0;
      left: 0;
    }

    &:hover,
    &.active,
    &:active {
      &::after {
        height: 0;
      }
    }
  }

  @media screen and (max-width: 1199px) {
    &__section {
      padding: 6rem;

      &--divided-section {
        &__left-section {
          padding-right: 2.5rem;
        }

        &__right-section {
          padding-left: 6rem;
        }
      }

      &__vector {
        width: 50%;
        right: 4.5rem;
      }
    }

    .journey-track {
      margin-top: -6rem;
      margin-bottom: -6rem;
    }

    .journey-element {
      &:nth-child(2n-1) {
        padding-right: 250px;

        &::before {
          width: 215px;
        }
      }
    }

    .blog-post {
      height: inherit;

      &:nth-child(1) {
        padding-right: 4rem;
      }

      &:nth-child(2) {
        padding-right: 2rem;
        padding-left: 2rem;
      }

      &:nth-child(3) {
        padding-left: 4rem;
      }
    }

    .slideshow-container {
      &__navigation-dots {
        left: 75px;
      }
    }

    .big-photo {
      height: 200px;
      width: 200px;
    }

    .course-section {
      &__option {
        border-top: 1px solid $grey-light-1;
        border-left: 1px solid $grey-light-1;
        border-left: 1px solid $grey-light-1;
        border-bottom: unset;
        justify-content: center;
      }

      &__cards {
        padding-left: 0;
      }
    }
  }

  @media screen and (max-width: 991px) {
    &__section {
      padding: 4.5rem;

      &--divided-section {
        &__left-section {
          border-right: unset;
          padding-right: 15px;
        }

        &__right-section {
          padding-left: 15px;
        }
      }

      &--footer {
        &__main-section {
          border-right: unset;
          border-bottom: 1px solid $grey-light-1;
        }
      }

      &__vector {
        margin-top: 25px;
        position: initial;
        width: 90%;
        margin-bottom: -4.5rem;
      }
    }

    .journey-track {
      margin-top: -4.5rem;
      margin-bottom: -4.5rem;
    }

    .big-photo {
      height: 175px;
      width: 175px;
    }

    .success-story {
      &__image {
        height: 175px;
        width: 175px;
        margin-right: 4rem;
      }
    }

    .blog-post {
      height: inherit;

      &:nth-child(1) {
        padding-right: 2.5rem;
      }

      &:nth-child(2) {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
      }

      &:nth-child(3) {
        padding-left: 2.5rem;
      }
    }

    .slideshow-container {
      &__navigation-dots {
        left: 50%;
        transform: translateX(-50%);

        .dot:last-child {
          margin: unset;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__section {
      padding: 4rem;

      &__vector {
        margin-bottom: -4rem;
      }

      &.anomaly-section {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
      }
    }

    .journey-track {
      margin-top: -4rem;
      margin-bottom: -4rem;
    }

    .journey-element {
      &:nth-child(2n-1) {
        padding-right: 150px;

        &::before {
          width: 125px;
        }
      }
    }

    .slideshow-container {
      &__navigation-dots {
        bottom: 50px;
      }
    }

    .big-photo {
      height: 150px;
      width: 150px;
    }
  }

  @media screen and (max-width: 575px) {
    &__section {
      padding: 2.5rem;

      &__vector {
        margin-bottom: -2.5rem;
      }

      &.anomaly-section {
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
      }
    }

    .journey-track {
      margin-top: -2.5rem;
      margin-bottom: -2.5rem;
    }

    .journey-element {
      &:nth-child(2n-1) {
        padding-right: 0;

        &::before {
          display: none;
        }
      }

      &::after {
        right: -53px;
      }
    }

    .heading-font {
      font-size: 3.5rem;
    }

    .success-story {
      &__image {
        height: 150px;
        width: 150px;
        margin-right: 2rem;
      }
    }

    .course-section {
      &__option {
        .col-12 {
          font-size: $font-4 !important;
        }
      }
    }

    .slideshow-container {
      margin: 0 -2.5rem;
    }

    .big-photo {
      height: 90px;
      width: 90px;
    }

    .subject-course-button {
      height: 75px;
      width: 75px;
      margin-left: 10px;
      margin-right: 10px;
    }

    // .course-section {
    //   .course-section__navigation {
    //     margin: 0 -2.5rem;
    //   }
    // }
  }
}
