.landing-page {
  color: $black;
  z-index: 0;

  &__section {
    padding: 7.142rem;
    position: relative;
    overflow: hidden;

    &:nth-child(2n-1) {
      background: $white;
    }

    &:nth-child(2n) {
      background: $grey-light-3;
    }

    &--divided-section {
      &__left-section,
      &__right-section {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__left-section {
        border-right: 1px solid $grey-light-1;
        padding-right: 3.57rem;
      }

      &__right-section {
        padding-left: 7.142rem;
      }
    }

    &--footer {
      &__main-section {
        border-right: 1px solid $grey-light-1;
      }
    }

    &__vector {
      position: absolute;
      right: 6rem;
      bottom: 0;
      width: 45%;
    }
  }

  .course-section {
    &__option {
      border-top: 1px solid $grey-light-1;
      border-bottom: 1px solid $grey-light-1;
      cursor: pointer;
      align-items: center;

      &:hover,
      &.active {
        background: $white;
        color: $orange;
      }
    }

    &__cards {
      padding-left: 75px;
    }
  }

  .side-tag {
    &::after {
      background: $orange;
    }
  }

  .success-story {
    &__image {
      height: 250px;
      width: 250px;
      border-radius: 50%;
      margin-right: 6rem;
    }
  }

  .blog-post {
    height: inherit;

    &:nth-child(1) {
      padding-right: 4.5rem;
    }

    &:nth-child(2) {
      padding-right: 2.25rem;
      padding-left: 2.25rem;
    }

    &:nth-child(3) {
      padding-left: 4.5rem;
    }
  }

  .divider-h {
    background: $grey;
  }

  .heading-font {
    font-size: 4.142rem;
    font-weight: $extra-bold;
  }

  .underline-highlight {
    &--gradient-orange {
      &::after {
        background: $gradient-orange-light;
      }
    }
  }

  .mini-banner {
    &__tag {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      padding: 5px 10px;
      right: 60px;
      color: white;
      background: $gradient-orange-light;
      border-radius: 2px;
    }
  }

  .slideshow-container {
    max-height: unset;

    &__navigation-dots {
      width: fit-content;
      left: 100px;

      .dot {
        margin: 0 10px 0 0;
      }
    }
  }

  .big-photo {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

  @media screen and (max-width: 1199px) {
    &__section {
      padding: 6rem;

      &--divided-section {
        &__left-section {
          padding-right: 2.5rem;
        }

        &__right-section {
          padding-left: 6rem;
        }
      }

      &__vector {
        width: 50%;
        right: 4.5rem;
      }
    }

    .blog-post {
      height: inherit;

      &:nth-child(1) {
        padding-right: 4rem;
      }

      &:nth-child(2) {
        padding-right: 2rem;
        padding-left: 2rem;
      }

      &:nth-child(3) {
        padding-left: 4rem;
      }
    }

    .slideshow-container {
      &__navigation-dots {
        left: 75px;
      }
    }

    .course-section {
      &__option {
        border-top: 1px solid $grey-light-1;
        border-left: 1px solid $grey-light-1;
        border-left: 1px solid $grey-light-1;
        border-bottom: unset;
        justify-content: center;
      }

      &__cards {
        padding-left: 0;
      }
    }
  }

  @media screen and (max-width: 991px) {
    &__section {
      padding: 4.5rem;

      &--divided-section {
        &__left-section {
          border-right: unset;
          padding-right: 15px;
        }

        &__right-section {
          padding-left: 15px;
        }
      }

      &--footer {
        &__main-section {
          border-right: unset;
          border-bottom: 1px solid $grey;
        }
      }

      &__vector {
        margin-top: 25px;
        position: initial;
        width: 90%;
        margin-bottom: -4.5rem;
      }
    }

    .success-story {
      &__image {
        height: 175px;
        width: 175px;
        margin-right: 4rem;
      }
    }

    .blog-post {
      height: inherit;

      &:nth-child(1) {
        padding-right: 2.5rem;
      }

      &:nth-child(2) {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
      }

      &:nth-child(3) {
        padding-left: 2.5rem;
      }
    }

    .slideshow-container {
      &__navigation-dots {
        left: 50%;
        transform: translateX(-50%);

        .dot:last-child {
          margin: unset;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__section {
      padding: 4rem;

      &__vector {
        margin-bottom: -4rem;
      }
    }

    .slideshow-container {
      &__navigation-dots {
        bottom: 50px;
      }
    }

    .big-photo {
      height: 150px;
      width: 150px;
    }
  }

  @media screen and (max-width: 575px) {
    &__section {
      padding: 2.5rem;

      &__vector {
        margin-bottom: -2.5rem;
      }
    }

    .heading-font {
      font-size: 3.5rem;
    }

    .success-story {
      &__image {
        height: 150px;
        width: 150px;
        margin-right: 2rem;
      }
    }

    .course-section {
      &__option {
        .col-12 {
          font-size: $font-4 !important;
        }
      }
    }

    .slideshow-container {
      margin: 0 -2.5rem;
    }

    .big-photo {
      height: 90px;
      width: 90px;
    }

    // .course-section {
    //   .course-section__navigation {
    //     margin: 0 -2.5rem;
    //   }
    // }
  }
}
