.landing-page {
  color: $white;

  .heading-font {
    font-size: 4.142rem;
    font-weight: $extra-bold;

    &__stroke-font {
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4),
        -1px 0 0 rgba(255, 255, 255, 0.4), 0 1px 0 rgba(255, 255, 255, 0.4),
        0 -1px 0 rgba(255, 255, 255, 0.4), 0.5px 0.5px rgba(255, 255, 255, 0.4),
        -0.5px -0.5px 0 rgba(255, 255, 255, 0.4),
        0.5px -0.5px 0 rgba(255, 255, 255, 0.4), -0.5px 0.5px 0 rgba(255, 255, 255, 0.4);
    }
  }

  .my-50 {
    margin-top: 3.57rem;
    margin-bottom: 3.57rem;
  }

  &__section {
    padding: 7.142rem;

    &:nth-child(2n-1) {
      background: $grey-dark-2;
    }

    &:nth-child(2n) {
      background: $black;
    }
  }
}
