.landing-page {
  color: $white;

  .heading-font {
    font-size: 4.142rem;
    font-weight: $extra-bold;
  }

  .my-50 {
    margin-top: 3.57rem;
    margin-bottom: 3.57rem;
  }

  &__section {
    padding: 7.142rem;
    position: relative;

    &:nth-child(2n-1) {
      background: $grey-dark-2;
    }

    &:nth-child(2n) {
      background: $black;
    }

    &--divided-section {
      &__left-section,
      &__right-section {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__left-section {
        border-right: 1px solid $grey;
        padding-right: 3.57rem;
      }

      &__right-section {
        padding-left: 7.142rem;
      }
    }

    &__vector {
      position: absolute;
      right: 6rem;
      bottom: 0;
      width: 700px;
    }
  }

  .side-tag {
    &::after {
      background: $orange;
      left: calc(-40px);
    }
  }

  .success-story {
    &__image {
      height: 250px;
      width: 250px;
      border-radius: 50%;
      margin-right: 6rem;
    }
  }

  .divider-h {
    background: $grey;
  }

  @media screen and (max-width: 1199px) {
    &__section {
      padding: 6rem;

      &--divided-section {
        &__left-section {
          padding-right: 2.5rem;
        }

        &__right-section {
          padding-left: 6rem;
        }
      }

      &__vector {
        width: 500px;
        right: 4.5rem;
      }
    }
  }

  @media screen and (max-width: 991px) {
    &__section {
      padding: 4.5rem;

      &--divided-section {
        &__left-section {
          border-right: unset;
          padding-right: 15px;
        }

        &__right-section {
          padding-left: 15px;
        }
      }

      &__vector {
        width: 300px;
        right: 4rem;
      }
    }

    .side-tag {
      &::after {
        left: -20px;
      }
    }

    .success-story {
      &__image {
        height: 175px;
        width: 175px;
        margin-right: 4rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__section {
      padding: 4rem;
    }
  }

  @media screen and (max-width: 575px) {
    &__section {
      padding: 2.5rem;
    }

    .heading-font {
      font-size: 2.571rem;
    }

    .success-story {
      &__image {
        height: 150px;
        width: 150px;
        margin-right: 2rem;
      }
    }
  }
}
