@for $i from 0 through 20 {
  $padding: ($i * 5px);

  .p-#{$i * 5} {
    padding: $padding !important;
  }

  @each $dir-label, $direction in $directions {
    .p#{$dir-label}-#{$i * 5} {
      padding-#{$direction}: $padding !important;
    }
  }

  .px-#{$i * 5} {
    padding-right: $padding !important;
    padding-left: $padding !important;
  }

  .py-#{$i * 5} {
    padding-top: $padding !important;
    padding-bottom: $padding !important;
  }

  @each $size, $label in (576px, sm), (768px, md), (992px, lg), (1200px, xl) {
    @media screen and(min-width: $size) {
      .p-#{$label}-#{$i * 5} {
        padding: $padding !important;
      }

      @each $dir-label, $direction in $directions {
        .p#{$dir-label}-#{$label}-#{$i * 5} {
          padding-#{$direction}: $padding !important;
        }
      }

      .px-#{$label}-#{$i * 5} {
        padding-right: $padding !important;
        padding-left: $padding !important;
      }

      .py-#{$label}-#{$i * 5} {
        padding-top: $padding !important;
        padding-bottom: $padding !important;
      }
    }
  }
}
