.tab-nav-underline {
  display: flex;
  align-items: center;
  border-bottom: solid 2px $search-box-color;
  font-size: $font-sm;
  bottom: -2px;

  & .tab {
    padding: 15px 5%;
    font-weight: $extra-bold;
    color: #333;
    position: relative;
    cursor: pointer;
    bottom: -2px;

    &.active {
      border-bottom: solid 3px $salmon;
      color: $salmon;
    }
  }
}

.tab-nav-underline {
  border-bottom: solid 1px $search-box-color;

  &.inverted {
    border-bottom: solid 1px $border-grey;
  }

  & .tab {
    bottom: -1px;

    &:hover {
      color: $orange;
    }

    &.active {
      border-bottom: solid 1px $orange;
      color: $orange;
      font-weight: $bold;
    }

    margin-right: 3rem;
    font-size: $font-sm;
    font-weight: $font-normal;
    padding-left: 0;
    padding-right: 0;
  }
}