.wakanda {
  .button-primary {
    background: #e5f2ff;
    color: #0c81ff;
    transition: all 0.4s;

    &:hover,
    &.active {
      background: #0c81ff;
      color: #e5f2ff;
    }
  }

  .blue-text {
    color: #007bff;
  }
}
