@media all and (max-width:767px){
  .c-overview-recent{
    .border-card{
      height: auto;
    }

    .card-text{
      font-size: $font-xs;
    }

    .heading, .pull-right{
      font-size: $font-sm;
    }

    .notify-dot{
      @include dimensions(8px, 8px);
    }

    .card-content {
      max-height: 75%;
    }
  }
}

@media all and (max-width: 575px){
  .c-overview-recent{
    .border-card{
      padding-left: 5%;
      padding-right: 4%;
    }
  }
}