@media all and (max-width: 1334px){
  .c-overview-course{
    .classroom-para {
      font-size: $font-xs;
    }

    .para{
      font-size: $card-md;
    }
  }
}

@media all and (max-width: 575px){
  .c-content-accordion, .c-about-accordion{
    @include li-left-right-padding(left, 15%);

    .list-divided>.row{
      min-height: 70px;
    }

    .deadline{
      font-size: $card-md;
    }
  } 
}