.play-store-button {
  background-color: #2c2d32;
  background-image: none;
  font-size: $font-sm;
  padding: 6px 24px;
  display: flex;
  align-items: center;

  .text{
    display: inline-block;
    padding-left: 5px;
    text-align: left;
  }
}