.nagarro-landing {
  margin-top: -70px;

  .cyan {
    color: #47d7ac;
  }

  .bg-cyan {
    background-color: #e3fff7;
  }

  .cyan-underline {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 0;
      left: 0;
      background: #47d7ac;
      border-radius: 25px;
    }
  }

  .cyan-backdrop {
    height: 150%;
    width: 100%;
    right: -50%;
    top: -25%;
    border-radius: 100%;
    background-color: #e3fff7;
  }

  .button-primary {
    &.button-grey {
      background: #3f3f3f !important;
    }
  }

  .hero-1 {
    right: 0;
    bottom: 0;
  }

  .hero-2 {
    bottom: -50px;
    right: 0;
  }

  .hero-3 {
    top: -100px;
    left: 0;
  }

  @media screen and (max-width: 575px) {
    .hero-1 {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .hero-1 {
      right: -100px;
    }
  }

  @media screen and (max-width: 991px) {
    .hero-3 {
      top: 100px;
      left: -100px;
    }

    .hero-2 {
      bottom: 0 !important;
    }
  }

  @media screen and (max-width: 1199px) {
    .hero-2 {
      right: -300px;
      bottom: -150px;
    }
  }
}
