.nagarro-landing {
  .cyan {
    color: #47d7ac;
  }

  .cyan-underline {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 0;
      left: 0;
      background: #47d7ac;
      border-radius: 25px;
    }
  }

  .cyan-backdrop {
    height: 150%;
    width: 100%;
    right: -50%;
    top: -25%;
    border-radius: 100%;
    background-color: #E3FFF7;
  }
}
