.nagarro-landing {
  margin-top: -70px;

  .round-button-grey {
    background: #3f3f3f;
    border: 3px solid #59D6B0;
    bottom: calc(50% - 75px);
    left: -75px;
    position: absolute;
    height: 150px;
    width: 150px;
    cursor: pointer;
  }

  .round-button-cyan {
    background: #59D6B0;
    border: 3px solid #59D6B0;
    position: absolute;
    height: 150px;
    width: 150px;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
  }

  .faq-section {
    overflow: hidden;
    width: 100%;

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    .faq-card {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f8f8f8;
      padding: 30px;
      border-radius: 10px;

      &:hover {
        background: darken($color: #f8f8f8, $amount: 10%);
      }

      &::after {
        content: "\276f";
        font-size: 12px;
        text-align: center;
        transition: all 0.35s;
      }

      &::before {
        content: "";
        height: 100%;
        position: absolute;
        width: 10px;
        background: #58d3af;
        left: 0;
        top: 0;
      }
    }

    .answer-section {
      border: 1px solid #58d3af;
      border-top: unset;
      padding: 0 30px;
      box-sizing: border-box;
      margin-top: -5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      max-height: 0;
      background: $white;
      transition: all 0.35s;  
    }

    input:checked {
      + .faq-card {
        background: darken($color: #f8f8f8, $amount: 10%);

        &::after {
          transform: rotate(90deg);
        }
      }

      ~ .answer-section {
        max-height: 100vh;
        padding: 30px;
      }
    }
  }

  .cyan {
    color: #47d7ac;
  }

  .bg-cyan {
    background-color: #e3fff7;
  }

  .cyan-underline {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 6px;
      bottom: 0;
      left: 0;
      background: #47d7ac;
      border-radius: 25px;
    }
  }

  .cyan-backdrop {
    height: 150%;
    width: 100%;
    right: -50%;
    top: -25%;
    border-radius: 100%;
    background-color: #e3fff7;
  }

  .button-primary {
    &.button-grey {
      background: #3f3f3f !important;

      &:hover {
        background: $white !important;
        border: 1px solid #3f3f3f;
        color: #3f3f3f;
      }
    }

    &.button-cyan {
      border: 1px solid #58d3af;
      background: $white !important;
      color: #58d3af;

      &:hover {
        background: #58d3af !important;
        color: $white;
      }
    }
  }

  .hero-1 {
    right: 0;
    bottom: 0;
  }

  .hero-2 {
    bottom: -75px;
    right: 0;
  }

  .hero-3 {
    top: -100px;
    left: 0;
  }

  @media screen and (max-width: 575px) {
    .hero-1 {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .hero-1 {
      right: -150px !important;
    }
  }

  @media screen and (max-width: 991px) {
    .hero-3 {
      top: 100px;
      left: -100px;
    }

    .hero-2 {
      bottom: 0 !important;
    }

    .hero-1 {
      right: -100px;
    }

    .round-button-cyan {
      height: 120px;
      width: 120px;
    }

    .round-button-grey {
      height: 120px;
      width: 120px;
      position: static;
      top: unset;
      left: unset;

    }
  }

  @media screen and (max-width: 1199px) {
    .hero-2 {
      right: -300px;
      bottom: -150px;
    }
  }
}
