{{>nav-account}}
<div class="login-signup">
    <div class="card c-login">
        <h2 class="red mb-4">
            LOGIN NOW TO GET STARTED
        </h2>

        <form action="">
            <div class="input-btn mb-4">
                <input type="text" class="input-text icon user-bg" placeholder="Enter Username">
                <button class="grey">Forgot?</button>
            </div>

            <div class="input-btn mb-4">
                <input type="text" class="input-text icon fingerprint-bg" placeholder="Enter Password">
                <button class="grey">Forgot?</button>
            </div>

            <input type="checkbox" id="remember" class="input-checkbox mb-5 mr-3">
            <label for="remember"> Remember me</label>

            <div class="d-flex">            
                <button class="button-solid lg mr-3 font-sm" type="submit"> LOGIN NOW</button>        
                <div class="font-sm d-flex flex-column justify-content-center">
                    New to Coding Blocks?
                    <button class="t-align-l red">SIGN UP NOW</button>
                </div>
            </div>

            <div class="d-flex bold align-items-center my-5">
                <h5 class="mr-4 semi-bold">OR</h5>  
                <span class="divider-h col-5"></span>
            </div>

            <p class="font-sm">You may also try login with:</p>

            <div class="row justify-content-around no-gutters">
                <div class="col-2">
                    <div class="auth-link u-ar-1-to-1 t-align-c">
                        <div>
                            <button class="button-circle mb-3 facebook">
                                <i class="fab fa-facebook-f fa-2x"></i>
                            </button>
                            <div class="link-text">FACEBOOK</div>
            
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="auth-link u-ar-1-to-1 t-align-c">
                        <div>
                            <button class="button-circle mb-3 google">
                                <i class="fab fa-google-plus-g fa-2x"></i>
                            </button>
                            <div class="link-text">GOOGLE</div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="auth-link u-ar-1-to-1 t-align-c">
                        <div>
                            <button class="button-circle mb-3 twitter">
                                <i class="fab fa-twitter fa-2x"></i>
                            </button>
                            <div class="link-text">TWITTER</div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="auth-link u-ar-1-to-1 t-align-c">
                        <div>
                            <button class="button-circle mb-3 github">
                                <i class="fab fa-github fa-2x"></i>
                            </button>
                            <div class="link-text">GITHUB</div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="auth-link u-ar-1-to-1 t-align-c">
                        <div>
                            <button class="button-circle mb-3 linkedin">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </button>
                            <div class="link-text">LINKEDIN</div>
                        </div>
                    </div>
                </div>
            </div>


        </form>


    </div>
</div>
