{{>nav-account}}
<div class="row c-arrangement">
  {{>side-nav}}
    <div class="offset-md-4 col-md-8 col-lg-7 c-profile-edit">
      <div class="card">
          <div class="heading-u-red">Edit Profile</div>
          <form action="" method="POST">
            <div class="row justify-content-between align-items-center mb-4">
              <div class="col-3 col-sm-3">
                <div class="u-ar-1-to-1">
                  <img class="round" src="http://logo.clearbit.com/codingblocks.com" />
                </div>
              </div>  
              <div class="pr-4">
                <button class="button-solid">CHANGE PROFILE IMAGE</button>            
              </div>
            </div>
            <div class="attributes">
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">UserID</div>
                  <input class="input-text col-9" disabled value="8769" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Username</div>
                  <input class="input-text col-9" disabled value="lazyGod" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Firstname</div>
                  <input class="input-text col-9" value="Darsh" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Lastname</div>
                  <input class="input-text col-9" value="Pratap" />
                </div>
              <div class="row no-gutters align-items-center justify-content-between detail-row">
                <div class="label-input col-2">Email</div>
                <input class="input-text col-9" value="lazyGod@gmail.com" />
              </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Password</div>
                  <input class="input-text col-9" value="" placeholder="Enter Password" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Re-Enter</div>
                  <input class="input-text col-9" value="" placeholder="Re-Enter Password" />
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">College</div>
                  <select class="input-text col-9">
                    <option>college-name-1</option>
                    <option>college-name-2</option>
                    <option>college-name-3</option>
                    <option>college-name-4</option>
                  </select>
                </div>
                <div class="row no-gutters align-items-center justify-content-between detail-row">
                  <div class="label-input col-2">Branch</div>
                  <select class="input-text col-9">
                    <option>branch-name-1</option>
                    <option>branch-name-2</option>
                    <option>branch-name-3</option>
                    <option>branch-name-4</option>
                    <option>branch-name-5</option>
                  </select>
                </div>
              <div class="flex-row justify-content-end button-div">
                <div class="faded reset-button">
                  <button>RESET</button>
                </div>
                <div class="button-solid">
                  <button>SAVE CHANGES</button>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
</div>
