{{>nav-bar}}
<div class="login-signup">
    <div class="card c-signup">
        <h2 class="red mb-4">
            SIGNUP
        </h2>

        <form action="">
            <input type="text" class="input-text icon user-bg" placeholder="Username">

            <div class="row no-gutters">
                <div class="col-sm-12 col-md-6 pr-md-3">
                    <input type="text" class="input-text icon lines-bg" placeholder="First Name">
                </div>
                <div class="col-sm-12 col-md-6">
                    <input type="text" class="input-text icon lines-bg" placeholder="Last Name">
                </div>
            </div>

            <input type="text" class="input-text icon mail-bg" placeholder="Email Address">

            <input type="text" class="input-text icon fingerprint-bg" placeholder="Password">

            <div class="d-flex">
                <button type="button" class="button-solid lg mr-3"> LOGIN NOW</button>
                <div class="d-flex flex-column justify-content-center">
                    Already have an account?
                    <button class="red t-align-l bold">LOGIN NOW</button>
                </div>
            </div>

        </form>

    </div>
</div>