<div class="a-ac">
  <div class="row no-gutters">
    <div class="col-12 b-bottom position-fixed tl bg-white z-pos topbar">
      <div class="row align-items-center h-100 py-2">
        <div class="col-3 px-5">
          <img src="\images\online-logo-text.png" alt="Online CB Logo" class="w-50 mx-5">
        </div>
        <div class="col-9">
          <ul class="clear-list">
            <li class="px-4 float-left"><a href="#" class="hover-pink active">Classroom Courses</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Online Courses</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Hiring Blocks</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Hacker Blocks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters work-area">
    <div class="col-5 b-right py-5">
    </div>
    <div class="col-7 py-5 px-5">
      <div class="tab-nav-underline w-100 justify-content-start">
        <div class="tab px-0 font-md extra-bold">Login</div>
        <div class="tab px-0 mx-5 font-md extra-bold active">Sign Up</div>
      </div>

      <div class="my-5 pt-4">
        <h4 class="bold">New to Coding Blocks?</h4>
        <div class="font-mds dark-grey mt-1">Get access to all applications now</div>
      </div>

      <input type="text" id="addtype" class="underline-input font-sm bold w-100 mt-4"
        placeholder="Choose Username">

      <div class="card-sm light med-grey mt-2">
        Username should be of length 3-50 characters &amp; can only start with alphabets
        Username can only contain alhpabets, numbers, - (hyphen), _ (underscore), .(dot) &amp; should not end with
        confusing
        extensions like .js, .ts
      </div>

      <div class="row mt-4">
        <div class="col-6">
          <input type="text" id="addtype" class="underline-input font-sm bold w-100 mt-4" placeholder="First Name">
        </div>
        <div class="col-6">
          <input type="text" id="addtype" class="underline-input font-sm bold w-100 mt-4" placeholder="Last Name">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-4">
          <div class="select">
            <select name="slct" id="slct" class="font-sm bold">
              <option selected disabled hidden>Choose Gender</option>
              <option value="1" class="py-2">Male</option>
              <option value="2" class="py-2">Female</option>
              <option value="3" class="py-2">Undisclosed</option>
            </select>
          </div>
        </div>
        <div class="col-8">
          <input type="text" id="addtype" class="underline-input font-sm bold w-100"
            placeholder="+91 Phone Number">
        </div>
      </div>

      <input type="text" id="addtype" class="underline-input font-sm bold w-100 mt-4" placeholder="Choose College">

      <div class="row mt-4">
        <div class="col-6">
          <div class="select">
            <select name="slct" id="slct" class="pb-4 font-sm bold">
              <option selected disabled hidden>Choose Branch</option>
              <option value="1" class="py-2">IT</option>
              <option value="2" class="py-2">CSE</option>
              <option value="3" class="py-2">MAE</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="select">
            <select name="slct" id="slct" class="font-sm bold">
              <option selected disabled hidden>Choose Graduation Year</option>
              <option value="1" class="py-2">IT</option>
              <option value="2" class="py-2">CSE</option>
              <option value="3" class="py-2">MAE</option>
            </select>
          </div>
        </div>
      </div>

      <input type="text" id="addtype" class="underline-input font-sm bold w-100 mt-4" placeholder="Email Address">

      <input type="text" id="addtype" class="underline-input font-sm bold w-100 mt-4" placeholder="Password">

      <div class="mt-5">
        <button class="button-solid lg">Sign Up Now</button>
      </div>
    </div>
  </div>
</div>