<div class="a-ac">
  <div class="row no-gutters">
    <div class="col-12 b-bottom position-fixed tl bg-white z-pos topbar">
      <div class="row align-items-center h-100 py-2">
        <div class="col-3 px-5">
          <img src="\images\online-logo-text.png" alt="Online CB Logo" class="w-50 mx-5">
        </div>
        <div class="col-9">
          <ul class="clear-list">
            <li class="px-4 float-left"><a href="#" class="hover-pink active">Classroom Courses</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Online Courses</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Hiring Blocks</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Hacker Blocks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters work-area">
    <div class="col-5 b-right py-5">
    </div>
    <div class="col-7 py-5 px-5">
      <div class="tab-nav-underline w-100 justify-content-start">
        <div class="tab active px-0 font-md extra-bold">Login</div>
        <div class="tab px-0 mx-5 font-md extra-bold">Sign Up</div>
      </div>

      <div class="my-5 pt-4">
        <h4 class="bold">Login to your account</h4>
        <div class="font-mds dark-grey mt-1">Step into the world of coding</div>
      </div>

      <div class="input-btn">
        <input type="text" id="addtype" class="underline-input font-sm bold w-100 my-5"
          placeholder="Enter Username or Email or Phone Number">
        <button class="dark-grey centered">Forgot?</button>
      </div>

      <div class="input-btn">
        <input type="text" id="addtype" class="underline-input font-sm bold w-100 my-5"
          placeholder="Enter Username or Email or Phone Number">
        <button class="dark-grey centered">Forgot?</button>
      </div>

      <label class="input-checkbox checkbox-solid font-sm" for="solid">
        <input type="checkbox" id="solid"> Remember Me
        <span class="salmon-gradient"></span>
      </label>

      <div class="mt-5">
        <button class="button-solid lg">Login Now</button>
        <span class="font-sm ml-3 semi-bold"><a href="#" class="salmon">Login with OTP</a></span>
      </div>

      <div class="font-sm mt-5">You may also try login with:</div>
      <div class="mt-4">
        <a href="" class="mr-4"><i class="fa-2x fab fa-facebook-f"></i></a>
        <a href="" class="mx-4"><i class="fa-2x fab fa-github"></i></a>
        <a href="" class="mx-4"><i class="fa-2x fab fa-linkedin-in"></i></a>
        <a href="" class="mx-4"><i class="fa-2x fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>