<div class="a-ac">
  <div class="row no-gutters">
    <div class="col-12 b-bottom position-fixed tl bg-white z-pos topbar">
      <div class="row align-items-center h-100 py-2">
        <div class="col-3 px-5">
          <img src="\images\online-logo-text.png" alt="Online CB Logo" class="w-50 mx-5">
        </div>
        <div class="col-9">
          <ul class="clear-list">
            <li class="px-4 float-left"><a href="#" class="hover-pink active">Classroom Courses</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Online Courses</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Hiring Blocks</a></li>
            <li class="px-4 float-left"><a href="#" class="hover-pink">Hacker Blocks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters work-area">
    <div class="col-3 b-right py-5">
      <div class="img-ring p-1 mx-auto">
        <img class="round img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
          alt="">
      </div>
      <div class="px-5 mx-auto work-area__side-menu">
        <h4 class="bold pt-3 pb-4">Hi, Siddharth Jain</h4>
        <div class="font-mds py-4"><a href="#" class="hover-pink active">My Profile</a></div>
        <div class="font-mds py-4"><a href="#" class="hover-pink">My Addresses</a></div>
        <div class="font-mds py-4"><a href="#" class="hover-pink">My Organizations</a></div>
        <div class="font-mds py-4"><a href="#" class="hover-pink">My Applications</a></div>
        <div class="font-mds py-4"><a href="#" class="hover-pink">My Clients</a></div>
        <div class="font-mds py-4"><a href="#" class="hover-pink">Logout</a></div>
      </div>
    </div>
    <div class="col-9 py-5 work-area__main-area">
      <div class="tab-nav-underline w-100 justify-content-start">
        <div class="tab active px-0 font-md extra-bold">Add Address</div>
      </div>

      <div class="row my-5">
        <div class="col-2">
          <label for="type" class="font-sm">Label</label>
        </div>
        <div class="col-4">
          <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100"
            placeholder="Home | Office | Others">
        </div>
      </div>

      <div class="divider-h mb-5 mt-4"></div>

      <div class="row">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">First Name</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100" placeholder="First Name">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Last Name</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100" placeholder="Last Name">
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Mobile</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Mobile No.">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Email ID</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Email ID">
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Address</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Complete Address">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Landmark</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Near XYZ Building">
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Pincode</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Pincode">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">City</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100" placeholder="Enter City">
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">State</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="slct" id="slct" class="font-sm bold underline-select">
                  <option selected disabled hidden>Choose State</option>
                  <option value="1" class="py-2">Male</option>
                  <option value="2" class="py-2">Female</option>
                  <option value="3" class="py-2">Undisclosed</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">Country</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="slct" id="slct" class="font-sm bold underline-select">
                  <option selected disabled hidden>Choose Country</option>
                  <option value="1" class="py-2">Male</option>
                  <option value="2" class="py-2">Female</option>
                  <option value="3" class="py-2">Undisclosed</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="slct" class="font-sm">Country Code</label>
            </div>
            <div class="col-8">
              <div class="select-container">
                <select name="slct" id="slct" class="font-sm bold underline-select">
                  <option selected disabled hidden>Choose Country Code</option>
                  <option value="1" class="py-2">Male</option>
                  <option value="2" class="py-2">Female</option>
                  <option value="3" class="py-2">Undisclosed</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row align-items-center">
            <div class="col-4">
              <label for="addtype" class="font-sm">Whatsapp No.</label>
            </div>
            <div class="col-8">
              <input type="text" id="addtype" class="underline-input pb-3 font-sm bold w-100"
                placeholder="Enter Whatsapp Number">
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <button class="button-solid lg">Save Address</button>
        <span class="font-sm ml-4"><a href="#" class="dark-grey">Reset</a></span>
      </div>
    </div>
  </div>
</div>