$grey: #f3f3f3;

//Background Colors
$bg-color-list: map-merge(
  $bg-color-list,
  (
    "grey": $grey
  )
);

//Text Colors
$text-color-list: map-merge(
  $text-color-list,
  (
    "grey": $grey,
    "dark-grey": $dark-grey,
    "orange": $orange
  )
);

//Border card
$border-card-border-color: #f3f3f3;

//Tags
$tag-dashed-border-color: $orange;
$tag-dashed-text-color: $orange;


//Pills
$pill-dashed-border-color: $orange;
$pill-dashed-text-color: $orange;