<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="col-lg-6 col-md-5 t-align-md-l t-align-c">
            <div class="heading-font stroke-font">
              WHY
            </div>
            <div class="heading-font">
              CODING BLOCKS
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_events.svg">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/munna-bhaiya-about-us.png"
              class="d-md-none d-block mt-30 mx-auto">
            <div class="heading-5 mt-md-50 mt-30">
              <strong>Coding Blocks</strong> was founded in 2014 with a mission to create skilled software engineers for
              our country and the world.<br /><br />We aim to bridge the gap between the quality of skills demanded by
              industry and the quality of skills imparted by conventional institutes.
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/munna-bhaiya-about-us.png"
            class="d-md-block d-none">
        </div>
      </div>
    </div>

    <div class="landing-page__section position-relative">
      <div class="width-limiter">
        <div class="journey-track"></div>
        <div class="t-align-sm-l t-align-c">
          <div class="heading-font stroke-font">
            OUR
          </div>
          <div class="heading-font">
            JOURNEY
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_welcome.svg">
        </div>
        <div class="row no-gutters align-items-center justify-content-end pr-sm-90 pr-75">
          <div class="t-align-r mt-30">
            <div class="row no-gutters align-items-center journey-element mb-30">
              <div class="flex-1 pr-sm-25 pr-15 mr-sm-25 mr-15" style="border-right: solid 1px #3b4254;">
                <div class="heading-2 bold text-gradient-orange">2021</div>
                <div class="mt-1 heading-5 bold">More than 50K graduates</div>
                <div class="mt-2 font-5">
                  As of now we have more than 40K graduates <br />from both online and classroom program.
                </div>
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2021.svg">
            </div>

            <div class="row no-gutters align-items-center journey-element mb-30">
              <div class="flex-1 pr-sm-25 pr-15 mr-sm-25 mr-15" style="border-right: solid 1px #3b4254;">
                <div class="heading-2 bold text-gradient-orange">2019</div>
                <div class="mt-1 heading-5 bold">20+ Online Courses</div>
                <div class="mt-2 font-5">
                  Our online courses starts to pace up <br />and reaches 20+ courses
                </div>
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2019.svg">
            </div>

            <div class="row no-gutters align-items-center journey-element mb-30">
              <div class="flex-1 pr-sm-25 pr-15 mr-sm-25 mr-15" style="border-right: solid 1px #3b4254;">
                <div class="heading-2 bold text-gradient-orange">2018</div>
                <div class="mt-1 heading-5 bold">Scaled to Online</div>
                <div class="mt-2 font-5">
                  Along with the opening of our <br />Noida Branch, we expanded our <br />business to Online.
                </div>
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2018.svg">
            </div>

            <div class="row no-gutters align-items-center journey-element mb-30">
              <div class="flex-1 pr-sm-25 pr-15 mr-sm-25 mr-15" style="border-right: solid 1px #3b4254;">
                <div class="heading-2 bold text-gradient-orange">2017</div>
                <div class="mt-1 heading-5 bold">Hackerblocks, IDE launches</div>
                <div class="mt-2 font-5">
                  We launches two products for <br />developers. HackerBlocks and IDE.
                </div>
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2017.svg">
            </div>

            <div class="row no-gutters align-items-center journey-element mb-30">
              <div class="flex-1 pr-sm-25 pr-15 mr-sm-25 mr-15" style="border-right: solid 1px #3b4254;">
                <div class="heading-2 bold text-gradient-orange">2016</div>
                <div class="mt-1 heading-5 bold">CB Dwarka opens</div>
                <div class="mt-2 font-5">
                  Our second classroom center <br />opens at Dwarka, New Delhi.
                </div>
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2016.svg">
            </div>

            <div class="row no-gutters align-items-center journey-element mb-30">
              <div class="flex-1 pr-sm-25 pr-15 mr-sm-25 mr-15" style="border-right: solid 1px #3b4254;">
                <div class="heading-2 bold text-gradient-orange">2015</div>
                <div class="mt-1 heading-5 bold">First 1000 students</div>
                <div class="mt-2 font-5">
                  We teach our first 1000 students <br />with over 100 success stories.
                </div>
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2015.svg">
            </div>

            <div class="row no-gutters align-items-center journey-element mb-30">
              <div class="flex-1 pr-sm-25 pr-15 mr-sm-25 mr-15" style="border-right: solid 1px #3b4254;">
                <div class="heading-2 bold text-gradient-orange">2014</div>
                <div class="mt-1 heading-5 bold">Coding Blocks is founded</div>
                <div class="mt-2 font-5">
                  With a mission to create skilled software <br />engineers for our country and the world.
                </div>
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2014.svg">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="t-align-sm-l t-align-c">
          <div class="heading-font stroke-font">
            MEET
          </div>
          <div class="heading-font">
            THE TEAM
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_news.svg">
        </div>

        <div class="mt-60">
          <div class="row no-gutters justify-content-between">
            <div class="t-align-c px-15 mb-25">
              <img
                src="https://i2.wp.com/digital-photography-school.com/wp-content/uploads/2011/07/outdoor-portraits-1.jpg?resize=2000%2C1160&ssl=1"
                class="big-photo">
              <div class="mt-sm-25 mt-15 d-sm-block d-none">
                <div class="bold heading-4">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange heading-6">
                  Academics Head
                </div>
              </div>
              <div class="mt-sm-25 mt-15 d-sm-none d-block">
                <div class="bold heading-6">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange font-3">
                  Academics Head
                </div>
              </div>
            </div>
            <div class="t-align-c px-15 mb-25">
              <img
                src="https://i2.wp.com/digital-photography-school.com/wp-content/uploads/2011/07/outdoor-portraits-1.jpg?resize=2000%2C1160&ssl=1"
                class="big-photo">
              <div class="mt-sm-25 mt-15 d-sm-block d-none">
                <div class="bold heading-4">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange heading-6">
                  Academics Head
                </div>
              </div>
              <div class="mt-sm-25 mt-15 d-sm-none d-block">
                <div class="bold heading-6">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange font-3">
                  Academics Head
                </div>
              </div>
            </div>
            <div class="t-align-c px-15 mb-25">
              <img
                src="https://i2.wp.com/digital-photography-school.com/wp-content/uploads/2011/07/outdoor-portraits-1.jpg?resize=2000%2C1160&ssl=1"
                class="big-photo">
              <div class="mt-sm-25 mt-15 d-sm-block d-none">
                <div class="bold heading-4">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange heading-6">
                  Academics Head
                </div>
              </div>
              <div class="mt-sm-25 mt-15 d-sm-none d-block">
                <div class="bold heading-6">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange font-3">
                  Academics Head
                </div>
              </div>
            </div>
            <div class="t-align-c px-15 mb-25">
              <img
                src="https://i2.wp.com/digital-photography-school.com/wp-content/uploads/2011/07/outdoor-portraits-1.jpg?resize=2000%2C1160&ssl=1"
                class="big-photo">
              <div class="mt-sm-25 mt-15 d-sm-block d-none">
                <div class="bold heading-4">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange heading-6">
                  Academics Head
                </div>
              </div>
              <div class="mt-sm-25 mt-15 d-sm-none d-block">
                <div class="bold heading-6">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange font-3">
                  Academics Head
                </div>
              </div>
            </div>
            <div class="t-align-c px-15 mb-25">
              <img
                src="https://i2.wp.com/digital-photography-school.com/wp-content/uploads/2011/07/outdoor-portraits-1.jpg?resize=2000%2C1160&ssl=1"
                class="big-photo">
              <div class="mt-sm-25 mt-15 d-sm-block d-none">
                <div class="bold heading-4">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange heading-6">
                  Academics Head
                </div>
              </div>
              <div class="mt-sm-25 mt-15 d-sm-none d-block">
                <div class="bold heading-6">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange font-3">
                  Academics Head
                </div>
              </div>
            </div>
            <div class="t-align-c px-15 mb-25">
              <img
                src="https://i2.wp.com/digital-photography-school.com/wp-content/uploads/2011/07/outdoor-portraits-1.jpg?resize=2000%2C1160&ssl=1"
                class="big-photo">
              <div class="mt-sm-25 mt-15 d-sm-block d-none">
                <div class="bold heading-4">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange heading-6">
                  Academics Head
                </div>
              </div>
              <div class="mt-sm-25 mt-15 d-sm-none d-block">
                <div class="bold heading-6">
                  Kartik Mathur
                </div>
                <div class="mt-2 orange font-3">
                  Academics Head
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>