<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="row no-gutters align-items-center justify-content-center">
          <div class="col-6">
            <div class="heading-font stroke-font">
              WHY
            </div>
            <div class="heading-font">
              CODING BLOCKS
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_events.svg">
            <div class="heading-5 mt-50">
              <strong>Coding Blocks</strong> was founded in 2014 with a mission to create skilled software engineers for
              our country and the world.<br /><br />We aim to bridge the gap between the quality of skills demanded by
              industry and the quality of skills imparted by conventional institutes.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>