<div class="a-cbm">
  <div class="events-page-landing">
    <div class="card overflow-hidden p-none">
      <div class="position-relative bg-gradient-blue-light py-40 px-50 white">
        <div class="t-align-c heading-3 bold">
          Basic Data Structure and <br /> Algorithm using C++
        </div>
        <div class="mentor-badge">
          <div class="row no-gutters align-items-center">
            <div class="flex-1 bold pr-10">
              <div>Mentor</div>
              <div>Garima Chikkara</div>
            </div>
            <div class="s-50x50 round">
              <img src="https://minio.cb.lk/oneauth-assets/user27931_1585818284983.jpg">
            </div>
          </div>
        </div>
        <div class="s-120x120 round border b-white border-2 position-absolute" style="bottom: -60px; left: 5%;">
          <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
        </div>
      </div>
      <div class="py-60 pr-50" style="padding-left: calc(5% + 150px);">
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="col-5">
            <div class="row no-gutters align-items-center">
              <div class="col-6 mb-10">24 Live Interactive Classes</div>
              <div class="col-6 mb-10">5 Projects</div>
            </div>
            <div class="row no-gutters align-items-center">
              <div class="col-6 mb-10">250-300 hands on coding problems</div>
              <div class="col-6 mb-10">Classes Thrice a week</div>
            </div>
          </div>
          <div class="flex-1">
            <div class="row no-gutters align-items-center">
              <div class="flex-1 t-align-r v-align-ma">
                <span class="heading-5 bold mr-15">12999</span>
                <span class="heading-6 text-grey-light-1" style="text-decoration: line-through;">16999</span>
              </div>
              <button class="button-primary ml-30">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>