<div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section events-page-landing__section--first-section">
      <div class="all-center">
        <div class="t-align-c">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb-accelerate.svg">
          <div class="t-align-c heading-5 mt-25">
            Live Interactive Classes to help you accelerate towards your Dream Job!
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section events-page-landing__section--floating-section">
      <div class="floating-section">
        <div class="t-align-c mb-30 heading-5 bold">Courses</div>
        <div class="row">
          <div class="col-4">
            <div class="card bg-gradient-blue-light t-align-c white">
              <div class="round border border-2 b-white s-70x70 mx-auto">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="my-10 bold">
                Basic Data Structure and Algorithm using C++
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>