<div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section position-relative">
      <div class="all-center">
        <div class="t-align-c">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb-accelerate.svg">
          <div class="t-align-c heading-5 mt-25">
            Live Interactive Classes to help you accelerate towards your Dream Job!
          </div>
          <div class="bg-grey-light-3 br-5 mt-50 p-40 mx-auto" style="width: fit-content;">
            <div class="row no-gutters align-items-center">
              <div class="flex-1">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/trophy.svg">
                  <div class="flex-1 pl-30 t-align-l">
                    <div class="font-4">Get upto 95% OFF</div>
                    <div class="heading-4 bold">Scholarship Test</div>
                  </div>
                </div>
              </div>
              <button class="button-primary ml-50">
                Apply
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="course-icons">
        <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
      </div>
    </div>
  </div>
</div>