<div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section p-none"></div>
    <div class="events-page-landing__section">
      <div class="card overflow-hidden p-none mb-70">
        <div class="position-relative bg-gradient-blue-light py-40 px-50 white">
          <div class="t-align-c heading-3 bold">
            Basic Data Structure and <br /> Algorithm using C++
          </div>
          <div class="mentor-badge">
            <div class="row no-gutters align-items-center">
              <div class="flex-1 bold pr-10">
                <div>Mentor</div>
                <div>Garima Chikkara</div>
              </div>
              <div class="s-50x50 round">
                <img src="https://minio.cb.lk/oneauth-assets/user27931_1585818284983.jpg">
              </div>
            </div>
          </div>
          <div class="s-120x120 round border b-white border-2 position-absolute" style="bottom: -60px; left: 5%;">
            <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
          </div>
        </div>
        <div class="py-60 pr-50" style="padding-left: calc(5% + 150px);">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="col-5">
              <div class="row no-gutters align-items-center">
                <div class="col-6 mb-10">24 Live Interactive Classes</div>
                <div class="col-6 mb-10">5 Projects</div>
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-6 mb-10">250-300 hands on coding problems</div>
                <div class="col-6 mb-10">Classes Thrice a week</div>
              </div>
            </div>
            <div class="flex-1">
              <div class="row no-gutters align-items-center">
                <div class="flex-1 t-align-r v-align-ma">
                  <span class="heading-5 bold mr-15">12999</span>
                  <span class="heading-6 text-grey-light-1" style="text-decoration: line-through;">16999</span>
                </div>
                <button class="button-primary ml-30">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7">
          <div class="card mb-40">
            <div class="heading-4 bold mb-20">
              Why Choose CB Accelerate
            </div>
            <div class="font-5 bold">
              50+ Lectures at Coding BLocks Foundation Courses <br />
              Weekly Live Doubt Sessions <br />
              Question Discussion specific classes <br />
              Interactive Live Sessions <br />
              300+ Questions During Session
            </div>
          </div>
          <div class="card mb-40">
            {{!-- Summary goes here --}}
          </div>
          <div class="card" style="background: #f2f2f2;">
            <div class="font-md bold mb-30">About Mentors</div>
            <div class="row no-gutters instructor-row">
              <img src="https://minio.codingblocks.com/amoeba/ebd9bd9b-5cfc-45da-bee2-1b4b95dbe5d9"
                class="s-50x50 round">
              <div class="ml-3 flex-1">
                <div class="font-mds bold">Prateek Narang</div>
                <a href="mailto:prateek@codingblocks.com" class="grey mb-2">prateek@codingblocks.com</a>
                <div class="t-align-j">
                  <div class="markdown-body">
                    <p>Currently doing his Masters in Machine Learning from IIT Delhi, Prateek is an ace programmer who
                      has worked with SanDisk and HackerEarth in the past. He has also won prestigious hackathons
                      including Google’s Code For India and Smart City Hackathon. A Computer Science Graduate from DTU,
                      he
                      is highly popular among students for his teaching methods. His interactive CV (<a
                        href="http://www.prateeknarang.com">www.prateeknarang.com</a>) is also well known in 120+
                      countries.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row no-gutters instructor-row">
              <img src="https://minio.codingblocks.com/amoeba/7196aedf-f3f5-4617-8e38-1390bf53cc48"
                class="s-50x50 round">
              <div class="ml-3 flex-1">
                <div class="font-mds bold">Jatin Katyal</div>
                <a data-v-99c3264e="" href="mailto:jk@cb.lk" class="grey mb-2">jk@cb.lk</a>
                <div class="t-align-j">
                  <div class="markdown-body">
                    <p>Jatin is a full-stack web developer and has worked with various start-ups in the field of HCI and
                      IoT. He has won more than 10 hackathons including Microsoft campus Hack, TATA Crucible Hackathon,
                      and Angel Hack. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card">
            <div class="font-5 bold mb-40 t-align-c">Projects</div>
            <div class="row c-card-carousel">
              <div class="col-10">
                <div class="card bg-orange" style="height: 150px;"></div>
                <div class="mt-30 t-align-c font-4">Sudoku Maker</div>
              </div>
              <div class="col-10">
                <div class="card bg-orange" style="height: 150px;"></div>
                <div class="mt-30 t-align-c font-4">Sudoku Maker</div>
              </div>
              <div class="col-10">
                <div class="card bg-orange" style="height: 150px;"></div>
                <div class="mt-30 t-align-c font-4">Sudoku Maker</div>
              </div>
              <div class="col-10">
                <div class="card bg-orange" style="height: 150px;"></div>
                <div class="mt-30 t-align-c font-4">Sudoku Maker</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="events-page-landing__section">
      <div class="row">
        <div class="col-md-4 col-12">
          <div class="heading-5 bold mb-10">Yash got placed at</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/2000px-Amazon_logo_plain+1.png">
          <div class="my-30 font-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce amet non purus accumsan porttitor justo,
            iaculis viverra. Quam ultrices sodales mauris ac. Felis nunc et, diam mattis sit senectus. Hendrerit viverra
            porta diam aliquam. Non dui nec, arcu feugiat felis, arcu. Mattis habitant curabitur natoque dignissim
            integer cursus. Id sit suspendisse odio enim sodales mollis. Enim lacinia in in quis orci.
          </div>
          <div class="heading-6 bold">
            Yash Vardhan
          </div>
        </div>
      </div>
    </div>
  </div>
</div>