<div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section events-page-landing__section--first-section">
      <div class="all-center">
        <div class="t-align-c">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb-accelerate-big.svg">
          <div class="t-align-c heading-5 mt-25">
            Live Interactive Classes to help you accelerate towards your Dream Job!
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section events-page-landing__section--floating-section">
      <div class="floating-section">
        <div class="t-align-c mb-30 heading-5 bold">Courses</div>
        <div class="row">
          <div class="col-4 mb-50">
            <div class="card bg-gradient-blue-light t-align-c white">
              <div class="round border border-2 b-white s-70x70 mx-auto">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="my-10 bold">
                Basic Data Structure and Algorithm using C++
              </div>
              <div class="p-10 d-inline-block br-50" style="background-color: rgba(255, 255, 255, 0.2);">
                Mentor - Garima Chikkara
              </div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="bold mb-15">24 Live Interactive Classes</div>
              <div class="bold mb-15">200 - 300 hands on coding problems</div>
              <div class="bold mb-15">5 Projects</div>
              <div class="bold">Classes thrice a week</div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="row no-gutters align-items-center justify-content-between">
                <div class="flex-1">
                  <div class="row no-gutters align-items-center">
                    <div class="heading-6 bold mr-10">
                      12999
                    </div>
                    <div class="font-5 grey-light-1 bold" style="text-decoration: line-through;">16999</div>
                  </div>
                </div>
                <button class="button-primary bg-white black border-none">Explore More</button>
              </div>
            </div>
          </div>
          <div class="col-4 mb-50">
            <div class="card bg-gradient-blue-light t-align-c white">
              <div class="round border border-2 b-white s-70x70 mx-auto">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="my-10 bold">
                Basic Data Structure and Algorithm using C++
              </div>
              <div class="p-10 d-inline-block br-50" style="background-color: rgba(255, 255, 255, 0.2);">
                Mentor - Garima Chikkara
              </div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="bold mb-15">24 Live Interactive Classes</div>
              <div class="bold mb-15">200 - 300 hands on coding problems</div>
              <div class="bold mb-15">5 Projects</div>
              <div class="bold">Classes thrice a week</div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="row no-gutters align-items-center justify-content-between">
                <div class="flex-1">
                  <div class="row no-gutters align-items-center">
                    <div class="heading-6 bold mr-10">
                      12999
                    </div>
                    <div class="font-5 grey-light-1 bold" style="text-decoration: line-through;">16999</div>
                  </div>
                </div>
                <button class="button-primary bg-white black border-none">Explore More</button>
              </div>
            </div>
          </div>
          <div class="col-4 mb-50">
            <div class="card bg-gradient-blue-light t-align-c white">
              <div class="round border border-2 b-white s-70x70 mx-auto">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="my-10 bold">
                Basic Data Structure and Algorithm using C++
              </div>
              <div class="p-10 d-inline-block br-50" style="background-color: rgba(255, 255, 255, 0.2);">
                Mentor - Garima Chikkara
              </div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="bold mb-15">24 Live Interactive Classes</div>
              <div class="bold mb-15">200 - 300 hands on coding problems</div>
              <div class="bold mb-15">5 Projects</div>
              <div class="bold">Classes thrice a week</div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="row no-gutters align-items-center justify-content-between">
                <div class="flex-1">
                  <div class="row no-gutters align-items-center">
                    <div class="heading-6 bold mr-10">
                      12999
                    </div>
                    <div class="font-5 grey-light-1 bold" style="text-decoration: line-through;">16999</div>
                  </div>
                </div>
                <button class="button-primary bg-white black border-none">Explore More</button>
              </div>
            </div>
          </div>
          <div class="col-4 mb-50">
            <div class="card bg-gradient-blue-light t-align-c white">
              <div class="round border border-2 b-white s-70x70 mx-auto">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="my-10 bold">
                Basic Data Structure and Algorithm using C++
              </div>
              <div class="p-10 d-inline-block br-50" style="background-color: rgba(255, 255, 255, 0.2);">
                Mentor - Garima Chikkara
              </div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="bold mb-15">24 Live Interactive Classes</div>
              <div class="bold mb-15">200 - 300 hands on coding problems</div>
              <div class="bold mb-15">5 Projects</div>
              <div class="bold">Classes thrice a week</div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="row no-gutters align-items-center justify-content-between">
                <div class="flex-1">
                  <div class="row no-gutters align-items-center">
                    <div class="heading-6 bold mr-10">
                      12999
                    </div>
                    <div class="font-5 grey-light-1 bold" style="text-decoration: line-through;">16999</div>
                  </div>
                </div>
                <button class="button-primary bg-white black border-none">Explore More</button>
              </div>
            </div>
          </div>
          <div class="col-4 mb-50">
            <div class="card bg-gradient-blue-light t-align-c white">
              <div class="round border border-2 b-white s-70x70 mx-auto">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="my-10 bold">
                Basic Data Structure and Algorithm using C++
              </div>
              <div class="p-10 d-inline-block br-50" style="background-color: rgba(255, 255, 255, 0.2);">
                Mentor - Garima Chikkara
              </div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="bold mb-15">24 Live Interactive Classes</div>
              <div class="bold mb-15">200 - 300 hands on coding problems</div>
              <div class="bold mb-15">5 Projects</div>
              <div class="bold">Classes thrice a week</div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="row no-gutters align-items-center justify-content-between">
                <div class="flex-1">
                  <div class="row no-gutters align-items-center">
                    <div class="heading-6 bold mr-10">
                      12999
                    </div>
                    <div class="font-5 grey-light-1 bold" style="text-decoration: line-through;">16999</div>
                  </div>
                </div>
                <button class="button-primary bg-white black border-none">Explore More</button>
              </div>
            </div>
          </div>
          <div class="col-4 mb-50">
            <div class="card bg-gradient-blue-light t-align-c white">
              <div class="round border border-2 b-white s-70x70 mx-auto">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="my-10 bold">
                Basic Data Structure and Algorithm using C++
              </div>
              <div class="p-10 d-inline-block br-50" style="background-color: rgba(255, 255, 255, 0.2);">
                Mentor - Garima Chikkara
              </div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="bold mb-15">24 Live Interactive Classes</div>
              <div class="bold mb-15">200 - 300 hands on coding problems</div>
              <div class="bold mb-15">5 Projects</div>
              <div class="bold">Classes thrice a week</div>
              <div class="divider-h bg-white my-20" style="opacity: 0.2;"></div>
              <div class="row no-gutters align-items-center justify-content-between">
                <div class="flex-1">
                  <div class="row no-gutters align-items-center">
                    <div class="heading-6 bold mr-10">
                      12999
                    </div>
                    <div class="font-5 grey-light-1 bold" style="text-decoration: line-through;">16999</div>
                  </div>
                </div>
                <button class="button-primary bg-white black border-none">Explore More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section" style="background-color: #ffc41b;">
      <div class="row">
        <div class="col-5 t-align-c">
          <div class="heading-5 bold">WHY CHOOSE</div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accelerate-small.svg" class="mb-30">
        </div>
      </div>
    </div>
  </div>
</div>