<div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section events-page-landing__section--first-section">
      <div class="all-center">
        <div class="t-align-c">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb-accelerate.svg" >
          <div class="t-align-c heading-5 mt-25">
            Live Interactive Classes to help you accelerate towards your Dream Job!
          </div>
        </div>
      </div>
    </div>
    <div class="events-page-landing__section">
      <div style="margin-top: calc()">

      </div>
    </div>
  </div>
</div>