<div class="a-cbm">
  <div class="bg-black p-100">
    <h3 class="white mb-25">Primary Button States</h3>
    <button class="button-primary">Primary Button</button>
    <button class="button-primary disabled">Primary Button</button>

    <h3 class="white mt-50 mb-25">Secondary Button States</h3>
    <button class="button-secondary">Secondary Button</button>
    <button class="button-secondary disabled">Secondary Button</button>

    <h3 class="white mt-50 mb-25">Secondary Button States</h3>
    <button class="button-tertiary">Tertiary Button</button>
    <button class="button-tertiary disabled">Tertiary Button</button>
  </div>

  <div class="wakanda row no-gutters align-items-center justify-content-center">
    <button class="pagination-button-prev">Prev</button>
    <button class="pagination-button-next">Next</button>
  </div>
</div>