<div class="a-cbm p-5" style="background: #08090C;">
  <h2 class="white mb-4">Primary Button States</h2>
  <button class="button-primary">Primary Button</button>
  <button class="button-primary disabled">Primary Button</button>

  <h2 class="white mt-5 mb-4">Secondary Button States</h2>
  <button class="button-secondary">Secondary Button</button>
  <button class="button-secondary disabled">Secondary Button</button>

    <h2 class="white mt-5 mb-4">Secondary Button States</h2>
  <button class="button-tertiary">Tertiary Button</button>
  <button class="button-tertiary disabled">Tertiary Button</button>
</div>