<div class="a-cbm">
  <div class="p-50">
    <div class="row">
      <div class="col-4">
        <div class="card card--dark">
          <div class="card__header card__header--border-highlight">
            <div class="flex-1">
              <div class="heading-6">WORKSHOP</div>
            </div>
            <div class="t-align-c">
              <div class="heading-4 bold">12</div>
              <div class="font-4">MAR</div>
            </div>
          </div>
          <div class="card__footer card__footer--border-highlight">
            <div class="font-4">8:00 PM Onwards</div>
            <div class="button-tertiary">
              Register Now
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>