<div class="a-cbm">
  <div class="events-page-landing">
    <section>
      <picture>
        <img src="images/cast-apat.svg" alt="">
      </picture>
    </section>
    <section>
    <div class="row p-50 ">
      <div class="col-md-6 col-12 p-20 pr-40" style="border-right: 1px solid #e3e3e3;">
        <div class="row">
          <div class="col-12">
            <div class="row align-items-center pb-30">
              <div class="col-md-4">
                <h1 style="font-weight: 700;">
                  CAST
                </h1>
              </div>
              <div class="col-md-6 pl-25" style="border-left: 1px solid #e3e3e3;">
                Coders admission and scholarship test
              </div>
            </div>
            <div class="row pb-40">
              <div class="col-md-5 d-flex align-items-center "><img src="images/vector-person.svg"><span class="pl-2">
                  For beginners</span></div>
              <div class="col-md-3 d-flex align-items-center "><img src="images/vector-date.svg"><span class="pl-2">
                  Date</span></div>
              <div class="col-md-4 d-flex align-items-center "><img src="images/vector-time.svg"><span class="pl-2">
                  Time</span></div>
            </div>
            <div class="row m-0 pb-30">
              <div class="col-12" style="border-bottom: 1px solid #e3e3e3;"></div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="med-grey pb-2">Syllabus</div>
                <div class="pb-25">
                  <strong>Aptitude and logical Reasoning</strong>
                </div>
                <div class="normal grey pb-25">scholarship available for courses</div>
              </div>
              <div class="col-12 pb-60">
                <div class="pill normal mb-2 mr-3"> Python App Dev </div>
                <div class="pill normal mb-2 mr-3"> Crux(java) </div>
                <div class="pill normal mb-2 mr-3"> Launchpad c++ </div>
                <div class="pill normal mb-2 mr-3"> interview prep c++ </div>
                <div class="pill normal mb-2 mr-3"> interview prep java </div>
                <div class="pill normal mb-2 mr-3"> Live courses </div>
                <div class="pill normal mb-2 mr-3"> Industrial training java </div>
              </div>
            </div>

          </div>
        </div>
        <button type="button" class="button-primary">Register For Cast</button>
      </div>
      <div class="col-md-6 col-12  p-20 pl-40">
        <div class="row">
          <div class="col-12">
            <div class="row align-items-center pb-30">
              <div class="col-md-4">
                <h1 style="font-weight: 700;">
                  APAT
                </h1>
              </div>
              <div class="col-md-6 pl-25" style="border-left: 1px solid #e3e3e3;">
                Coders admission and scholarship test
              </div>
            </div>
            <div class="row pb-40">
              <div class="col-md-5 d-flex align-items-center "><img src="images/vector-person.svg"><span class="pl-2">
                  For beginners</span></div>
              <div class="col-md-3 d-flex align-items-center "><img src="images/vector-date.svg"><span class="pl-2">
                  Date</span></div>
              <div class="col-md-4 d-flex align-items-center "><img src="images/vector-time.svg"><span class="pl-2">
                  Time</span></div>
            </div>
            <div class="row m-0 pb-30">
              <div class="col-12" style="border-bottom: 1px solid #e3e3e3;"></div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class=" normal  pb-2">Syllabus</div>
                <div class="pb-25">
                  <strong>Aptitude and logical Reasoning</strong>
                </div>
                <div class="normal grey pb-25">scholarship available for courses</div>
              </div>
              <div class="col-12 pb-60">
                <div class="pill normal mb-2 mr-3"> Python App Dev </div>
                <div class="pill normal mb-2 mr-3"> Crux(java) </div>
                <div class="pill normal mb-2 mr-3"> Launchpad c++ </div>
                <div class="pill normal mb-2 mr-3"> interview prep c++ </div>
                <div class="pill normal mb-2 mr-3"> interview prep java </div>
                <div class="pill normal mb-2 mr-3"> Live courses </div>
                <div class="pill normal mb-2 mr-3"> Industrial training java </div>
              </div>
            </div>

          </div>
        </div>
        <button type="button" class="button-primary">Register For Cast</button>
      </div>
    </div>
  </div>
</div>