<div class="a-cbm">
  <div class="classroom-courses-page">
    <div style="background: #007DFE;" class="py-75">
      <div class="container">
        <div class="row no-gutters align-items-center justify-content-between">

        </div>
      </div>
    </div>
  </div>
</div>