<div class="a-cbm">
  <div class="classroom-courses-page">
    <div style="background: #007DFE;" class="py-75 white">
      <div class="container">
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="col-8">
            <div class="heading-3 mb-20">Much Awaited</div>
            <div class="bold mb-20" style="font-size: 4rem;">Classroom Courses are back</div>
            <div class="font-5 bold v-align-ma mb-20">Noida</div>
            <button class="button-primary button-primary--white mb-20">Enroll Now</button>
            <div class="font-4">
              Only limited seats as a precautionary measure
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/classroom-vector.svg">
        </div>
      </div>
    </div>
    <div class="container py-75">
      <div class="heading-3 bold t-align-c mb-30">Courses</div>
      <div class="row">
        <div class="col-4">
          <div class="card card--theme-orange t-align-c">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/classroom-ml.svg" class="mb-25">
            <div class="heading-6 bold mb-10">Data Science Classroom Program</div>
            <div class="mb-20 font-1">
              This course will revolve around the concepts of Python, Machine Learning, Data Cleaning and Data Analysis.
            </div>
            <div class="round s-40x40 mb-10 mx-auto">
              <img src="https://minio.codingblocks.com/amoeba/jatin-min.webp">
            </div>
            <div class="font-1 mb-20">
              Mentor <br />
              <strong>Manu S Pilai</strong>
            </div>
            <div class="mb-10">
              Starting on 
              <strong>27th Jan</strong>
            </div>
            <div class="font-1 highlight-text mb-20">Weekend Batch</div>
            <button class="button-primary mb-10">Enroll Now</button>
            <a href="#" class="highlight-text d-block">View Syllabus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>