<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="flex-1 t-align-sm-l t-align-c">
            <div class="mini-banner position-relative br-5 mb-30" style="width: fit-content;">
              <div class="bg-purple br-5 all-center p-20 mt-30">
                <div class="font-4 white">
                  <strong class="heading-6">75% OFF </strong>
                  on all online courses
                </div>
              </div>
              <div class="mini-banner__tag">
                <div class="font-2">Offer valid till 30th Jan</div>
              </div>
            </div>
            <div class="heading-font stroke-font">
              LEARN ANYTIME
            </div>
            <div class="heading-font">
              LEARN ANYWHERE
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_events.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>