<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="row no-gutters align-items-center justify-content-between">
          <div class="col-lg-6 t-align-lg-l t-align-c">
            <div class="mini-banner position-relative br-5 mb-30 mx-auto" style="width: fit-content;">
              <div class="bg-purple br-5 all-center p-20 mt-30">
                <div class="font-4 white">
                  <strong class="heading-6">75% OFF </strong>
                  on all online courses
                </div>
              </div>
              <div class="mini-banner__tag">
                <div class="font-2">Offer valid till 30th Jan</div>
              </div>
            </div>
            <div class="heading-font stroke-font">
              LEARN ANYTIME
            </div>
            <div class="heading-font">
              LEARN ANYWHERE
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_events.svg">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/light-theme-vector.svg"
              class="d-lg-none d-block mt-50 mx-auto">
            <div class="mt-50 row no-gutters justify-content-lg-start justify-content-center">
              <div class="card p-0" style="width: fit-content;">
                <div
                  class="row no-gutters align-items-center justify-content-between py-15 px-30 pointer border-bottom">
                  <div class="font-4 pr-100">Popular Courses</div>
                  <div class="font-4">&#x3009;</div>
                </div>
                <div
                  class="row no-gutters align-items-center justify-content-between py-15 px-30 pointer border-bottom">
                  <div class="font-4 pr-100">Foundation Courses</div>
                  <div class="font-4">&#x3009;</div>
                </div>
                <div class="row no-gutters align-items-center justify-content-between py-15 px-30 pointer">
                  <div class="font-4 pr-100">Learning Tracks</div>
                  <div class="font-4">&#x3009;</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 d-lg-block d-none">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/light-theme-vector.svg">
          </div>
        </div>

        <div class="card p-sm-50 p-30 bg-grey-light-3 mt-sm-75 mt-50 pb-none">
          <div class="row no-gutters align-items-center justify-content-between pb-sm-50 pb-30">
            <div class="heading-4 bold flex-1">Confused about which course to pick?</div>
            <button class="button-secondary">
              Seek Help
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
            </button>
          </div>
          <div class="py-sm-50 py-30" style="border-top: solid 1px #dddddd;">
            <div class="">
              <div class="row">
                <div class="col-lg-3 flex-col justify-content-between h-inherit">
                  <div class="heading-5 bold mb-50 w-100">I am a ...</div>
                  <div class="row">
                    <div class="col-lg-12 col-md-3 col-6 h-inherit mb-lg-40 pb-md-none pb-40">
                      <div class="h-100 option-div option-div--rect selected">
                        <div class="font-5 bold flex-1 pr-2">High School Student</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-3 col-6 h-inherit mb-lg-40 pb-md-none pb-40">
                      <div class="h-100 option-div option-div--rect">
                        <div class="font-5 bold flex-1 pr-2">College Fresher</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-3 col-6 h-inherit mb-lg-40">
                      <div class="h-100 option-div option-div--rect">
                        <div class="font-5 bold flex-1 pr-2">Recent Graduate</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-lg-12 col-md-3 col-6 h-inherit">
                      <div class="h-100 option-div option-div--rect">
                        <div class="font-5 bold flex-1 pr-2">Working Professional</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9 flex-col justify-content-between h-inherit mt-lg-none mt-50">
                  <div class="row justify-content-between mb-50 no-gutters w-100">
                    <div class="heading-5 bold col-md-7 col-12 mb-sm-none mb-20">... & I want to become a</div>
                    <button class="button-primary d-md-block d-none">
                      Show me results
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
                    </button>
                  </div>
                  <div class="row">
                    <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                      <div class="option-div option-div--square selected h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/ai-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Data Scientist</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                      <div class="option-div option-div--square h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/node-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Full Stack Developer</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                      <div class="option-div option-div--square h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/android-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Android Developer</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                      <div class="option-div option-div--square h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/java-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Software Developer</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6 h-inherit pb-md-none pb-40">
                      <div class="option-div option-div--square h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cpp-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Software Developer</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6 h-inherit pb-md-none pb-40">
                      <div class="option-div option-div--square h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Frontend Developer</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6 h-inherit">
                      <div class="option-div option-div--square h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/competitive-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Competitive Programmer</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-6 h-inherit">
                      <div class="option-div option-div--square h-100">
                        <div>
                          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python-grey.svg">
                        </div>
                        <div class="font-5 bold mt-4 t-align-c">Python Developer</div>
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                          class="option-div__icon">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 d-md-none d-block mt-40">
                  <button class="button-primary">
                    Show me results
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
                  </button>
                </div>
              </div>
            </div>
            <div class="heading-6 bold my-sm-50 my-30 t-align-c">OR</div>
            <div class="card bg-white">
              <div class="row no-gutters justify-content-between align-items-center side-tag">
                <div class="flex-1 pr-25">
                  <div class="heading-5">CONTACT OUT TECH EXPERTS FOR</div>
                  <div class="text-orange heading-2 bold mt-1">FREE COUNSELLING SESSION</div>
                </div>
                <div class="col-md-4 t-align-md-r t-align-l mt-md-none mt-40">
                  <button class="button-secondary">
                    Schedule a Session
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-sm-75 mt-50">
          <div class="heading-4 bold">
            Trending
          </div>
          <div class="mt-10 text-grey font-4">
            Learn and grow as a developer with our project based courses.
          </div>

          <div class="mt-50">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-5 col-sm-6 mb-50">
                <div class="card card--equal-height card--course theme-pink">
                  <div class="card__header card__header--border-highlight">
                    <div class="flex-1">
                      <div class="s-90x90 br-5 p-15 all-center position-relative card--course__logo theme-background">
                        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js_white.svg">
                        <div class="card--course__logo__tag">Beginner</div>
                      </div>
                    </div>
                    <div class="t-align-r">
                      <div class="font-2">Starting from</div>
                      <div class="heading-4 bold">&#8377; 9499</div>
                      <del class="font-4 text-grey-light-1">&#8377; 12999</del>
                    </div>
                  </div>
                  <div>
                    <div class="heading-5 theme-text bold mb-10">CODEWARS</div>
                    <div class="row no-gutters align-items-center">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                        class="mr-xl-10 mr-1">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                        class="mr-xl-10 mr-1">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                        class="mr-xl-10 mr-1">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg"
                        class="mr-xl-10 mr-1">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_unfilled.svg"
                        class="mr-xl-10 mr-1">
                      <div class="font-3 text-grey ml-xl-10 ml-2 flex-1">
                        <strong>4.15/5,</strong>&nbsp;65 ratings
                      </div>
                    </div>
                  </div>
                  <div class="mt-50">
                    <div class="row no-gutters">
                      <div>
                        <div>NEXT BATCH</div>
                        <div class="font-5 bold mt-2">12th Feb, Monday</div>
                      </div>
                    </div>
                  </div>
                  <div class="card__footer card__footer--border-highlight">
                    <div class="flex-1 pr-15">
                      <div class="font-4">
                        <strong class="theme-text">1175+ </strong>
                        Students Enrolled
                      </div>
                    </div>
                    <button class="button-tertiary">
                      Explore
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>