<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section bg-grey-light-3">
      <div class="width-limiter">
        <div class="row align-items-center">
          <div class="col-6">
            <img
              src="https://i-invdn-com.akamaized.net/akapi-images/800x450/89699ff8b0f2d7706e5ff7b9cea439e9_w_800_h_450.jpg"
              class="w-90">
          </div>
          <div class="col-6">
            <div class="heading-6 mb-15">WORKSHOP</div>
            <div class="heading-1 mb-10">Machine Learning</div>
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/orange-disc.svg">
              <div class="heading-5 orange bold flex-1 pl-15">Registration Closes on 20th July</div>
            </div>
            <div class="my-50">
              <div class="row no-gutters align-items-center mb-40">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/date_small.svg">
                <div class="flex-1 heading-5 pl-30">25th July 2020</div>
              </div>
              <div class="row no-gutters align-items-center mb-40">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/time_small.svg">
                <div class="flex-1 heading-5 pl-30">8:00 PM Onwards</div>
              </div>
              <div class="row no-gutters align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/venue_small.svg">
                <div class="flex-1 heading-5 pl-30">Hackerblocks</div>
              </div>
            </div>
            <div class="row no-gutters align-items-center">
              <button class="button-primary">Register Now</button>
              <div class="flex-1 pl-40">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/users_small.svg">
                  <div class="flex-1 pl-15 heading-6">245 Registered</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>