<div class="a-cbm">
  <div class="events-page-landing">
    <div class="events-page-landing__section">
      <div class="row no-gutters justify-content-between align-items-center">
        <div class="col-5">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cb-accelerate.svg">
          <div class="heading-2 bold my-5">
            Accelerate towards your Dream!
          </div>
          <button class="button-primary">
            Get Started
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-blue.svg" class="ml-2">
          </button>
          <div class="font-4 bold mt-4">Limited seats per Batch</div>
        </div>
        <div class="col-7 d-flex justify-content-end">
          <div>
            <div class="row no-gutters pb-4 mb-4" style="border-bottom: solid 1px #DFDFDF;">
              <div class="round border b-white border-2 s-70x70 mr-4">
                <img src="https://minio.codingblocks.com/amoeba/e5171581-41d8-46f5-97bf-c47db8214f22.png">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4">
                <img src="https://minio.codingblocks.com/amoeba/c794f2a2-6198-4078-979a-e10ad8ca8bfb.svg">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4">
                <img src="https://minio.codingblocks.com/amoeba/ec081d05-c8a2-4095-8ba6-3ffa5a02ddf5.svg">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4">
                <img src="https://minio.codingblocks.com/amoeba/e2c13faa-f538-48d4-8ca1-88728a07c51a.svg">
              </div>
              <div class="round border b-white border-2 s-70x70 mr-4">
                <img src="https://minio.codingblocks.com/amoeba/587ae53b-6f4e-4afb-a2c5-b328a4dfbdf1.svg">
              </div>
              <div class="round border b-white border-2 s-70x70">
                <img src="https://minio.codingblocks.com/amoeba/829a1a87-eafe-48ba-8d7f-4756a5edd19d.svg">
              </div>
            </div>
            <div class="font-5 extra-bold t-align-r">Accelerated Growth</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>