<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section bg-grey-light-3">
      <div class="width-limiter">
        <div class="row align-items-center">
          <div class="col-6 d-md-block d-none">
            <img
              src="https://i-invdn-com.akamaized.net/akapi-images/800x450/89699ff8b0f2d7706e5ff7b9cea439e9_w_800_h_450.jpg"
              class="w-90">
          </div>
          <div class="col-md-6">
            <div class="heading-6 mb-15">WORKSHOP</div>
            <div class="heading-1 mb-10">Machine Learning</div>
            <div class="row no-gutters align-items-center">
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/orange-disc.svg">
              <div class="heading-5 orange bold flex-1 pl-15">Registration Closes on 20th July</div>
            </div>
            <img
              src="https://i-invdn-com.akamaized.net/akapi-images/800x450/89699ff8b0f2d7706e5ff7b9cea439e9_w_800_h_450.jpg"
              class="d-md-none d-block my-30">
            <div class="my-md-50 my-30">
              <div class="row no-gutters align-items-center mb-md-40 mb-20">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/date_small.svg">
                <div class="flex-1 heading-5 pl-30">25th July 2020</div>
              </div>
              <div class="row no-gutters align-items-center mb-md-40 mb-20">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/time_small.svg">
                <div class="flex-1 heading-5 pl-30">8:00 PM Onwards</div>
              </div>
              <div class="row no-gutters align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/venue_small.svg">
                <div class="flex-1 heading-5 pl-30">Hackerblocks</div>
              </div>
            </div>
            <div class="row no-gutters align-items-center">
              <button class="button-primary">Register Now</button>
              <div class="flex-1 pl-40">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/users_small.svg">
                  <div class="flex-1 pl-15 heading-6">245 Registered</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page__section bg-white">
      <div class="row">
        <div class="col-md-6 mb-md-none mb-40">
          <div class="heading-4 mb-md-50 mb-30 bold">
            About the Workshop
          </div>
          <div class="font-4">
            Machine learning is the science of getting computers to act without being explicitly programmed. In the past
            decade, machine learning has given us self-driving cars, practical speech recognition, effective web search,
            and very vastly improved understanding of the human genome. Machine learning is so pervasive today that you
            probably use it dozens of times a day without knowing it. Many researchers also think it is the best way to
            make progress towards human-level AI. In this class, you will learn about the most effective machine
            learning techniques, and gain practice implementing them and...more
          </div>
        </div>
      </div>
    </div>
  </div>
</div>