<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="faq-element-container">
          <div class="faq-question row no-gutters align-items-center justify-content-between p-20">
            <div class="font-4 bold flex-1">This is a question</div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/plus.svg">
          </div>
          <div class="faq-answer p-20">
            Coding Blocks was founded in 2014 with a mission to create skilled software engineers for our country and the world.   
            We aim to bridge the gap between the quality of skills demanded by industry and the quality of skills. Read more...
            Coding Blocks was founded in 2014 with a mission to create skilled software engineers for our country and the world.   
            We aim to bridge the gap between the quality of skills demanded by industry and the quality of skills. Read more...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>