<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="row align-items-center">
          <div class="col-lg-8 col-md-9 mb-md-none mb-40">
            <div class="row no-gutters align-items-center">
              <div class="card bg-gradient-pink all-center d-md-flex d-none" style="height: 250px; width: 250px;">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js_white.svg">
              </div>
              <div class="flex-1 pl-lg-50 pl-md-30 t-align-md-l t-align-c">
                <div class="card bg-gradient-pink all-center d-md-none d-flex mx-auto mb-30 s-150x150">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js_white.svg">
                </div>
                <div class="br-5 d-inline-block p-2 bg-gradient-orange-light mb-15 font-2 white">
                  Beginner
                </div>
                <div class="heading-3 mb-20 bold">Web Development</div>
                <div class="font-4 mb-20">
                  Our Web Frontend online course is for anybody who has basic knowledge of fundamentals of programming,
                  either in C++ or Java. The course classes would be conducted by our Industry-expert mentor, Arnav
                  bhaiya.
                </div>
                <div class="row no-gutters justify-content-md-start justify-content-center">
                  <div class="mr-30">
                    <div class="font-2">Course Language</div>
                    <div class="font-4 bold mt-1">English, Hindi</div>
                  </div>
                  <div>
                    <div class="font-2">Course Duration</div>
                    <div class="font-4 bold mt-1">6 Months</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-3">
            {{!-- youtube video here --}}
          </div>
        </div>
      </div>
    </div>

    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="t-align-sm-l t-align-c">
          <div class="heading-4 bold mb-10">Course Insights</div>
          <div class="font-4 text-grey">
            Learn and grow as a developer with our project based courses.
          </div>
        </div>
        <div class="row mt-50">
          <div class="col-8">
            <div class="card p-none mb-50">
              <div class="row no-gutters align-items-center p-30 border-bottom">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/syllabus-grey-orange.svg">
                <div class="flex-1 pl-15">
                  <div class="heading-6 bold">Course Syllabus</div>
                </div>
              </div>
              <div class="px-40 overflow-y-auto gradient-orange-scroll" style="max-height: 500px;">
                <div style="border-left: solid 2px #f5f5f5;">
                  <div class="accordion-container">
                    <div class="p-30 accordion-container__accordion-head">
                      {{!-- <div class="accordion-indicator">•</div> --}}
                      <div class="row no-gutters align-items-center justify-content-between">
                        <div class="flex-1">
                          <div class="font-4 bold">Network Hardware Systems</div>
                          <div class="font-2 text-grey mt-10">15 Items | Duration : 60 minutes</div>
                        </div>
                        <img src="https://minio.codingblocks.com/amoeba/accordion-up.svg"
                          style="transform: rotate(180deg);">
                      </div>
                    </div>
                    <div class="accordion-container__accordion-body px-30 pb-10">
                      <div class="font-2 mb-20">Some Title</div>
                      <div class="font-2 mb-20">Some Title</div>
                      <div class="font-2 mb-20">Some Title</div>
                    </div>
                  </div>
                  <div class="divider-h content-divider px-30 bg-grey-light-3"></div>

                  <div class="accordion-container">
                    <div class="p-30 accordion-container__accordion-head">
                      {{!-- <div class="accordion-indicator">•</div> --}}
                      <div class="row no-gutters align-items-center justify-content-between">
                        <div class="flex-1">
                          <div class="font-4 bold">Network Hardware Systems</div>
                          <div class="font-2 text-grey mt-10">15 Items | Duration : 60 minutes</div>
                        </div>
                        <img src="https://minio.codingblocks.com/amoeba/accordion-up.svg"
                          style="transform: rotate(180deg);">
                      </div>
                    </div>
                    <div class="accordion-container__accordion-body px-30 pb-10">
                      <div class="font-2 mb-20">Some Title</div>
                      <div class="font-2 mb-20">Some Title</div>
                      <div class="font-2 mb-20">Some Title</div>
                    </div>
                  </div>
                  <div class="divider-h content-divider px-30 bg-grey-light-3"></div>

                  <div class="accordion-container">
                    <div class="p-30 accordion-container__accordion-head">
                      {{!-- <div class="accordion-indicator">•</div> --}}
                      <div class="row no-gutters align-items-center justify-content-between">
                        <div class="flex-1">
                          <div class="font-4 bold">Network Hardware Systems</div>
                          <div class="font-2 text-grey mt-10">15 Items | Duration : 60 minutes</div>
                        </div>
                        <img src="https://minio.codingblocks.com/amoeba/accordion-up.svg"
                          style="transform: rotate(180deg);">
                      </div>
                    </div>
                    <div class="accordion-container__accordion-body px-30 pb-10">
                      <div class="font-2 mb-20">Some Title</div>
                      <div class="font-2 mb-20">Some Title</div>
                      <div class="font-2 mb-20">Some Title</div>
                    </div>
                  </div>
                  <div class="divider-h content-divider px-30 bg-grey-light-3"></div>
                </div>
              </div>
            </div>

            <div class="card p-none">
              <div class="row no-gutters align-items-center p-30 border-bottom">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/projects-grey-orange.svg">
                <div class="flex-1 pl-15">
                  <div class="heading-6 bold">Projects</div>
                </div>
              </div>
              <div class="px-40 overflow-y-auto gradient-orange-scroll" style="max-height: 500px;">
                <div style="border-left: solid 2px #f5f5f5;">
                  <div class="accordion-container">
                    <div class="p-30 accordion-container__accordion-head">
                      {{!-- <div class="accordion-indicator">•</div> --}}
                      <div class="row no-gutters align-items-center justify-content-between">
                        <div class="flex-1">
                          <div class="font-4 bold">Todo List App</div>
                          <div class="font-2 text-grey mt-10">
                            A task manager with features like 'mark as done', 'cear done tasks' and sorting tasks by
                            their status.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider-h content-divider px-30 bg-grey-light-3"></div>

                  <div class="accordion-container">
                    <div class="p-30 accordion-container__accordion-head">
                      {{!-- <div class="accordion-indicator">•</div> --}}
                      <div class="row no-gutters align-items-center justify-content-between">
                        <div class="flex-1">
                          <div class="font-4 bold">Todo List App</div>
                          <div class="font-2 text-grey mt-10">
                            A task manager with features like 'mark as done', 'cear done tasks' and sorting tasks by
                            their status.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider-h content-divider px-30 bg-grey-light-3"></div>

                  <div class="accordion-container">
                    <div class="p-30 accordion-container__accordion-head">
                      {{!-- <div class="accordion-indicator">•</div> --}}
                      <div class="row no-gutters align-items-center justify-content-between">
                        <div class="flex-1">
                          <div class="font-4 bold">Todo List App</div>
                          <div class="font-2 text-grey mt-10">
                            A task manager with features like 'mark as done', 'cear done tasks' and sorting tasks by
                            their status.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="divider-h content-divider px-30 bg-grey-light-3"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card">
              <div class="heading-6 bold mb-30">Choose Batch</div>
              <div class="tabs-primary mb-20">
                <div class="tab active">Noida</div>
                <div class="tab">Pitampura</div>
              </div>
              <div class="row no-gutters align-items-center">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/classroom-courses-big.svg">
                <div class="flex-1 pl-20">
                  <div class="heading-6 bold text-gradient-orange-light">CLASSROOM</div>
                  <div class="mt-2 font-2 text-grey">Batch starting <strong>15 April ‘20</strong></div>
                </div>
              </div>
              <div class="my-30">
                <div class="row no-gutters align-items-center">
                  <div class="heading-6 bold mr-10">&#8377;&nbsp;12,999</div>
                  <del class="text-grey bold">&#8377;&nbsp;17,999</del>
                </div>
                <div class="mt-10 text-grey font-2">Enrollment ends Nov 30th 2019</div>
              </div>
              <button class="button-primary d-block">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="t-align-sm-l t-align-c mb-50">
          <div class="heading-4 bold mb-10">Mentors</div>
          <div class="font-4 text-grey">
            About the mentors that will guide you through this course
          </div>
        </div>
        <div>
          <div class="row no-gutters align-items-center mb-50">
            <div class="s-150x150 round">
              <img src="https://minio.codingblocks.com/amoeba/arnva-min.webp">
            </div>
            <div class="flex-1 pl-30">
              <div class="heading-6 bold">Arnav Gupta</div>
              <div class="mt-10 mb-20 font-2 orange">arnav@cb.lk</div>
              <div class="font-4">
                Arnav Gupta, also popular as ChampionSwimmer, is acclaimed Android Dev. and two timer GSoC-er. He has
                also presented at large conferences like...more
              </div>
            </div>
          </div>
          <div class="row no-gutters align-items-center">
            <div class="s-150x150 round">
              <img src="https://minio.codingblocks.com/amoeba/arnva-min.webp">
            </div>
            <div class="flex-1 pl-30">
              <div class="heading-6 bold">Arnav Gupta</div>
              <div class="mt-10 mb-20 font-2 orange">arnav@cb.lk</div>
              <div class="font-4">
                Arnav Gupta, also popular as ChampionSwimmer, is acclaimed Android Dev. and two timer GSoC-er. He has
                also presented at large conferences like...more
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="heading-4 bold">Learning Tracks</div>
        <div class="my-40 row no-gutters align-items-center">
          <div class="br-5 p-10 bg-gradient-pink all-center s-80x80">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js_white.svg">
          </div>
          <div class="flex-1 pl-md-40 pl-20">
            <div class="heading-5 mb-10 bold">
              Try our Full Stack Web Development Track
            </div>
            <div class="font-4 text-grey">
              Learn full-stack web development using JavaScript &amp; NodeJS
            </div>
          </div>
        </div>
        <button class="button-primary">Explore</button>
      </div>
    </div>

    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="t-align-sm-l t-align-c">
          <div class="heading-4 bold mb-10">Testimonials</div>
          <div class="font-4 text-grey">
            Learn and grow as a developer with our project based courses.
          </div>
        </div>
        <div class="row mt-50">
          <div class="col-lg-4 col-md-5 col-sm-6 mb-25 h-inherit">
            <div class="card card--equal-height">
              <div class="card__header card__header--border-highlight">
                <div class="flex-1">
                  <div class="s-80x80 round">
                    <img src="https://minio.codingblocks.com/amoeba/arnva-min.webp">
                  </div>
                </div>
                <div class="t-align-r">
                  <div class="font-2 text-grey bold mb-10">Placed at</div>
                  <img src="https://minio.codingblocks.com/amoeba/amazon.svg" style="height: 40px;">
                </div>
              </div>
              <div>
                <div class="heading-5 bold mb-1">Arnav Gupta</div>
                <div class="font-3 text-grey mb-20">Delhi Tech University</div>
                <div class="font-4">
                  Coding Blocks was founded in 2014 with a mission to create skilled software engineers for our country
                  and the world. We aim to bridge the gap between the quality of skills demanded by industry and the
                  quality of skills. Read more...
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>