<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="row align-items-center">
          <div class="col-8">
            <div class="row no-gutters align-items-center">
              <div class="card bg-gradient-pink all-center" style="height: 250px; width: 250px;">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js_white.svg">
              </div>
              <div class="flex-1 pl-50">
                <div class="br-5 d-inline-block p-2 bg-gradient-orange-light mb-15 font-2 white">
                  Beginner
                </div>
                <div class="heading-3 mb-20 bold">Web Development</div>
                <div class="font-4 mb-20">
                  Our Web Frontend online course is for anybody who has basic knowledge of fundamentals of programming,
                  either in C++ or Java. The course classes would be conducted by our Industry-expert mentor, Arnav
                  bhaiya.
                </div>
                <div class="row no-gutters">
                  <div class="mr-30">
                    <div class="font-2">Course Language</div>
                    <div class="font-4 bold mt-1">English, Hindi</div>
                  </div>
                  <div>
                    <div class="font-2">Course Duration</div>
                    <div class="font-4 bold mt-1">6 Months</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            {{!-- youtube video here --}}
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>