<div class="a-cbm">
  <div class="landing-page">
    {{!-- Welcome Section --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font stroke-font text-grey-dark-2">
            WELCOME TO
          </div>
          <div class="heading-font">
            CODING BLOCKS
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-welcome.svg">
          <div class="heading-2 bold my-50">
            India’s best technology learning platform.
          </div>
          <button class="button-primary">
            Get Started
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
        </div>
      </div>
    </div>

    {{!-- Learn --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font stroke-font text-black">
            LEARN.
          </div>
          <div class="heading-font">
            LEARN.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-learn.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Learning from the best!
            </div>
            <div class="mt-2 text-blue-light-1 heading-4">
              Mentors with <strong>100Yr+</strong> collective experience.
            </div>
          </div>
          <button class="button-primary">
            Explore our courses
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            Get career advice
          </button>
        </div>
      </div>
    </div>

    {{!-- Pratice --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font stroke-font text-grey-dark-2">
            PRACTICE.
          </div>
          <div class="heading-font">
            PRACTICE.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-practice.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              For Developers, By Developers!
            </div>
            <div class="mt-2 text-pink-light-1 heading-4">
              Over <strong>5M+</strong> code submissions done.
            </div>
          </div>
          <button class="button-primary">
            Explore Hacker Blocks
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            View discuss forum
          </button>
        </div>
      </div>
    </div>

    {{!-- Get Hired --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font stroke-font text-black">
            GET HIRED.
          </div>
          <div class="heading-font">
            GET HIRED.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-hire.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Land your dream job!
            </div>
            <div class="mt-2 text-green-light-1 heading-4">
              We have over <strong>200+</strong> hiring partners onboard.
            </div>
          </div>
          <button class="button-primary">
            Explore Hiring Blocks
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            View success stories
          </button>
        </div>
      </div>
    </div>

    {{!-- Community and Superhero --}}
    <div class="landing-page__section landing-page__section--divided-section">
      <div class="row">
        <div class="col-6 landing-page__section--divided-section__left-section">
          <div>
            <div class="heading-font stroke-font text-grey-dark-2">
              JOIN OUR
            </div>
            <div class="heading-font">
              COMMUNITY
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-community.svg">
            <div class="my-50">
              <div class="heading-2 bold">
                Coding: The present and future
              </div>
              <div class="mt-2 text-yellow heading-4">
                Connect with like minded people.
              </div>
            </div>
          </div>
          <div>
            <button class="button-secondary">
              Visit Youtube channel
            </button>
            <button class="button-secondary ml-4">
              Join Telegram channel
            </button>
          </div>
        </div>
        <div class="col-6 landing-page__section--divided-section__right-section">
          <div>
            <div class="heading-font stroke-font text-grey-dark-2">
              BECOME A
            </div>
            <div class="heading-font">
              SUPERHERO
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-superhero.svg">
            <div class="my-50">
              <div class="heading-2 bold">
                Campur Ambassador!
              </div>
              <div class="mt-2 text-blue-light-1 heading-4">
                Learn and eaarn, all with lots of fun.
              </div>
            </div>
          </div>
          <div>
            <button class="button-secondary">
              Learn More
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
      </div>
    </div>

    {{!-- Latest Events --}}
    <div class="landing-page__section">
    </div>

    {{!-- Colleges and Companies --}}
    <div class="landing-page__section landing-page__section--divided-section">
      <div class="row">
        <div class="col-6 landing-page__section--divided-section__left-section">
          <div>
            <div class="heading-font stroke-font text-grey-dark-2">
              FOR
            </div>
            <div class="heading-font">
              COLLEGES
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-colleges.svg">
            <div class="my-50">
              <div class="row no-gutters">
                <div class="col-4 pr-5">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/placement-training.svg" class="mb-5">
                  <div class="heading-5">Placement Training</div>
                </div>
                <div class="col-4 pr-5">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/online-platform.svg" class="mb-5">
                  <div class="heading-5">Online Exam Platform</div>
                </div>
                <div class="col-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/workshops.svg" class="mb-5">
                  <div class="heading-5">Workshops & More</div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="button-secondary">
              Let's Connect
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
        <div class="col-6 landing-page__section--divided-section__right-section">
          <div>
            <div class="heading-font stroke-font text-grey-dark-2">
              FOR
            </div>
            <div class="heading-font">
              COMPANIES
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-colleges.svg">
            <div class="my-50">
              <div class="row no-gutters">
                <div class="col-4 pr-5">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/training-program.svg" class="mb-5">
                  <div class="heading-5">Training Programs</div>
                </div>
                <div class="col-4 pr-5">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hire-students.svg" class="mb-5">
                  <div class="heading-5">Hire Students</div>
                </div>
                <div class="col-4">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/evaluations.svg" class="mb-5">
                  <div class="heading-5">Evaluations & More</div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="button-secondary">
              Let's Connect
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
      </div>
    </div>

    {{!-- News --}}
    <div class="landing-page__section">
    </div>

    {{!-- Success Stories --}}
    <div class="landing-page__section">
    </div>

    {{!-- Help --}}
    <div class="landing-page__section">
    </div>

    {{!-- Blog Posts --}}
    <div class="landing-page__section">
      <div class="row no-gutters justify-content-between align-items-center">
        <div class="flex-1">
          <div class="heading-font stroke-font text-grey-dark-2">
            LATEST
          </div>
          <div class="heading-font">
            FROM THE BLOG
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-blog.svg">
        </div>
        <button class="button-primary">
          Read All Blogs
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
        </button>
      </div>
      <div class="my-50 mb-0">
        <div class="row no-gutters">
          <div class="col-4 flex-col justify-content-between" style="padding-right: 4.5rem; height: inherit;">
            <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg" class="w-100">
            <div class="mt-2 w-100">
              <div class="heading-4 bold mt-4">AI to take over jobs?</div>
              <div class="mt-3">
                <div class="heading-6 text-clamp-ellipses text-clamp-ellipses--2">
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                </div>
              </div>
              <div class="button-tertiary mt-5">
                Read More
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
          <div class="col-4 flex-col justify-content-between" style="padding-right: 2.25rem; padding-left: 2.25rem; height: inherit;">
            <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg" class="w-100">
            <div class="mt-2 w-100">
              <div class="heading-4 bold mt-4">AI to take over jobs?</div>
              <div class="mt-3">
                <div class="heading-6 text-clamp-ellipses text-clamp-ellipses--2">
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                </div>
              </div>
              <div class="button-tertiary mt-5">
                Read More
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
          <div class="col-4 flex-col justify-content-between" style="padding-left: 4.5rem; height: inherit;">
            <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg" class="w-100">
            <div class="mt-2 w-100">
              <div class="heading-4 bold mt-4">AI to take over jobs?</div>
              <div class="mt-3">
                <div class="heading-6 text-clamp-ellipses text-clamp-ellipses--2">
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                </div>
              </div>
              <div class="button-tertiary mt-5">
                Read More
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>