<div class="a-cbm">
  <div class="landing-page">
    {{!-- Scholarship Section --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-5">
          <div class="heading-font stroke-font text-grey-dark-2">
            SCHOLARSHIP
          </div>
          <div class="heading-font">
            TEST
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_welcome.svg">
          <div class="heading-2 bold my-50">
            Get a chance to secure upto 95% Scholarship.
          </div>
          <button class="button-primary">
            Register Now
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-6">
              <div class="card card--dark">
                <div class="card__header mb-50">
                  <div>
                    <h3 class="extra-bold stroke-text">CAST</h3>
                    <h3 class="extra-bold text-gradient-orange-light">CAST</h3>
                  </div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bulb.svg">
                </div>
                <div>
                  <div class="font-4">
                    <div class="bold">
                      Coders Admission & Scholarship Test
                    </div>
                    <div class="text-yellow mt-10">
                      Applicable for Beginner Courses
                    </div>
                  </div>
                </div>
                <div class="mt-50">
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">25th July 2020</div>
                  </div>
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">8:00 PM Onwards</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 pt-30">
              <div class="card card--dark">
                <div class="card__header mb-50">
                  <div>
                    <h3 class="extra-bold stroke-text">CAST</h3>
                    <h3 class="extra-bold text-gradient-orange-light">CAST</h3>
                  </div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bulb.svg">
                </div>
                <div>
                  <div class="font-4">
                    <div class="bold">
                      Coders Admission & Scholarship Test
                    </div>
                    <div class="text-yellow mt-10">
                      Applicable for Beginner Courses
                    </div>
                  </div>
                </div>
                <div class="mt-50">
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">25th July 2020</div>
                  </div>
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">8:00 PM Onwards</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Upcoming events section --}}
    <div class="landing-page__section">
      <div class="row no-gutters align-items-center justify-content-between mb-50">
        <h2>Upcoming Events</h2>
        <div class="tabs-secondary">
          <div class="tab active">All Events</div>
          <div class="tab">Workshops</div>
          <div class="tab">Contests</div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-4 pr-40">
          <div class="card card--dark">
            <div class="card__header card__header--border-highlight">
              <div class="flex-1">
                <div class="heading-6">WORKSHOP</div>
              </div>
              <div class="t-align-c">
                <div class="heading-4 bold">12</div>
                <div class="font-4">MAR</div>
              </div>
            </div>
            <div>
              <div class="heading-5 text-orange-dark-1 bold mb-10">Machine Learning</div>
              <div class="font-4">
                Learn how to build apps like spotify, netflix and more.
              </div>
            </div>
            <div class="mentor-row my-50">
              <div class="mentor-row__text-container align-self-center pr-100">
                <div>MENTOR</div>
                <div class="font-5 bold mt-5">Arnav G, Prateek N</div>
              </div>
              <div class="mentor-row__image-container mentor-row__image-container--mentor-2">
                <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                  alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
                <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                  alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
              </div>
            </div>
            <div class="card__footer card__footer--border-highlight">
              <div class="flex-1">
                <div class="font-4">8:00 PM Onwards</div>
              </div>
              <div class="button-tertiary">
                Register Now
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 px-20">
          <div class="card card--dark">
            <div class="card__header card__header--border-highlight">
              <div class="flex-1">
                <div class="heading-6">CONTEST</div>
              </div>
              <div class="t-align-c">
                <div class="heading-4 bold">28</div>
                <div class="font-4">JAN</div>
              </div>
            </div>
            <div>
              <div class="heading-5 text-orange-dark-1 bold mb-10">CODEWARS</div>
              <div class="font-4">
                Build apps like spotify, netflix and win amazing prizes.
              </div>
            </div>
            <div class="mt-50">
              <div class="row no-gutters">
                <div class="pr-40">
                  <div>LEVEL</div>
                  <div class="font-5 bold mt-5">Medium</div>
                </div>
                <div>
                  <div>QUESTIONS</div>
                  <div class="font-5 bold mt-5">10</div>
                </div>
              </div>
            </div>
            <div class="card__footer card__footer--border-highlight">
              <div class="flex-1">
                <div class="font-4">8:00 PM Onwards</div>
              </div>
              <div class="button-tertiary">
                Register Now
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 pl-40">
          <div class="card card--dark">
            <div class="card__header">
              {{!-- Icon goes here --}}
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hourglass.svg">
            </div>
            <div>
              <h5 class="text-yellow">Stay tuned!!</h5>
              <div class="mt-10">
                <div class="font-4">
                  We will be coming up with more contests and workshops.
                  <br />
                  <br />
                  Meanwhile, improve your skills on hackerblocks.
                </div>
              </div>
            </div>
            <div class="card__footer card__footer--border-highlight justify-content-end">
              <div class="button-tertiary">
                Visit HackerBlocks
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>