<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="row">
        <div class="col-6">
          <div class="heading-font extra-bold">
            WELCOME TO
          </div>
        </div>
      </div>
    </div>
    <div class="landing-page__section">

    </div>
  </div>
</div>