<div class="a-cbm">
  <div class="landing-page">
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font heading-font__stroke-font text-grey-dark-2">
            WELCOME TO
          </div>
          <div class="heading-font">
            CODING BLOCKS
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-welcome.svg">
          <div class="heading-2 bold my-50">
            India’s best technology learning platform.
          </div>
          <button class="button-primary">
            Get Started
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
        </div>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font heading-font__stroke-font text-black">
            LEARN.
          </div>
          <div class="heading-font">
            LEARN.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-learn.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Learning from the best!
            </div>
            <div class="mt-2 text-blue-light-1 heading-4">
              Mentors with <strong>100Yr+</strong> collective experience.
            </div>
          </div>
          <button class="button-primary">
            Explore our courses
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            Get career advice
          </button>
        </div>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font heading-font__stroke-font text-grey-dark-2">
            PRACTICE.
          </div>
          <div class="heading-font">
            PRACTICE.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-practice.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              For Developers, By Developers!
            </div>
            <div class="mt-2 text-pink-light-1 heading-4">
              Over <strong>5M+</strong> code submissions done.
            </div>
          </div>
          <button class="button-primary">
            Explore Hacker Blocks
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            View discuss forum
          </button>
        </div>
      </div>
    </div>
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="heading-font heading-font__stroke-font text-black">
            GET HIRED.
          </div>
          <div class="heading-font">
            GET HIRED.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-hire.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Land your dream job!
            </div>
            <div class="mt-2 text-green-light-1 heading-4">
              We have over <strong>200+</strong> hiring partners onboard.
            </div>
          </div>
          <button class="button-primary">
            Explore Hiring Blocks
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            View success stories
          </button>
        </div>
      </div>
    </div>
    <div class="landing-page__section landing-page__section--divided-section">
      <div class="row">
        <div class="col-6 landing-page__section--divided-section__left-section">
          <div class="heading-font heading-font__stroke-font text-black">
            JOIN OUR
          </div>
          <div class="heading-font">
            COMMUNITY
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-hire.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Land your dream job!
            </div>
            <div class="mt-2 text-green-light-1 heading-4">
              We have over <strong>200+</strong> hiring partners onboard.
            </div>
          </div>
          <button class="button-primary">
            Explore Hiring Blocks
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            View success stories
          </button>
        </div>
        <div class="col-6 landing-page__section--divided-section__right-section">
          <div class="heading-font heading-font__stroke-font text-black">
            GET HIRED.
          </div>
          <div class="heading-font">
            GET HIRED.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline-hire.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Land your dream job!
            </div>
            <div class="mt-2 text-green-light-1 heading-4">
              We have over <strong>200+</strong> hiring partners onboard.
            </div>
          </div>
          <button class="button-primary">
            Explore Hiring Blocks
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
          <button class="button-secondary ml-4">
            View success stories
          </button>
        </div>
      </div>
    </div>
  </div>
</div>