<div class="a-cbm">
  <div class="landing-page">
    {{!-- Welcome Section --}}
    {{!-- <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-5 mb-lg-0 mb-50">
          <div class="heading-font stroke-font white">
            WELCOME TO
          </div>
          <div class="heading-font">
            CODING BLOCKS
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_welcome.svg">
          <div class="heading-2 bold my-50">
            India’s best technology learning platform.
          </div>
          <button class="button-primary">
            Get Started
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
        </div>
        <div class="col-xl-6 col-lg-7">
          <div class="row">
            <div class="col-sm-6 mb-sm-0 mb-30">
              <div class="bg-grey-dark-1 br-5 p-30">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/workshops.svg" class="mb-sm-3"
                    style="height: 50px;">
                  <div class="flex-1 d-sm-none d-block pl-20">
                    <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">40K+</div>
                    <div class="mt-1 font-4">Students Taught</div>
                  </div>
                </div>
                <div class="d-sm-block d-none">
                  <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">40K+</div>
                  <div class="mt-1 font-4">Students Taught</div>
                </div>
              </div>
              <div class="bg-grey-dark-1 br-5 p-30 mt-30">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/package.svg" class="mb-sm-3"
                    style="height: 50px;">
                  <div class="flex-1 d-sm-none d-block pl-20">
                    <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">80LPA</div>
                    <div class="mt-1 font-4">Package Offered</div>
                  </div>
                </div>
                <div class="d-sm-block d-none">
                  <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">80LPA</div>
                  <div class="mt-1 font-4">Package Offered</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pt-sm-30">
              <div class="bg-grey-dark-1 br-5 p-30">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/students_placed.svg" class="mb-sm-3"
                    style="height: 50px;">
                  <div class="flex-1 d-sm-none d-block pl-20">
                    <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">30K+</div>
                    <div class="mt-1 font-4">Students Placed</div>
                  </div>
                </div>
                <div class="d-sm-block d-none">
                  <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">30K+</div>
                  <div class="mt-1 font-4">Students Placed</div>
                </div>
              </div>
              <div class="bg-grey-dark-1 br-5 p-30 mt-30">
                <div class="row no-gutters align-items-center">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/placement-training.svg" class="mb-sm-3"
                    style="height: 50px;">
                  <div class="flex-1 d-sm-none d-block pl-20">
                    <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">200%</div>
                    <div class="mt-1 font-4">Salary Hike</div>
                  </div>
                </div>
                <div class="d-sm-block d-none">
                  <div class="text-gradient-orange-light bold" style="font-size: 3.428rem;">200%</div>
                  <div class="mt-1 font-4">Salary Hike</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> --}}

    <div class="landing-page__section">
      <div class="width-limiter">
        <div class="row align-items-center justify-content-between no-gutters">
          <div class="flex-1 pr-75">
            <div class="heading-3 bold text-grey mb-30">
              Become a
              <div class="d-inline-block text-black underline-highlight underline-highlight--gradient-orange">
                App Developer
              </div>
            </div>
            <div class="heading-font stroke-font white">
              LEARN THE MOST.
            </div>
            <div class="heading-font">
              WANTED SKILLS.
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_welcome.svg">
            <div class="mt-30 mb-40">
              <div class="row no-gutters align-items-center">
                <button class="button-primary">
                  Get Started
                </button>
                <div class="ml-30 heading-5 text-grey">Learn. Practice. Ace.</div>
              </div>
            </div>
            <div class="mini-banner position-relative br-5">
              <div class="bg-purple br-5" style="height: 110px;"></div>
              <div class="mini-banner__tag">
                <div class="font-2">Offer valid till 30th Jan</div>
              </div>
            </div>
          </div>
          <div class="t-align-c">
            <div class="universe">
              <div class="universe__star p-20">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js-cyan.svg">
              </div>
              <div class="universe__orbit universe__orbit--1">
                <div class="position-relative h-100 w-100">
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                </div>
              </div>
              <div class="universe__orbit universe__orbit--2">
                <div class="position-relative h-100 w-100">
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                </div>
              </div>
              <div class="universe__orbit universe__orbit--3">
                <div class="position-relative h-100 w-100">
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                  <div class="universe__orbit__planet">
                    <img src="https://news.artnet.com/app/news-upload/2017/10/Taylor-Dafoe_Head-Shot-256x256.jpg">
                  </div>
                </div>
              </div>
            </div>
            <div class="heading-6 mt-30">Helping people get their dream job.</div>
            <button class="button-tertiary mt-10">View all our Alumni</button>
          </div>
        </div>
        <div class="mt-60">
          <div class="t-align-c heading-3 bold mb-50">
            Why Coding Blocks
          </div>
        </div>
      </div>
    </div>

    {{!-- Learn --}}
    <div class="landing-page__section">
      <div class="row align-items-center no-gutters">
        <div class="col-xl-6 col-lg-7 z-pos">
          <div class="heading-font stroke-font text-grey-light-3">
            LEARN.
          </div>
          <div class="heading-font">
            LEARN.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_learn.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Learning from the best!
            </div>
            <div class="mt-2 text-blue-light-1 heading-4">
              Mentors with <strong>100Yr+</strong> collective experience.
            </div>
          </div>
          <div>
            <button class="button-primary">
              Explore our courses
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
            <br class="d-sm-none d-block" />
            <button class="button-secondary ml-sm-20 mt-sm-none mt-30">
              Get career advice
            </button>
          </div>
        </div>
        <div class="col-12 d-lg-none d-block t-align-c">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/learn.svg" class="landing-page__section__vector">
        </div>
      </div>
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/learn.svg"
        class="landing-page__section__vector d-lg-block d-none">
    </div>

    {{!-- Pratice --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-7 z-pos">
          <div class="heading-font stroke-font white">
            PRACTICE.
          </div>
          <div class="heading-font">
            PRACTICE.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_practice.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              For Developers, By Developers!
            </div>
            <div class="mt-2 text-pink-light-1 heading-4">
              Over <strong>5M+</strong> code submissions done.
            </div>
          </div>
          <div>
            <button class="button-primary">
              Explore Hacker Blocks
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
              <br class="d-sm-none d-block" />
            </button>
            <button class="button-secondary ml-sm-20 mt-sm-none mt-30">
              View discuss forum
            </button>
          </div>
          <div class="col-12 d-lg-none d-block t-align-c">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/practice.svg"
              class="landing-page__section__vector">
          </div>
        </div>
      </div>
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/practice.svg"
        class="landing-page__section__vector d-lg-block d-none">
    </div>

    {{!-- Get Hired --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-7 z-pos">
          <div class="heading-font stroke-font text-grey-light-3">
            GET HIRED.
          </div>
          <div class="heading-font">
            GET HIRED.
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_hire.svg">
          <div class="my-50">
            <div class="heading-2 bold">
              Land your dream job!
            </div>
            <div class="mt-2 text-green-light-1 heading-4">
              We have over <strong>200+</strong> hiring partners onboard.
            </div>
          </div>
          <div>
            <button class="button-primary">
              Explore Hiring Blocks
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
            <br class="d-sm-none d-block" />
            <button class="button-secondary ml-sm-20 mt-sm-none mt-30">
              View success stories
            </button>
          </div>
          <div class="col-12 d-lg-none d-block t-align-c">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hire.svg" class="landing-page__section__vector">
          </div>
        </div>
      </div>
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hire.svg"
        class="landing-page__section__vector d-lg-block d-none">
    </div>

    {{!-- Community and Superhero --}}
    <div class="landing-page__section landing-page__section--divided-section">
      <div class="row c-card-carousel-lg">
        <div class="col-lg-6 col-12 landing-page__section--divided-section__left-section">
          <div>
            <div class="heading-font stroke-font white">
              JOIN OUR
            </div>
            <div class="heading-font">
              COMMUNITY
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_community.svg">
            <div class="my-50">
              <div class="heading-2 bold">
                Coding: The present and future
              </div>
              <div class="mt-2 text-yellow heading-4">
                Connect with like minded people.
              </div>
            </div>
          </div>
          <div class="row no-gutters align-items-center d-xl-flex d-lg-none d-sm-flex d-none">
            <button class="button-secondary flex-1" style="max-width: fit-content;">
              <div class="flex-1 t-align-l">
                Visit Youtube channel
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/youtube_button.svg" class="ml-2">
            </button>
            <button class="button-secondary ml-4 flex-1" style="max-width: fit-content;">
              <div class="flex-1 t-align-l">
                Join Telegram channel
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/telegram_button.svg" class="ml-2">
            </button>
          </div>
          <div class="d-xl-none d-lg-block d-sm-none d-block">
            <button class="button-secondary">
              Visit Youtube channel
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/youtube_button.svg" class="ml-2">
            </button>
            <button class="button-secondary mt-30">
              Join Telegram channel
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/telegram_button.svg" class="ml-2">
            </button>
          </div>
        </div>
        <div class="col-lg-6 col-12 landing-page__section--divided-section__right-section">
          <div>
            <div class="heading-font stroke-font white">
              BECOME A
            </div>
            <div class="heading-font">
              SUPERHERO
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_superhero.svg">
            <div class="my-50">
              <div class="heading-2 bold">
                Campur Ambassador!
              </div>
              <div class="mt-2 text-blue-light-1 heading-4">
                Learn and eaarn, all with lots of fun.
              </div>
            </div>
          </div>
          <div>
            <button class="button-secondary">
              Learn More
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
      </div>
    </div>

    {{!-- Latest Events --}}
    <div class="landing-page__section">
      <div class="row no-gutters align-items-center justify-content-between">
        <div class="flex-1">
          <div class="row no-gutters align-items-center justify-content-between">
            <div class="flex-1">
              <div class="heading-font stroke-font text-grey-light-3">
                LATEST
              </div>
              <div class="heading-font">
                EVENTS
              </div>
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_events.svg">
            </div>
            <div class="col-xl-12 col-4 t-align-xl-l t-align-r d-sm-block d-none">
              <button class="button-primary mt-xl-50">
                View all
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
              </button>
            </div>
          </div>
          {{!-- <div class="mt-xl-50 d-xl-block d-none">
            <button class="button-primary">
              View all
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div> --}}
        </div>
        <div class="col-xl-9 mt-xl-none mt-50">
          <div class="flex-row align-items-center">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nav-big-left-inactive.svg"
              class="pointer d-md-block d-none">
            <div class="row mx-lg-40 mx-md-20 c-card-carousel">
              <div class="col-lg-6 col-sm-8 col-12">
                <div class="card card--dark">
                  <div class="card__header card__header--border-highlight">
                    <div class="flex-1">
                      <div class="heading-6">WORKSHOP</div>
                    </div>
                    <div class="t-align-c">
                      <div class="heading-4 bold">12</div>
                      <div class="font-4">MAR</div>
                    </div>
                  </div>
                  <div>
                    <div class="heading-5 text-orange-dark-1 bold mb-10">Machine Learning</div>
                    <div class="font-4">
                      Learn how to build apps like spotify, netflix and more.
                    </div>
                  </div>
                  <div class="mentor-row my-50">
                    <div class="mentor-row__text-container align-self-center pr-100">
                      <div>MENTOR</div>
                      <div class="font-5 bold mt-5">Arnav G, Prateek N</div>
                    </div>
                    <div class="mentor-row__image-container mentor-row__image-container--mentor-2">
                      <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                        alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
                      <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                        alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
                    </div>
                  </div>
                  <div class="card__footer card__footer--border-highlight">
                    <div class="flex-1">
                      <div class="font-4">8:00 PM Onwards</div>
                    </div>
                    <div class="button-tertiary">
                      Register Now
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-8 col-12">
                <div class="card card--dark">
                  <div class="card__header card__header--border-highlight">
                    <div class="flex-1">
                      <div class="heading-6">WORKSHOP</div>
                    </div>
                    <div class="t-align-c">
                      <div class="heading-4 bold">12</div>
                      <div class="font-4">MAR</div>
                    </div>
                  </div>
                  <div>
                    <div class="heading-5 text-orange-dark-1 bold mb-10">Machine Learning</div>
                    <div class="font-4">
                      Learn how to build apps like spotify, netflix and more.
                    </div>
                  </div>
                  <div class="mentor-row my-50">
                    <div class="mentor-row__text-container align-self-center pr-100">
                      <div>MENTOR</div>
                      <div class="font-5 bold mt-5">Arnav G, Prateek N</div>
                    </div>
                    <div class="mentor-row__image-container">
                      <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                        alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
                    </div>
                  </div>
                  <div class="card__footer card__footer--border-highlight">
                    <div class="flex-1">
                      <div class="font-4">8:00 PM Onwards</div>
                    </div>
                    <div class="button-tertiary">
                      Register Now
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-8 col-12">
                <div class="card card--dark">
                  <div class="card__header card__header--border-highlight">
                    <div class="flex-1">
                      <div class="heading-6">WORKSHOP</div>
                    </div>
                    <div class="t-align-c">
                      <div class="heading-4 bold">12</div>
                      <div class="font-4">MAR</div>
                    </div>
                  </div>
                  <div>
                    <div class="heading-5 text-orange-dark-1 bold mb-10">Machine Learning</div>
                    <div class="font-4">
                      Learn how to build apps like spotify, netflix and more.
                    </div>
                  </div>
                  <div class="mentor-row my-50">
                    <div class="mentor-row__text-container align-self-center pr-100">
                      <div>MENTOR</div>
                      <div class="font-5 bold mt-5">Arnav G, Prateek N</div>
                    </div>
                    <div class="mentor-row__image-container mentor-row__image-container--mentor-2">
                      <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                        alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
                      <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                        alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
                    </div>
                  </div>
                  <div class="card__footer card__footer--border-highlight">
                    <div class="flex-1">
                      <div class="font-4">8:00 PM Onwards</div>
                    </div>
                    <div class="button-tertiary">
                      Register Now
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-8 col-12">
                <div class="card card--dark">
                  <div class="card__header card__header--border-highlight">
                    <div class="flex-1">
                      <div class="heading-6">WORKSHOP</div>
                    </div>
                    <div class="t-align-c">
                      <div class="heading-4 bold">12</div>
                      <div class="font-4">MAR</div>
                    </div>
                  </div>
                  <div>
                    <div class="heading-5 text-orange-dark-1 bold mb-10">Machine Learning</div>
                    <div class="font-4">
                      Learn how to build apps like spotify, netflix and more.
                    </div>
                  </div>
                  <div class="mentor-row my-50">
                    <div class="mentor-row__text-container align-self-center pr-100">
                      <div>MENTOR</div>
                      <div class="font-5 bold mt-5">Arnav G, Prateek N</div>
                    </div>
                    <div class="mentor-row__image-container">
                      <img src="https://minio.codingblocks.com/amoeba/4078be4e-72e1-451a-9c4e-9223d2bbcc2c"
                        alt="photo ofRishab Kapoor" class="mentor-row__image-container__mentor-image s-80x80">
                    </div>
                  </div>
                  <div class="card__footer card__footer--border-highlight">
                    <div class="flex-1">
                      <div class="font-4">8:00 PM Onwards</div>
                    </div>
                    <div class="button-tertiary">
                      Register Now
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nav-big-right-active.svg"
              class="pointer d-md-block d-none">
          </div>
        </div>
        <div class="col-12 d-sm-none d-block">
          <button class="button-primary mt-50">
            View all
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
        </div>
      </div>
    </div>

    {{!-- Colleges and Companies --}}
    <div class="landing-page__section landing-page__section--divided-section">
      <div class="row">
        <div class="col-lg-6 landing-page__section--divided-section__left-sections">
          <div>
            <div class="heading-font stroke-font white">
              FOR
            </div>
            <div class="heading-font">
              COLLEGES
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_colleges.svg">
            <div class="my-50">
              <div class="row no-gutters">
                <div class="col-sm-4 pr-sm-40 mb-sm-none mb-40">
                  <div class="row no-gutters align-items-center justify-content-between">
                    <div class="col-sm-12 col-3">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/placement-training.svg"
                        class="mb-sm-40" style="height: 50px;">
                    </div>
                    <div class="flex-1">
                      <div class="heading-5">Placement Training</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 pr-sm-40 mb-sm-none mb-40">
                  <div class="row no-gutters align-items-center justify-content-between">
                    <div class="col-sm-12 col-3">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/online-platform.svg" class="mb-sm-40"
                        style="height: 50px;">
                    </div>
                    <div class="flex-1">
                      <div class="heading-5">Online Exam Platform</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row no-gutters align-items-center justify-content-between">
                    <div class="col-sm-12 col-3">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/workshops.svg" class="mb-sm-40"
                        style="height: 50px;">
                    </div>
                    <div class="flex-1">
                      <div class="heading-5">Workshops & More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="button-secondary">
              Let's Connect
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
        <div class="divider-h d-lg-none d-block my-50"></div>
        <div class="col-lg-6 landing-page__section--divided-section__right-section">
          <div>
            <div class="heading-font stroke-font white">
              FOR
            </div>
            <div class="heading-font">
              COMPANIES
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_colleges.svg">
            <div class="my-50">
              <div class="row no-gutters">
                <div class="col-sm-4 pr-sm-40 mb-sm-none mb-40">
                  <div class="row no-gutters align-items-center">
                    <div class="col-sm-12 col-3">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/training-program.svg" class="mb-sm-40"
                        style="height: 50px;">
                    </div>
                    <div class="flex-1">
                      <div class="heading-5">Training Programs</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 pr-sm-40 mb-sm-none mb-40">
                  <div class="row no-gutters align-items-center">
                    <div class="col-sm-12 col-3">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/hire-students.svg" class="mb-sm-40"
                        style="height: 50px;">
                    </div>
                    <div class="flex-1">
                      <div class="heading-5">Hire Students</div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row no-gutters align-items-center">
                    <div class="col-sm-12 col-3">
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/evaluations.svg" class="mb-sm-40"
                        style="height: 50px;">
                    </div>
                    <div class="flex-1">
                      <div class="heading-5">Evaluations & More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="button-secondary">
              Let's Connect
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
      </div>
    </div>

    {{!-- News --}}
    <div class="landing-page__section">
      <div class="row no-gutters justify-content-between align-items-center">
        <div class="flex-1 pr-5">
          <div class="heading-font stroke-font text-grey-light-3">
            IN THE
          </div>
          <div class="heading-font">
            NEWS
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_news.svg">
        </div>
        <div class="col-lg-9 mt-lg-none mt-50">
          <div class="flex-row align-items-center">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nav-big-left-inactive.svg"
              class="pointer d-sm-block d-none">
            <div class="row mx-sm-40 c-card-carousel">
              <div class="col-6 h-inherit">
                <div class="flex-col justify-content-between h-100 align-items-start">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/et_logo.svg">
                  <div>
                    <div class="heading-5 my-50 text-clamp-ellipses text-clamp-ellipses--2">
                      Coding Blocks is the most promising edtech startup
                    </div>
                    <div class="button-tertiary">
                      Read More
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 h-inherit">
                <div class="flex-col justify-content-between h-100 align-items-start">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/android_white.png">
                  <div>
                    <div class="heading-5 my-50 text-clamp-ellipses text-clamp-ellipses--2">
                      Coding Blocks is the most promising edtech startup
                    </div>
                    <div class="button-tertiary">
                      Read More
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 h-inherit">
                <div class="flex-col justify-content-between h-100 align-items-start">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/et_logo.svg">
                  <div>
                    <div class="heading-5 my-50 text-clamp-ellipses text-clamp-ellipses--2">
                      Coding Blocks is the most promising edtech startup
                    </div>
                    <div class="button-tertiary">
                      Read More
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 h-inherit">
                <div class="flex-col justify-content-between h-100 align-items-start">
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/et_logo.svg">
                  <div>
                    <div class="heading-5 my-50 text-clamp-ellipses text-clamp-ellipses--2">
                      Coding Blocks is the most promising edtech startup
                    </div>
                    <div class="button-tertiary">
                      Read More
                      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nav-big-right-active.svg"
              class="pointer d-sm-block d-none">
          </div>
        </div>
      </div>
    </div>

    {{!-- Success Stories --}}
    <div class="landing-page__section">
      <div class="row no-gutters justify-content-between align-items-center">
        <div class="flex-1">
          <div class="heading-font stroke-font white">
            HALL OF FAME
          </div>
          <div class="heading-font">
            SUCCESS STORIES
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_success.svg">
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/apostrophe.svg" class="d-md-block d-none">
      </div>
      <div class="mt-50">
        <div class="flex-row align-items-center">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nav-big-left-inactive.svg"
            class="pointer d-md-block d-none">
          <div class="row mx-lg-40 mx-md-25 c-card-carousel">
            <div class="col-12">
              <div class="success-story row no-gutters align-items-center justify-content-between">
                <div class="col-12 d-md-none d-block mb-40">
                  <div class="row no-gutters align-items-center">
                    <div class="col-sm-5 col-12 mb-sm-none mb-40">
                      <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg" class="success-story__image">
                    </div>
                    <div class="flex-1">
                      <div class="heading-2 bold text-orange mb-3">Nilesh placed at Apple, 72LPA</div>
                      <div class="heading-4 bold">(B.Tech | ME, DTU)</div>
                    </div>
                  </div>
                </div>
                <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg"
                  class="success-story__image d-md-block d-none">
                <div class="flex-1">
                  <div class="d-md-block d-none">
                    <div class="heading-2 bold text-orange mb-3">Nilesh placed at Apple, 72LPA</div>
                    <div class="heading-4 bold mb-40">(B.Tech | ME, DTU)</div>
                  </div>
                  <div class="heading-5">
                    Hii I am Nilesh from Delhi technology university. I have done competitive boot camp from coding
                    blocks. This gave me a great exposure to problem solving mindset and helped me crack Apple
                    interview.
                    <br /> <br />
                    Thanks to Coding blocks!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="success-story row no-gutters align-items-center justify-content-between">
                <div class="col-12 d-md-none d-block mb-40">
                  <div class="row no-gutters align-items-center">
                    <div class="col-sm-5 col-12 mb-sm-none mb-40">
                      <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg" class="success-story__image">
                    </div>
                    <div class="flex-1">
                      <div class="heading-2 bold text-orange mb-3">Nilesh placed at Apple, 72LPA</div>
                      <div class="heading-4 bold">(B.Tech | ME, DTU)</div>
                    </div>
                  </div>
                </div>
                <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg"
                  class="success-story__image d-md-block d-none">
                <div class="flex-1">
                  <div class="d-md-block d-none">
                    <div class="heading-2 bold text-orange mb-3">Nilesh placed at Apple, 72LPA</div>
                    <div class="heading-4 bold mb-40">(B.Tech | ME, DTU)</div>
                  </div>
                  <div class="heading-5">
                    Hii I am Nilesh from Delhi technology university. I have done competitive boot camp from coding
                    blocks. This gave me a great exposure to problem solving mindset and helped me crack Apple
                    interview.
                    <br /> <br />
                    Thanks to Coding blocks!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/nav-big-right-active.svg"
            class="pointer d-md-block d-none">
        </div>
      </div>
    </div>

    {{!-- Help --}}
    <div class="landing-page__section">
      <div class="heading-font stroke-font text-grey-light-3">
        WANT HELP?
      </div>
      <div class="heading-font">
        WANT HELP?
      </div>
      <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_help.svg">
      <div class="my-50">
        <div class="row">
          <div class="col-lg-3 flex-col justify-content-between h-inherit">
            <div class="heading-5 bold mb-50 w-100">I am a ...</div>
            <div class="row">
              <div class="col-lg-12 col-md-3 col-6 h-inherit mb-lg-40 pb-md-none pb-40">
                <div class="h-100 option-div option-div--rect selected">
                  <div class="font-5 bold flex-1 pr-2">High School Student</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-lg-12 col-md-3 col-6 h-inherit mb-lg-40 pb-md-none pb-40">
                <div class="h-100 option-div option-div--rect">
                  <div class="font-5 bold flex-1 pr-2">College Fresher</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-lg-12 col-md-3 col-6 h-inherit mb-lg-40">
                <div class="h-100 option-div option-div--rect">
                  <div class="font-5 bold flex-1 pr-2">Recent Graduate</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-lg-12 col-md-3 col-6 h-inherit">
                <div class="h-100 option-div option-div--rect">
                  <div class="font-5 bold flex-1 pr-2">Working Professional</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 flex-col justify-content-between h-inherit mt-lg-none mt-50">
            <div class="row justify-content-between mb-50 no-gutters w-100">
              <div class="heading-5 bold col-md-7 col-12 mb-sm-none mb-20">... & I want to become a</div>
              <button class="button-primary d-md-block d-none">
                Show me results
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
              </button>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                <div class="option-div option-div--square selected h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/ai_white.svg">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Data Scientist</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                <div class="option-div option-div--square h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/node_white.svg">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Full Stack Developer</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                <div class="option-div option-div--square h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/android_white.png">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Android Developer</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-6 h-inherit mb-40">
                <div class="option-div option-div--square h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/java_white.svg">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Software Developer</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-6 h-inherit pb-md-none pb-40">
                <div class="option-div option-div--square h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/cpp_white.svg">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Software Developer</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-6 h-inherit pb-md-none pb-40">
                <div class="option-div option-div--square h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/js_white.svg">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Frontend Developer</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-6 h-inherit">
                <div class="option-div option-div--square h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/competitive_white.svg">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Competitive Programmer</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-6 h-inherit">
                <div class="option-div option-div--square h-100">
                  <div>
                    <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/python_white.svg">
                  </div>
                  <div class="font-5 bold mt-4 t-align-c">Python Developer</div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/option-div-icon-orange.svg"
                    class="option-div__icon">
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 d-md-none d-block mt-40">
            <button class="button-primary">
              Show me results
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
      </div>
      <div class="heading-5 bold mb-50">OR</div>
      <div class="br-5 bg-grey-dark-2 p-lg-40 p-20">
        <div class="row no-gutters justify-content-between align-items-center side-tag">
          <div class="flex-1 pr-25">
            <div class="heading-5">CONTACT OUT TECH EXPERTS FOR</div>
            <div class="text-orange heading-2 bold mt-1">FREE COUNSELLING SESSION</div>
          </div>
          <div class="col-md-4 t-align-md-r t-align-l mt-md-none mt-40">
            <button class="button-secondary">
              Schedule a Session
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
            </button>
          </div>
        </div>
      </div>
    </div>

    {{!-- Blog Posts --}}
    <div class="landing-page__section">
      <div class="row no-gutters justify-content-between align-items-center">
        <div class="flex-1">
          <div class="heading-font stroke-font white">
            LATEST
          </div>
          <div class="heading-font">
            FROM THE BLOG
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_blog.svg">
        </div>
        <div class="col-md-3 col-12 mt-md-none mt-40 t-align-md-r talign-l">
          <button class="button-primary">
            Read All Blogs
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
        </div>
      </div>
      <div class="mt-50">
        <div class="row no-gutters c-card-carousel-md">
          <div class="col-md-4 col-sm-5 col-8 flex-col justify-content-between blog-post">
            <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg" class="w-100">
            <div class="mt-2 w-100">
              <div class="heading-4 bold mt-4">AI to take over jobs?</div>
              <div class="mt-3">
                <div class="heading-6 text-clamp-ellipses text-clamp-ellipses--2">
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                </div>
              </div>
              <div class="button-tertiary mt-50">
                Read More
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-8 flex-col justify-content-between blog-post">
            <img src="https://scx1.b-cdn.net/csz/news/800/2018/hack.jpg" class="w-100">
            <div class="mt-2 w-100">
              <div class="heading-4 bold mt-4">AI to take over jobs?</div>
              <div class="mt-3">
                <div class="heading-6 text-clamp-ellipses text-clamp-ellipses--2">
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                </div>
              </div>
              <div class="button-tertiary mt-50">
                Read More
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 col-8 flex-col justify-content-between blog-post">
            <img
              src="https://images.newindianexpress.com/uploads/user/imagelibrary/2020/6/8/w900X450/_112604965_ab3d06zxxzccx58-b06c-4475-810b-99d17e6df4c7.jpg"
              class="w-100">
            <div class="mt-2 w-100">
              <div class="heading-4 bold mt-4">AI to take over jobs?</div>
              <div class="mt-3">
                <div class="heading-6 text-clamp-ellipses text-clamp-ellipses--2">
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                  Something just like this is hampering my head space and fucking up!
                </div>
              </div>
              <div class="button-tertiary mt-50">
                Read More
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Footer --}}
    <div class="landing-page__section landing-page__section--footer">
      <div class="row no-gutters pb-50" style="border-bottom:1px solid #3b4254;">
        <div class="col-lg-9 col-12 pr-lg-20 pb-lg-none pb-50 landing-page__section--footer__main-section">
          <div class="row no-gutters">
            <div class="col-sm-3 col-6 h-inherit pr-xl-50 pr-lg-30 pr-20">
              <div class="flex-col justify-content-between h-100">
                <div class="font-4 bold w-100">PRODUCTS</div>
                <div class="w-100 mt-50">
                  <div class="mb-30">
                    <a href="#" class="white font-4">Online Coding Blocks</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Hacker Blocks</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Hiring Blocks</a>
                  </div>
                  <div>
                    <a href="#" class="white font-4">Online IDE</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-6 h-inherit pr-xl-50 pr-lg-30 pr-20">
              <div class="flex-col justify-content-between h-100">
                <div class="font-4 bold w-100">COMPANY</div>
                <div class="w-100 mt-50">
                  <div class="mb-30">
                    <a href="#" class="white font-4">About Us</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Meet the Team</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Success Stories</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Become a TA/Mentor</a>
                  </div>
                  <div>
                    <a href="#" class="white font-4">Blog</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-6 h-inherit pr-xl-50 pr-lg-30 pr-20 mt-sm-none mt-50">
              <div class="flex-col justify-content-between h-100">
                <div class="font-4 bold w-100">RESOURCES</div>
                <div class="w-100 mt-50">
                  <div class="mb-30">
                    <a href="#" class="white font-4">Watch Youtube Videos</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Blogs</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Telegram Channel</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Study Material</a>
                  </div>
                  <div>
                    <a href="#" class="white font-4">Career Advice</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-6 h-inherit pr-xl-50 pr-lg-30 pr-20 mt-sm-none mt-50">
              <div class="flex-col justify-content-between h-100">
                <div class="font-4 bold w-100">COMMUNITY</div>
                <div class="w-100 mt-50">
                  <div class="mb-30">
                    <a href="#" class="white font-4">Campus Ambassador</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">Events and Workshops</a>
                  </div>
                  <div class="mb-30">
                    <a href="#" class="white font-4">BOSS 2020</a>
                  </div>
                  <div>
                    <a href="#" class="white font-4">Online IDE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-12 mt-lg-none mt-50 pl-xl-70 pl-lg-50">
          <div class="row no-gutters">
            <div class="col-lg-12 col-sm-6 col-12 mb-lg-50">
              <div class="bold font-4 mb-sm-40 mb-30">
                CONTACT
              </div>
              <div class="font-4 mb-lg-30 mb-sm-20 mb-15">
                admissionscodingblocks.com
              </div>
              <div class="font-4">
                1800 274 4504
              </div>
            </div>
            <div class="col-lg-12 col-sm-6 col-12 mt-sm-none mt-50">
              <div class="bold font-4 mb-sm-40 mb-30">
                TECHNICAL SUPPORT
              </div>
              <div class="font-4 mb-lg-30 mb-sm-20 mb-15">
                supportcodingblocks.com
              </div>
              <div class="font-4">
                +91 964 333 9747
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters align-items-center justify-content-sm-between justify-content-center mt-50">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/blocks-footer-logo.svg">
        <div class="flex-1 white t-align-xl-c t-align-r pl-xl-none pl-20 d-sm-block d-none">
          <div class="font-4 mb-10">
            Privacy Policy | Terms of Service
          </div>
          <div class="font-4">
            Copyright 2020 - Coding Blocks Pvt. Ltd.
          </div>
        </div>
        <div class="col-12 t-align-c d-sm-none d-block mt-50">
          <div class="font-4 mb-10">
            Privacy Policy | Terms of Service
          </div>
          <div class="font-4">
            Copyright 2020 - Coding Blocks Pvt. Ltd.
          </div>
        </div>
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/socials.svg" class="d-xl-block d-none">
      </div>
      <div class="mt-50 d-xl-none d-block t-align-c">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/socials.svg">
      </div>
    </div>
  </div>
</div>