<div class="a-cbm">
  <div class="landing-page">
    {{!-- Scholarship Section --}}
    <div class="landing-page__section">
      <div class="row align-items-center">
        <div class="col-5">
          <div class="heading-font stroke-font text-grey-dark-2">
            SCHOLARSHIP
          </div>
          <div class="heading-font">
            TEST
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/underline_welcome.svg">
          <div class="heading-2 bold my-50">
            Get a chance to secure upto 95% Scholarship.
          </div>
          <button class="button-primary">
            Register Now
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon.svg" class="ml-2">
          </button>
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-6">
              <div class="card card--dark">
                <div class="card__header mb-50">
                  <div>
                    <h3 class="extra-bold stroke-text">CAST</h3>
                    <h3 class="extra-bold text-gradient-orange-light">CAST</h3>
                  </div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bulb.svg">
                </div>
                <div>
                  <div class="font-4">
                    <div class="bold">
                      Coders Admission & Scholarship Test
                    </div>
                    <div class="text-yellow mt-10">
                      Applicable for Beginner Courses
                    </div>
                  </div>
                </div>
                <div class="mt-50">
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">25th July 2020</div>
                  </div>
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">8:00 PM Onwards</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 pt-30">
              <div class="card card--dark">
                <div class="card__header mb-50">
                  <div>
                    <h3 class="extra-bold stroke-text">CAST</h3>
                    <h3 class="extra-bold text-gradient-orange-light">CAST</h3>
                  </div>
                  <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/bulb.svg">
                </div>
                <div>
                  <div class="font-4">
                    <div class="bold">
                      Coders Admission & Scholarship Test
                    </div>
                    <div class="text-yellow mt-10">
                      Applicable for Beginner Courses
                    </div>
                  </div>
                </div>
                <div class="mt-50">
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">25th July 2020</div>
                  </div>
                  <div class="row no-gutters align-items-center mb-20">
                    {{!-- <img src="" alt=""> --}}
                    <div class="font-4">8:00 PM Onwards</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>