<div class="a-cbm" style="margin-top: -70px;">
  <div class="super-navbar border-bottom">
    <div class="h-100 width-limiter">
      <div class="row no-gutters align-items-center justify-content-between h-100">
        <div class="row no-gutters align-items-center">
          <div class="hamburger-menu mr-15 d-md-none d-block">
            <div class="ham-toggle">
              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-logo.svg">
        </div>
        <div class="flex-1 h-100">
          <div class="row no-gutters align-items-center justify-content-end h-100">
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-learn.svg">
                <div class="font-3 mt-10 d-md-block d-none">Learn</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-practice.svg">
                <div class="font-3 mt-10 d-md-block d-none">Practice</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-hire.svg">
                <div class="font-3 mt-10 d-md-block d-none">Get<br />Hired</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
                <div class="font-3 mt-10 d-md-block d-none">IDE</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
                <div class="font-3 mt-10 d-md-block d-none">Blog</div>
              </div>
            </div>
            <button class="button-primary ml-20 d-md-block d-none">Login / Signup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>