{{!-- <div class="hamburger-menu mr-3">
  <div class="ham-toggle">
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div> --}}

<div class="a-cbm" style="margin-top: -70px;">
  <div class="super-navbar border-bottom">
    <div class="container">
      <div class="row no-gutters align-items-center justify-content-between">
        <div class="py-20">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-logo.svg">
        </div>
        <div class="flex-1">
          <div class="row no-gutters align-items-center justify-content-end">
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-learn.svg">
                <div class="font-3 t-align-c mt-10">Learn</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-practice.svg">
                <div class="font-3 t-align-c mt-10">Practice</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-hire.svg">
                <div class="font-3 t-align-c mt-10">Get Hired</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
                <div class="font-3 t-align-c mt-10">IDE</div>
              </div>
            </div>
            <button class="button-primary ml-20">Login / Signup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>