<div class="a-cbm">
  <div class="py-15 border-bottom">
    <div class="width-limiter">
      <div class="row no-gutters justify-content-end">
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Courses</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Events</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Blogs</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Campus Superheroes</span>
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Contact</span>
        </div>
      </div>
    </div>
  </div>
</div>