<div class="a-cbm" style="margin-top: -70px;">
  <div class="super-navbar border-bottom">

    {{!-- Hamburger nav --}}
    <div class="hamburger-nav hamburger-nav--hidden border-left">
      <div class="row no-gutters justify-content-end align-items-center border-bottom position-sticky tl bg-white z-pos"
        style="height: 89px;">
        <img src="\images\wrong_g.png" alt="#" class="mr-4 hamburger-nav__cross pointer">
      </div>
      {{!-- can be utilised later in case of the requirement of a logged in state --}}
      {{!-- <div class="d-flex align-items-center my-4 justify-content-center">
        <div>
          <div class="img-ring s-80x80">
            <img class="round img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
              alt="">
          </div>
        </div>
        <div class="pl-4">
          <div class="extra-bold gradient-text">Siddharth Jain</div>
          <div class="bold card-sm"><a href="#" class="orange">View Profile</a></div>
        </div>
      </div> --}}
      <div class="t-align-c py-20">
        <button class="button-primary">Login / Signup</button>
      </div>
      <div class="px-40">
        <div class="mb-15 hamburger-nav__menu-element">
          <div style="width: 50px;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-learn.svg">
          </div>
          <div class="font-5 ml-15">Learn</div>
        </div>
        <div class="mb-15 hamburger-nav__menu-element">
          <div style="width: 50px;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-practice.svg">
          </div>
          <div class="font-5 ml-15">Practice</div>
        </div>
        <div class="mb-15 hamburger-nav__menu-element">
          <div style="width: 50px;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-hire.svg">
          </div>
          <div class="font-5 ml-15">Get Hired</div>
        </div>
        <div class="mb-15 hamburger-nav__menu-element">
          <div style="width: 50px;">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
          </div>
          <div class="font-5 ml-15">IDE</div>
        </div>
      </div>
      <div class="hamburger-nav__accordion-menu-element">
        <input type="checkbox" id="check1">
        <label class="hamburger-nav__accordion-menu-element__header" for="check1">
          <div class="flex-1 pr-20 font-5">
            Courses
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
        </label>
        <div class="hamburger-nav__accordion-menu-element__content">
          <div class="mb-50">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/online-courses.svg" style="height: 40px;">
            <div class="font-3 bold mt-15 text-grey-light-1">ONLINE COURSES</div>
            <div class="mt-35 mb-15">
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer mr-20" href="#">
                  C++ Master Course
                </a>
                <div class="bg-gradient-yellow white font-1 p-1 d-inline-block" style="border-radius: 2px;">
                  NEW
                </div>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  JAVA Master Course
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Python for Developers
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Web Dev with Python - Django
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Data Science
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Competitive Programming
                </a>
              </div>
            </div>
            <button class="button-tertiary mt-15">
              Explore All
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
            </button>
          </div>
          <div class="mb-50">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/classroom-courses.svg" style="height: 40px;">
            <div class="font-3 bold mt-15 text-grey-light-1">CLASSROOM COURSES</div>
            <div class="mt-35 mb-15">
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  C++ Master Course
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  JAVA Master Course
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Python for Developers
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Web Dev with Python - Django
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer mr-20" href="#">
                  Data Science
                </a>
                <div class="bg-gradient-yellow white font-1 p-1 d-inline-block" style="border-radius: 2px;">
                  NEW
                </div>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Competitive Programming
                </a>
              </div>
            </div>
            <button class="button-tertiary mt-15">
              Explore All
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
            </button>
          </div>
          <div class="mb-50">
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live-courses.svg" style="height: 40px;">
            <div class="font-3 bold mt-15 text-grey-light-1">LIVE COURSES</div>
            <div class="mt-35 mb-15">
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  C++ Master Course
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  JAVA Master Course
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Python for Developers
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Web Dev with Python - Django
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Data Science
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Competitive Programming
                </a>
              </div>
            </div>
            <button class="button-tertiary mt-15">
              Explore All
              <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
            </button>
          </div>
          <div>
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live-courses.svg" style="height: 40px;">
            <div class="row no-gutters align-items-center mt-15">
              <div class="font-3 bold text-grey-light-1 mr-20">INDUSTRIAL TRAINING</div>
              <div class="bg-gradient-yellow white font-1 p-1 d-inline-block" style="border-radius: 2px;">
                NEW
              </div>
            </div>
            <div class="mt-35 mb-15">
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  C++ Master Course
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  JAVA Master Course
                </a>
              </div>
              <div class="mb-20 row no-gutters align-items-center">
                <a class="font-4 bold pointer" href="#">
                  Python for Developers
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hamburger-nav__accordion-menu-element">
        <input type="checkbox" id="check2">
        <label class="hamburger-nav__accordion-menu-element__header" for="check2">
          <div class="flex-1 pr-20 font-5">
            Events
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
        </label>
      </div>
      <div class="hamburger-nav__accordion-menu-element">
        <input type="checkbox" id="check3">
        <label class="hamburger-nav__accordion-menu-element__header" for="check3">
          <div class="flex-1 pr-20 font-5">
            Blog
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg">
        </label>
      </div>
      <div class="hamburger-nav__accordion-menu-element">
        <input type="checkbox" id="check4">
        <label class="hamburger-nav__accordion-menu-element__header" for="check4">
          <div class="flex-1 pr-20 font-5">
            Campus Superheros
          </div>
          {{!-- <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg"> --}}
        </label>
      </div>
      <div class="hamburger-nav__accordion-menu-element">
        <input type="checkbox" id="check5">
        <label class="hamburger-nav__accordion-menu-element__header" for="check5">
          <div class="flex-1 pr-20 font-5">
            Contact
          </div>
          {{!-- <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/accordion-open-grey.svg"> --}}
        </label>
      </div>
    </div>

    {{!-- Main supernav --}}
    <div class="h-100 width-limiter">
      <div class="row no-gutters align-items-center justify-content-between h-100">
        <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-logo.svg">
        <div class="flex-1 h-100">
          <div class="row no-gutters align-items-center justify-content-end h-100">
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-learn.svg">
                <div class="font-3 mt-10 d-md-block d-none">Learn</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-practice.svg">
                <div class="font-3 mt-10 d-md-block d-none">Practice</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-hire.svg">
                <div class="font-3 mt-10 d-md-block d-none">Get<br />Hired</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
                <div class="font-3 mt-10 d-md-block d-none">IDE</div>
              </div>
            </div>
            {{!-- <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
                <div class="font-3 mt-10 d-md-block d-none">Blog</div>
              </div>
            </div> --}}
            <div class="hamburger-menu d-md-none d-block ml-25">
              <div class="ham-toggle">
                <div class="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
            <button class="button-primary ml-20 d-md-block d-none">Login / Signup</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{!-- Subnav --}}
  <div class="py-15 border-bottom px-25">
    <div class="width-limiter">
      <div class="row no-gutters justify-content-end">
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer" id="mega-nav-toggle">
          <span>Courses</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Events</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Blogs</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Campus Superheroes</span>
        </div>
        <div class="row no-gutters align-items-center font-4 text-grey pointer">
          <span>Contact</span>
        </div>
      </div>
    </div>
  </div>

  {{!-- Meganav --}}
  <div class="py-50 border-bottom px-25 d-none bg-white" id="mega-nav">
    <div class="width-limiter">
      <div class="row">
        <div class="col-3">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/online-courses.svg" style="height: 40px;">
          <div class="font-3 bold mt-15 text-grey-light-1">ONLINE COURSES</div>
          <div class="mt-35 mb-15">
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer mr-20" href="#">
                C++ Master Course
              </a>
              <div class="bg-gradient-yellow white font-1 p-1 d-inline-block" style="border-radius: 2px;">
                NEW
              </div>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                JAVA Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Python for Developers
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Web Dev with Python - Django
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Data Science
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Competitive Programming
              </a>
            </div>
          </div>
          <button class="button-tertiary mt-15">
            Explore All
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
          </button>
        </div>
        <div class="col-3">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/classroom-courses.svg" style="height: 40px;">
          <div class="font-3 bold mt-15 text-grey-light-1">CLASSROOM COURSES</div>
          <div class="mt-35 mb-15">
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                C++ Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                JAVA Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Python for Developers
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Web Dev with Python - Django
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer mr-20" href="#">
                Data Science
              </a>
              <div class="bg-gradient-yellow white font-1 p-1 d-inline-block" style="border-radius: 2px;">
                NEW
              </div>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Competitive Programming
              </a>
            </div>
          </div>
          <button class="button-tertiary mt-15">
            Explore All
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
          </button>
        </div>
        <div class="col-3">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live-courses.svg" style="height: 40px;">
          <div class="font-3 bold mt-15 text-grey-light-1">LIVE COURSES</div>
          <div class="mt-35 mb-15">
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                C++ Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                JAVA Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Python for Developers
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Web Dev with Python - Django
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Data Science
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Competitive Programming
              </a>
            </div>
          </div>
          <button class="button-tertiary mt-15">
            Explore All
            <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
          </button>
        </div>
        <div class="col-3">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/live-courses.svg" style="height: 40px;">
          <div class="row no-gutters align-items-center mt-15">
            <div class="font-3 bold text-grey-light-1 mr-20">INDUSTRIAL TRAINING</div>
            <div class="bg-gradient-yellow white font-1 p-1 d-inline-block" style="border-radius: 2px;">
              NEW
            </div>
          </div>
          <div class="mt-35 mb-15">
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                C++ Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                JAVA Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-4 bold pointer" href="#">
                Python for Developers
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>