<div class="a-cbm" style="margin-top: -70px;">
  <div class="super-navbar border-bottom">
    <div class="hamburger-nav hamburger-nav--hidden b-right">
      <div class="d-flex py-3 justify-content-between align-items-center">
        <img src="\images\hb_logo_monochrome_full_dg.png" alt="HB" class="hamburger-nav__ham-logo ml-4">
        <img src="\images\wrong_g.png" alt="#" class="mr-4 hamburger-nav__cross pointer">
      </div>
      <div class="divider-h"></div>
      <div class="d-flex align-items-center my-4 justify-content-center">
        <div>
          <div class="img-ring s-80x80">
            <img class="round img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmL43mSCo0MAu3fCgV8t6QRsNzyiatE_Har4TjE8M6NZ-i0tKDzA"
              alt="">
          </div>
        </div>
        <div class="pl-4">
          <div class="extra-bold gradient-text">Siddharth Jain</div>
          <div class="bold card-sm"><a href="#" class="orange">View Profile</a></div>
        </div>
      </div>
      <div class="mt-5 px-4 overflow-y-auto no-scrollbar">
        <div class="d-flex justify-content-between">
          <div class="card-md extra-bold orange">Courses</div>
          <a href="#" class="orange"><i class="fas fa-angle-up fa-lg"></i></a>
        </div>
        <div class="my-4 pl-4">
          <div class="hamburger-nav__menu-element active">
            <div class="card-md extra-bold">Classroom Courses</div>
            <div class="card-sm light"><a href="#" class="orange">Explore All</a></div>
          </div>
          <div class="pl-4">
            <div class="mt-4">
              <div class="card-sm light extra-bold">Beginner Courses</div>
              <div class="card-sm light">C++ For Beginners</div>
              <div class="card-sm light">JAVA For Beginners</div>
              <div class="card-sm light">Python App Development</div>
            </div>
            <div class="mt-3">
              <div class="card-sm light extra-bold">Development Courses</div>
              <div class="card-sm light">Android App Dev</div>
              <div class="card-sm light">Python Django</div>
              <div class="card-sm light">Unity Game Development</div>
              <div class="card-sm light">Full Stack Web Dev</div>
            </div>
            <div class="mt-3">
              <div class="card-sm light extra-bold">Advanced Courses</div>
              <div class="card-sm light">Algo++</div>
              <div class="card-sm light">Algo.JAVA</div>
              <div class="card-sm light">Competitive Programming</div>
              <div class="card-sm light">Machine Learning</div>
            </div>
          </div>
        </div>
        <div class="my-4 pl-4">
          <div class="hamburger-nav__menu-element">
            <div class="card-md extra-bold">Online Courses</div>
            <div class="card-sm light"><a href="#" class="orange">Explore All</a></div>
          </div>
        </div>
        <div class="card-md light mt-5 mb-4">Products</div>
        <div class="card-md light my-4">Resources</div>
        <div class="card-md light my-4">Campus Ambassadors</div>
        <div class="card-md light my-4">About Us</div>
        <div class="card-md light my-4">Contact Us</div>
      </div>
    </div>
    <div class="h-100 width-limiter">
      <div class="row no-gutters align-items-center justify-content-between h-100">
        <div class="row no-gutters align-items-center">
          <div class="hamburger-menu mr-15 d-md-none d-block">
            <div class="ham-toggle">
              <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-logo.svg">
        </div>
        <div class="flex-1 h-100">
          <div class="row no-gutters align-items-center justify-content-end h-100">
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-learn.svg">
                <div class="font-3 mt-10 d-md-block d-none">Learn</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-practice.svg">
                <div class="font-3 mt-10 d-md-block d-none">Practice</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-hire.svg">
                <div class="font-3 mt-10 d-md-block d-none">Get<br />Hired</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
                <div class="font-3 mt-10 d-md-block d-none">IDE</div>
              </div>
            </div>
            <div class="super-navbar__link">
              <div>
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/navbar-ide.svg">
                <div class="font-3 mt-10 d-md-block d-none">Blog</div>
              </div>
            </div>
            <button class="button-primary ml-20 d-md-block d-none">Login / Signup</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{!-- Subnav --}}
  <div class="py-15 border-bottom px-25">
    <div class="width-limiter">
      <div class="row no-gutters justify-content-end">
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Courses</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Events</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Blogs</span>
          <img src="https://minio.cb.lk/public/fa-5.13/svgs/solid/chevron-down.svg" class="ml-10" style="height: 15px;">
        </div>
        <div class="row no-gutters align-items-center mr-30 font-4 text-grey pointer">
          <span>Campus Superheroes</span>
        </div>
        <div class="row no-gutters align-items-center font-4 text-grey pointer">
          <span>Contact</span>
        </div>
      </div>
    </div>
  </div>

  {{!-- Meganav --}}
  <div class="py-50 border-bottom px-25">
    <div class="width-limiter">
      <div class="row">
        <div class="col-4">
          <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/online-courses.svg" style="height: 40px;">
          <div class="font-3 bold mt-15 text-grey-light-1">ONLINE COURSES</div>
          <div class="mt-35 mb-15">
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-5 bold pointer" href="#">
                C++ Master Course
              </a>
              <div class="bg-gradient-yellow white font-1 p-1 d-inline-block ml-20" style="border-radius: 2px;">
                NEW
              </div>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-5 bold pointer" href="#">
                JAVA Master Course
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-5 bold pointer" href="#">
                Python for Developers
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-5 bold pointer" href="#">
                Web Dev with Python - Django
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-5 bold pointer" href="#">
                Data Science
              </a>
            </div>
            <div class="mb-20 row no-gutters align-items-center">
              <a class="font-5 bold pointer" href="#">
                Competitive Programming
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>