<div class="a-cbm">
  <div class="pl-4">
    <div class="border-left">
      <div class="pl-lg-5 pl-md-4 pl-sm-5 pl-4 pr-xl-4 pt-5 position-relative">
        <div class="track-indicator complete">•</div>
        <div>COURSE 1</div>
        <div class="row align-items-center mt-xl-5 mt-4">
          <div class="col-xl-6 col-12 mb-xl-0 mb-4">
            <div class="row no-gutters align-items-center">
              <div>
                <img src="https://minio.codingblocks.com/amoeba/1258c47b-f95d-4a71-a2ce-b87ced5e5ae2.png"
                  alt="COURSE Logo" class="s-60x60 br-50">
              </div>
              <div class="flex-1 pl-3">
                <h5 class="bold">C++ Fundamentals</h5>
                <div class="font-normal mt-2">Mentor:
                  Prateek Narang ,
                  Kartik Mathur </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="mb-2">
              <span id="ember294" class="ember-view">
                <!--showValue: {type: bool, description: to show total number of reviews}-->
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_unfilled.svg" class="mr-1">
              </span>
            </div>
            <div class="normal"><strong>4.71/5.0</strong>, 371 Ratings</div>
          </div>
          <div class="col-xl-3 col-sm-6 mt-sm-0 mt-2">
            <div class="row no-gutters justify-content-end align-items-center">
              <a href="/courses/c-plus-plus-basics" target="_blank" class="button-tertiary">
                Explore
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-h content-divider mt-5 pl-lg-5 pl-md-4 pl-sm-5 pl-4"></div>

      <div class="pl-lg-5 pl-md-4 pl-sm-5 pl-4 pr-xl-4 pt-5 position-relative">
        <div class="track-indicator complete">•</div>
        <div>COURSE 2</div>
        <div class="row align-items-center mt-xl-5 mt-4">
          <div class="col-xl-6 col-12 mb-xl-0 mb-4">
            <div class="row no-gutters align-items-center">
              <div>
                <img src="https://minio.codingblocks.com/amoeba/2a7d7b2f-5c23-4d84-9b86-cfa78b1ab722.svg"
                  alt="COURSE Logo" class="s-60x60 br-50">
              </div>
              <div class="flex-1 pl-3">
                <h5 class="bold">Algo++ Data Structures &amp; Algorithms</h5>
                <div class="font-normal mt-2">Mentor:
                  Prateek Narang </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="mb-2">
              <span id="ember303" class="ember-view">
                <!--showValue: {type: bool, description: to show total number of reviews}-->
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_unfilled.svg" class="mr-1">
              </span>
            </div>
            <div class="normal"><strong>4.57/5.0</strong>, 714 Ratings</div>
          </div>
          <div class="col-xl-3 col-sm-6 mt-sm-0 mt-2">
            <div class="row no-gutters justify-content-end align-items-center">
              <a href="/courses/data-structures-and-algorithms-online-course" target="_blank" class="button-tertiary">
                Explore
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-h content-divider mt-5 pl-lg-5 pl-md-4 pl-sm-5 pl-4"></div>

      <div class="pl-lg-5 pl-md-4 pl-sm-5 pl-4 pr-xl-4 pt-5 position-relative">
        <div class="track-indicator complete">•</div>
        <div>COURSE 3</div>
        <div class="row align-items-center mt-xl-5 mt-4">
          <div class="col-xl-6 col-12 mb-xl-0 mb-4">
            <div class="row no-gutters align-items-center">
              <div>
                <img src="https://minio.codingblocks.com/amoeba/55976b77-824a-4300-bc5e-1e8e08a1b72b.png"
                  alt="COURSE Logo" class="s-60x60 br-50">
              </div>
              <div class="flex-1 pl-3">
                <h5 class="bold">Dynamic Programming - Must Do Problem Set!</h5>
                <div class="font-normal mt-2">Mentor:
                  Kartik Arora </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="mb-2">
              <span id="ember313" class="ember-view">
                <!--showValue: {type: bool, description: to show total number of reviews}-->
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_unfilled.svg" class="mr-1">
              </span>
            </div>
            <div class="normal"><strong>4.72/5.0</strong>, 53 Ratings</div>
          </div>
          <div class="col-xl-3 col-sm-6 mt-sm-0 mt-2">
            <div class="row no-gutters justify-content-end align-items-center">
              <a href="/courses/dynamic-programming-courses-problems-tutorials" target="_blank" class="button-tertiary">
                Explore
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </a>
            </div>
          </div>
        </div>
        <!---->
      </div>
      <div class="divider-h content-divider mt-5 pl-lg-5 pl-md-4 pl-sm-5 pl-4"></div>

      <div class="pl-lg-5 pl-md-4 pl-sm-5 pl-4 pr-xl-4 pt-5 position-relative">
        <div class="track-indicator complete">•</div>
        <div>COURSE 4</div>
        <div class="row align-items-center mt-xl-5 mt-4">
          <div class="col-xl-6 col-12 mb-xl-0 mb-4">
            <div class="row no-gutters align-items-center">
              <div>
                <img src="https://minio.codingblocks.com/amoeba/0d3af8b9-4842-44fc-841c-ee54b1ec092e.png"
                  alt="COURSE Logo" class="s-60x60 br-50">
              </div>
              <div class="flex-1 pl-3">
                <h5 class="bold">Data Structures in Real Life Projects</h5>
                <div class="font-normal mt-2">Mentor:
                  Prateek Narang ,
                  Aarnav Jindal </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6">
            <div class="mb-2">
              <span id="ember337" class="ember-view">
                <!--showValue: {type: bool, description: to show total number of reviews}-->
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_filled.svg" class="mr-1">
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/star_unfilled.svg" class="mr-1">
              </span>
            </div>
            <div class="normal"><strong>4.57/5.0</strong>, 114 Ratings</div>
          </div>
          <div class="col-xl-3 col-sm-6 mt-sm-0 mt-2">
            <div class="row no-gutters justify-content-end align-items-center">
              <a href="/courses/data-structures-projects-using-javascript" target="_blank" class="button-tertiary">
                Explore
                <img src="https://cb-thumbnails.s3.ap-south-1.amazonaws.com/button-icon-orange.svg" class="ml-2">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-h content-divider mt-5 pl-lg-5 pl-md-4 pl-sm-5 pl-4"></div>

      <div class="px-5 pt-5 position-relative">
        <div class="track-indicator">•</div>
        <div class="row no-gutters align-items-center mb-5">
          <div class="col-md-2 t-align-md-l t-align-c">
            <img src="https://minio.codingblocks.com/amoeba/badge-orange.svg">
          </div>
          <div class="col-md-10 t-align-md-l t-align-c">
            <div class="gradient-text-orange font-md">
              Certified in C++ Data Structures &amp; Algorithms
            </div>
            <div>
              At the end of the track, you will be job ready and can start applying for jobs!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>