.hover-pink {
  &:hover {
    font-weight: $bold;
  }

  &.active {
    font-weight: $bold;
    color: $salmon;
  }
}

input.underline-input {
  border-bottom: solid 1px $hover-grey !important;
  padding-bottom: 1.5rem;

  &:focus {
    border-bottom: solid 1px $black !important;
  }
}