.c-login-signup{
  @include dimensions(100%, calc(100vh - 70px));  
  background-size: 1250px;
}

.c-login{
  @include dimensions(80%, auto);
  @include padding-mixin(40px, 70px, 15pxpx, 70px);
  margin: 30px auto;
  max-width: 828px;
}

